h1{
    color: #000000;
}

.inline{
    float:left;
}

.topic_name{
    margin-left:20px;
    font-size:18px;
    font-style: normal;
    font-family: "Times New Roman", "Times", "serif";
    color:black;
}


.question_count{
    margin-left:20px;
    font-size:14px;
    font-style: normal;
    font-family: "Times New Roman", "Times", "serif";
    color:black;
}

.topic_list_image{

    margin_left:40px;
    margin_right:10px;
    margin_top:2px;
    margin_bottom:2px;

}