{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:7</h2>
<hr>
<p>
    The smallest number to be added to 1000 so that 45 divides the sum exactly, is:


</p>


<div class="div2">
    A.&nbsp;&nbsp;35


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;80

</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;20


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;10


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

On dividing 1000 by 45, the remainder is 10.<br>

Required number = 45-10 = 35.
</div>
</body>
</html>
