<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:5</h2>
<hr>
<p>
    Which among the following is the largest four digit number that is divisible by 88?


</p>


<div>
    A.&nbsp;&nbsp;9988


</div>
<br>
<div>
    B.&nbsp;&nbsp;9966

</div>
<br>
<div>
    C.&nbsp;&nbsp;9944


</div>
<br>

<div>
    D.&nbsp;&nbsp;8888


</div>


<h2><u>Answer</u>: c</h2>

9944: last three digits i.e. 944 is 56 less than 1000 is divisible by 8 <br><br>


9944 is divisible by 11 as (9+4)-(9+4)=0
</body>
</html>
