<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:7</h2>
<hr>
<p>
    The smallest number to be added to 1000 so that 45 divides the sum exactly, is:


</p>


<div>
    A.&nbsp;&nbsp;35


</div>
<br>
<div>
    B.&nbsp;&nbsp;80

</div>
<br>
<div>
    C.&nbsp;&nbsp;20


</div>
<br>

<div>
    D.&nbsp;&nbsp;10


</div>


<h2><u>Answer</u>:a </h2>

On dividing 1000 by 45, the remainder is 10.<br>

Required number = 45-10 = 35.
</body>
</html>
