{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:10</h2>
<hr>
<p>
    The least number, which must be added to 6709 to make it exactly divisible by 9, is


</p>


<div class="div2">
    A.&nbsp;&nbsp;5


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;4

</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;7


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;2


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Sum of digits = 6+7+0+9 = 4 (ignoring 9s)<br><br>

Required number 9-4 = 5.
</div>
</body>
</html>
