<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:1</h2>
<hr>
<p>
    1. Consider the following statements<br>
    A number a <sub>1</sub> a<sub>2</sub> a <sub>3</sub> a <sub>4</sub>a<sub>5</sub> is divisible by 9 if: <br>
    1. a<sub>1</sub>+a<sub>2</sub>+a<sub>3</sub>+a<sub>4</sub>+a<sub>5</sub>
    is divisible by 9.<br>
    2. a<sub>1</sub>-a<sub>2</sub>+a<sub>3</sub>-a<sub>4</sub>+a<sub>5</sub>
    is divisible by 9.<br>
    Which of the above statements is/are correct?

</p>


<div>
    A.&nbsp;&nbsp;1 only


</div>
<br>
<div>
    B.&nbsp;&nbsp;2 only

</div>
<br>
<div>
    C.&nbsp;&nbsp;Both 1 and two


</div>
<br>

<div>
    D.&nbsp;&nbsp;Neither 1 nor 2


</div>


<h2><u>Answer</u>:a </h2>
A number is divisible by 9 if and only if sum of its digits is divisible by 9.

</body>
</html>
