{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:14</h2>
<hr>
<p>
	What value must be given to X to make 5X8428 exactly divisible by 11?


</p>


<div class="div2">
	A.&nbsp;&nbsp;0
	
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;2
	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;3
	
	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;8
	

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Sum of digits at odd places (from left side ) = 5+8+2 =15<br><br>

Sum of digits at even places (from the left side ) = X+4+8+=12+X<br><br>

Difference between the two sum is 0 when 12+X=15<br><br>

X=3.
</div>
</body>
</html>
