<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:15</h2>
<hr>
<p>
    What value must be given to X to make 8597X65 exactly divisible by 11?


</p>


<div>
    A.&nbsp;&nbsp;0


</div>
<br>
<div>
    B.&nbsp;&nbsp;2

</div>
<br>
<div>
    C.&nbsp;&nbsp;4


</div>
<br>

<div>
    D.&nbsp;&nbsp;7


</div>


<h2><u>Answer</u>:d </h2>
Sum of the digits at odd places (from left side) = 8+9+X+5=22+X<br><br>

Sum of digits at even places (from left side ) = 5+7+6=18<br><br>

Difference between the two sums = (22+X) - 18 = 4+X<br><br>

We know that any number is divisible by 11, if the difference is 0 or a multiple of 11<br><br>

The difference between 22+X and 18 will be 11 when X=7

</body>
</html>
