<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:3</h2>
<hr>
<p>
    Which of the following number is NOT divisible by 18:


</p>


<div>
    A.&nbsp;&nbsp;54036


</div>
<br>
<div>
    B.&nbsp;&nbsp;50436

</div>
<br>
<div>
    C.&nbsp;&nbsp;34056


</div>
<br>

<div>
    D.&nbsp;&nbsp;65043


</div>


<h2><u>Answer</u>: d</h2>

A number is exactly divisible by 18 if it is divisible by 2 and 9 both <br><br>

65043 is an odd number and hence not divisible by 2.

</body>
</html>
