{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:2</h2>
<hr>
<p>
    If 72X72 is divisible by 9, the missing &OpenCurlyDoubleQuote;X&CloseCurlyDoubleQuote; digit will be:


</p>


<div class="div2">
    A.&nbsp;&nbsp;0 or 9


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;3 or 6

</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;2 or 4


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;5 or 8


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Sum of given digits = 9.
</div>
</body>
</html>
