{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:9</h2>
<hr>
<p>

</p>
An even number, sum of whose digits is 36, is always divisible by:


<div class="div2">
    A.&nbsp;&nbsp;9


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;18

</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;32


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;76


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

An even number is always divisible by 2 <br><br>

Further any number sum of whose digits is 36 is always divisible by 9.<br><br>

The number is always divisible by both 2 and 9 <br><br>

The number is divisible by 2 &times; 9 = 18 .

</div>
</body>
</html>
