<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:14</h2>
<hr>
<p>
	What value must be given to X to make 5X8428 exactly divisible by 11?


</p>


<div>
	A.&nbsp;&nbsp;0
	
	
</div>
<br>
<div>
	B.&nbsp;&nbsp;2
	
</div>
<br>
<div>
	C.&nbsp;&nbsp;3
	
	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;8
	

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

Sum of digits at odd places (from left side ) = 5+8+2 =15<br><br>

Sum of digits at even places (from the left side ) = X+4+8+=12+X<br><br>

Difference between the two sum is 0 when 12+X=15<br><br>

X=3.
</body>
</html>
