{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:18</h2>
<hr>
<p>
    What should be added to 15762 to make it divisible by 18?


</p>


<div class="div2">
    A.&nbsp;&nbsp;4


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;6

</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;9


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;12


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

A number is divisible by 18, if its units digit is divisible by 2 and 9 both <br><br>

a number is divisible by 2, if its units digit is an even number <br><br>

The number to be added must be an even number so that sum of two numbers is even number <br><br>

A number is divisible by 9, if sum of its digits is divisible by 9 <br><br>

sum of digits of 15762 is 3 <br><br>

3+6 = 9 i.e. sum of digits is divisible by 9 <br><br>

6 is the required number.


</div>
</body>
</html>
