{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:13</h2>
<hr>
<p>
    If Y is a digit such that 5824Y is divisible by 11, then Y equals


</p>


<div class="div2">
    A.&nbsp;&nbsp;5


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;4

</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;7


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;2


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Sum of digits at odd places (from the left side) = 5+2+Y= 7+Y<br><br>

Sum of the digits at even places (from the left side) = 8+4= 12 <br><br>

7+Y=12<br><br>

Y= 5.

</div>
</body>
</html>
