{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:4</h2>
<hr>
<p>
    Which of the following numbers is exactly divisible by 45?


</p>


<div class="div2">
    A.&nbsp;&nbsp;2283


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;3920

</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;4275


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;5184


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

A number divisible by 45 if it is divisible by both 5 and 9 <br><br>

4275: sum of digits = 4+2+7+5 = 0(ignoring both 9s) <br><br>

4275 is divisible by 9.
</div>
</body>
</html>
