{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:20</h2>
<hr>
<p>
	By which least number 325 must be multiplied to get a multiple of 35?


</p>


<div class="div2">
	A.&nbsp;&nbsp;3
	
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;5
	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;7
	
	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;11
	

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
35 = 5&times; 7 <br><br>

any multiple of 35 must be divisible by 5 and 7 <br><br>

325 = 5 &times; 5 &times; 13 , 325 is divisible 5, but not by 7<br><br>

325 must be multiplied by 7 to make it a multiple of 35.


</div>
</body>
</html>
