{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:19</h2>
<hr>
<p>
    What should be subtracted from 331683 to make it divisible by 36?


</p>


<div class="div2">
    A.&nbsp;&nbsp;6


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;11

</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;15


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;24


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

A number is divisible by 36, if it is divisible by 4 and 9 both <br><br>

A number is divisible by 4, if its last two digits are divisible by 4 <br><br>

in 331683, last two digits are 83, which is an odd number<br><br>

the number to be deducted from 331683 must be odd number <br><br>

6 and 24 are not possible<br><br>

11: 83-11=72 is divisible by 4 (possible) <br><br>

15: 83-15= 68 is divisible by 4 (possible) <br><br>

now we check divisibility rule for 9: <br><br>

sum of digits of 331683 is 6.<br><br>

sum of digits of the number deducted must be 6 so that the result is divisible by 9<br><br>

11: sum of digits is 1+1=2 (not possible)<br><br>

15: sum of digits is 1+5 = 6 (possible)<br><br>

15 is the required number.


</div>
</body>
</html>
