<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:6</h2>
<hr>
<p>
    Which is the followings numbers is exactly divisible by 99?


</p>


<div>
    A.&nbsp;&nbsp;114543


</div>
<br>
<div>
    B.&nbsp;&nbsp;1592307

</div>
<br>
<div>
    C.&nbsp;&nbsp;111437


</div>
<br>

<div>
    D.&nbsp;&nbsp;931741


</div>


<h2><u>Answer</u>: a</h2>

A number is divisible by 99 if it is divisible by 9 and 11 <br><br>

114543 is the only number which is divisible by both 9 and 11.
</body>
</html>
