{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:8</h2>
<hr>
<p>
    Find the greatest four-digit number which is exactly divisible by 5,6,8, and 9.
</p>
<br>


<div class="div2">
    A.&nbsp;&nbsp;8640


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;9999

</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;9800


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;9720


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

8640 and 9720 both are divisible by 5,6,8 and 9, but 9720 being the greater number, is the answer.


</div>
</body>
</html>
