{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:16</h2>
<hr>
<p>
    A three digit number 4a3 is added to another three digit number 984 to give the four digit number 13b7 which is
    divisible by 11. Then the value of (a+b) is :

</p>


<div class="div2">
    A.&nbsp;&nbsp;11


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;12

</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;9


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;10


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Sum of digits at odd places (from left side )= 1+b<br><br>

Sum of digits at even places (from left side) = 3+7=10 <br><br>

Difference between the two sums = (1+b)-10=b-9<br><br>

We know that any number is divisible by 11, if the difference is 0 or a multiple of 11 <br><br>

a+8 = b=9<br><br>

b&minus;9=0 when b = 9 <br><br>

a = 9-8 =1 <br><br>

a+b = 9+1 = 10.
</div>
</body>
</html>
