{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>

<body>

<h2><u> Question  9</u>:</h2>
<hr>

<p>

    The LCM of two numbers is 48. The numbers are in the ratio 2:3 then the sum of numbers is?

</p>


<div class="div2">
    A.20
</div>
<br>
<div class="div2">
    B.40
</div>
<br>
<div class="div2">
    C.60
</div>
<br>

<div class="div2">
    D.32
</div>



<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<p>

    Given LCM of two numbers = 48 <br><br>

    48 can be written as powers of prime numbers as follows <br><br>

    <!-- ToDo: add diagram here.-->

    <img src="LCM_15.png"/><br>

    48 = 2 <sup>4</sup> &times; 3 <br><br>

    So the numbers should contains powers of 2 and 3 <br><br>

    Given the ratio between numbers is 2:3 <br><br>

    <sup>x</sup> &frasl; <sub>y</sub> = <sup>2</sup> &frasl; <sub>3</sub><br><br>

    Let us write x and y in terms of powers of prime numbers 2 and 3 as below <br><br>

    x = 2<sup>m</sup> &times; 3 <sup>n</sup> <br><br>

    y = 2<sup>k</sup> &times; 3 <sup>l</sup> <br><br>

    then the ratio = 2:3 <br><br>

    <sup>x</sup> &frasl; <sub>y</sub> = <sup>2</sup> &frasl; <sub>3</sub><br><br> then

    <sup>2<sup>m</sup> &times; 3<sup>n</sup></sup> &frasl; <sub>2<sup>k</sup>&times;3<sup>l</sup></sub> =
    <sup>2</sup> &frasl; <sub>3</sub><br><br>


    = <sup>2</sup> &frasl; <sub>3</sub><br><br>

    <sup>2 <sup>m &minus; n</sup> &times; 3 <sup>n</sup></sup> &frasl;
    <sub>3<sup>l</sup></sub> = <sup>2</sup> &frasl; <sub>3</sub> then <br><br>

    <sup>2<sup>m &minus;k</sup></sup> &frasl; <sub>m <sup>l &minus;n </sup></sub> =
    <sup>2<sup>1</sup></sup> &frasl; <sub>3<sup>1</sup></sub> then <br><br>

    comparing on both sides <br><br>

    m &minus; k = 1 <br><br>

    m = k+1 (m>k) <br><br>

    l &minus; n = 1 <br><br>

    l = n +1 (l > n ) <br><br>


    We know that LCM is the product of highest powers of prime numbers in the given numbers <br><br>

    LCM contains 4<sup>th</sup> order of 2 and 1st order of 3 <br><br>

    maximum possible value for 2 can be of <br><br>

    m = 4 (m > k)<br><br>

    parallel l = 1 (l > n) <br><br>

    when m = 4, k = m &minus; 1 = 4 &minus; 1 = 3<br><br>

    when l = 1, n = l-1 = 1 &minus; 1 = 0 <br><br>

    Numbers are x = 2 <sup>m</sup> &times; 3 <sup>n</sup> = 2 <sup>4</sup> &times; 3<sup>0</sup> <br><br>


    = 16 <br><br>

    y = 2 <sup>k</sup> &times; 3 <sup>l</sup> = 2 <sup>3</sup> &times; 3<sup>1</sup> <br><br>

    = 24 <br><br>

    sum = x+y = 16+24 = 40.<br><br>

</p>

</div>
</body>
</html>
