{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>

<body>

<h2><u> Question 12 </u>:</h2>
<hr>
<p>

    The greatest number that will divide 1356, 1868, 2764 and leaving the same remainder 12 in each case is?

</p>


<div class="div2">
    A.56
</div>
<br>
<div class="div2">
    B.128
</div>
<br>
<div class="div2">
    C.64
</div>
<br>

<div class="div2">
    D.96
</div>



<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<p>

    Given that the numbers leaves remainder 12 when we remove 12 from each number, the numbers will divide with HCF (greatest no) exactly so the numbers after removing
    12 are 1344, 1856, 2752 <br><br>

    HCF of 1856 and 2752<br>

    <img src="Division_10.png"/><br>

    HCF of 1856 and 2752 = 64<br>

    HCF of 64,1344 is <br>

    <img src="Division_11.png"/><br>

    HCF of 64,144 = 64 <br><br>

    so Total HCF = 64.

</p>

</div>
</body>
</html>
