<html>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<body>
<h2><u> Question 2 </u>:</h2>
<hr>
<p>

    The HCF and LCM of 2 numbers is 11 and 693 respectively. If one of the number is 77 then the other number is.

</p>


<div>
    A.77
</div>
<br>
<div>
    B.99
</div>
<br>
<div>
    C.66
</div>
<br>

<div>
    D.33
</div>



<h2> <u>Answer</u>:B </h2>

<p>

    We know that LCM &times; HCF = Product of the two numbers <br><br>

    Let the other number be x then <br><br>

    11 &times; 693 = 77 &times; x <br><br>

    x = <sup>11 &times; 693</sup> &frasl; <sub>77</sub> <br><br>

    x = 99. <br><br>


</p>

</body>
</html>
