{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>

<body>

<h2><u> Question 15 </u>:</h2>
<hr>
<p>

    GCD of (3n+18) and (2n+12) is?

</p>


<div class="div2">
    A.3n+18
</div>
<br>
<div class="div2">
    B.2n+12
</div>
<br>
<div class="div2">
    C.n+6
</div>
<br>

<div class="div2">
    D.6
</div>



<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<p>
    GCD stands for Greatest Common Divisor and it is same as HCF.<br><br>

    3n+18 , 2n+12 <br><br>

    3(n+6), 2(n+6) <br><br>

    3<sup>1</sup> &times; (n+6)<sup>1</sup>, 2<sup>1</sup> &times; (n+6)<sup>1</sup><br><br>

    GCD = product of Least power of prime numbers <br><br>

    <img src="Division_12.png"/><br>

    GCD = (n+6)<sup>1</sup>.<br><br>

</p>

</div>
</body>
</html>
