<html>

<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>

<body>

<h2><u> Question 16 </u>:</h2>
<hr>
<p>

    The least number having 5 digits which is divisible by 15,25,40 and 75 is?

</p>


<div>
    A.10080
</div>
<br>
<div>
    B.10400
</div>
<br>
<div>
    C.10200
</div>
<br>

<div>
    D.10360
</div>



<h2> <u>Answer</u>:C </h2>

<p>

    Let us find the LCM of given numbers<br>


    <img src="/static/images/LCM_17.png"/><br>

    LCM = 2 <sup>3</sup> &times; 3 &times; 5<sup>2</sup><br><br>

    = 8&times;3&times;25<br><br>

    =600.<br><br>

    Given least 5 digit numbers = 10000 <br><br>

    Divide 10,000 with LCM <br><br>

    <img src="/static/images/Division_13.png"/><br>

    remainder = 400<br><br>

    When 10,000 divided by 600 gives remainder 400, means number is exceeded from exact divisible number<br><br>

    i.e. 10,000 &minus; 400 = 9600 <br><br>

    But we want 5 digit no, so add 600 to 9600 <br><br>

    9600+600 = 10200.<br><br>

</p>

</body>
</html>
