<html>

<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>

<body>

<h2><u> Question 1 </u>:</h2>
<hr>
<p>

    LCM of 0.63,1.05 and 2.1?</p>


<div>
    A.210
</div>
<br>
<div>
    B.2.1
</div>
<br>
<div>
    C.6.3
</div>
<br>

<div>
    D.630
</div>



<h2> <u>Answer</u>:C </h2>

<p>

    If you find any decimal number make it into whole number by multiplying number with 10. <br><br>

    <u>Note:</u> Not only to one number multiply with each number with 10. <br><br>


    0.36 &times; 10 = 6.3 <br><br>
    1.05 &times; 10 = 10.5 <br><br>
    2.1 &times; 10 = 21 <br><br>

    6.3 &times; 10 = 63 <br><br>
    1.05 &times; 10 = 105 <br><br>
    21 &times; 10 = 210 <br><br>

    Now find the LCM of new numbers <br><br>

    <img src="/static/images/LCM_13.png"/><br>

    LCM of 63, 105, 210 = 3 &times; 5 &times; 7 &times; 2 &times; 3 <br><br>
    = 2 &times; 3 <sup>2</sup> &times; 5 &times; 7; <br><br>
    =630 <br><br>

    630 is the LCM of 63,105,210 <br><br>

    but we want LCM of 0.63,1.05 and 2.1<br><br>

    So how many times you multiply decimal number before calculating LCM, that many number of times you need to divide the resultant LCM <br><br>

    = <sup>630</sup>&frasl;10 &times; 10 = 6.3.<br><br>

</p>

</body>
</html>
