<html>

<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>

<body>

<h2><u> Question 13 </u>:</h2>
<hr>
<p>

    The LCM of 5,8,12,20 will not be multiple of ?


</p>


<div>
    A.3
</div>
<br>
<div>
    B.8
</div>
<br>
<div>
    C.5
</div>
<br>

<div>
    D.9
</div>



<h2> <u>Answer</u>: D</h2>

<p>

    LCM of 5,8,12,20 <br><br>

    = 2 &times; 3 &times; 2 &times; 2 &times; 5 <br><br>

    <img src="/static/images/LCM_16.png"/><br>

    So among the options, 9 is not present in LCM.<br><br>

</p>

</body>
</html>
