<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 3 </u>:</h2>
<hr>
<p>

    LCM and HCF of 2 <sup>3</sup> &times; 3<sup>2</sup> &times;  7<sup>1</sup>,


    2<sup>2</sup> &times; 3<sup>1</sup> &times;  7,

    2<sup>1</sup> &times; 3<sup>2</sup> &times;  7,

    2<sup>3</sup> &times; 11? <br><br>



</p>


<div>
    A.2<sup>3</sup> &times; 3<sup>2</sup> &times; 11 , 2<sup>3</sup> &times; 3.
</div>
<br>
<div>
    B.2<sup>3</sup> &times; 3<sup>2</sup> &times; 7, 2<sup>2</sup> &times; 3.
</div>
<br>
<div>
    C. 2<sup>3</sup> &times; 3<sup>2</sup> &times; 7 &times; 11, 2<sup>2</sup> &times; 3.
</div>
<br>

<div>
    D.  2<sup>2</sup> &times; 3<sup>2</sup> &times; 7 &times; 11, 2<sup>3</sup> &times; 3 &times; 7 &times; 11.
</div>



<h2> <u>Answer</u>: C</h2>

<p>

    We know that LCM = product of highest powers of prime numbers <br><br>

    LCM of = 2 <sup>3</sup> &times; 3<sup>2</sup> &times;  7<sup>1</sup> &times; 11 <br><br>

    HCF = product of lowest powers of prime numbers <br><br>

    HCF = 2 <sup>2</sup> &times; 3 &times;  7 <sup>0</sup>&times; 11 <sup>0</sup><br><br>

    HCF = 2 <sup>2</sup> &times; 3<br><br>
</p>

</body>
</html>
