{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>

<body>

<h2><u> Question 17 </u>:</h2>
<hr>
<p>

    The least number which when incremented by 5 is divisible by each one of 24,32,36 and 54 is?

</p>


<div class="div2">
    A.849
</div>
<br>
<div class="div2">
    B.859
</div>
<br>
<div class="div2">
    C.427
</div>
<br>

<div class="div2">
    D.1723
</div>



<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<p>

    Let the number be x<br><br>

    then x+5 is the number which is divisible by 24,32,36 and 54 <br><br>

    Now we need to find LCM of given number and subtract 5 from result then we will get LCM of 24,32,36 and 54 is<br><br>

    <img src="LCM_18.png"/><br>



    LCM  = 2 <sup>5</sup> &times; 3 <sup>3</sup>= 864 <br><br>

    x+5 =864 <br><br>

    x = 864 &minus; 5 <br><br>

    x = 859.<br><br>

</p>

</div>
</body>
</html>
