{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>

<body>

<h2><u> Question 11 </u>:</h2>
<hr>
<p>

    The LCM of two numbers is 45 times HCF. If one of the numbers is 125 and sum of LCM and HCF is 1150, the other number is?

</p>


<div class="div2">
    A.225
</div>
<br>
<div class="div2">
    B.125
</div>
<br>
<div class="div2">
    C.25
</div>
<br>

<div class="div2">
    D.215
</div>



<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<p>

    Given LCM = 45 &times; (HCF) <br><br>

    and LCM + HCF = 1150<br><br>

    45(HCF) + HCF = 1150<br><br>

    46HCF = 1150<br><br>

    HCF = <sup>1150</sup> &frasl; <sub>46</sub> <br><br>

    HCF = 25 <br><br>

    LCM = 45(25) = 1125 <br><br>

    We know LCM &times; HCF = product of two numbers<br><br>

    1125 &times; 25 = 125 &times; x <br><br>

    x = <sup>1125 &times; 25 </sup> &frasl; <sub>125</sub> <br><br>

    x = 225.<br><br>

</p>

</div>
</body>
</html>
