{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>

<body>

<h2><u> Question 13 </u>:</h2>
<hr>
<p>

    The LCM of 5,8,12,20 will not be multiple of ?


</p>


<div class="div2">
    A.3
</div>
<br>
<div class="div2">
    B.8
</div>
<br>
<div class="div2">
    C.5
</div>
<br>

<div class="div2">
    D.9
</div>



<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<p>

    LCM of 5,8,12,20 <br><br>

    = 2 &times; 3 &times; 2 &times; 2 &times; 5 <br><br>

    <img src="LCM_16.png"/><br>

    So among the options, 9 is not present in LCM.<br><br>

</p>

</div>
</body>
</html>
