{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>

<body>

<h2><u> Question 4 </u>:</h2>
<hr>

<p>

    HCF of 2923 and 3239 is?

</p>


<div class="div2">
    A.39
</div>
<br>
<div class="div2">
    B.79
</div>
<br>
<div class="div2">
    C.33
</div>
<br>

<div class="div2">
    D.77
</div>



<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<p>

    <img src="Division_4.png" /><br><br>

    ans = 79.

</p>

</div>
</body>
</html>
