{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>

<body>

<h2><u> Question 8 </u>:</h2>
<hr>
<p>

    Product of two numbers is 4107 and HCF of these numbers is 37 then greater number is?


</p>


<div class="div2">
    A.37
</div>
<br>
<div class="div2">
    B.111
</div>
<br>
<div class="div2">
    C.107
</div>
<br>

<div class="div2">
    D.187
</div>



<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<p>

    Let the numbers be x and y <br><br>

    LMC &times; HCF  = 4107 = x &times; y <br><br>

    4107 = LCM &times; 37 <br><br>

    LCM = <sup>4107</sup> &frasl; <sup>37</sup> <br><br>

    = 111 <br><br>

    LCM = 3 &times; 37 <br><br>

    HCF = 37.<br><br>

    the numbers are x and y should have common multiple of 37 since their HCF is 37 so x = 37a and y = 37 b<br><br>

    xy = 4107 <br><br>

    37a &times; 37b = 4107 <br><br>

    ab = <sup>4107</sup> &frasl; <sub>37 &times; 37</sub> <br><br>

    = <sup>111</sup> &frasl; <sub>37</sub><br><br>

    = 3 <br><br>

    ab = 3 <br><br>

    possibility a = 1 and b = 3 or a = 3 and b = 1<br><br>

    x = 37(1) = 37.    and y = 37(3) = 111 <br><br>

    or

    x = 37(3) = 111    y = 37(1) = 37<br><br>

    Greater number = 111.

</p>

</div>
</body>
</html>
