{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<body>
<h2><u> Question 2 </u>:</h2>
<hr>
<p>

    The HCF and LCM of 2 numbers is 11 and 693 respectively. If one of the number is 77 then the other number is.

</p>


<div class="div2">
    A.77
</div>
<br>
<div class="div2">
    B.99
</div>
<br>
<div class="div2">
    C.66
</div>
<br>

<div class="div2">
    D.33
</div>



<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<p>

    We know that LCM &times; HCF = Product of the two numbers <br><br>

    Let the other number be x then <br><br>

    11 &times; 693 = 77 &times; x <br><br>

    x = <sup>11 &times; 693</sup> &frasl; <sub>77</sub> <br><br>

    x = 99. <br><br>


</p>

</div>
</body>
</html>
