<html>

<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>

<body>

<h2><u> Question 7 </u>:</h2>
<hr>
<p>

    The product of LCM and HCF is 24. Difference between two numbers is 2, then the numbers are?

</p>


<div>
    A.2 and 4
</div>
<br>
<div>
    B.4 and 6
</div>
<br>
<div>
    C.6 and 8
</div>
<br>

<div>
    D.8 and 10
</div>



<h2> <u>Answer</u>: B</h2>

<p>

    LCM &times; HCF = 24 <br><br>

    let two numbers be x and y <br><br>

    LMC &times; HCF = product of x and y <br><br>

    LMC &times; HCF = xy <br><br>

    difference between x and y = 2 <br><br>

    x &minus; y = 2 <br><br>

    We know (x+y)<sup>2</sup> = (x &minus; y) + 4xy <br><br>

    (x+y)<sup>2</sup> = 4+4(24) = 96+4=100 <br><br>

    x+y =10 <br>
    x-y = 2 <br>
    _______ <br>
    2x = 12 <br><br>

    x = 6 <br><br>

    y = x &minus; 2 = 6 &minus; 2 = 4 <br><br>

    x = 6 and y = 4.


</p>

</body>
</html>
