<html>

<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>

<body>

<h2><u> Question 14</u>:</h2>
<hr>
<p>

    LCM of (16 &minus; x<sup>2</sup>) and (x<sup>2</sup>+x &minus; 6) is?

</p>


<div>
    A.(x &minus; 3)(x+3)(4 &minus; x<sup>2</sup>)
</div>
<br>
<div>
    B.(4 &minus; x<sup>2</sup>)(x &minus; 3);
</div>
<br>
<div>
    C.(x &minus; 2)(x+4)
</div>
<br>

<div>
    D.None of these.
</div>


<h2><u>Answer</u>:D </h2>

<p>

    Given numbers (16 &minus; x<sup>2</sup>) =  4<sup>2</sup> &minus; x<sup>2</sup> <br><br>

    = (4 &minus; x)(4 +x)<br><br>

    (x<sup>2</sup> +x &minus; 6) = x<sup>2</sup> +3x &minus; 2x &minus; 6<br><br>

    = x(x+3) &minus; 2(x+3)<br><br>

    = (x &minus; 2)(x+3)<br><br>

    (4 &minus; x)<sup>1</sup> (4+x)<sup>1</sup>, (x &minus; 2)<sup>1</sup> (x+3)<sup>1</sup><br><br>

    Since we don't know the value of x, So each term is taken as a different prime number <br><br>

    So LCM = product of highest powers of prime nos <br><br>

    LCM = (4 &minus; x)<sup>1</sup> (4+x)<sup>1</sup> (x &minus; 2)<sup>1</sup> (x+3)<sup>1</sup> <br><br>

    These is no particular solution in the options matching LCM so answer is none of these.

</p>

</body>
</html>
