{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>

<body>

<h2><u> Question 10 </u>:</h2>
<hr>
<p>

    Three numbers are in the ratio 3:4:5 and LCM is 2400 then HCF of their numbers is?

</p>


<div class="div2">
    A.20
</div>
<br>
<div class="div2">
    B.40
</div>
<br>
<div class="div2">
    C.80
</div>
<br>

<div class="div2">
    D.120
</div>



<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<p>

    Let HCF of 3 numbers be x <br><br>

    Given the ration of numbers = 3:4:5 <br><br>

    We know HCF is common highest factor in all numbers <br><br>

    So, HCF should be present in every number, so let the numbers be 3x, 4x, 5x <br><br>

    Now LCM of 3x, 4x, 5x = 3<sup>1</sup> &times; x<sup>1</sup>,

    4<sup>1</sup> &times; x <sup>1</sup>,

    5 <sup>1</sup> &times; x<sup>1</sup> <br><br>

    LCM = 3 <sup>1</sup> &times; 4 <sup>1</sup> &times; 5 <sup>1</sup> &times; x<sup>1</sup> <br><br>

    = 60x <br><br>

    Given LCM = 2400 <br><br>

    60x = 2400 <br><br>

    x = <sup>2400</sup> &frasl; <sub>60</sub><br><br>

    x = 40.<br><br>

</p>

</div>
</body>
</html>
