<html>

<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>

<body>

<h2><u> Question 6 </u>:</h2>
<hr>
<p>

    HCF of 0.54, 1.8, 0.054, 1.8 and 7.2 is?
</p>


<div>
    A.0.54
</div>
<br>
<div>
    B.0.18
</div>
<br>
<div>
    C.0.054
</div>
<br>

<div>
    D.0.018
</div>



<h2> <u>Answer</u>:B </h2>

<p>

    0.54 &times; 10 = 5.4 <br><br>

    5.4 &times; 10 = 54 <br><br>

    1.8 &times; 10 = 18 <br><br>

    18 &times; 10 = 180 <br><br>

    7.2 &times; 10 = 72 <br><br>

    72 &times; 10 = 720 <br><br>

    HCF of 54, 180, 720 <br><br>

    HCF of 180, 720 <br><br>

    <img src="/static/images/Division_8.png"/><br>

    HCF of 180, 720 = 180 <br><br>


    HCF of 54, 180, 720 <br><br>

    <img src="/static/images/Division_9.png"/><br>

    HCF of 54, 180, 720=18 <br><br>

    HCF of 0.54, 1.8, 7.2 = 0.18.<br><br>


</p>

</body>
</html>
