<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:14</h1>
<hr>
<p>
The probability that a student will pass in mathematics is 3 &frasl; 5 and that of english is 1 &frasl; 3. If the probability that will pass in both mathematics and english is 1 &frasl; 8,then the probability that he will pass in at least one subject is

</p>


<div>
	A.&nbsp;&nbsp; 87 &frasl; 120
	
</div>
<br>
<div>
	B.&nbsp;&nbsp; 97 &frasl; 120

	
</div>
<br>
<div>
	C.&nbsp;&nbsp; 112 &frasl; 120

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp; 53 &frasl; 120

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>
<br><br>
Given that theh probability of a student to pass in Mathematics is 3 &frasl; 5 and English is 1 &frasl; 3
<br><br>
P(M) = 3 &frasl; 5  and P(E) = 1 &frasl; 3
<br><br>
Given that the Probability to pass in both Mathematics and English is 1 &frasl; 8 
<br><br>
P(M ^ E) = 1 &frasl; 8
<br><br>
Now as per the formulae, 
<br><br>
P(M  U E) represents the Probability that stadent can pass in any of the subject 
<br><br>
So P(M U E) = P(M) + P(E) - P(M ^ E)
<br><br>
P(M U E) = (3 &frasl; 5) + (1 &frasl; 3 ) - (1 &frasl; 8)
<br><br>
P(M U E) = (72 + 40 - 15) &frasl; 120
<br><br>
P(M U E) = 97 &frasl; 120
<br><br>
</body>
</html>
