<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:2</h1>
<hr>
<p>
The probability of getting 2 on a die when it is rolled is

</p>


<div>
	A.&nbsp;&nbsp; 1 &frasl; 6
	
</div>
<br>
<div>
	B.&nbsp;&nbsp; 1 &frasl; 3

	
</div>
<br>
<div>
	C.&nbsp;&nbsp; 1 &frasl; 2

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp; 1 

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>
<br><br>
In this case, if you roll a die you will get six possibilities from 1 to 6 on the face of the die
<br><br>
i.e, {1,2,3,4,5 and 6} = 6
<br><br>
Total number of outcomrs n(A) = 6
<br><br>
In this you will get only one possibility of getting 2 on a face of the die
<br><br>
So, n(2) = No.of Possibilitites of getting 2 = {2} = 1
<br><br>
So the probability of getting 2 on face of die when it is rolled P(2)= n(2) &frasl; n(A) 
<br><br>
P(2) = 1 &frasl; 6
<br><br>

<br><br>
</body>
</html>
