<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:1</h1>
<hr>
<p>
When a coin is tossed, the Probability of getting a head is 

</p>


<div>
	A.&nbsp;&nbsp; 1 &frasl; 2
	
</div>
<br>
<div>
	B.&nbsp;&nbsp; &minus; 1 &frasl; 2

	
</div>
<br>
<div>
	C.&nbsp;&nbsp; 0

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp; 1

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>
<br><br>
In case of coin, we have two outcomes.
<br><br>
i.e, Head and Tail.
<br><br>
If one coin is tossed,then we have a possibility of getting either head or Tail.
<br><br>
Total possibilities n(A)= {Head, Tail} = 2
<br><br>
Now the possibility of getting a head is = (Number of possibilities of getting head) &frasl; (Total number of possibilities)
<br><br>
P(Head) = n(Head) &frasl; n(A)
<br><br>
Here n(Head) = Number of possibilities of getting head = 1
<br><br>
So, P(Head) = 1 &frasl; 2
<br><br>
</body>
</html>
