{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:9</h1>
<hr>
<p>
Three coins are tossed. The probability of getting neither 3 heads nor 3 tails is 

</p>


<div class="div2">
	A.&nbsp;&nbsp; 3 &frasl; 4
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp; 2 &frasl; 3

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp; 1 &frasl; 2

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp; 1 &frasl; 3

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<br><br>
When three coins are tossed, then we will have following possibilities
<br><br>
Total outcomes = n(A) = {HHH,HHT,HTH,THH,HTT,THT,TTH,TTT} = 2<sup>3</sup> = 8
<br><br>
Here it contains 3 Heads and 3 Tails.
<br><br>
But we need to find the number of possibilities not getting either 3 Heads or 3 Tails.
<br><br>
So the possible Outcomes are
<br><br>
n(3H<sup>|</sup> OR 3T<sup>|</sup>) = {HHT,HTH,THH,HTT,THT,TTH} = 6
<br><br>
<b>Note: &nbsp; Here 3H<sup>|</sup> represents not getting 3Heads</b>
<br><br>
So the probability of this case is
<br><br>
P(3H<sup>|</sup> OR 3T<sup>|</sup>) = n(3H<sup>|</sup> OR 3T<sup>|</sup>) &frasl; n(A)
<br><br>
P(3H<sup>|</sup> OR 3T<sup>|</sup>) = 6 &frasl; 8 
<br><br>
P(3H<sup>|</sup> OR 3T<sup>|</sup>) = 3 &frasl; 4
<br><br>
</div>
</body>
</html>
