<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:4</h1>
<hr>
<p>
When two coins tossed,what is the probability of head on both coins is 

</p>


<div>
	A.&nbsp;&nbsp; 1 &frasl; 8
	
</div>
<br>
<div>
	B.&nbsp;&nbsp; 1 &frasl; 4

	
</div>
<br>
<div>
	C.&nbsp;&nbsp; 1 &frasl; 2

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp; 1

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>
<br><br>
Here we are tossing two coins.
<br><br>
We will get following possibilies.
<br><br>
Number of outcomes n(A)= {HH,HT,TH,TT} = 4
<br><br>
Here HT represents Head on Face of first coing and Tail on face of second coin
<br><br>
Now In this case we need to have Heads on both coins.
<br><br>
i.e,HH = n(HH) = 1
<br><br>
SO the probability of gettinig two Heads on both coins p(HH) = (Number of possibilities of getting Both Heads) &frasl; (Total number of outcomes)
<br><br>
P(HH) = n(HH) &frasl; n(A)
<br><br>
P(HH) = 1 &frasl; 4
<br><br>
</body>
</html>
