{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:8</h1>
<hr>
<p>
two dies are thrown together. What is the probability that the sum of numbers on the two faces is divisible by 4 or 6 

</p>


<div class="div2">
	A.&nbsp;&nbsp; 1 &frasl; 3
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp; 5 &frasl; 18

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp; 4 &frasl; 18

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp; 7 &frasl; 18

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<br><br>
Given that two dice are rolled. 
<br><br>
So there are total of 6<sup>2</sup> = 36 outcomes
<br><br>
n(A) = 36
<br><br>
Now in this problem we need to find the total number of possibilities in which the sum of two numbers on the dice is divisible by either 4 or 6.
<br><br>
The maximum sum obtained by adding two numbers on the two dice = 6+6 = 12
<br><br>
Then the total multiples of 4 or 6 are = {4,6,8,12}
<br><br>
Now we need to get the possibilities of getting sum on the two dice = 4
<br><br>
n(SUM4) = {13,22,31} = 3
<br><br>
Similarly, n(SUM6) = {15,24,33,42,51} = 5
<br><br>
n(SUM8) = {26,35,44,53,62} = 5
<br><br>
n(SUM12) = {66} = 1
<br><br>
So total number of possibilities of getting sum on the dice is wither 4 or 6 n(4OR6)= n(SUM4) + n(SUM6) + n(SUM8) + n(SUM12)
<br><br>
n(4OR6) = 3+5+5+1 = 14
<br><br>
Now the probability that sum of the numbers on the dice is either 4 or 6 = P(4OR6)
<br><br>
P(4OR6) = n(4OR6) &frasl; n(A)
<br><br>
P(4OR6) = 14 &frasl; 36
<br><br>
P(4OR6) = 7 &frasl; 18

</div>
</body>
</html>
