{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:12</h2>
<hr>
<p>
Six boys and six girls sit in a row randomly. The probability that all the six girls sit together is 

</p>


<div class="div2">
	A.&nbsp;&nbsp; 1 &frasl; 132
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp; 1 &frasl; 66

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp; 1 &frasl; 1584

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp; 3 &frasl; 22

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<br><br>
Given that there are six boys and six girls in a row.
<br><br>
So we have total of 12 persons in a row.
<br><br>
So the number of ways of arranging them in a row is 12!
<br><br>
n(A) = 12!
<br><br>
<b>Note: Since this is arrangement and Order is important.
<br><br>
The arrangement of n people by taking n at a time is 
<br><br>
<sup>n</sup>P<sub>r</sub> = n! &times; (n-r)!
<br><br>
Here r = n
<br><sup>n</sup>P<sub>r</sub> = n! &times; (n-n)! = n!
<br><br></b>
But given that among the all six girls are grouping together.
<br><br>
So if you make six girls into a group(Assume like a person) and taking remainng boys into account, there are total of 7 peoples at a time.
<br><br>
So we can arrange 7 people in a row in 7! ways.
<br><br>
But the girls in the group can be arranged in 6! ways.
<br><br>
So total arrangements = 7! &times; 6! = n(E)
<br><br>
Finally the probability that all girls sit together is 
<br><br>
P(E) = n(E) & n(A)
<br><br>
P(E) = (6! &times; 7!) &frasl; 12!
<br><br>
P(E) = (6! &times; 7!) &frasl; (12 &times; 11 &times; 10 &times; 9 &times; 8 &times; 7!)
<br><br>
P(E) = (6 &times; 5 &times; 4 &times; 3 &times 2 &times 1) &frasl; (12 &times; 11 &times; 10 &times; 9 &times; 8)
<br><br>
P(E) = 1 &frasl; 132
<br><br>
</div>
</body>
</html>
