<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:10</h1>
<hr>
<p>
100 students appeared for two examinations. 60 students are passed the first, 50 students are passed the second and 30 students are passed the both.
The probability that a student selected at random has failed in both examinations is

</p>


<div>
	A.&nbsp;&nbsp; 1 &frasl; 7
	
</div>
<br>
<div>
	B.&nbsp;&nbsp; 1 &frasl; 5

	
</div>
<br>
<div>
	C.&nbsp;&nbsp; 5 &frasl; 7

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp; 5 &frasl; 6

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>
<br><br>
Given that the total number of students = n(A) = 100
<br><br>
Now let us consider P and Q be te Number of students passed in 1st and 2nd examinations respectively.
<br><br>
Given that 60 Students are passed in 1 st examinations. n(P) = 60
<br><br>
So probability of Students passed in 1st examination is P(P)
<br><br>
So P(P) = n(P) &frasl; n(A) = 60 &frasl; 100
<br><br>
P(P) = 3 &frasl; 5
<br><br>
Similarly given that 50 students are passed in 2nd examinations.n(Q) = 50
<br><br>
So the probability of students passed in 2nd examination is P(Q)
<br><br>
P(Q) = n(Q) &frasl; n(A) = 50 &frasl; 100
<br><br>
P(Q) = 1 &frasl; 2
<br><br>
Now given that the number of students passed in both examinations is 30.
<br><br>
n(P ^ Q) = 30
<br><br>
So the probability that the number of students passed in both examination is P(P ^ Q)
<br><br>
P(P ^ Q) = n(P ^ Q) &frasl; n(A) = 30 &frasl; 100
<br><br>
P(P ^ Q) = 3 &frasl; 10
<br><br>
But here we need to calculate the probability that a student is at random failed in both examinations.
<br><br>
Now let us calculate the number of students passed in any of the examinations.
<br><br>
As we know that n(P ^ Q) gives number of students passed in both examinations.
<br><br>
So, From the Formulae, n(P U Q) gives the number of students passed in any of the examinations.
<br><br>
So the number of students who failed in both examinations = (Total students) &minus; (Number of students passed in any of examinations) 
<br><br>
n(F(P ^ Q)) = n(A) - n(P U Q)
<br><br>
n(F(P ^ Q)) = 100 - n(P U Q)
<br><br>
We know that 
<br><br>
n(P U Q) = n(P) + n(Q) - n(P ^ Q)
<br><br>
n(P U Q) = 60 + 50 - 30 = 80 
<br><br>
n(F(P ^ Q)) = 100 - 80
<br><br>
n(F(P ^ Q)) = 20
<br><br>
So the probability that a student failed in both examinations is 
<br><br>
P(F(P ^ Q)) = n(F(P ^ Q)) &frasl; n(A)
<br><br>
P(F(P ^ Q)) = 20 &frasl; 100 = 1 &frasl; 5
</body>
</html>
