<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:6</h1>
<hr>
<p>
The probability that the number on any one of the two dice is either 1 or 6 is 

</p>


<div>
	A.&nbsp;&nbsp; 5 &frasl; 9
	
</div>
<br>
<div>
	B.&nbsp;&nbsp; 11 &frasl; 9

	
</div>
<br>
<div>
	C.&nbsp;&nbsp; 1

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp; 17 &frasl; 18

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>
<br><br>
Given that two dice are rolled.
<br><br>
So we will have total of 6<sup>2</sup> =36 outcomes
<br><br>
The outcomes are {11,12,13,14,15,16,21,22,- - - - ,56,61,62,63,64,65,66} = 36
<br><br>
Now the possibilities of getting 1 or 6 on any one of the two dice are as follows
<br><br>
n(1OR6)={11,12,13,14,15,16,21,26,31,36,41,16,51,56,61,62,63,64,65,66} = 20
<br><br>
So the probability of getting 1 or 6 on any of two dice is P(1OR6) = n(1OR6) &frasl; n(A)
<br><br>
P(1OR6) = 20 &fras; 36
<br><br>
P(1OR6) = 5 &frasl; 9
<br><br>
</body>
</html>
