{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:2</h1>
<hr>
<p>
The probability of getting 2 on a die when it is rolled is

</p>


<div class="div2">
	A.&nbsp;&nbsp; 1 &frasl; 6
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp; 1 &frasl; 3

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp; 1 &frasl; 2

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp; 1 

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<br><br>
In this case, if you roll a die you will get six possibilities from 1 to 6 on the face of the die
<br><br>
i.e, {1,2,3,4,5 and 6} = 6
<br><br>
Total number of outcomrs n(A) = 6
<br><br>
In this you will get only one possibility of getting 2 on a face of the die
<br><br>
So, n(2) = No.of Possibilitites of getting 2 = {2} = 1
<br><br>
So the probability of getting 2 on face of die when it is rolled P(2)= n(2) &frasl; n(A) 
<br><br>
P(2) = 1 &frasl; 6
<br><br>

<br><br>
</div>
</body>
</html>
