{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:13</h1>
<hr>
<p>
Two fair dice are thrown. Given that the sum of the faces on the dice is less than or equal to 4.Find the Probability that only one dice shows two.

</p>


<div class="div2">
	A.&nbsp;&nbsp; 1 &frasl; 4
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp; 1 &frasl; 3

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp; 2 &frasl; 3

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp; 1 &frasl; 2

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<br><br>
Given that two dice are rolled.
<br><br>
So total outcomes = n(A) = 6<sup>2</sup> = 36
<br><br>
and given that the sum of two numbers on the two dice is less than or equal to 4.
<br><br>
So the possible sum values = {2,3,4}
<br><br>
So the total combinations = {11,12,13,21,22,31} = 6
<br><br>
But we need to find the probability that only one dice shows 2
<br><br>
So the combinations = {12,21} = 2
<br><br>
So the Probability = 2 &frasl; 6 = 1 &frasl; 3
<br><br>
</div>
</body>
</html>
