{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:7</h1>
<hr>
<p>
There are two bags containing white and black balls. In the first bag, there are 8 white balls and 6 black balls.In Second bag,there are 4 white balls and 7 black balls.
One ball is drawn at random from any of these two bags,then the probability of this ball being black is 

</p>


<div class="div2">
	A.&nbsp;&nbsp; 21 &frasl; 77
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp; 41 &frasl; 77

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp; 51 &frasl; 77

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp; 51 &frasl; 154

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<br><br>
Here the black ball is going to be select from any of the two bags. 
<br><br>
So selection black from one bag is half (1 &frasl; 2) 
<br><br>
Now let us fine the probability of selecting the black ball from first bag.
<br><br>
In the first bag, there are total of 8 + 6 = 14 balls.Among the all we have 6 black balls.
<br><br>
So number of ways of selecting a ball from 6 black balls = <sup>6</sup>C<sub>1</sub> = 6
<br><br>
Similarly selection of black ball from total 14 balls = 14
<br><br>
So total probability for selecting a black ball from first bag = (6 &frasl; 14) &times; (1 &frasl; 2)
<br><br>
P(B1) = 3 &frasl 14
<br><br>
Similarly from second bag,the probability of selecting black ball from second bag = P(B2)
<br><br>
P(B2) = (7 &frasl; (7+4)) &times; (1 &times; 2)
<br><br>
P(B2) = (7 &frasl; 11) &times; (1 &times; 2) = 7 &frasl; 22
<br><br>
So total probaility of selecting black ball from any of the two bags = P(B1) + P(B2)
<br><br>
P(B) = (3 &times; 14) &plus; (7 &frasl; 22)
<br><br>
P(B) = (33 + 49) &frasl; (154)
<br><br>
P(B) = 82 &frasl; 154 = 41 &frasl; 77
<br><br>
</div>
</body>
</html>
