{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:11</h1>
<hr>
<p>
From a pack of 52 cards, two cards are drawn together at random. The probability that thw two cards beig King is

</p>


<div class="div2">
	A.&nbsp;&nbsp; 35 &frasl; 256
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp; 35 &frasl; 1326

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp; 1 &frasl; 221

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp; 25 &frasl; 57

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<br><br>
In a card game, we have 13 cards namely
<br><br>
{A,2,3,4,5,6,7,8,9,10,J,Q,K}
<br><br>
A pack of cards contains total of 52 cards.
<br><br>
In a pack of 52 cards, we have 4 suits (Clubs, Hearts, Spade and Diamonds)
<br><br>
In each suit we will have one king. 
<br><br>
So from the pack of 52, we will have 4 cards as the pack contains four suits.
<br><br>
Here the event is the two cards being picked.
<br><br>
So the total number of combinations = <sup>52</sup>C<sub>2</sub> 
<br><br>
<b>Note: Since it's combination only. No need to look into Order.So <sup>n</sup>C<sub>r</sub> is used
<br><br>
n</sup>C<sub>r</sub> = n! &times; (r! &times; (n-r)!)
</b>
<br><br>
n(A) = 52! &frasl; (2! &times; (52-2)!)
<br><br>
n(A) = (52 &times; 51 &times; 50!) &frasl; (2 &frasl; 50!)
<br><br>
n(A) = (52 &times; 51 ) &frasl; 2 = 1326
<br><br>
Similarly the number of combinations of selecting two kings from the four cards is n(K)
<br><br>
n(K) = <sup>4</sup>C<sub>2</sub> 
<br><br>
n(K) = 4! &frasl; (2! &times; (4-2)!)
<br><br>
n(K) = 24 &frasl; 4 = 6
So the probability of taking Kings from the pack of cards is P(K)
<br><br>
P(K) = n(K) &frasl; n(A) 
<br><br>
P(K) = 6 &frasl; 1326
<br><br>
P(K) = 1 &frasl; 221
<br><br>

</div>
</body>
</html>
