{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:3</h1>
<hr>
<p>
The probability of not getting saturday in a week is 

</p>


<div class="div2">
	A.&nbsp;&nbsp; 2 &frasl; 7
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp; 6 &frasl; 7

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp; 1

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp; 1 &frasl; 7

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<br><br>
For a week we will have 7 days namely Mon, Tue, Wed, Thu, Fri, Sat and Sun.
<br><br>
Total outcomes n(A) = 7
<br><br>
In this case, we need to find the number of possibilities of not getting saturday.
<br><br>
In the sense we have six possibilities not getting saturday = {Mon, Tue, Wed, Thu, Fri and Sun}
<br><br>
n(Sat<sup>|</sup>) = 6
<br><br>
So the probability of not getting Saturday P(Sat<sup>|</sup>) = n(Sat<sup>|</sup>) &frasl; n(A)
<br><br>
P(Sat<sup>|</sup>) = 6 &frasl; 7
<br><br>
</div>
</body>
</html>
