<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:15</h1>
<hr>
<p>
The ratio of number of officers and ladies in the two companies are 3:1 and 2:5 respectively. An individual is selected to be a chairperson of their association. The chance that this individual is selected from the 1st company is 2 &frasl; 3 then the probability that the chairperson will be officer is 

</p>


<div>
	A.&nbsp;&nbsp; 25 &frasl; 42
	
</div>
<br>
<div>
	B.&nbsp;&nbsp; 7 &frasl; 42

	
</div>
<br>
<div>
	C.&nbsp;&nbsp; 23 &frasl; 42

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp; 11 &frasl; 43

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>
<br><br>
Given that the chance that individual is selected from 1st company = 2 &frasl; 3
<br><br>
So the chance that individual is selected from 2nd company = 1 - (2 &frasl; 3) = 1 &frasl; 3
<br><br>
Now we need to find the probability that the selected person form each group is an officer is 
<br><br>
P(O) = (Officers Ratio from 1st company &times; Selection of 1st company) &plus; (Officers ratio in second company &times; Selection of 2nd company)
<br><br>
Officers ration in 1st company = (3 &frasl; (3+1)) = 3 &frasl; 4
<br><br>
Officers ratio in 2nd company = (2 &frasl; (2+5)) = 2 &frasl; 7
<br><br>
So P(O) = [(3 &frasl; 4) &times; (2 &times; 3)] &plus; [(2 &frasl; 7 ) &times; (1 &frasl; 3)]
<br><br>
P(O) = (1 &frasl; 2) &plus; (2 &frasl; 21)
<br><br>
P(O) = (21+4) &frasl; 42
<br><br>
P(O) = 25 &frasl; 42
<br><br>
</body>
</html>
