{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
    <title>Probability Tutorial</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>Tutorial</u></b></font>
<hr/>
<hr/>


<p>
	<font size="4"><b><u>Definition:</u></b></font>
    <br><br>
    Probability is the chance of occurance of an event.
    <br><br>
    Simply we can say Probability is about chances
    <br><br>
    <b>Ex:</b> If you the probability of Winning a game for India Vs West Indies at home ground is 90 %, then we can say India wins 90 matches out of 100 matches at home ground.
    <br><br>
    The Probability of an Event is calculated by
    <br><br>
	P(E) = (Number of occurances of an event) &frasl; (Total number of occurances)
    <br><br>
</p>   
<p>
	<font size="4"><b><u>Properties : </u></b></font>
	<br><br>
    Let us assume P(E) is the Probability of an event,then
	<br><br>
	1.P(E) = n(E) &frasl; n(A) where n(E) is the Number of occurances of an event and n(A) is the total number of occurances
	<br><br>	
	2.Probability should be &le; 1 and &gt; 0
	<br><br>
	i.e, 0 &lt; &nbsp P(E) &nbsp &le; &nbsp 1
	<br><br>
	3.If the Probability of non event is P(E<sup>|</sup>)
	<br><br>
	then P(E) + P(E<sup>|</sup>) = 1
	<br><br>
	P(E) = 1 - P(E<sup>|</sup>)
	<br><br>
	P(E<sup>|</sup>) = 1 - P(E)
	<br>
<p>
<p>
	<font size="4"><b><u>Important Points:</u></b></font>
	<br><br>
	<b>1.</b>Let us assume that we have two events A and B. If you want find the probability in which both events place a role at a time,then we will use Conjunction <b>AND</b>
	<br>
	P(A) &times; P(B)
	<br><br>
	Similarly for <b>n</b> number of events A<sub>1</sub>,A<sub>2</sub>, A<sub>3</sub>, - - - , A<sub>n</sub>
	<br>
	Then the Probability = P(A<sub>1</sub>) &times; P(A<sub>2</sub>) &times; (A
	<br><br>
	<sub>3</sub>) &times; - - - &times; P(A<sub>n</sub>)
	<p>
	<br>
	<p>
	<b>2</b>.Similarly if you want to find the probability in which either of two events place a role at a time, then we will use Conjunction <b>OR</b>
	<br>
	P(A)+P(B)
	<br><br>
	Similarly for <b>n</b> number of events
	<br><br>
	The Probability = P(A<sub>1</sub>) &plus; P(A<sub>2</sub>) &plus; (A<sub>3</sub>) &plus; - - - &plus; P(A<sub>n</sub>)

	<p>
	<p>
	<br><br>
	<b>3</b>.If you know the total number of times event is going to happen(<b>n</b>) and total number of possibilities of an event (<b>x</b>) then the total number of combinations for the whole event is calculated as
	<br><br>
	&nbsp;&nbsp;&nbsp;&nbsp; <b>x<sup>n</sup></b>
	<br><br>
	<b><u>Example:</u></b>
	<br><br>
	If you toss a coin 3 times,then the total number of possibilities is calculated as
	<br><br>
	x = {Head, Tail} = 2 and n = 3 times
	<br><br>
	n(A) = 2<sup>3</sup> = 8 = {HHH,HHT,HTH,THH,HTT,THT,TTH,TTT}
	<br><br>
	<p>
	<br>
	<p>
	<b>4.</b>If we have two events A and B, then the relation between Probability of A &cap; B and A &cup; B is
	<br><br>
	P(A U B) = P(A) + P(B) - P(A &cap; B)
	<br><br>
	Here &cap; represents AND Operation satisfying both.
	<br><br>
	&cup; represents OR operation satisfying any one.
	<br><br>
	<u><b>Example:</b></u>
	<br><br>
	Let us assume that n be the number of students who passed in English and m be the number of students who passed in Science and l be the number of students passed in both the english and science, then the number of students passed in any of the exams is k.
	<br><br>
	Then the relation between all is given by
	<br><br>
	n(E U S) = n(E) + n(S) - n(E &cap; S)
	<br><br>
	k = m + n - l
	<br><br>
	<p>
	<p>
	<b>5.</b>If we have <b>n </b> things and you need to take <b>r</b> things at a random, the total number of possibilities for this scenario is 
	<br><br>
	<b><sup>n</sup>C<sub>r</sub>  = n! &frasl; [r! &times; (n-r)!]</b>


<p>
</body>


</html>
