{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:5</h1>
<hr>
<p>
When two dice are rolled, then the probability of getting the sum of two numbers on two diesequal to 9 is 

</p>


<div class="div2">
	A.&nbsp;&nbsp; 1 &frasl; 6
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp; 1 &frasl; 18

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp; 1 &frasl; 9

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp; 1 &frasl; 12

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<br><br>
When two dice are tossed, we will have total of 6<sup>2</sup> outcomes
<br><br>
i.e, n(A) = {11,12,13,14,15,16,21,22,23,- - - - , 56, 61,62,63,64,65,66}
<br><br>
Now in this case we need to find the number of possibilities in which the sum of numbers on two dice is equal to 9.
<br><br>
The possible outcomes for this condition are 
<br><br>
n(SUM9)= {36,45,54,63} = 9
<br><br>
So the probability of getting sum of numbers on Two dice equal to 9 P(SUM9) = n(SUM9) &frasl;n(A)
<br><br>
p(SUM9) = 4 &frasl; 36 = 1 &frasl; 9
<br><br>
</div>
</body>
</html>
