{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question 7 </u>:</h2>
<hr>
<p>In how many ways can 4 Apples be distributed to 7 children if each child can get any number of Apples?</p>


	<div class="div2">
		A.28
	</div>
<br>
	<div class="div2">
		B.7<sup> 4 </sup>
	</div>
<br>
	<div class="div2">
		C.4<sup> 7 </sup>
	</div>
<br>
	<div class="div2">
		D.35
	</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
	<p>From the given problem, each child can get any number of Apples means each child can get at most 4 Apples.</p>
    <p>You can distribute any no. of apples (1,2,3,4) to each child.</p>
	<p>So 7 children will get 1 or 2 or 3 or 4 apples.</p>
	<li>
		Child 1 -- 1 apple
	</li>
	<li>
		Child 1 -- 2 apples
	</li>
	<li>
        Child 1 -- 3 Apples
    </li>
    <li>
        Child 1 -- 4 Apples
    </li>
    <p>Similarly for remaining child</p>
    <li>
        So 1 apple distributed to 7 children
    </li>
    <li>
        2 Apples Distributed to 7 children
    </li>
    <li>
        3 Apples Distributed to 7 children
    </li>
    <li>
        4 Apples Distributed to 7 children
    </li>
	<p>Total combinations = 7&times;7&times;7&times;7 = 7<sup>4</sup></p>
</div>
</body>
</html>
