{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question 3 </u>:</h2>
<hr>
<p>In how many ways a team of 11 players can be selected from a group of 15 members?</p>


	<div class="div2">
		A.1365
	</div>
<br>
	<div class="div2">
		B.165
	</div>
<br>
	<div class="div2">
		C.30030
	</div>
<br>
	<div class="div2">
		D.54486432000
	</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
	<p>The number of ways of selecting a team of 11 players from a group of 15 players can be calculated as</p>
	<sup> 15 </sup> C <sub> 11 </sub> = <sup> 15! </sup> &frasl; <sub> (11!&times;(15-11)!) </sub><br>
	<sup> 15 </sup> C <sub> 11 </sub> = <sup> 15&times;14&times;13&times;12&times;11! </sup> &frasl; <sub> 11!&times;4! </sub><br>
	<sup> 15 </sup> C <sub> 11 </sub> = <sup> 15&times;14&times;13&times;12 </sup> &frasl; <sub> 4&times;3&times;2&times;1 </sub><br>
	<sup> 15 </sup> C <sub> 11 </sub> = <sup> 32760 </sup> &frasl; <sub> 24 </sub>=1365<br>

</div>
</body>
</html>
