<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 14 </u>:</h2>
<hr>
<p>How many straight lines can be formed from 12 non linear points on the X-Y plane?</p>


	<div>
		A.66
	</div>
<br>
	<div>
		B.132
	</div>
<br>
	<div>
		C.22
	</div>
<br>
	<div>
		D.33
	</div>
		
	

<h2> <u>Answer</u>: A </h2>
<h3>Solution: </h3>
	<p>Here Straight line can be formed with the help of any two non linear points.</p>
    <p>So the number of ways of forming straight lines is equal to selection of two points from 12 non linear points.</p>
	<p>Number of ways = <sup> 12 </sup> C <sub> 2 </sub> </p>
	<p><sup> 12 </sup> C <sub> 2 </sub> = <sup> 12! </sup> &frasl; <sub> 2! &times; (12 - 2)! </sub></p>
	<p><sup> 12 </sup> C <sub> 2 </sub> = <sup> 12&times;11&times;10! </sup> &frasl; <sub> 2! &times; 10! </sub></p>
    <p><sup> 12 </sup> C <sub> 2 </sub> = <sup> 12&times;11 </sup> &frasl; <sub> 2&times;1 </sub> = 66</p>
</body>
</html>
