{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question 9 </u>:</h2>
<hr>
<p>How many numbers of 4 digits can be formed with the digits 0, 1, 2 and 3(Repetition is allowed)</p>


	<div class="div2">
		A.192
	</div>
<br>
	<div class="div2">
		B.108
	</div>
<br>
	<div class="div2">
		C.18
	</div>
<br>
	<div class="div2">
		D.48
	</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
	<p>Let&CloseCurlyQuote;s assume four digit number be WXYZ</p>
    <p>From the given digits the four digit combination should have thousand&CloseCurlyQuote;s place value greater than &OpenCurlyDoubleQuote;0&CloseCurlyDoubleQuote;.</p>
	<p>W X Y Z where W>0</p>
	<p>The possibilities for first place are {1, 2, 3 } = 3 ways.</p>
	<p>Now given that the sequence allows repetition.</p>
	<p>There are 3 positions and 4 numbers.which means each number will come again.</p>
	<b>Scenarios</b>
	<ul>
		<li>
			<p>Let&CloseCurlyQuote;s take 2 numbers(1,2) two positions.</p>
			<p>combinations are {11, 12, 21, 22 } = 4 = 2<sup>2</sup></p>
		</li>
		<li>
			<p>Now let's take 2(1, 2 ) numbers 3 positions.</p>
			<p>Combinations = {111, 112 ,121, 122, 211, 212, 221, 222} = 2<sup>3</sup></p>
		</li>
		<li>
			<p>3 numbers (1,2,3) 2 positions</p>
			<p>Combinations = {11,12,13,21,22,23,31,32,33} = 9 = 3<sup>2</sup></p>
		</li>
		<li>
			<p>Like that 4 numbers and 3 positions</p>
			<p>Number of Combinations = 4<sup>3</sup> = 64</p>
		</li>
	</ul>
	<p>There are total of 4<sup>3</sup> combinations.</p>
	<p>Total number of ways = 3 &times; 64 = 192</p>
</div>
</body>
</html>
