{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
    <title>Permutations and Combinations Formula</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1>Formulae</p1>
</u></b></font>
<hr/>
<hr/>


<p><font size="4"> <u> </u></font></p><br>

<h3>Factorial: </h3>
<ul>
    <li>
        Factorial of n is n! = 1&times;2&times;3&times; ----  (n-2)&times;(n-1)&times;n  or n&times;(n-1)&times;(n-2) ------ 3&times;2&times;1<br>
        n factorial can be written as n! = n&times;(n-1)! <br>
        where (n-1)! = (n-1)&times;(n-2)!<br>
        where (n-2)! = (n-2)&times;((n-3)! and so on<br>
        So n! = n&times;(n-1)! = n&times;(n-1)&times;(n-2)! = n&times;(n-1)&times;(n-2)&times;(n-3)! = n&times;(n-1)&times;(n-2)&times;(n-3)&times;(n-4)&times; ---- 4&times;3&times;2&times;1
    </li>

</ul>
<h3> Permutations: </h3>
<ul>
    <li>
        <sup> n </sup> P <sub> r </sub> = <sup> n! </sup> &frasl; <sub> (n-r)! </sub>
    </li>
    <li>
        <sup> n </sup> P <sub> n </sub> = <sup> n! </sup> &frasl; <sub> (n-n)! </sub> =<sup> n! </sup> &frasl; <sub> 0! </sub> =  n!
    </li>
    <li>
        <sup> n </sup> P <sub> 0 </sub> = <sup> n! </sup> &frasl; <sub> (n-0)! </sub> =<sup> n! </sup> &frasl; <sub> n! </sub> =  1
    </li>
    <li>
        <sup> n </sup> P <sub> n </sub> = <sup> n </sup> P <sub> (n - 1) </sub>
    </li>
</ul>

<h3> Combinations: </h3>
<ul>
    <li>
        <sup> n </sup> C <sub> r </sub> = <sup> n! </sup> &frasl; <sub> (r! &times; (n-r)!) </sub>
    </li>
    <li>
        <sup> n </sup> C <sub> r </sub> = <sup> n </sup> C <sub> (n - r) </sub>
    </li>
    <li>
        <sup> n </sup> C <sub> 0 </sub> = 1
    </li>
    <li>
        <sup> n </sup> C <sub> n </sub> = 1
    </li>
    <li>
        <sup> n </sup> C <sub> r </sub> + <sup> n </sup> C <sub> r&plus;1 </sub> = <sup> (n + 1) </sup> C <sub> r </sub>
    </li>
    <li>
        <sup> n </sup> C <sub> x </sub> = <sup> n </sup> C <sub> y </sub> where y = n - x
    </li>
</ul>
</body>


</html>
