{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question 1 </u>:</h2>
<hr>
<p>In how many ways the letters of a word &OpenCurlyDoubleQuote;NUMBER&CloseCurlyDoubleQuote; can be formed?</p>


	<div class="div2">
		A.120
	</div>
<br>
	<div class="div2">
		B.720
	</div>
<br>
	<div class="div2">
		C.82
	</div>
<br>
	<div class="div2">
		D.164
	</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
	<p>Let us take first letter N. The number of ways = { N } = 1 = 1!</p>
	<p>Let us take first two letters. N,U</p>
	<p>The number of ways the letters can be formed = { NU,UN } = 2 = 2!</p>
	<p>Let us take first three letters. N,U,M</p>
	<p>The number of ways the letters can be formed ={ NUM, NMU, UNM, UMN, MNU, MUN }=6= 3!</p>
	<p>In the same ways the number of ways the letters can formed for n letters = n!</p>
	<p>So Finally the number of ways of arranging the letters of the word &OpenCurlyDoubleQuote;NUMBER&CloseCurlyDoubleQuote; = 6! = 720</p><br>
<h3>Alternative Solution:</h3>
	<p>In case of alphabets, order is considered into account.</p>
	<p>Because NUM and MUN are different even though both contains same letters.</p>
	<p>So the number of ways = <sup> 6 </sup> P <sub> 6 </sub> = 6! = 720</p>
</div>
</body>
</html>
