<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 12 </u>:</h2>
<hr>
<p>In how many ways can a group of 5 men and 2 women be made out of a total of 7 men and 3 women?
</p>


	<div>
		A.24
	</div>
<br>
	<div>
		B.25
	</div>
<br>
	<div>
		C.63
	</div>
<br>
	<div>
		D.80
	</div>
		
	

<h2> <u>Answer</u>: C </h2>
<h3>Solution: </h3>
	<p>Let us consider a men&CloseCurlyQuote;s group.</p>
    <p>The number of ways of selecting 5 men out of 7 men will be calculated as</p>
	<p><sup> 7 </sup> C <sub> 5 </sub> = <sup> 7! </sup> &frasl; <sub> 5! &times; (7 - 5)! </sub></p>
	<p><sup> 7 </sup> C <sub> 5 </sub> = <sup> 7&times;6&times;5! </sup> &frasl; <sub> 5! &times; 2! </sub></p>
    <p><sup> 7 </sup> C <sub> 5 </sub> = <sup> 7&times;6 </sup> &frasl; <sub> 2&times;1 </sub> = 21</p>
	<p>Similarly for the group of women.</p>
	<p>The number of ways of selecting the 2 women out of 3 women is</p>
	<p><sup> 3 </sup> C <sub> 2 </sub> = <sup> 3! </sup> &frasl; <sub> 2! &times; (3 - 2)! </sub></p>
	<p><sup> 3 </sup> C <sub> 2 </sub> = <sup> 3&times;2! </sup> &frasl; <sub> 2! &times; 1! </sub></p>
    <p><sup> 3 </sup> C <sub> 2 </sub> = <sup> 3 </sup> &frasl; <sub> 1 </sub> = 3</p>
	<p>So the total number of ways of selecting a group of 5 men and 2 women out of 7 men and 3 women is calculated as </p>
	<p><sup> 7 </sup> C <sub> 5 </sub> &times; <sup> 3 </sup> C <sub> 2 </sub> = 21 &times; 3 = 63</p>
</body>
</html>
