<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:2</h2>
<hr>
<p>
    The number of terms in the following sequence is

<p>
    &minus;4 ,&minus;2 ,0, 2, 4, 6, 8, 10,- - - - - ,200 which are in A.P
    <br>

<div>
    A.&nbsp;&nbsp; 100

</div>
<br>

<div>
    B.&nbsp;&nbsp; 101


</div>
<br>

<div>
    C.&nbsp;&nbsp; 102


</div>
<br>

<div>
    D.&nbsp;&nbsp; 103


</div>


<h2><u>Answer</u>: D</h2>
<h3>Solution: </h3>
<p>
    Here Initial term a = &minus; 4
    <br><br>
    Final term = 200
    <br><br>
    Common Difference = d
    <br><br>
    d = &minus; 2 &minus; (&minus;4) = 2
    <br><br>
    d = &minus; 2 &plus; 4
    <br><br>
    d = 2
    <br><br>
    We know that final number = t<sub>n</sub>
    <br><br>
    t<sub>n</sub> = a &plus; (n &minus; 1)d
    <br><br>
    200 = &minus; 4 &plus; (n &minus; 1)2
    <br><br>
    200 &plus; 4 = (n &minus; 1)2
    <br><br>
    204 = (n &minus; 1)2
    <br><br>
    n &minus; 1 = <sup>204</sup>&frasl;<sub>2</sub> = 102
    <br><br>
    n = 102 + 1
    <br><br>
    n = 103
    <br><br>

<p>
</body>
</html>
