{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:1</h2>
<hr>
<p>
    What is the next number of the following sequence which is in Arithmetic Progression
    <br><br>
    1, 3, 5, 7, 9, 11, ?

<p>

<div class="div2">
    A.&nbsp;&nbsp; 13

</div>
<br>

<div class="div2">
    B.&nbsp;&nbsp; 10


</div>
<br>

<div class="div2">
    C.&nbsp;&nbsp; 8


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp; 14


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
<p>
    <b><u>Method 1:</u></b>
    <br><br>
    From the given sequence
    <br><br>
    First Term a = 1
    <br><br>
    Now let us find the common difference d
    <br><br>
    d = difference between two successive numbers in the sequence
    <br><br>
    d = 3 &minus; 1 = 2
    <br><br>
    d = 5 &minus; 3 = 2
    <br><br>
    So similarly for other numbers in the sequence.
    <br><br>
    There is same difference between two successive numbers.
    <br><br>
    Then the next number of the sequence = previous number + common difference
    <br><br>
    i.e, 11 &plus; 2 = 13
    <br><br>
    <b><u>Method 2:</u></b>
    <br><br>
    Given the sequence.
    <br><br>
    First term a = 1
    <br><br>
    The common difference is calculated as
    <br><br>
    d = difference between two successive numbers
    <br><br>
    d = 3 &minus; 1 = 2
    <br><br>
    d = 5 &minus; 3 = 2
    <br><br>
    d = 7 &minus; 5 = 2
    <br><br>
    So the next number is 7<sup>th</sup> number of the sequence
    <br><br>
    so n = 7
    <br><br>
    As per the common difference, we can say that the sequence is in Arithmatic Progression.
    <br><br>
    The <b>n</b><sup>th</sup> term of the sequence in <b>A.P</b> is
    <br><br>
    t<sub>n</sub> = a &plus; (n&minus; 1)d
    <br><br>
    so 7<sup>th</sup> term = t<sub>7</sub> = a&plus; (7&minus; 1)d
    <br><br>
    t<sub>7</sub> = 1 &plus; (6 &times; 2)
    <br><br>
    t<sub>7</sub> = 1 &plus; 12
    <br><br>
    t<sub>7</sub> = 13
    <br><br>
</p>
</div>
</body>
</html>