{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:16</h2>
<hr>
<p>
    If the geometric mean of 3 numbers is 64 and one of them is 16 then the remaining one is
</p>

<div class="div2">
    A.&nbsp;&nbsp; 16

</div>

<br>

<div class="div2">
    B.&nbsp;&nbsp; 64


</div>

<br>

<div class="div2">
    C.&nbsp;&nbsp; 256


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp; 4


</div>

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
<p>
    Let the three numbers be a,b and c
    <br><br>
    Given that the Geometric Mean of three numbers is 64
    <br><br>
    G.M = b = &radic;<span style="text-decoration:overline;">&nbsp;(ac)&nbsp;</span>
    <br><br>
    b = 64
    <br><br>
    Let us assume that the Other number be c = 16
    <br><br>
    then 64 = &radic;<span style="text-decoration:overline;">&nbsp;(a &times; 16)&nbsp;</span>
    <br><br>
    Squaring on both sides
    <br><br>
    64<sup>2</sup> = a &times; 16
    <br><br>
    a &times; 16 = 4096
    <br><br>
    a = <sup>4096</sup> &frasl; <sub>16</sub>
    <br><br>
    a = 256.
    <br><br>
<p>
</div>
</body>
</html>