<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:4</h2>
<hr>
<p>
    Find the first number of the sequence in A.P where common difference is 13, number of terms is 17 and final term is 312
</p>


<div>
    A.&nbsp;&nbsp; 100

</div>
<br>

<div>
    B.&nbsp;&nbsp; 104


</div>
<br>

<div>
    C.&nbsp;&nbsp; 98


</div>
<br>

<div>
    D.&nbsp;&nbsp; 106


</div>


<h2><u>Answer</u>: B</h2>
<h3>Solution: </h3>
<p>
    Given difference d = 13
    <br><br>
    Total number of terms n = 17
    <br><br>
    final term = t<sub>n</sub> = 312
    <br><br>
    We know that Final term is
    <br><br>
    t<sub>n</sub> = a &plus; (n &minus; 1)d
    <br><br>
    312 = a &plus; (17 &minus; 1)13
    <br><br>
    312 = a &plus; (16 &times; 13)
    <br><br>
    312 = a &plus; 208
    <br><br>
    a = 312 &minus; 208
    <br><br>
    a = 104
    <br><br>

<p>
</body>
</html>