<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:11</h2>
<hr>
<p>
    Given the sequence 20,30,45,67.5,101.25, which is in G.P then the 10<sup>th</sup> term will be
</p>


<div>
    A.&nbsp;&nbsp; 512.58

</div>

<br>

<div>
    B.&nbsp;&nbsp; 768.87

</div>

<br>

<div>
    C.&nbsp;&nbsp; 1153.3

</div>
<br>

<div>
    D.&nbsp;&nbsp; 341.72

</div>

<h2><u>Answer</u>: B</h2>
<h3>Solution: </h3>
<p>
    Given that The sequence is in G.P
    <br><br>
    So 1st term = a = 20
    <br><br>
    Common ration r = <sup>2<sup>nd</sup> term</sup>&frasl; <sub>1<sup>st</sup> term</sub>
    <br><br>
    r = <sup>30</sup>&frasl;<sub>20</sub> = 1.5
    <br><br>
    Similarly r = <sup>3<sup>rd</sup> term</sup>&frasl; <sub>2<sup>nd</sup> term</sub>
    <br><br>
    r = <sup>45</sup>&frasl;<sub>30</sub> = 1.5
    <br><br>
    So 10<sup>th</sup> term = S<sub>10</sub>
    <br><br>
    We know that the n<sub>th</sub> term of sequence which is in G.P is
    <br><br>
    S<sub>n</sub> = a r<sup>(n &minus; 1)</sup>
    <br><br>
    So
    <br><br>
    S<sub>10</sub> = 20 &times; (1.5)<sup>(10 &minus; 1)</sup>
    <br><br>
    S<sub>10</sub> = 20 &times; (1.5)<sup>9</sup>
    <br><br>
    S<sub>10</sub> = 20 &times; 38.44
    <br><br>
    S<sub>10</sub> = 768.866
    <br><br>
    S<sub>10</sub> = 768.87.
    <br><br>

<p>
</body>
</html>