{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:6</h2>
<hr>
<p>
    Find the sum of 1<sup>st</sup> 100 natural numbers is
</p>

<div class="div2">
    A.&nbsp;&nbsp; 4040

</div>
<br>

<div class="div2">
    B.&nbsp;&nbsp; 4545

</div>
<br>

<div class="div2">
    C.&nbsp;&nbsp; 5050

</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp; 5555

</div>

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
<p>
    <b><u>Method 1:</b></u>
    <br><br>
    Let S<sub>100</sub> be the sum of first 100 numbers.
    <br><br>
    S<sub>100</sub> &nbsp;= 1 &plus; 2 &plus;3 &plus;4 &plus; &minus; &minus; &minus; &plus; 100&minus;&minus;
    &gt; Eq-1
    <br><br>
    S<sub>100</sub> &nbsp;= 100 &plus; 99 &plus; 98 &plus;
    97&plus;&nbsp; &minus;&minus; &minus; &plus; 1 &minus; &minus; &gt; Eq-2
    <br><br>
    by adding Eq-1 and Eq-2
    <br><br>
    2S<sub>100</sub> = 101 &plus; 101 &plus; 101 &plus; 101 &plus; - - - - &plus; 101 upto 100
    times
    <br><br>
    2S<sub>100</sub> = 101 &times;100
    <br><br>
    S<sub>100</sub> = <font size="4">10100&frasl;2</font>
    <br><br>
    S<sub>100</sub> = 5050
    <br><br>
    <b><u>Method 2:</u></b>
    <br><br>
    Here the natural numbers are
    <br><br>
    1,2,3,4, - - - - 100 these are in A.P
    <br><br>
    Here Common difference is 1
    <br><br>    
    We know that the Sum of n terms is
    <br><br>
    S<sub>n</sub> = (<sup>n</sup>&frasl;<sub>2</sub>)(2a &plus; (n &minus; 1)d)
    <br><br>
    For the natural numbers from 1 to 100, there is a common difference of d = 1
    <br><br>
    S<sub>100</sub> = (<sup>100</sup>&frasl;<sub>2</sub>)[2(1) &plus; (100 &minus; 1)1]
    <br><br>
    S<sub>100</sub> = 50 &times; 101
    <br><br>
    S<sub>100</sub> = 5050
    <br><br>

</p>
</div>
</body>
</html>