<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:8</h2>
<hr>
<p>
    For the Sequence in A.P,Sum of first six terms is 0 and 4<sup>th</sup> term is 2, then the sum of first 10 terms is
</p>

<div>
    A.&nbsp;&nbsp; 75

</div>

<br>

<div>
    B.&nbsp;&nbsp; 80

</div>

<br>

<div>
    C.&nbsp;&nbsp; 85

</div>

<br>

<div>
    D.&nbsp;&nbsp; 90

</div>

<h2><u>Answer</u>: B</h2>
<h3>Solution: </h3>
<p>
    Let <b>a</b> be the the Initial term and <b>d</b> be the common difference then
    <br><br>
    The sequence of 1<sup>st</sup> six numbers is
    <br><br>
    a, a &plus; d, a &plus; 2d, a &plus; 3d, a &plus; 4d, a &plus; 5d
    <br><br>
    4<sup>th</sup> term = 2
    <br><br>
    We know that <b>n<sup>th</sup></b> term is
    <br><br>
    <b>n<sup>th</sup></b> term = a &plus; (n &minus; 1)d
    <br><br>
    So 4<sup>th</sup> term = 2
    <br><br>
    a &plus; (4 &minus; 1)d = 2
    <br><br>
    a &plus; 3d = 2
    <br><br>
    a = 2 &minus; 3d &minus;&minus;&minus;&minus;&minus;&gt; Eq.1
    <br><br>
    Given that sum of first 6 terms = 0
    <br><br>
    a &plus; (a &plus; d) &plus; (a &plus; 2d) &plus; (a &plus; 3d) &plus; (a &plus; 4d) &plus;
    (a &plus; 5d) = 0
    <br><br>
    6a &plus; 15d = 0
    <br><br>
    Substitute Eq.1 in Above Eq
    <br><br>
    6(2 &minus; 3d) &plus; 15d = 0
    <br><br>
    12 &minus; 18d &plus; 15d = 0
    <br><br>
    12 &minus; 3d = 0
    <br><br>
    3d = 12
    <br><br>
    d = 4
    <br><br>
    Now From Eq.1
    <br><br>
    <b>a</b> = 2 &minus; 3d
    <br><br>
    <b>a</b> = 2 &minus; (3 &times; 4)
    <br><br>
    <b>a</b> = 2 &minus; 12
    <br><br>
    <b>a</b> = &minus; 10
    <br><br>
    Now the sum of first <b>n</b> numbers with <b>a</b> and <b>d</b> is
    <br><br>
    S<sub>n</sub> = (<sup>n</sup>&frasl;<sub>2</sub>)[2a &plus; (n &minus; 1)d]
    <br><br>
    S<sub>10</sub> = (<sup>10</sup>&frasl;<sub>2</sub>)[2(&minus; 10) &plus; (10 &minus; 1)4]
    <br><br>
    S<sub>10</sub> = 5[&minus;20 &plus; 36]
    <br><br>
    S<sub>10</sub> = 5[16]
    <br><br>
    S<sub>10</sub> = 80
    <br><br>

<p>
</body>
</html>
