<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:7</h2>
<hr>
<p>
    What are the basic terms (1<sup>st</sup> term and common difference) in A.P of the sequence whose
    10<sup>th</sup> term is 5 and 18<sup>th</sup> term is 77
</p>

<div>
    A.&nbsp;&nbsp; a = &minus;67, d = 8

</div>
<br>

<div>
    B.&nbsp;&nbsp; a = &minus;76, d = 8

</div>
<br>

<div>
    C.&nbsp;&nbsp; a = &minus;76, d = 9

</div>
<br>

<div>
    D.&nbsp;&nbsp; a = &minus;67, d = 9

</div>

<h2><u>Answer</u>: D</h2>
<h3>Solution: </h3>
<p>
    Given that
    <br><br>
    <b>10<sup>th</sup></b> term = 5
    <br><br>
    <b>18<sup>th</sup></b> term = 77
    <br><br>
    Let <b>a</b> be the Initial term and <b>d</b> be the common difference between two successive
    numbers in the sequence
    <br><br>
    We know that <b>n<sup>th</sup></b> term t<sub>n</sub> is
    <br><br>
    t<sub>n</sub>= a &plus; (n &minus; 1)d
    <br><br>
    <b>t<sub>10</sub></b> = 5
    <br><br>
    a &plus; (10 &minus; 1)d = 5
    <br><br>
    a &plus; 9d = 5 &minus;&minus;&minus;&minus;&minus; &gt; 1
    <br><br>
    and <b>t<sub>18</sub></b> = 77
    <br><br>
    a &plus; (18 &minus; 1)d = 77
    <br><br>
    a &plus; 17d = 77 &minus;&minus;&minus;&minus;&minus; &gt; 2
    <br><br>
    Now Lets remove Eq.1 from Eq.2
    <br><br>
    Eq.2 &minus; Eq.1
    <br><br>
    (a &plus; 17d) &minus; (a &plus; 9d) = 77 - 5
    <br><br>
    8d = 72
    <br><br>
    d = <sup>72</sup>&frasl;<sub>8</sub>
    <br><br>
    d = 9
    <br><br>
    From Eq.1
    <br><br>
    a &plus; 9d = 5
    <br><br>
    a &plus; 9(8) = 5
    <br><br>
    a = 5 &minus; 72
    <br><br>
    a = &minus; 67
    <br><br>

<p>
</body>
</html>