{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:10</h1>
<hr>
<p>
If the sum of 4 numbers which are in arithmetic progression is 50 and greatest number is 4 times the least number, then the numbers in the series are 
</p>


<div class="div2">
	A.&nbsp;&nbsp; 4, 8, 12, 16

</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp; 5, 10, 15, 20

</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp; 10, 20, 30, 40

</div>
<br>

<div class="div2">
	D.&nbsp;&nbsp; 6, 12, 18, 24

</div>

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
<p>
	Given <b>a</b> and <b>d</b> be the Initial and difference of the Sequence of numbers which are in A.P
	<br><br>
	So the 4 numbers in the Sequence will be
	<br><br>
	a, a&plus;d, a&plus;2d, a&plus;3d
	<br><br>
	Given that the sum of these 4 numbers is 50
	<br><br>
	i.e, a &plus; (a&plus;d) &plus; (a&plus;2d) &plus; (a&plus;3d)
	<br><br>
	4a &plus; 6d = 50 &minus;&minus;&minus;&minus; &gt; Eq.1
	<br><br>
	Given that greatest term in the sequence is equal to 4 times of least number
	<br><br>
	Here
	<br><br>
	Greatest term = a &plus; 3d
	<br><br>
	Least term = a
	<br><br>
	According to the condition
	<br><br>
	a &plus; 3d = 4(a)
	<br><br>
	4a &minus; a = 3d
	<br><br>
	3a = 3d
	<br><br>
	a = d
	<br><br>
	Substitute a in Eq.1, then 
	<br><br>
	4d + 6d = 50
	<br><br>
	10d = 50
	<br><br>
	d = 5
	<br><br>
	a = d = 5
	<br><br>
	So sequence is as follows
	<br><br>
	5, 5 &plus; 5, 5 &plus; 2(5), 5 &plus; 3(5)
	<br><br>
	5, 10, 15, 20
	<br><br>
<p>
</div>
</body>
</html>
