{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:12</h2>
<hr>
<p>
    Given 5<sup>th</sup> term is 50421 and 3<sup>rd</sup> term is 10299 then 1<sup>st</sup> term and
    common ratio in of the Sequence in G.P will be
</p>


<div class="div2">
    A.&nbsp;&nbsp; a = 7, r = 7

</div>

<br>

<div class="div2">
    B.&nbsp;&nbsp; a = 21, r = 7

</div>

<br>

<div class="div2">
    C.&nbsp;&nbsp; a = 3, r = 7

</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp; a = 21, r = 3

</div>

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
<p>
    Given 5<sup>th</sup> term = t<sub>5</sub> = 50421
    <br><br>
    And 3<sup>rd</sup> term = t<sub>3</sub> = 1029
    <br><br>
    We know that n<sup>th</sup> term = t<sub>n</sub>
    <br><br>
    t<sub>n</sub> = ar<sup>(n &minus; 1)</sup>
    <br><br>
    where <b>a</b> and <b>r</b> be the initial term and common ratio of the sequence of numbers
    which are in G.P
    <br><br>
    Given t<sub>5</sub> = 50421
    <br><br>
    ar<sup>4</sup> = 50421 &minus;&minus;&minus;&minus;&gt; Eq.1
    <br><br>
    t<sub>3</sub> = 1029
    <br><br>
    ar<sup>2</sup> = 1029 &minus;&minus;&minus;&minus; &gt; Eq.2
    <br><br>
    Now Divide Eq.1 by Eq.2
    <br><br>
    <font size="4"><sup>(ar<sup>4</sup>)</sup> &frasl; <sub>(ar<sup>2</sup>)</sub> =
        <sup>50421</sup>&frasl;<sub>1029</sub></font>
    <br><br>
    r<sup>2</sup> = 49
    <br><br>
    r = 7
    <br><br>
    From Eq.2
    <br><br>
    ar<sup>2</sup> = 1029
    <br><br>
    a &times; 7<sup>2</sup> = 1029
    <br><br>
    a = <font size="4"><sup>1029</sup>&frasl;<sub>49</sub></font>
    <br><br>
    a = 21.
    <br><br>

<p>
</div>
</body>
</html>
