<html>
<body>
<head>
	<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:13</h1>
<hr>
<p>
	The sum of 1<sup>st</sup> 6 terms of the sequence in G.P with a=3 and common ratio r = 3 is
</p>

<div>
	A.&nbsp;&nbsp; 1029
	
</div>

<br>
<div>
	B.&nbsp;&nbsp; 1082

</div>

<br>
<div>
	C.&nbsp;&nbsp; 1092

</div>
<br>
			
<div>
	D.&nbsp;&nbsp; 1638

</div>
		
<h2><u>Answer</u>: C</h2>
<h3> Solution: </h3>
<p>
	Given a = 3 and r = 3
	<br><br>
	We know that sum of n terms is S<sub>n</sub>
	<br><br>
	S<sub>n</sub> = a[<sup>(1 &minus; r<sup>n</sup>)</sup> &frasl; <sub>(1&minus; r)</sub>]
	<br><br>
	So the sum of 6 terms is S<sub>n</sub>
	<br><br>
	S<sub>6</sub> = 3[<sup>(1 &minus; 3<sup>6</sup>)</sup> &frasl; <sub>(1 &minus; 3)</sub>]
	<br><br>
	S<sub>6</sub> = 3[<sup>(1 &minus; 729)</sup> &frasl; <sub>(&minus; 2)</sub>]
	<br><br>
	S<sub>6</sub> = 3[<sup>(&minus; 728)</sup> &frasl; <sub>(&minus; 2)</sub>]
	<br><br>
	S<sub>6</sub> = 3 (364)
	<br><br>
	S<sub>6</sub> = 1092
	<br><br>
<p>
</body>
</html>
