<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question: 14 </u></h2>
<hr>
<p>
    Given the sequence 7, 0.7, 0.07, - - - - - , &infin;, then the sum of infinity numbers is
</p>

<div>
    A.&nbsp;&nbsp; 6.99999

</div>

<br>

<div>
    B.&nbsp;&nbsp; 6.7778


</div>

<br>

<div>
    C.&nbsp;&nbsp; 7.7778


</div>
<br>

<div>
    D.&nbsp;&nbsp; 7.99999


</div>

<h2><u>Answer</u>: C</h2>
<h3>Solution: </h3>
    Given the Sequence 7, 0.7, 0.07, 0.007, - - - , &infin;
    <br><br>
    Sum of the Infinite numbers is
    <br><br>
    S<sub>&infin;</sub> = 7&plus;0.7&plus;0.07&plus;0.007&plus;- - - - &plus; &infin;
    <br><br>
    S<sub>&infin;</sub> = 7[1 &plus; 0.1 &plus; 0.01 &plus; 0.001 &plus; - - - &plus; &infin;]
    <br><br>
    S<sub>&infin;</sub> = 7[1 &plus; (<sup>1</sup>&frasl;<sub>10</sub>) &plus; (<sup>1</sup>&frasl;<sub>100</sub>)&plus;
    (<sup>1</sup>&frasl;<sub>1000</sub>)&plus; - - - &plus; &infin;]
    <br><br>
    If we observe the sum, the common ratio can be calculated as
    <br><br>
    r = <sup>(<sup>1</sup>&frasl;<sub>10</sub>)</sup> &frasl; <sub>1</sub>
    <br><br>
    r = (<sup>1</sup>&frasl;<sub>10</sub>)
    <br><br>
    a = 1
    <br><br>
    Then sum of Infinity terms is
    <br><br>
    S<sub>1&infin;</sub> = 1 &plus; (<sup>1</sup>&frasl;<sub>10</sub>) &plus; (<sup>1</sup>&frasl;<sub>100</sub>) &plus;
    (<sup>1</sup>&frasl;<sub>1000</sub>)&plus;- - &plus;&infin;
    <br><br>
    S<sub>1&infin;</sub> = <sup>a</sup> &frasl;<sub>(1 &minus; r)</sub>
    <br><br>
    S<sub>1&infin;</sub> = <sup>1</sup>&frasl;<sub>(1 &minus; (1&frasl;10)</sub>
    <br><br>
    S<sub>1&infin;</sub> = <sup>10</sup>&frasl;<sub>(10&minus;1)</sub>
    <br><br>
    S<sub>1&infin;</sub> = <sup>10</sup>&frasl;<sub>9</sub>
    <br><br>
    Then the sum of Infinite terms
    <br><br>
    S<sub>&infin;</sub> = 7 [<sup>10</sup>&frasl;<sub>9</sub>]
    <br><br>
    S<sub>&infin;</sub> = <sup>70</sup>&frasl;<sub>9</sub>
    <br><br>
    S<sub>&infin;</sub> = 7.778.
    <br><br>

<p>
</body>
</html>