<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:15</h2>
<hr>
<p>
    The sum of 6 terms is 6825 and sum of 3 terms is 105 then the sum of 8 terms is
</p>

<div>
    A.&nbsp;&nbsp; 109252

</div>

<br>

<div>
    B.&nbsp;&nbsp; 109225

</div>

<br>

<div>
    C.&nbsp;&nbsp; 102995


</div>
<br>

<div>
    D.&nbsp;&nbsp; 102925

</div>


<h2><u>Answer</u>: B</h2>
<h3>Solution: </h3>
<p>
    Let <b>a</b> and <b>d</b> be the first term and common ratio of G.P
    <br><br>
    then Sum of n terms is S<sub>n</sub>
    <br><br>
    S<sub>n</sub> = a[<sup>(1 &minus; r<sup>n</sup>)</sup>&frasl;<sub>(1 &minus;
    r)</sub>]
    <br><br>
    Given that Sum of 6 terms = S<sub>6</sub> = 6825
    <br><br>
    and Sum of 3 terms = S<sub>3</sub> = 105
    <br><br>
    S<sub>6</sub> = a[<sup>(1 &minus; r<sup>6</sup>)</sup>&frasl;<sub>(1 &minus; r)</sub>]
    <br><br>
    S<sub>3</sub> = a[<sup>(1 &minus; r<sup>3</sup>)</sup>&frasl;<sub>(1 &minus; r)</sub>]
    <br><br>
    Now lets divide S<sub>6</sub> by S<sub>3</sub>
    <br><br>
    <sup>S<sub>6</sub></sup>&frasl;<sub>S<sub>3</sub></sub> = <sup>6825</sup>&frasl;<sub>105</sub>
    <br><br>
    {a[<sup>(1 &minus; r<sup>6</sup>)</sup>&frasl;<sub>(1 &minus; r)</sub>]}&frasl;{a[<sup>(1 &minus; r<sup>3</sup>)</sup> &frasl;<sub>(1 &minus; r)</sub>]} = 65
    <br><br>
    <sup>(1 &minus; r<sup>6</sup>)</sup>&frasl;<sub>(1 &minus; r<sup>3</sup>)</sub> = 65
    <br><br>
    <sup>(1 &minus; (r<sup>3</sup>)<sup>2</sup>)</sup>&frasl;<sub>(1 &minus; r<sup>3</sup>)</sub>
    = 65
    <br><br>
    <sup>(1<sup>2</sup> &minus; (r<sup>3</sup>)<sup>2</sup>)</sup>&frasl;<sub>(1 &minus;
    r<sup>3</sup>)</sub> = 65
    <br><br>
    <sup>[(1 &minus; r<sup>3</sup>)&times; (1 &plus; r<sup>3</sup>)]</sup>&frasl;<sub>(1 &minus; r<sup>3</sup>)</sub>
    = 65
    <br><br>
    (1 &plus; r<sup>3</sup>) = 65
    <br><br>
    r<sup>3</sup> = 65 &minus; 1 = 64
    <br><br>
    r = 4
    <br><br>
    Substitute <b>r</b> value in S<sub>3</sub>
    <br><br>
    a[<sup>(1 &minus; r<sup>3</sup>)</sup>&frasl;<sub>(1 &minus; r)</sub>] = 105
    <br><br>
    a[<sup>(1 &minus; 4<sup>3</sup>)</sup>&frasl;<sub>(1 &minus; 4)</sub>] = 105
    <br><br>
    a[<sup>(1 &minus; 64)</sup>&frasl;<sub>(1 &minus; 4)</sub>] = 105
    <br><br>
    a[<sup>(&minus;63)</sup>&frasl;<sub>(&minus;3)</sub>] = 105
    <br><br>
    a = <sup>(105 &times; 3)</sup>&frasl;<sub>63</sub>
    <br><br>
    a = 5
    <br><br>
    So the Sum of 8 terms of the Sequence with a = 5 and r =4
    <br><br>
    S<sub>8</sub> = a[<sup>(1 &minus; r<sup>8</sup>)</sup>&frasl;<sub>(1 &minus; r)</sub>]
    <br><br>
    S<sub>8</sub> = 5[<sup>(1 &minus; 4<sup>8</sup>)</sup>&frasl;<sub>(1 &minus; 4)</sub>]
    <br><br>
    S<sub>8</sub> = 5[<sup>(1 &minus; 65536)</sup>&frasl;<sub>(&minus; 3)</sub>]
    <br><br>
    S<sub>8</sub> = 5[<sup>(&minus;65535)</sup>&frasl;<sub>(&minus;3)</sub>]
    <br><br>
    S<sub>8</sub> = <sup>(5 &times;65535)</sup>&frasl;<sub>3</sub>
    <br><br>
    S<sub>8</sub> = 109225
    <br><br>
</p>
</body>
</html>