<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question :18</u></h2>
<hr>
<p>
    If the ratio of H.M to G.M of two numbers is 12:13 then the rario of numbers is
</p>

<div>
    A.&nbsp;&nbsp; <sup>2</sup>&frasl;<sub>5</sub> &nbsp; or &nbsp; <sup>5</sup>&frasl;<sub>2</sub>

</div>

<br>

<div>
    B.&nbsp;&nbsp; <sup>4</sup>&frasl;<sub>9</sub> &nbsp; or &nbsp; <sup>9</sup>&frasl;<sub>4</sub>


</div>

<br>

<div>
    C.&nbsp;&nbsp; <sup>2</sup>&frasl;<sub>3</sub> &nbsp; or &nbsp; <sup>3</sup>&frasl;<sub>2</sub>


</div>
<br>

<div>
    D.&nbsp;&nbsp; <sup>3</sup>&frasl;<sub>4</sub> &nbsp; or &nbsp; <sup>4</sup>&frasl;<sub>3</sub>


</div>

<h2><u>Answer</u>: B</h2>
<h3>Solution: </h3>
<p>
    Let the two numbers be a, b
    <br><br>
    We know the H.M = <sup>(2ab)</sup>&frasl;<sub>(a &plus; b)</sub>
    <br><br>
    G.M = &radic;<span style="text-decoration:overline;">&nbsp;(ab)&nbsp;</span>
    <br><br>
    Given the ratio of H.M to G.M is 12:13
    <br><br>
    <sup>H.M</sup>&frasl;<sub>G.M</sub> = <sup>12</sup>&frasl;<sub>13</sub>
    <br><br>
    [<sup>(2ab)</sup>&frasl;<sub>(a &plus; b)</sub>]&frasl;<sub>&radic;<span style="text-decoration:overline;">&nbsp;(ac)&nbsp;</span></sub> =
    <sup>12</sup>&frasl;<sub>13</sub>
    <br><br>
    <sup>(2ab)</sup>&frasl;<sub>[(a &plus; b) &times; &radic;<span style="text-decoration:overline;">&nbsp;ab&nbsp;</span>]</sub> = <sup>12</sup>&frasl;<sub>13</sub>
    <br><br>
    <sup>(2 &radic;<span style="text-decoration:overline;">&nbsp;ab&nbsp;</span>)</sup>&frasl;<sub>(a &plus; b)</sub> = <sup>12</sup>&frasl;<sub>13</sub>
    <br><br>
    Squaring on Both Sides
    <br><br>
    <sup>4ab</sup>&frasl;<sub>(a &plus; b)<sup>2</sup></sub> = <sup>144</sup> &frasl;
    <sub>169</sub>
    <br><br>
    <sup>ab</sup>&frasl;<sub>(a<sup>2</sup> &plus; b<sup>2</sup> &plus; 2ab)</sub> =
    <sup>144</sup>&frasl;<sub>(169 &times;4)</sub>
    <br><br>
    <sup>ab</sup>&frasl;<sub>(a<sup>2</sup> &plus; b<sup>2</sup> &plus; 2ab)</sub> =
    <sup>36</sup>&frasl;<sub>169</sub>
    <br><br>
    <sup>(a<sup>2</sup> &plus; b<sup>2</sup> &plus; 2ab)</sup>&frasl;<sub>ab</sub> =
    <sup>169</sup>&frasl;<sub>36</sub>
    <br><br>
    [<sup>(a<sup>2</sup> &plus; b<sup>2</sup>)</sup>&frasl;<sub>ab</sub>] &plus; 2 =
    <sup>169</sup>&frasl;<sub>36</sub>
    <br><br>
    <sup>(a<sup>2</sup> &plus; b<sup>2</sup>)</sup>&frasl;<sub>ab</sub> = (<sup>169</sup> &frasl;
    <sub>36</sub>) &minus; 2
    <br><br>
    <sup>(a<sup>2</sup> &plus; b<sup>2</sup>)</sup>&frasl;<sub>ab</sub> = <sup>(169 &minus;
    72)</sup>&frasl;<sub>36</sub>
    <br><br>
    <sup>(a<sup>2</sup> &plus; b<sup>2</sup>)</sup>&frasl;<sub>ab</sub> = <sup>(97)</sup> &frasl;
    <sub>36</sub>
    <br><br>
    a<sup>2</sup> &plus; b<sup>2</sup> = 97 and ab = 36
    <br><br>
    (a &minus; b)<sup>2</sup> = a<sup>2</sup> &plus; b<sup>2</sup> &minus; 2ab
    <br><br>
    (a &minus; b)<sup>2</sup> = 97 &minus; 2(36)
    <br><br>
    (a &minus; b)<sup>2</sup> = 97 &minus; 72 = 25
    <br><br>
    a &minus; b = &plusmn;5
    <br><br>
    (a &plus; b)<sup>2</sup> = a<sup>2</sup> &plus; b<sup>2</sup> &plus; 2ab
    <br><br>
    (a &plus; b)<sup>2</sup> = 97 &plus; 2(36)
    <br><br>
    (a &plus; b)<sup>2</sup> = 97 &plus; 72
    <br><br>
    (a &plus; b)<sup>2</sup> = 169
    <br><br>
    a &plus; b = &plusmn;13
    <br><br>
    Let us take positive values
    <br><br>
    a &plus; b = 13 and a &minus; b = 5
    <br><br>
    Adding above two
    <br><br>
    a &plus; b &plus; a &minus; b = 13 &minus; 5
    <br><br>
    2a = 8
    <br><br>
    a = 4
    <br><br>
    a &plus; b = 13
    <br><br>
    4 &plus; b = 13
    <br><br>
    b = 13 &minus; 4
    <br><br>
    b = 9
    <br><br>
    The ratio of numbers is <font size="4"><b><sup>a</sup>&frasl;<sub>b</sub> =
    <sup>4</sup>&frasl;<sub>9</sub></b></font>
    <br><br>
    Similarly let us take negative values
    <br><br>
    a &plus; b = &minus;13 and a &minus; b = &minus;5
    <br><br>
    Adding both Eqs.
    <br><br>
    2a = &minus; 18
    <br><br>
    a = &minus; 9
    <br><br>
    (&minus;9) &plus; b = &minus;13
    <br><br>
    b = &minus;13 &plus; 9
    <br><br>
    b = &minus;4
    <br><br>
    So ratio = <sup>a</sup>&frasl;<sub>b</sub> = <sup>(&minus;9)</sup>&frasl;<sub>(&minus;4)</sub>
    <br><br>
    <font size="4"><b><sup>a</sup>&frasl;<sub>b</sub> = <sup>9</sup>&frasl;<sub>4</sub></b></font>
    <br><br>
<p>
</body>
</html>