<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:9</h2>
<hr>
<p>
    If X, X<sup>3</sup>&plus;1, X<sup>4</sup> are in arithmatic progression then the possible sum of
    three terms of the arithmetic progression will be
</p>

<div>
    A.&nbsp;&nbsp; 7, 4

</div>
<br>

<div>
    B.&nbsp;&nbsp; 27, 0

</div>
<br>

<div>
    C.&nbsp;&nbsp; 27, 4

</div>
<br>

<div>
    D.&nbsp;&nbsp; 7, 0


</div>

<h2><u>Answer</u>: B</h2>
<h3>Solution: </h3>
<p>
    Given that X, X<sup>3</sup>&plus;1, X<sup>4</sup> are in arithmatic progression
    <br><br>
    So common difference between two successive numbers is same
    <br><br>
    (X<sup>3</sup>&plus;1) &minus; X = (X<sup>4</sup>) &minus; (X<sup>3</sup>&plus;1)
    <br><br>
    X<sup>3</sup>&plus;1 &minus; X = X<sup>4</sup> &minus; X<sup>3</sup> &minus;1
    <br><br>
    X<sup>3</sup>&plus;1 &plus; X<sup>3</sup>&plus;1 &minus; X<sup>4</sup> &minus; X = 0
    <br><br>
    2X<sup>3</sup>&plus; 2 &minus; X<sup>4</sup> &minus; X = 0
    <br><br>
    2(X<sup>3</sup>&plus;1) &minus; X(X<sup>3</sup>&plus;1) = 0
    <br><br>
    (X<sup>3</sup>&plus;1)(2 &minus; X) = 0
    <br><br>
    from above eq. we have two possibilities
    <br><br>
    2 &minus; X = 0 = > X = 2
    <br><br>
    X<sup>3</sup>&plus;1 = 0
    <br><br>
    X<sup>3</sup> = &minus;1 => X = &minus; 1
    <br><br>
    Sum of 3 terms is
    <br><br>
    S<sub>3</sub> = X &plus; X<sup>3</sup>&plus;1 &plus; X<sup>4</sup>
    <br><br>
    If X = 2, then the sum is
    <br><br>
    S<sub>3</sub> = 2 &plus; 2<sup>3</sup>&plus;1 &plus; 2<sup>4</sup>
    <br><br>
    S<sub>3</sub> = 2 &plus; 8 &plus; 1 &plus; 16
    <br><br>
    S<sub>3</sub> = 27
    <br><br>
    If X = &minus; 1, then sum is
    <br><br>
    S<sub>3</sub> = (&minus; 1) &plus; (&minus; 1)<sup>3</sup>&plus;1 &plus; (&minus; 1)<sup>4</sup>
    <br><br>
    S<sub>3</sub> = (&minus;1) &plus; (&minus; 1) &plus; 1 &plus; 1
    <br><br>
    S<sub>3</sub> = 0
    <br><br>

<p>
</body>
</html>