{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
    <title>Progressions Tutorial</title>
</head>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1>Progressions</p1>
</u></b></font>
<hr/>
<hr/>


<p><font size="4"> <u>Arithmetic Progressions (A.P)</u></font>
    <br><br>
    The sequence of the numbers in A.P is of the form with <b>a</b> as initial term and <b>d</b> as
    common difference between two successive numbers in the sequence is
    <br><br>
    a, a &plus;d, a &plus;2d, a &plus;3d, a &plus;4d, - - - - ,a&plus;(n-1)d
    <br><br>
    Difference between two successive numbers is
    <br><br>
    (a &plus;d)-a = d
    <br><br>
    (a &plus;2d) &minus; (a &plus; d) = d
    <br><br>
    Here a &plus;(n&minus;1)d is the <b>n<sub>th</sub></b> term of the Sequence
    <br><br>
    <b><u>Sum of n terms</u></b>:
    <br><br>
    Let us assume that the sequence which is in A.P as follows
    <br><br>
    a, a &plus;d, a &plus;2d, a &plus;3d, a &plus;4d, - - - - ,a&plus;(n-1)d
    <br><br>
    Let S<sub>n</sub> be the Sum of n terms
    <br><br>
    Then S<sub>n</sub> = a &plus; (a &plus;d) &plus; (a &plus;2d) &plus; (a &plus;3d) &plus;
    (a &plus;4d) &plus; - - - - &plus;(a&plus;(n-1)d)
    <br><br>
    S<sub>n</sub> = (a &plus; a &plus; a &plus; - - - a up to n times)+(d &plus; 2d &plus; 3d &plus;
    - - - - &plus; (n-1)d)
    <br><br>
    S<sub>n</sub> = (n &times; a) &plus; d[1 &plus; 2+ &plus; 3 &plus; - - - (n-1)]
    <br><br>
    <b>Note:
        <br><br>
        We know that the sum of n natural numbers is
        <br><br>
        1, 2, 3, 4, - - - , n
        <br><br>
        S<sub>n</sub> = (<sup>n</sup>&frasl;<sub>2</sub>)<sup>n(n &plus; 1)</sup>&frasl;
        <sub>2</sub></b>
    <br><br>
    So S<sub>n</sub> = (n &times; a) &plus; d[<sup>[n&times;(n&minus;1)]</sup>&frasl; <sub>2</sub>]
    <br><br>
    S<sub>n</sub> = n[a &plus; (d &times; <sup>(n&minus;1)</sup>&frasl; <sub>2</sub>)]
    <br><br>
    S<sub>n</sub> = (<sup>n</sup>&frasl;<sub>2</sub>)(2a &plus; d(n&minus;1))
    <br><br>
    S<sub>n</sub> = (<sup>n</sup>&frasl;<sub>2</sub>)(a &plus; a &plus; d(n&minus;1))
    <br><br>
    S<sub>n</sub> = (<sup>n</sup>&frasl;<sub>2</sub>)(a &plus; t<sub>n</sub>)
    <br><br>
    S<sub>n</sub> = (<sup>n</sup>&frasl;<sub>2</sub>)(First term &plus; Last Term)
    <br><br>
    <font size="4"> <u>Arithmetic Mean (A.M)</u></font>

<p>

    Given two numbers a and b.The number which can be insert between these two numbers to make the
    numbers in A.P is called Arithmetic Mean(A.M).
    <br><br>
    So the sequence with A.M as A is
    <br><br>
    a, A, b
    <br><br>
    Here the common difference between two successive numbers is
    <br><br>
    A &minus; a = b &minus; A
    <br><br>
    A &minus; A = b &plus; a
    <br><br>
    2A = a &plus; b
    <br><br>
    A = <sup>(a &plus; b)</sup>&frasl;<sub>2</sub>
    <br><br>
    Arithmetic Mean (A.M) = <sup>(a &plus; b)</sup>&frasl;<sub>2</sub>
    <br><br>
    If the three numbers a, b, c are in A.P then b is called Arithmetic Mean (A.M)
    <br><br>
    A.M (b) = <sup>(a &plus; c)</sup>&frasl;<sub>2</sub>
    <br><br>

<p>

<p>

<p>
    <font size="4"> <u>Geometric Progressions (G.P) : </u></font>
    <br><br>
    The Sequence of the terms in geometric progression are of the form with <b>a</b> as initial term
    and <b>r</b> as common ratio between two successive numbers is as follows
    <br><br>
    a, ar, ar<sup>2</sup>, ar<sup>3</sup>, ar<sup>4</sup>, - - - - , ar<sup>(n&minus;1)</sup>
    <br><br>
    where first term t<sub>1</sub> = a
    <br><br>
    second term t<sub>2</sub> = ar
    <br><br>
    third term t<sub>3</sub> = ar<sup>2</sup>
    <br><br>
    n<sup>th</sup> term t<sub>n</sub> = ar<sup>(n-1)</sup>
    <br><br>
    Now ratio between 2nd and first term is
    <br><br>
    <sup>t<sub>2</sub></sup>&frasl;<sub>t<sub>1</sub></sub> = <sup>ar</sup>&frasl;<sub>a</sub> =
    r
    <br><br>
    Similarly ratio between 3rd and 2nd terms
    <br><br>
    <sup>t<sub>3</sub></sup>&frasl;<sub>t<sub>2</sub></sub> = <sup>ar<sup>2</sup></sup>&frasl;
    <sub>ar</sub> = r
    <br><br>
    <b><u>Sum of n Terms:</u></b>
    Let the sequence of terms in G.P is as follows
    <br><br>
    a, ar, ar<sup>2</sup>, ar<sup>3</sup>, ar<sup>4</sup>, - - - - , ar<sup>(n&minus;1)</sup>
    <br><br>
    Let S<sub>n</sub> be the Sum of n terms
    <br><br>
    then S<sub>n</sub> = a&plus; ar&plus; ar<sup>2</sup>&plus; ar<sup>3</sup>&plus; ar<sup>4</sup>&plus;
    - - - - &plus; ar<sup>(n&minus;1)</sup>
    <br><br>
    S<sub>n</sub> = a[r &plus; r<sup>2</sup> &plus; r<sup>3</sup> &plus; &plus; - - - - &plus;
    r<sup>(n-1)</sup>]
    <br><br>
    S<sub>n</sub> = a[<sup>(1 &minus;r<sup>n</sup>)</sup>&frasl;<sub>(1 &minus; r)</sub>] where
    r &ne; 1
    <br><br>
    Now sum of infinity number which are in G.P is
    <br><br>
    S<sub>&infin;</sub> = <sup>a</sup>&frasl;<sub>(1-r)</sub> where r &lt; 1
    <br><br>
    <font size="4"> <u>Geometric Mean (G.M)</u></font>

<p>
    Given two numbers a and b.The number which can be insert between these two numbers to make the
    numbers in G.P is called Geometric Mean(G.M).
    <br><br>
    Now Let us assume that G is the G.M of the Two numbers a and b, then the sequence is
    <br><br>
    a, G, b are in G.P
    <br><br>
    Let us calculate the common ratio between two successive numbers as
    <br><br>
    <sup>G</sup>&frasl;<sub>a</sub> = <sup>b</sup>&frasl;<sub>G</sub>
    <br><br>
    G &times; G = b &times; a
    <br><br>
    G<sup>2</sup> = ab
    <br><br>
    G = &radic;<span style="text-decoration:overline;">&nbsp;ab&nbsp;</span>
    <br><br>
    If a,b and c are in G.P then Geometric mean of the sequence is G.M(b)
    <br><br>
    G.M (b) = &radic;<span style="text-decoration:overline;">&nbsp;ab&nbsp;</span>
    <br>

<p>

<p>

<p>
    <font size="4"> <u>Harmonic Progressions (H.P): </u></font>
    <br><br>
    If the sequence is in A.P, then the reciprocal of every term in sequence forms as H.P
    <br><br>
    If a, b and c are in A.P, then <sup>1</sup>&frasl;<sub>a</sub>, <sup>1</sup>&frasl;
    <sub>b</sub>, <sup>1</sup>&frasl;<sub>c</sub> are in H.P
    <br>

<p>
    <font size="4"> <u>Harmonic Mean (H.M)</u></font>

<p>
    Let <sup>1</sup>&frasl;<sub>a</sub>, <sup>1</sup>&frasl;<sub>H</sub>, <sup>1</sup>&frasl;
    <sub>b</sub> are in A.P then there must be constant difference between two successive numbers
    <br><br>
    So (<sup>1</sup>&frasl;<sub>H</sub>) &minus; (<sup>1</sup>&frasl;<sub>a</sub>) =
    (<sup>1</sup>&frasl;<sub>b</sub>) &minus; (<sup>1</sup>&frasl;<sub>H</sub>)
    <br><br>
    <sup>2</sup>&frasl; <sub>H</sub> = (<sup>1</sup>&frasl;<sub>a</sub>) &plus; (<sup>1</sup>&frasl;<sub>b</sub>)
    <br><br>
    <sup>2</sup>&frasl;<sub>H</sub> = <sup>(a &plus; b)</sup>&frasl;<sub>ab</sub>
    <br><br>
    H = <sup>(2ab)</sup>&frasl;<sub>(a &plus; b)</sub>
    <br><br>

<p>

<p>
    <b><u>Relation between A.M, G.M and G.M is </u></b>
    <br><br>
    G<sup>2</sup> = A &times; H where A &gt; G &gt; H

<p>
</body>


</html>