{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:17</h2>
<hr>
<p>
    The 1st term of a G.P is 7 and 5th term is 567.All the terms are positive.Find the common ratio
    and sum of first 6 terms

</p>


<div class="div2">
    A.&nbsp;&nbsp; 3 and 22960

</div>

<br>

<div class="div2">
    B.&nbsp;&nbsp; 3 and 2548


</div>

<br>

<div class="div2">
    C.&nbsp;&nbsp; 7 and 22960


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp; 7 and 2548


</div>

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
<p>
    Given a = 7
    <br><br>
    5<sub>th</sub> term = 567
    <br><br>
    We know that the n<sup>th</sup> term
    <br><br>
    t<sub>n</sub> = ar<sup>(n &minus; 1)</sup>
    <br><br>
    So 5<sup>th</sup> term
    <br><br>
    t<sub>5</sub> = 7 &times; r<sup>(5 &minus; 1)</sup>
    <br><br>
    567 = 7 &times; r<sup>4</sup>
    <br><br>
    r<sup>4</sup> = <sup>567</sup>&frasl; <sub>7</sub>
    <br><br>
    r<sup>4</sup> = 81
    <br><br>
    r<sup>4</sup> = 3<sup>4</sup>
    <br><br>
    r = 3
    <br><br>
    We know that the sum of first n terms in G.P
    <br><br>
    S<sub>n</sub> = a[<sup>(1 &minus; r<sup>n</sup>)</sup>&frasl;<sub>(1 &minus; r)</sub>]
    <br><br>
    SO the sum of 6 terms is
    <br><br>
    S<sub>6</sub> = 7[<sup>(1 &minus; 3<sup>6</sup>)</sup> &frasl; <sub>(1 &minus; 3)</sub>]
    <br><br>
    S<sub>6</sub> = 7[<sup>(1 &minus; 729)</sup> &frasl; <sub>(&minus; 2)</sub>]
    <br><br>
    S<sub>6</sub> = 7(364)
    <br><br>
    S<sub>6</sub> = 2548
    <br><br>

<p>
</div>
</body>
</html>