{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:3</h2>
<hr>
<p>
    Find the common difference of the sequence which is in Arithmetic Progression where initial term is 19, final term is 96 and number of terms = 12

<p>

<div class="div2">
    A.&nbsp;&nbsp; 5

</div>
<br>

<div class="div2">
    B.&nbsp;&nbsp; 6


</div>
<br>

<div class="div2">
    C.&nbsp;&nbsp; 7


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp; 9


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
<p>
    Given Initial term a = 19
    <br><br>
    n = 12
    <br><br>
    final term t<sub>n</sub> = 96
    <br><br>
    We know that n<sup>th</sup> term is
    <br><br>
    t<sub>n</sub> = a &plus; (n &minus; 1)d
    <br><br>
    96 = 19 &plus; (12 &minus; 1)d
    <br><br>
    96 &minus; 19 = 11d
    <br><br>
    77 = 11d
    <br><br>
    d = <sup>77</sup>&frasl;<sub>11</sub>
    <br><br>
    d = 7
    <br><br>

<p>
</div>
</body>
</html>
