{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:37</h2>
<hr>
<p>
Find the least number which when multiplied by 588 gives a perfect square number


</p>


<div class="div2">
	A.&nbsp;&nbsp;1

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;2

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;3

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;7

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

588=2&times;2&times;3&times;7&times;7<br><br>
Here except for 3 all other factors are in pairs<br><br>
We have to multiply 588 by 3 to make it a perfect square number<br><br>
Note: the number 588 can also be divided by 3 to get it a square number.

</div>
</body>
</html>
