<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:26</h1>
<hr>
<p>

The number of digits in the square root of a 17 digit perfect square number is :

</p>


<div>
	A.&nbsp;&nbsp;8

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;9

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;10

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;11

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

17 digits will make (8 pairs + 1 digit )<br><br>
Digits in the square root<br><br> = 8+1=9.

</body>
</html>
