<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:9</h1>
<hr>
<p>
What should be added to 1752 to make a perfect square number?


</p>


<div>
	A.&nbsp;&nbsp;6

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;10

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;12

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;18

	
</div>
		
	

<h2> <u>Answer</u>: c</h2>
41<sup>2</sup> = 1681, which is smaller than 1752.<br><br>
And 42<sup>2</sup> = 1764, which is slightly bigger than 1752.<br><br>
Required number is 1764-1752<br><br> = 12.


</body>
</html>
