<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:52</h2>
<hr>
<p>
    &#8731;
<span style="white-space: nowrap;">
				<span style="text-decoration:overline;">681472</span>
				</span>
    =?


</p>


<div>
    A.&nbsp;&nbsp;88


</div>
<br>
<div>
    B.&nbsp;&nbsp;98


</div>
<br>
<div>
    C.&nbsp;&nbsp;96


</div>
<br>

<div>
    D.&nbsp;&nbsp;76


</div>


<h2><u>Answer</u>: A</h2>

The cube root of a number ending in 2, will end in 8<br><br>
98 is near to 100. 100<sup>3</sup> = 1000000<br><br>
88 is near to 90.<br><br> 90<sup>3</sup> = 729000, which is near to 681472<br><br>
We check: 88<sup>3</sup> =<br><br><br><br>


512&nbsp;&nbsp; 512&nbsp;&nbsp; 512&nbsp;&nbsp; 512<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1024&nbsp;1024
<hr align="left" width="130px">

512 1536 1536 512
<hr align="left" width="130px">
=681472.


</body>
</html>
