{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:12</h1>
<hr>
<p>

What should be added to 16259 to make it a perfect square number?

</p>


<div class="div2">
	A.&nbsp;&nbsp;107

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;125

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;212

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;423

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

127<sup>2</sup> = 16129, which is smaller than 16259. <br><br>
And 128<sup>2</sup> = 16384, which is bigger than 16259.<br><br>
Required number is 16384-16259<br><br>= 125.

</div>
</body>
</html>
