<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:18</h1>
<hr>
<p>
The product of two consecutive natural numbers is 6162, what is the smaller number?


</p>


<div>
	A.&nbsp;&nbsp;72

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;76

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;78

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: c</h2>

6162 is smaller than 80<sup>2</sup> or 6400<br><br>
2 is the unit digit in 6162 and 8&times;9 = 72<br><br>
78&times;79=6162<br><br>
Required number is 78.

</body>
</html>
