<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:53</h2>
<hr>
<p>
    cube root of (148877) ?


</p>


<div>
    A.&nbsp;&nbsp;51


</div>
<br>
<div>
    B.&nbsp;&nbsp;59


</div>
<br>
<div>
    C.&nbsp;&nbsp;53


</div>
<br>

<div>
    D.&nbsp;&nbsp;49


</div>


<h2><u>Answer</u>: c</h2>

5<sup>3</sup> < 148 < 6 <sup>3</sup><br><br>
Ten&CloseCurlyQuote;s digit is 5<br><br>
Unit&CloseCurlyQuote;s digit is 10-7=3<br><br>
The required number is 53. <br><br>However we may check the cube of 53<br><br>
We check: 53<sup>3</sup> =<br><br>
125&nbsp;&nbsp; 75&nbsp;&nbsp; 45&nbsp;&nbsp; 27<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;150&nbsp; 90
<hr width=120px align=left>
125&nbsp; 125&nbsp; 135&nbsp; 27
<hr width=120px align=left>
= 148877.
</body>
</html>
