{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:53</h2>
<hr>
<p>
    cube root of (148877) ?


</p>


<div class="div2">
    A.&nbsp;&nbsp;51


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;59


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;53


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;49


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

5<sup>3</sup> < 148 < 6 <sup>3</sup><br><br>
Ten&CloseCurlyQuote;s digit is 5<br><br>
Unit&CloseCurlyQuote;s digit is 10-7=3<br><br>
The required number is 53. <br><br>However we may check the cube of 53<br><br>
We check: 53<sup>3</sup> =<br><br>
125&nbsp;&nbsp; 75&nbsp;&nbsp; 45&nbsp;&nbsp; 27<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;150&nbsp; 90
<hr width=120px align=left>
125&nbsp; 125&nbsp; 135&nbsp; 27
<hr width=120px align=left>
= 148877.
</div>
</body>
</html>
