<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:48</h1>
<hr>
<p>
2432&divide;? =

				<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;23104&nbsp;</span>
				</span>	



</p>


<div>
	A.&nbsp;&nbsp;12

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;14

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;18

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;16

	
</div>
		
	

<h2> <u>Answer</u>: d</h2>
2432&divide;? = 
				<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;23104&nbsp;</span>
				</span>	

=152<br><br>
? = 2432&divide;152<br><br>=16.


</body>
</html>
