{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:59</h2>
<hr>
<p>
    What is the unit&CloseCurlyQuote;s digit in the square root of 23409?


</p>


<div class="div2">
    A.&nbsp;&nbsp;1


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;3


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;5


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;7


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
The number is divided into three parts: 234|0|9<br><br>
Part I: <br><br>234= a<sup>2</sup><br><br>
a = 15<br><br>
Remainder = 9<br><br>
Part II:<br><br> 90 = 2ab<br><br>
b = 90&divide;2a<br><br>
=90&divide;30=3<br><br>
Remainder = 0<br><br>
Part III:<br><br> 9 = b<sup>2</sup> = 3<sup>2</sup>, remainder = 0<br><br>
a = 15 and b = 3<br><br>
<span style="white-space: nowrap;">
				&radic;<span style="text-decoration:overline;">&nbsp;23409&nbsp;</span>
				</span>is 153.


</div>
</body>
</html>
