{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:26</h1>
<hr>
<p>

The number of digits in the square root of a 17 digit perfect square number is :

</p>


<div class="div2">
	A.&nbsp;&nbsp;8

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;9

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;10

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;11

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

17 digits will make (8 pairs + 1 digit )<br><br>
Digits in the square root<br><br> = 8+1=9.

</div>
</body>
</html>
