<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:2</h1>
<hr>
<p>

The number of perfect cubes between 1 and 1000009 which are exactly divisible by 9 is:

</p>


<div>
	A.&nbsp;&nbsp;33

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;101

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;35

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;99

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>
100 <sup> 3</sup> < 1000009<101 <sup>3</sup><br><br>
Cube of a number which is multiple of 3, is divisible by 9.<br><br>
Between 1 and 100, there are 100&divide;3 = 33 multiple of 3.



</body>
</html>
