<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:44</h1>
<hr>
<p>
What is the cube root of 29791?


</p>


<div>
	A.&nbsp;&nbsp;21

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;31

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;37

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;39

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>
3<sup>3</sup> < 29 < 4<sup>3</sup><br><br>
Tens digit of cube root is 3<br><br>
Other part 791. Since the number ends in 1, therefore, cube root of the number ends in 1<br><br>
The cube root is 31.


</body>
</html>
