<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:61</h2>
<hr>
<p>
Find the square root of 33 <sup>1</sup>&frasl;<sub>16</sub>.


</p>


<div>
	A.&nbsp;&nbsp;33 <sup>1</sup>&frasl;<sub>4</sub>

	
</div>
<br>
<div>
	B.&nbsp;&nbsp; <sup>23</sup>&frasl;<sub>16</sub>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;5 <sup>3</sup>&frasl;<sub>4</sub>

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: c</h2>
<br><br>
	Let X = 33 <sup>1</sup>&frasl;<sub>16</sub><br><br>
	X = <sup>[(33&times;16)&plus;1)</sup>&frasl;<sub>16</sub><br><br>
	X = <sup>(528&plus;1)</sup>&frasl;<sub>16</sub><br><br>
	X = <sup>529</sup>&frasl;<sub>16</sub><br><br>
	Square root of X is
 = <span style="white-space: nowrap;"></span>
				&radic;<span 												style="text-decoration:overline;">&nbsp;529&divide;16



&nbsp;</span>	<br><br>
= 23&divide;4<br><br>
= 5 <sup>3</sup>&frasl;<sub>4</sub>

</body>
</html>

