{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:1</h2>
<hr>
<p>
1008 divided by which single digit number gives a perfect square >


</p>


<div class="div2">
	A.&nbsp;&nbsp;9

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;4

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;8

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;7

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

1008=2&times;2&times;2&times;2&times;3&times;3&times;7
<br><br>
Here 7 is not in pair.

</div>
</body>
</html>
