{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:6</h1>
<hr>
<p>
If the expression x + 809436 &times; 809438 be a perfect square, then the value of x is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;809436

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;809438

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;0

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;1

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Product of two consecutive odd or even numbers increased by unity is equal to square of average of the number.

</div>
</body>
</html>
