<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:34</h2>
<hr>
<p>
    The square root of (272<sup>2</sup> &minus; 128<sup>2</sup>) is:


</p>


<div>
    A.&nbsp;&nbsp;200


</div>
<br>
<div>
    B.&nbsp;&nbsp;240


</div>
<br>
<div>
    C.&nbsp;&nbsp;144


</div>
<br>

<div>
    D.&nbsp;&nbsp;400


</div>


<h2><u>Answer</u>: b</h2>
=Square root of (272<sup>2</sup> -128<sup>2</sup>)<br><br>
= square root of (272+128)&times;(272-128)<br><br>
=square root of (400&times;144)<br><br>
= 20&times;12<br><br>
=240.


</body>
</html>
