{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:64</h1>
<hr>
<p>
If cube root of (175616) is 56, then the value of <br>
cube root of (175.616) +cube root of (0.175616) + cube root of (0.00015616)




is equal to 


</p>


<div class="div2">
	A.&nbsp;&nbsp;0.168

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;62.16

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;6.216

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;6.116

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given expression = 5.6+0.56+0.056<br><br>=6.216.

</div>
</body>
</html>
