<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:27</h1>
<hr>
<p>
Find the approximate value (not required to calculate exact value) of cube root of 1500.


</p>


<div>
	A.&nbsp;&nbsp;11

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;16

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;15

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;19

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>
11<sup>3</sup> = 1331<br><br>
11 is approximate value of cure root of 1500.


</body>
</html>
