<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:17</h1>
<hr>
<p>
The product of two consecutive numbers is 3192. What is the smaller number?


</p>


<div>
	A.&nbsp;&nbsp;56

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;57

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;58

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>

31=25+6<br><br>
3192 is near square of 50+6 = 56<br><br>
Now 56&times;57 = 3192.

</body>
</html>
