{% load static %}
<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:32</h2>
<hr>
<p>

    The value of cube root of
    (1372)


    &times;
    cube root of

    (1458):

</p>


<div class="div2">
    A.&nbsp;&nbsp;116


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;126


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;106


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;136


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
=
&#8731;
<span style="white-space: nowrap;">
<span style="text-decoration:overline;">&nbsp;1372</span>
</span>


&times; &#8731;
<span style="text-decoration:overline;">&nbsp;1458
</span><br><br>

=&#8731;
<span style="white-space: nowrap;">
<span style="text-decoration:overline;">&nbsp;2&times;2&times;7&times;7&times;7 &times;</span>
</span>
&#8731;
<span style="white-space: nowrap;">
<span style="text-decoration:overline;">&nbsp;
2&times;9&times;9&times;9</span>
</span>
<br><br>
=2&times;7&times;9<br><br>
=126.

</div>
</body>
</html>

