{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:31</h1>
<hr>
<p>

				<span style="white-space: nowrap;">
				&radic;<span 								style="text-decoration:overline;">&nbsp;12321&nbsp;</span>
				</span>	 =?


</p>


<div class="div2">
	A.&nbsp;&nbsp;91

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;101

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;111

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;121

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

111<sup>2</sup> = 12321.
</div>
</body>
</html>
