{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:29</h1>
<hr>
<p>
If x&divide;372 = 93&divide;x, then find the value of ox.


</p>


<div class="div2">
	A.&nbsp;&nbsp;31

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;62

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;92

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
X <sup>2</sup> = 93&times;372<br><br>
=93&times;93&times;4<br><br>
X = 93&times;2<br><br>=186.


</div>
</body>
</html>
