{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:36</h1>
<hr>
<p>
By what least number 253 must be multiplied to make it a perfect square number?




</p>


<div class="div2">
	A.&nbsp;&nbsp;7

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;6

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;5

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;4

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

252=2&times;2&times;3&times;3&times;7<br><br>
Since 7 occurs once in the factors of 252.<br><br>
252 must be multiplied by 7 to get square number.<br><br>
Note: 252 can be divided by 7 to get a perfect square number.

</div>
</body>
</html>
