<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:30</h1>
<hr>
<p>
Which number should replace both the question marks in the following equation?
<br>
<sup>?</sup>&frasl;<sub>576</sub> = <sup>256</sup>&frasl;<sub>?</sub>
</p>


<div>
	A.&nbsp;&nbsp;384

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;398

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;404

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;416

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>

<sup>?</sup>&frasl;<sub>576</sub> = <sup>256</sup>&frasl;<sub>?</sub><br><br>
 ?&times;?= 256&times;576<br><br>
?= 

				<span style="white-space: nowrap;">
				&radic;<span 								style="text-decoration:overline;">&nbsp;256&times;576&nbsp;</span>
				</span>	<br><br>


=
				<span style="white-space: nowrap;">
				&radic;<span 								style="text-decoration:overline;">&nbsp; 16&times;16&times;24&times;24&nbsp;</span>
				</span>	<br><br>
=16&times;24<br><br>
=384.

</body>
</html>
