<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:55</h2>
<hr>
<p>
    cube root of (19683)

    = ? &times; 3


</p>


<div>
    A.&nbsp;&nbsp;90


</div>
<br>
<div>
    B.&nbsp;&nbsp;27


</div>
<br>
<div>
    C.&nbsp;&nbsp;3


</div>
<br>

<div>
    D.&nbsp;&nbsp;None of these


</div>


<h2><u>Answer</u>: d</h2>
Pairs are 19 and 683. Two pairs suggests that cube root is a two digit number.<br><br>
2<sup>3</sup> < 19 < 3<sup>3</sup><br><br>
Ten&CloseCurlyQuote;s digit is 2.<br><br>
Units digit 3 in 683<br><br>
Unit digit of the cube root is 7<br><br>
Cube root of 19683 is 27.<br><br>
27 = ?&times;3<br><br>
?=27&divide;3<br><br>=9.


</body>
</html>
