{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:30</h1>
<hr>
<p>
Which number should replace both the question marks in the following equation?
<br>
<sup>?</sup>&frasl;<sub>576</sub> = <sup>256</sup>&frasl;<sub>?</sub>
</p>


<div class="div2">
	A.&nbsp;&nbsp;384

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;398

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;404

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;416

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<sup>?</sup>&frasl;<sub>576</sub> = <sup>256</sup>&frasl;<sub>?</sub><br><br>
 ?&times;?= 256&times;576<br><br>
?= 

				<span style="white-space: nowrap;">
				&radic;<span 								style="text-decoration:overline;">&nbsp;256&times;576&nbsp;</span>
				</span>	<br><br>


=
				<span style="white-space: nowrap;">
				&radic;<span 								style="text-decoration:overline;">&nbsp; 16&times;16&times;24&times;24&nbsp;</span>
				</span>	<br><br>
=16&times;24<br><br>
=384.

</div>
</body>
</html>
