<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:10</h1>
<hr>
<p>
A gardener has 1000 plants. He wants to plant them in a such a way that the number of rows and number of columns remains the same. What is the minimum number of plants that he needs more for this purpose?


</p>


<div>
	A.&nbsp;&nbsp;14

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;24

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;32

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;34

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

32<sup>2</sup> = 1024
Required number = 1024-1000<br><br>=24.

</body>
</html>
