{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:11</h1>
<hr>
<p>
Find the least number to be added to 1425 to make it perfect square.


</p>


<div class="div2">
	A.&nbsp;&nbsp;9

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;19

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;96

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

38<sup>2</sup> = 1444 and 37<sup>2</sup> = 1369<br><br>
37<sup>2</sup> < 1425 < 38<sup>2</sup><br><br>
Required number = 1444-1425<br><br>=19.

</div>
</body>
</html>
