{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:42</h1>
<hr>
<p>
Sum of the digits of the smallest number by which 1440 be multiplied so that it becomes a perfect cube, is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;4

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;6

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;7

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;8

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

1440=2<sup>5</sup>&times;3<sup>2</sup>&times;5<sup>1</sup><br><br>
Smallest number to multiply = 2<sup>1</sup>&times;3<sup>1</sup>&times;5<sup>2</sup><br><br>
 = 150<br><br>
Required sum = 1+5+0<br><br>
=6.

</div>
</body>
</html>
