<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:16</h1>
<hr>
<p>
(1515)<sup>2</sup> = ?&divide;1515


</p>


<div>
	A.&nbsp;&nbsp;3030

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;2295225

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;4485

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: d</h2>
(1515)<sup>2</sup> =? &divide; 1515<br><br>
? = (1515)<sup>3</sup><br><br>
15<sup>3</sup> = <br><br>


1&nbsp;&nbsp;&nbsp;	5&nbsp;&nbsp;&nbsp;	25&nbsp;&nbsp;&nbsp;	125<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;10	&nbsp;&nbsp;&nbsp;50<br><br>
<hr width = "110px"/ align = "left">
1	&nbsp;15	&nbsp;&nbsp;&nbsp;75 &nbsp;&nbsp;&nbsp;	125
<hr width = "110px"/ align = "left">
= 3375.<br><br>
(1515)<sup>3</sup> = <br><br>
3375&nbsp;&nbsp;&nbsp;&nbsp;	3375&nbsp;&nbsp;&nbsp;&nbsp;	3375&nbsp;&nbsp;&nbsp;&nbsp;	3375<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6750&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	6750
<hr width = "200px"/ align = "left">
3375 &nbsp;&nbsp;	10125&nbsp;&nbsp;	10125&nbsp;&nbsp;&nbsp;		3375
<hr width = "200px"/ align = "left">
<br><br>
= 3477265875(2 digits taken from each part.).
</body>
</html>
