<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:28</h2>
<hr>
<p>
<span style="white-space: nowrap;">
				&radic;<span 								style="text-decoration:overline;">&nbsp;64 <sup>2</sup>&nbsp;</span>
				</span>	
?

</p>


<div>
	A.&nbsp;&nbsp;8

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;16

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;64

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;80

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

Square root of square of a number is the number itself.
</body>
</html>
