<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:46</h2>
<hr>
<p>
    Cube root of 1906624= ?


</p>


<div>
    A.&nbsp;&nbsp;126


</div>
<br>
<div>
    B.&nbsp;&nbsp;128


</div>
<br>
<div>
    C.&nbsp;&nbsp;124


</div>
<br>

<div>
    D.&nbsp;&nbsp;119


</div>


<h2><u>Answer</u>: c</h2>

3 pairs are 1, 906 and 624<br><br>
12 < cube root of 1906 < 13<br><br>
4<sup>3</sup> has unit&CloseCurlyQuote;s digit 4<br><br>
The required number may be 124<br><br>
We check: 124<sup>3</sup> = 1906624.

</body>
</html>
