{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:35</h1>
<hr>
<p>

	Cube root of (0.000729&divide;0.085184) =?

</p>


<div class="div2">
	A.&nbsp;&nbsp;<sup>44</sup>&frasl;<sub>9</sub>

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;<sup>27</sup>&frasl;<sub>42</sub>

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;<sup>27</sup>&frasl;<sub>44</sub>

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;<sup>9</sup>&frasl;<sub>44</sub>

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

9<sup>3</sup> = 729 <br><br>
Only possible option(d).

</div>
</body>
</html>
