<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:7</h1>
<hr>
<p>
If (x + 7954 &times; 7956 ) be a square number, then the value of x is:


</p>


<div>
	A.&nbsp;&nbsp;1

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;16

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;9

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;4

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>
Product of two consecutive odd or even numbers increased by unity is equal to square of average of the numbers.

</body>
</html>
