<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:14</h1>
<hr>
<p>
The least number that must be subtracted from 63520 to make the result a perfect square, is:


</p>


<div>
	A.&nbsp;&nbsp;16

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;20

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;24

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;30

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>
252<sup>2</sup> = 63504 <br><br>
Required number = 63520-63504<br><br> = 16.


</body>
</html>
