<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:57</h1>
<hr>
<p>

(42 &times; 221) &divide; (9261)<sup><sup>1</sup>&frasl;<sub>3</sub></sup> = ?

</p>


<div>
	A.&nbsp;&nbsp;424

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;442

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;414

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;84

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

(42&times;221)&divide;(9261)<sup><sup>1</sup>&frasl;<sub>3</sub></sup><br><br>
 = (42&times;221)&divide;(21<sup>3</sup>)<sup><sup>1</sup>&frasl;<sub>3</sub></sup> <br><br>
=(42&times;221)&divide;21 <br><br>
= 442.

</body>
</html>
