<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:11</h1>
<hr>
<p>
Find the least number to be added to 1425 to make it perfect square.


</p>


<div>
	A.&nbsp;&nbsp;9

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;19

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;96

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

38<sup>2</sup> = 1444 and 37<sup>2</sup> = 1369<br><br>
37<sup>2</sup> < 1425 < 38<sup>2</sup><br><br>
Required number = 1444-1425<br><br>=19.

</body>
</html>
