{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:58</h2>
<hr>
<p>

    The digit in the unit&CloseCurlyQuote;s place in the square root of 15876 is:

</p>


<div class="div2">
    A.&nbsp;&nbsp;8


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;6


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;4


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;2


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
				<span style="white-space: nowrap;">
				&radic;<span style="text-decoration:overline;">&nbsp;15876&nbsp;</span>
				</span>
= 126<br><br>
The unit digit is 6.

</div>
</body>
</html>
