{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:19</h1>
<hr>
<p>
If 103<sup>2</sup> is added to the square of a number, the answer so obtained is 11138, what is the number?


</p>


<div class="div2">
	A.&nbsp;&nbsp;19

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;23

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;27

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let the required number be x. <br><br>
Then x<sup>2</sup> + 103<sup>2</sup> = 11138<br><br>
X<sup>2</sup> = 11138 - 103<sup>2</sup><br><br>
= 11138-10609<br><br>=529<br><br>
x = 
<span style="white-space: nowrap;">
&radic;<span 												style="text-decoration:overline;">&nbsp;529&nbsp;</span>
</span>	

 <br><br>
= 23.

</div>
</body>
</html>
