{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:3</h1>
<hr>
<p>
By what least number should 675 be multiplied to obtain a number which is a perfect cube?


</p>


<div class="div2">
	A.&nbsp;&nbsp;5

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;6

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;7

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;8

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
675 = (3&times;3&times;3)&times;(5&times;5)

</div>
</body>
</html>
