{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:54</h1>
<hr>
<p>
cube root of (?)= (28 &times; 24)&divide;14




</p>


<div class="div2">
	A.&nbsp;&nbsp;85184

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;140608

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;97336

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;110592

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
				<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;?&nbsp;</span>
				</span>	
= (28&times;24)&divide;14 = 48
<br><br>
48<sup>3</sup>=
<br><br>
64&nbsp;&nbsp;128&nbsp;&nbsp;256&nbsp;&nbsp;512<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;256&nbsp;&nbsp;512
<hr width="120px" align=left>
64&nbsp;384&nbsp;&nbsp;768&nbsp;&nbsp;512
<hr width="120px" align=left>

= 110592.

</div>
</body>
</html>
