<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:62</h1>
<hr>
<p>
Find the square root of (0.<span style="white-space: nowrap;">
				<span style="text-decoration:overline;">4</span>
				</span>).


</p>


<div>
	A.&nbsp;&nbsp;
0.				<span style="white-space: nowrap;">
				<span style="text-decoration:overline;">2</span>
				</span>.


	
</div>
<br>
<div>
	B.&nbsp;&nbsp;

0.				<span style="white-space: nowrap;">
				<span style="text-decoration:overline;">4</span>
				</span>.


	
</div>
<br>
<div>
	C.&nbsp;&nbsp;

0.				<span style="white-space: nowrap;">
				<span style="text-decoration:overline;">6</span>
				</span>.


	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;

0.				<span style="white-space: nowrap;">
				<span style="text-decoration:overline;">8</span>
				</span>.


	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

Square root of 0.4bar <br><br>=
 <span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;4&divide;9&nbsp;</span>
				</span>	<br><br>
 = <sup>2</sup>&frasl;<sub>3</sub><br><br> 
= <sup>6</sup>&frasl;<sub>9</sub> <br><br>
= 0.				<span style="white-space: nowrap;">
				<span style="text-decoration:overline;">6</span>
				</span>.
</body>
</html>
