<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:41</h1>
<hr>
<p>
The sum of digits of the smallest number which, when multiplied by 1800, gives a perfect cube, is:


</p>


<div>
	A.&nbsp;&nbsp;2

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;3

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;6

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;8

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

1800 = 2<sup>3</sup>&times;3<sup>2</sup>&times;5<sup>2</sup><br><br>

Smallest number to multiply = 3<sup>1</sup>&times;5<sup>1</sup> = 15<br><br>
Required  sum = 1+5=6

</body>
</html>
