<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:8</h1>
<hr>
<p>
If x = (0.08)<sup>2</sup>, y = 1/(0.08)<sup>2</sup> and z = (1- 0.08<sup>2</sup>)-1, then out of the following the true relation is 



</p>


<div>
	A.&nbsp;&nbsp;y< z < x

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;z < x < y

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;y < x and x = z

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;x > y and x = z

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>
X= (0.08)<sup>2</sup>  = 0< x < 1<br><br>
y = <sup>1</sup>&frasl;<sub>(0.08)<sup>2</sup></sub> = (12.5)<sup>2</sup> > 1<br><br>
 and z= (1-0.08<sup>2</sup>)-1= -0.08<sup>2</sup><0<br><br>
&nbsp;z < x < y.


</body>
</html>
