<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:42</h1>
<hr>
<p>
Sum of the digits of the smallest number by which 1440 be multiplied so that it becomes a perfect cube, is:


</p>


<div>
	A.&nbsp;&nbsp;4

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;6

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;7

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;8

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

1440=2<sup>5</sup>&times;3<sup>2</sup>&times;5<sup>1</sup><br><br>
Smallest number to multiply = 2<sup>1</sup>&times;3<sup>1</sup>&times;5<sup>2</sup><br><br>
 = 150<br><br>
Required sum = 1+5+0<br><br>
=6.

</body>
</html>
