{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:14</h1>
<hr>
<p>
The least number that must be subtracted from 63520 to make the result a perfect square, is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;16

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;20

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;24

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;30

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
252<sup>2</sup> = 63504 <br><br>
Required number = 63520-63504<br><br> = 16.


</div>
</body>
</html>
