<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:35</h1>
<hr>
<p>

	Cube root of (0.000729&divide;0.085184) =?

</p>


<div>
	A.&nbsp;&nbsp;<sup>44</sup>&frasl;<sub>9</sub>

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;<sup>27</sup>&frasl;<sub>42</sub>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;<sup>27</sup>&frasl;<sub>44</sub>

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;<sup>9</sup>&frasl;<sub>44</sub>

	
</div>
		
	

<h2> <u>Answer</u>: d</h2>

9<sup>3</sup> = 729 <br><br>
Only possible option(d).

</body>
</html>
