{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:45</h1>
<hr>
<p>

The square root of 180625?

</p>


<div class="div2">
	A.&nbsp;&nbsp;425

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;435

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;475

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;525

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

4<sup>2</sup> < 18 < 5<sup>2</sup><br><br>
The first digit of square root is 4<br><br>
Last 4 digits of the given numbers are 0625<br><br>
Square root has last two digits 25<br><br>
425 may be the required number<br><br>
We check: 425<sup>2</sup><br><br> = 4&times;4.5|0625<br><br>=180625.

</div>
</body>
</html>
