<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:24</h1>
<hr>
<p>
A toy factory manufactured a batch of electronic toys. If the toys were packed in boxes of 115 each, 13 boxes would not be filled completely. If the boys were packed in boxes of 65 each. 22 boxes would not be enough to pack all of them. Coincidentally, in the end, the toys were packed in n boxes containing n toys each, without any remainder. The total number of toys was.


</p>


<div>
	A.&nbsp;&nbsp;1444

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;1454

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;1424

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;1434

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>
N boxes contains n toys each <br><br>
Total number of toys = n&times;n = n<sup>2</sup><br><br>
Out of given options, only 1444 is a square number as 38<sup>2</sup><br><br> = 1444.


</body>
</html>
