<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:12</h1>
<hr>
<p>

What should be added to 16259 to make it a perfect square number?

</p>


<div>
	A.&nbsp;&nbsp;107

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;125

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;212

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;423

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

127<sup>2</sup> = 16129, which is smaller than 16259. <br><br>
And 128<sup>2</sup> = 16384, which is bigger than 16259.<br><br>
Required number is 16384-16259<br><br>= 125.

</body>
</html>
