{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:2</h1>
<hr>
<p>

The number of perfect cubes between 1 and 1000009 which are exactly divisible by 9 is:

</p>


<div class="div2">
	A.&nbsp;&nbsp;33

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;101

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;35

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;99

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
100 <sup> 3</sup> < 1000009<101 <sup>3</sup><br><br>
Cube of a number which is multiple of 3, is divisible by 9.<br><br>
Between 1 and 100, there are 100&divide;3 = 33 multiple of 3.



</div>
</body>
</html>
