<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:38</h2>
<hr>
<p>
The least number by which 1944 must be multiplied so as to make the result a perfect cube, is:


</p>


<div>
	A.&nbsp;&nbsp;2

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;3

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;6

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;13

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
1944 = 2<sup>3</sup> &times; 3<sup>5</sup><br><br>
1944 must be multiplied by 3.


</body>
</html>
