{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:38</h2>
<hr>
<p>
The least number by which 1944 must be multiplied so as to make the result a perfect cube, is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;2

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;3

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;6

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;13

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
1944 = 2<sup>3</sup> &times; 3<sup>5</sup><br><br>
1944 must be multiplied by 3.


</div>
</body>
</html>
