<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:58</h2>
<hr>
<p>

    The digit in the unit&CloseCurlyQuote;s place in the square root of 15876 is:

</p>


<div>
    A.&nbsp;&nbsp;8


</div>
<br>
<div>
    B.&nbsp;&nbsp;6


</div>
<br>
<div>
    C.&nbsp;&nbsp;4


</div>
<br>

<div>
    D.&nbsp;&nbsp;2


</div>


<h2><u>Answer</u>: b</h2>
				<span style="white-space: nowrap;">
				&radic;<span style="text-decoration:overline;">&nbsp;15876&nbsp;</span>
				</span>
= 126<br><br>
The unit digit is 6.

</body>
</html>
