<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:32</h2>
<hr>
<p>

    The value of cube root of
    (1372)


    &times;
    cube root of

    (1458):

</p>


<div>
    A.&nbsp;&nbsp;116


</div>
<br>
<div>
    B.&nbsp;&nbsp;126


</div>
<br>
<div>
    C.&nbsp;&nbsp;106


</div>
<br>

<div>
    D.&nbsp;&nbsp;136


</div>


<h2><u>Answer</u>: b</h2>
=
&#8731;
<span style="white-space: nowrap;">
<span style="text-decoration:overline;">&nbsp;1372</span>
</span>


&times; &#8731;
<span style="text-decoration:overline;">&nbsp;1458
</span><br><br>

=&#8731;
<span style="white-space: nowrap;">
<span style="text-decoration:overline;">&nbsp;2&times;2&times;7&times;7&times;7 &times;</span>
</span>
&#8731;
<span style="white-space: nowrap;">
<span style="text-decoration:overline;">&nbsp;
2&times;9&times;9&times;9</span>
</span>
<br><br>
=2&times;7&times;9<br><br>
=126.

</body>
</html>

