{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:20</h1>
<hr>
<p>
91<sup>2</sup> + 41 <sup>2</sup> - 
<span style="white-space: nowrap;">
&radic;<span 												style="text-decoration:overline;">&nbsp;?&nbsp;</span>
</span>	

= 9858
</p>


<div class="div2">
	A.&nbsp;&nbsp;72

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;10816

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;78

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
8281+1681-
<span style="white-space: nowrap;">
&radic;<span 												style="text-decoration:overline;">&nbsp;?&nbsp;</span>
</span>	


 = 9858<br><br>
<span style="white-space: nowrap;">
				&radic;<span 								style="text-decoration:overline;">&nbsp;?&nbsp;</span>
				</span>	  = 8281+1681-9858=104<br><br>
= 104<sup>2</sup><br><br> = 10816.


</div>
</body>
</html>
