{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:62</h1>
<hr>
<p>
Find the square root of (0.<span style="white-space: nowrap;">
				<span style="text-decoration:overline;">4</span>
				</span>).


</p>


<div class="div2">
	A.&nbsp;&nbsp;
0.				<span style="white-space: nowrap;">
				<span style="text-decoration:overline;">2</span>
				</span>.


	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;

0.				<span style="white-space: nowrap;">
				<span style="text-decoration:overline;">4</span>
				</span>.


	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;

0.				<span style="white-space: nowrap;">
				<span style="text-decoration:overline;">6</span>
				</span>.


	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;

0.				<span style="white-space: nowrap;">
				<span style="text-decoration:overline;">8</span>
				</span>.


	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Square root of 0.4bar <br><br>=
 <span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;4&divide;9&nbsp;</span>
				</span>	<br><br>
 = <sup>2</sup>&frasl;<sub>3</sub><br><br> 
= <sup>6</sup>&frasl;<sub>9</sub> <br><br>
= 0.				<span style="white-space: nowrap;">
				<span style="text-decoration:overline;">6</span>
				</span>.
</div>
</body>
</html>
