<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:47</h1>
<hr>
<p>
Find the cube root of 185193.


</p>


<div>
	A.&nbsp;&nbsp;47

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;53

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;57

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;63

	
</div>
		
	

<h2> <u>Answer</u>: c</h2>
First part of three digits is 193<br><br>
Since the number end in 3, its cube root will end in 7<br><br>
Second part (group)is 185 and 5<sup>3</sup>< 185 < 6<sup>3</sup><br><br>
Tens digit is 5<br><br>
The cube root is 57.


</body>
</html>
