<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:13</h1>
<hr>
<p>

What should be subtracted from 83908 to make it a perfect square number?

</p>


<div>
	A.&nbsp;&nbsp;103

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;387

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;404

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;501

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>
290<sup>2</sup> = 84100, which is bigger than 83908<br><br>
And 289<sup>2</sup> = 83521, which is smaller than 83908.<br><br>
Required number is 83908-83521<br><br>= 387.


</body>
</html>
