{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:60</h2>
<hr>
<p>
Find the square root of 1<sup>9</sup>&frasl;<sub>16</sub>


</p>


<div class="div2">
	A.&nbsp;&nbsp; 1 <sup>3</sup>&frasl;<sub>4</sub>

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;1 <sup>3</sup>&frasl;<sub>16</sub>

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;1 <sup>1</sup>&frasl;<sub>4</sub>

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
	<br><br>
	Let X = 1 <sup>9</sup>&frasl;<sub>16</sub><br><br>
	X = <sup>(10&plus;9)</sup>&frasl;<sub>16</sub><br><br>
	X = <sup>25</sup>&frasl;<sub>16</sub><br><br>

Square root of X = <span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;25&divide;16&nbsp;</span>
				</span><br><br>
= <sup>5</sup>&frasl;<sub>4</sub><br><br>

= 1 <sup>1</sup>&frasl;<sub>4</sub>

</div>
</body>
</html>
