{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:63</h1>
<hr>
<p>
Find the square root of 12.5 &times; 1.5.


</p>


<div class="div2">
	A.&nbsp;&nbsp;2.5

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;<sup>(5 
				<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;3&nbsp;</span>
				</span>	)


</sup>&frasl;<sub>2</sub>

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;15

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;
<sup>(3 
				<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;3&nbsp;</span>
				</span>	)


</sup>&frasl;<sub>2</sub>
	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
				<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;12.5&times;1.5&nbsp;</span>
				</span>	<br><br>
=
				
square root of ((25&times;5)&divide;10 )&times; (5 &times;3 )&divide;10 <br><br>
= (<sup>5&times;5</sup>&frasl;<sub>10</sub>)
				<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;3&nbsp;</span>
				</span>	
<br><br>=
<sup>(5 
				<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;3&nbsp;</span>
				</span>	)


</sup>&frasl;<sub>2</sub>


<br><br>
</div>
</body>
</html>
