{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
    <title>SQUARE ROOTS AND CUBE ROOTS Tutorial</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1>SQUARE ROOTS AND CUBE ROOTS.</p1>
</u></b></font>
<hr/>
<hr/>


<p><font size="4"> <u> Square Root: </u></font>
    <br>
<ul>
    <li>
        Square root of a number is the number, product of which by itself is equal to the given number. Square root is
        also known as under root or 2nd root. Square root is denoted by


        <span style="white-space: nowrap;">
				&radic;<span style="text-decoration:overline;">&nbsp;&nbsp;</span>
				</span> .

        <br><br>
        If x<sup>2</sup> = y then


        <span style="white-space: nowrap;">
				&radic;<span style="text-decoration:overline;">&nbsp;y&nbsp;</span>
				</span>

        = x.


    </li>
</ul>

<p><font size="4"> <u> How to find number of digits in square root of a number of having n number of digits: </u></font>
    <br>
<ol>
    <li>
        Make pairs of two digits each. Single digit leg, if any, would make one pair.

    </li>
    <li>
        Digits in the square root of the number will be equal to number of pairs of the square number, alternatively
        divide n by 2. If quotient is a natural number, quotient is the number of digits in the square root. if quotient
        is a mixed number, round it up to the next higher natural number.

    </li>
</ol>


<p><font size="4"> <u> Cube Root: </u></font>
    <br>
<ul>
    <li>
        Cube root of a number is the number, product of which by itself and itself again is equal to the given number.
        In other words, cube root of a number is the number whose cube is equal to the given number itself. Cube root is
        denoted by : symbol.<br>
        It is called 3<sup>rd</sup> root.


    </li>
</ul>


<p><font size="4"> <u> How to find number of digits in cube root of a number with n number of digits: </u></font>
    <br>
<ol>
    <li>
        Make pairs of three digits each. Single (or two) digits left, if any , would make one pair.

    </li>

    <li>
        Digits in the cube-root of the number will be equal to number of pairs of the cube number.


    </li>
</ol>


<p><font size="4"> <u> Division Method of finding square root: </u></font>
    <br>
    <u>Method:</u>
<ol>
    <li>
        Make pairs of two digits each starting from right hand side.

    </li>
    <br>
    <li>

        Find the largest number whose square is equal to or less than the first part from left hand side.
    </li>
    <br>
    <li>
        Find the reminder and bring down the next pair.

    </li>
    <br>
    <li>

        Double the root obtained and write to left of number brought down.

    </li>
    <br>
    <li>

        Write one digit to the right of number of step 4.
        <br>Multiply the number so obtained with same single digit so that the product is equal to or less than the
        number of step 3.
    </li>
    <br>
    <li>
        Repeat the processes from 3 to 5 till all the pairs are taken.

    </li>
    <br>
</ol>


<p><font size="4"> <u> Prime Factor Method for Finding Square Root and Cube Root: </u></font>
    <br><br><u>Steps:</u>
<ol>
    <li>
        Write prime factors of the given number.

    </li>
    <br>

    <li>
        Select the factors that are in pair.

    </li>
    <br>


    <li>
        Take one number from each pair and multiply then. The product of such numbers followed by the product (written
        under


        <span style="white-space: nowrap;">
					&radic;<span style="text-decoration:overline;">&nbsp;&nbsp;</span>
					</span>

        sign) of the numbers which are not in pair.

    </li>
    <br>


</ol>


<p><font size="4"> <u>Square Root of 3 or 4-Digit Square Number: </u></font>
    <br>
    <u>Base:</u> square of (a b) by Duplex Method is : a<sup>2</sup> | 2 a b | b <sup>2</sup>.
    <br><u>Steps: </u>

<ol>
    <li>
        Starting from left side, divide the given number in three parts. First part contains1 digit (in case of 3-digit
        number) or 2 digit (in case of 4-digit number) and second and third parts contain one digit each.
    </li>
    <br>

    <li>

        Find maximum value of one-digit number (say a ) whose square does not exceed first part from left-hand side.
    </li>
    <br>

    <li>
        Find one-digit number (say b) so that value of (2ab) does not exceed second part.
    </li>
    <br>

    <li>

        If the third part is equal to b<sup>2</sup>, then ab is square-root of the given number.
    </li>
</ol>


<br><br><u>Note: </u>
<ol>
    <li>
        Remainders, if any, in the first and second part are carried over to second and third parts respectively.
    </li>
    <br>

    <li>
        Square-root of any three or four-digit number is always a two-digit number.

    </li>
    <br>

    <li>
        By using this method, we can find out the square root of a perfect square number only.
    </li>


</ol>


<p><font size="4"> <u> Easier Method of Finding Square-Root of 3 or 4 Digit Square Number: </u></font>
    <br><br>
    <u>Method:</u>
<ol>
    <li>
        Make pairs of two digits each starting from right hand side.

    </li>
    <br>
    <li>
        Find the largest number whose square is less than or eual to the number in left-most pair. This is the tens
        digit of square root.

    </li>
    <br>
    <li>
        Based on unit digit of the given number, guess the unit digit of the square root.

    </li>
    <br>
</ol>


<p><font size="4"> <u> Finding Square Root by Approximation: </u></font>
    <br><br><u> Method: </u>
<ul>
    <li>
        Divide the given number by a divisor around approximate square root of the number. Take average of the divisor
        and quotient. This is approximate square root of the number.

    </li>
</ul>


<p><font size="4"> <u>Units Digit of a Number and its Cube-Root: </u></font>
    <br>
<ul>
    <li>
        0 - 0

    </li>
    <br>

    <li>
        1 - 1

    </li>
    <br>

    <li>
        4 - 4

    </li>
    <br>

    <li>
        5 - 5

    </li>
    <br>

    <li>
        6 - 6

    </li>
    <br>

    <li>
        9 - 9

        <br><br>
        i.e same digit in units place.
    </li>
    <br>

    <li>
        2- 8

    </li>
    <br>

    <li>
        3 - 7

    </li>
    <br>

    <li>

        7 - 3
    </li>
    <br>
    <li>
        8 - 2
    </li>
    <br><br>
    i.e total of unit digits of the number and its cube is 10.

</ul>


<p><font size="4"> <u>Finding Cube Root by Approximation: </u></font>
    <br><br><u>Method:</u>
<ul>
    <li>
        Divide the given number by a divisor around approximate cube root of the number. Divide the quotient by the same
        divisor again. Take average of the two divisor and final quotient.
        <br><br>
        This is approximate cube root of the number.
    </li>
</ul>


<p><font size="4"> <u>Common Square Roots: </u></font>
    <br>
<ul>
    <li>
				
					<span style="white-space: nowrap;">
					&radic;<span style="text-decoration:overline;">&nbsp;2&nbsp;</span>
					</span> = 1.4142


    </li>
    <br>

    <li>
				
					<span style="white-space: nowrap;">
					&radic;<span style="text-decoration:overline;">&nbsp;3&nbsp;</span>
					</span> = 1.7321


    </li>

    <br>
    <li>
				
					<span style="white-space: nowrap;">
					&radic;<span style="text-decoration:overline;">&nbsp;5&nbsp;</span>
					</span> = 2.2361


    </li>
</ul>


</body>


</html>
