{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:25</h1>
<hr>
<p>
Number of digits in the square root of 62478078 is :


</p>


<div class="div2">
	A.&nbsp;&nbsp;3

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;4

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;5

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;6

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
8 digits will make 4 pairs.

</div>
</body>
</html>
