{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:50</h2>
<hr>
<p>
				<span style="white-space: nowrap;">
				&radic;<span style="text-decoration:overline;">&nbsp;?&nbsp;</span>
				</span>
    &times; <span style="white-space: nowrap;">
				&radic;<span style="text-decoration:overline;">&nbsp;3025&nbsp;</span>
				</span>
    = 2695


</p>


<div class="div2">
    A.&nbsp;&nbsp;2401


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;2209


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;2601


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;2304


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
=<span style="white-space: nowrap;">
				&radic;<span style="text-decoration:overline;">&nbsp;?&nbsp;</span>
				</span> &times;
<span style="white-space: nowrap;">
				&radic;<span style="text-decoration:overline;">&nbsp;3025&nbsp;</span>
				</span> <br><br>

<span style="white-space: nowrap;">
				&radic;<span style="text-decoration:overline;">&nbsp;?&nbsp;</span>
				</span>
&times;
55 = 2695 <br><br>
<span style="white-space: nowrap;">
				&radic;<span style="text-decoration:overline;">&nbsp;?&nbsp;</span>
				</span>
= 2695 &divide; 55<br><br> = 49
<br><br>

? = 49<sup>2</sup><br><br> = 2401.

</div>
</body>
</html>
