{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:13</h1>
<hr>
<p>

What should be subtracted from 83908 to make it a perfect square number?

</p>


<div class="div2">
	A.&nbsp;&nbsp;103

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;387

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;404

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;501

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
290<sup>2</sup> = 84100, which is bigger than 83908<br><br>
And 289<sup>2</sup> = 83521, which is smaller than 83908.<br><br>
Required number is 83908-83521<br><br>= 387.


</div>
</body>
</html>
