{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:23</h2>
<hr>
<p>

    (?)<sup>2</sup> + ( 123 )<sup>2</sup> = (246)<sup>2</sup> &minus; (99)<sup>2</sup> &minus; 2462

</p>


<div class="div2">
    A.&nbsp;&nbsp;184


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;186


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;182


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;180


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
123<sup>2</sup> = Duplex of 1|12|123|23|3<br><br>
= 1|4|10|12|9<br><br>
= 15129<br><br>
(246)<sup>2</sup> = (123&times;2)<sup>2</sup><br><br>
= 123<sup>2</sup> &times;4<br><br>
= 15129&times;4<br><br>
= 60516.<br><br>
(?)<sup>2</sup> = (246)<sup>2</sup> &minus;(99)<sup>2</sup> -2462 &minus;(123)<sup>2</sup><br><br>
=60516-9801-2462-15129<br><br>
= 33124=182<sup>2</sup><br><br>
(?)<sup>2</sup> = 182<sup>2</sup><br><br>
?= 182.


</div>
</body>
</html>
