<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:15</h1>
<hr>
<p>
23<sup>3</sup> = ?


</p>


<div>
	A.&nbsp;&nbsp;12167

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;17576

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;2197

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;5832

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>
23<sup>3</sup> = <br><br>
		8	12	18	27<br><br>
			&nbsp;&nbsp;&nbsp;24	36<br><br>
		&minus;&minus;&minus;&minus;&minus;&minus;&minus;<br><br>
		8	36	54	27<br><br>
=12167.


</body>
</html>
