{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:56</h1>
<hr>
<p>
Find the approximate value of 
				<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;624.98&nbsp;</span>
				</span>	

+
				<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;729.25&nbsp;</span>
				</span>	


.

</p>


<div class="div2">
	A.&nbsp;&nbsp;58

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;56

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;52

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;63

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
				=<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;624.98&nbsp;</span>
				</span>	

+
				<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;729.25&nbsp;</span>
				</span>
<br><br>


				=<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;625&nbsp;</span>
				</span>	

+
				<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;729&nbsp;</span>
				</span><br><br>
=25+27<br><br>
=52

</div>
</body>
</html>
