<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:22</h2>
<hr>
<p>
    (19.89)<sup>2</sup> &minus;
    <span style="white-space: nowrap;">
&radic;<span style="text-decoration:overline;">&nbsp;625&nbsp;</span>
</span>


    = ?


</p>


<div>
    A.&nbsp;&nbsp;395.6121


</div>
<br>
<div>
    B.&nbsp;&nbsp;359.6121


</div>
<br>
<div>
    C.&nbsp;&nbsp;370.1621


</div>
<br>

<div>
    D.&nbsp;&nbsp;370.6121


</div>


<h2><u>Answer</u>: d</h2>

(1989)<sup>2</sup> = duplex of 1|19|198|1989|989|89|9<br><br>
1|18|97|162|226|144|81 =3956121<br><br>
(19.89)<sup>2</sup> = 395.6121<br><br>
=(19.89)<sup>2</sup> &minus;
<span style="white-space: nowrap;">
				&radic;<span style="text-decoration:overline;">625&nbsp;&nbsp;</span>
				</span> <br><br>

= 395.6121-25<br><br>
=370.6121.

</body>
</html>
