<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:43</h1>
<hr>
<p>
The largest number of 5 digits, which is a perfect square is:


</p>


<div>
	A.&nbsp;&nbsp;99999

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;99976

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;99856

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;99764

	
</div>
		
	

<h2> <u>Answer</u>: c</h2>

The largest number of 5 digit is 99999<br><br>
By division method, we get: 99999=316<sup>2</sup>+143<br><br>
The required number is 99999-143<br><br>=99856.

</body>
</html>
