{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:27</h1>
<hr>
<p>
Find the approximate value (not required to calculate exact value) of cube root of 1500.


</p>


<div class="div2">
	A.&nbsp;&nbsp;11

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;16

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;15

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;19

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
11<sup>3</sup> = 1331<br><br>
11 is approximate value of cure root of 1500.


</div>
</body>
</html>
