<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:33</h1>
<hr>
<p>
The real value of x, that satisfies the equation


				<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;(4x - 9 )&nbsp;</span>
				</span>	
+

				<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;(4x + 9 )&nbsp;</span>
				</span>	

  = 5 

+ 

				<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;7&nbsp;</span>
				</span> is.


</p>


<div>
	A.&nbsp;&nbsp;3&divide;
				<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;7&nbsp;</span>
				</span>



	
</div>
<br>
<div>
	B.&nbsp;&nbsp;


4

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;

<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;5&nbsp;</span>
				</span>


	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;


2<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;3&nbsp;</span>
				</span>


	
</div>
		
	

<h2> <u>Answer</u>: b</h2>
Comparing the two sides of the equation, we get:<br><br>
 <span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;4x+5&nbsp;</span>
				</span>

= 5 and 


<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;4x-9&nbsp;</span>
				</span>

 =<span style="white-space: nowrap;">
				&radic;<span 												style="text-decoration:overline;">&nbsp;7&nbsp;</span>
				</span><br><br>

 
4x+9=25 and 4x-9=7<br><br>
4x = 16 and 4x = 16<br><br>
X = 16/4<br><br>= 4.


</body>
</html>
