<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:5</h1>
<hr>
<p>

If 59<sup>2</sup> + 12 <sup>2</sup> = x<sup>2</sup> + 600, find the value of x?

</p>


<div>
	A.&nbsp;&nbsp;30

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;45

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;53

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: d</h2>
59<sup>2</sup> = 25+9|9<sup>2</sup> <br><br> = 3481<br><br>
x <sup>2</sup> = 3481+144-600<br><br> = 3025<br><br>
x=55<br><br>
Note: 55<sup>2</sup> = 5&times;6|25<br><br> = 3025.


</body>
</html>
