{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:61</h1>
<hr>
<p>
A train passes two bridges of lengths 800 m and 400 m in 100 seconds and 60 seconds respectively. The length of the train is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;80 m

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;90 m

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;200 m

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;150 m

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>


(800m-400m)=400m is covered in (100-60)=40 seconds<br>
Speed of the train = 400&divide;40=10 m/s<br><br>
Distance covered in 100 seconds = 100&times;10=<br><br>1000 meters<br><br>
Length of the train = 1000-800=<br><br>200 meters.


</div>
</body>
</html>
