<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:40</h1>
<hr>
<p>
A train 150 meter long crosses a 150 meter long platform, in 15 seconds. What is the speed of the train?	


</p>


<div>
	A.&nbsp;&nbsp;20 kmph

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;36 kmph

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;72 kmph

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;144 kmph

	
</div>
		
	

<h2> <u>Answer</u>: c</h2>


Total distance covered = (150+150)miters <br><br>= 300 miters<br><br>
Speed of train = 300&divide;15 m/s <br><br>= (300&divide;15)&times;(18&divide;5) km/h <br><br>= 72 km/h.


</body>
</html>
