<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:51</h1>
<hr>
<p>
A train crosses 80 meter long platform in 30 seconds. If the speed of the train is 4 m/s. what is the length of the train?



</p>


<div>
	A.&nbsp;&nbsp;40 meters

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;55 meters

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;80 meters 

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;60 meters

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>

Distance covered in 30 seconds = 4&times;30 <br><br>= 120 m<br><br>
Length of train + platform = 120 m<br><br>
Length of train + 80 m = 120m<br><br>
Length of train = 120-80 <br><br>= 40 m.


</body>
</html>
