<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:68</h2>
<hr>
<p>
A train 150 long running at the speed of 36 km/h takes 30 seconds to cross a platform completely. Find the length of the platoform.


</p>


<div>
	A.&nbsp;&nbsp;300 meter

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;250 meter

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;150 meter

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;100 meter

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>

Speed of train = <sup>5</sup>&frasl;<sub>18</sub>&times;36 <br><br>= 10 m/s<br><br>
Distance covered in 30 seconds = 30&times;10<br><br>=300 meters<br><br>
Length of platform = 300-150<br><br>=150 meters.



</body>
</html>
