<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:54</h2>
<hr>
<p>
    A train moving at a rate of 36 km/hr crosses a standing man in 10 seconds. It will cross a platform 55 meters long,
    in:


</p>


<div>
    A.&nbsp;&nbsp;5 <sup>1</sup>&frasl;<sub>2</sub> seconds


</div>
<br>
<div>
    B.&nbsp;&nbsp;6 seconds


</div>
<br>
<div>
    C.&nbsp;&nbsp;7 seconds


</div>
<br>

<div>
    D.&nbsp;&nbsp;15 <sup>1</sup>&frasl;<sub>2</sub> seconds


</div>


<h2><u>Answer</u>:d </h2>


Speed of train = 36 km/hr <br><br>= 36&times;5&divide;18<br><br>=10 m/s<br><br>
Time taken to cross platform = 10 seconds + (55&divide;10)seconds<br><br>
= 15 <sup>1</sup>&frasl;<sub>2</sub> seconds<br><br>
Trick: time should be more than time taken to cross standing man.
</body>
</html>
