{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:100</h1>
<hr>
<p>
A grey hound pursues a hare and takes 5 leaps for every 6 leaps of the hare. If 4 leaps of the grey hound are equal to 5 leaps the hare, find the ratio of the speeds of the grey hound and the hare.

</p>


<div class="div2">
	A.&nbsp;&nbsp;2:3

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;6:5

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;24:25

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;25:24

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

4 leaps of grey hound = 5 leaps of hare<br><br>
5 leaps of greay hound 
= <sup>5</sup>&frasl;<sub>4</sub> &times;5 <br><br>
= 25&divide;4 leaps of hare<br><br>
Speed of grey hound : speed of hare <br><br>
= <sup>25</sup>&frasl;<sub>4</sub>:6<br><br>=25:24.




</div>
</body>
</html>
