<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:87</h1>
<hr>
<p>
A, B, C walk 1 km in 5 minutes, 8 minutes and 10 minutes respectively. C starts walking from a point, at a certain time. B starts from the same point 1 minute later and A starts from the same point 2 minutes later than C. then A meets B and C at times.


</p>


<div>
	A.&nbsp;&nbsp;<sup>4</sup>&frasl;<sub>3</sub> min, 3 mins

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;<sup>5</sup>&frasl;<sub>3</sub> min, 2 mins

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;1 mins, 2 mins

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;2 min, 3 min

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

Speeds of A, B, C(In m/min) = 1000&divide;5, 1000&divide;8,1000&divide;10<br><br>
=200,125,100<br><br>
Distance covered by B in 1 minutes = 125 m<br><br>
Distance covered by C in 2 minutes = 200 m<br><br>
A gains 75 m/min over B and 100 m/min over A.<br><br>
Time taken by A to gain 125 m over B = 125&divide75=<sup>5</sup>&frasl;<sub>3</sub><br><br>
Time taken by A to gain 200 m over C = 200&divide;100<br><br>=2.



</body>
</html>
