<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:91</h1>
<hr>
<p>

A, B and C walk round a circle of 900 meters in circumference at the rate of 60m, 50 and 45 m per minute respectively. If all of them start together in the same direction after how long will they all meet for the first time:

</p>


<div>
	A.&nbsp;&nbsp;60 min

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;90 min

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;120 min

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;180 min

	
</div>
		
	

<h2> <u>Answer</u>: d</h2>

A gains 10 m over B in 1 minute<br><br>
A gain 15 m over C in 1 minute<br><br>
A will gain one round over B in 90 min<br><br>
A will gain one round over C in 60 min<br><br>
All of them be together again after 180 minutes (i.e. LCM of 90 & 60).



</body>
</html>
