<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:42</h1>
<hr>
<p>

A train running at 7/11 of its own speed reached a place in 22 hours. How much time could be saved if the train would have run at its normal speed:


</p>


<div>
	A.&nbsp;&nbsp;14 hours

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;7 hours

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;8 hours

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;16 hours

	
</div>
		
	

<h2> <u>Answer</u>: c</h2>

Running at <sup>7</sup>&frasl;<sub>11</sub> of speed, the train will take <sup>11</sup>&frasl;<sub>7</sub> of the normal time.<br><br>
<sup>11</sup>&frasl;<sub>7</sub> of normal time = 22 hours<br><br>
Normal time = 22&times;<sup>7</sup>&frasl;<sub>11</sub> <br><br>= 14 hours<br><br>
Time saved at normal seed = 22-14 <br><br>= 8 hours.


</body>
</html>
