<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:58</h1>
<hr>
<p>
A train running at the speed of 20 m/s crosses a pole in 24 seconds less than the time it requires to cross a platform thrice its length at the same speed. What is the length of the train?


</p>


<div>
	A.&nbsp;&nbsp;270 m

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;340 m

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;180 m

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Let length of train be x meters.<br><br>
Then length of the platform = 3x<br><br>
Time takenn to cover [(x+3x)-x] meters = 3x meters<br><br>
=24 seconds <br><br>
Time taken to cover x meters = 24&divide;3<br><br>=8 seconds<br><br>
Length of train = 8&times;20<br><br>=160 meters.



</body>
</html>
