{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:31</h1>
<hr>
<p>
Two persons start walking in the same directions at 5 km/h and 4 km/h respectively. In how many hours will they be 45 km apart?

</p>


<div class="div2">
	A.&nbsp;&nbsp;5 hours

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;7 hour

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;9 hour

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;45 hour

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Relative speed of two persons = 5-1 <br><br>= 4 km/h<br><br>
Required time = 45&divide;1 <br><br>= 45 hours.




</div>
</body>
</html>
