<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:9</h2>
<hr>
<p>
A car covers its journey at the speed of 80 km/hr in 10 hours. If the same distance is to be covered in 4 hours, by how much the speed of the car will have to increase?


</p>


<div>
	A.&nbsp;&nbsp;80 km/hr

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;100 km/hr 

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;120km/hr 

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;160 km/hr

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>

 
Total distance covered = 80&times;10 <br><br>= 800km<br><br>
New speed = 800&divide;4<br><br>
=200 km/hr.<br><br>

Increase in speed = (200-80) kmph <br><br>
= 120 km&frasl;hr.


</body>
</html>
