<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:7</h2>
<hr>
<p>
A train running at 36 km/h, covers a certain distance in 50 minutes. At what speed train must run to cover the same distance in 30 minutes?


</p>


<div>
	A.&nbsp;&nbsp;45 km/h

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;50 km/h

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;54 km/h
	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;60 km/h

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>

Required speed = (36&times;50)&divide;30 minutes <br><br>= 60 km/h.



</body>
</html>
