{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:78</h1>
<hr>
<p>
Two trains running in the same direction at the speeds of 68 km/h and 48 km/h take 36 seconds to cross each other. If the length of one train is 85 meter, what is the length of the other train?


</p>


<div class="div2">
	A.&nbsp;&nbsp;115 meter

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;125 meter

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;150 meter

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;160 meter

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Their relative speed = (68-48)km/h <br><br>= 20 km/h<br><br>
Distance covered in 36 seconds = <sup>5</sup>&frasl;<sub>18</sub>&times;20&times;36<br><br>=200 meter<br><br>
Length of the second train = (200-85) meter <br><br>= 115 meter.



</div>
</body>
</html>
