{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:73</h1>
<hr>
<p>
Two trains each 200 m long move towards each other on parallel lines with velocities 20 kmph and 30 kmph respectively. What is the time that elapses when they first meet until they have cleared each other?


</p>


<div class="div2">
	A.&nbsp;&nbsp;20 seconds

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;24.8 seconds

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;28.8 seconds

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;30 seconds

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>


Total distance = 200+200<br><br>=400 m<br><br>
Relative speed = (20+30) km/hr <br><br>= 50 km/hr <br><br>
= 50&times;(5&divide;18) m/s <br><br>
=125&divide;9 m/s<br><br>
Required time = 400&divide;125&divide;9 <br><br>= 400&times;9&divide;125<br><br>=28.8 secs.


</div>
</body>
</html>
