{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:49</h1>
<hr>
<p>
A train running at the speed of 15 m/s takes 20 seconds to pass a man running at the speed of 5 m/s in the same direction. Find the length of the train.


</p>


<div class="div2">
	A.&nbsp;&nbsp;50 meter

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;100 meter 

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;200 meter

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;250 meter

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Relative speed = 15-5 = 10 m/s<br><br>
Distance covered in 20 seconds = 10&times;20 <br><br>= 200 meters<br><br>
Length of the train = 200 meters.



</div>
</body>
</html>
