{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:90</h1>
<hr>
<p>
A and B walk around a circular path of 5 km in circumference, starting together from the same point in the same direction. If their speeds are 4 km/h and 3 km/h respectively, after how many hours will they be again at the starting point?

</p>


<div class="div2">
	A.&nbsp;&nbsp;3 hours

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;4 hours

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;5 hours

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;6 hours

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
 
They will be together at the starting point when A (the faster one)  has gained 5 km (i.e. one round ) over B.<br><br>
in one hour A gains (4km - 3 km) i.e 1 km over B.<br><br>
 A gains 5 km in 5 hours.




</div>
</body>
</html>
