<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:96</h1>
<hr>
<p>
A man walking at a speed of 10 km/h. after every km, he takes rest for 4 minutes. How much time will he take to cover a distance of 10 km?

</p>


<div>
	A.&nbsp;&nbsp;1 hour

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;90 minutes

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;96 minutes

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;100 minutes

	
</div>
		
	

<h2> <u>Answer</u>: c</h2>


He covers 10 km in one hour (i.e. in 60 minutes) and rests for 4 minutes after every km.<br><br>
He will take rest 9 times.<br><br>
Total time taken = 60+9&times;4<br><br>=96 minutes.



</body>
</html>
