<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:5</h1>
<hr>
<p>

The speeds of three cars are in the ratio 4:3:2. What is the ratio between the times taken by the cars to cover the same distance?

</p>


<div>
	A.&nbsp;&nbsp;2:3:4

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;3:4:6

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;1:2:3

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;4:3:2

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

Required ratio = <sup>1</sup>&frasl;<sub>4</sub>:<sup>1</sup>&frasl;<sub>3</sub>
:<sup>1</sup>&frasl;<sub>2</sub><br><br> = 3:4:6




</body>
</html>
