{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:44</h1>
<hr>
<p>
Walking at three fourth of his usual speed, a man covers a certain distance in 2 hours more than the time he takes to cover the distance with his normal speed. The time taken by him to cover the same distance with his usual speed is:



</p>


<div class="div2">
	A.&nbsp;&nbsp;<sup>4</sup>&frasl;<sub>5</sub>hours

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;5.5 hours

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;6 hours

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;5 hours

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>


Walking at <sup>3</sup>&frasl;<sub>4</sub> th of his usual sped, he will take 
<sup>4</sup>&frasl;<sub>3</sub>
 of usual time<br><br>
<sup>4</sup>&frasl;<sub>3</sub> of the usual time <br><br>= usual time + 2 hours <br><br>
<sup>1</sup>&frasl;<sub>3</sub>of the usual time = 2 hours<br><br>
Usual time = 3&times;2 hours <br><br>= 6 hours.

</div>
</body>
</html>
