{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:65</h1>
<hr>
<p>
A train passes a man standing on a platform in 8 seconds and also crosses the platform which is 264 meters long in 20 seconds. The length (in meters ) of the train is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;188

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;176

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;175

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;96

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let length of the train be x meters.<br><br>
Time taken to cover x meters = 8 seconds<br><br>
Time taken to cover (x+264) meters = 20 seconds<br><br>
Time taken to cover 264 meters = 20-8=12 seconds<br><br>
Speed of train = 264&divide;12<br><br>=22 m/s<br><br>
Length of train = distance covered in 8 seconds <br><br>= 8&times;22 <br><br>=176 meters.



</div>
</body>
</html>
