<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:100</h1>
<hr>
<p>
A grey hound pursues a hare and takes 5 leaps for every 6 leaps of the hare. If 4 leaps of the grey hound are equal to 5 leaps the hare, find the ratio of the speeds of the grey hound and the hare.

</p>


<div>
	A.&nbsp;&nbsp;2:3

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;6:5

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;24:25

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;25:24

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

4 leaps of grey hound = 5 leaps of hare<br><br>
5 leaps of greay hound 
= <sup>5</sup>&frasl;<sub>4</sub> &times;5 <br><br>
= 25&divide;4 leaps of hare<br><br>
Speed of grey hound : speed of hare <br><br>
= <sup>25</sup>&frasl;<sub>4</sub>:6<br><br>=25:24.




</body>
</html>
