<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:59</h1>
<hr>
<p>
Two trains are running in opposite directions with the same speed. If the senght of each train is 120 meters and they cross each other in 12 seconds, the speed of each train (in km/h) is:


</p>


<div>
	A.&nbsp;&nbsp;72

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;10

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;36

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;18

	
</div>
		
	

<h2> <u>Answer</u>:c</h2>

Total distance covered = 120+120<br><br>=240 meter<br><br>
Relative speed = 240&divide;12<br><br>=20 m/s<br><br>
Speed of each train = 20&divide;2<br><br>=10 m/s<br><br>
=(10&times;18)&divide;5 km/hr <br><br>= 36 km/hr.



</body>
</html>
