<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:46</h1>
<hr>
<p>

Walking at <sup>5</sup>&frasl;<sub>4</sub><sup>th</sup> of the usual speed, a person reaches his office 12 minutes too early. What is the usual time?


</p>


<div>
	A.&nbsp;&nbsp;48 minutes

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;60 minutes

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;70 minutes

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;80 minutes

	
</div>
		
	

<h2> <u>Answer</u>:b</h2>

Walking at <sup>5</sup>&frasl;<sub>4</sub><sup>th</sup> his usual speed, he will take <sup>4</sup>&frasl;<sub>5</sub><sup>th</sup> of usual time<br><br>
Usual time = <sup>4</sup>&frasl;<sub>5</sub><sup>th</sup> of usual time + 12 minutes<br><br>
<sup>1</sup>&frasl;<sub>5</sub><sup>th</sup>usual time = 12 minutes.<br><br>
Usual time = 5&times;12 minutes = 60 minutes.


</body>
</html>
