<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:74</h2>
<hr>
<p>
Two trains one 160 m and the other 140 m long are running in opposite directions on parallel rails, the first at 7 km an hour and the other at 67 km an hour. How long (in seconds) will they make to cross each other?


</p>


<div>
	A.&nbsp;&nbsp;7 

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;7 <sup>1</sup>&frasl;<sub>2</sub>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;6

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;10

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>


Total distance = (160+140)m <br><br>= 300 m<br><br>
Relative speed = (77+67)km/hr <br><br>= 144 km/hr <br><br>
=144&times;5&divide;18 m/s <br><br>= 40 m/s<br><br>
Required time = 300&divide;40<br><br>= 7 <sup>1</sup>&frasl;<sub>2</sub> seconds.


</body>
</html>
