<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:99</h1>
<hr>
<p>
A train is running at 70 km/hr but due to stoppages it could cover a certain distance at 63 km/hr. how much time the train stops on an average(per hour)?	

</p>


<div>
	A.&nbsp;&nbsp;6 mins

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;10 mins

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;12 mins

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;15 mins

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>

Time spent on stoppages (pen hour)<br><br>
Time in which the train could have travelled (70-63)km i.e. 7 km = <sup>7</sup>&frasl;<sub>70</sub>&times;60<br><br>=6 min/hr.




</body>
</html>
