{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:84</h1>
<hr>
<p>
A thief running at 8 km/h is chased by a policeman whose speed is 10 km/h. if the thief is 100 m ahead of the policeman, than the time required for the policeman to catch the thief will be:


</p>


<div class="div2">
	A.&nbsp;&nbsp;2 mins

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;3 mins

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;4 mins

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;6 mins

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Police man gains = (10-8) km/hr<br><br>
= 2 km/hr <br><br>
Hel will gain 100 meter in 3 minutes.



</div>
</body>
</html>
