<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:67</h1>
<hr>
<p>
In what time will a train 100 meters long cross an electric pole, if its speed be 144 km/h?


</p>


<div>
	A.&nbsp;&nbsp;2.5 seconds

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;5 seconds

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;12.5 seconds

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;3 <sup>5</sup>&frasl;<sub>4</sub> seconds

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>

Speed of the train =144 km/hr <br><br>= (5&divide;18)&times;144 m/s <br><br>= 40 m/s<br><br>
Required time = 100&divide;40<br><br>=2.5 seconds.



</body>
</html>
