<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:94</h1>
<hr>
<p>
A and B can walk around a circular path in 5 minutes and 8 minutes respectively. If they start from the same point in the same direction, after how much time will they meet again for the first time?


</p>


<div>
	A.&nbsp;&nbsp;13 minutes

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;12 minutes

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;40 minutes

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;13 minutes 20 seconds

	
</div>
		



<h2> <u>Answer</u>:d </h2>

Let length of the circular path = LCM of 5 and 8 <br><br>= 40 meters<br><br>
Then speeds of A and B are 8 and 5 meters/minute<br><br>
They will meet for the first time when A(i.e. the faster one) has gained one round i.e. 40 meters over B.<br><br>
Time taken by A = 40&divide;(8-5) <br><br>= 13
<sup>1</sup>&frasl;<sub>3</sub>
 minutes <br><br>= 13 minutes 20 seconds.

	
</body>
</html>
