{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:91</h1>
<hr>
<p>

A, B and C walk round a circle of 900 meters in circumference at the rate of 60m, 50 and 45 m per minute respectively. If all of them start together in the same direction after how long will they all meet for the first time:

</p>


<div class="div2">
	A.&nbsp;&nbsp;60 min

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;90 min

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;120 min

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;180 min

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

A gains 10 m over B in 1 minute<br><br>
A gain 15 m over C in 1 minute<br><br>
A will gain one round over B in 90 min<br><br>
A will gain one round over C in 60 min<br><br>
All of them be together again after 180 minutes (i.e. LCM of 90 & 60).



</div>
</body>
</html>
