<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:79</h1>
<hr>
<p>
A train 220 meter long running at 90 km/h crosses a 180 meter train coming from the opposite direction in 9 seconds. The speed of the second train is:


</p>


<div>
	A.&nbsp;&nbsp;50 km/h

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;70 km/h

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;100 km/h

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;160 km/h

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

Distance covered = (220+180) meters <br><br>= 400 meters<br><br>
Relative speed of two trains= 400&divide;9 m/s <br><br>
= (400&divide;9)&times;(18&times;5) km/h<br><br>
= 160 km/h<br><br>
Speed of the second train = (160-90) km/h <br><br>= 70 km/h.



</body>
</html>
