<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:50</h1>
<hr>
<p>
A train running at the speed of 25 m/s takes 10 seconds to pass a man running at the speed of 10 m/s in the opposite direction. Find the length of the train.


</p>


<div>
	A.&nbsp;&nbsp;150 meter

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;200 meter

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;250 meter

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;350 meter

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Relative speed = 25+10 = 35 m/s.<br><br>
Distance covered in 10 seconds = 35&times;10 <br><br>= 350 meters<br><br>
Length of the train = 350 meters.



</body>
</html>
