{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:57</h1>
<hr>
<p>
A train passes a 50 meters long platform in 14 seconds and a man standing on the platform in 10 seconds. The speed of the train is:

</p>


<div class="div2">
	A.&nbsp;&nbsp;24 km/hr

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;36 km/hr

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;40 km/hr

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;45 km/hr

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Time take to cover 50 m = (14-10) seconds <br><br>= 4 seconds<br><br>
Speed of t rain = (50&divide;4)&times;(18&divide;5) km/hr<br><br> 
=45 km/hr.




</div>
</body>
</html>
