<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:17</h1>
<hr>
<p>
A person travelled by train for 1 hour at a speed of 50 kmph. He then travelled by a taxi for 30 minutes at a speed of 32 kmph to complete his journey. What is the average speed at which he travelled during the journey?


</p>


<div>
	A.&nbsp;&nbsp;44 kmph

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;42 kmph

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;41 kmph

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;33 kmph

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>

Total distance covered = 1&times;50 + <sup>1</sup>&frasl;<sub>2</sub>&times;32 <br><br>= 50+16 <br><br>= 66 km<br><br>

Total time taken = 1 hour 30 minutes <br><br>=<sup>3</sup>&frasl;<sub>2</sub> hour<br><br>
Average speed during the journey = 66&divide;

<sup>3</sup>&frasl;<sub>2</sub><br><br>
= 66 &times; <sup>3</sup>&frasl;<sub>2</sub>
<br><br> = 44 km.



</body>
</html>
