{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:4</h1>
<hr>
<p>
A train travelling with uniform speed crosses two bridges of lengths 300 m and 240 m in 21 seconds and 18 seconds respectively. The speed of the train is:

</p>


<div class="div2">
	A.&nbsp;&nbsp;72 km/hr

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;68 km/hr

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;65 km/hr

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;60 km/hr

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

(300-240)m = 60 m covered in (21-18)seconds <br><br>= 3 seconds<br><br>
Speed = 60&divide;3 m/s <br><br>= 20 m/s <br><br>= (20&times;18)&divide;5 km/h <br><br>= 72 km/h




</div>
</body>
</html>
