<html>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
    <title>Distance Tutorial</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1>Time and Distance</p1>
</u></b></font>
<hr/>
<hr/>


<ol>
    <li>
        Distance Covered = Time taken &times; Average speed.

    </li>

    <br>

    <li>
        Time taken <br>= <sup>Distance covered</sup> &frasl;<sub>Average speed</sub>.

    </li>
    <br>

    <li>
        Average Speed = <sup>Distance Covered</sup> &frasl;<sub>Time Taken</sub>.
        <br><br>
        <u>Note:</u> Speed of the object is deemed to be constant during the whole journey, unless stated otherwise.

    </li>
    <br>


    <li>
        if the speed of two trains are in the ratio of x:y, then ratio of time taken by them to cover a certain distance
        <br><br>

        = <sup>1</sup> &frasl;<sub>x</sub> : <sup>1</sup> &frasl;<sub>y</sub>.
        <br><br>
        = y : x.Respectively.

    </li>
    <br>


    <li>
        To cross a pole or a standing man, a train is required to cover distance equal to its own length.

    </li>
    <br>


    <li>

        To cross a platform or any other stationary objects of some length, a train is required to cover distance equal
        to sum of its own length and the length of the platform or the object.

    </li>
    <br>


    <li>
        1 km per hour = <sup>5</sup> &frasl;<sub>18</sub> metre per second.

        <ul>
            <li>
                To convert speed of an object from km/h to m/s, multiply the given speed by
                <sup>5</sup> &frasl;<sub>18</sub>.
            </li>
        </ul>
    </li>
    <br>


    <li>
        1 metre per second = <sup>18</sup> &frasl;<sub>5</sub> km per hour.
        <ul>
            <li>

                To convert speed of an object from m/s to km/h, multiply the given speed by
                <sup>18</sup> &frasl;<sub>5</sub>.
            </li>
        </ul>

    </li>
    <br>


    <li>

        <b><U>Relative Speed:</u></b>
        If two trains are moving in <b> opposite directions</b>(either towards each other or away from each other),
        their relative speed is equal <b>sum of their speed. </b>
    </li>
    <br>
    <li>

        If two trains are moving in the <b>same direction</b>, their relative speed is equal to <b> difference of their
        speed</b>
    </li>


</ol>


</body>


</html>
