<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:75</h1>
<hr>
<p>

A train 200 meter long is running at an average speed of 75 kmph and the other train 250 meter long is running in the opposite direction at an average speed of 33 kmph. Find the time they will take to cross each other.


</p>


<div>
	A.&nbsp;&nbsp;15 seconds

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;20 seconds

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;30 seconds

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;35 seconds

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>

Distance covered = (200+250) meter <br><br>= 450 meter<br><br>
Relative speed of two trains = (75+33) km/h <br><br>
= 108 km/h<br><br>
= 108&times;<sup>5</sup>&frasl;<sub>18</sub> m/s <br><br>= 30 m/s
Time taken to cover 450 meter = 450&divide;30<br><br>=15 seconds


</body>
</html>
