<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:8</h1>
<hr>
<p>
A car travelling at a speed of 40 km/hour can complete a journey in 9 hours. How long will it take to travel the same distance at 60 km/hour?



</p>


<div>
	A.&nbsp;&nbsp;6 hours

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;3 hours

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;4 hours

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;3 hours 30 minutes

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>


required time = (40&times;9)&divide;60 <br><br>= 6 hours.

</body>
</html>
