{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:18</h1>
<hr>
<p>
Pratibha covers a distance of 24 kms at the speed of 8 km/hr and a distance of 18 kms at the speed of 9 km/hr. further she covers a distance of 12 km at the speed of 3 km/hr. what is her average speed in covering the whole distance?


</p>


<div class="div2">
	A.&nbsp;&nbsp;8 kmph

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;5.5 kmph

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;3 kmph

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;6 kmph

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Total distance covered = 24+18+12<br><br>
=54 km<br><br>
= totaltime taken 24&divide;8+18&divide;9+12&divide;3<br><br>
=3+2+4= 9 hours<br><br>
Average speed = 54&divide;9<br><br>=6 kmph.


</div>
</body>
</html>
