{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:51</h1>
<hr>
<p>
A train crosses 80 meter long platform in 30 seconds. If the speed of the train is 4 m/s. what is the length of the train?



</p>


<div class="div2">
	A.&nbsp;&nbsp;40 meters

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;55 meters

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;80 meters 

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;60 meters

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Distance covered in 30 seconds = 4&times;30 <br><br>= 120 m<br><br>
Length of train + platform = 120 m<br><br>
Length of train + 80 m = 120m<br><br>
Length of train = 120-80 <br><br>= 40 m.


</div>
</body>
</html>
