<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:23</h1>
<hr>
<p>
A car travelling with 5/7 of its usual speed covers 42 km in 1 hour 40 mins 48 seconds. What is the usual speed of the car?


</p>


<div>
	A.&nbsp;&nbsp;17 <sup>6</sup>&frasl;<sub>7</sub> km/hr

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;35 km/hr

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;25 km/hr

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;30 km/hr

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>
40 minutes = 40&times;<sup>1</sup>&frasl;<sub>60</sub>hour <br><br>= <sup>2</sup>&frasl;<sub>3</sub>hours<br><br>
48 seconds = 
48&times;<sup>1</sup>&frasl;<sub>60</sub>&times;<sup>1</sup>&frasl;<sub>60</sub><br><br>
= <sup>1</sup>&frasl;<sub>75</sub>hour<br><br>
Total time = 1+<sup>2</sup>&frasl;<sub>3</sub>+<sup>1</sup>&frasl;<sub>75</sub> <br><br>
= <sup>126</sup>&frasl;<sub>75</sub><br><br>
=<sup>42</sup>&frasl;<sub>25</sub>hours.<br><br>
Sped of car = 42&divide;<sup>42</sup>&frasl;<sub>25</sub> <br><br>

= 42&times;<sup>25</sup>&frasl;<sub>42</sub> <br><br>= 25 km/hr.<br><br>
Usual speed of the car = <sup>7</sup>&frasl;<sub>5</sub>&times;25 km/hr <br><br>= 35 km/hr.



</body>
</html>
