{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:46</h1>
<hr>
<p>

Walking at <sup>5</sup>&frasl;<sub>4</sub><sup>th</sup> of the usual speed, a person reaches his office 12 minutes too early. What is the usual time?


</p>


<div class="div2">
	A.&nbsp;&nbsp;48 minutes

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;60 minutes

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;70 minutes

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;80 minutes

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Walking at <sup>5</sup>&frasl;<sub>4</sub><sup>th</sup> his usual speed, he will take <sup>4</sup>&frasl;<sub>5</sub><sup>th</sup> of usual time<br><br>
Usual time = <sup>4</sup>&frasl;<sub>5</sub><sup>th</sup> of usual time + 12 minutes<br><br>
<sup>1</sup>&frasl;<sub>5</sub><sup>th</sup>usual time = 12 minutes.<br><br>
Usual time = 5&times;12 minutes = 60 minutes.


</div>
</body>
</html>
