{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:39</h1>
<hr>
<p>

A 250 meter train is running at the average speed of 90 km/h. how long will it take to pass a standing man.


</p>


<div class="div2">
	A.&nbsp;&nbsp;8 seconds

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;10 seconds

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;12.5 seconds

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;20 seconds

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Speed of the train = <sup>5</sup>&frasl;<sub>18</sub>&times;90 <br><br>= 25 m/s<br><br>
Time taken to cover 250 miter= 250&divide;25 <br><br>= 10 seconds.


</div>
</body>
</html>
