{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:94</h1>
<hr>
<p>
A and B can walk around a circular path in 5 minutes and 8 minutes respectively. If they start from the same point in the same direction, after how much time will they meet again for the first time?


</p>


<div class="div2">
	A.&nbsp;&nbsp;13 minutes

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;12 minutes

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;40 minutes

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;13 minutes 20 seconds

	
</div>
		



<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let length of the circular path = LCM of 5 and 8 <br><br>= 40 meters<br><br>
Then speeds of A and B are 8 and 5 meters/minute<br><br>
They will meet for the first time when A(i.e. the faster one) has gained one round i.e. 40 meters over B.<br><br>
Time taken by A = 40&divide;(8-5) <br><br>= 13
<sup>1</sup>&frasl;<sub>3</sub>
 minutes <br><br>= 13 minutes 20 seconds.

	
</div>
</body>
</html>
