{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:97</h1>
<hr>
<p>
A man rides at the rate of 18 km/hr, but stops for 6 mins. To change horses at the end of every 7th km. the time that he will take to cover a distance of 90 km is:

</p>


<div class="div2">
	A.&nbsp;&nbsp;6 hrs

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;6 hrs. 12 mins

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;6 hrs. 18 mn.

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;6 hrs. 24 min

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

He covers 90 km in 5 hours @ 18 km/hr and stops for every 6 minutes at the end of every 7th km<br><br>
He will stop = 90&divide;7 <br><br>= 12 times<br><br>
Total time taken = 5 hours + 6&times;12 minutes <br><br>= 6 hours 12 minutes.




</div>
</body>
</html>
