{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:3</h1>
<hr>
<p>
An athlete runs 200 metres race in 24 seconds. His speed (I km/hr) is:

</p>


<div class="div2">
	A.&nbsp;&nbsp;20

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;24

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;28.5

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;30

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

speed = 200&divide;24 m/s <br><br>= (200&divide;24)&times;( 18&divide;5)km/h<br><br> = 30 km/hr



</div>
</body>
</html>
