{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:6</h1>
<hr>
<p>

A train running at the average speed of 30 km/h covers a distance in 6 hours. Find the speed of another train which covers the same distance in 5 hours.


</p>


<div class="div2">
	A.&nbsp;&nbsp;24 km/h

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;25 km/h

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;36 km/h

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;42 km/h

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>


Ratio of time taken by two trains = 6: 5 <br><br>
Ratio of speed = 5:6<br><br>
Speed of second train = 30 &times;
<sup>6</sup>&frasl;<sub>5</sub>
<br><br>= 36 k/m.

</div>
</body>
</html>
