<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:33</h1>
<hr>
<p>
A and B, standing at places having distance 12 km, start walking towards each other and meet in 1 hour 15 minutes. If the speed of a is 4 km/hr. then the speed of B is:


</p>


<div>
	A.&nbsp;&nbsp;3 <sup>3</sup>&frasl;<sub>5</sub> km/hr

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;4 <sup>3</sup>&frasl;<sub>5</sub> km/hr

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;5 <sup>3</sup>&frasl;<sub>5</sub> km/hr

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;6 <sup>3</sup>&frasl;<sub>5</sub> km/hr

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

Time taken = 1 hour 15 minutes = 1 <sup>1</sup>&frasl;<sub>4</sub> hour <br><br>
= <sup>5</sup>&frasl;<sub>4</sub>hour<br><br>
Their relative speed = 12&divide;
<sup>5</sup>&frasl;<sub>4</sub><br><br>
= 12&times;<sup>4</sup>&frasl;<sub>5</sub>
<br><br>= 48&divide;5 km<br><br>
Speed of B = (<sup>48</sup>&frasl;<sub>5</sub>)-4 <br><br>= 28&divide;5 <br><br>= 5 <sup>3</sup>&frasl;<sub>5</sub> km/hr.


</body>
</html>
