{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:45</h1>
<hr>
<p>
Walking <sup>4</sup>&frasl;<sub>5</sub> of his usual speed, a man reaches is late by 20 minutes in reaching his destination. His usual time to reach his destination is:



</p>


<div class="div2">
	A.&nbsp;&nbsp;2 <sup>1</sup>&frasl;<sub>2</sub> hours

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;2 hours

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;1 <sup>1</sup>&frasl;<sub>2</sub> hours

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;1 <sup>1</sup>&frasl;<sub>3</sub> hours

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Time taken at 
<sup>4</sup>&frasl;<sub>5</sub>


of usual speed = - of usual time<br><br>
<sup>5</sup>&frasl;<sub>4</sub>
of the usual time = usual time + 
<sup>1</sup>&frasl;<sub>3</sub> hours<br><br>
<sup>1</sup>&frasl;<sub>4</sub> of the usual time 
= <sup>1</sup>&frasl;<sub>3</sub> hours.<br><br>
usual time = <sup>1</sup>&frasl;<sub>3</sub> &times;
<sup>4</sup>&frasl;<sub>1</sub><br><br>
= 1 <sup>1</sup>&frasl;<sub>3</sub>.

</div>
</body>
</html>
