{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:12</h1>
<hr>
<p>
Points A and B are 90 km apart from each other on a highway. A car starts from A and another from B at the same time. If they go in the same direction, they meet after 9 hours and if they go in opposite directions, they meet after 9/7 hours. The speeds (in km/hr) of A and B are:



</p>


<div class="div2">
	A.&nbsp;&nbsp;25,45

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;20,50

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;30,40

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;35,65

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Relative speed (when in same direction )<br><br>
= 90&divide9<br><br>
=10 km/hr<br><br>
Relative speed (when going in opposite direction) <br><br>
= 90 &divide; <sup>9</sup>&frasl;<sub>7</sub> <br><br>
=70 kmph <br><br>
Their speeds are (70-10)&divide;2 and (70+10)&divide;2<br><br>
=30 and 40 km/hr.


</div>
</body>
</html>
