{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:19</h1>
<hr>
<p>
A man completed a certain journey by a car. If he covered 30% of the distance at the speed of 20 kmph. 60% of the distance at the 40 kmph, and the remaining distance at 10 kmph, his average speed for the whole journey was:



</p>


<div class="div2">
	A.&nbsp;&nbsp;25 kmph

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;28 kmph

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;30 kmph

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;33 kmph

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

 
Let total distance = 100 km<br><br>
Then total time = 
<sup>30</sup>&frasl;<sub>20</sub>+
<sup>60</sup>&frasl;<sub>40</sub>+
<sup>10</sup>&frasl;<sub>10</sub>

<br><br>
=1.5+1.5+1= 4 hours<br><br>
Average speed = 100&divide;4 <br><br>= 25 km/hr.

</div>
</body>
</html>
