<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:55</h1>
<hr>
<p>

A 120 meter long train is running at a speed of 90 km per hour. It will cross a railway platform 230 m long in:


</p>


<div>
	A.&nbsp;&nbsp;4 4/5 seconds 

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;9 1/5 seconds

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;7 seconds

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;14 seconds

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>


Total distance = 120+230<br><br>=350 meters<br><br>
Speed of train = 90 km/hr <br><br>= 
90&times;<sup>5</sup>&frasl;<sub>18</sub><br><br>
=25m/s<br><br>
Required time = 350&divide;25<br><br>=14 seconds.

</body>
</html>
