<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:20</h1>
<hr>
<p>
A car covers four successive 6 km stretches at speeds of 25 kmph, 50 kmph, 75 kmph and 150 mph respectively. Its average speed over his distance.


</p>


<div>
	A.&nbsp;&nbsp;25 kmph

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;50 kmph

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;75 kmph

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;150 kmph

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

Let he covers four successive stretches of 150 km each<br><br>
Then total time taken = 
<sup>150</sup>&frasl;<sub>25</sub>+
<sup>150</sup>&frasl;<sub>50</sub>+
<sup>150</sup>&frasl;<sub>75</sub>+
<sup>150</sup>&frasl;<sub>150</sub>



<br><br>
=6+3+2+1<br><br>
=12 hours<br><br>
Average speed for whole journey = (4&times;150)&divide;12<br><br>
=50 kmph.



</body>
</html>
