<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:39</h1>
<hr>
<p>

A 250 meter train is running at the average speed of 90 km/h. how long will it take to pass a standing man.


</p>


<div>
	A.&nbsp;&nbsp;8 seconds

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;10 seconds

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;12.5 seconds

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;20 seconds

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

Speed of the train = <sup>5</sup>&frasl;<sub>18</sub>&times;90 <br><br>= 25 m/s<br><br>
Time taken to cover 250 miter= 250&divide;25 <br><br>= 10 seconds.


</body>
</html>
