{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:32</h1>
<hr>
<p>
P and Q are 27 km away. Two trains with speeds of 24 km/hr and 18 km/hr respectively start simultaneously from P and Q and travel in the same direction. They meet at a point R beyond Q. distance QR is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;48 km

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;36 km

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;126 km

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;81 km

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

The faster train gains = 24 km/hr -18 km/hr<br><br> = 6 km/hr<br><br>
Distance travelled by faster train (starting from P ) to gain 27km <br><br>
=27&times;24&divide;6 <br><br>= 108 km<br><br>
Distance QR = (108-27)km <br><br>=81 km.



</div>
</body>
</html>
