{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:48</h1>
<hr>
<p>
A and B started at the same time from same place for a certain distance. B walking at 5/6 of As speed reached destination 1 hour 15 minutes after A. time taken by B is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;6 hour 45 min

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;7 hours

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;7 hours 15 minutes 

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;7 hours 30 minutes

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Ratio of speeds of A and B = 6:5 <br><br>
Ratio of time taken by A and B = 5:6<br><br>
Difference in time = (6-5)ratio <br><br>= 1 ratio<br><br>=1 hour 15 minutes <br><br>= 75 minutes<br><br>
Time taken by B = 6 ratio <br><br>= 6&times;75 minutes <br><br>= 450 minutes <br><br>
= 7 hours 30 minutes.



</div>
</body>
</html>
