<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:62</h1>
<hr>
<p>
A train, 150 m long, passes a pole in 15 seconds and another train of the same length travelling in the opposite direction in 12 seconds. The speed of the second train is:



</p>


<div>
	A.&nbsp;&nbsp;45 km/h

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;48 km/h

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;52 km/h

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;54 km/h

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Speed of the first train = 150&divide;15<br><br>=10 m/s<br><br>
Relative speed of two trains = (150+150)&divide;12 <br><br>= 25 m/s<br><br>
Speed of the second train = 25-10<br><br>=15 m/s <br><br>
=15&times;18&divide;5<br><br>=54 km/hr.


</body>
</html>
