<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:21</h1>
<hr>
<p>
A car can cover a certain distance in 4 <sup>1</sup>&frasl;<sub>2</sub> hours. If the speed is increased by 5 km/hr, it would take <sup>1</sup>&frasl;<sub>2</sub> hour less to cover the same distance. Find the slower speed of the car.

</p>


<div>
	A.&nbsp;&nbsp;50 km/h

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;40 km/h

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;45 km/h

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;60 km/h

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>
				
Ratio of time taken = 4 <sup>1</sup>&frasl;<sub>2</sub>: (4 <sup>1</sup>&frasl;<sub>2</sub>
 -<sup>1</sup>&frasl;<sub>2</sub>) <br><br>
= <sup>9</sup>&frasl;<sub>2</sub>:4 <br><br>= 9:8 <br><br>
Ratio of speeds = 8:9<br><br>
Difference of speeds = (9-8) ratio <br><br>= 1 ratio <br><br>= 5 km/hr<br><br>
Slower sped = 8 ratio <br><br>= 8&times;5 km/hr <br><br>= 40 km/hr.




</body>
</html>
