{% load static %}
<html>
<body>
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:47</h2>
<hr>
<p>
A man started 20 minutes late and travelling at a speed of 1 <sup>1</sup>&frasl;<sub>2</sub>  times of his usual speed reaches his office in time. The time taken by the man to reach his office at his usual speed is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;1 hour

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;30 minutes

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;40 minutes

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;1 hour 20 minutes

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Walking at <sup>3</sup>&frasl;<sub>2</sub><sup>th</sup> his usual speed, he will take 
<sup>2</sup>&frasl;<sub>3</sub> of usual time<br><br>
Usual time = <sup>2</sup>&frasl;<sub>3</sub> of usual time + 20 minutes <br><br>
<sup>1</sup>&frasl;<sub>3</sub>of usual time = 20 minutes<br><br>
Usual time = 3&times;20 minutes <br><br>= 60 minutes.



</div>
</body>
</html>
