<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:41</h1>
<hr>
<p>

If a train, with a speed of 60 kmph, crosses a pole in 30 seconds, the lengh of the train (in meters) is:


</p>


<div>
	A.&nbsp;&nbsp;1000

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;900

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;750

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;500

	
</div>
		
	

<h2> <u>Answer</u>: d</h2>

Speed of the train = 60 km/hr<br><br> = 60&times;<sup>5</sup>&frasl;<sub>18</sub> m/s<br><br>
Length of train = distance covered in 30 seconds<br><br> 
= 60&times;<sup>5</sup>&frasl;<sub>18</sub>&times;30 m<br><br>
= 500 meters.


</body>
</html>
