{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:8</h1>
<hr>
<p>
A car travelling at a speed of 40 km/hour can complete a journey in 9 hours. How long will it take to travel the same distance at 60 km/hour?



</p>


<div class="div2">
	A.&nbsp;&nbsp;6 hours

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;3 hours

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;4 hours

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;3 hours 30 minutes

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>


required time = (40&times;9)&divide;60 <br><br>= 6 hours.

</div>
</body>
</html>
