{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:35</h1>
<hr>
<p>
A man takes 6 hours 35 minutes in walking to a certain place and riding back. He would have taken 2 hours less by riding both ways. What time would he take to walk both ways?



</p>


<div class="div2">
	A.&nbsp;&nbsp;4 hours 35 minutes

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;8 hours 35 minutes

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;10 hours

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;8 hours 25 minutes

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

One way walking + one way riding = 6 hours 35 minutes<br><br>
Two ways walking time <br><br>= 6 hours 35 minutes + 2 hours <br><br>= 8 hours 35 minutes.


</div>
</body>
</html>
