{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:80</h1>
<hr>
<p>
Two trains of length of 250 and 200 meter are running in the same direction. If the trains cross each other in 45 seconds and the speed of the first train is 27 km/h, find the speed of the second train.

</p>


<div class="div2">
	A.&nbsp;&nbsp;36 km/h

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;54 kmph

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;63 km/h

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;72 km/h

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>


Total distance covered = (250+200) meters <br><br>= 450 meters<br><br>
Relative speed of two trains = (450&divide;45)&times;(18&divide;5)km/h<br><br>
= 36 km/h<br><br>
Speed of the second train = (27+36)km/h <br><br>= 63 km/h.



</div>
</body>
</html>
