{% load static %}
<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:38</h2>
<hr>
<p>

    A man takes 6 hours 15 minutes in walking a distance and riding back to the starting place. He would walk both ways
    in 7 hours 45 minutes. The time taken by him to ride both says is:


</p>


<div class="div2">
    A.&nbsp;&nbsp;4 hours


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;4 hours 30 minutes


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;4 hours 45 minutes


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;5 hours


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>


One way walking + one way riding = 6 hours 15 minutes<br><br>
2&times; (one way walking + one way riding) = 12 hours 30 minutes<br><br>
Two ways walking time = 7 hours 45 minutes<br><br>
Two ways riding time = 12 hours 30 minutes &minus; 7 hours 45 minutes <br><br>
= 4 hours 45 minutes.

</div>
</body>
</html>
