{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:71</h1>
<hr>
<p>
Two trains of lengths, 100 m and 150 m are travelling in opposite directions at speeds of 75kmph and 50 kmph respectively. What is the time taken by them to cross each other?



</p>


<div class="div2">
	A.&nbsp;&nbsp;7.4 s

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;7.2 s

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;7 s

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;6.8 s

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
	
Relative speed = (74+50) kmph <br><br>
=125+<sup>5</sup>&frasl;<sub>18</sub> m/s<br><br>
Total distance = (100+150)m<br><br>
= 250 m<br><br>
Required time = 250&times;<sup>1</sup>&frasl;<sub>125</sub>&times;<sup>18</sup>&frasl;<sub>5</sub><br><br>=7.2s.


</div>
</body>
</html>
