{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:52</h1>
<hr>
<p>
A train 100 meters long takes 5 seconds to pass a standing man. Find the time taken by the train in crossing a railway platform of 260 meter in length.



</p>


<div class="div2">
	A.&nbsp;&nbsp;18 seconds

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;13 seconds

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;26 seconds

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;36 seconds

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Speed of the train = 100&divide;5 <br><br>=20 m/s<br><br>
Time taken by the train to cross the platform = (260+100)&divide;20<br><br>
= 18 seconds.


</div>
</body>
</html>
