{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:25</h1>
<hr>
<p>
Train a took 35 minutes to cover a distance of 50 km. If the speed of train B is 25% faster than train A, it will cover the same distance in?


</p>


<div class="div2">
	A.&nbsp;&nbsp;25 mins

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;28 mins

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;30 mins

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;36 mins

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let sped of train A = 100 km/h.<br><br>
Then speed of train B = 125 km/h<br><br>
Ratio of speeds of trains A and B = 100:125= 4:5<br><br>
Ratio of speeds of trains A and B = 10:125=4:5<br><br>
Ratio of time taken by them to cover equal distance = 5:4<br><br>
Time taken by train A = 35 minutes <br><br>
Time taken by train B = <sup>4</sup>&frasl;<sub>5</sub>&times;35 minutes <br><br>=28 minutes.




</div>
</body>
</html>
