{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:83</h1>
<hr>
<p>
A theft is reported to a policeman. The thief starts running and the policeman chases him. When the policeman starts chasing, the thief was at a distance of 250 meter. The thief and the policeman run at the speed of 8 km/hr and 9 km/h respectively. Find the time the policeman will take to catch the thief:



</p>


<div class="div2">
	A.&nbsp;&nbsp;10 mins

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;15 mins

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;30 mins60 mins

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;60 mins

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Police gains = (9-8)km/hr <br><br>= 1 km/hr<br><br>
He will gain 250 metr in 15 minutes.


</div>
</body>
</html>
