<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:28</h1>
<hr>
<p>
A truck covers a distance of 550 meter in a minute where as a bus covers a distance of 33 km in 45 minutes. The ratio of their speeds is:


</p>


<div>
	A.&nbsp;&nbsp;4:3

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;3:5

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;3:4

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;50:3

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>


Speed of the bus = 33000&divide;45<br><br>
Required ratio = 550:33000&divide;45<br><br>=550&times;45:33000<br><br>= 3:4.


</body>
</html>
