{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:15</h1>
<hr>
<p>
The ratio between the rates of travelling of A and B is 2:3 and therefore A takes 10 minutes more than the time taken by B to reach a destination. If A had walked at double the speed, the time taken by him to reach the destination would have been.




</p>


<div class="div2">
	A.&nbsp;&nbsp;25 minutes

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;15 minutes

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;30 minutes

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;20 minutes

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Ratio of speeds = 2:3<br><br>
Ratio of time taken = 3:2<br><br>
Difference of time = (3-2)ratio<br><br>
= 1 ratio = 10 minutes<br><br>
As normal time = 30 minutes.<br><br>
Time taken by A at double the speed = 30&divide;2<br><br>
= 15 minutes.

</div>
</body>
</html>
