<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:65</h1>
<hr>
<p>
A train passes a man standing on a platform in 8 seconds and also crosses the platform which is 264 meters long in 20 seconds. The length (in meters ) of the train is:


</p>


<div>
	A.&nbsp;&nbsp;188

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;176

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;175

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;96

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

Let length of the train be x meters.<br><br>
Time taken to cover x meters = 8 seconds<br><br>
Time taken to cover (x+264) meters = 20 seconds<br><br>
Time taken to cover 264 meters = 20-8=12 seconds<br><br>
Speed of train = 264&divide;12<br><br>=22 m/s<br><br>
Length of train = distance covered in 8 seconds <br><br>= 8&times;22 <br><br>=176 meters.



</body>
</html>
