<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:16</h1>
<hr>
<p>

A car covers the first 35 km of its journey in 45 minutes and covers the remaining 69 km in 75 minutes. What is the average speed of the car?


</p>


<div>
	A.&nbsp;&nbsp;42 km/hr

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;50 km/hr 

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;52 km/hr

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;60 km/hr

	
</div>
		
	

<h2> <u>Answer</u>: c</h2>


Total distance covered = 35+69 <br><br>= 104 km<br><br>
Total time = 45+75<br><br>
= 120 minutes = 2 hours<br><br>
Average speed = 104&divide;2<br><br>
= 52 km/hr.

</body>
</html>
