<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:93</h1>
<hr>
<p>

A, B and C start together from the same place to walk round a circular path of length 12 km. a walks at the rate of 4 km/hr, B 3 km/hr and C 
<sup>3</sup>&frasl;<sub>2</sub> km/hr. they will meet together at the starting place at the end of:

</p>


<div>
	A.&nbsp;&nbsp;10 hours

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;12 hours

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;15 hours

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;24 hours

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Time taken by A to complete a round 
= <sup>12</sup>&frasl;<sub>4</sub>
<br><br>= 3 hours.<br><br>
Time taken by B to complete a round  
= <sup>12</sup>&frasl;<sub>3</sub>
<br><br>= 4 hours.<br><br>
Time taken by C to complete a round 
= 12&divide;<sup>3</sup>&frasl;<sub>2</sub> 
<br><br>= 8 hours.<br><br>
Required time = LCM of 3,4 and 8 hours = 24 hours.



</body>
</html>
