<html>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
    <title>Distance Formula</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1>Formulae on Time and Distance</p1>
</u></b></font>
<hr/>
<hr/>


<br>
<ol>
    <li>
        Two persons left from place A for B at the speed of x km/h and y km/h respectively. The first person (first one)
        reaches at place B and immediately returns for place A. how far from place B will both the persons meet?
        <br><br><u><b>First Method:</b></u>
        Let total distance be d km and distance between B and the point of meeting = m km.

        <br><br>Distance between B and meeting point = Distance (i.e. AB) &times; <sup>Different between
        speeds </sup> &frasl; <sub>Sum of speeds</sub>.

        <br><br><b><u>Second Method:</u></b>
        <br>
        Let ratio of two persons = x:y
        <br>
        Then ratio of distance travelled by them = x:y
        <br>
        Distance covered by first person = <sup>x </sup> &frasl;<sub> x + y</sub> &times; Total distance covered.

        <br>Distance covered by second person = <sup>y</sup> &frasl; <sub>x + y </sub> &times; Total distance covered.
        <br>
        Total distance covered is = AB + BA = 2AB.


    </li>

    <br>

    <li>

        A train leaves a station at x km/h and another train leaves the same station after T hours at y km/h.

        <br><br>they will meet after <b><sup>xT</sup> &frasl; <sub>y-x</sub> </b>hours,
        <br><br> and distance = <b><sup>xyT</sup>&frasl; <sub>y-x</sub></b>.
    </li>
    <br>

    <li>

        A train leaves station A for B and another train leaves station B for station A at the same time. The trains
        cross each other on their route and reach their destinations in m and n hours respectively after crossing each
        other. The ratio of speeds of two trans
        <br><br> =
				
				
				<span style="white-space: nowrap;">
				&radic;<span style="text-decoration:overline;">&nbsp;n&nbsp;</span>
				</span> :
				
				
				<span style="white-space: nowrap;">
				&radic;<span style="text-decoration:overline;">&nbsp;m 				&nbsp;</span>
				</span> .

        <br><br>
        <b><u>Rule:</u></b> Speeds of the first and second trains are in the ratio of square roots of time taken by the
        second and the first train in reaching their destination after crossing each other.

    </li>
    <br>


    <li>
        If two trains travels a certain distance at the speed of a km/h, b km/h respectively and difference between time
        taken by two trains is t hours.

        Then distance between the starting point and the destination

        <br><br>= <sup>a &times; b</sup> &frasl; <sub>a-b </sub> &nbsp;&times; t.
        <br><br>

        Distance = <sup>Multiplication of speeds &times;Difference of Time taken</sup> &frasl; <sub>Difference of
        speeds</sub>.


    </li>
    <br>


    <li>
        If a person goes from A to B at x km/h and returns at y km/h, then his average speed during the whole journey is

        <br><br>= <sup>2xy</sup> &frasl; <sub>x + y</sub>.
        <br><br>Total distance covered <br><br>= <sup>2 x y</sup> &frasl; <sub>x + y</sub> &times; Time taken
        <br><br>Distance from A to B <br><br>= <sup>2xy</sup> &frasl; <sub>x+y </sub> &times;Time Taken &times;
        <sup>1</sup> &frasl; <sub>2</sub>.


    </li>
    <br>


    <li>
        A man covers <sup>1</sup>&frasl;<sub>3</sub>rd of his journey at x km/, next <sup>1</sup>&frasl;<sub>3</sub>rd
        of this journey at y km/h and remaining <sup>1</sup>&frasl;<sub>3</sub>rd journey at z km/h, then his average
        speed during the journey is<br><br> = <sup>3 x y z</sup> &frasl; <sub>x y + y z + x z</sub>.

    </li>
    <br>


    <li>

        If speeds of two trains are in the ratio x:y. the first train crosses a pole in a seconds and the second train
        in b seconds. The time taken by the two trains to cross each other completely is


        <br><br>= <sup>ax + by </sup>&frasl;<sub>x + y </sub>


        <br><br>i.e. <sup>Sum of lengths of the trains </sup> &frasl; <sub>Relative speed of the train.</sub>
    </li>
    <br>


</ol>

</body>


</html>
