{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:1</h1>
<hr>
<p>
A car goes 10 metres in a second. Find its speed in km/hour.


</p>


<div class="div2">
	A.&nbsp;&nbsp;40

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;32

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;48

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;36

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Speed = 10 m/s = 10&times;(18&divide;5) km/h<br><br>
= 36 km/h.



</div>
</body>
</html>
