{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:82</h1>
<hr>
<p>
Two trains of the length of 200 meter and 250 meter are running in the opposite directions at the speed of 35 kmph and 55 km/h respectively. Find the time in which the faster train will pass a man sitting in the slower train.




</p>


<div class="div2">
	A.&nbsp;&nbsp;2 seconds

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;8 seconds

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;10 seconds

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;18 seconds

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Relative speed = (35+55) km/h <br><br>= 90 km/h
=(5&divide;18)&times;90 m/s <br><br>= 25 m/s<br><br>
The faster train will completely cross a man sitting in the slower train when a distance equal to length of the faster train is covered<br><br>
Distance to be covered = 250 meter<br><br>
Required time = 250&divide;25<br><br>= 10 seconds.

</div>
</body>
</html>
