{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:23</h1>
<hr>
<p>
A car travelling with 5/7 of its usual speed covers 42 km in 1 hour 40 mins 48 seconds. What is the usual speed of the car?


</p>


<div class="div2">
	A.&nbsp;&nbsp;17 <sup>6</sup>&frasl;<sub>7</sub> km/hr

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;35 km/hr

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;25 km/hr

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;30 km/hr

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
40 minutes = 40&times;<sup>1</sup>&frasl;<sub>60</sub>hour <br><br>= <sup>2</sup>&frasl;<sub>3</sub>hours<br><br>
48 seconds = 
48&times;<sup>1</sup>&frasl;<sub>60</sub>&times;<sup>1</sup>&frasl;<sub>60</sub><br><br>
= <sup>1</sup>&frasl;<sub>75</sub>hour<br><br>
Total time = 1+<sup>2</sup>&frasl;<sub>3</sub>+<sup>1</sup>&frasl;<sub>75</sub> <br><br>
= <sup>126</sup>&frasl;<sub>75</sub><br><br>
=<sup>42</sup>&frasl;<sub>25</sub>hours.<br><br>
Sped of car = 42&divide;<sup>42</sup>&frasl;<sub>25</sub> <br><br>

= 42&times;<sup>25</sup>&frasl;<sub>42</sub> <br><br>= 25 km/hr.<br><br>
Usual speed of the car = <sup>7</sup>&frasl;<sub>5</sub>&times;25 km/hr <br><br>= 35 km/hr.



</div>
</body>
</html>
