{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:14</h1>
<hr>
<p>
In covering a certain distance, the speeds of A and B are in the ratio of 3:4. A taken 30 minutes more than B to reach the destination. The time taken by A to reach the destination is:



</p>


<div class="div2">
	A.&nbsp;&nbsp;1 hour

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;1  hour 30 minutes

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;2 hours 

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;2 hours 30 minutes

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Ratio of speeds = 3:4 <br><br>
Ratio of time = 4:3<br><br>
Difference of time = (4-3)ratio<br><br>
1 ratio = 30 minutes<br><br>
Time taken by A = 4 ratio <br><br>= 4&times;30 minutes <br><br>= 120 minutes <br><br>
= 2 hours.


</div>
</body>
</html>
