{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:70</h1>
<hr>
<p>
A train 150 meters long running at an average speed of 52 km/h crosses a man walking in the same direction at an average speed of 7 km/h in:



</p>


<div class="div2">
	A.&nbsp;&nbsp;12 seconds

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;13 seconds

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;15 seconds

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Relative speed = (52-7) km/h <br><br>= 45 km/h <br><br>
= 4&times;<sup>5</sup>&frasl;<sub>18</sub> m/s = 25&divide;2 m/s<br><br>
Time taken to cover 150 meter= 150&divide;<sup>25</sup>&frasl;<sub>2</sub><br><br>
=(150&times;2)&divide;25<br><br>
=12 seconds.


</div>
</body>
</html>
