{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:64</h1>
<hr>
<p>
A 300 meter long train crosses a platform in 42 seconds while it crosses a pole in 18 seconds. What is the length of the platform?



</p>


<div class="div2">
	A.&nbsp;&nbsp;400 meters

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;200 meters

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;300 meters

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Time taken to cover distance equal to length of platform = 42-18<br><br>=24 seconds<br><br>
Time taken to cover distance equal to length (300 m) of train <br><br>= 18 seconds<br><br>
Length of the platform = (300&divide;18)&times;24<br><br>=400 m.


</div>
</body>
</html>
