<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:60</h1>
<hr>
<p>
A train crosses a pole and a bridge 300 meters long in 10 seconds and 25 seconds respectively. How long will the train take to cross a platform 200 meters long?




</p>


<div>
	A.&nbsp;&nbsp;10 seconds

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;18 seconds

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;20 seconds

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;25 seconds

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

Time taken to cover 300 meters = 25-10<br><br>=15 seconds<br><br>
Speed of the train = 300&divide;15<br><br>=20 m/s<br><br>
Length of train = 10&times;20m<br><br>=200 meters<br><br>
Time taken by to cross a platform of 200 meters<br><br> 
= (200+200)&divide;20<br><br>=20 seconds.

</body>
</html>
