<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:22</h1>
<hr>
<p>
A man can reach a certain place in 30 hours. If he reduces his speed by 
<sup>1</sup>&frasl;<sub>15</sub>
th, he goes 10 km less in that time. Find his speed (in km/hour)




</p>


<div>
	A.&nbsp;&nbsp;6

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;5 <sup>1</sup>&frasl;<sub>2</sub>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;4

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;5

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>
Ratio of speeds = 15:14<br><br>
Difference in distance covered = (15-14)ratio <br><br>
= 1 ratio <br><br>
=10 km <br><br>
original distance = 15 ratio<br><br> = 15&times;10 km <br><br>= 150 km<br><br>
Original speed = 150&divide;30 <br><br>= 5 km/hr.


</body>
</html>
