<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:10</h1>
<hr>
<p>
A train 800 metres long is running at the speed of 78 km/hr. if it crosses a tunnel in 1 minute, then the length of the tunnel (in metres ) is:

</p>


<div>
	A.&nbsp;&nbsp;500

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;800

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;1300

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;13

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>


Distance covered in one minute = 78000&divide;60<br><br>
= 1300m<br><br>
Length of tunnel = 1300-800<br><br>
= 500 m.	



</body>
</html>
