<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:69</h1>
<hr>
<p>
A train crosses a pole in 10 seconds and a platform 150 meter long in 16 seconds. The speed of the train in km/h is:

</p>


<div>
	A.&nbsp;&nbsp;60

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;90

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;120

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;180

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

Train crosses distance equal to its length in 10 seconds<br><br>
And distance equal to sum of length of train and length of platform in 16 seconds.<br><br>
Train covers 150 meters i.e. length of platform in 6 seconds<br><br>
Speed of the train = 150&divide;6 m/s<br><br> = (150&divide;6)&times;18&divide;5 km/h<br><br>
= 90 km/hr.




</body>
</html>
