<html>
<body>
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:36</h2>
<hr>
<p>
I walk a certain distance and ride back taking a total time of 37 minutes. I could walk both ways in 55 minutes. How long would it take me to ride both ways?


</p>


<div>
	A.&nbsp;&nbsp;9.5 minutes

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;19 minutes

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;18 minutes

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;20 minutes

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

One way walking + one way riding = 37 minutes<br><br>
2&times; (one way walking + one way riding ) <br><br>= 74 minutes<br><br>
Two way walking time = 55 minutes<br><br>
Two ways riding time = 74 minutes &minus; 55 minutes <br><br>= 19 minutes.



</body>
</html>
