{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:53</h1>
<hr>
<p>
A 220 meter long train crosses a 260 meter long platform in 24 seconds. What is the speed of train in km/hr?



</p>


<div class="div2">
	A.&nbsp;&nbsp;60

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;76

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;72

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;64

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Total distance covered in 24 seconds = 220+260<br><br>=480 m<br><br>
Speed of train = 480&divide;24<br><br>=20 m/s <br><br>= 20&times;18&divide;5<br><br>=72 km/hr.



</div>
</body>
</html>
