<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:13</h1>
<hr>
<p>
The ratio of speeds of A and B is 4:5. If difference between time taken by two in covering a certain distance is 20 minutes, find the time taken by A.



</p>


<div>
	A.&nbsp;&nbsp;4 minutes

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;5 minutes

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;70 minutes

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;100 minutes

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Ratio of speeds = 4:5 <br><br>
Ratio of time taken = 5:4<br><br>
Difference of time = (5-4)ratio <br><br>= 1 ratio <br><br>= 20 minutes<br><br>
Time taken by A = 5 ratio <br><br>= 100 minutes.


</body>
</html>
