{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:41</h1>
<hr>
<p>

If a train, with a speed of 60 kmph, crosses a pole in 30 seconds, the lengh of the train (in meters) is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;1000

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;900

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;750

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;500

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Speed of the train = 60 km/hr<br><br> = 60&times;<sup>5</sup>&frasl;<sub>18</sub> m/s<br><br>
Length of train = distance covered in 30 seconds<br><br> 
= 60&times;<sup>5</sup>&frasl;<sub>18</sub>&times;30 m<br><br>
= 500 meters.


</div>
</body>
</html>
