{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:95</h1>
<hr>
<p>
A train travelling at 48 km/hr crosses another train, having half its length and travelling in opposite direction at 42 km/hr, in 12 seconds. It also passes a railway platform in 45 seconds. The length of the railway platform is:



</p>


<div class="div2">
	A.&nbsp;&nbsp;200 meters

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;300 meter


	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;350 meters

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;400 meters

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Relative speeds of two trains = (48+42)<br><br>=90 km/hr<br><br>
=90&times;<sup>5</sup>&frasl;<sub>18</sub> m/s<br><br>= 25m/s<br><br>
Total distance covered in 12 seconds  12&times;25=300 meters<br><br>
Length of the first train= (300&times;2)&divide;3<br><br>=200 meters<br><br>
Distance covered by the first train in 45 seconds <br><br>
= 48&times;<sup>5</sup>&frasl;<sub>18</sub> &times45<br><br>=600 meters
Length of the platform = 600-200<br><br>=400 meters.


</div>
</body>
</html>
