{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:7</h2>
<hr>
<p>
A train running at 36 km/h, covers a certain distance in 50 minutes. At what speed train must run to cover the same distance in 30 minutes?


</p>


<div class="div2">
	A.&nbsp;&nbsp;45 km/h

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;50 km/h

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;54 km/h
	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;60 km/h

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Required speed = (36&times;50)&divide;30 minutes <br><br>= 60 km/h.



</div>
</body>
</html>
