{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:98</h1>
<hr>
<p>
Nitin rides a bicycle at the speed of 15 km/mhr. But stops for 10 minutes to take rest every 20 km. how much time will he take to cover a distance of 150 kms?


</p>


<div class="div2">
	A.&nbsp;&nbsp;12 hours 30 mins

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;11 hours 10 mins

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;10 hours 20 mins

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;12 hours 10 mins

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Time taken to cover 150 km @ 15 km/hr = 10 hours<br><br>
He will take rest 150&divide;20<br><br>=7 times<br><br>
Total rest time = 10&times;7 <br><br>=70 minutes <br><br>= 1 hours 10 minutes<br><br>
Total time taken = 10 hours + 1 hor 10 minutes <br><br>= 11 hours, 10 minutes.



</div>
</body>
</html>
