{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:16</h1>
<hr>
<p>

A car covers the first 35 km of its journey in 45 minutes and covers the remaining 69 km in 75 minutes. What is the average speed of the car?


</p>


<div class="div2">
	A.&nbsp;&nbsp;42 km/hr

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;50 km/hr 

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;52 km/hr

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;60 km/hr

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>


Total distance covered = 35+69 <br><br>= 104 km<br><br>
Total time = 45+75<br><br>
= 120 minutes = 2 hours<br><br>
Average speed = 104&divide;2<br><br>
= 52 km/hr.

</div>
</body>
</html>
