<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:73</h1>
<hr>
<p>
Two trains each 200 m long move towards each other on parallel lines with velocities 20 kmph and 30 kmph respectively. What is the time that elapses when they first meet until they have cleared each other?


</p>


<div>
	A.&nbsp;&nbsp;20 seconds

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;24.8 seconds

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;28.8 seconds

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;30 seconds

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>


Total distance = 200+200<br><br>=400 m<br><br>
Relative speed = (20+30) km/hr <br><br>= 50 km/hr <br><br>
= 50&times;(5&divide;18) m/s <br><br>
=125&divide;9 m/s<br><br>
Required time = 400&divide;125&divide;9 <br><br>= 400&times;9&divide;125<br><br>=28.8 secs.


</body>
</html>
