<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:92</h2>
<hr>
<p>
    From a point on a circular track 5 km long A, B and C started running in the same direction at the same time with
    speeds of 2 <sup>1</sup>&frasl;<sub>2</sub> km per hour, 3 km per hour and 2 km per hour respectively. Then on the
    starting point all three will meet again after:


</p>


<div>
    A.&nbsp;&nbsp;30 hours


</div>
<br>
<div>
    B.&nbsp;&nbsp;6 hours


</div>
<br>
<div>
    C.&nbsp;&nbsp;10 hours


</div>
<br>

<div>
    D.&nbsp;&nbsp;15 hours


</div>


<h2><u>Answer</u>: c</h2>


Time taken by A, B and C to complete one round <br><br>
=<sup>5</sup>&frasl;(<sub>2<sup>1</sup>&frasl;<sub>2</sub></sub>), <sup>5</sup>&frasl;<sub>3</sub>,
<sup>5</sup>&frasl;<sub>2</sub>
=2,<sup>5</sup>&frasl;<sub>3</sub>,
<sup>5</sup>&frasl;<sub>2</sub> hours<br><br>
Then will be at starting point again after LCM of 2,
<sup>5</sup>&frasl;<sub>3</sub>,
<sup>5</sup>&frasl;<sub>2</sub><br><br>
=10 hours.


</body>
</html>
