<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:84</h1>
<hr>
<p>
A thief running at 8 km/h is chased by a policeman whose speed is 10 km/h. if the thief is 100 m ahead of the policeman, than the time required for the policeman to catch the thief will be:


</p>


<div>
	A.&nbsp;&nbsp;2 mins

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;3 mins

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;4 mins

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;6 mins

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

Police man gains = (10-8) km/hr<br><br>
= 2 km/hr <br><br>
Hel will gain 100 meter in 3 minutes.



</body>
</html>
