{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:79</h1>
<hr>
<p>
A train 220 meter long running at 90 km/h crosses a 180 meter train coming from the opposite direction in 9 seconds. The speed of the second train is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;50 km/h

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;70 km/h

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;100 km/h

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;160 km/h

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Distance covered = (220+180) meters <br><br>= 400 meters<br><br>
Relative speed of two trains= 400&divide;9 m/s <br><br>
= (400&divide;9)&times;(18&times;5) km/h<br><br>
= 160 km/h<br><br>
Speed of the second train = (160-90) km/h <br><br>= 70 km/h.



</div>
</body>
</html>
