<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:85</h2>
<hr>
<p>
A theft is reported to policeman. The thief starts running and the policeman chases him, when the policeman starts chasing, the thief was at a distance of 150 meter. The thief and the policeman run at the speed of 9 km/h and 10 km/h respectively. How far the policeman had to run to catch the thief?


</p>


<div>
	A.&nbsp;&nbsp;1000 m

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;1250 m

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;1500 m

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>

Ratio of speeds = 9:10<br><br>
Police man gains = (10-9)km<br><br>
= 1 km for every 10 km covered by him<br><br>
Required distance = 10&times;150m<br><br>=1500 m.



</body>
</html>
