<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:76</h1>
<hr>
<p>
Two trains are running in the same direction at 74 km/h and 38 km/h. if the faster train crosses a man sitting in the slower train in15 seconds, find the length of the faster train.

</p>


<div>
	A.&nbsp;&nbsp;100 meter

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;125 meter

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;150 meter

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;165 meter

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

Relative speeds of the two trains = (74-38) km/h<br><br>
=36 k/h<br><br>
Distance covered in 15 seconds <br><br>
=36&times;<sup>5</sup>&frasl;<sub>18</sub>&times;15=150 m<br><br>
Length of the faster train = 150 meter.




</body>
</html>
