<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:11</h1>
<hr>
<p>
What is the ratio between times taken by a train 240 m long to cross an electric pole and a bridge of 80 m length?



</p>


<div>
	A.&nbsp;&nbsp;2:3

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;3:4

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;4:5

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;5:6

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>


Ratio of time taken = ratio of distances covered <br>= 240:(240+80)<br><br>
= 240:320<br><br>
= 3:4

</body>
</html>
