<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:66</h1>
<hr>
<p>
Find the time taken by a train 200 meter long, running at 72 km/h in crossing a standing man:



</p>


<div>
	A.&nbsp;&nbsp;5 seconds

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;10 seconds

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;20 seconds

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;2 seconds

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

Speed of the train = (5&divide;18)&times;72 m/s <br><br>= 20 m/s<br><br>
Distance covered to cross the man = 200 meter<br><br>
Required time = 200&divide;20<br><br>=10 seconds.


</body>
</html>
