<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:3</h1>
<hr>
<p>
The present ages of A and B are in the ratio 4:5 and after 5 years, their ages will be in the ratio 5:6. The present age of A is:


</p>


<div>
	A.&nbsp;&nbsp;15 years

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;20 years

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;25 years

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;30 years

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
The Ratio between present ages of A and B is 4:5<br><br>

=><sup>A</sup>&frasl;<sub>B</sub>

= <sup>4</sup>&frasl;<sub>5</sub>

<br><br>

=>B=5&times;<sup>A</sup>&frasl;<sub>4</sub>--->1

<br><br>

The Ratio between ages of A and B after 5 years is <br><br>

=>(A+5):(B+5)=5:6<br><br>

=>6A+30=5B+25<br><br>

Substitute 1 in above eq. then we will get  <br><br>

6A+30=5&times;(5&times;<sup>A</sup>&frasl;<sub>4</sub>)+25<br><br>

=>A=20 <br><br>

=>B=5&times;<sup>20</sup>&frasl;<sub>4</sub> = 25.

</body>
</html>