{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:13</h1>
<hr>
<p>

3 years ago, the age of father was 7 times of his sons age. If the fathers present age is 5 times his sons age. Find the present age of the father?

</p>


<div class="div2">
	A.&nbsp;&nbsp;35 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;39 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;42 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;45 years

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given That The present age of Father is 5 times the present age of his son 

<br><br>

F = 5&times;S--->1

<br><br>

And also The age of father is 7 times the age of his son before 3 years 

<br><br>

=> (F-3) = 7&times;(S-3)

<br><br>

Substitute 1 in above equation we get

<br><br>

(5&times;S)-3 = (7&times;S)-21

<br><br>

=> 2&times;S = 18

<br><br>

then S = 9

<br><br>

Finally Fathers age is 

<br><br>

F = 5&times;S

<br><br>

= 5&times;9

<br><br>

= 45


</div>
</body>
</html>
