{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:33</h1>
<hr>
<p>
A and B are 3 years and 2 years old respectively. Their father is 40 yeasrs. After how many years, fathers age would be twice of combined age of A and B?
	



</p>


<div class="div2">
	A.&nbsp;&nbsp;5 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;10 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;15 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;20 years

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let us assume that the ages of Father and his two childrens be F, A and B

<br><br>

Given that the ages of Father and his childrens A and B are

<br><br>

A = 3

<br><br>

B = 2

<br><br>

F = 40

<br><br>

Let us assume X be the required years then

<br><br>

According to problem Fathers age is twice that of Combined age of A and B after X years

<br><br>

i.e. (F+X) = 2&times;[(A+X)+(B+X)]

<br><br>

F+X = 2&times;(A+B)+(4&times;X)

<br><br>

40+X = 2&times;(3+2)+(4&times;X)

<br><br>

40-10 = 3&times;X

<br><br>

X = <sup>30</sup>&frasl;<sub>3</sub>

<br><br>

X = 10

<br><br>

After <u>10</u> years te age of Father is twice that of the combined age of his childrens A and B



</div>
</body>
</html>
