<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:12</h1>
<hr>
<p>
The present age of suresh is twice his daughters present age. Six years hence, the ratio between the ages of suresh and his daughter will be respectively 23:13. What is the present age of suresh?




</p>


<div>
	A.&nbsp;&nbsp;40 years

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;36 years

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;46 years

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>
Given That The present age of suresh is twice his daughters present age <br><br>

=> S = 2&times;D --->1<br><br>

The ratio between the ages of suresh and his daughter After 6 years is <br><br>

<sup>(S+6)</sup>&frasl;<sub>(D+6)</sub> =  <sup>23</sup>&frasl;<sub>13</sub><br><br>

Substitute 1 in the above eq. we will get <br><br>

<sup>(2&times;D+6)</sup>&frasl;<sub>(D+6)</sub> = <sup>23</sup>&frasl;<sub>13</sub><br><br>

13&times;(2&times;D+6) = 23&times;(D+6)<br><br>

By calculations we will get <br><br>

=> D = 20 <br><br>

=> S = 2&times;D = 2&times;20 = 40.

</body>
</html>
