<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:22</h1>
<hr>
<p>
Mohan got married 9 years ago. Today his age is 1 <sup>1</sup>&frasl;<sub>3</sub> times of his age at the time of his marriage. Find his present age?



</p>


<div>
	A.&nbsp;&nbsp;12 years

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;27 years

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;36 years

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;45 years

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

Let the present age of Mohan be M

<br><br>

then his age at the time of marriage is (M-9) since he got married before 9 years

<br><br>

Given that present age is 1<sup>1</sup>&frasl;<sub>3</sub> times the age at the time of marriage 

<br><br>

then M=<sup>4</sup>&frasl;<sub>3</sub>&times;(M-9)

<br><br>

3&times;M=4&times;(M-9)

<br><br>

3&times;M=(4&times;M)-36

<br><br>

M=36



</body>
</html>
