{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:27</h1>
<hr>
<p>
Present ages of A and B are 50 years and 18 years respectively. In howmany years will A be twice as old as B?

</p>


<div class="div2">
	A.&nbsp;&nbsp;14 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;15 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;16 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;18 years

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Given that the present ages of A and B are 50 and 18

<br><br>

A=50 & B=18

<br><br>

Let the required time be X years 

<br><br>

Given that As ages becomes double that of B after X years

<br><br>

Then (50+X)=2&times;(18+X)

<br><br>

50+X=36+2X

<br><br>

X=14 years

<br><br>

A will be twice of Bs age after 14 years.


</div>
</body>
</html>
