<html>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
    <title>Problems On Ages Tutorial</title>
</head>
<body>

<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1>Problem on Ages.</p1>
</u></b></font>
<hr/>
<hr/>


<p><font size="4"> <u>Introduction </u></font>
    <br>
<ul>
    <li>

        in problems on ages, ratios of ages of two persons at two different points of time are given and we are required
        to calculate their ages at a given point of time.

    </li>


    <li>
        In this chapter we will learn to solve these problems without making the equations with the help of rules earnt
        in Ratio and Proportion chapter.

    </li>


</ul>
<ol>
    <li>
        The ratio of present ages of A and B is x:y. after a years from now, the ratio of ages becomes (x + 1):(y + 1).
        Then their present ages are ax and ay respectively.

    </li>

    <br>

    <li>
        The ratio of present ages of A and B is x:y. after a years from now, the ratio of ages becomes (x + k):(y + k).
        then their present ages are

        <br><b><sup>a</sup> &frasl; <sub>k </sub>&times; x</b> &nbsp;and <b><sup>a</sup>&frasl;<sub>k</sub> &times;
        y</b> respectively.

    </li>
    <br>

    <li>
        Let ages of A and B are in the ratio of a:b. after y years, the ratio of ages becomes m:n. then their present
        ages are ax and bx years. Where

        <br><br>


        = <sup>y( m - n )</sup>&frasl;<sub>an - bm</sub>

        <br><br>

        = <sup>a</sup>&frasl;<sub>b</sub>.<br>
        a = Difference in time &times; Difference in new ratio<br>
        b = Difference in cross multiplication of new and old ratios

    </li>
    <br>


    <li>
        If ratio of a father and sum of ages of n children is a:b. After k years the ratio becomes c:d, the present age
        of the father is ax and sum of ages of children is bx, where x =

        <br><br>


        = <sup>(nc - d) &times; k </sup>&frasl;<sub>ad - bc</sub>.


    </li>
</ol>
</body>


</html>
