{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:34</h1>
<hr>
<p>
3 years ago, a fathers age was twice the sum of ages of his 4 sons. in 3 years time, the fathers age will be equal to sum of ages of the sons. Find the present age of father.


</p>


<div class="div2">
	A.&nbsp;&nbsp;24 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;36 years 

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;39 years 

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;45 years 

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>


3 Years ago, let sum of age of four sons =  x
<br><br>
Then fathers age (3 years ago ) = 2x
<br><br>
Fathers age (after 6 years ) = 2x+6
<br><br>
Sum of the ags of 4 sons (6 years hense ) = x + (6&times;4)
<br><br>
2x + 6 = x + 24
<br><br>
x = 18
<br><br>
Father present age = 2x + 3
<br><br>
 = (2&times;18)+3
<br><br>
=39 years.

<h2><u>Alternative Method:</u></h2>


Let us assume the age of Father and his four sons be F, S<sub>1</sub>,S<sub>2</sub>,S<sub>3</sub>,S<sub>4</sub>

<br><br>

Fathers age is twice that of his four Sons before 3 years 

<br><br>

i.e. (F-3) = 2&times;[(S<sub>1</sub>-3)+(S<sub>2</sub>-3)+(S<sub>3</sub>-3)+(S<sub>4</sub>-3)]

<br><br>

F-3 = 2&times;[S<sub>1</sub>+S<sub>2</sub>+S<sub>3</sub>+S<sub>4</sub>]-24

<br><br>

F+21 = 2&times;[S<sub>1</sub>+S<sub>2</sub>+S<sub>3</sub>+S<sub>4</sub>] --- > 1

<br><br>

And also given that Fathers age is equal to Sum of his four sons age after 3 years from present 

<br><br>

Then

<br><br>

F+3 = [(S<sub>1</sub>+3)+(S<sub>2</sub>+3)+(S<sub>3</sub>+3)+(S<sub>4</sub>+3)]

<br><br>

F+3 = [S<sub>1</sub>+S<sub>2</sub>+S<sub>3</sub>+S<sub>4</sub>] + 12

<br><br>

F-9 = [S<sub>1</sub>+S<sub>2</sub>+S<sub>3</sub>+S<sub>4</sub>] --- > 2

<br><br>

From 1 and 2 we get

<br><br>

F+21 = 2&times;(F-9)

<br><br>

F+21 = 2&times;F - 18

<br><br>

F = 21+18

<br><br>

F = 39






</div>
</body>
</html>
