{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:21</h1>
<hr>
<p>
In 30 years, age of a person becomes 3 times of his present age. What is his present age?



</p>


<div class="div2">
	A.&nbsp;&nbsp;7.5 years 

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;10 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;12.5 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;15 years

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>


Let his present age be x years

<br><br>

Then his age after 30 years will be 3x years

<br><br>

Given x + 30 = 3x 

<br><br>

2x = 30


<br><br>

Present age = x = 30&divide;2 

<br><br>

= 15 years.

</div>
</body>
</html>
