<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:15</h1>
<hr>
<p>
2 years ago, the fathers age was 6 times of his sons age. 6 years hence the ratio between the ages of father and the son becomes 10:3. What is the fathers present age?


</p>


<div>
	A.&nbsp;&nbsp;40 years

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;42 years

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;44 years

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;48 years

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

Let us assume that the present ages of Father and Son be <u>F</u> and <u>S</u> respectively

<br><br>

Given the fathers age is 6 times that of his Sons age before 2 years

<br><br>

(F-2) = 6&times;(S-2)

<br><br>

F = (6&times;S)-10--->1

<br><br>

And also Given that the ratio between fathers and his sons age becomes 10:3 after 6 years

<br><br>
i.e. 
<sup>F+6</sup>&frasl;<sub>S+6</sub> = 
<sup>10</sup>&frasl;<sub>3</sub>

<br><br>

(3&times;F)+18 = (10&times;S)+60

<br><br>

Substitute 1 in Above equation we get 

<br><br>

3&times;((6&times;S)-10) = (10&times;S)+42

<br><br>

(18&times;S)-30 = (11&times;S)+42

<br><br>

8&times;S = 72

<br><br>

=> S = 9

<br><br>

From Equation 1

<br><br>

 F = (6&times;S)-10

<br><br>

F = (6&times;9)-10

<br><br>

F = 54-10

<br><br>

F = 44.



</body>
</html>
