{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:19</h1>
<hr>
<p>
Ratio between present ages of A and B is 3:4. What is the present age of A, if 4 years ago, the ratio was 5:7?


		


</p>


<div class="div2">
	A.&nbsp;&nbsp;20 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;24 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;28 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;32 years

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

The Ratio between present ages of A and B is 
<br><br>

A:B=3:4<br><br>

=> B = 4&times;<sup>A</sup>&frasl;<sub>3</sub>--->1 
<br><br>

The ratio between their ages before 4 years is 5:7

<br><br>

(A-4):(B-4) = 5:7

<br><br>

=> 7&times;(A-4) = 5&times;(B-4)

<br><br>

Substitute 1 in above eq. then we will get  

<br><br>

=> (7&times;A)-28 = (5&times;(4&times;<sup>A</sup>&frasl;<sub>3</sub>))-20

<br><br>

7&times;A=(20&times;<sup>A</sup>&frasl;<sub>3</sub>)+8

<br><br>

By simplificatiuon we will get 

<br><br>

=> A = 24<br><br>

=> B = 4&times;<sup>A</sup>&frasl;<sub>3</sub>

<br><br>

=> B = 4&times;<sup>24</sup>&frasl;<sub>3</sub>

<br><br>

B = 32

<br><br>

</div>
</body>
</html>
