{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:31</h1>
<hr>
<p>
A is 2 years older than B who is twice as old as C. if sum of ages of A,B and C is 37 years. Find the age of A.

</p>


<div class="div2">
	A.&nbsp;&nbsp;7 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;9 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;14 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;16 years


	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let us assume that the age of C is X years 

<br><br>

B is twice as old as C then

<br><br>

B = 2&times;X

<br><br>

A is two years older than B then 

<br><br>

A=B+2

<br><br>

A = (2&times;X) + 2

<br><br>

Sum of their ages is 37

<br><br>

A+B+C = 37

<br><br>

{(2&times;X)+2}+(2&times;X)+X=37

<br><br>

5&times;X+2 = 37

<br><br>

5&times;X=35

<br><br>

X = 7

<br><br>

The age of A is 

<br><br>

A = (2&times;X)+2

<br><br>

A = (2&times;7)+2

<br><br>

A=14+2

<br><br>

A=16



</div>
</body>
</html>
