{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:24</h1>
<hr>
<p>
The sum of ages of sunil and his father is 46 years, 3 years back, fathers age was 4 times sunils age. Find present age of sunil.


</p>


<div class="div2">
	A.&nbsp;&nbsp;7 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;8 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;11 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;12 years

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let us assume the ages of Sunil and his Father be <u>S</u> and <u>F</u>

<br><br>

Given that the Sum of ages of Sunil and his Father is 46

<br><br>

S+F=46

<br><br>

F=46-S---> 1

<br><br>

And also given that the fathers age is 4 times that of sunils age before 3 years

<br><br>

F-3=4&times;(S-3)

<br><br>

F=(4&times;S)-12+3

<br><br>

F=(4&times;S)-9

<br><br>

Substitute 1 in Above equation then 

<br><br>

46-S=(4&times;S)-9

<br><br>

55=5&times;S

<br><br>

S=11

<br><br>

F=46-S

<br><br>

F=46-11

<br><br>

F=35





</div>
</body>
</html>
