{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:26</h1>
<hr>
<p>

Sum of present age of A and B is 60 years. 5 years hence, their ages will be in the ratio 3:4. Find As present age.


</p>


<div class="div2">
	A.&nbsp;&nbsp;25 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;30 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;35 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;40 years

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Sum of present ages of A and B is 60

<br><br>

A+B = 60

<br><br>

B=60-A---> 1

<br><br>

After 5 years,the ratio of ages of A and B will be 3:4

<br><br>

<sup>(A+5)</sup>&frasl;<sub>(B+5)</sub> 
= <sup>3</sup>&frasl;<sub>4</sub>

<br><br>

4&times;(A+5)=3&times;(B+5)

<br><br>

4&times;A+20=3&times;B+15

<br><br>

Substitute 1 in above equation

<br><br>

then 
<br>
4&times;A=3&times;(60-A)-5

<br><br>

4&times;A=180-(3&times;A)-5

<br><br>
7&times;A=175

<br><br>

A= <sup>175</sup>&frasl;<sub>7</sub>

<br><br>

A=25


</div>
</body>
</html>
