{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:6</h1>
<hr>
<p>
The ratio between the ages of A and B is 2:5. After 8 years, their ages will be in the ratio 1:2. What is the difference between their present ages?


</p>


<div class="div2">
	A.&nbsp;&nbsp;20 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;22 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;24 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;25 years

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

The Ratio between present ages of A and B is 
<br><br>

A:B = 2:5<br><br>

=>B = 5&times;<sup>A</sup>&frasl;<sub>2</sub>---> 1<br><br>

The Ratio between ages of A and B after 8 years is <br><br>

(A+8):(B+8) = 1:2<br><br>

=>2A+16 = B+8<br><br>

Substitute 1 in above eq. then we will get  <br><br>

=>2A+16 = 5&times;<sup>A</sup>&frasl;<sub>2</sub>+8<br><br>

By simplificatiuon we will get <br><br>

=>A = 16<br><br>

=>B = 5&times;<sup>A</sup>&frasl;<sub>2</sub><br><br>

=>B = 5&times;<sup>24</sup>&frasl;<sub>2</sub><br><br>

B = 40<br><br>

The difference between the ages of A and B is 40-16<br><br>

= 24.


</div>
</body>
</html>
