{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:29</h1>
<hr>
<p>
The sum present ages of a father and his son is 36 years. When the son reaches fathers present age, the sum of their ages will be 80 years. What is the present age of the son?	



</p>


<div class="div2">
	A.&nbsp;&nbsp;4 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;7 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;9 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;12 years

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>


Let us assume that the ages of Father and his Son be <u>F</u> and <u>S</u>

<br><br>

Sum of their present ages is 36

<br><br>

i.e. S+F=36 ---> 1

<br><br>

And also given that Sons age is equal to present of his Father after Some years. 

<br><br>

So Let assume The time is X years then

<br><br>

S+X=F ---> 2

<br><br>

And sum of their ages after X years is 80

<br><br>

S+X+F+X=80

<br><br>

S+F+(2&times;X)=80

<br><br>

From 1 we get 

<br><br>

36+(2&times;X)=80

<br><br>

2&times;X=44

<br><br>

X=22

<br><br>

Substitute 2 into 1 we get

<br><br>

S+S+X=36

<br><br>

2&times;S=36-22

<br><br>

2&times;S=14

<br><br>

S=7

<br><br>

The present age of father is 

<br><br>

F=S+X

<br><br>

F=7+25

<br><br>

F=32

</div>
</body>
</html>
