<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:30</h1>
<hr>
<p>

The ages of A and B are in the ratio 8:5. If the sum of their ages is 39 years. What will be the ratio of their ages after 9 years?



</p>


<div>
	A.&nbsp;&nbsp;3:2

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;8:7

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;10:7

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;11:8

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Given that the ratio of ages of A and B is 8:5

<br><br>

<sup>A</sup>&frasl;<sub>B</sub> = <sup>8</sup>&frasl;<sub>5</sub>

<br><br>

Then A=8&times;(<sup>B</sup>&frasl;<sub>5</sub>)--- > 1

<br><br>

And also given that the sum of their ages is 39

<br><br>

A+B = 39

<br><br>

A=39-B---> 2

<br><br>

Bysolving Eq.s 1 and 2 we get

<br><br>

39-B=8&times;(<sup>B</sup>&frasl;<sub>5</sub>) 

<br><br>

5&times;(39-B)=8&times;B

<br><br>

195-(5&times;B) = 8&times;B

<br><br>

13&times;B = 195

<br><br>

B=<sup>195</sup>&frasl;<sub>13</sub>

<br><br>

B=15

<br><br>

A = 8&times;(<sup>B</sup>&frasl;<sub>5</sub>)

<br><br>

A=8&times;<sup>15</sup>&frasl;<sub>5</sub>

<br><br>

A=24

<br><br>

Finally the ratio of their ages after 9 years is 

<br><br>

<sup>(A+9)</sup>&frasl;<sub>(B+9)</sub> = <sup>(24+9)</sup>&frasl;<sub>(15+9)</sub>

<br><br>

<sup>(A+9)</sup>&frasl;<sub>(B+9)</sub> = <sup>33</sup>&frasl;<sub>24</sub>

<br><br>

<sup>(A+9)</sup>&frasl;<sub>(B+9)</sub> = <sup>11</sup>&frasl;<sub>8</sub>

</body>
</html>
