<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:5</h1>
<hr>
<p>
The ages of samir and tanuj are in the ratio 8:15. After 9 years the ratio of their ages will be 11:18. What is the difference in years between their ages?

 	 </p>


<div>
	A.&nbsp;&nbsp;24 years

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;20 years

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;33 years

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;21 years

	
</div>
		
	

<h2> <u>Answer</u>: d</h2>
The Ratio between present ages of samir and tanuj is <br><br>
S:T=8:15<br><br>

=>T = 15&times;<sup>S</sup>&frasl;<sub>8</sub>---> 1
<br><br>

The Ratio between ages of samir and tanuj after 9 years is <br><br>

(S+9):(T+9) = 11:18<br><br>

=>18S+162 = 11T+99<br><br>

Substitute 1 in above eq. then we will get  <br><br>

=>18S+162  <br><br>
=11&times;(15&times;<sup>S</sup>&frasl;<sub>8</sub>)+99
<br><br>

By simplificatiuon we will get <br><br>

=>S = 24<br><br>

=>T = 15&times;<sup>S</sup>&frasl;<sub>8</sub><br><br>

=>T = 15&times;<sup>24</sup>&frasl;<sub>8</sub><br><br>

T = 21.

</body>
</html>
