<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:7</h1>
<hr>
<p>
The ratio between present ages of A and B is 7:5. The ratio between As age 5 years ago and Bs age 5 years hence is 1:1. What is the ratio of age of A after 5 years and that of B 5 years ago?

</p>


<div>
	A.&nbsp;&nbsp;4:3

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;2:1

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;1:2

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;3:4

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

The Ratio between present ages of A and B is 
<br><br>

A:B=7:5<br><br>

=> B = 5&times;<sup>A</sup>&frasl;<sub>7</sub>---> 1<br><br>

The ratio between As age 5 years ago and Bs age 5 years hence is 1:1<br><br>

(A-5):(B+5) = 1:1<br><br>

=> A-5 = B+5<br><br>

Substitute 1 in above eq. then we will get  <br><br>

=> A-5 = (5&times;<sup>A</sup>&frasl;<sub>7</sub>)+5<br><br>

By simplificatiuon we will get <br><br>

=> A = 35<br><br>

=> B = 5&times;<sup>A</sup>&frasl;<sub>7</sub><br><br>

=> B = 5&times;<sup>35</sup>&frasl;<sub>7</sub><br><br>

B = 25.<br><br>

Finally the ratio of age of A after 5 years and that of B 5 years ago is <br><br>

=> <sup>(A+5)</sup>&frasl;<sub>(B-5)</sub> <br><br>

= <sup>35+5</sup>&frasl;<sub>25-5</sub><br><br>

=> 2:1.

</body>
</html>
