{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:28</h1>
<hr>
<p>
The sum of ages of mohan and his father is 35 years. When mohans age will be equal to present age of his father, then sum of their ages will be 85 years. Find present age of the father.


</p>


<div class="div2">
	A.&nbsp;&nbsp;20 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;25 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;30 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;32 years

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let us assume that the ages of mohan and his father be <u>M</u> and <u>F</u>

<br><br>

Sum of their present ages is 35

<br><br>

i.e. M+F=35 ---> 1

<br><br>

And also given that Mohans age is equal to present of his Father after Some years. 

<br><br>

So Let assume The time is X years then

<br><br>

M+X=F ---> 2

<br><br>

And sum of their ages after X years is 85

<br><br>

M+X+F+X=85

<br><br>

M+F+(2&times;X)=85

<br><br>

From 1 we get 

<br><br>

35+(2&times;X)=85

<br><br>

2&times;X=50

<br><br>

X=25

<br><br>

Substitute 2 into 1 we get

<br><br>

M+M+X=35

<br><br>

2&times;M=35-25

<br><br>

2&times;M=10

<br><br>

M=5

<br><br>

The present age of father is 

<br><br>

F=M+X

<br><br>

F=5+25

<br><br>

F=30



</div>
</body>
</html>
