{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:16</h1>
<hr>
<p>
A fathers age was 5 times his sons age five years ago and will be three times the sons age after two years. The ratio of the present age of the father to that of the son is:





</p>


<div class="div2">
	A.&nbsp;&nbsp;33:5

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;11:5

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;3:1

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;10:3

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let us assume that the present ages of Father and Son be <u>F</u> and <u>S</u> respectively

<br><br>

Given the fathers age is 5 times that of his Sons age before 5 years

<br><br>

(F-5) = 5&times;(S-5)

<br><br>

F = (5&times;S)-20--->1

<br><br>

And also Given that the fathers age is 3 times that of his Sons age after 2 years

<br><br>

(F+2) = 3&times;(S+2)

<br><br>

Substitute 1 in Above equation we get 

<br><br>

(5&times;S)-20+2 = (3&times;S)+6

<br><br>

2&times;S = 24

<br><br>

S = 12

<br><br>

From Equation 1 we get

<br><br>

F = (5&times;S)-20

<br><br>

F = (5&times;12)-20

<br><br>

F = 60-20

<br><br>

F = 40

<br><br>

Finally the ratio of present ages of father and his son is 

<br><br>

<sup>F</sup>&frasl;<sub>S</sub> = <sup>40</sup>&frasl;<sub>12</sub>

<br><br>


<sup>F</sup>&frasl;<sub>S</sub> = <sup> 10</sup>&frasl;<sub>3</sub>

</div>
</body>
</html>


<br><br>

F:S = 10:3.

</div>
</body>
</html>