<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:23</h1>
<hr>
<p>

The sum of ages of suresh and his father is 78 years. 6 years hence, fathers age will be twice of sureshs age. Fnd present age of father.

</p>


<div>
	A.&nbsp;&nbsp;30 years

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;52 years

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;54 years

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;60 years

	
</div>
		
	

<h2> <u>Answer</u>: c</h2>

Let the ages of Suresh and his Father be <u>S</u> and <u>F</u>

<br><br>

Given that the sum of their ages is 78

<br><br>

S+F=78

<br><br>

F=78-S

<br><br>


and also given that the age of father is double that of his son after 6 years

<br><br>

i.e. F+6=2&times;(S+6)

<br><br>

Substitute F in above equation then

<br><br>

78-S+6=(2&times;S)+12

<br><br>

84-12=3&times;S

<br><br>

3&times;S=72

<br><br>

S=24

Now the age of Father is 

<br><br>

F=78-S


<br><br>

F=78-24

<br><br>

F=54

</body>
</html>
