<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:4</h1>
<hr>
<p>
Present ages of ram and sita are in the ratio 13:12 respectively. 8 yeasrs later, their ages will be in the ratio 15:14. What is sitas present age?


</p>


<div>
	A.&nbsp;&nbsp;50 years

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;54 years

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;48 years

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: c</h2>

The Ratio between Present ages of ram and sita is 13:12<br><br>

R:S = 13:12 
<br><br>
=> S = 12&times;(<sup>R</sup>&frasl;<sub>13</sub>)---> 1<br><br>

The Ratio between Present ages of ram and sita after 8 years becomes 15:14<br><br>

=> (R+8):(S+8) = 15:14<br><br>

=>14R+112 = 15S+120<br><br>

Substitute 1 in above eq. then we will get  <br><br>

=> 14R+112 
<br><br>=>15&times;(<sup>12&times;R</sup>&frasl;<sub>13</sub>)+120<br><br>

=>R = 52<br><br>

=>S = 12&times;<sup>52</sup>&frasl;<sub>13</sub><br><br>

=48.



</body>
</html>