{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:20</h1>
<hr>
<p>
Harsha is 40 years old and ritu is 60 years old. How many years ago was the ratio of their ages 3:5?		


</p>


<div class="div2">
	A.&nbsp;&nbsp;10 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;20 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;37 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;5 years

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>


Let the required time is x years

<br><br>


Then the ratio of their ages before x years is 

<br><br>

<sup>40-x</sup>&frasl;<sub>60-x</sub> 

= <sup>3</sup>&frasl;<sub>5</sub>

<br><br>

200-5x = 180-3x

<br><br>

2x=20

<br><br>

x=10.

</div>
</body>
</html>
