<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:9</h1>
<hr>
<p>
If ratio of mohans age to that of his father is 1:5. After 10 years, their ages will be in the ratio 1:3. What is the fathers present age?

</p>


<div>
	A.&nbsp;&nbsp;25 years

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;30 years

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;40 years

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;50 years

	
</div>
		
	

<h2> <u>Answer</u>: d</h2>
The ratio of mohans age to that of his father is 1:5<br><br>

=> <sup>M</sup>&frasl;<sub>F</sub> = <sup>1</sup>&frasl;<sub>5</sub><br><br>

Then F = 5&times;M---> 1<br><br>

The ratio of their ages After 10 years is 1:3<br><br>

=>  <sup>(M+10)</sup>&frasl;<sub>(F+10)</sub> = <sup>1</sup>&frasl;<sub>3</sub><br><br>

Substitute 1 in the above eq. we will get  <br><br>
 <sup>(M+10)</sup>&frasl;<sub>(5M+10)</sub> = <sup>1</sup>&frasl;<sub>3</sub><br><br>

By Calculations we will get 

<br><br>
M = 10<br><br>

=> F = 5&times;M

<br><br>

= 5&times;10 = 50.

</body>
</html>
