{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:14</h1>
<hr>
<p>
5 years ago, the fathers age was 3 times of his sons age. 5 years hence the ratio between the ages of father and the son becomes 11:5. Find the fathers present age?



</p>


<div class="div2">
	A.&nbsp;&nbsp;40 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;45 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;50 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;55 years

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let us assume that the present ages of Father and Son be <u>F</u> and <u>S</u> respectively

<br><br>

Given the fathers age is 3 times that of his Sons age before 5 years

<br><br>

(F-5) = 3&times;(S-5)

<br><br>

F = (3&times;S)-10--->1

<br><br>

And also Given that the ratio between fathers and his sons age becomes 11:5 after 5 years

<br><br>
i.e. 
<sup>F+5</sup>&frasl;<sub>S+5</sub>=
<sup>11</sup>&frasl;<sub>5</sub>

<br><br>

(5&times;F)+25 = (11&times;S)+55

<br><br>

Substitute 1 in Above equation we get 

<br><br>

5&times;((3&times;S)-10) = (11&times;S)+30

<br><br>

(15&times;S)-50 = (11&times;S)+30

<br><br>

4&times;S = 80

<br><br>

=> S = 20

<br><br>

From Equation 1

<br><br>

 F = (3&times;S)-10

<br><br>

F = 3&times;20-10

<br><br>

F = 60-10

<br><br>

F = 50.


</div>
</body>
</html>
