<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:18</h1>
<hr>
<p>
4 years ago the ratio of the ages of A and B was 2:3 and 4 years hence the ratio will be 5:7 their present ages are:




</p>


<div>
	A.&nbsp;&nbsp;36 years and 40 years

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;32 years and 48 years

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;40 years56 years

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;36 years and 52 years

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>
Let A and B are taken as present ages then 

<br><br>

The ratio between the ages of A and B before 4 years is 

<br><br>

<sup>(A-4)</sup>&frasl;<sub>(B-4)</sub> = <sup>2</sup>&frasl;<sub>3</sub>

<br><br>

(3&times;A)-12 = (2&times;B)-8

<br><br>

(2&times;B) = (3&times;A)-4

<br><br>

B = (3&times;(<sup>A</sup>&frasl;<sub>2</sub>))-2--->1

<br><br>



</body>
</html>
