{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:2</h2>
<hr>
<p>
The difference between the ages of Arun and Deepak is 14 years. Seven years ago. The ratio of their ages was 5:7 respectively. What is Deepaks present age?


</p>


<div class="div2">
	A.&nbsp;&nbsp;49 years.

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;42 years.

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;63 years.

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these.

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that Difference	between Arun and Deepak ages is <br><br>

modulus(A-D) = 14<br><br>

And The ratio of Ages of Arun And Deepak before 7 years is <br><br>

(A-7):(D-7) = 5:7
<br>
<br>

=><sup>(A-7)</sup>&frasl;<sub>(D-7)</sub>
 = <sup>5</sup>&frasl;<sub>7</sub>---> 1

<br>
<br>

There are two possibilities<br><br>
1.A>D<br><br>

2.D>A<br><br>

<u>Case1</u>: A>D<br><br>

 A-D = 14
<br><br>
 =>  A = D+14<br><br>

Substitute A in 1 then we will get<br> <br>

<sup>(14+D-7)</sup>&frasl;<sub>(D-7)</sub>

= 

<sup>5</sup>&frasl;<sub>7</sub><br><br>

=>2D = -84 => D = (-42)<br><br>

It is not possible to be a minus value.<br><br>

<u>Now Case 2</u>: D>A<br>
<br>

D-A = 14 
<br><br>
=> 
D = A+14<br><br>

Substitute A in 1 then we will get<br><br>

<sup>(A-7)</sup>&frasl;<sub>(A+14-7)</sub> = <sup>5</sup>&frasl;<sub>7</sub> <br>
<br>

=>2A = 84 => A = 42<br>
<br>

then D = A+14<br><br> = 42+14<br><br> = 56<br>

</div>
</body>
</html>