{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:25</h1>
<hr>
<p>
Sum of present ages of A,B and C is 72 years.if 4 years ago, their ages were in the ratio 1:2:3 find As present age.



</p>


<div class="div2">
	A.&nbsp;&nbsp;7 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;10 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;12 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;14 years

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Sum of present ages of A, B and C is 72 years.<br>
Sum of their ages (4 years ago) = 72-3&times;4<br>= 60 years<br>
4 years ago, ratio of ages of A, B and C was 1:2:3<br>
As age, 4 years ago = (1&divide;6)&times;60 <br>= 10 years.<br>
As present age = 10+4<br>= 14 years.

<br><br>

<h2><u>Alternative Method</u></h2>

Given that the sum of ages of A,B and C is 72

<br><br>

A+B+C=72

<br><br>

Their ratios before 4 years is 1:2:3

<br><br>

(A-4):(B-4):(C-4) = 1:2:3

<br><br>

then 4 years ago As age can be

<br><br>

(A-4) = (<sup>As propotion</sup>&frasl;<sub>sum of propotion</sub>)&times;(Sum of their ages before 4 years)

<br><br>

A-4 = (<sup>1</sup>&frasl;<sub>(1+2+3)</sub>)&times; (A-4+B-4+C-4)

<br><br>

A-4 = (<sup>1</sup>&frasl;<sub>6</sub>)&times; (A+B+C-12)

<br><br>

A-4 = (<sup>1</sup>&frasl;<sub>6</sub>)&times; (72-12)

<br><br>

A-4 = (<sup>1</sup>&frasl;<sub>6</sub>)&times; 60

<br><br>

A-4 = 10

<br><br>

A=14

</div>
</body>
</html>
