{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:32</h1>
<hr>
<p>
At the time of marriage, a man was 6 years older to his wife. 12 years after their marriage, his age is 6/5 times the age of his wife. What was wifes age at the time of marriage?


</p>


<div class="div2">
	A.&nbsp;&nbsp;18 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;24 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;30 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;36 years

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>


Let us assume that the age of a Man and his Wife at the time of marriage be <u>M</u> and <u>W</u>

<br><br>

Given that a man was 6 years older to his wife then

<br><br>

M=W+6

<br><br>

After 12 years the Mans age <sup>6</sup>&frasl;<sub>5</sub> times that of his Wife then

<br><br>

M+12 = (<sup>6</sup>&frasl;<sub>5</sub> )&times;(W+12)

<br><br>

Substitute M in above eq. we get

<br><br>

W+6+12 =  (<sup>6</sup>&frasl;<sub>5</sub>)&times;(W+12)

<br><br>

W+18 = (<sup>6</sup>&frasl;<sub>5</sub>)&times;(W+12)

<br><br>

5&times;(W+18) = 6&times;(W+12)

<br><br>

(5&times;W)+90 = (6&times;W)+72

<br><br>

W=18

<br><br>

Wifes age at the time of marriage is 18 years


</div>
</body>
</html>
