{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:10</h1>
<hr>
<p>
The ratio of present ages of sita and her son is 5:2 respectively. Seven years hence, the ratio will be 2:1. What was the age of sita when her son was born?

</p>


<div class="div2">
	A.&nbsp;&nbsp;28 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;35 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;21 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;Data insufficient

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
The ratio of present ages of sita and her son is 5:2<br><br>

=> <sup>Si</sup>&frasl;<sub>So</sub> = <sup>5</sup>&frasl;<sub>2</sub><br><br>

Then So=Si&times;<sup>2</sup>&frasl;<sub>5</sub>---> 1 <br><br>

The ratio of their ages After 7 years is 2:1<br><br>

=>  <sup>(Si+7)</sup>&frasl;<sub>(So+7)</sub> = <sup>2</sup>&frasl;<sub>1</sub><br><br>

=> Si+7 = 2&times;(So+7) 

<br><br>

=> Si+7 = (2&times;So)+14<br><br>

Substitute 1 in the above eq. we will get <br><br>

 =>  Si+7 



= (2&times;Si&times;<sup>2</sup>&frasl;<sub>5</sub>) + 14<br><br>

By Calculations we will get Si = 35<br><br>

=> So = Si&times;<sup>2</sup>&frasl;<sub>5</sub><br><br>

=> So = 14.
<br><br>

Then Difference is 35-14 = 21.

</div>
</body>
</html>
