<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:8</h1>
<hr>
<p>
The average age of a man and his son is 28 years. The ratio of their ages is 5:2 what will be the ratio of their ages after 8 years?


</p>


<div>
	A.&nbsp;&nbsp;7:4

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;2:1

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;3:1

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>
Given that The average age of a man and his son is 28 years<br><br>

=> <sup>(M+S)</sup>&frasl;<sub>2</sub> = 28--->1

<br><br>

The ratio of their present ages is 5:2<br><br>

=> <sup>M</sup>&frasl;<sub>S</sub> = <sup>5</sup>&frasl;<sub>2</sub><br><br>

=> M = 5&times;<sup>S</sup>&frasl;<sub>2</sub><br><br>

Substitute M into 1 we will get<br><br>

(5&times;<sup>S</sup>&frasl;<sub>2</sub>)+S = 56<br><br>

By calculations 

<br><br>

S = 16<br><br>

M = 5&times;<sup>S</sup>&frasl;<sub>2</sub>

<br><br>

 = 5&times;<sup>16</sup>&frasl;<sub>2</sub><br><br>

M = 40.

</body>
</html>
