<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:20</h1>
<hr>
<p>
Harsha is 40 years old and ritu is 60 years old. How many years ago was the ratio of their ages 3:5?		


</p>


<div>
	A.&nbsp;&nbsp;10 years

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;20 years

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;37 years

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;5 years

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>


Let the required time is x years

<br><br>


Then the ratio of their ages before x years is 

<br><br>

<sup>40-x</sup>&frasl;<sub>60-x</sub> 

= <sup>3</sup>&frasl;<sub>5</sub>

<br><br>

200-5x = 180-3x

<br><br>

2x=20

<br><br>

x=10.

</body>
</html>
