<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:21</h1>
<hr>
<p>
In 30 years, age of a person becomes 3 times of his present age. What is his present age?



</p>


<div>
	A.&nbsp;&nbsp;7.5 years 

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;10 years

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;12.5 years

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;15 years

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>


Let his present age be x years

<br><br>

Then his age after 30 years will be 3x years

<br><br>

Given x + 30 = 3x 

<br><br>

2x = 30


<br><br>

Present age = x = 30&divide;2 

<br><br>

= 15 years.

</body>
</html>
