{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
    <title>Ratio Formula</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1>RULES.</p1>
</u></b></font>
<hr/>
<hr/>


<p><font size="4"> <u> </u></font>
    <br>
<ol>
    <li>

        If a : b = m : n and b : c = p : q. then <br>a : c = <sup>m </sup>&frasl;<sub>n</sub> &times; <sup>p </sup>&frasl;<sub>q</sub>.
    </li>

    <br>

    <li>
        If x times of a number is equal to y times of other number.
        <br>Then ratio between two numbers

        <br><br> = &nbsp;<sup>1 </sup>&frasl;<sub>x</sub> : <sup>1 </sup>&frasl;<sub>y</sub> = y : x.


    </li>
    <br>

    <li>
        If the sum of two numbers is x and their difference is y, ratio of two numbers is (x+y):(x-y).
        <br><br><u>Note: </u>The two numbers a and b are <br><br>

        = <sup>x + y </sup>&frasl;<sub>2</sub> and <sup>x - y</sup>&frasl;<sub> 2 </sub>.


    </li>
    <br>


    <li>
        What must be added to each of the four number a, b, c and d so that resultant numbers are in proportion?

        <br><br> The number to be added is x where.

        <br><br>x = <sup>b c - a d </sup>&frasl;<sub>( a + d) - ( b + c)</sub>.

        <br><br> = <sup> Product of means - Product of extremes </sup>&frasl;<sub> Sum of extremes - Sum of means </sub>.


    </li>
    <br>


    <li>
        <br> If a : b = c : d, then
        <ol>
            <li>
                b : a = d : c (Invertendo Rule : Obtained by dividing1 by the given ratios)
            </li>
            <br>
            <li>

                a : c = b : d (Alternedo Rule)
            </li>
            <br>

            <li>
                (a + b) : b = (c + d ) : d (Rule of Componendo. Arrived at by adding 1 to each side)
            </li>
            <br>

            <li>

                (a - b) :b = (c - d) : d (Rule of Dividendo: Arrived at by subtracting 1 from each side)
            </li>
            <br>

            <li>
                (a + b) : ( a - b ) = (c + d ) : ( c - d )(Rule of Componendo and Dividendo: Arrived at by
                dividing(iii)by(iv) )
            </li>
            <br>

            <li>
                a : b = c : d = ( a + c ) : ( b + d)(Rule of Addendo)
            </li>
            <br>

            <li>
                a : b = c : d = ( a - c ) : ( b - d )(Rule of Subranendo).
            </li>
        </ol>

    </li>
    <br>


    <li>
        <ol>


            <li>
                If a : b and C : d are two ratios,ratio compounded of two ratios is ac:bd Similarly compounded ratio of a
                : b, c : d and e : f is a c e : b d f.
                <br>
            <li>A ratio compounded to itself is called its duplicate ratio. x<sup>2</sup>:y<sup>2</sup> is duplicate
                ratio of x : y.
            </li>
            <br>
            <li>Triplicate ratio of x : y is xxx:yyy is x<sup>3</sup> : y<sup>3</sup>.</li>
            <br>
            <li>Sub duplicate ratio of x : y is :


                = <span style="white-space: nowrap;">
				&radic;<span style="text-decoration:overline;">&nbsp;x&nbsp;</span>
				</span>

                : <span style="white-space: nowrap;">
				&radic;<span style="text-decoration:overline;">&nbsp;y&nbsp;</span>
				</span>

            </li>
            <br>
            <li>
                Sub triplicate ratio of x : y is


                cube root of(x) :

                cube root of (y)

            </li>
        </ol>

    </li>
    <br>


    <li>
        <ol>

            If a:b = c:d = e:f &minus;&minus;&minus;&minus;, then each of these ratios is equal to the followings:
            <br><br>
            <li> ( a + c + e +&minus;&minus;&minus;&minus;.) : ( b + d + f +&minus;&minus;&minus;&minus;)</li>
            <br>
            <li>( a - c - e -&minus;&minus;&minus;&minus;): ( b - d - f - &minus;&minus;&minus;&minus;)</li>
            <br>
            <li>( r a + s c + t e +&minus;&minus;&minus;&minus;) : ( r b + s d + t f + &minus;&minus;&minus;&minus;)
            </li>

        </ol>
    </li>
    <br>

    <li>
        If two numbers are in the ratio x:y and on adding a constant number a to both the numbers. The new ratio becomes
        (x + 1):(y+1), or on subtracting a from both the numbers, the ratio becomes (x-1):(y-1). Then the original
        numbers are ax and ay respectively.

    </li>
    <br>

    <li>
        If two numbers are in the ratio x : y and on adding a constant number a to both the numbers, the new ratio
        becomes ( x + k ) : ( y + k ), or on subtracting a from both the numbers, the ration becomes ( x -k ) : (y - k
        ),. Then the original numbers are

        = <sup>a</sup>&frasl;<sub>k</sub> x and <sup>a</sup>&frasl;<sub>k</sub> y respectively.


    </li>
    <br>


    <li>
        If two numbers are in the ratio x:y. on adding a constant number a to the first number, the new ratio becomes
        (x+1):(y), or on subtracting a from the first number, the ratio becomes (x - 1):(y).<br> Then the original
        numbers are ax and ay respectively.

    </li>
    <br>


    <li>

        If two numbers are in the ratio a:b and on adding k, a constant number to one of the numbers, new ratio becomes
        m:n, i.e. both ratios changes instead of one ratio only.
        <br><br><u>Method:</u>
        <ol>
            <li>Multiply the ratios (old, new or both ) so that the old and new ratios become same for the number to
                which k is not added to or subtracted from.
            </li>
            <br>
            <li>Find increase or decrease in the revised new ratio from revised old ratio.</li>
            <br>
            <li> Number added to get the desired change in the ratio is

                <br><br> = <sup>a </sup>&frasl;<sub>b</sub> &nbsp; &times; c<br>
                where <br>

                a = Difference in revised old and new ratios<br>
                b = Sum of the revised old ratio<br>
                c = Total quantity ( initial )
            </li>
        </ol>

    </li>
    <br>


    <li>
        Two numbers are in the ratio a:b. If k, a constant number is added to both the numbers, new raio of the numbers
        becomes m:n.
        Then the original numbers are ax and bx, where x


        <br><br>= <sup>( m - n) k</sup>&frasl;<sub>an -bm</sub>.

        <br><br>


        where, (m - n )k = Difference between new ratios &times; Number added to both numbers.
        <br><br> am - bm = Difference between cross multiplication of the two ratios.
        <br><br><u>Note: </u><br>Constant number k added to both the numbers is k


        <br><br> = <sup>an - bm </sup>&frasl;<sub> m - n </sub> &nbsp; &times; x.


    </li>
    <br>


    <li>
        The incomes of two persons are in the ratio a:b and their expenditures are in the ratio m:n, If both saves Rs:S,
        then their incomes are ax, and bx, where x =


        <br><br> = <sup>S( n - m)</sup>&frasl;<sub>an - bm</sub>.

    </li>
    <br>


    <li>
        Two numbers are in the ratio a:b. If k, a constant number is added to the first number and deducted from the
        second, new ratio becomes m:n. Then the original numbers are ax and bx, where


        <br><br>x = <sup>( m + n ) K</sup> &frasl; <sub>bm - am </sub>.
        <br>where, <br><br>(m + n)= Sum of new ratios &times; Number added to &frasl;subtracted from both numbers
        <br><br> bm - am = Difference between cross multiplication of the two ratios


    </li>
    <br>

    <li>
        Two numbers are in the ratio a:b. if p and q, two constant numbers are added to first number and second number
        respectively, new ratio becomes m:n
        Then the original numbers are ax and bx, where

        <br><br>x = <sup>m q - n p</sup>&frasl;<sub>an - bm</sub>.<br>


        <br>where, mq - np = Difference between cross multiplication of new ratio and numbers added.
        <br> an - bm = Difference between cross multiplication of the two ratios.


    </li>


</ol>


</body>


</html>
