{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:17</h2>
<hr>
<p>

If 700 is divided between A and B in the ratio of 
<sup>1</sup>&frasl;<sub>3</sub>:<sup>1</sup>&frasl;<sub>4</sub>
. Find A&CloseCurlyQuote;s share?

</p>


<div class="div2">
	A.&nbsp;&nbsp;300

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;325

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;350

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;400

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Ratio between A and B is 
<sup>1</sup>&frasl;<sub>3</sub>: <sup>1</sup>&frasl;<sub>4</sub>
= 4:3 <br><br>
A&CloseCurlyQuote;s share = <sup>4</sup>&frasl;<sub>7</sub>
&times;700<br><br>
=400


</div>
</body>
</html>
