{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:13</h2>
<hr>
<p>
    If (5x<sup>2</sup> &minus; 3y<sup>2</sup>) : xy = 11:2, then the positive value of
    <sup>x</sup>&frasl;<sub>y</sub>
    is:


</p>


<div class="div2">
    A.&nbsp;&nbsp;7:2


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;5:2


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;3:2


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;5:3


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

(5x<sup>2</sup> &minus; 3y<sup>2</sup>)&divide;(xy) =<sup>11</sup>&frasl;<sub>2</sub><br><br>
2(5x<sup>2</sup>- 3y<sup>2</sup>)= 11xy<br><br>
10x<sup>2</sup> &minus; 11xy- 6y<sup>2</sup> = 0<br><br>
10x<sup>2</sup> &minus; 15 xy + 4xy -6y<sup>2</sup> = 0<br><br>
5x(2x-3y)+2y(2x-3y)=0<br><br>
(5x+2y)(2x-3y)=0<br><br>
5x= &minus;2y and 2x = 3y<br><br>
x:y = -2:3 or x:y = 3:2.
<br><br>
So solution is x = 3 and y = 2

</div>
</body>
</html>
