<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:20</h1>
<hr>
<p>
A mixture contains spirit and water in the ratio 3:2. If it contains 3 litres more spirit than water, the quantity of spirit in the mixture is:


</p>


<div>
	A.&nbsp;&nbsp;10 liters

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;12 liters

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;8 liters

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;9 liters

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>
	
Difference of quantities = (3-2)ratio<br><br>
 = 1 ratio <br><br>
= 3 litres<br><br>
Quantity of spirit = 3 ratio<br><br>
 = 3&times;3 liters <br><br>
= 9 liters. 


</body>
</html>
