<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:12</h2>
<hr>
<p>
    The price of rice reduced by 2%. How many kilograms of rice can now be bought for the money which was sufficient to
    buy 49 kgs of rice earlier?


</p>


<div>
    A.&nbsp;&nbsp;48kgs


</div>
<br>
<div>
    B.&nbsp;&nbsp;49kgs


</div>
<br>
<div>
    C.&nbsp;&nbsp;50kgs


</div>
<br>

<div>
    D.&nbsp;&nbsp;51kgs


</div>


<h2><u>Answer</u>: c</h2>

Ratio of prices = 100:98<br><br>
=50:49<br><br>
ratio of quantities = 49:50<br><br>
New quantity = 50 kg.

</body>
</html>
