{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:18</h2>
<hr>
<p>
If 2,600 is divided among three persons A,B and C in the ratio 
<sup>1</sup>&frasl;<sub>2</sub>:
<sup>1</sup>&frasl;<sub>3</sub>:
<sup>1</sup>&frasl;<sub>4</sub>, 
how much does A get?


</p>


<div class="div2">
	A.&nbsp;&nbsp;600

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;800

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;1000

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;1200
	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
A:B:C =
<sup>1</sup>&frasl;<sub>2</sub>:
<sup>1</sup>&frasl;<sub>3</sub>:
<sup>1</sup>&frasl;<sub>4</sub><br><br>
 = 6:4:3 <br><br>
A&CloseCurlyQuote;share =<sup>6</sup>&frasl;<sub>13</sub>&times;2600<br><br> = 1200


</div>
</body>
</html>
