{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:6</h1>
<hr>
<p>

Ratio between sum and difference of two numbers is 5:1. Find ratio between the numbers.

</p>


<div class="div2">
	A.&nbsp;&nbsp;5:1

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;1:5

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;2:3

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;3:2

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Ratio between the numbers is (5+1):(5-1)<br><br>= 6:4<br><br>= 3:2

</div>
</body>
</html>
