<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:9</h1>
<hr>
<p>
Two numbers are such that their difference, their sum and their product are in the ratio 1:7:24. Find the product of the numbers.


</p>


<div>
	A.&nbsp;&nbsp;42

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;48

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;52

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;60

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>
out given options 48 is divisible by 24 (then numbers are 6 and 8 )

</body>
</html>
