{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:1</h2>
<hr>
<p>
 A man&CloseCurlyQuote;s expenditure on food is

<sup>3</sup>&frasl;<sub>5</sub>
of his expenditure on clothes, find ratio between his expenditure on the two item.


</p>


<div class="div2">
	A.&nbsp;&nbsp;2:5

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;3:5

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;2:3

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;5:3

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let the expenditure on clothes is 5. Then expenditure on food is 3<br><br>
Ratio of expenditure on food and clothes <br><br>= 3:5


</div>
</body>
</html>
