{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:20</h1>
<hr>
<p>
A mixture contains spirit and water in the ratio 3:2. If it contains 3 litres more spirit than water, the quantity of spirit in the mixture is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;10 liters

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;12 liters

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;8 liters

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;9 liters

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
	
Difference of quantities = (3-2)ratio<br><br>
 = 1 ratio <br><br>
= 3 litres<br><br>
Quantity of spirit = 3 ratio<br><br>
 = 3&times;3 liters <br><br>
= 9 liters. 


</div>
</body>
</html>
