<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:10</h1>
<hr>
<p>
Ratio between two numbers is 3:4 and sum of their squares is 625. The numbers are:


</p>


<div>
	A.&nbsp;&nbsp;6,8

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;9,12

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;12,16

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;15,20

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Let the numbers be 3x and 4x<br><br>
Then 3x<sup>2</sup> + 4x<sup>2</sup> = 625<br><br>
9x<sup>2</sup> + 16x<sup>2</sup>= 625<br><br>
X = root of (625/25)<br><br>
=<span style="white-space: nowrap;">
&radic;<span 												style="text-decoration:overline;">&nbsp;25&nbsp;</span>
</span><br><br>	
=5<br><br>
The numbers are 3&times;5 and 4&times;5 i.e. 15 and 20.


</body>
</html>
