<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:6</h1>
<hr>
<p>

Ratio between sum and difference of two numbers is 5:1. Find ratio between the numbers.

</p>


<div>
	A.&nbsp;&nbsp;5:1

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;1:5

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;2:3

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;3:2

	
</div>
		
	

<h2> <u>Answer</u>: d</h2>
Ratio between the numbers is (5+1):(5-1)<br><br>= 6:4<br><br>= 3:2

</body>
</html>
