{% load static %}
<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:11</h2>
<hr>
<p>

    Ratio between two numbers is 5:3 and difference between their squares is 144. Find the numbers.

</p>


<div class="div2">
    A.&nbsp;&nbsp;5,3


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;10,6


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;15,9


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;20,12


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let the numbers be 5x and 3x<br><br>
Then difference between their squares <br><br>
= (5x)<sup>2</sup>-(3x)<sup>2</sup>= 144<br><br>
25x<sup>2</sup> &minus; 9x<sup>2</sup> = 16x<sup>2</sup> = 144<br><br>
X<sup>2</sup> = <sup>144</sup>&frasl;<sub>16</sub> = 9<br><br>
X<sup>2</sup> = 9<br><br>
X =3<br><br>
The numbers are 5&times;3 and 3&times;3 i.e. 15 and 9.


</div>
</body>
</html>
