<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:2</h1>
<hr>
<p>
A mixture of milk and water is such that the quantity of milk is 

<sup>3</sup>&frasl;<sub>5</sub> 
that of water. The proportion of milk in the mixture is:


</p>


<div>
	A.&nbsp;&nbsp;<sup>1</sup>&frasl;<sub>8</sub>

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;<sup>1</sup>&frasl;<sub>2</sub>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;<sup>3</sup>&frasl;<sub>8</sub>

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;<sup>5</sup>&frasl;<sub>8</sub>

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

Let quantity of water = 5<br><br>
Then quantity of milk = 3<br><br>
Required ratio = <sup>3</sup>&frasl;<sub>8</sub>.


</body>
</html>
