<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:5</h2>
<hr>
<p>

What must be deduced from each of the number 7,10,12 and 18 so that the resultant numbers are in proportion?

</p>


<div>
	A.&nbsp;&nbsp;1

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;-2

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;2

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;4

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
The required number = x = (10&times;12-7&times;18)&divide;(7+18)-(10+12)<br><br>
=-<sup>6</sup>&frasl;<sub>3</sub><br><br>=-2.


</body>
</html>
