{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:2</h1>
<hr>
<p>
A mixture of milk and water is such that the quantity of milk is 

<sup>3</sup>&frasl;<sub>5</sub> 
that of water. The proportion of milk in the mixture is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;<sup>1</sup>&frasl;<sub>8</sub>

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;<sup>1</sup>&frasl;<sub>2</sub>

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;<sup>3</sup>&frasl;<sub>8</sub>

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;<sup>5</sup>&frasl;<sub>8</sub>

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let quantity of water = 5<br><br>
Then quantity of milk = 3<br><br>
Required ratio = <sup>3</sup>&frasl;<sub>8</sub>.


</div>
</body>
</html>
