<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:17</h2>
<hr>
<p>

If 700 is divided between A and B in the ratio of 
<sup>1</sup>&frasl;<sub>3</sub>:<sup>1</sup>&frasl;<sub>4</sub>
. Find A&CloseCurlyQuote;s share?

</p>


<div>
	A.&nbsp;&nbsp;300

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;325

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;350

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;400

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Ratio between A and B is 
<sup>1</sup>&frasl;<sub>3</sub>: <sup>1</sup>&frasl;<sub>4</sub>
= 4:3 <br><br>
A&CloseCurlyQuote;s share = <sup>4</sup>&frasl;<sub>7</sub>
&times;700<br><br>
=400


</body>
</html>
