<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:16</h2>
<hr>
<p>
    700 is divided between A and B in the ratio of 3:4. Find A&CloseCurlyQuote;s share.


</p>


<div>
    A.&nbsp;&nbsp;300


</div>
<br>
<div>
    B.&nbsp;&nbsp;350


</div>
<br>
<div>
    C.&nbsp;&nbsp;400


</div>
<br>

<div>
    D.&nbsp;&nbsp;450


</div>


<h2><u>Answer</u>:a </h2>
Sum of ratios = 3+4 <br><br>= 7<br><br>
A&CloseCurlyQuote;s share
=<sup>3</sup>&frasl;<sub>7</sub>
&times;700 <br><br>= 300


</body>
</html>
