{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:8</h1>
<hr>
<p>

The sum of two numbers is twice the difference between them. If the smaller number is 20. Find the bigger number.

</p>


<div class="div2">
	A.&nbsp;&nbsp;5

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;40

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;60

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;80

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Ratio between sum and difference of the numbers is 2:1<br><br>
Ratio between the numbers <br><br>= (2+1):(2-1) i.e. 3:1<br><br>
Bigger number = 3&times;20<br><br>=60.


</div>
</body>
</html>
