{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:4</h1>
<hr>
<p>

0.6 of a number is equal to 0.08 of another number. The ratio of the numbers will be:

</p>


<div class="div2">
	A.&nbsp;&nbsp;3:4

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;4:3

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;2:15

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;2:9

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Required ratio = 0.08:0.6<br><br>
=8:60<br><br>
=2:15.


</div>
</body>
</html>
