{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:14</h2>
<hr>
<p>

The tank full petrol in Arun&CloseCurlyQuote;s motor cycle last for 10 days. If he starts using 25% more every day. How many days will the tank full petrol last?

</p>


<div class="div2">
	A.&nbsp;&nbsp;5

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;6

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;7

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;8

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Required number of days <br><br>
= 10&times;<sup>100</sup>&frasl;<sub>125</sub><br><br>
=8 days.

</div>
</body>
</html>
