<html>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
    <title>Ratio Tutorial</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b>
    <p1> RATIO, PROPORTION AND PARTNERSHIP.</p1>
</b></font>
<hr/>
<hr/>


<ul>
    <li>
        Ratio between two numbers x and y is expressed as x:y. it can also be expressed as
        <sup>x</sup>&frasl;<sub>y</sub>. The first term in a ratio is called <b>antecedent</b> and the second term is
        called <b>consequent</b>. Ratio has no unit.

    </li>
    <br>

    <li>

        Ratio between Rs:300 and Rs:500 is 3:5, not Rs:3 and Rs:5. There is no ratio between 5 cows and Rs:100. Ratio
        between two quantities is always expressed in the same unit.
    </li>

</ul>

<u> Note: </u>
<br>
<ul>
    <li>
        Multiplication or division of each term of a ratio by the same non zero number does not effect the ratio. But
        the same is not true for Addition or Subtraction.
        <br><br>

        = x : y = ax :ay = <sup>x</sup> &frasl; <sub>a</sub> : <sup>y</sup> &frasl; <sub>b</sub>, where a &ne; 0. But x
        : y &ne; (x + or - a) : (y + or - a)


    </li>
</ul>


<p><font size="4"> <u>Proportion: </u></font>
    <br>
<ul>
    <li>

        The equality of two ratios is called proportion.
    </li>
    <br>
    <li>
        a, b, c and d are in proportion, if a:b = c: d. it can be expressed as a:b::c:d.
    </li>
    <br>
    <li>
        In any proportion, the first and forth proportional are called the extreme terms while the second and the third
        proportional are called mean terms.
    </li>
    <br>
    <li>
        In a proportion, product of Extremes = Product of Means i.e. a &times; d = b &times; c.
    </li>
</ul>


<p><font size="4"> <u> Inverse or Reciprocal Ratio: </u></font>
    <br>
<ul>
    <li>
        If ratio between two numbers is a:b. Then the inverse ratio is

        <br><br> = <sup>1</sup>&frasl;<sub>a</sub> : <sup>1</sup>&frasl;<sub>b</sub> or b : a.
        <br><br><u>Ex: </u>Inverse ratio of 2:3 is 3:2.


    </li>
</ul>


<p><font size="4"> <u> Direct Proportion: </u></font>
    <br>
<ul>
    <li>
        Two quantities are said to be in direct proportion if on increase(or decrease ) in one quantity, the other
        quantity also increases (or decreases) proportionately i.e. in the same ratio.
        <br><br><u>Ex: </u><br>Number of articles bought and total cost of articles i.e. more articles, more cost and
        less articles, less cost.
        Cost per article and total cost of certain number of articles.


    </li>
</ul>


<p><font size="4"> <u>Inverse Proportion: </u></font>
    <br>
<ul>
    <li>
        Two quantities are said to be in indirect or inverse proportion, if on increase in one quantity, the other
        quantity decreases in the same ratio and vice versa.
        <br><br><u>Note:</u><br> If ratio of prices of two commodities change in the ratio x:y, then with the same
        amount of money quantity can be purchased changes y:x.


    </li>
</ul>


<p><font size="4"> <u> Continued Proportion: </u></font>
    <br>
<ul>
    <li>
        Three numbers are said to be in continued proportion when the ratio of the first number to the second is equal
        to ratio of the second number to the third.
        x, y and z are said to be in proportion if x : y :: y : z.


    </li>
</ul>


<p><font size="4"> <u> Mean Proportion: </u></font>
    <br>
<ul>
    <li>
        If x is Mean or Second Proportion of a and b.

        <br><br> Then a : x = x : b then &nbsp; x<sup>2</sup>&nbsp; = ab then

        &nbsp;x &nbsp;= <span style="white-space: nowrap;">
				&radic;<span style="text-decoration:overline;">&nbsp;ab&nbsp;</span>
				</span>

    </li>
</ul>


<p><font size="4"> <u> Third Proportion: </u></font>
    <br>
<ul>
    <li>
        If x is third proportion of a and b.


        <br><br> a : b = b : x then x = <sup>b <sup>2</sup></sup>&frasl;<sub>a</sub>.
    </li>
</ul>


<p><font size="4"> <u> Forth Proportion: </u></font>
    <br>
<ul>
    <li>
        If x is Fourth Proportion of a, b and c.
        <br><br>Then a : b = c : x then x = c &times; <sup>b</sup>&frasl;<sub>a</sub>.

    </li>
</ul>


</body>


</html>
