<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b>
    <p1> Seating Arrangement</p1>
</b></font>
<hr/>
<hr/>
<ul>
    <li>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seating Arrangement is the way of arranging a group of people to sit in a particular way.
In this chapter we will learn about the ways of arranging the people to sit in a particular manner.
And also we will learn how to make a arrangement with the help of conditions.
From that arrangement you will be able to find the particular person position number from one particular side.</p>
    </li>
    <li>
        <p>There are two types of seating arrangements</p>
    </li>
    <ol>
        <li>
            Linear Arrangement
        </li>
        <li>
            Circular Arrangement
        </li>
    </ol>
    <li>
        <p><b>Linear Arrangement</b> is the arrangement of people in a row(Line) manner.</p>
        <p>Ex: Sitting 5 members on a wall.</p>
    </li>
    <li>
        <p><b>Circular Arrangement</b> is the arrangement of people in a circular(round) manner.</p>
        <p>Ex: Sitting 5 members on a round table.</p>
    </li>
    <li>
        <p>One of the Important thing to know before solving these types of questions is &OpenCurlyDoubleQuote;<b>Direction faced by a person</b>&CloseCurlyDoubleQuote; that means that the Person facing a direction(<b>East, West, North and South</b>) when he sit on a table.</p>
        <p>The above case is for Linear arrangements.</p>
    </li>
    <li>
        <p>For the case of Circular arrangements, the direction may be &OpenCurlyDoubleQuote;<b>Towards center(Inwards)</b>&CloseCurlyDoubleQuote; or &OpenCurlyDoubleQuote;<b>Outwards center</b>&CloseCurlyDoubleQuote;.</p>
    </li>
    <li>
        <p>For the direction <b>Towards Center</b>, the person&CloseCurlyQuote;s right hand is in <b>anticlockwise direction</b> whereas for the direction <b>Outwards Center</b>, the person&CloseCurlyQuote;s right hand is in <b>clockwise direction</b>.</p>
    </li>
    <li>
        <p>You can follow the below figures to understand these two arrangement while solving the problems and for imagination and for drawing on a paper.</p>
    </li>
    <img src="tutorial_1.png" alt="Tutorial 1">
</ul>





</body>
</html>