<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:56</h1>
<hr>
<p>
12 copies of a book were sold for 1800 there by gaining cost price of 3 copies. The cost price of a copy is:


</p>


<div>
	A.&nbsp;&nbsp;120

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;150

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;1200

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;1500

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>

1800 = selling price of 12 books = cost price of 12 books + profit<br><br>
= cost price of 12 books + cost price of 3 books <br><br>= cost price of 15 books<br><br>
Cost price of 1 book = 


<sup>1800</sup>&frasl;<sub>15</sub>
<br><br>= 120.


</body>
</html>
