<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:99</h1>
<hr>
<p>
A man bought a horse for 10000 and sold it to B at 10% profit and B sold it to C at 10% loss. Find the amount paid by C.


</p>


<div>
	A.&nbsp;&nbsp;10000

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;9990

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;9999

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;11000

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

Difference = (10&times;10)&divide;100<br><br>
=1% decrease<br><br>
Required amount = 10000-1% of 10000<br><br>
=10000-100<br><br>
=9900.


</body>
</html>
