{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:86</h1>
<hr>
<p>

The percentage of loss when an article is sold at 50 is the same as that of the profit when it is sold at 70. The above-mentioned percentage of profit or loss on the article is:

</p>


<div class="div2">
	A.&nbsp;&nbsp;10%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;16 <sup>2</sup>&frasl;<sub>3</sub>%.

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;20%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;22 <sup>2</sup>&frasl;<sub>3</sub>%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let cost price of the article be x.<br><br>
Then x-50=70-x<br><br>
X=60<br><br>
Profit = (70-60)=10 on 60<br><br>
Profit % = <sup>10</sup>&frasl;<sub>60</sub>
&times;100 <br><br>
= 16 <sup>2</sup>&frasl;<sub>3</sub>%.


</div>
</body>
</html>
