{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:6</h1>
<hr>
<p>
If the cost price and selling price of an article are in the rato 10:11, then the percentage of profit is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;10

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;9

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;3

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;1

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Profit% = <sup>(11-10)</sup>&frasl;<sub>10</sub>&times;100 <br><br>= 10%

</div>
</body>
</html>
