<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:68</h1>
<hr>
<p>
A merchant fixed selling price of his articles at 700 after adding 40% profit to the cost price. As the sale was very low at this price level, he decided to fix the selling price at 10% profit. Find the new selling price:


</p>


<div>
	A.&nbsp;&nbsp;450

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;490

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;500

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;550

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

New selling price = 
700&times;
<sup>(100+10)</sup>&frasl;<sub>(100+40)</sub> <br><br> 
= 700&times;

<sup>110</sup>&frasl;<sub>140</sub>
 <br><br> 
=550.

</body>
</html>
