<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:76</h1>
<hr>
<p>
Ravi buys some toffees at 2 for a rupee and sells them at 5 for a rupee. His loss percent is:


</p>


<div>
	A.&nbsp;&nbsp;120

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;90

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;30

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;60

	
</div>
		
	

<h2> <u>Answer</u>: d</h2>

Let toffees bought = LCM of 2 and 5 = 10  <br><br>  
Then cost price= 5  <br><br>  
Selling price = 2  <br><br>  
Loss = 5-2=3  <br><br>  
Loss% = <sup>3</sup>&frasl;<sub>5</sub>
&times;100   <br><br>  = 60%,


</body>
</html>
