<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:100</h1>
<hr>
<p>

A person A sells a table costing 2000 to a person B and earns a profit of 6%. The person B sells it to another person C at a loss of 5%. At what price did B sell the table?

</p>


<div>
	A.&nbsp;&nbsp;2054

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;2050

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;2024

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;2014

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Difference = 6-5-
<sup>(6 &times; 5)</sup>&frasl;<sub>100</sub>
<br><br>
=0.7%<br><br>
Required price = 2000+0.7% of 2000<br><br> 
=2000+14<br><br>
=2014.


</body>
</html>
