{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:26</h1>
<hr>
<p>
A dishonest merchant professes to sell his goods at cost price, but uses a weight of 900 grams for one kg. what is his profit percent?


</p>


<div class="div2">
	A.&nbsp;&nbsp;10%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;11 <sup>1</sup>&frasl;<sub>9</sub>%.



	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;6%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;10%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
The merchant gives 900 grams charging the price of 1000 grams.<br><br>
His gain is 100 grams on every 900 grams <br><br>
Profit percent =  
<sup>100</sup>&frasl;<sub>900</sub>%.
&times;100 <br><br>
=11 <sup>1</sup>&frasl;<sub>9</sub>%.

	

</div>
</body>
</html>
