{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:71</h1>
<hr>
<p>
A man purchases 5 pens for a rupee. How many pens should he sell for a rupee if he wants to earn 25% profit?


</p>


<div class="div2">
	A.&nbsp;&nbsp;4

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;5

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;6

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;8

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Cost price of 1 pen = <sup>1</sup>&frasl;<sub>5</sub>
 <br><br> 
Selling price of 1 pen = <sup>1</sup>&frasl;<sub>5</sub>
&times;
<sup>125</sup>&frasl;<sub>100</sub> <br><br> 
=<sup>1</sup>&frasl;<sub>4</sub> <br><br> 
4 pens are sold for 1 rupee.


</div>
</body>
</html>
