{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:45</h1>
<hr>
<p>
If an article costing 1000 is sold gaining 20% of its selling price. Find selling price of the article.


</p>


<div class="div2">
	A.&nbsp;&nbsp;1250

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;1200

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;980

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;975

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Profit = 
<sup>1</sup>&frasl;<sub>5</sub>
of selling price<br><br>
 = <sup>1</sup>&frasl;<sub>5-1</sub> of cost price<br><br>
= <sup>1</sup>&frasl;<sub>4</sub>&times;1000<br><br>=250<br><br>
Selling price = 1000+250<br><br>=1250.



</div>
</body>
</html>
