<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:80</h1>
<hr>
<p>
By selling an article at 80% of its marked price, a trader makes a loss of 10%. What will be the profit percentage if he sells it at 95% of its marked price?


</p>


<div>
	A.&nbsp;&nbsp;5.9

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;12.5

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;6.9

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;5

	
</div>
		
	

<h2> <u>Answer</u>: c</h2>

80% of marked price = (100-10)% <br><br>= 90% of the cost price<br><br>
95% of the marked price = 95&divide;80&times;90<br><br>
=106.9% (approx) of the cost price<br><br>
Profit = (106.9 -100%) <br><br>= 6.9% of the cost price.


</body>
</html>
