<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:55</h2>
<hr>
<p>
Ram  bought a bat with 20% discount on the marked price. He sold the bat for 1200 with a profit of 80. The marked price of the bat was:


</p>


<div>
	A.&nbsp;&nbsp;2400

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;1600

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;1400

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;1250

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

Cost price of bat = selling price &minus; profit <br><br>= 1200 &minus; 80 <br><br>= 1120<br><br>
80% of marked price = 1120<br><br>
Marked price = 1120&times;100&divide;80 <br><br>= 1400.


</body>
</html>
