{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:74</h1>
<hr>
<p>
On selling 7 pens for 44, a man gains 10% of the cost price, what should be the selling price of 10 pens, if desired profit is 40%


</p>


<div class="div2">
	A.&nbsp;&nbsp;50

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;56

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;80

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;100

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Selling price of 1 pen = 
<sup>44</sup>&frasl;<sub>7</sub>
 <br><br> 
Selling price of 10 pens = 
10 &times; <sup>44</sup>&frasl;<sub>7</sub>
 <br><br> 
Selling price of 10 pens at new rate  <br><br> 
= 
10 &times; <sup>44</sup>&frasl;<sub>7</sub>
&times;
<sup>140</sup>&frasl;<sub>110</sub>
 <br><br> 
=80.


</div>
</body>
</html>
