<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:50</h1>
<hr>
<p>
Mahesh purchased a radio at 
<sup>9</sup>&frasl;<sub>10</sub>
of its selling price and sold it at 8% more than its original selling price. His gain percent is:


</p>


<div>
	A.&nbsp;&nbsp;20%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;18%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;10%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;8%

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>

Let marked selling price = 100<br><br>
Then buying price = 100&times;
<sup>9</sup>&frasl;<sub>10</sub><br><br>=90<br><br>
Actual selling price = 100+8% of 100 <br><br>= 108<br><br>
Profit = 108-90 <br><br>= 18 on 90<br><br>
Profit%= 
<sup>18</sup>&frasl;<sub>90</sub>
 <br><br>
= <sup>1</sup>&frasl;<sub>5</sub> <br><br>
=20%.


</body>
</html>
