{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:87</h1>
<hr>
<p>
The profit earned after selling an article for 1754 is same as loss incurred after selling the article for 1492. What is the cost price of the article?


</p>


<div class="div2">
	A.&nbsp;&nbsp;1623

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;1523

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;1689

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;1589

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>


Let the loss and gain be x in each case<br><br>
Then difference in two selling prices = 2x =1754-1492<br><br>
2x=262<br><br>
X=262&divide;2=131<br><br>
Cost price = selling price (second)+ Loss<br><br>
=1492+131=1623<br><br>
Or cost price  selling price (first)-profit =1754-131<br><br>=1623.

</div>
</body>
</html>
