<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:15</h1>
<hr>
<p>
Ramesh purchased two types of wheat, one costing 20 per kg and the other 25 per kg in quantities having ratio5:4. He mixed the two and sold the mixture at 24 per kg. in the transaction, he got:


</p>


<div>
	A.&nbsp;&nbsp;4%Loss

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;4%gain

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;8%Loss

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;8%gain

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Cost price of 9 kg of mixture = 5&times;20+4&times;25<br><br>=200<br><br>
Selling price of 9kg of mixture = 9&times;24<br><br>=216<br><br>
Profit = 216-200<br><br>=16<br><br>
Profit percent = 
<sup>16</sup>&frasl;<sub>200</sub>
&times;100 <br><br>= 8%.


</body>
</html>
