<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:67</h1>
<hr>
<p>
If a man were to sell his chair for 720, he would lose 25%. To gain 25%, he should sell it for:


</p>


<div>
	A.&nbsp;&nbsp;1200

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;1000

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;960

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;900

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>

New selling price = (720&times;100+25)&divide;(100-25) <br><br> 
=(720&times;125)&divide;75; <br><br> 
=1200.


</body>
</html>
