{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:60</h1>
<hr>
<p>
Some quantity of tea is sold at 22 per kg, making 10% profit. If total gain is 88, what is the quantity of tea sold?


</p>


<div class="div2">
	A.&nbsp;&nbsp;4kg

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;40kg

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;44kg

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;50kg

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Profit = 10% of cost price = <sup>1</sup>&frasl;<sub>10</sub>
of cost price <br><br>
= <sup>1</sup>&frasl;<sub>11</sub> of selling price<br><br> 
= <sup>1</sup>&frasl;<sub>11</sub>&times;22 <br><br>
= 2 per kg<br><br>
But actual gain = 88<br><br>
Quantity sold = 88&divide;2 <br><br>= 44 kg.


</div>
</body>
</html>
