{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:62</h1>
<hr>
<p>
On selling an article for 400, a man loses 20%. What will be the selling price, if desired profit is 10?


</p>


<div class="div2">
	A.&nbsp;&nbsp;200

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;500

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;550

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;600

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Selling price = (400&times;100+10)&divide;(100-10)<br><br>
=(400&times;110)&divide;80<br><br>
=550.


</div>
</body>
</html>
