
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:19</h2>
<hr>
<p>
If selling an article for 990 causes 10% loss on the selling price, find its cost price.


</p>


<div>
	A.&nbsp;&nbsp;891

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;900

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;1089

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;1100

	
</div>
		
	

<h2> <u>Answer</u>:c</h2>
Cost price = sellig price + loss <br><br>= 990+10% of 990 <br><br>
= 990+99 <br><br>= 1089.


</body>
</html>
