{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:92</h2>
<hr>
<p>
An article is sold for 500 and hence lost something. Had the article been sold for 700, the merchant would have gained three times the former loss. Find the cost price of the article.


</p>


<div class="div2">
	A.&nbsp;&nbsp;525

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;550

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;600

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;650

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

let loss in the first case = x<br><br>
then profit in second case = 3x<br><br>
500= cost price - x&minus;&minus;&minus;&minus;&minus;(1)<br><br>
and 700 = cost price + 3x&minus;&minus;&minus;&minus;&minus;(2)<br><br>
solving equations (1) and (2) we get: 4x = 200<br><br>
x = 50<br><br>
cost price = selling price = (first )+ loss <br><br>= 500+50<br><br>=550.<br><br>
or cost price = selling price (second) - profit <br><br>
= 700-3&times;50<br><br>
=550.


</div>
</body>
</html>
