<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:40</h2>
<hr>
<p>
    On selling an article for 250, a shopkeeper gains 50. His gain percent is:


</p>


<div>
    A.&nbsp;&nbsp;16.67%


</div>
<br>
<div>
    B.&nbsp;&nbsp;20%


</div>
<br>
<div>
    C.&nbsp;&nbsp;25%


</div>
<br>

<div>
    D.&nbsp;&nbsp;33.33%


</div>


<h2><u>Answer</u>:c </h2>

Cost price = selling price &minus; profit <br><br>=250-50 <br><br>
= 200<br><br>
Profit percent = 50&divide;200<br><br>
=1&divide;4 <br><br>= 25%.


</body>
</html>
