<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:66</h1>
<hr>
<p>

By selling an article for 72, there is a loss of 10%. In order to gain 5%, its selling price should be:

</p>


<div>
	A.&nbsp;&nbsp;87

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;85

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;80

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;84

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>
Required selling price = (72&times;100+5)&divide;(100-10)<br><br>
=(72&times;105)&divide;90 <br><br>= 84.


</body>
</html>
