<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:1</h2>
<hr>
<p>
    A trader sells 145 meters of cloth for 12,325 at the the profit of 10 per meter of cloth. What is the cost price of
    1 metre of cloth?


</p>


<div>
    A.&nbsp;&nbsp;65


</div>
<br>
<div>
    B.&nbsp;&nbsp;75


</div>
<br>
<div>
    C.&nbsp;&nbsp;95


</div>
<br>

<div>
    D.&nbsp;&nbsp;85


</div>


<h2><u>Answer</u>:b </h2>

Selling price per 1 meter of cloth = 12325&divide;145<br><br>=85<br><br>
Cost price per 1 meter of cloth = 85-10<br><br>=75.


</body>
</html>
