{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:48</h1>
<hr>
<p>
If selling price of 
<sup>4</sup>&frasl;<sub>5</sub>
of the stock of oranges is equal to cost price of the whole stock, find profit percent.


</p>


<div class="div2">
	A.&nbsp;&nbsp;20%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;25%

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;30%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;33.33%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let cost price of 1 orange = 1<br><br>
Cost price of 4 oranges = 4<br><br>
Selling price of 4 oranges = cost price of 5 oragnes = 5<br><br>
Profit = 5-4=1 on 4 <br><br>
Profit% = <sup>1</sup>&frasl;<sub>4</sub><br><br>= 25%.


</div>
</body>
</html>
