{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:33</h1>
<hr>
<p>
An article is sold at a profit of 20%. If it had been sold at a profit of 25%, it would have fetched 35 more. The cost price of the article is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;650

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;700

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;750

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;800

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Difference in two selling prices = 25% -20% = 5% of cost price<br><br>
Actual difference in two selling price = 35(i.e. 7 times of 5)<br><br>
Cost price = 7&times;100 <br><br>= 700.


</div>
</body>
</html>
