<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:61</h1>
<hr>
<p>
On selling an article for 550, a man gains 10%. What should be the selling price, if desired profit is 20%?


</p>


<div>
	A.&nbsp;&nbsp;500

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;600

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;660

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;750

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

Selling price = 
550&times;
<sup>(100+20)</sup>&frasl;<sub>(100+10)</sub>
<br><br>
= 550&times;
<sup>120</sup>&frasl;<sub>110</sub>
<br><br>
= 600.


</body>
</html>
