{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:51</h1>
<hr>
<p>
A retailer buys goods at 10% discount on its marked price and sells them at 20% higher than the marked price. What is his profit percent?


</p>


<div class="div2">
	A.&nbsp;&nbsp;20%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;25%

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;30%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;33.33%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let marked price of the article = 100<br><br>
Then its cost price = 100-10<br><br>=90<br><br>
And selling price = 100+20<br><br>=120<br><br>
Profit = 30 on 90 i.e. <sup>1</sup>&frasl;<sub>3</sub><br><br>= 33.33%


</div>
</body>
</html>
