<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:10</h1>
<hr>
<p>
 A man bought toffees at the rate of 15 for a rupee and sold them at the rate of 12 for a rupee. His gain percent is:


</p>


<div>
	A.&nbsp;&nbsp;20%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;25%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;33.33%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

Ratio of cost price and selling price = 1&divide;15:1&divide;12 <br><br>
= 12:15 <br><br>= 4:5<br><br>
Profit percent = <sup>1</sup>&frasl;<sub>4</sub>&times;100 <br><br>= 25%.


</body>
</html>
