{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:85</h1>
<hr>
<p>

A house worth 1,50,000 is sold by X at 5% profit to Y. Y sells the house back to X at 2% loss. Then in the entire transaction

</p>


<div class="div2">
	A.&nbsp;&nbsp;X gains4350

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;Xloses4350

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;Y gains3150

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;Y loses3150

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

X sold house to Y for (1,50,000&times;105)&divide;100
=1.57.500<br><br>
x gains = y’s loss = 2% of 1,57,500 <br><br>
= 3,150.


</div>
</body>
</html>
