{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:39</h1>
<hr>
<p>
On selling an article for 600, a man gains 20% of the selling price. Find profit percentage on the cost price?


</p>


<div class="div2">
	A.&nbsp;&nbsp;20%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;25%

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;30%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;33.33%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Profit = 
<sup>1</sup>&frasl;<sub>5</sub>
of selling price<br><br>
 =<sup>1</sup>&frasl;<sub>5-1</sub> 
of cost price <br><br>
= <sup>1</sup>&frasl;<sub>4</sub> of cost price <br><br>= 25%.


</div>
</body>
</html>
