<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:32</h1>
<hr>
<p>
Profit margin of a merchant is increased by 10%, if he sells an article for 650, instead of 600. What is the cost price of that article?


</p>


<div>
	A.&nbsp;&nbsp;50

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;500

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;800

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;1000

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

Difference in two selling prices = 10% of cost price<br><br>
Actual difference in two selling prices = 650-600<br><br>=50(i.e. 5 times of 10)<br><br>
Cost price = 5&times;100<br><br>=500.


</body>
</html>
