{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:66</h1>
<hr>
<p>

By selling an article for 72, there is a loss of 10%. In order to gain 5%, its selling price should be:

</p>


<div class="div2">
	A.&nbsp;&nbsp;87

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;85

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;80

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;84

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Required selling price = (72&times;100+5)&divide;(100-10)<br><br>
=(72&times;105)&divide;90 <br><br>= 84.


</div>
</body>
</html>
