<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:86</h1>
<hr>
<p>

The percentage of loss when an article is sold at 50 is the same as that of the profit when it is sold at 70. The above-mentioned percentage of profit or loss on the article is:

</p>


<div>
	A.&nbsp;&nbsp;10%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;16 <sup>2</sup>&frasl;<sub>3</sub>%.

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;20%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;22 <sup>2</sup>&frasl;<sub>3</sub>%

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

Let cost price of the article be x.<br><br>
Then x-50=70-x<br><br>
X=60<br><br>
Profit = (70-60)=10 on 60<br><br>
Profit % = <sup>10</sup>&frasl;<sub>60</sub>
&times;100 <br><br>
= 16 <sup>2</sup>&frasl;<sub>3</sub>%.


</body>
</html>
