<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:5</h1>
<hr>
<p>
If the ratio of cost price and the selling price is 5:6, the gain per cent is:


</p>

      
<div>
	A.&nbsp;&nbsp;20%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;33 <sup>1</sup>&frasl;<sub>3</sub> %

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;25%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;30%

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>
Gain percent = (6-5)&divide;5 &times;100 <br><br>=20%.

</body>
</html>
