{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:76</h1>
<hr>
<p>
Ravi buys some toffees at 2 for a rupee and sells them at 5 for a rupee. His loss percent is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;120

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;90

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;30

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;60

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let toffees bought = LCM of 2 and 5 = 10  <br><br>  
Then cost price= 5  <br><br>  
Selling price = 2  <br><br>  
Loss = 5-2=3  <br><br>  
Loss% = <sup>3</sup>&frasl;<sub>5</sub>
&times;100   <br><br>  = 60%,


</div>
</body>
</html>
