<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:52</h1>
<hr>
<p>
A person bought an article on 40% discount and sold it at 50% more than the marked price. What profit did he get?


</p>


<div>
	A.&nbsp;&nbsp;50%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;90%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;150%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;250%

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

let the marked price be 100<br><br>
then cost price  = 100-40 <br><br>= 60<br><br>
selling price = 100+50 <br><br>= 150<br><br>
profit = 150-60 <br><br>= 90 <br><br>
profit % = 90&divide;60&times;100 <br><br>= 150%.


</body>
</html>
