<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:96</h1>
<hr>
<p>
A watch is sold at 10% discount on its marked price of 480. If the retailer makes 20% profit on the cost price, find the cost price of the watch?


</p>


<div>
	A.&nbsp;&nbsp;300

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;360

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;450

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;540

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

If marked price is 100, selling price <br><br>= 100-10<br><br>=90<br><br>
If cost price is 100, selling price = 100+20<br><br>=120<br><br>
Cost price = 480&times;
<sup>90</sup>&frasl;<sub>100</sub>
&times;
<sup>100</sup>&frasl;<sub>120</sub>
<br><br>=360.


</body>
</html>
