{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
    <title>Profit and Loss Tutorial</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1>Profit and Loss</p1>
</u></b></font>
<hr/>
<hr/>


<p><font size="4"> <u> Cost price </u></font>
    <br>
<ul>
    <li>
        The price at which the article is purchased is called its cost price.

    </li>
</ul>
<p><font size="4"> <u> Selling price </u></font>
<ul>
    <li>
        The price at which the article is sold by is called selling price of the article.
        <br>


    </li>

</ul>


<p><font size="4"> <u> Marked price </u></font>

<ul>
    <li>
        The price marked on the goods. Also called list price or cast price.

    </li>
    <br>
    Selling price = marked price - discount.

</ul>
<br>

<p><font size="4"> <u> Profit </u></font>

<ul>
    <li>
        An article is said to be sold at profit, if its selling price is more than its cost price.

    </li>
    <br>
    Profit = selling price &minus; cost price.
    <br>
    Selling price = cost price + profit.
</ul>
<br>
<p><font size="4"> <u> Loss </u></font>

<ul>
    <li>
        An article is said to be sold at loss if its selling price is less than its cost price.

    </li>
    <br>
    Loss = cost price &minus; selling price.
    <br>
    Selling price = cost price - loss.
</ul>
<br>
<p><font size="4"> <u> Profit and Loss Percent: </u></font>

<ul>
    <li>
        Profit/Loss percent is relation between Profit/Loss and cost price of an article. Therefore, profit or loss
        percent is always calculated on cost price, unless mentioned otherwise.
        <br><br>
        <u>Formula:</u> % Profit = <sup>Profit</sup> &frasl; <sub> Cost price </sub> &times; 100.
        <br><br>
        % Loss = <sup> Loss </sup> &frasl; <sub> Cost price </sub> &times; 100.
        <br><br>
        <u>Ex:</u> &nbsp; <br>Question:
        An article costing 10 is sold for a profit of 2 Rs. Find profit percent.
        <br>
        Sol: <sup> 2 </sup> &frasl; <sub> 10 </sub> &times; 100 = 20 %.

    </li>

</ul>

<p><font size="4"> <u> Margin </u></font>

<ul>
    <li>
        Profit as a percentage of selling price.

    </li>

</ul>
<br>
<p><font size="4"> <u> Relation between selling price and cost price: </u></font>

<ul>
    <li>
        <dl>
            <dt>
                When the article is sold at profit:
            </dt>
            <dd>
                Selling Price = Cost Price &times; <sup> 100 + % Profit </sup> &frasl; <sub> 100 </sub>.
                <br><br>
                Cost Price = Selling Price &times; <sup> 100 </sup> &frasl; <sub> 100 + % Profit </sub>.
            </dd>
    </li>
    <br>
    <li>
        <dl>

            <dt>
                When the article is sold at Loss:
            </dt>
            <dd>
                Selling Price = Cost Price &times; <sup> 100 - % Loss</sup> &frasl; <sub> 100 </sub>.

                <br>

                <br>

                Cost Price = Selling Price &times; <sup> 100 </sup> &frasl; <sub> 100 - % Profit </sub>.
            </dd>

            <br>

            <u>Ex:</u> &nbsp;<br>

            An article costing Rs-400, is sold at 20% profit. Find its selling price.
            <br>
            <br>
            Sol: Selling Price
            = 400 &times; <sup> 100 + 20 </sup> &frasl; <sub>100</sub><br>
            = 400 &times; <sup> 120 </sup> &frasl; <sub> 100 </sub><br>
            = Rs 480.

    </li>
</ul>
<br>
<p><font size="4"> <u> Calculating profit percent when gain in articles is given: </u></font>

<ul>
    <li>
        If on selling x article, gain is equal to the cost price of y articles, then
        <br>
        % Profit = &nbsp; <sup> y </sup> &frasl; <sub> x </sub> &times; 100.

    </li>
    <br>

    <li>
        If on selling x articles, gain is equal to the selling price of y articles,
        <br>
        % Profit = &nbsp; <sup>y</sup>&frasl;<sub>x - y</sub> &times; 100.

    </li>
    <br>

    <li>
        If cost price of x articles = selling price of y articles.
        <br>

        % Profit = &nbsp;<sup> x - y </sup> &frasl; <sub>y </sub> &times; 100.
    </li>
    <br>
    <li>
        Loss is denoted by negative point.
    </li>

</ul>
<br>
</body>


</html>
