{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:21</h1>
<hr>
<p>
A man gains 20% by selling an article for a certain price. If he sells it at double the price then percentage of profit will be:


</p>


<div class="div2">
	A.&nbsp;&nbsp;40%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;140%

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;100%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;120%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Selling price = 100%+20%<br><br>= 120% of cost price<br><br>
New selling price = 2&times;120% of cost price <br><br>= 240% of cost price <br><br>
New profit = 240%-100% <br><br>= 140% of cost price.


</div>
</body>
</html>
