<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:65</h1>
<hr>
<p>
If an article is sold for 178 at a loss of 11%, what should be its selling price in order to earn a profit of 11%?


</p>


<div>
	A.&nbsp;&nbsp;222.50

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;260

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;222

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;220

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

Required selling price = (178&times;100+11)&divide;(100-11)<br><br>
=(178&times;111)&divide;89<br><br>
=222.


</body>
</html>
