{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:31</h1>
<hr>
<p>
If selling price of a commodity is increased by 35, the profit is increased by 7%. Find cost price of the article.


</p>


<div class="div2">
	A.&nbsp;&nbsp;245

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;350

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;500

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;700

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Increasing in selling price = 7% of cost price <br><br>= 35(i.e. 5 times of 7)<br><br>
Cost price = 5&times;100 <br><br>= 500.


</div>
</body>
</html>
