{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:89</h1>
<hr>
<p>
The percent of profit, when an article is sold for 78, is twice than when it is sold for 69, the cost of the article is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;49

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;51

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;57

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;60

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let profit  = x<br><br>
Then cost price +x = 69<br><br>
and cost price +2x = 78<br><br>
x = 78-69=9<br><br>
Cost price = 69-9 <br><br>= 60.


</div>
</body>
</html>
