<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:28</h1>
<hr>
<p>
A merchant professes to sell goods at 20% profit but uses weight of 800 grams in place of a kilogram. What is his actual profit percent?


</p>


<div>
	A.&nbsp;&nbsp;20%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;25%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;50%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;33.33%

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

The merchant gives 800 grams charging the price of 1200 grams.<br><br>
His gain is 400 grams on every 800 grams<br><br>
Profit percent = 400&divide;800&times;100 <br><br>= 50%.


</body>
</html>
