{% load static %}
<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:94</h2>
<hr>
<p>
    On selling an article for 440, the amount of loss suffered is double of profit made on selling the article at 6%
    profit. What is the cost price of the article?


</p>


<div class="div2">
    A.&nbsp;&nbsp;400


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;450


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;500


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;550


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Loss suffered = double of profit made<br><br>
Loss suffered = 2&times;6% of the cost price = 12% of cost price<br><br>
Selling price = 440<br><br>=88% of the cost price<br><br>
Cost price = (440&times;100)&divide;88<br><br>=500.


</div>
</body>
</html>
