<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:29</h2>
<hr>
<p>
    A retailer profess to sell his goods at cost price. If using a false weight, he still gains 25% fine the weight he
    uses in place of 1 kg.


</p>


<div>
    A.&nbsp;&nbsp;200g


</div>
<br>
<div>
    B.&nbsp;&nbsp;600g


</div>
<br>
<div>
    C.&nbsp;&nbsp;750g


</div>
<br>

<div>
    D.&nbsp;&nbsp;800g


</div>


<h2><u>Answer</u>:d </h2>

Let he defrauds x grams pr kg.<br><br>
Then (x)&divide;(100-x) &times;100 = 25<br><br>
4x = 1000 &minus; x <br><br>
5x = 1000<br><br>
X = 200<br><br>
He uses 1000 &minus; 200 <br><br>= 800 grams for one kg.


</body>
</html>
