<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:43</h1>
<hr>
<p>
On selling an article for 300, a shopkeeper gains 20% of the cost price. Find cost price of the article.


</p>


<div>
	A.&nbsp;&nbsp;240

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;250

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;350

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;360

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>
Cost price = 
300 &times; <sup>100</sup>&frasl;<sub>100+20</sub>

 <br><br>
= 300&times;
<sup>100</sup>&frasl;<sub>120</sub>
<br><br>
=250.

</body>
</html>
