<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:36</h1>
<hr>
<p>
An article is sold at 10% loss. Had it been sold for 30 more, the loss would have been 5% only. What is the cost price of the article?


</p>


<div>
	A.&nbsp;&nbsp;200

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;300

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;500

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;600

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Difference in two selling prices = 10% -5%  of cost price<br><br>
Actual difference in two selling prices = 30 (i.e. 6 times of 5)<br><br>
Cost price = 6&times;100<br><br>=600.


</body>
</html>
