{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:57</h1>
<hr>
<p>

A man bought 25 km of rice for 750. On selling them for a certain price, he suffered loss equal to the selling price of 5 kg. find the selling price of 1 kg of rice.

</p>


<div class="div2">
	A.&nbsp;&nbsp;25

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;30

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;35

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;37.50

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Selling price + loss = cost price<br><br>
Selling price of 25 kg + selling price of 5 kg = 750<br><br>
Selling price of 1 kg 
= <sup>750</sup>&frasl;<sub>30</sub>

<br><br>

= 25.


</div>
</body>
</html>
