{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:79</h1>
<hr>
<p>

By selling a tape recorder for 950. I lose 5%. What percent shall I gain by selling it for 1040?

</p>


<div class="div2">
	A.&nbsp;&nbsp;5

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;4

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;4.5

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;9

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Selling price = 950-100% -5%    <br><br>   =95% of the cost price   <br><br>   
New selling price = 1040   <br><br>   
=95%&times;1040&divide;950   <br><br>   
 = 104% of cost price   <br><br>   
Profit = 104% - 100%    <br><br>   
= 4% of the cost price.


</div>
</body>
</html>
