<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:69</h1>
<hr>
<p>
A shopkeeper bought some eggs at the rate of 16 per dozen. Due to mishandling 20% of the eggs bought were broken during the transportation. At what rate of per dozen should he sell the remaining eggs so as to gain 30% on the total cost price?


</p>


<div>
	A.&nbsp;&nbsp;16

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;18

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;24

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;26

	
</div>
		
	

<h2> <u>Answer</u>: d</h2>

Since 20% of the quantity is spoiled, selling the eggs at cost price will result in 20% loss. <br><br> 
We are to find the selling price which gives him 30% profit instead of 20% loss. <br><br> 
Selling price = 16&times;
<sup>130</sup>&frasl;<sub>80</sub>  <br><br> 
= 26 per dozen.


</body>
</html>
