<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:39</h1>
<hr>
<p>
On selling an article for 600, a man gains 20% of the selling price. Find profit percentage on the cost price?


</p>


<div>
	A.&nbsp;&nbsp;20%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;25%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;30%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;33.33%

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

Profit = 
<sup>1</sup>&frasl;<sub>5</sub>
of selling price<br><br>
 =<sup>1</sup>&frasl;<sub>5-1</sub> 
of cost price <br><br>
= <sup>1</sup>&frasl;<sub>4</sub> of cost price <br><br>= 25%.


</body>
</html>
