<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:33</h1>
<hr>
<p>
An article is sold at a profit of 20%. If it had been sold at a profit of 25%, it would have fetched 35 more. The cost price of the article is:


</p>


<div>
	A.&nbsp;&nbsp;650

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;700

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;750

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;800

	
</div>
		
	

<h2> <u>Answer</u>:b</h2>

Difference in two selling prices = 25% -20% = 5% of cost price<br><br>
Actual difference in two selling price = 35(i.e. 7 times of 5)<br><br>
Cost price = 7&times;100 <br><br>= 700.


</body>
</html>
