<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:75</h1>
<hr>
<p>

A man sells eggs at 10 eggs for 7 rupees, gaining 30%. How many eggs did he buy for 7 rupee?

</p>


<div>
	A.&nbsp;&nbsp;7

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;11

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;13

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;15

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

selling price of 1 egg = <sup>7</sup>&frasl;<sub>10</sub> <br><br> 
cost price of 1 egg = <sup>7</sup>&frasl;<sub>10</sub>
&times;
<sup>100</sup>&frasl;<sub>130</sub> <br><br> 
=<sup>7</sup>&frasl;<sub>13</sub> <br><br> 
he bought 13 eggs for 7.


</body>
</html>
