<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:58</h1>
<hr>
<p>

On selling 17 balls at 720, there is a loss equal to the cost price of 5 balls. The cost price of a ball is:

</p>


<div>
	A.&nbsp;&nbsp;45

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;50

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;60

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;55

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

Cost price of 17 balls = selling price of 17 balls + cost price of 5 balls<br><br>
Cost price of 12 balls = 720 <br><br>
Cost price of 1 ball = 60.


</body>
</html>
