{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:80</h1>
<hr>
<p>
By selling an article at 80% of its marked price, a trader makes a loss of 10%. What will be the profit percentage if he sells it at 95% of its marked price?


</p>


<div class="div2">
	A.&nbsp;&nbsp;5.9

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;12.5

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;6.9

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;5

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

80% of marked price = (100-10)% <br><br>= 90% of the cost price<br><br>
95% of the marked price = 95&divide;80&times;90<br><br>
=106.9% (approx) of the cost price<br><br>
Profit = (106.9 -100%) <br><br>= 6.9% of the cost price.


</div>
</body>
</html>
