{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:27</h1>
<hr>
<p>
A merchant professes to sell goods at the loss of 5% but uses weight of 900 grams in place of one kilogram. What is his profit percent?


</p>


<div class="div2">
	A.&nbsp;&nbsp;5%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;5 <sup>5</sup>&frasl;<sub>9</sub>%.

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;6%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;10%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

The merchant gives 900 grams charging the price of 950 grams.<br><br>
His gain is 50 grams on every 900 grams.<br><br>
Profit percent = 
<sup>50</sup>&frasl;<sub>900</sub>
&times;100 <br><br>= 5 <sup>5</sup>&frasl;<sub>9</sub>%.

	


</div>
</body>
</html>
