{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:42</h1>
<hr>
<p>
20% loss on selling price is what percent loss on the cost price?


</p>


<div class="div2">
	A.&nbsp;&nbsp;25%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;15%

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;16 <sup>2</sup>&frasl;<sub>3</sub>%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;16 <sup></sup>&frasl;<sub>3</sub>%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Loss = 20% = <sup>1</sup>&frasl;<sub>5</sub> of SP <br><br>
= <sup>1</sup>&frasl;<sub>6</sub> of CP(CP>SP)

</div>
</body>
</html>
