<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:84</h1>
<hr>
<p>

A sells an article to B at a profit of 10%. B sells the article back to A at a loss of 10%. In the transaction:

</p>


<div>
	A.&nbsp;&nbsp;A neither gains nor loses

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;A gains 11%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;A gains 20%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;A gains 21%

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

Let cost price of the article be 100<br><br>
Cost price of the article to B = 110<br><br>
B sold it to A for 110-10%  of 110=99<br><br>
A gains = 110-99 = 11.


</body>
</html>
