{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:13</h2>
<hr>
<p>
    If the cost price of an article is 80% of its selling price, the profit percent is:


</p>


<div class="div2">
    A.&nbsp;&nbsp;20%


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;22 <sup>1</sup>&frasl;<sub>2</sub> %


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;24%


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;25%


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Cost price: selling price = 80:100<br><br>
Profit% = <sup>20</sup>&frasl;<sub>80</sub>
&times;100 <br><br>= 25%.


</div>
</body>
</html>
