{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:8</h1>
<hr>
<p>
The ratio of cost price and selling price is 5:4, the loss per cet is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;20%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;25%

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;40%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;50%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Cost price: selling price = 5:4<br><br>
Loss = 5-4=1<br><br>
Loss percent = 
<sup>1</sup>&frasl;<sub>5</sub>

&times;100 <br><br>= 20%


</div>
</body>
</html>
