{% load static %}
<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:24</h2>
<hr>
<p>
A trader has a weighing balance that shows 1,200 gm for a kilogram. He further marks up his cost price by 10%. Then the net profit percentage is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;32%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;23%

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;31.75%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;23.5%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

The merchant gives 100 grams charging the price of 1320(=1200+10%) gm.<br><br>
New profit = 32%.


</div>
</body>
</html>
