<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:34</h1>
<hr>
<p>
A bicycle is sold at 10% profit. Had it been sold for 10 less, the profit would have been 5% only. What is the cost price of the bicycle?


</p>


<div>
	A.&nbsp;&nbsp;100

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;180

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;190

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;200

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Difference in two selling prices = 10%-5% <br><br>= 5% of cost price<br><br>
Actual difference in two sellin prices = 10 (i.e. 2 times of 5)<br><br>
Cost  price = 2&times;100 <br><br>= 200.


</body>
</html>
