{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:44</h1>
<hr>
<p>
On selling an article for 900, a shopkeeper loses 10% of the cost price. Find cost price of the article.	


</p>


<div class="div2">
	A.&nbsp;&nbsp;1000

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;810

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;900

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;800

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
cost price = 900&times;
<sup>100</sup>&frasl;<sub>100-10</sub>
 <br><br>
= 900&times;
<sup>100</sup>&frasl;<sub>90</sub>
<br><br>= 1000.

</div>
</body>
</html>
