<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:27</h1>
<hr>
<p>
A merchant professes to sell goods at the loss of 5% but uses weight of 900 grams in place of one kilogram. What is his profit percent?


</p>


<div>
	A.&nbsp;&nbsp;5%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;5 <sup>5</sup>&frasl;<sub>9</sub>%.

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;6%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;10%

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

The merchant gives 900 grams charging the price of 950 grams.<br><br>
His gain is 50 grams on every 900 grams.<br><br>
Profit percent = 
<sup>50</sup>&frasl;<sub>900</sub>
&times;100 <br><br>= 5 <sup>5</sup>&frasl;<sub>9</sub>%.

	


</body>
</html>
