{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:82</h1>
<hr>
<p>
On selling an article for 50, a man lose 
<sup>1</sup>&frasl;<sub>6</sub>
of his cost price. Find his profit percentage, if the article is sold for 66.


</p>


<div class="div2">
	A.&nbsp;&nbsp;5%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;10%

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;20%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;25%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Loss = <sup>1</sup>&frasl;<sub>6</sub> of cost price <br><br>
Selling price = 


1 - 

<sup>1</sup>&frasl;<sub>6</sub><br><br>

= <sup>5</sup>&frasl;<sub>6</sub> of cost price<br><br>
50 =<sup>5</sup>&frasl;<sub>6</sub> of cost price <br><br>
66=<sup>5</sup>&frasl;<sub>6</sub>
&times;
<sup>66</sup>&frasl;<sub>50</sub> of cost price <br><br>
=<sup>11</sup>&frasl;<sub>10</sub> of cost price<br><br>
Profit = <sup>11</sup>&frasl;<sub>10</sub>-1<br><br>
 = 10% of cost price.


</div>
</body>
</html>
