<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:63</h1>
<hr>
<p>
On selling an article for 170, a shopkeeper loses 15%. In order to gain 20%, he must sell that article at rupees:


</p>


<div>
	A.&nbsp;&nbsp;210

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;215.50

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;212.50

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;240

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Selling price = (170&times;100+20)&divide;(100-15)<br><br>
=(170&times;120)&divide;85<br><br>
=240.


</body>
</html>
