{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:35</h1>
<hr>
<p>
By selling a table for 350 instead of 400, loss percent increases by 5%. The cost price of the table is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;1050

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;417.50

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;435

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;1000

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Difference in two selling prices = 400-350=50<br><br>
Difference in two selling prices = 5% of cost price <br><br>
= 50(i.e. 10 times)<br><br>
Cost price = 10&times;100 <br><br>= 1000.


</div>
</body>
</html>
