<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:9</h1>
<hr>
<p>
If the ratio of cost price and selling price be 9:10, then the percentage in profit is:


</p>


<div>
	A.&nbsp;&nbsp;11 <sup>1</sup>&frasl;<sub>9</sub>%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;9%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;11%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;10%

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>

Cost price: selling price = 9:10<br><br> 
Profit = 10-9<br><br>=1<br><br>
Profit percent = 
<sup>1</sup>&frasl;<sub>9</sub>
&times;100<br><br>
=11 <sup>1</sup>&frasl;<sub>9</sub>%


</body>
</html>
