<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:49</h1>
<hr>
<p>
A retailer buys goods at 
<sup>9</sup>&frasl;<sub>10</sub>
of its marked price and sells them at 
<sup>12</sup>&frasl;<sub>10</sub>
of the marked price, find his profit percent.


</p>


<div>
	A.&nbsp;&nbsp;10%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;20%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;25%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;33.33%

	
</div>
		
	

<h2> <u>Answer</u>: d</h2>

Let the marked price of the goods = 10<br><br>
Then cost price = (10&times;9)&divide;10<br><br>=9<br><br>
Selling price = (10&times;12)&divide;10 <br><br>= 12<br><br>
Profit = 3 on 9 <br><br>
= <sup>3</sup>&frasl;<sub>9</sub><br><br>
= <sup>1</sup>&frasl;<sub>3</sub><br><br>
= 33.33.


</body>
</html>
