{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:69</h1>
<hr>
<p>
A shopkeeper bought some eggs at the rate of 16 per dozen. Due to mishandling 20% of the eggs bought were broken during the transportation. At what rate of per dozen should he sell the remaining eggs so as to gain 30% on the total cost price?


</p>


<div class="div2">
	A.&nbsp;&nbsp;16

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;18

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;24

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;26

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Since 20% of the quantity is spoiled, selling the eggs at cost price will result in 20% loss. <br><br> 
We are to find the selling price which gives him 30% profit instead of 20% loss. <br><br> 
Selling price = 16&times;
<sup>130</sup>&frasl;<sub>80</sub>  <br><br> 
= 26 per dozen.


</div>
</body>
</html>
