<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:62</h1>
<hr>
<p>
On selling an article for 400, a man loses 20%. What will be the selling price, if desired profit is 10?


</p>


<div>
	A.&nbsp;&nbsp;200

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;500

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;550

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;600

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

Selling price = (400&times;100+10)&divide;(100-10)<br><br>
=(400&times;110)&divide;80<br><br>
=550.


</body>
</html>
