<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:6</h1>
<hr>
<p>
If the cost price and selling price of an article are in the rato 10:11, then the percentage of profit is:


</p>


<div>
	A.&nbsp;&nbsp;10

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;9

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;3

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;1

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>
Profit% = <sup>(11-10)</sup>&frasl;<sub>10</sub>&times;100 <br><br>= 10%

</body>
</html>
