<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:77</h1>
<hr>
<p>
On selling an article for 600, a man gains 20%. What will be the profit if the article is sold for 800?


</p>


<div>
	A.&nbsp;&nbsp;60%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;50%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;40%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;30%

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>

Selling price = 600=120% of cost price<br><br>
New selling price = 120% &times;
 <sup>800</sup>&frasl;<sub>600</sub><br><br>
=160% of cost price<br><br>
Profit = 160% -100% <br><br>
= 60% of the cost price.


</body>
</html>
