{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:20</h2>
<hr>
<p>
Selling price of an article is 330. Find cost price of the article, if gain is 10% on cost price. 


</p>


<div class="div2">
	A.&nbsp;&nbsp;280

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;290

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;300

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;310

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Cost price = (330&times;100)&divide;(100+10) <br><br>= (330&times;100)&divide;110<br><br>=300. 

</div>
</body>
</html>
