<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:53</h1>
<hr>
<p>
Raghavan purchased a scooter at 
<sup>13</sup>&frasl;<sub>15</sub>
of its selling price and sold it at 12% more than its selling price. His gain is:


</p>


<div>
	A.&nbsp;&nbsp;20%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;30%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;30 <sup>1</sup>&frasl;<sub>13</sub> %

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;29 <sup>3</sup>&frasl;<sub>13</sub> %.

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>
Let marked price be x<br><br>
Then cost price = <sup>13</sup>&frasl;<sub>15</sub>x <br><br>
Selling price = <sup>112</sup>&frasl;<sub>100</sub>x<br><br>
=<sup>28</sup>&frasl;<sub>25</sub>x<br><br>





<sup>SP</sup>&frasl;<sub>CP</sub>&times; 100
= 
<sup>28</sup>&frasl;<sub>25</sub>x &divide; 

<sup>13</sup>&frasl;<sub>15</sub>x 
&times; 100 <br><br>



=<sup>28</sup>&frasl;<sub>25</sub>&times;
<sup>15</sup>&frasl;<sub>13</sub>&times;
100<br><br>


=<sup>1680</sup>&frasl;<sub>13</sub>
<br><br>
=129 <sup>3</sup>&frasl;<sub>13</sub>%<br><br>
Profit % = 129 <sup>3</sup>&frasl;<sub>13</sub>% - 100% <br><br>
= 29 <sup>3</sup>&frasl;<sub>13</sub> %.


</body>
</html>
