{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:14</h1>
<hr>
<p>
A shopkeeper purchased a chair marked at 800, at two successive discounts of 10% and 15% respectively. He spent 28 on transportation and sold the chair for 800. His gain percent is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;40%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;30%

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;25%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;14%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Cost price = 800&times;
<sup>90</sup>&frasl;<sub>100</sub>
 &times;
<sup>85</sup>&frasl;<sub>100</sub>
+ 28 <br><br>= 612+28 <br><br>=640<br><br>
Profit = 800-640 <br><br>= 160<br><br>
% profit = 
<sup>160</sup>&frasl;<sub>640</sub>
&times;100 <br><br>= 25%.


</div>
</body>
</html>
