<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:26</h1>
<hr>
<p>
A dishonest merchant professes to sell his goods at cost price, but uses a weight of 900 grams for one kg. what is his profit percent?


</p>


<div>
	A.&nbsp;&nbsp;10%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;11 <sup>1</sup>&frasl;<sub>9</sub>%.



	
</div>
<br>
<div>
	C.&nbsp;&nbsp;6%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;10%

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>
The merchant gives 900 grams charging the price of 1000 grams.<br><br>
His gain is 100 grams on every 900 grams <br><br>
Profit percent =  
<sup>100</sup>&frasl;<sub>900</sub>%.
&times;100 <br><br>
=11 <sup>1</sup>&frasl;<sub>9</sub>%.

	

</body>
</html>
