<html>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
    <title>Profit and Loss Formula</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1>Formulae on Profit and Loss</p1>
</u></b></font>
<hr/>
<hr/>


<p><font size="4"> <u> </u></font>
    <br>
<ol>
    <li>
        A shopkeeper marks his goods at x% above the cost price and then allows y% discount on the marked price, then
        his profit percent.

        <br>
        <br>
        = &nbsp;x - y - (<sup> xy </sup> &frasl; <sub> 100 </sub>).

    </li>
    <br>
    <br>
    <li>
        If price of an article is marked x% above the cost price and x% discount is allowed on its marked price, then
        loss percent.
        <br>
        = &nbsp; <sup>x<sup>2</sup></sup> &frasl; <sub>100</sub>.


    </li>
    <br>
    <br>
    <li>
        If two articles are sold for the same selling price. On selling first article a man gains x% and on selling the
        other article he loses x%, in such cases there will be always loss, and
        <br>
        Loss % = <sup>x<sup>2</sup></sup> &frasl; <sub>100 &nbsp;</sub><br>
        i.e. <sup>(Common Gain and Loss %)<sup>2</sup></sup> &frasl; <sub>100</sub>.
    </li>
    <br>
    <br>
    <li>
        If two articles are sold for the same selling price. On selling the first, the gain is x% and on selling the
        second the gain is y%, then % profit in the transaction
        <br><br>

        = &nbsp;<sup> 100( x + y ) + 2xy </sup> &frasl; <sub> 200 + x + y </sub>

    </li>
    <br>
    <br>
    <li>

        Relation between profit/loss and cost price/selling price:
        <br><br><u>When the article is sold at profit: </u><br><br>

        We know that Cost Price + Profit = Selling Price.
        <br><br>

        Cost price < selling Price.

        <br><br>
        If we shift base from cost price to selling price( i.e to bigger base), smaller fraction is required and
        vice-versa

        <br><br>(a). if profit is <sup>1</sup>&frasl;<sub>x</sub> of cost price, then profit is <sup>1</sup>&frasl;<sub>x+1</sub>
        of the selling price.

        <br><br>(b) if profit is <sup>1</sup>&frasl;<sub>x</sub> of selling price, then profit is
        <sup>1</sup>&frasl;<sub>x - 1 </sub> of the cost price.


        <br><br><u>When the article is sold at Loss:</u> <br><br>

        We know that Cost Price - Loss = Selling Price.
        <br><br>

        Cost price > selling Price.

        <br><br>
        If we shift base from cost price to selling price( i.e to smaller base), bigger fraction is required and
        vice-versa.

        <br><br>(a) If Loss is <sup>1</sup>&frasl;<sub>x</sub> of cost price, then loss is <sup>1</sup>&frasl;<sub>x -
        1</sub> of the selling price.

        <br><br>(b) If loss is <sup>1</sup>&frasl;<sub>x</sub> of selling price, then loss is <sup>1</sup>&frasl;<sub>x
        + 1 </sub> of the cost price.


    </li>
    <br>
    <br>
    <li>

        on selling an article for x, a person earns a% profit. In order to earn b% profit, he must sell the article for
        <br><br>
        = &nbsp; x &times; <sup> 100 + b</sup> &frasl; <sub>100 + a</sub>.<br>i.e.

        new selling price = old selling price &times;

        <sup>a</sup>&frasl;<sub>b</sub><br>
        Where <br>
        a = 100 + Desired Profit (in %)<br>
        b = 100 + initial Profit (in %).

    </li>
    <br>
    <br>
    <li>
        if two articles are sold - first article at x% profit and the second article is at y&percnt; loss, thus making
        no
        profit, no loss in the transaction.
        <br><br>Then cost price of the two articles are in the ratio y:x.


    </li>
    <br>
    <br>
</ol>
</body>


</html>
