{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:98</h1>
<hr>
<p>
A shopkeeper allows 25% discount on the marked price of his articles and hence gains 25% of the cost price. What is the marked price of the article on selling which he gains 120?


</p>


<div class="div2">
	A.&nbsp;&nbsp;400

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;600

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;800

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;1000

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
If profit is 25, then selling price = 100+25=125<br><br>
If marked price is 100, then selling price = 100-25=75<br><br>
Marked price of the article <br><br>= 
120 &times; 

<sup>125</sup>&frasl;<sub>25</sub>
&times; 
<sup>100</sup>&frasl;<sub>75</sub>



<br><br>
=800.


</div>
</body>
</html>
