{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:43</h1>
<hr>
<p>
On selling an article for 300, a shopkeeper gains 20% of the cost price. Find cost price of the article.


</p>


<div class="div2">
	A.&nbsp;&nbsp;240

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;250

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;350

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;360

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Cost price = 
300 &times; <sup>100</sup>&frasl;<sub>100+20</sub>

 <br><br>
= 300&times;
<sup>100</sup>&frasl;<sub>120</sub>
<br><br>
=250.

</div>
</body>
</html>
