<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:47</h1>
<hr>
<p>
What is the maximum percentage discount ( approximately) that a merchant can offer on his marked price so that he ends up selling at no profit or loss. If he initially marked his goods up by 40%?


</p>


<div>
	A.&nbsp;&nbsp;33.5%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;28.5%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;60%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

Increase in price = 40% <br><br>
= 
<sup>40</sup>&frasl;<sub>100</sub>
<br><br>
=<sup>2</sup>&frasl;<sub>5</sub><br><br>
Discount&nbsp;&frasl;decrease in price = 
<sup>2</sup>&frasl;<sub>5+2</sub><br><br>
=<sup>2</sup>&frasl;<sub>7</sub><br><br>
=28.5%(approximately).


</body>
</html>
