<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:64</h1>
<hr>
<p>
On selling an article for 240, a trader loses 20%. In order to gain 10%,he must sell the article for:


</p>


<div>
	A.&nbsp;&nbsp;275

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;280

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;285

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;300

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>
Selling price = (240&times;100+10)&divide;(100-4)<br><br>
=(240&times;110)&divide;96<br><br>
=275.


</body>
</html>
