{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:37</h1>
<hr>
<p>
A tradesman sold an article at a loss of 20%. If the selling price had been increased by 100, there would have been a gain of 5%. The cost price of the article was:


</p>


<div class="div2">
	A.&nbsp;&nbsp;200

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;25

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;400

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;250

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Difference in two selling prices = 5%-(-20%)<br><br>
=25% of cost price<br><br>
Actual difference in two selling prices = 100(i.e. 4 times of 25)<br><br>
Cost price = 4&times;100<br><br>
=400.


</div>
</body>
</html>
