{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:52</h1>
<hr>
<p>
A person bought an article on 40% discount and sold it at 50% more than the marked price. What profit did he get?


</p>


<div class="div2">
	A.&nbsp;&nbsp;50%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;90%

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;150%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;250%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

let the marked price be 100<br><br>
then cost price  = 100-40 <br><br>= 60<br><br>
selling price = 100+50 <br><br>= 150<br><br>
profit = 150-60 <br><br>= 90 <br><br>
profit % = 90&divide;60&times;100 <br><br>= 150%.


</div>
</body>
</html>
