{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:55</h2>
<hr>
<p>
Ram  bought a bat with 20% discount on the marked price. He sold the bat for 1200 with a profit of 80. The marked price of the bat was:


</p>


<div class="div2">
	A.&nbsp;&nbsp;2400

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;1600

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;1400

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;1250

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Cost price of bat = selling price &minus; profit <br><br>= 1200 &minus; 80 <br><br>= 1120<br><br>
80% of marked price = 1120<br><br>
Marked price = 1120&times;100&divide;80 <br><br>= 1400.


</div>
</body>
</html>
