<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:17</h1>
<hr>
<p>
If cost price of an article is 
<sup>3</sup>&frasl;<sub>2</sub>
of its selling price, the profit or loss per cent is:


</p>


<div>
	A.&nbsp;&nbsp;33.33%loss

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;50%Profit

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;50%Loss

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;33.33Profit

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>

Let selling price of the article is 2.<br><br> Then cost price = 3<br><br>
Loss = 3-2 <br><br>= 1 on 3 <br><br>
Loss = 
<sup>1</sup>&frasl;<sub>3</sub>
= 33.33%.


</body>
</html>
