{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:4</h1>
<hr>
<p>
A man buys a cycle for 1400 and sells it at a loss of 15%. What is the selling price of the cycle?


</p>


<div class="div2">
	A.&nbsp;&nbsp;1202

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;1190

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;1160

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;1000

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Selling price = [(1400&times;100)-15]&divide;100 <br><br>= (1400&times;85)&divide;100 <br><br>= 1190.


</div>
</body>
</html>
