{% load static %}
<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:40</h2>
<hr>
<p>
    On selling an article for 250, a shopkeeper gains 50. His gain percent is:


</p>


<div class="div2">
    A.&nbsp;&nbsp;16.67%


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;20%


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;25%


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;33.33%


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Cost price = selling price &minus; profit <br><br>=250-50 <br><br>
= 200<br><br>
Profit percent = 50&divide;200<br><br>
=1&divide;4 <br><br>= 25%.


</div>
</body>
</html>
