<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:11</h1>
<hr>
<p>
A person buys some pencils at 5 for a rupee and sells them at 3 for a rupee. His gain per cent will be:


</p>


<div>
	A.&nbsp;&nbsp;66 <sup>2</sup>&frasl;<sub>3</sub>%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;76 <sup>2</sup>&frasl;<sub>3</sub>%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;56 <sup>2</sup>&frasl;<sub>3</sub>%

	                                                   

</div>
<br>
			
<div>
	D.&nbsp;&nbsp;46 <sup>2</sup>&frasl;<sub>3</sub>%

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>
Ratio of cost price and selling price = 1&divide;5:1&divide;3<br><br>
= 3:5<br><br>
Profit percent = (5-3)&divide;3&times;100 <br><br>
=<sup>2</sup>&frasl;<sub>3</sub>&times;100 <br><br>
= 66 <sup>2</sup>&frasl;<sub>3</sub>%


</body>
</html>
