{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:23</h1>
<hr>
<p>
A man gains 10% by selling an article for a certain price. What is profit/loss if the article is sold for half the price?


</p>


<div class="div2">
	A.&nbsp;&nbsp;45%loss

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;5%loss

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;50%loss

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;55%loss

	
</div>
		

	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Selling price = (100 + 10)% <br><br>= 110% of cost price.<br><br>
New selling price = <sup>1</sup>&frasl;<sub>2</sub> &times;110%<br><br>= 55% of cost price<br><br>
Loss = 100%-55% <br><br>= 45% of cost price.


</div>
</body>
</html>
