<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:41</h1>
<hr>
<p>
On selling an article for 200, a man loses 20. Find his loss percent.


</p>


<div>
	A.&nbsp;&nbsp;10%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;9 <sup>1</sup>&frasl;<sub>11</sub> %

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;11 <sup>1</sup>&frasl;<sub>9</sub> %

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;20%

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

Cost price = selling price + loss <br><br>= 200+20 <br><br>= 220<br><br>
Loss percent = 20&divide;220<br><br>=1&divide;11<br><br>
=9 <sup>1</sup>&frasl;<sub>11</sub>%.


</body>
</html>
