{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:25</h1>
<hr>
<p>
A man buys milk at 45 p per liter, add one fourth of water to it and sells the mixture at 54 p per liter. The profit per cent is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;20%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;30%

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;40%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;50%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Cost price of one liter of mixture = 45&times; <sup>4</sup>&frasl;<sub>5</sub>
= 36 p<br><br>
Profit per liter = (54-36)p <br><br>= 18 p<br><br>
Profit % =<sup>18</sup>&frasl;<sub>36</sub>

&times;100 <br><br>= 50%.


</div>
</body>
</html>
