<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:94</h2>
<hr>
<p>
    On selling an article for 440, the amount of loss suffered is double of profit made on selling the article at 6%
    profit. What is the cost price of the article?


</p>


<div>
    A.&nbsp;&nbsp;400


</div>
<br>
<div>
    B.&nbsp;&nbsp;450


</div>
<br>
<div>
    C.&nbsp;&nbsp;500


</div>
<br>

<div>
    D.&nbsp;&nbsp;550


</div>


<h2><u>Answer</u>: c</h2>

Loss suffered = double of profit made<br><br>
Loss suffered = 2&times;6% of the cost price = 12% of cost price<br><br>
Selling price = 440<br><br>=88% of the cost price<br><br>
Cost price = (440&times;100)&divide;88<br><br>=500.


</body>
</html>
