<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:72</h1>
<hr>
<p>

A vendor sells lemons at the rate of 5 for 15, gaining there by 40%. For how much did he buy a dozen lemons?

</p>


<div>
	A.&nbsp;&nbsp;20

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;21

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;24

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;28

	
</div>
		
	

<h2> <u>Answer</u>: c</h2>

Selling price of 1 lemon =<sup>14</sup>&frasl;<sub>5</sub><br><br>
Cost price of 1 lemon = 
<sup>14</sup>&frasl;<sub>5</sub>
&times;
<sup>100</sup>&frasl;<sub>140</sub>
<br><br>
Cost price of 12 lemons = <sup>14</sup>&frasl;<sub>5</sub>
&times;
<sup>100</sup>&frasl;<sub>140</sub>
&times; 
12<br><br>
=24.


</body>
</html>
