<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:81</h1>
<hr>
<p>

On selling an article for 64, a man gains 
<sup>1</sup>&frasl;<sub>7</sub>
of the cost price. Find his profit percentage, if the article is sold for 63.

</p>


<div>
	A.&nbsp;&nbsp;12.5%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;20%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;25%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;33.33%

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>

Gain =<sup>1</sup>&frasl;<sub>7</sub>of cost price<br><br>
Selling price = 


1+ <sup>1</sup>&frasl;<sub>7</sub><br><br>

=<sup>8</sup>&frasl;<sub>7</sub> of cost price<br><br>
64 = <sup>8</sup>&frasl;<sub>7</sub> of cost price <br><br>
63=<sup>8</sup>&frasl;<sub>7</sub>
&times;
<sup>63</sup>&frasl;<sub>64</sub>
= <sup>9</sup>&frasl;<sub>8</sub>
 of cost price<br><br>
Profit = <sup>9</sup>&frasl;<sub>8</sub> -1 <br><br>
= <sup>1</sup>&frasl;<sub>8</sub> <br><br>
=12.5% of cost price.


</body>
</html>
