{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:99</h1>
<hr>
<p>
A man bought a horse for 10000 and sold it to B at 10% profit and B sold it to C at 10% loss. Find the amount paid by C.


</p>


<div class="div2">
	A.&nbsp;&nbsp;10000

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;9990

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;9999

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;11000

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Difference = (10&times;10)&divide;100<br><br>
=1% decrease<br><br>
Required amount = 10000-1% of 10000<br><br>
=10000-100<br><br>
=9900.


</div>
</body>
</html>
