{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:16</h1>
<hr>
<p>
A grocer purchased 2 kg of rice at the rate of 15 per kg. and 3 kg of rice at the rate of 13 per kg. at what price per kg should he sell the mixture to earn 33 
<sup>1</sup>&frasl;<sub>3</sub> 
% profit on the cost price?


</p>


<div class="div2">
	A.&nbsp;&nbsp;28

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;20

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;18.40

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;17.40

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Total quantity bought = 2+3 =5 kg<br><br>
Total cost price = 2&times;15+3&times;13<br><br>
=30+39<br><br>
=69<br><br>
Desired profit = 33 <sup>1</sup>&frasl;<sub>3</sub>% of 69 <br><br>
= <sup>1</sup>&frasl;<sub>3</sub> of 69 <br><br>= 23<br><br>
total selling price = 69+23<br><br>=92<br><br>
Selling price per kg. = 92&divide;5 <br><br>= 18.40.


</div>
</body>
</html>
