<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:95</h2>
<hr>
<p>
    An article is sold for 190, hence gaining a certain amount. Had the article been sold for 175, he would have
    suffered loss equal to 50% of the gain in the first case. Find cost price of the article.


</p>


<div>
    A.&nbsp;&nbsp;178


</div>
<br>
<div>
    B.&nbsp;&nbsp;180


</div>
<br>
<div>
    C.&nbsp;&nbsp;185


</div>
<br>

<div>
    D.&nbsp;&nbsp;188


</div>


<h2><u>Answer</u>:b </h2>

let gain in the first case = 2x<br><br>
then loss in the second case = x<br><br>
difference between two selling prices = 2x &minus; (&minus; x)<br><br>
=2x&plus;x=3x<br><br>
actual difference between the two selling prices = 190-175<br><br>=15<br><br>
3x = 15<br><br>
x =5. <br><br>
cost price = 190-2x<br><br>
=190-10=180<br><br>
or cost price = 175+x=175+5<br><br>=180.


</body>
</html>
