{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:83</h1>
<hr>
<p>
One trader calculates the percentage profit on the buying price and another calculate on the selling price. When their selling price are the same, then the difference of their actual profits is 85 and both claim to have made 20% profit. What is the selling price of each?


</p>


<div class="div2">
	A.&nbsp;&nbsp;1700

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;2100

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;2550

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;2750

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let the cost price in the first case = 100<br><br>
Then profit in the first case = 20% of cost price = 20<br><br>
Selling price = 100+20=120<br><br>
Profit in the second case, on selling price of 120 = 20% of 120<br><br>
=24<br><br>
Difference between profits in two cases = 24-20 = 4<br><br>
If difference is 4, selling price = 120 (i.e. 30 times.)<br><br>
if difference is 85, selling price = 85&times; 30<br><br>
= 2550.


</div>
</body>
</html>
