<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:97</h1>
<hr>
<p>
A sells a bicycle to B at a profit of 20%. B sells it to C at a profit of 25%. If C pays 225 for it, the cost price of the bicycle for A is:


</p>


<div>
	A.&nbsp;&nbsp;110

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;120

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;125

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;150

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Cost price for A = 225&times;
<sup>100</sup>&frasl;<sub>125</sub>

&times;
<sup>100</sup>&frasl;<sub>120</sub>

<br><br>=150.


</body>
</html>
