<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:90</h1>
<hr>
<p>

If the selling price of an article is doubled, then its loss percent is converted into equal profit percent. The loss percent on the article is:

</p>


<div>
	A.&nbsp;&nbsp;26 <sup>2</sup>&frasl;<sub>3</sub>%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;33 <sup>1</sup>&frasl;<sub>3</sub>%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;50%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;20%

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

Let cost price of the article be 100 and profit/loss percent be x%<br><br>
Then (100+x)= 2(100-x)<br><br>
100+x=200-2x<br><br>
3x = 100<br><br>
Or x = 33 <sup>1</sup>&frasl;<sub>3</sub>%.


</body>
</html>
