<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:89</h1>
<hr>
<p>
The percent of profit, when an article is sold for 78, is twice than when it is sold for 69, the cost of the article is:


</p>


<div>
	A.&nbsp;&nbsp;49

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;51

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;57

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;60

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Let profit  = x<br><br>
Then cost price +x = 69<br><br>
and cost price +2x = 78<br><br>
x = 78-69=9<br><br>
Cost price = 69-9 <br><br>= 60.


</body>
</html>
