<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:73</h1>
<hr>
<p>

On selling apples at 36 for a rupee, a shopkeeper loses 10%. How many apples should he sell for a rupee in order to gain 8%?

</p>


<div>
	A.&nbsp;&nbsp;25

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;30

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;32

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;35

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

Selling price of 1 apple = <sup>1</sup>&frasl;<sub>36</sub> <br><br> 
New selling price = <sup>1</sup>&frasl;<sub>36</sub>
&times;
<sup>108</sup>&frasl;<sub>90</sub> <br><br> 
=<sup>1</sup>&frasl;<sub>30</sub> <br><br> 
For one rupee, he should sell 30 apples.


</body>
</html>
