<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:8</h1>
<hr>
<p>
The ratio of cost price and selling price is 5:4, the loss per cet is:


</p>


<div>
	A.&nbsp;&nbsp;20%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;25%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;40%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;50%

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>

Cost price: selling price = 5:4<br><br>
Loss = 5-4=1<br><br>
Loss percent = 
<sup>1</sup>&frasl;<sub>5</sub>

&times;100 <br><br>= 20%


</body>
</html>
