<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:31</h1>
<hr>
<p>
If selling price of a commodity is increased by 35, the profit is increased by 7%. Find cost price of the article.


</p>


<div>
	A.&nbsp;&nbsp;245

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;350

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;500

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;700

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

Increasing in selling price = 7% of cost price <br><br>= 35(i.e. 5 times of 7)<br><br>
Cost price = 5&times;100 <br><br>= 500.


</body>
</html>
