<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:7</h1>
<hr>
<p>
If 3 toys are sold at the cost price of 4 toys of the same kind, the profit will be:


</p>


<div>
	A.&nbsp;&nbsp;25%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;33 <sup>1</sup>&frasl;<sub>3</sub> %

	                                                  




</div>
<br>
<div>
	C.&nbsp;&nbsp;62 <sup>1</sup>&frasl;<sub>3</sub>%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;50%

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

Cost price of 4 toys = selling price of 3 toys <br><br>
Cost price: sellig price = 3:4<br><br>
Profit = <sup>1</sup>&frasl;<sub>3</sub><br><br>
= 33 <sup>1</sup>&frasl;<sub>3</sub>%.


</body>
</html>
