{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:54</h1>
<hr>
<p>
A retailer buys 40 pens at the marked price of 36 pens from a wholesaler. If he sells these pens giving a discount of 1%. What is the profit percent?


</p>


<div class="div2">
	A.&nbsp;&nbsp;9%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;10%

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;10 1/9%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;11%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Marked price : cost price = 40:36<br><br>=10:9<br><br>
Selling price = 10-1% of 10 <br><br>= 9.90<br><br>
Profit = 9.90-9.00 <br><br>= 0.90 on 9.00<br><br>
= <sup>0.90</sup>&frasl;<sub>9.00</sub>
&times;100% <br><br>= 10%.


</div>
</body>
</html>
