{% load static %}

<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:19</h2>
<hr>
<p>
If selling an article for 990 causes 10% loss on the selling price, find its cost price.


</p>


<div class="div2">
	A.&nbsp;&nbsp;891

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;900

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;1089

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;1100

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Cost price = sellig price + loss <br><br>= 990+10% of 990 <br><br>
= 990+99 <br><br>= 1089.


</div>
</body>
</html>
