{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:88</h1>
<hr>
<p>

Profit after selling a commodity for 524 is the same as loss after selling it for 452. The cost price of the commodity is:

</p>


<div class="div2">
	A.&nbsp;&nbsp;480

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;500

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;488

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;485

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let loss = profit =x<br><br>
Then cost price = 524-x<br><br>
=452+x<br><br>
2x = 524-452<br><br>
=72 <br><br>
X= 36<br><br>
Cost price = 452+36<br><br>
=488.


</div>
</body>
</html>
