{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:75</h1>
<hr>
<p>

A man sells eggs at 10 eggs for 7 rupees, gaining 30%. How many eggs did he buy for 7 rupee?

</p>


<div class="div2">
	A.&nbsp;&nbsp;7

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;11

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;13

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;15

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

selling price of 1 egg = <sup>7</sup>&frasl;<sub>10</sub> <br><br> 
cost price of 1 egg = <sup>7</sup>&frasl;<sub>10</sub>
&times;
<sup>100</sup>&frasl;<sub>130</sub> <br><br> 
=<sup>7</sup>&frasl;<sub>13</sub> <br><br> 
he bought 13 eggs for 7.


</div>
</body>
</html>
