<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:78</h1>
<hr>
<p>
By selling an article for 69, there is a loss of 8%, when the article is sold for 78, the gain or loss percent is:


</p>


<div>
	A.&nbsp;&nbsp;Neither gain or loss

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;40%gain

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;4%gain

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;4%loss

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

Selling price = 69 <br><br> 
= 100% -8%  <br><br> = 92% of the cost price <br><br> 
new selling price = 78 <br><br> 
=
92% &times; 

<sup>78</sup>&frasl;<sub>69</sub> <br><br> 
= 104% of cost price <br><br> 
profit = 104% - 100%  <br><br> 
=4% of the cost price.

</body>
</html>
