<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:24</h2>
<hr>
<p>
A trader has a weighing balance that shows 1,200 gm for a kilogram. He further marks up his cost price by 10%. Then the net profit percentage is:


</p>


<div>
	A.&nbsp;&nbsp;32%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;23%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;31.75%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;23.5%

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>

The merchant gives 100 grams charging the price of 1320(=1200+10%) gm.<br><br>
New profit = 32%.


</body>
</html>
