{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:70</h1>
<hr>
<p>

A trader buys apples at 7 apples for a rupee and sells them at 40% profit. How many apples does he sell for a rupee?

</p>


<div class="div2">
	A.&nbsp;&nbsp;3

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;4

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;5

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;6

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Cost price of 1 apple = <sup>1</sup>&frasl;<sub>7</sub>
 <br><br>
Sellig price of 1 apple = <sup>1</sup>&frasl;<sub>7</sub>
&times;
<sup>100</sup>&frasl;<sub>140</sub>= <sup>1</sup>&frasl;<sub>5</sub> <br><br>
5 apples are sold for 1 rupee.


</div>
</body>
</html>
