<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:46</h1>
<hr>
<p>

Arvind purchased a wrist watch with 30% discount on the labeled price. He sold it with 40% profit on the price he bought. What was his percent loss on the labeled price?

</p>


<div>
	A.&nbsp;&nbsp;8

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;2

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;6

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;10

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

Let labeled price = 100<br><br>
Then cost price = 70<br><br>
Selling price = 70+40% of 70<br><br>=98<br><br>
Loss on labeled price = 2.


</body>
</html>
