<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:30</h1>
<hr>
<p>
A shopkeeper buys some pens. If he sells them at 13 per pen, his total loss is 150 but on selling them 15 per pen, his total gain is 100. How many pens did he sell?


</p>


<div>
	A.&nbsp;&nbsp;100

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;125

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;150

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;250

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

Difference in sales amount due to change in selling price <br><br>= 150+100 <br><br>= 250<br><br>
Difference in selling price per pen = 15-13<br><br>=2<br><br>
On selling 1 pen, sales amount is increased by 2 in second case.<br><br>
Total pens sold = 250&divide;2<br><br>=125 pens.


</body>
</html>
