{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:12</h1>
<hr>
<p>
If selling price of an article is <sup>8</sup>&frasl;<sub>5</sub> times its cost price, the profit per cent on it is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;120%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;160%

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;40%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;60%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Profit = 
<sup>8</sup>&frasl;<sub>5</sub>
-1 = <sup>3</sup>&frasl;<sub>5</sub><br><br>
=
<sup>3</sup>&frasl;<sub>5</sub> &times; 100% <br><br>= 60%.


</div>
</body>
</html>
