<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:93</h1>
<hr>
<p>
On selling an article for 270, the amount of loss suffered is as much as profit earned on selling the article at 10% profit. What is the selling price if the desired profit is 20%?


</p>


<div>
	A.&nbsp;&nbsp;290

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;300

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;330

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;360

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Loss suffered = profit made = 10% of the cost price<br><br>
Selling price = 270=90% of cost price<br><br>

Selling price at 20% profit = 120% of cost price <br><br>
= 270&times;
<sup>120</sup>&frasl;<sub>90</sub>

<br><br>
=360.


</body>
</html>
