<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:12</h1>
<hr>
<p>
If selling price of an article is <sup>8</sup>&frasl;<sub>5</sub> times its cost price, the profit per cent on it is:


</p>


<div>
	A.&nbsp;&nbsp;120%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;160%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;40%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;60%

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Profit = 
<sup>8</sup>&frasl;<sub>5</sub>
-1 = <sup>3</sup>&frasl;<sub>5</sub><br><br>
=
<sup>3</sup>&frasl;<sub>5</sub> &times; 100% <br><br>= 60%.


</body>
</html>
