<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:20</h2>
<hr>
<p>
Selling price of an article is 330. Find cost price of the article, if gain is 10% on cost price. 


</p>


<div>
	A.&nbsp;&nbsp;280

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;290

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;300

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;310

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>
Cost price = (330&times;100)&divide;(100+10) <br><br>= (330&times;100)&divide;110<br><br>=300. 

</body>
</html>
