<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:18</h1>
<hr>
<p>
An article is sold for 900 and hence gaining 10% of the selling price. Fine its cost price:


</p>


<div>
	A.&nbsp;&nbsp;800

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;810

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;990

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;1000

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>
Cost price = sellig price - profit <br><br>= 900-10% of 900 <br><br>
= 900-90 <br><br>= 810.


</body>
</html>
