<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:44</h1>
<hr>
<p>
On selling an article for 900, a shopkeeper loses 10% of the cost price. Find cost price of the article.	


</p>


<div>
	A.&nbsp;&nbsp;1000

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;810

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;900

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;800

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>
cost price = 900&times;
<sup>100</sup>&frasl;<sub>100-10</sub>
 <br><br>
= 900&times;
<sup>100</sup>&frasl;<sub>90</sub>
<br><br>= 1000.

</body>
</html>
