<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:85</h1>
<hr>
<p>

A house worth 1,50,000 is sold by X at 5% profit to Y. Y sells the house back to X at 2% loss. Then in the entire transaction

</p>


<div>
	A.&nbsp;&nbsp;X gains4350

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;Xloses4350

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;Y gains3150

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;Y loses3150

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

X sold house to Y for (1,50,000&times;105)&divide;100
=1.57.500<br><br>
x gains = y’s loss = 2% of 1,57,500 <br><br>
= 3,150.


</body>
</html>
