{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:22</h1>
<hr>
<p>
 On selling an article for a certain price, a man loses 30%. What is his loss&frasl;profit percent, if he sells the article for double the price?



</p>


<div class="div2">
	A.&nbsp;&nbsp;60%loss

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;15%loss

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;40%profit

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;30%profit

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Selling price = (100-30)% <br><br>= 70% of cost price<br><br>
New selling price = 2&times;70% <br><br>= 140% of cost price.<br><br>
Profit = 140%-100% <br><br>= 40% of cost price.


</div>
</body>
</html>
