{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:18</h1>
<hr>
<p>
An article is sold for 900 and hence gaining 10% of the selling price. Fine its cost price:


</p>


<div class="div2">
	A.&nbsp;&nbsp;800

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;810

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;990

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;1000

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Cost price = sellig price - profit <br><br>= 900-10% of 900 <br><br>
= 900-90 <br><br>= 810.


</div>
</body>
</html>
