{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:91</h1>
<hr>
<p>
The percentage profit earned by selling an article for 1730 is equal to the percentage loss incurred by selling the same article for 1270. At what price the article should be sold to earn 20% profit?


</p>


<div class="div2">
	A.&nbsp;&nbsp;1500

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;1650
	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;1800

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;Data in sufficient

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let cost price of the article be x<br><br>
Then cost price = 1730-x <br><br>= x-1270<br><br>
2x=1730+1270=3000<br><br>
X=1500<br><br>
Profit = 20% of 1500 <br><br>= 300<br><br>
Required selling price = 1500+300<br><br>
=1800.


</div>
</body>
</html>
