{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:12</h1>
<hr>
<p>
A particular job can be completed by a team of 10 men in 12 days.
The same job can be completed by a team of 10 women in 6 days. 
How many days are needed to complete the job if the two teams work together?


</p>


<div class="div2">
	A.&nbsp;&nbsp;4

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;6

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;9

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;8

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<u>Formula Used</u><br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

10 men one day work = 

<sup>1</sup>&frasl;<sub>12</sub><br><br>

10 women one day work  =

<sup>1</sup>&frasl;<sub>6</sub><br><br>

lets assume that working together they can complete the work in x days <br><br>


then one day work 

= <sup>1</sup>&frasl;<sub>x</sub><br><br>

both are equal because same work for same duration <br><br>

<sup>1</sup>&frasl;<sub>x</sub> = 

<sup>1</sup>&frasl;<sub>12</sub> + 

<sup>1</sup>&frasl;<sub>6</sub><br><br>

<sup>1</sup>&frasl;<sub>x</sub> = 

<sup>1</sup>&frasl;<sub>4</sub> <br><br>

x = 4.


</div>
</body>
</html>
