{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:36</h1>
<hr>
<p>
A can cultivate 
<sup>2</sup>&frasl;<sub>5</sub>th 
of a land in 6 days and B can cultivate 

<sup>1</sup>&frasl;<sub>3</sub>rd
 of the same land in 10 days. working together A and B cultivate 

<sup>4</sup>&frasl;<sub>5</sub>th

 of the land in:


</p>


<div class="div2">
	A.&nbsp;&nbsp;4days

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;5days

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;8days

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;10days

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
One day work of A = <sup>2</sup>&frasl;<sub>5</sub>

&times

<sup>1</sup>&frasl;<sub>6</sub>
= 
<sup>1</sup>&frasl;<sub>15</sub>

<br><br>
One day work of B = 

<sup>1</sup>&frasl;<sub>3</sub>

&times <sup>1</sup>&frasl;<sub>10</sub>=

<sup>1</sup>&frasl;<sub>30</sub><br><br>


One day work of A and B = 

<sup>1</sup>&frasl;<sub>15</sub> + 

<sup>1</sup>&frasl;<sub>30</sub> <br><br>

= <sup>3</sup>&frasl;<sub>30</sub> <br><br>


=<sup>1</sup>&frasl;<sub>10</sub><br><br>

Days taken to do 

<sup>4</sup>&frasl;<sub>5</sub>

th work = 

<sup>4</sup>&frasl;<sub>5</sub>
&times10 <br><br>

= 8 days.


</div>
</body>
</html>
