<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:47</h1>
<hr>
<p>
A tank has three pipes. The first pipe can fill 
<sup>1</sup>&frasl;<sub>2</sub>
  part of the tank in 1 hour and the second pipe can fill 
<sup>1</sup>&frasl;<sub>3</sub>
 part in hour. The third pipe is for making the tank empty. When all the three pipes are open, 
<sup>7</sup>&frasl;<sub>12</sub>
 part of the tank is filled in 1 hour. How much time will the third pipe take to empty the completely filled tank?


</p>


<div>
	A.&nbsp;&nbsp;3 hours

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;4 hours

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;5 hours

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;6 hours

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>
If a man can do a piece of work in x days, <br><br>
Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

3 pipes one hour work = pipe As + Bs + Cs one hour work<br><br>

<sup>7</sup>&frasl;<sub>12</sub>=

<sup>1</sup>&frasl;<sub>2</sub> + 

<sup>1</sup>&frasl;<sub>3</sub> +

<sup>1</sup>&frasl;<sub>x</sub><br><br>

One hour work of third pipe = 

<sup>7</sup>&frasl;<sub>12</sub>-

<sup>1</sup>&frasl;<sub>2</sub>-

<sup>1</sup>&frasl;<sub>3</sub><br><br>

=<sup>14-20</sup>&frasl;<sub>24</sub><br><br>

=<sup> -1</sup>&frasl;<sub>4</sub><br><br>

Required time = 4 hours.


</body>
</html>
