{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:59</h1>
<hr>
<p>
10 men working 6 hours a day can complete a work in 18 days. how many hours a day must 15 men work to complete the same work in 12 days?


</p>


<div class="div2">
	A.&nbsp;&nbsp;6

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;10

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;12

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;15

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

10 men can complete a work in 18 days <br><br>

then 1 man can complete a work in 180 days <br><br>

then 1 man working 6 hours a day can complete the work in =

180 &times; <sup>6</sup>&frasl;<sub>24</sub> <br><br>

in case two<br><br>

15 men can complete a work in 12 days <br><br>

1 man can complete a work in 12 &times; 15 days  <br><br>

then 1 man working x hours a day can complete the work in 

12 &times; 15 &times; 

<sup>x</sup>&frasl;<sub>24</sub> <br><br>

both are same because its the same work<br><br>

180 &times; <sup>6</sup>&frasl;<sub>24</sub>
=

12 &times; 15 &times; 

<sup>x</sup>&frasl;<sub>24</sub> <br><br>

x= 6.


</div>
</body>
</html>
