<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:20</h1>
<hr>
<p>
A tap can empty a tank in one hour. A second tap can empty it in 30 minutes. 
If both the taps operate simultaneously, how much time is needed to empty the tank?


</p>


<div>
	A.&nbsp;&nbsp;20minutes

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;30minutes

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;40minutes

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;45minutes

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>
<u>Formula Used</u><br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

Tap A can empty a tank in one hour means in 60 minutes <br><br>

Then tap A work for one minute = 

<sup>1</sup>&frasl;<sub>60</sub><br><br>

Tap B can empty the same tank in 30 minutes.<br><br>

Then one minute work of tab B = 

<sup>1</sup>&frasl;<sub>30</sub><br><br>

Tap A and Tap B work for one minute = 

<sup>1</sup>&frasl;<sub>60</sub>+

<sup>1</sup>&frasl;<sub>30</sub><br><br>

= <sup>1+2</sup>&frasl;<sub>60</sub><br><br>

= <sup>1</sup>&frasl;<sub>20</sub><br><br>

Tap A and B can empty in  = 20 minutes.


</body>
</html>
