<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:5</h1>
<hr>
<p>
12 men can do a piece of work in 15 days. How many men are required to complete the work in 10 days?


</p>


<div>
	A.&nbsp;&nbsp;10

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;12

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;15

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;18

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>
<u>Used Formula:</u>

<br><br>
If m men can do a piece of work in d days. 

<br><br>

Then 1 man can do the same work in '(d&times;m)'

<br><br>

Then n man can do the same work in (d &times;m)&divide; n

<br><br>

If 12 man can do a piece of work in 15 days

<br><br>

Then 1 man can do it in 15&times;12 days

<br><br>

Then 10 man can do it in (15&times;12)&divide;10.

<br><br>

=18 men.

</body>
</html>
