{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:2</h1>
<hr>
<p>
A single machine can produce 1 unit in 6 minutes. 
How many such machines work together if 1450 units are produced from 10 a.m to 12.30 p.m?

</p>


<div class="div2">
	A.&nbsp;&nbsp;2

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;29

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;58

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Time taken = 10 a.m. to 12.30 p.m. = 150 minutes

<br><br>

Units produced by 1 machine in 150 minutes = 150&divide;6 
<br><br>

= 25 units

<br><br>

Then Machines required to produce 1450 units = 1450&divide;25 
<br><br>

= 58.



</div>
</body>
</html>
