<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:44</h1>
<hr>
<p>
A alone can do a piece of work in 6 days and B alone in 8 days. A and B undertook to do it for 3200. 
With the help of C they completed the work in 3 days. how much is to be paid to C?


</p>


<div>
	A.&nbsp;&nbsp;375

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;400

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;600

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;800

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>
<u>Formula Used:</u>
<br><br>

If a man can do a piece of work in x days, <br><br>
Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

A can do a piece of work in 6 days <br><br>

Then As work for one day = 

<sup>1</sup>&frasl;<sub>6</sub><br><br>

Bs work for one day =  

<sup>1</sup>&frasl;<sub>8</sub><br><br>

assume that C alone can do it in x days <br><br>

then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

AB and C completed whole work in 3 days then <br><br>

ABCs work for one day =  As + Bs +Cs work for one day <br><br>

<sup>1</sup>&frasl;<sub>3</sub> = 

<sup>1</sup>&frasl;<sub>6</sub> +

<sup>1</sup>&frasl;<sub>8</sub> +

<sup>1</sup>&frasl;<sub>x</sub><br><br>

<sup>1</sup>&frasl;<sub>x</sub>=

<sup>1</sup>&frasl;<sub>3</sub> -

<sup>1</sup>&frasl;<sub>6</sub> - 

<sup>1</sup>&frasl;<sub>8</sub><br><br>

<sup>1</sup>&frasl;<sub>x</sub> = 

 <sup>8-4-3</sup>&frasl;<sub>24</sub><br><br>

<sup>1</sup>&frasl;<sub>x</sub> = 

<sup>1</sup>&frasl;<sub>24</sub><br><br>

Ratio of wages = 

<sup>1</sup>&frasl;<sub>6</sub>:

<sup>1</sup>&frasl;<sub>8</sub> :

<sup>1</sup>&frasl;<sub>24</sub><br><br>

= 4:3:1<br><br>

Cs share = 

<sup>1</sup>&frasl;<sub>8</sub>&times; 

3200<br><br>

= 400. 	
</body>
</html>
