{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:16</h1>
<hr>
<p>
A, B and C together can do a piece of work in 12 days. 
A and B together can do the same work in 20 days. In how many days C working alone can finish the work?


</p>


<div class="div2">
	A.&nbsp;&nbsp;8days

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;16days

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;25days

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;30days

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<u>Formula Used</u><br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

A, B and C together complete a work in 12 days.<br><br>

Then A, B and C one day work =

<sup>1</sup>&frasl;<sub>12</sub><br><br>

A and B together can do same work in 20 days <br><br>

Then one day work of A and B= 

<sup>1</sup>&frasl;<sub>20</sub><br><br>

lets assume that C can do the same work in x days <br><br>

Then one day work of C =

<sup>1</sup>&frasl;<sub>x</sub><br><br>

one days work of A+B+C=<br><br>

one day work of (A+B)+<br><br>

one day work of C<br><br> 

<sup>1</sup>&frasl;<sub>12</sub>=

<sup>1</sup>&frasl;<sub>20</sub>+

<sup>1</sup>&frasl;<sub>x</sub><br><br>

<sup>1</sup>&frasl;<sub>x</sub>=

<sup>1</sup>&frasl;<sub>12</sub>-

<sup>1</sup>&frasl;<sub>20</sub><br><br>

<sup>1</sup>&frasl;<sub>x</sub>=

<sup>5-3</sup>&frasl;<sub>60</sub><br><br>

<sup>1</sup>&frasl;<sub>x</sub>=

<sup>2</sup>&frasl;<sub>60</sub><br><br> 

x = 30.

</div>
</body>
</html>
