<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:45</h2>
<hr>
<p>
    A and B undertake to do a piece of work for 1,200. A alone can do it in 8 days, while B can do it in 6 days. with
    the help of C, they complete it in 3 days. find C&CloseCurlyDoubleQuote;s share.

</p>


<div>
    A.&nbsp;&nbsp;150


</div>
<br>
<div>
    B.&nbsp;&nbsp;100


</div>
<br>
<div>
    C.&nbsp;&nbsp;450


</div>
<br>

<div>
    D.&nbsp;&nbsp;300


</div>


<h2><u>Answer</u>:a </h2>
If a man can do a piece of work in x days, <br><br>
Then his work for one day =

<sup>1</sup>&frasl;<sub>x</sub><br><br>

As one day work =


<sup>1</sup>&frasl;<sub>8</sub><br><br>

Bs one day work =

<sup>1</sup>&frasl;<sub>6</sub><br><br>

assume that Cs one day work =

<sup>1</sup>&frasl;<sub>x</sub><br><br>

ABCs one day work = As +Bs+ Cs one day work <br><br>

<sup>1</sup>&frasl;<sub>3</sub>=


<sup>1</sup>&frasl;<sub>8</sub> +

<sup>1</sup>&frasl;<sub>6</sub> +

<sup>1</sup>&frasl;<sub>x</sub><br><br>

<sup>1</sup>&frasl;<sub>x</sub> =

<sup>1</sup>&frasl;<sub>24</sub><br><br>

Ratio of wages =

<sup>1</sup>&frasl;<sub>8</sub>:

<sup>1</sup>&frasl;<sub>6</sub> :

<sup>1</sup>&frasl;<sub>24</sub><br><br>

= 3:4:1<br><br>

Cs share =

<sup>1</sup>&frasl;<sub>8</sub>

&times; 1200<br><br>

= 150.


</body>
</html>
