<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:1</h1>
<hr>
<p>

A work can be done by a certain number of workers in 8 days. How many days will they take to finish a work four times the original work?

</p>


<div>
	A.&nbsp;&nbsp;2

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;12

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;22

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;32

	
</div>
		
	

<h2> <u>Answer</u>: d</h2>
Assume that x men do a work in 8 days 

<br><br>

The time they take to finish the work 4 times to the original work 

<br><br>

 = 8&times;4 = 32.



</body>
</html>
