{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:49</h1>
<hr>
<p>
In a factory, there are equal number of women and children. Women work for 6 hours a day and children for 4 hours a day. During festival time, the work load goes up by 50%. The government rule doses not allow children to work for more than 6 hours a day. If they are equally efficient and the extra work is done by women, then extra hours of effort put in by women everyday are.


</p>


<div class="div2">
	A.&nbsp;&nbsp;4

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;9

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;5

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;3

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Total number of hours by boy and women per day = 10 hours <br><br>

work load goes up to 50% up <br><br>

that means we need 5 more working hours <br><br>

boy work 4 hours per day but allowed to do 6 hours per day <br><br>

then women required to do remaining 3 hours. 
</div>
</body>
</html>
