{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:8</h1>
<hr>
<p>
A can do a piece of work in 24 days. If B is 60% more efficient that A, 
then how many days does B require to do the same work?


</p>


<div class="div2">
	A.&nbsp;&nbsp;12

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;15

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;16

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;18

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<u>Formula Used:</u>

<br><br>

If a man can do a piece of work in x hours, 

<br><br>

Then his work for one hour = 

<sup>1</sup>&frasl;<sub>x</sub>

<br><br>

You can simply say that 

<br><br>

Bs one day work =  160% of As one day work 

<br><br>

then 
Bs one day work = 
<sup>160</sup>&frasl;<sub>100</sub> of As one day work

<br><br>

= <sup>160</sup>&frasl;<sub>100</sub> &times; 

<sup>1</sup>&frasl;<sub>24</sub>  

<br><br>

Bs one day = 

<sup>1</sup>&frasl;<sub>15</sub> 

<br><br>

B do the work in = 15 days.

</div>
</body>
</html>
