<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:13</h1>
<hr>
<p>
Two pipes A and B can fill a tank in 20 minutes and 30 minutes respectively.
 If both pipes are opened together, the time taken to fill the tank is:


</p>


<div>
	A.&nbsp;&nbsp;50minutes

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;12minutes

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;25minutes

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;15minutes

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>
<u>Formula Used:</u><br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

Pipe A can fill the tank in 20 mins <br><br>

Than one minute work of A is = 

<sup>1</sup>&frasl;<sub>20</sub><br><br>

Pipe B can fill the tank in 30 mins<br><br>

Than one minute work of B is = 

<sup>1</sup>&frasl;<sub>30</sub><br><br>

Pipe A and Pipe B combined work for one hour<br><br>

= <sup>1</sup>&frasl;<sub>20</sub> +
<sup>1</sup>&frasl;<sub>30</sub><br><br>

= <sup>3+2</sup>&frasl;<sub>60</sub><br><br>
=<sup>1</sup>&frasl;<sub>12</sub><br><br>
Pipe A and B take 12 mins to fill the tank.
</body>
</html>
