{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:31</h1>
<hr>
<p>
A tank can be filled by two pipes A and B separately in 3 hours, and 3 hours and 45 minutes respectively. A third pipe C can empty the full tank in 1 hour. When the tank was exact half filled, all the three pipes are opened. 
The tank will become empty in:


</p>


<div class="div2">
	A.&nbsp;&nbsp;1 hour 15 minutes

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;2 hours 30 minutes

	
</div>
<br>                                                                     	
	
<div class="div2">
	C.&nbsp;&nbsp;3 hour15 minutes 

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;4 hour 10 minutes
	

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<u>Formula Used:</u><br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

pipe A can fill it in = 3 hours.

then one hour work of A = 

<sup>1</sup>&frasl;<sub>3</sub><br><br>

Pipe B can fill it in = 3 hours and 45 minutes<br><br>

= 3<sup>3</sup>&frasl;<sub>4</sub><br><br>

= <sup>12+3</sup>&frasl;<sub>4</sub><br><br>

= <sup>15</sup>&frasl;<sub>4</sub><br><br>

then one hour work of pipe B = 

<sup>4</sup>&frasl;<sub>15</sub><br><br>

pipe C can empty it in one hour<br><br>

one hour work of pipe C = 1<br><br>

one hour work of pipe A,B and C = <br><br>

<sup>1</sup>&frasl;<sub>3</sub> +

<sup>4</sup>&frasl;<sub>15</sub> - 

1<br><br>

= <sup>5 + 4 - 15</sup>&frasl;<sub>15</sub><br><br>

= <sup>-6</sup>&frasl;<sub>15</sub><br><br>

= <sup>-2</sup>&frasl;<sub>5</sub><br><br>

Time taken to empty the full tank = 

<sup>5</sup>&frasl;<sub>2</sub><br><br>
(empty because we got negative value)<br><br>

Time taken to empty half filled tank = 

<sup>1</sup>&frasl;<sub>2</sub> &times;

<sup>5</sup>&frasl;<sub>2</sub><br><br>

= <sup>5</sup>&frasl;<sub>4</sub><br><br>

= 1<sup>1</sup>&frasl;<sub>4</sub><br><br>

= 1 hour and 15 minutes.


</div>
</body>
</html>
