{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:51</h1>
<hr>
<p>
If the work done by ( x - a)  men in ( x + 1 ) days is to the work done by ( x + 2) men in ( x - 1)  days are in the ratio 9:10, then the value of x is equal to.


</p>


<div class="div2">
	A.&nbsp;&nbsp;5

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;6

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;7

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;8

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
if (x-1) men in done work in (x+1) days <br><br>

then one man do it in (x-1)&times;(x+1) days<br><br>

if (x+2) men do the work in (x-1) days <br><br>

then 1 man can do it in (x+2)&times;(x-1)<br><br>

ratio of days given = 9: 10 <br><br>


<sup>(x+1)(x-1)</sup>&frasl;<sub>(x+2)(x-1)</sub> =

<sup>9</sup>&frasl;<sub>10</sub><br><br>


<sup>(x+1)</sup>&frasl;<sub>(x+2)</sub>=

<sup>9</sup>&frasl;<sub>10</sub><br><br>

10x+10 = 9x+18<br><br>

x = 18-10<br><br>

x = 8.

</div>
</body>
</html>
