<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="questions.css">
    <title>Time and Work Tutorial</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1>Time and Work</p1>
</u></b></font>
<hr/>
<hr/>


<p><font size="4"> <u> Introduction: </u></font>
    <br>
<ul>
    <li>
        Time taken to do a work depends on many factors such as &OpenCurlyDoubleQuote;number of persons&CloseCurlyDoubleQuote;
        doing the work, their &OpenCurlyDoubleQuote;efficiency&CloseCurlyDoubleQuote; in
        doing the work, &OpenCurlyDoubleQuote;amount of work&CloseCurlyDoubleQuote;, &OpenCurlyDoubleQuote;number of
        days&CloseCurlyDoubleQuote;, and &OpenCurlyDoubleQuote;time spent per day&CloseCurlyDoubleQuote;.


    </li>
    <br>
    <li>
        In absence of any specific information to the contrary in the question, we will assume that the same conditions
        apply.
    </li>
</ul>

<p><font size="4"> <u> Note: </u></font>
    <br>
<ul>
    <li>
        See the formulae section for Rules and Regulations.
    </li>
</ul>


</body>


</html>
