{% load static %}
<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:37</h2>
<hr>
<p>
    A, B and C did a work together and earned 729 for the work.
    If the ratio of work done by A, B and C is 2:3:4, find C&CloseCurlyQuote;s share.


</p>


<div class="div2">
    A.&nbsp;&nbsp;81


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;162


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;243


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;324


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Wages is distributed in ratio of work done <br><br>
i.e. in the ratio of 2:3:4<br><br>
Sum of ratios = 2+3+4 = 9<br><br>
C&CloseCurlyQuote;s share
=
<sup>4</sup>&frasl;<sub>9</sub>
&times729 <br><br>
= 324.
<br><br>
lets check this out <br><br>

As share
=
<sup>2</sup>&frasl;<sub>9</sub> &times; 729<br><br>

= 162<br><br>

Bs share

= <sup>3</sup>&frasl;<sub>9</sub>&times; 729<br><br>

= 243.
<br><br>
A&CloseCurlyQuote;s share +B&CloseCurlyQuote;s share + C&CloseCurlyQuote;s share = 243+162+324.

= 729.
</div>
</body>
</html>
