<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:56</h1>
<hr>
<p>
10 persons started a work together. After a rew days 4 persons left the work. Due to this, the work which was expected to finish in 40 days was finished in 50 days. after how many days from the starting of the work, 4 persons had left?


</p>


<div>
	A.&nbsp;&nbsp;10

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;15

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;20

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;25

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

Total man days in first case  =  10 &times; 40<br><br>

= 400 <br><br>

Total man days (had 10 men worked for 50 days) = 10 &times; 50 <br><br>

= 500 <br><br>

Extra man days = 500-400 = 100 <br><br>

4 men had not worked for last 100 &divide; 4 = 25 <br><br>

4 men had not left the work after =  50-25 <br><br>

= 25 days.

</body>
</html>
