<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:24</h1>
<hr>
<p>
A and B can do a work in 12 days, B and C in 15 days, C and A in 20 days, if A, B and C work together, 
they  will complete the work in


</p>


<div>
	A.&nbsp;&nbsp;5days

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;10days

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;12days

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;18days

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>
(A + B) + (B + C) + (A + C) =
<sup>1</sup>&frasl;<sub>12</sub> + 

<sup>1</sup>&frasl;<sub>15</sub> + 

<sup>1</sup>&frasl;<sub>20</sub> <br><br>

 = <sup>1</sup>&frasl;<sub>5</sub><br><br>
Then 2 (A + B + C) = 

<sup>1</sup>&frasl;<sub>5</sub><br><br>
=> (A + B + C) = 
<sup>1</sup>&frasl;<sub>5</sub> &times; <sup>1</sup>&frasl;<sub>2</sub><br><br>
 = <sup>1</sup>&frasl;<sub>10</sub>days.<br><br>

working together they can complete the work in 10 days.


</body>
</html>
