<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:4</h1>
<hr>
<p>
56 men can complete a piece of work in 24 days. In how many days can 42 men complete the same piece of work?	


</p>


<div>
	A.&nbsp;&nbsp;18

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;32

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;98

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;48

	
</div>
		
	

<h2> <u>Answer</u>:b</h2>
<u>Used Formula:</u>

<br><br>

If m men can do a piece of work in d days. 

<br><br>

Then 1 man can do the same work in '(d&times;m)'

<br><br>

Then n man can do the same work in (d &times;m)&divide; n

<br><br>

56 men can complete the work in 24 days.

<br><br>

1 man can complete the work in 24&times;56 days.(less man, more days)

<br><br>

42 men will take =(24&times;56)&divide;42 

<br><br>

= 32 days.

<br><br>
<u>Alternate Method:</u>
<br> <br>


<u>Formula Used</u>

<br><br>

If a man can do a piece of work in x days, 

<br><br>

Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub>

<br><br>

56 men can complete the work in 24 days 

<br><br>

then 56 men one day work = 

<sup>1</sup>&frasl;<sub>24</sub>

<br><br>

then 1 man work for one day =

<sup>1</sup>&frasl;<sub>24&times;56</sub>

<br><br>

then given that x men can do the work in 42 days 

<br><br>

1 man one day work = 

<sup>1</sup>&frasl;<sub>42x</sub>

<br><br>

both are equal because its same work 

<br><br>


<sup>1</sup>&frasl;<sub>42x</sub>=

<sup>1</sup>&frasl;<sub>24&times;56</sub>

<br><br>

x= 32.

</body>
</html>
