{% load static %}
<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:43</h2>
<hr>
<p>
    A, B and C together undertook a work for 550. A and B together done 7/11 of the work. Find C&CloseCurlyQuote;s
    share.


</p>


<div class="div2">
    A.&nbsp;&nbsp;50


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;350


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;200


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;Data Insufficient


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Work done by C = 1-
<sup>7</sup>&frasl;<sub>11</sub> <br><br>
= <sup>4</sup>&frasl;<sub>11</sub>
<br><br>
(in 11 parts of the work A and B did 7 parts and C completed remaining 4 parts.)
<br><br>


C share in wages =

<sup>4</sup>&frasl;<sub>11</sub>
&times 550<br><br>
=200.


</div>
</body>
</html>
