<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:21</h2>
<hr>
<p>
    A, B and C can do a piece of work in 12, 15 and 20 days respectively.
    In how many days working together will they finish the work.


</p>


<div>
    A.&nbsp;&nbsp;5days


</div>
<br>
<div>
    B.&nbsp;&nbsp;10days


</div>
<br>
<div>
    C.&nbsp;&nbsp;15days


</div>
<br>

<div>
    D.&nbsp;&nbsp;47days


</div>


<h2><u>Answer</u>:a </h2>

<u>Formula Used</u><br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day =

<sup>1</sup>&frasl;<sub>x</sub><br><br>

1 day&CloseCurlyQuote;s work of A, B and C =

<sup>1</sup>&frasl;<sub>12</sub>
+
<sup>1</sup>&frasl;<sub>15</sub>
+ <sup>1</sup>&frasl;<sub>20</sub> <br><br>
= (5+4+3)&divide;60 <br><br>
= 12&divide;60<br><br>
=<sup>1</sup>&frasl;<sub>5</sub> <br><br>
Then Days taken to finish the work = 5 days.

</body>
</html>
