{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:15</h1>
<hr>
<p>
A alone can complete a work n 12 days. A and B together can complete it in 8 days.
 How long will B alone take to complete the work?


</p>


<div class="div2">
	A.&nbsp;&nbsp;24days

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;20days

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;18days

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;16days

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<u>Formula Used</u><br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

A alone can complete the work in 12 days<br><br>
Then one day work of A =

<sup>1</sup>&frasl;<sub>12</sub><br><br>
A and B together can complete it in 8 days <br><br>
Then one day work of both A and B =
<sup>1</sup>&frasl;<sub>8</sub><br><br>

Lets asume that B alone can complete in x days<br><br>

Then one day work of B =

<sup>1</sup>&frasl;<sub>x</sub><br><br>

Then A and B one day work = A one day work + B one day work<br><br>

<sup>1</sup>&frasl;<sub>8</sub>=

<sup>1</sup>&frasl;<sub>12</sub>+

<sup>1</sup>&frasl;<sub>x</sub><br><br>

<sup>1</sup>&frasl;<sub>x</sub> =
<sup>1</sup>&frasl;<sub>8</sub>-
<sup>1</sup>&frasl;<sub>12</sub><br><br>
= <sup>3-2</sup>&frasl;<sub>24</sub><br><br>
<sup>1</sup>&frasl;<sub>x</sub>=
<sup>1</sup>&frasl;<sub>24</sub><br><br>
Than x = 24.


</div>
</body>
</html>
