<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:52</h2>
<hr>
<p>
A certain number of men can do a work in 60 days. if there were eight more men, it could be completed in 10 days less. How many men were there in the beginning?


</p>


<div>
	A.&nbsp;&nbsp;75men

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;50men

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;40men

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;45men

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
assume that x men can do a work in 60 days<br><br>

then 1 man&CloseCurlyQuote;s work = 60x<br><br>

eight more men can do it in 10 less days means<br><br>

x+8 men can do it in 50 days <br><br>

1 man can do it in 50(x+8) days<br><br>

both are equal because its the same work <br><br>

60x= 50(x+8)<br><br>

60x = 50x+400<br><br>

10x = 400<br><br>

x = 40.

</body>
</html>
