{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:11</h1>
<hr>
<p>
Two pipes can separately fill a tank in 3 hours and 2 hours respectively. If both pipes are in operation, the tank will be filled in.


</p>


<div class="div2">
	A.&nbsp;&nbsp;1.8hour

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;1hour

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;1.5hour

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;1.2hour

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<u>Formula Used</u><br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>
Pipe A can fill the tank in 3 hours, <br><br>
Then one hour work of A =
<sup>1</sup>&frasl;<sub>3</sub><br><br>
Pipe B can fill the tank in 2 hours <br><br>
Then one hour work of B = 
<sup>1</sup>&frasl;<sub>2</sub><br><br>
Pipe A and B one hour work = 
<sup>1</sup>&frasl;<sub>3</sub>+
<sup>1</sup>&frasl;<sub>2</sub><br><br>
=<sup>5</sup>&frasl;<sub>6</sub><br><br>
Pipe A and B can fill the tank in 
<sup>6</sup>&frasl;<sub>5</sub> i.e. 1
<sup>1</sup>&frasl;<sub>5</sub> hours.
<br><br>= 1.2 hours.

</div>
</body>
</html>
