{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:3</h1>
<hr>
<p>
 18 children can do a piece of work in 12 days. How many children would be required to do the same work in 8 days?

</p>


<div class="div2">
	A.&nbsp;&nbsp;12	

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;18

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;24

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;27

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
18 children can do the work in 12 days

<br><br>

1 child can do work in 12&times;18 days (less children, more days)

<br><br>

8 children will take = (12&times;18)&divide;8 

<br><br>

= 27 days.



</div>
</body>
</html>
