{% load static %}
<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:40</h2>
<hr>
<p> Suman can do a work in 3 days. Sumati can do the same work in 2 days.
    Both of them finish the work together and get 150. What is the share of Suman?


</p>


<div class="div2">
    A.&nbsp;&nbsp;30


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;60


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;70


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;75


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<u>Formula Used:</u><br><br>
If the ratio of time taken by A and B in doing a work = x:y<br><br>

Then ratio of work done by A and B =

<sup>1</sup>&frasl;<sub>x</sub> :

<sup>1</sup>&frasl;<sub>y</sub>

= y:x
<br><br>
Ratio of wages =
<sup>1</sup>&frasl;<sub>3</sub>

:<sup>1</sup>&frasl;<sub>2</sub> <br><br>
= 2:3
<br><br>
Suman&CloseCurlyQuote;s wages =
<sup>2</sup>&frasl;<sub>5</sub>
&times; 150 <br><br>

= 60.
</div>
</body>
</html>
