<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:43</h2>
<hr>
<p>
    A, B and C together undertook a work for 550. A and B together done 7/11 of the work. Find C&CloseCurlyQuote;s
    share.


</p>


<div>
    A.&nbsp;&nbsp;50


</div>
<br>
<div>
    B.&nbsp;&nbsp;350


</div>
<br>
<div>
    C.&nbsp;&nbsp;200


</div>
<br>

<div>
    D.&nbsp;&nbsp;Data Insufficient


</div>


<h2><u>Answer</u>:c</h2>
Work done by C = 1-
<sup>7</sup>&frasl;<sub>11</sub> <br><br>
= <sup>4</sup>&frasl;<sub>11</sub>
<br><br>
(in 11 parts of the work A and B did 7 parts and C completed remaining 4 parts.)
<br><br>


C share in wages =

<sup>4</sup>&frasl;<sub>11</sub>
&times 550<br><br>
=200.


</body>
</html>
