<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:34</h2>
<hr>
<p>
    A does half as much work as B in one sixth of the time.
    If together they take 10 days to complete a work, how much time shall B take to do it alone?


</p>


<div>
    A.&nbsp;&nbsp;70days


</div>
<br>
<div>
    B.&nbsp;&nbsp;30days


</div>
<br>
<div>
    C.&nbsp;&nbsp;40days


</div>
<br>

<div>
    D.&nbsp;&nbsp;50days


</div>


<h2><u>Answer</u>:c </h2>
<u>Formula Used:</u><br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day =

<sup>1</sup>&frasl;<sub>x</sub><br><br>

Let B alone can do the work in x days.<br><br>

A does half as much B in one sixth of time<br><br>

A does

<sup>1</sup>&frasl;<sub>2</sub>

work in

<sup>1</sup>&frasl;<sub>6</sub> of Bs work<br><br>

= <sup>1</sup>&frasl;<sub>2</sub>

work in <sup>x</sup>&frasl;<sub>6</sub><br><br>

1 work in <sup>x</sup>&frasl;<sub>3</sub><br><br>

Then A alone can do it in =

<sup>x</sup>&frasl;<sub>3</sub> days<br><br>


Their work for one day =

<sup>3</sup>&frasl;<sub>x</sub> +

<sup>1</sup>&frasl;<sub>x</sub> =

<sup>1</sup>&frasl;<sub>10</sub><br><br>

X = 40 days.


</body>
</html>
