<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:60</h1>
<hr>
<p>
50 people consume 350 kgs of rice in 30 days. in how many approximate days will 35 people consume 50 kgs of rice?


</p>


<div>
	A.&nbsp;&nbsp;3

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;5

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;7

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>

50 men consume 350 kgs of rice in 30 days <br><br>

1 man consume 350 kgs of rice in 50 &times; 30 days<br><br>

1 man consume 1 kg of rice in 

<sup>50 &times; 30 </sup>&frasl;<sub>350</sub><br><br>

in case two <br><br>

in x days 35 men consumes 50 kg rice <br><br>

1 men consumes 50 kg rice in 35 &times; x days <br><br>

1 men consumes 1 kg rice in 

<sup>35 &times; x</sup>&frasl;<sub>50</sub> days <br><br>

both are same because its one men consumption <br><br>

<sup>50 &times; 30 </sup>&frasl;<sub>350</sub>

=

<sup>35 &times; x</sup>&frasl;<sub>50</sub> days <br><br>

x = <sup>350</sup>&frasl;<sub>49</sub> days <br><br>


</body>
</html>
