{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:6</h1>
<hr>
<p>
A and B together can type 35 pages in 5 minutes whereas A alone can type 20 pages in 4 minutes.
 How many pages can B type in 1 minute?


</p>


<div class="div2">
	A.&nbsp;&nbsp;2

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;4

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;5

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;6

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<br>
Together they can type 
<sup>35</sup>&frasl;<sub>5</sub>
= 7 pages in 1 minute.

<br><br>

A alone can type 20&divide;4 = 5 pages in  1 minute.

<br><br>

Then B alone can type 7-5 = 2 pages in 1 minute.


</div>
</body>
</html>
