{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:41</h1>
<hr>
<p>
X completes a job in 2 days and Y completes it in 3 days and Z takes 4 days to complete it. 
If they work together and get 3900 for the job, then how much amount does Y get?


</p>


<div class="div2">
	A.&nbsp;&nbsp;1,800

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;1,200

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;900

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;800

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<u>Formula Used:</u><br><br>
If the ratio of time taken by A and B in doing a work = x:y<br><br>

Then ratio of work done by A and B = 

<sup>1</sup>&frasl;<sub>x</sub> : 

<sup>1</sup>&frasl;<sub>y</sub>

= y:x
<br><br>
Ratio of wages = ratio of work done by x:y:z =

<sup>1</sup>&frasl;<sub>2</sub> :

<sup>1</sup>&frasl;<sub>3</sub> :

<sup>1</sup>&frasl;<sub>4</sub> 

<br><br>
= 6:4:3
<br><br>

ys share
=

<sup>4</sup>&frasl;<sub>13</sub> &times; 3900 <br><br>

=1200.
</div>
</body>
</html>
