{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:33</h1>
<hr>
<p>
A and B together can do a piece of work in T days. 
if a alone can do the same work in ( T + 3 ) days and B alone can do the work in ( T + 12) days, 
find the value of T.


</p>


<div class="div2">
	A.&nbsp;&nbsp;3

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;6

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;9

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;12

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<u>Formula Used:</u><br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>


A and B can do it in = T days<br><br>

A and Bs one day work = 

<sup>1</sup>&frasl;<sub>T</sub><br><br>

A alone can do the same work in = (T+3) days<br><br>

As one days work = 

<sup>1</sup>&frasl;<sub>(T+3)</sub><br><br>

B can do the same work in = (T+12) days<br><br>

Bs one day work = 

<sup>1</sup>&frasl;<sub>(T+12)</sub><br><br>

A and B one day work = <br><br>

As one day work + <br><br>

Bs one day work<br><br>

<sup>1</sup>&frasl;<sub>T</sub>=

<sup>1</sup>&frasl;<sub>(T+3)</sub> +

<sup>1</sup>&frasl;<sub>(T+12)</sub><br><br>

= <sup>(T+12) + (T+3)</sup>&frasl;<sub>(T+3)&times;(T+12)</sub><br><br>

<sup>1</sup>&frasl;<sub>T</sub>= 

<sup>2T+15</sup>&frasl;<sub>

T<sup>2</sup>+ 15 T+36<br><br>

T<sup>2</sup> = 36<br><br>

T = 6.
</sub><br><br>


</div>
</body>
</html>
