<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:55</h1>
<hr>
<p>
A work could be completed in 100 days by some workers. However, due to the absence of 10 workers, it was completed in 110 days. the original number of worker was:


</p>


<div>
	A.&nbsp;&nbsp;100
	
</div>
<br>
<div>
	B.&nbsp;&nbsp;110

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;55

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;50

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>
lets x men can complete the work in 100 days <br><br>

then 1 man complete the  work in 100x days <br><br>

given that due to absense of 10 workers, it was completed in 110 days.  means<br><br>

x-10 workers completed the work in 110 days <br><br>

1 man will complete the work in 110(x-10) days <br><br>

both are same because its the same work <br><br>

110(x-10) = 100x<br><br>

110x - 1100= 100x<br><br>

10x = 1100<br><br>

x = 110.




</body>
</html>
