{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:57</h1>
<hr>
<p>
40 men can do a piece of work in a given time. If only 30 men be engaged. 6 more days area needed to complete the work. In how many days can 60 men do the work?


</p>


<div class="div2">
	A.&nbsp;&nbsp;9

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;10

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;12

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;15

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
lets assume that 40 men can do a work in x days <br><br>

1 man can do it in 40x days <br><br>

given if 30 men do the work it will take 6 more days to complete the work <br><br>

then 30 men complete the work in x+6 days <br><br>

then 1 man complete the work in 30(x+6) days <br><br>

both are same because its the same work <br><br>

40 x = 30(x+6)<br><br>

40x = 30x+180 <br><br>

10x = 180<br><br>

x = 18 days <br><br>

then 40 men can do it in 18 days 

then one man can do it in 18&times; 40 days <br><br>

then 60 men can do it in 

<sup>18 &times;40</sup>&frasl;<sub>60</sub> days <br><br>

= 12 days.

</div>
</body>
</html>
