{% load static %}
<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:29</h2>
<hr>
<p>
    A tank can be filled by pipes A and B separately in 4 and 5 minutes respectively. A third pipe C can empty the tank
    in 3 minutes.
    If all the three pipes are opened together, how long will the three pipes take to fill the
    <sup>7</sup>&frasl;<sub>10</sub>
    th full tank?


</p>


<div class="div2">
    A.&nbsp;&nbsp;3 mins


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;4 mins


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;5 mins


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;6 mins


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<u>Formula Used:</u><br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day =

<sup>1</sup>&frasl;<sub>x</sub><br><br>

One minute&CloseCurlyQuote;s work of three pipes =

<sup>1</sup>&frasl;<sub>4</sub> +

<sup>1</sup>&frasl;<sub>5</sub> -

<sup>1</sup>&frasl;<sub>3</sub><br><br>

= <sup>15+12-20</sup>&frasl;<sub>60</sub><br><br>


Required time to fill the tank =

<sup>60</sup>&frasl;<sub>7</sub><br><br> minutes.
Tank to be filled =

<sup>7</sup>&frasl;<sub>10</sub><br><br>

= <sup>7</sup>&frasl;<sub>10</sub> &times;

<sup>60</sup>&frasl;<sub>7</sub><br><br>

= 6 minutes.


</div>
</body>
</html>
