<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:59</h1>
<hr>
<p>
10 men working 6 hours a day can complete a work in 18 days. how many hours a day must 15 men work to complete the same work in 12 days?


</p>


<div>
	A.&nbsp;&nbsp;6

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;10

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;12

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;15

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>

10 men can complete a work in 18 days <br><br>

then 1 man can complete a work in 180 days <br><br>

then 1 man working 6 hours a day can complete the work in =

180 &times; <sup>6</sup>&frasl;<sub>24</sub> <br><br>

in case two<br><br>

15 men can complete a work in 12 days <br><br>

1 man can complete a work in 12 &times; 15 days  <br><br>

then 1 man working x hours a day can complete the work in 

12 &times; 15 &times; 

<sup>x</sup>&frasl;<sub>24</sub> <br><br>

both are same because its the same work<br><br>

180 &times; <sup>6</sup>&frasl;<sub>24</sub>
=

12 &times; 15 &times; 

<sup>x</sup>&frasl;<sub>24</sub> <br><br>

x= 6.


</body>
</html>
