{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:1</h1>
<hr>
<p>

A work can be done by a certain number of workers in 8 days. How many days will they take to finish a work four times the original work?

</p>


<div class="div2">
	A.&nbsp;&nbsp;2

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;12

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;22

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;32

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Assume that x men do a work in 8 days 

<br><br>

The time they take to finish the work 4 times to the original work 

<br><br>

 = 8&times;4 = 32.



</div>
</body>
</html>
