<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:23</h1>
<hr>
<p>
Three pipes A, B and C can fill a cistern in 10, 12 and 15 hours respectively, while working alone. 
If all the ghee pipes are opened together, then find the time taken to fill the cistern:


</p>


<div>
	A.&nbsp;&nbsp;3

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;4

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;5

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;6

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>
<u>Formula Used</u><br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

Pipe A can fill a tank in 10 hours<br><br>

Then one hour work of Pipe A =

<sup>1</sup>&frasl;<sub>10</sub><br><br>

similarly, Pipe B one hour work = 

<sup>1</sup>&frasl;<sub>12</sub><br><br>

Pipe C one hour work =

<sup>1</sup>&frasl;<sub>15</sub><br><br>

one hour work of Pipe A,B and C together = 

<sup>1</sup>&frasl;<sub>10</sub> +

<sup>1</sup>&frasl;<sub>12</sub> +

<sup>1</sup>&frasl;<sub>15</sub><br><br>

= <sup>6+5+4</sup>&frasl;<sub>60</sub><br><br>

= <sup>15</sup>&frasl;<sub>60</sub><br><br>

= <sup>1</sup>&frasl;<sub>4</sub><br><br>

A,B and C take 4 hours to fill the tank.



</body>
</html>
