{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:17</h1>
<hr>
<p>
Pipes A and B together can fill a tank in 18 hours. 
Pipe A alone can fill the tank in 24 hours. In how many hours, can pipe B alone fill the tank?


</p>


<div class="div2">
	A.&nbsp;&nbsp;6hours

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;36hours

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;48hours

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;72hours

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<u>Formula Used</u><br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

Pipe A and B together can fill a tank in 18 hours<br><br>

Then A and Bs one hour work = 

<sup>1</sup>&frasl;<sub>18</sub><br><br>

Pipe A can fill it in 24 hours <br><br>

Then one hour work of Pipe A =

<sup>1</sup>&frasl;<sub>24</sub><br><br>

Lets assume that Pipe B can fill it in x hours<br><br>

then one hour work of Pipe B = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

Therefore, <br><br>

Pipe A and B one hour work =<br><br>

Pipe A one hour work +<br><br>

Pipe B one hour work<br><br>

<sup>1</sup>&frasl;<sub>18</sub>=

<sup>1</sup>&frasl;<sub>24</sub>+

<sup>1</sup>&frasl;<sub>x</sub><br><br>

<sup>1</sup>&frasl;<sub>x</sub>=

<sup>1</sup>&frasl;<sub>18</sub>-

<sup>1</sup>&frasl;<sub>24</sub><br><br>

<sup>1</sup>&frasl;<sub>x</sub>=

<sup>4-3</sup>&frasl;<sub>72</sub><br><br> 

x=72.


</div>
</body>
</html>
