{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:30</h1>
<hr>
<p>
Two pipes A and B can separately fill a cistern in 60 mins and 75 mins respectively. There is a third pipe in the bottom of the cistern to empty it. If all the three pipes are simultaneously opened, then the cistern is full in 50 minutes. In how much time the third pipe alone can empty the cistern?


</p>


<div class="div2">
	A.&nbsp;&nbsp;110minutes

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;100minutes

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;120minutes

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;90minutes

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<u>Formula Used:</u><br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

one minute work of pipe A = 

<sup>1</sup>&frasl;<sub>60</sub><br><br>

one minute work of pipe B = 

<sup>1</sup>&frasl;<sub>75</sub><br><br>

lets assume that pipe C can empty in x minutes<br><br>

then one minute work of pipe C = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

given that if all pipes in action time taken to fill the tank = 50 minutes.<br><br>

pipe A, pipe B and pipe C one minute work = <br><br>

one minute work of pipe A + <br><br>

one minute work of pipe B - <br><br>

one minute work of pipe C <br><br>

<sup>1</sup>&frasl;<sub>50</sub> = 

<sup>1</sup>&frasl;<sub>60</sub> +

<sup>1</sup>&frasl;<sub>75</sub> -

<sup>1</sup>&frasl;<sub>x</sub><br><br>

<sup>1</sup>&frasl;<sub>x</sub> =

<sup>1</sup>&frasl;<sub>60</sub> +

<sup>1</sup>&frasl;<sub>75</sub> -

<sup>1</sup>&frasl;<sub>50</sub> <br><br>

<sup>1</sup>&frasl;<sub>x</sub> = <sup>5+4-6</sup>&frasl;<sub>300</sub><br><br>

Required time  = 100 minutes.




</div>
</body>
</html>
