<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:53</h1>
<hr>
<p>
certain number of men can complete a job in 30 days. if there were 5 men more, it could be completed in 10 days less. How many men were in the beginning?


</p>


<div>
	A.&nbsp;&nbsp;10

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;15

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;20

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;25

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>
let x men can complete a job in 30 days<br><br>

then one man complete a work in 30x days <br><br>

given if there were 5 men more, it could be completed in 10 days less. means <br><br>

x+5 men can complete the same work in 20 days <br><br>

then one man can complete the work in 20(x+5) days <br><br>

both are equal because its the same work <br><br>

30x = 20(x+5)<br><br>

30x = 20x+100<br><br>

10x = 100<br><br>

x = 10.
</body>
</html>
