{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
    <title>Time and Work Formula</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1>Formulae for Time and Work</p1>
</u></b></font>
<hr/>
<hr/>


<p><font size="4"> <u> </u></font>
    <br>
<ol>
    <li>
        If a man can do a piece of work in x days, then his work for the one day
        <br><br>= <sup>1 </sup> &frasl; <sub> x</sub>.

    </li>
    <br>


    <li>
        If the ratio of time taken by A and B in doing a work = x:y.
        <br>
        Then the ratio of work done by A and B
        <br><br> = <sup>1 </sup> &frasl; <sub> x</sub> : <sup>1 </sup> &frasl; <sub> y</sub>. = y : x.
        <br><br>
        And ratio In which the wages is to be distributed = y : x.


    </li>
    <br>

    <li>
        If three men can do a work in x, y and z days respectively.
        <br>Then ratio in which the wages is to be distributed
        <br><br>

        = <sup>1 </sup> &frasl; <sub> x</sub> : <sup>1 </sup> &frasl; <sub> y </sub> : <sup>1 </sup> &frasl; <sub>
        z </sub>.

    </li>
    <br>


    <li>

        If A is <sup> x </sup> &frasl; <sub> y </sub> times as good a workman as B, then A will take <sup>
        y </sup> &frasl; <sub> x </sub> of the time that B takes in doing the work.
    </li>
    <br>


    <li>

        If number of persons engaged in doing a certain job is changed in the ratio of x:y, the days required in
        completion of work will change in the ratio of y:x.
    </li>
    <br>


    <li>
        If m men can do a piece of work in d days. Then 1 man can do the same work in ( d &times; m ) days.
        <br><br>

        And n men can do the work in <sup>d &times; m </sup>&frasl; <sub>n </sub> days.

    </li>
    <br>


    <li>
        If Acan do a piece of work in x days and B in y days. In how many days, both working together will finish the
        work?
        <br><br>

        As one day work <br>= <sup>1</sup>&frasl; <sub>x</sub>,<br> and Bs one day work <br>= <sup>1</sup>&frasl;
        <sub>y</sub>.
        <br><br>


        As and Bs one day work <br><sup>1</sup>&frasl; <sub>x</sub> + <sup>1</sup>&frasl; <sub>y</sub> = <sup>x +
        y</sup>&frasl; <sub>x y</sub>.
        <br><br>


        A and B will do the work in <br><sup>x y</sup>&frasl; <sub>x + y</sub>.

    </li>
    <br>


    <li>
        Aand Bworking together can do a piece of work in x days whereas B working alone can do the same work in ydays.
        How many days will A alone take to do the work?
        <br><br>
        As and Bs one days work <br>= <sup>1</sup>&frasl; <sub>x</sub> <br>Bs one day work <br>= <sup>1</sup>&frasl;
        <sub>y</sub>
        <br><br>

        As one days work <br>= <sup>1</sup>&frasl; <sub>x</sub>-<sup>1</sup>&frasl; <sub>y</sub> = <sup>y - x</sup>&frasl;
        <sub>x y</sub>.
        <br><br>
        Hence A alone will complete the work in <br><sup>xy</sup>&frasl; <sub>y -x</sub> days.


    </li>
    <br>


    <li>

        Pipe A can fill the tank in x hours and pipe B can empty it in y hours.
        <br><br>
        If both the pipes opened together, the tank will be filled in<br> <sup>xy</sup>&frasl; <sub>y -x</sub> hours.

        <br><br>
        And 1 hours work of both the pipes <br>= <sup>1</sup>&frasl; <sub>x</sub> -<sup>1</sup>&frasl; <sub>y </sub> =
        <sup>y -x</sup>&frasl; <sub>x y</sub>.

        <br><br>
        <u>Note:</u> Pipe B is doing negative work here.

    </li>
    <br>


    <li>
        A pipe can fill a cistern in x hours but due to leakage in the bottom, it is filled in y hours.
        Then time taken by the leak to empty the cistern
        <br><br>= <sup> x y</sup>&frasl; <sub> y - x</sub>.


    </li>
    <br>


    <li>
        A and B can do a work in a and b days respectively. They started a work together but A leftx days before
        completion of the work. Then time taken to finish the work is

        <br><br>
        <sup> b &times;(a+x)</sup>&frasl;<sub>a+b</sub>

    </li>
    <br>


    <li>

        If a men or b women can do a piece of work in x days.
        <br><br>
        Then m men and n women together can finish the work in

        <br><br> <sup>abx</sup> &frasl;<sub> an + bm </sub> days.

    </li>
    <br>

    <li>
        If A and B can finish a work in x and ax days respectively. In other words, A is a times efficient then Bor A
        can do a times the work as much B can do.

        <br><br>Then working together they can finish the work in <br><sup>ax</sup>&frasl; <sub>a +1</sub> days.

    </li>

    <br>

    <li>
        If A is x times efficient than B, and working together they finish a work in y days.

        <br><br>Then time
        taken by A <br>

        = <sup>y(x+1)</sup> &frasl; x.

        <br><br>

        And time taken by B <br>= y(x +1).


    </li>
    <br>

    <li>
        A group consisting of a men and b women can do a piece of work in m days and other group of x men and y women in
        n days, then
        <br><br>(am &minus; xn ) Mens work = (yn -bm) womens work.

    </li>

</ol>


</body>


</html>
