{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:58</h1>
<hr>
<p>
If 18 men working 7 hours a day can finish a work in 24 days. in how many days 21 men working 8 hours per day  will finish the same work?


</p>


<div class="div2">
	A.&nbsp;&nbsp;18days

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;21days

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;24days

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;27days

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
18 men  can complete a work in 24 days <br><br>

1 man can complete work in 24 &times; 18 days<br><br>

1 man working 7 hours a day can complete a work in 24 &times; 18 &times; 

<sup>7</sup>&frasl;<sub>24</sub> days <br><br>

in case two <br><br>

in x days 21 men working 8 hours per day will finish the work <br><br>

then 1 man working 8 hours a day can complete the work in 

x &times; 21 &times; 

<sup>8</sup>&frasl;<sub>24</sub><br><br>

both are equal because its the same work <br><br>

24 &times; 18 &times; 

<sup>7</sup>&frasl;<sub>24</sub>

=

x &times; 21 &times; 

<sup>8</sup>&frasl;<sub>24</sub><br><br>

x= 18.





</div>
</body>
</html>
