<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:22</h1>
<hr>
<p>
Four taps can individually fill cistern of water in 1 hour, 2 hours, 3 hours and 6 hours respectively. 
If all the four taps are opened simultaneously, the cistern can be filled in how many minutes?


</p>


<div>
	A.&nbsp;&nbsp;20

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;30

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;35

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;40

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>
<u>Formula Used</u><br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

Tap one can fill in one hour = 60 mins<br><br>

Then one minute work of tap one = 

<sup>1</sup>&frasl;<sub>60</sub><br><br>

similarly, second tap one minute work = 

<sup>1</sup>&frasl;<sub>120</sub><br><br>

3rd tap one minute work = 

<sup>1</sup>&frasl;<sub>180</sub><br><br>

4th tap one minute work = 

<sup>1</sup>&frasl;<sub>360</sub><br><br>
Four taps one minute work = 

<sup>1</sup>&frasl;<sub>60</sub> +

<sup>1</sup>&frasl;<sub>120</sub> +

<sup>1</sup>&frasl;<sub>180</sub> + 

<sup>1</sup>&frasl;<sub>360</sub><br><br>

= <sup>6+3+2+1</sup>&frasl;<sub>360</sub>

= <sup>12</sup>&frasl;<sub>360</sub><br><br>

=<sup>1</sup>&frasl;<sub>30</sub><br><br>

four taps take 30 minutes to fill the tank.

</body>
</html>
