<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:48</h1>
<hr>
<p>
While working 7 hours a day, A alone can complete a piece of work in 6 days and B alone in 8 days. in what time would they complete it together, working 8 hours a day?


</p>


<div>
	A.&nbsp;&nbsp;3days

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;4days

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;2.5days

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;3.6days

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>
<u>Formula Used:</u><br><br>
If a man can do a piece of work in x hours, <br><br>
Then his work for one hour = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

A alone can finish the work in 7 &times; 6 = 42 hours.<br><br>

one hour work of A = 

<sup>1</sup>&frasl;<sub>42</sub><br><br>

B alone can finish the work in 7 &times; 8 = 56 hours <br><br>

one hour work of B = 

<sup>1</sup>&frasl;<sub>56</sub><br><br>

one hour work of A and B = 

<sup>1</sup>&frasl;<sub>42</sub> +

<sup>1</sup>&frasl;<sub>56</sub><br><br>

=<sup>4+3</sup>&frasl;<sub>168</sub><br><br>

= <sup>7</sup>&frasl;<sub>168</sub><br><br>

one hour work of A and B 

= <sup>1</sup>&frasl;<sub>24</sub><br><br>

A and B both do the work in = 24 hours = 8 &times; 3<br><br>

working 8 hours a day they will complete in = 3 days.
</body>
</html>
