{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:50</h1>
<hr>
<p>
A job can be completed by 12 men in 12 days. how many extra days will be needed to complete the job if 6 men leave after working for 6 days.


</p>


<div class="div2">
	A.&nbsp;&nbsp;3

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;6

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;12

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;24

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<u>Formula Used:</u>
<br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>
After 6 days work left is 12 men work for 6 days<br><br>

remaining work have to be done by 6 men only<br><br>

lets assume that they took x days to complete it <br><br>

we can say that <br><br>

12 men 6 days work = 6 men x days work <br><br>



12 men one day work = 


<sup>1</sup>&frasl;<sub>6</sub><br><br>

then 1 man one day work = 

<sup>1</sup>&frasl;<sub>6&times;12</sub><br><br>

6 men 1 day work = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

then one man work for one day = 

<sup>1</sup>&frasl;<sub>6x</sub><br><br>

<sup>1</sup>&frasl;<sub>12&times;6</sub>

= 

<sup>1</sup>&frasl;<sub>6x</sub><br><br>

x = 12<br><br>

Extra days = 12-6 =6 days.

Extra days = 12-6 = 6 days.<br><br>


</div>
</body>
</html>
