<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:54</h1>
<hr>
<p>
A certain number of persons can complete a piece of work in 55 days. if there were 6 persons more, the would could be finished in 11 days less. How many persons were originally there?


</p>


<div>
	A.&nbsp;&nbsp;17

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;24

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;30

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;22

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>
lets x men can complete a work in 55 days <br><br>

then 1 man can complete a work in 55x days <br><br>

given if there were 6 persons more, the would could be finished in 11 days less. means<br><br>

x+6  men can do  in  44 days<br><br>

then 1 men can do it in (x+6)44 days <br><br>

both are equal because its the same work <br><br>

(x+6)44 = 55x<br><br>

44x+264= 55x<br><br>

55x-44x = 264 <br><br>

11x = 264 <br><br>

x = 24.



</body>
</html>
