<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:58</h1>
<hr>
<p>
If 18 men working 7 hours a day can finish a work in 24 days. in how many days 21 men working 8 hours per day  will finish the same work?


</p>


<div>
	A.&nbsp;&nbsp;18days

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;21days

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;24days

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;27days

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>
18 men  can complete a work in 24 days <br><br>

1 man can complete work in 24 &times; 18 days<br><br>

1 man working 7 hours a day can complete a work in 24 &times; 18 &times; 

<sup>7</sup>&frasl;<sub>24</sub> days <br><br>

in case two <br><br>

in x days 21 men working 8 hours per day will finish the work <br><br>

then 1 man working 8 hours a day can complete the work in 

x &times; 21 &times; 

<sup>8</sup>&frasl;<sub>24</sub><br><br>

both are equal because its the same work <br><br>

24 &times; 18 &times; 

<sup>7</sup>&frasl;<sub>24</sub>

=

x &times; 21 &times; 

<sup>8</sup>&frasl;<sub>24</sub><br><br>

x= 18.





</body>
</html>
