<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:19</h1>
<hr>
<p>
A tap can empty a tank in 30 minutes while second tap empty it in 20 minutes.
 If both the taps are kept open, how much time is required to empty the cistern?


</p>


<div>
	A.&nbsp;&nbsp;12minutes

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;25minutes

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;50minutes

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;1hour

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>
<u>Formula Used</u><br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

Tap A can empty the tank in 30 minutes<br><br>

Then one minute work of tap A = 

<sup>1</sup>&frasl;<sub>30</sub><br><br>

Tap B can empty the same tank in 20 minutes<br><br>

Then one minute work of tap B = 

<sup>1</sup>&frasl;<sub>20</sub><br><br>

one minute work of tap A and B <br><br>= 

<sup>1</sup>&frasl;<sub>30</sub> + 

<sup>1</sup>&frasl;<sub>20</sub><br><br>

= <sup>2 + 3</sup>&frasl;<sub>60</sub><br><br>

= <sup>1</sup>&frasl;<sub>12</sub><br><br>

Then entire work of tap A and tap B = 12 minutes.
</body>
</html>
