<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:39</h2>
<hr>
<p>
    A alone can do a piece of work in 12 days and B alone in 10 days.
    They undertook to do the work for 330. How much will A get?


</p>


<div>
    A.&nbsp;&nbsp;120


</div>
<br>
<div>
    B.&nbsp;&nbsp;150


</div>
<br>
<div>
    C.&nbsp;&nbsp;160


</div>
<br>

<div>
    D.&nbsp;&nbsp;180


</div>


<h2><u>Answer</u>:b </h2>
<u>Formula Used:</u><br><br>
If the ratio of time taken by A and B in doing a work = x:y<br><br>

Then ratio of work done by A and B =

<sup>1</sup>&frasl;<sub>x</sub> :

<sup>1</sup>&frasl;<sub>y</sub>

= y:x
<br><br>
Ratio of wages =
<sup>1</sup>&frasl;<sub>12</sub>


:
<sup>1</sup>&frasl;<sub>10</sub>
<br><br>
= 10:12<br><br>
=5:6<br><br>
A&CloseCurlyQuote;s wages =
<sup>5</sup>&frasl;<sub>11</sub>
&times330<br><br>
= 150.


</body>
</html>
