<html>
<body>
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:10</h2>
<hr>
<p>
A can do a piece of work in 15 days and B can do it in 10 days. 
Working together how long will they take to finish the work?


</p>


<div>
	A.&nbsp;&nbsp;4

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;5

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;6

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;7 <sup>1</sup>&frasl;<sub>2</sub>


</div>
		
	

<h2> <u>Answer</u>:c </h2>

<br>
<u>Formula Used</u>
<br><br>
If a man can do a piece of work in x days, 

<br><br>

Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub>

<br><br>

A can do a piece of work in 15 days, then his work for one day <br>

=<sup>1</sup>&frasl;<sub>15</sub><br>
 
B can do a piece of work in 10 days, then his work for one day 
<br><br>

=<sup>1</sup>&frasl;<sub>10</sub>

<br><br>

one day work of A and B = 
<sup>1</sup>&frasl;<sub>15</sub>+
<sup>1</sup>&frasl;<sub>10</sub>

<br><br>

= <sup>2+3</sup>&frasl;<sub>30</sub>

<br><br>

=<sup>5</sup>&frasl;<sub>30</sub>

<br><br>

One day work of A and B=<sup>1</sup>&frasl;<sub>6</sub>

<br><br>

A and B do work in 6 days.


</body>
</html>
