{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:27</h1>
<hr>
<p>
Two taps can fill a tub in 5 minutes and 7 minutes respectively. A pipe can empty it in 3 minutes. 
If all the three taps are kept open simultaneously, when will the tub be full?


</p>


<div class="div2">
	A.&nbsp;&nbsp;60mins

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;180mins

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;90mins

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;105mins

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<u>Formula Used</u><br><br>
If a man can do a piece of work in x days, <br><br>
Then his work for one day = 

<sup>1</sup>&frasl;<sub>x</sub><br><br>

one minute work of three pipes = 

<sup>1</sup>&frasl;<sub>5</sub> +

<sup>1</sup>&frasl;<sub>7</sub> -

<sup>1</sup>&frasl;<sub>3</sub><br><br>

= <sup>21+15-35</sup>&frasl;<sub>105</sub><br><br>

= <sup>1</sup>&frasl;<sub>105</sub><br><br>

Required time = 105 minutes.
</div>
</body>
</html>
