{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:4</h1>
<hr>
<p>
	999 

<sup>998</sup>&frasl;<sub>999</sub>
&times; 999 is equal to 


</p>


<div class="div2">
	A.&nbsp;&nbsp;998999
	
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;999899
	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;989999
	
	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;999999
	

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

999 

<sup>998</sup>&frasl;<sub>999</sub> &times; 999 = <br><br>

999 &times; 999 + 

<sup>998</sup>&frasl;<sub>999</sub> 

&times; 999 <br><br>

= 998001 + 998 <br><br>

= 998999.
</div>
</body>
</html>
