<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:3</h1>
<hr>
<p>
	The value of 

999 <sup>995</sup>&frasl;<sub>999</sub> &times; 999

is 
</p>


<div>
	A.&nbsp;&nbsp;998999
	
	
</div>
<br>
<div>
	B.&nbsp;&nbsp;998996
	
</div>
<br>
<div>
	C.&nbsp;&nbsp;999824
	
	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;998999
	

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

999 <sup>995</sup>&frasl;<sub>999</sub> &times; 999 <br><br>

= 999 &times; 999+ 

<sup>995</sup>&frasl;<sub>999</sub> &times; 999 <br><br>

= 998001 +995 <br><br>

= 998996.
</body>
</html>
