<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:4</h1>
<hr>
<p>
	999 

<sup>998</sup>&frasl;<sub>999</sub>
&times; 999 is equal to 


</p>


<div>
	A.&nbsp;&nbsp;998999
	
	
</div>
<br>
<div>
	B.&nbsp;&nbsp;999899
	
</div>
<br>
<div>
	C.&nbsp;&nbsp;989999
	
	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;999999
	

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>

999 

<sup>998</sup>&frasl;<sub>999</sub> &times; 999 = <br><br>

999 &times; 999 + 

<sup>998</sup>&frasl;<sub>999</sub> 

&times; 999 <br><br>

= 998001 + 998 <br><br>

= 998999.
</body>
</html>
