<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:5</h1>
<hr>
<p>
	Find the value of 

<sup>1</sup>&frasl;<sub>5</sub>

+ 999 
<sup>494</sup>&frasl;<sub>495</sub> &times; 99

</p>


<div>
	A.&nbsp;&nbsp;90000
	
	
</div>
<br>
<div>
	B.&nbsp;&nbsp;99000
	
</div>
<br>
<div>
	C.&nbsp;&nbsp;90900
	
	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;99990
	

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

Given expression = 

<sup>1</sup>&frasl;<sub>5</sub> +

999 &times; 99 + 

<sup>494</sup>&frasl;<sub>495</sub> &times; 99 <br><br>



= <sup>1</sup>&frasl;<sub>5</sub> + 98901 + 

<sup>494</sup>&frasl;<sub>5</sub> <br><br>

= 98901 + 99 <br><br>

= 99000.



</body>
</html>
