{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:2</h1>
<hr>
<p>
	Find the units digit in 200 &times; 217 &times; 818 &times; 193?


</p>


<div class="div2">
	A.&nbsp;&nbsp;0
	
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;1
	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;7
	
	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;8
	

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
since one of the number has two 0s at the end. <br><br>

multiplication of these numbers will also have two 0s at the end.<br><br>

units digit in the product is 0.

</div>
</body>
</html>
