{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:5</h1>
<hr>
<p>
	Find the value of 

<sup>1</sup>&frasl;<sub>5</sub>

+ 999 
<sup>494</sup>&frasl;<sub>495</sub> &times; 99

</p>


<div class="div2">
	A.&nbsp;&nbsp;90000
	
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;99000
	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;90900
	
	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;99990
	

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Given expression = 

<sup>1</sup>&frasl;<sub>5</sub> +

999 &times; 99 + 

<sup>494</sup>&frasl;<sub>495</sub> &times; 99 <br><br>



= <sup>1</sup>&frasl;<sub>5</sub> + 98901 + 

<sup>494</sup>&frasl;<sub>5</sub> <br><br>

= 98901 + 99 <br><br>

= 99000.



</div>
</body>
</html>
