{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:6</h2>
<hr>
<p>
    12345679&times;9=?


</p>


<div class="div2">
    A.&nbsp;&nbsp;111111111


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;21212121

</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;111111112


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;2222222221


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

unit digit of the solution must be 1 i.e. units digit in 9 &times; 9 <br><br>

C: is ruled out <br><br>

since 12 &times; 9 = 108 <br><br>

B and D are ruled out as first three digits (left hand side) are much greater than 108<br><br>

sum of digits of solution must be 9 as the sum of digits of the multiplier is 9.<br><br>

A is the correct answer
</div>
</body>
</html>
