{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:3</h1>
<hr>
<p>
	The value of 

999 <sup>995</sup>&frasl;<sub>999</sub> &times; 999

is 
</p>


<div class="div2">
	A.&nbsp;&nbsp;998999
	
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;998996
	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;999824
	
	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;998999
	

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

999 <sup>995</sup>&frasl;<sub>999</sub> &times; 999 <br><br>

= 999 &times; 999+ 

<sup>995</sup>&frasl;<sub>999</sub> &times; 999 <br><br>

= 998001 +995 <br><br>

= 998996.
</div>
</body>
</html>
