<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:8</h1>
<hr>
<p>
	16.3 &times; 5.8=?


</p>


<div>
	A.&nbsp;&nbsp;80.24
	
	
</div>
<br>
<div>
	B.&nbsp;&nbsp;90.12
	
</div>
<br>
<div>
	C.&nbsp;&nbsp;94.54
	
	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these
	

	
</div>
		
	

<h2> <u>Answer</u>: c</h2>

16.3&times; 5.8 = (16+0.3) &times; (5+0.8)<br><br>

= 16 &times; 5 + 16&times; 0.8 +0.3 &times;5+0.3&times;0.8<br >

= 80+12.8 +1.5+0.24<br><br>

=94.54

</body>
</html>
