<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:10</h1>
<hr>
<p>
	The product of two successive numbers is 9506. Which is the smaller of the two number?



</p>


<div>
	A.&nbsp;&nbsp;96
	
	
</div>
<br>
<div>
	B.&nbsp;&nbsp;97
	
</div>
<br>
<div>
	C.&nbsp;&nbsp;98
	
	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;99
	

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

if the smaller number is 96 <br><br>

then 6 &times; 7 = 42(units digit is 2) <br><br>

if the smaller number is 97 <br><br>

then 7 &times; 8 = 56 (units digit is 6)<br><br>

we can check 97 &times; 98 <br><br>

&nbsp; 97 -> 3 <br><br>
&times;98 ->2 <br><br>
<hr width = "70px" align="left">
= 9506.


</body>
</html>
