{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:7</h2>
<hr>
<p>
    On multiplying a number by 153, 102325 is obtained as result. It is found that both the 2s in result are wrong. Find
    the correct result

</p>


<div class="div2">
    A.&nbsp;&nbsp;104345


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;107375

</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;108385


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;109395


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

153 is a multiple of 9 as sum of its digits is 9 <br><br>

The result must also be a multiple of 9 <br><br>

sum of digits (other than the wrong digits )<br><br> = 1+0+3+5 = 9<br><br>

the number 10Y3Y5 is divisible by 9 (ignoring both Y)<br><br>

the number will be divisible by 9 when Y + Y is divisible by 9 <br><br>

sum of replaced digits = 4+4,7+7,8+8,9+9, or 8,14,16,18<br><br>

only 18 is divisible by 9 <br><br>

Y is to be replaced by 9 <br><br>

109395 is divisible by 153.
</div>
</body>
</html>
