<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:9</h1>
<hr>
<p>
	The product of two consecutive even numbers is 12768 what is the greater number?


</p>


<div>
	A.&nbsp;&nbsp;112
	
	
</div>
<br>
<div>
	B.&nbsp;&nbsp;114
	
</div>
<br>
<div>
	C.&nbsp;&nbsp;116
	
	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;118
	

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>

first two digits must be 11<br><br>

2 &times; 4 suggest that numbers are 112 and 114.<br><br>

However we can check 112 &times; 114 <br><br>

&nbsp;&nbsp;112 -> 12 <br><br>
&times;114 -> 14 <br><br>
<hr width = "70px" align= "left">
= 12768
 
</body>
</html>
