<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:64</h1>
<hr>
<p>
A number when decreased by 20% gives 80. The number is:


</p>


<div>
	A.&nbsp;&nbsp;60

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;64

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;96

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;100

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>

Let the number be X
<br><br>
Given that Number decreamented by 20% gives 80
<br><br>
i.e. X - 20% of X = 80
<br><br>
X-(<sup>20</sup>&frasl;<sub>100</sub>)X = 80
<br><br>
X(<sup>(100-20)</sup>&frasl;<sub>100</sub>) = 80
<br><br>
X(<sup>80</sup>&frasl;<sub>100</sub>) = 80
<br><br>
X(<sup>1</sup>&frasl;<sub>100</sub>) = 1
<br><br>
X = 100


</body>
</html>
