<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:37</h1>
<hr>
<p>
A fruit seller had some apples. He sells 40% apples and still has 420 apples. Originally he had:


</p>


<div>
	A.&nbsp;&nbsp;588 apples

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;600 apples

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;672 apples

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;700 apples

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>

Stock left unsold = (100-40)% <br><br>
= 60% <br><br>
60% = 420 apples <br><br>
1% = <sup>420</sup>&frasl;<sub>60</sub><br><br>
1% = 7<br><br>
100% = 7&times;100<br><br>
100% = 700<br><br>
Total apples = 700<br><br>


</body>
</html>
