<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:28</h1>
<hr>
<p>
If 27% of 1380 = 36% of x, find the value of x.



</p>


<div>
	A.&nbsp;&nbsp;1035

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;4140

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;1840

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;5520

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
Given that 27% of 1380 = 36% of X
<br><br>
(<sup>27</sup>&frasl;<sub>100</sub>)&times;1380 = (<sup>36</sup>&frasl;<sub>100</sub>)&times;X
<br><br>
(<sup>(27&times;1380)</sup>&frasl;<sub>100</sub>) = (<sup>36X</sup>&frasl;<sub>100</sub>)
<br><br>
X = (<sup>37260&times;100</sup>&frasl;<sub>(100&times;36)</sub>)
<br><br>
X = <sup>37260</sup>&frasl;<sub>36</sub>
<br><br>
X = 1035
<br><br>
</body>
</html>
