{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:14</h2>
<hr>
<p>

    47% of 583 &minus; 41% of 473 = ?


</p>


<div class="div2">
    A.&nbsp;&nbsp;34.98


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;28.38


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;80.08


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;None of these


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
47% of 583 &minus; 41% of 473 = <br><br>[(<sup>47</sup>&frasl;<sub>100</sub>)&times;583] &minus;
[(<sup>41</sup>&frasl;<sub>100</sub>)&times;473]<br><br>
= (<sup>27401</sup>&frasl;<sub>100</sub>) - (<sup>19393</sup>&frasl;<sub>100</sub>)<br><br>
= <sup>(27401-19393)</sup>&frasl;<sub>100</sub><br><br>
= <sup>8008</sup>&frasl;<sub>100</sub><br><br>
= 80.08
</div>
</body>
</html>
