<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:4</h1>
<hr>
<p>

If 50% of P = 25% of Q, then P=x% of Q.  find x.

</p>


<div>
	A.&nbsp;&nbsp;0.2

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;5

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;50

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;0.005

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Given that 50% of P = 25% of Q <br><br>
(<sup>50</sup>&frasl;<sub>100</sub>)&times;P = (<sup>25</sup>&frasl;<sub>100</sub>)&times;Q
<br><br>
(<sup>1</sup>&frasl;<sub>2</sub>)&times;P = (<sup>25</sup>&frasl;<sub>100</sub>)&times;Q
<br><br>
P = (<sup>(2&times;25)</sup>&frasl;<sub>100</sub>)&times;Q
<br><br>
P = (<sup>50</sup>&frasl;<sub>100</sub>)&times;Q
<br><br>
P = 50% of Q
<br><br>
Then X = 50



</body>
</html>
