<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:55</h1>
<hr>
<p>
One fourth of sixty percent of a number is equal to two fifth of twenty percent of another number. What is the respective ratio of the first number to the second number?



</p>


<div>
	A.&nbsp;&nbsp;4:7

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;8:13

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;5:9

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>

Let the numbers be X and Y<br><br>

Given that <sup>1</sup>&frasl;<sub>4</sub> of 60% of X = <sup>2</sup>&frasl;<sub>5</sub> of 20% of Y <br><br>
<sup>1</sup>&frasl;<sub>4</sub>&times;60%&times;X  = <sup>2</sup>&frasl;<sub>5</sub>&times;20%&times;Y<br><br>
15% of X = 8% of Y <br><br>
X:Y = 8 : 15.


</body>
</html>
