<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:44</h1>
<hr>
<p>
If x% of x = 10% of y, they y=?





</p>


<div>
	A.&nbsp;&nbsp;10

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;<sup>x</sup>&frasl;<sub>10</sub>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;<sup>x<sup>2</sup></sup>&frasl;<sub>10</sub>

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;<sup>x<sup>2</sup></sup>&frasl;<sub>100</sub>

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
x% of x = 10% of y <br><br>
x&times;x = 10&times;y<br><br> 
y = <sup>x &times; x</sup>&frasl;<sub>10</sub><br><br>
=<sup>x<sup>2</sup></sup>&frasl;<sub>10</sub>.
</body>
</html>
