<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:26</h1>
<hr>
<p>

15 liter of a mixture contains alcohol and water in the ratio of 1:4. If 3 litres of water is mixed in it, the percentage of alcohol in the new mixture will be:




</p>


<div>
	A.&nbsp;&nbsp;15

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;16 <sup>2</sup>&frasl;<sub>3</sub>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;17

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;18 <sup>1</sup>&frasl;<sub>2</sub>

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Given that the alcohol and water ratio in 15 litres of mixture is 1:4 <br><br>
<sup>Alcohol</sup>&frasl;<sub>Water</sub> = <sup>1</sup>&frasl;<sub>4</sub>
<br><br>
Water in mixture = (<sup>4</sup>&frasl;<sub>5</sub>)&times;Total mixture
<br><br>
Water in mixture = (<sup>4</sup>&frasl;<sub>5</sub>)&times;15
<br><br>
Water in mixture = 12liters
<br><br>
Now After adding of 3 litres of water to 15 litres of mixture, we have 15 litres of water in 18 litres of mixture and 3 litres of alcohol
<br><br>
Alcohol % = <sup>Total Alcohol</sup>&frasl;<sub>Total Mixture</sub> 
<br><br>
Alcohol % = <sup>3</sup>&frasl;<sub>18</sub> 
<br><br>
Alcohol % = <sup>1</sup>&frasl;<sub>6</sub> 
<br><br>
Alcohol % = (<sup>1</sup>&frasl;<sub>6</sub>)&times;<sup>100</sup>&frasl;<sub>100</sub>
<br><br>
Alcohol % = (16<sup>2</sup>&frasl;<sub>3</sub>)%
</body>
</html>
