{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:41</h1>
<hr>
<p>

On increasing price of an article by 20%, number of articles sold fell by 20%. What is effect of this on total sales of the article?


</p>


<div class="div2">
	A.&nbsp;&nbsp;4% decrease

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;4% increase

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;20% decrease

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;No effect

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let the price of an article be X and number of articles be Y.
<br><br>
Now Total price for X articles 
<br><br>
= X&times;Y-->(1) <br><br>

Given that price of article increased by 20% <br><br>

Now new price of article = X+20% of X <br><br>

New Price of an article = X+ (<sup>20</sup>&frasl;<sub>100</sub>)&times;X <br><br>

New Price of an article = X+ (<sup>20X</sup>&frasl;<sub>100</sub>) <br><br>

New Price of an article = <sup>(100X+20X)</sup>&frasl;<sub>100</sub> <br><br>

New Price of an article = <sup>120X</sup>&frasl;<sub>100</sub> <br><br>

Now new number of sales = Y-20% of Y
<br><br>
New number of sales = Y-(<sup>20</sup>&frasl;<sub>100</sub>)&times;Y <br><br>

New number of sales = Y-<sup>20Y</sup>&frasl;<sub>100</sub> <br><br>

New number of sales = <sup>(100Y-20Y)</sup>&frasl;<sub>100</sub><br><br>

New number of sales = <sup>80Y</sup>&frasl;<sub>100</sub> <br><br>

Now total price for those sales
<br><br>
= <sup>120X</sup>&frasl;<sub>100</sub>&times;<sup>80Y</sup>&frasl;<sub>100</sub> <br><br>

Now total price for those sales 
<br><br>
= <sup>(120X&times;80Y)</sup>&frasl;<sub>(100&times;100</sub><br><br>

Now Total price for those sales 
<br><br>
= <sup>(120X&times;80Y)</sup>&frasl;<sub>(100&times;100)</sub><br><br>

Total price for whole sales 
<br><br>
= <sup>9600XY</sup>&frasl;<sub>10000</sub><br><br>

Total price for whole sales
<br><br>
= <sup>96XY</sup>&frasl;<sub>100</sub>--->(2) <br><br>

From (1) and (2)<br><br>

Effect on sales = New sales-old sales<br><br>

Effect on sales = (<sup>96XY</sup>&frasl;<sub>100</sub>) - XY<br><br>

Effect on sales =<sup>(96XY-100XY)</sup>&frasl;<sub>100</sub> <br><br>

Effect on sales = <sup>-4XY</sup>&frasl;<sub>100</sub> <br><br>

Total sales decreased by 4%


</div>
</body>
</html>
