{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:25</h1>
<hr>
<p>
A spends 90% of his salary and B spends 85% of his salary. But savings of both are equal. Find the income of B, if sum of their incomes is 5000.





</p>


<div class="div2">
	A.&nbsp;&nbsp;2000

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;2500

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;3000

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;3500

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Savings of A = (100-90)% = 10% of his salary<br><br>

Savings of B = (100-85)% = 15% of his salary<br><br>

But both savings are equal <br><br>

10% of As Salary = 15% of Bs salary <br><br>

<sup>As Salary</sup>&frasl;<sub>Bs Salary</sub> = <sup>10</sup>&frasl;<sub>15</sub><br><br>

<sup>As Salary</sup>&frasl;<sub>Bs Salary</sub> = <sup>2</sup>&frasl;<sub>3</sub><br><br>

As Salary = <sup>As portion</sup>&frasl;<sub>Sum of ratio</sub>&times;Total income<br><br>

As Salary = <sup>2</sup>&frasl;<sub>5</sub>&times;5000<br><br>

As Salary = 2&times;1000<br><br>

As Salary = 2000

</div>
</body>
</html>
