{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:5</h1>
<hr>
<p>
What is the number whose 20% is 30% of 40?


</p>


<div class="div2">
	A.&nbsp;&nbsp;90

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;80

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;60

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;50

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let us that the required number be X
<br><br>
So 20% of X = 30% of 40
<br><br>
(<sup>20</sup>&frasl;<sub>100</sub>)&times;X = (<sup>30</sup>&frasl;<sub>100</sub>)&times;40
<br><br>
(<sup>1</sup>&frasl;<sub>5</sub>)&times;X = (<sup>3</sup>&frasl;<sub>10</sub>)&times;40
<br><br>
(<sup>1</sup>&frasl;<sub>5</sub>)&times;X = 3&times;4
<br><br>
X = 12&times;5
<br><br>
X = 60

</div>
</body>
</html>
