{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:58</h1>
<hr>
<p>
Given that 10% of As income = 15% of Bs income = 20% of Cs income. If sum of their income is 7800, then Bs income is:




</p>


<div class="div2">
	A.&nbsp;&nbsp;3600

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;3000

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;2400

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;1800

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
10% of A = 15% of B = 20% of C <br><br>

(<sup>10</sup>&frasl;<sub>100</sub>)A = (<sup>15</sup>&frasl;<sub>100</sub>)B = (<sup>20</sup>&frasl;<sub>100</sub>)C  <br><br>

10A = 15B = 20C <br><br>

10A = 15B <br><br>

B = (<sup>10</sup>&frasl;<sub>15</sub>)A <br><br>

10A = 20C  <br><br>

C = (<sup>10</sup>&frasl;<sub>20</sub>)A <br><br>

A:B:C = A : (<sup>10</sup>&frasl;<sub>15</sub>)A : (<sup>10</sup>&frasl;<sub>20</sub>)A <br><br>

{ L.C.M of 15 and 20 = 60} <br><br>

A:B:C = (<sup>60</sup>&frasl;<sub>60</sub>)A : (<sup>40</sup>&frasl;<sub>60</sub>)A : (<sup>30</sup>&frasl;<sub>60</sub>)A <br><br>

A:B:C = 6:4:3 <br><br>

Bs income = <sup>4</sup>&frasl;<sub>13</sub>&times;7800
<br><br>
Bs income = 2400.

</div>
</body>
</html>
