<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:54</h1>
<hr>
<p>
Three fourth of one number is equal to 60% of another number. What is the ratio of the first number to the second number?




</p>


<div>
	A.&nbsp;&nbsp;3:4

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;5:4

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;6:7

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>

Let the numbers be X and Y <br><br>
Then <sup>3</sup>&frasl;<sub>4</sub> of X = 60% of Y <br><br>
(<sup>3</sup>&frasl;<sub>4</sub>)X = <sup>60</sup>&frasl;<sub>100</sub> of Y <br><br> 

(<sup>3</sup>&frasl;<sub>4</sub>)X = <sup>3</sup>&frasl;<sub>5</sub> of Y <br><br> 

<sup>X</sup>&frasl;<sub>Y</sub> = <sup>(3&times;4)</sup>&frasl; <sub>(3&times;5)</sub> <br><br> 

<sup>X</sup>&frasl;<sub>Y</sub> = <sup>4</sup>&frasl; <sub>5</sub> <br><br> 

</body>
</html>
