<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:79</h1>
<hr>
<p>
The difference of two numbers is 15% of their sum. The ratio of the larger number to the smaller number is:


</p>


<div>
	A.&nbsp;&nbsp;23:17

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;11:9

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;17:11

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;23:11

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
Let the numbers be X and Y (X>Y) <br><br>
Gicen that difference of two numbers is 15% of their sum <br><br>
i.e. X-Y = 15%(X+Y)<br><br>
X-Y = (<sup>15</sup>&frasl;<sub>100</sub>)(X+Y) <br><br>
X-Y = (<sup>3</sup>&frasl;<sub>20</sub>)(X+Y) <br><br>
20(X-Y) = 3(X+Y) <br><br>
20X-20Y = 3X+3Y <br><br>
20X-3X = 3Y+20Y <br><br>
17X = 23Y <br><br>
<sup>X</sup>&frasl;<sub>Y</sub> = <sup>23</sup>&frasl;<sub>17</sub> <br><br>


</body>
</html>
