{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:62</h1>
<hr>
<p>
Sum of 5% of a number and 9% of other number is equal to sum of 8% of first number and 7% of the second number. Find ratio between the numbers:



</p>


<div class="div2">
	A.&nbsp;&nbsp;2:3

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;3:2

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;5:7

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;8:9

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let the numbers be x and y <br><br>
Given that 
<br><br>
5% of x +9% of y = 8% of x + 7% of y <br><br>
3% of x =2% of y <br><br>
3x = 2y <br><br>
x:y = 2:3.


</div>
</body>
</html>
