<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:52</h1>
<hr>
<p>
A salesman receives a salary of 1000 per month and 10% commission on sales in excess of 5000. What is the amount of sales, if he earns 2000 in a particular month?





</p>


<div>
	A.&nbsp;&nbsp;10000

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;15000

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;20000

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;25000

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>

Total earnings = 2000<br><br>
Salary = 1000<br><br>
Commission = 2000-1000=1000 <br><br>
Given that 10% of Sales = Commision  <br><br>
(<sup>10</sup>&frasl;<sub>100</sub>)&times;Sales = 1000<br><br>
Sales = 1000&times;10<br><br>
Sales = 10000
<br><br>
Sales in excess of 5000 (to earn 1000 as commission ) is<br><br>
Total sales = 10000+5000<br><br>
Total sales = 15000

</body>
</html>
