<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:7</h1>
<hr>
<p>

If 30% of a number is 90, the number is:

</p>


<div>
	A.&nbsp;&nbsp;3

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;30

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;300

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;270

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>

Let the number be x.<br><br>
Then 30% of x = 90<br><br>
<sup>30</sup>&frasl;<sub>100</sub> &times;x = 90<br><br>
x = <sup>(90&times;100)</sup>&frasl;<sub>30</sub>
<br><br>
x = <sup>9000</sup>&frasl;<sub>30</sub>
<br><br>
x = 300.

</body>
</html>
