<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:73</h1>
<hr>
<p>
Two numbers are more than the third number by 20% and 50% respectively. First number is percent of the second number?


</p>


<div>
	A.&nbsp;&nbsp;100%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;150%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;80%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;120%

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let the numbers be X , Y and Z <br><br>
Given that <br><br>
X = 20% more than Z and Y = 50% more than Z <br><br>
X = 20% more than  Z <br><br>
X = Z + (<sup>20</sup>&frasl;<sub>100</sub>)Z <br><br>
X = (<sup>(100Z+20Z)</sup>&frasl;<sub>100</sub>) <br><br>
X = (<sup>120Z</sup>&frasl;<sub>100</sub>) <br><br>
X = (<sup>6Z</sup>&frasl;<sub>5</sub>) <br><br>
Z = (<sup>5</sup>&frasl;<sub>6</sub>)X--->(1) <br><br>

Y = 50% more than Z <br><br>
Y = Z + (<sup>50</sup>&frasl;<sub>100</sub>)Z <br><br>
Y = (<sup>(100Z+50Z)</sup>&frasl;<sub>100</sub>) <br><br>
Y = (<sup>150Z</sup>&frasl;<sub>100</sub>) <br><br>
Y = (<sup>3Z</sup>&frasl;<sub>2</sub>) <br><br>
Z = (<sup>2</sup>&frasl;<sub>3</sub>)Y--->(2) <br><br>

From (1) and (2) <br><br>

(<sup>5</sup>&frasl;<sub>6</sub>)X = (<sup>2</sup>&frasl;<sub>3</sub>)Y <br><br>

<sup>X</sup>&frasl;<sub>Y</sub> = <sup>(2&times;6)</sup>&frasl;<sub>(5&times;3)</sub> <br><br>
<sup>X</sup>&frasl;<sub>Y</sub> = <sup>12</sup>&frasl;<sub>15</sub> 
<br><br>
X = Y&times;<sup>12</sup>&frasl;<sub>15</sub> 
<br><br>
X = 0.8Y
<br><br>
X = 80% of Y
</body>
</html>
