{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:92</h1>
<hr>
<p>
Ms. Sujata invests 2170 which is 7% of her monthly salary in mutual funds. Later she invests 18% of her monthly salary in recurring deposit also, she invests 6% of her in NSCs. what is the total annual amount invested by Ms.sujata?



</p>


<div class="div2">
	A.&nbsp;&nbsp;12530

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;113520

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;135120

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;115320

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Givwn that she spents 7% salary in mutual funds which is 2170<br><br>
7% of monthly salary = 2170 <br><br>
(<sup>7</sup>&frasl;<sub>100</sub>)&times;Total Salary = 2170
<br><br>
Total Salary = 2170&times;<sup>100</sup>&frasl;<sub>7</sub>
<br><br>
Total Salary = 310&times;100
<br><br>
Total Salary = 31000
<br><br>
Total investment = 7%+18%+6%
<br><br>
Total investment = 31% of Salary per month
<br><br>
Total investment = (<sup>31</sup>&frasl;<sub>100</sub>)Total salary per month
<br><br>
Total investment = (<sup>31</sup>&frasl;<sub>100</sub>)&times;31000
<br><br>
Total investment = 31&times;310
<br><br>
Total investment = 9610
<br><br>
Total Annual investment = 12&times;9610
<br><br>
Total Annual investment = 115320
<br><br>


</div>
</body>
</html>
