<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:48</h1>
<hr>
<p>
Price of an article is increased by 3%. Had it been 16 less, price would have been decreased by 1% of the original price. Find original price of the article.





</p>


<div>
	A.&nbsp;&nbsp;400

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;500

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;800

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;1600

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
Let the original price of an article be X
<br><br>
Total price after 3% increase 
<br><br>
= X+3% of X
<br><br>
Total price = X+ (<sup>3</sup>&frasl;<sub>100</sub>)&times;X
<br><br>
Total price = X+ (<sup>3X</sup>&frasl;<sub>100</sub>)
<br><br>
Total price = <sup>(100X+3X)</sup>&frasl;<sub>100</sub>
<br><br>
Total price = <sup>103X</sup>&frasl;<sub>100</sub>
<br><br>
Given that total price after increament - 16 
<br>
= Price of article after decreament--->(1)<br><br>
Decrease in price = X-(1% of X)<br><br>
Decrease in price = X- (<sup>X</sup>&frasl;<sub>100</sub>)
<br><br>
Decrease in price = <sup>(100X-X)</sup>&frasl;<sub>100</sub>
<br><br>
Decrease in price = <sup>(100X-X)</sup>&frasl;<sub>100</sub>
<br><br>
Decrease in price = <sup>99X</sup>&frasl;<sub>100</sub>
<br><br>
From (1)
<br><br>
(<sup>103X</sup>&frasl;<sub>100</sub>)-16 = <sup>99X</sup>&frasl;<sub>100</sub>
<br><br>
103X-1600 = 99X
<br><br>
103X-99X = 1600
<br><br>
4X = 1600
<br><br>
X = 400

</body>
</html>
