{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:22</h1>
<hr>
<p>
If 39% of a number is equal to 52% of the other number. What is the ratio between the two numbers?




</p>


<div class="div2">
	A.&nbsp;&nbsp;2:3

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;3:4

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;4:3

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let the two numbers be X and Y<br><br>
39% of X = 52% of Y<br><br>
<sup>39</sup>&frasl;<sub>100</sub>&times;X = <sup>52</sup>&frasl;<sub>100</sub>&times;Y<br><br>
<sup>39X</sup>&frasl;<sub>100</sub> = <sup>52Y</sup>&frasl;<sub>100</sub><br><br>
<sup>X</sup>&frasl;<sub>Y</sub> = <sup>52</sup>&frasl;<sub>39</sub><br><br>
<sup>X</sup>&frasl;<sub>Y</sub> = <sup>4</sup>&frasl;<sub>3</sub>


</div>
</body>
</html>
