<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:61</h1>
<hr>
<p>
If 40% of a number is equal to <sup>3</sup>&frasl;<sub>7</sub>

 of other number and sum of these numbers is 145, what is the larger number?





</p>


<div>
	A.&nbsp;&nbsp;85

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;70

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;75

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let the two numbers be X and Y<br><br>

Given that 40% of X = <sup>3</sup>&frasl;<sub>7</sub> of Y<br><br> 
(<sup>40</sup>&frasl;<sub>100</sub>) X = (<sup>3</sup>&frasl;<sub>7</sub>)Y <br><br> 
(<sup>2</sup>&frasl;<sub>5</sub>)X = (<sup>3</sup>&frasl;<sub>7</sub>)Y <br><br>


<sup>X</sup>&frasl;<sub>Y</sub> = <sup>(3&times;5)</sup>&frasl;<sub>(7&times;2)</sub> <br><br>

<sup>X</sup>&frasl;<sub>Y</sub> = <sup>15</sup>&frasl;<sub>14</sub> <br><br>

X = (<sup>15</sup>&frasl;<sub>14</sub>)Y <br><br>

Given that Sum of numbers is 145 <br><br>

X+Y = 145 <br><br>

(<sup>15</sup>&frasl;<sub>14</sub>)Y+Y = 145 <br><br>
 
<sup>(15Y+14Y)</sup>&frasl;<sub>14</sub> = 145 <br><br>

<sup>29Y</sup>&frasl;<sub>14</sub> = 145 <br><br>

Y = 145&times;<sup>14</sup>&frasl;<sub>29</sub>  <br><br>

Y = 5&times;14 <br><br>

Y = 70 <br><br>

X+Y = 145 <br><br>

X+70 = 145 <br><br>

X = 145-70 <br><br>

X = 75 

</body>
</html>
