<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:46</h1>
<hr>
<p>
Deepa bought a calculator with 30% discount on the listed price. Had she not got the discount, she would have paid 82.50 extra. At what price did she buy the calculator?




</p>


<div>
	A.&nbsp;&nbsp;192.50

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;275

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;117.85

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
Discount = 30% of list price <br><br> 
Let the list price be X<br><br> 
30% Of list price = 82.50 <br><br>
30% of X = 82.50<br><br> 
(<sup>30</sup>&frasl;<sub>100</sub>)&times;X = 82.50
<br><br> 
X = (<sup>100</sup>&frasl;<sub>30</sub>)&times;82.50
<br><br> 
X = <sup>100&times;82.50</sup>&frasl;<sub>30</sub>
<br><br> 
X = <sup>8250</sup>&frasl;<sub>30</sub>
<br><br> 
X = 275
<br><br> 
So total price paid by deepa = Lised price - Discount
<br><br> 
Total price paid by deepa = 275-82.50
<br><br> 
Total price paid by deepa = 192.5
</body>
</html>
