<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:32</h1>
<hr>
<p>

Salaries of A and B are in the ratio of 3:4. Both of them spend 75% of their salaries and save rest of the money. Find the ratio of their savings.




</p>


<div>
	A.&nbsp;&nbsp;3:4

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;4:3

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;1:1

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;Cant say

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
Tota amount spend by A and B is 75% <br><br>
So total amount saved by A and B is (100-75)%<br><br>
So total amount saved by A and B is 25%<br><br>
Ratio of savings = 25% of 3 : 25% of 4 = 3:4.

</body>
</html>
