{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:27</h1>
<hr>
<p>
If 70% of the students in a school are boys and the number of girls be 504, the number of boys is:





</p>


<div class="div2">
	A.&nbsp;&nbsp;1176

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;1008

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;1208

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;3024

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Girls = 30% of students = 504<br><br>
(<sup>30</sup>&frasl;<sub>100</sub>)&times;Total Students = 504<br><br>

Total Students = <sup>504&times;100</sup>&frasl;<sub>36</sub>
<br><br>
Total Students = <sup>50400</sup>&frasl;<sub>36</sub>
<br><br>
Total Students = 1680
<br><br>
Boys = 70% of students = (<sup>70</sup>&frasl;<sub>100</sub>)&times;Total Students
<br><br>
Boys = (<sup>70</sup>&frasl;<sub>100</sub>)&times;1680
<br><br>
Boys = <sup>(70&times;1680)</sup>&frasl;<sub>100</sub>
<br><br>
Boys = <sup>117600</sup>&frasl;<sub>100</sub>
<br><br>
Boys = 1176
</div>
</body>
</html>
