<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:33</h1>
<hr>
<p>
A plot of 640 sq. ft. is available at the rate of 4600 per sq ft. if 30% of the total cost of the plot is payable at booking of the plot, how much is the booking amount?



</p>


<div>
	A.&nbsp;&nbsp;8,83,200

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;8,38,200

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;9,83,200

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
The amount for booking 1 sq.ft is 4600.
<br><br>
But we have 640 sq.ft.
<br><br>
So total amount for booking 640 sq.ft is 
<br><br>
= 640&times;4600
<br><br>
= 2944000
<br><br>
Now total booking amount is 30% of total cost
<br><br>
30% of total cost = 30% of 2944000
<br><br>
30% of total cost = (<sup>30</sup>&frasl;<sub>100</sub>)&times;2944000
<br><br>
30% of total cost = <sup>(30&times;2944000)</sup>&frasl;<sub>100</sub>
<br><br>
30% of total cost = <sup>88320000</sup>&frasl;<sub>100</sub>
<br><br>
30% of total cost = 883200

</body>
</html>
