<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:8</h1>
<hr>
<p>

60 = ?% of 400.

</p>


<div>
	A.&nbsp;&nbsp;6

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;20

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;15

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;10

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let X% of 400 = 60
<br><br>
Then (<sup>X</sup>&frasl;<sub>100</sub>)&times;400 = 60
<br><br>
X&times;4 = 60
<br><br>
X = <sup>60</sup>&frasl;<sub>4</sub>
<br><br>
x = 15

</body>
</html>
