<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:20</h1>
<hr>
<p>
20% of 30% of a number is 12, the number is:




</p>


<div>
	A.&nbsp;&nbsp;24

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;40

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;100

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;200

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Let the number be X<br><br>
20% of 30%of X = 12
<br><br>
20% (30% of X) = 12
<br><br>
20% [(<sup>30</sup>&frasl;<sub>100</sub>)&times;X] = 12
<br><br>
<sup>20</sup>&frasl;<sub>100</sub>&times;[(<sup>30</sup>&frasl;<sub>100</sub>)&times;X] = 12<br><br>
<sup>600X</sup>&frasl;<sub>10000</sub> = 12<br><br>
X = <sup>12&times;10000</sup>&frasl;<sub>600</sub><br><br>
X = 200


</body>
</html>
