<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:85</h1>
<hr>
<p>
If the numerator of a fraction is increased by 20% and its denominator by 25%, then the fraction so obtained is 3/5. What is the original fraction?


</p>


<div>
	A.&nbsp;&nbsp;<sup>3</sup>&frasl;<sub>5</sub>

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;<sup>2</sup>&frasl;<sub>8</sub>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;<sup>5</sup>&frasl;<sub>8</sub>

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>

Let the original fraction is <sup>P</sup>&frasl;<sub>Q</sub> <br><br>
Given that numerator is increased by 20% 
<br><br>
i.e., P+(20% of P) = P + (<sup>20</sup>&frasl;<sub>100</sub>)P
<br><br>
Numerator = <sup>(100P+20P)</sup>&frasl;<sub>100</sub>
<br><br>
Numerator = <sup>120P</sup>&frasl;<sub>100</sub>
<br><br>
Numerator = <sup>6P</sup>&frasl;<sub>5</sub>
<br><br>
And also Denominator increased by 25%
<br><br>
i.e, Q+(25% of Q) = Q + (<sup>25</sup>&frasl;<sub>100</sub>)Q
<br><br>
Denominator = <sup>(100Q+25Q)</sup>&frasl;<sub>100</sub>
<br><br>
Denominator = <sup>125Q</sup>&frasl;<sub>100</sub>
<br><br>
Denominator = <sup>5Q</sup>&frasl;<sub>4</sub>
<br><br>
Now the fraction after changes is <sup>3</sup>&frasl;<sub>5</sub>
<br><br>
<sup>Numerator</sup>&frasl;<sub>Denominator</sub> = <sup>3</sup>&frasl;<sub>5</sub>
<br><br>
<sup>(<sup>6P</sup>&frasl;<sub>5</sub>)</sup>&frasl;<sub>(<sup>5Q</sup>&frasl;<sub>4</sub>)</sub> = <sup>3</sup>&frasl;<sub>5</sub>
<br><br>
<sup>6P</sup>&frasl;<sub>5</sub> = (<sup>3</sup>&frasl;<sub>5</sub>) &times;<sup>5Q</sup>&frasl;<sub>4</sub>
<br><br>
<sup>6P</sup>&frasl;<sub>5</sub> = <sup>(3&times;5Q)</sup>&frasl;<sub>(5&times;4)</sub>
<br><br>
<sup>6P</sup>&frasl;<sub>5</sub> = <sup>15Q</sup>&frasl;<sub>20</sub>
<br><br>
<sup>P</sup>&frasl;<sub>Q</sub> = <sup>15</sup>&frasl;<sub>20</sub>&times;<sup>5</sup>&frasl;<sub>6</sub> <br><br>
<sup>P</sup>&frasl;<sub>Q</sub> = <sup>(15&times;5)</sup>&frasl;<sub>(20&times;6)</sub> <br><br>
<sup>P</sup>&frasl;<sub>Q</sub> = <sup>75</sup>&frasl;<sub>120</sub> <br><br>
<sup>P</sup>&frasl;<sub>Q</sub> = <sup>5</sup>&frasl;<sub>8</sub> <br><br>


</body>
</html>
