<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:56</h1>
<hr>
<p>
If 30% of A = 0.25 of B = <sup>1</sup>&frasl;<sub>5</sub> of C, then A:B:C is




</p>


<div>
	A.&nbsp;&nbsp;5:6:4

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;5:24:5

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;6:5:4

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;10:12:15

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Given that 
<br><br>
30% of A = 0.25 of B = <sup>1</sup>&frasl;<sub>5</sub> of C <br><br>

<sup>30</sup>&frasl;<sub>100</sub> A = <sup>25</sup>&frasl;<sub>100</sub> B = <sup>1</sup>&frasl;<sub>5</sub> C
<br><br>
<sup>3</sup>&frasl;<sub>10</sub> A = <sup>1</sup>&frasl;<sub>4</sub> B = <sup>1</sup>&frasl;<sub>5</sub> C <br><br>


<sup>3</sup>&frasl;<sub>10</sub>A = <sup>1</sup>&frasl;<sub>4</sub>B <br><br>

B = (<sup>(3&times;4)</sup>&frasl;<sub>10</sub>)&times;A <br><br>

B = (<sup>12</sup>&frasl;<sub>10</sub>)&times;A <br><br>

<sup>3</sup>&frasl;<sub>10</sub>A = <sup>1</sup>&frasl;<sub>5</sub>C<br><br>

C = (<sup>(3&times;5)</sup>&frasl;<sub>10</sub>)&times;A <br><br>

C = (<sup>15</sup>&frasl;<sub>10</sub>)&times;A <br><br>

A:B:C = A : [(<sup>12</sup>&frasl;<sub>10</sub>)&times;A] : [(<sup>15</sup>&frasl;<sub>10</sub>)&times;A] <br><br>

A:B:C 
<br><br>
= [A&times;<sup>10</sup>&frasl;<sub>10</sub>] : [(<sup>12</sup>&frasl;<sub>10</sub>)&times;A] : [(<sup>15</sup>&frasl;<sub>10</sub>)&times;A] <br><br>

A:B:C = 10A : 12A : 15A <br><br>

A:B:C = 10:12:15

</body>
</html>
