{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:63</h1>
<hr>
<p>
The sum of 5% of a number and 4% of the other number is equal to 
<sup>2</sup>&frasl;<sub>3</sub>
 of sum of 6% of the first number and 8% of the second number. The ratio of the first number to the second is:



</p>


<div class="div2">
	A.&nbsp;&nbsp;2:3

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;3:2

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;3:4

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;4:3

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>


Let the numbers be x and y<br><br>
Then 
<br><br>
5% of x+4% of y = <sup>2</sup>&frasl;<sub>3</sub>&times;(6%of x +8% of y )<br><br>
3(5% of x+4% of y) = 2&times;(6%of x +8% of y )
<br><br>
15% of x + 12 % of y = 12 % of x + 16% of y<br><br> 
3% of x = 4% of y <br><br>
X:y = 4:3.

</div>
</body>
</html>
