<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:3</h1>
<hr>
<p>

18% of which number is equal to 12% of 75?

</p>


<div>
	A.&nbsp;&nbsp;50

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;100

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;2

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;<sup>3</sup>&frasl;<sub>2</sub>

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
Let the required number be X
<br><br>
Given that 18% of X is equal to 12% of 75.
<br><br>
Initially 12% of 75 can be calculated as
<br><br>
12% of 75 = (<sup>12</sup>&frasl;<sub>100</sub>)&times;75
<br><br>
12% of 75 = <sup>3&times;75</sup>&frasl;<sub>25</sub>
<br><br>
12% of 75 = 3&times;3
<br><br>
12% of 75 = 9
<br><br>
Now 18% of X = (<sup>18</sup>&frasl;<sub>100</sub>)&times;X
<br><br>
Based on condition
<br><br>
18% of X = 12% of 75
<br><br>
(<sup>18</sup>&frasl;<sub>100</sub>)&times;X = 9
<br><br>
X = 9&times;(<sup>100</sup>&frasl;<sub>18</sub>)
<br><br>
X = <sup>100</sup>&frasl;<sub>2</sub>
<br><br>
X = 50


</body>
</html>
