<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:94</h2>
<hr>
<p>
Rubina decided to donate 16% of her monthly salary to an NGO. On the day of donation she changed her mind and donated 6567, which was 75% of what she had decided earlier. How much is rubinas monthly salary?



</p>


<div>
	A.&nbsp;&nbsp;8756

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;54725

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;656700

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;45696

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>

Let monthly income of rubina be X<br><br>
Then 16% of 75% of X = 6567<br><br>
<sup>16</sup>&frasl;<sub>100</sub> &times; <sup>75</sup>&frasl;<sub>100</sub> &times; X = 6567
<br><br>
(<sup>(16&times;75)</sup>&frasl;<sub>(100&times;100)</sub>) X = 6567
<br><br>
(<sup>1200</sup>&frasl;<sub>10000)</sub>) X = 6567
<br><br>
X = 6567&times;<sup>100</sup>&frasl;<sub>12</sub> <br><br>
X = <sup>656700</sup>&frasl;<sub>12</sub>
<br><br>
X = 54725

</body>
</html>
