<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:51</h2>
<hr>
<p>

    A salesman receives salary of 5000 month and 20% commission on total sales. What is the amount of sales, if his
    total earnings in a month is 9000?


</p>


<div>
    A.&nbsp;&nbsp;15000


</div>
<br>
<div>
    B.&nbsp;&nbsp;20000


</div>
<br>
<div>
    C.&nbsp;&nbsp;50000


</div>
<br>

<div>
    D.&nbsp;&nbsp;60000


</div>


<h2><u>Answer</u>: B</h2>
Total earnings = 9000<br><br>
Salary = 5000 <br><br>
We know that <br><br>
Total earnings = Commission+Salary <br><br>
Commission = total earnings &minus; salary <br><br>
Commission = 9000-5000 <br><br>
Commission = 4000.<br><br>
Given that Commission = 20% of sales<br><br>
20% of Sales = 4000<br><br>
(<sup>20</sup>&frasl;<sub>100</sub>)&times;Sales = 4000 <br><br>
(<sup>1</sup>&frasl;<sub>5</sub>)&times;Sales = 4000<br><br>
Sales = 5&times;4000 <br><br>
Sales = 20000
</body>
</html>
