{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:75</h1>
<hr>
<p>
Two numbers are less than the third number by 50% and 54% respectively. By how much percent is the second number less than the first number?



</p>


<div class="div2">
	A.&nbsp;&nbsp;13

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;10

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;12

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let the numbers be X , Y and Z <br><br>
Given that X = 50% less than Z and Y = 54% less than Z <br><br>
X = 50% less than  Z <br><br>
X = Z - (<sup>50</sup>&frasl;<sub>100</sub>)Z <br><br>
X = (<sup>(100Z-50Z)</sup>&frasl;<sub>100</sub>) <br><br>
X = (<sup>50Z</sup>&frasl;<sub>100</sub>) <br><br>
X = (<sup>Z</sup>&frasl;<sub>2</sub>) <br><br>
Z = 2X--->(1) <br><br>

Y = 54% less than Z <br><br>
Y = Z - (<sup>54</sup>&frasl;<sub>100</sub>)Z <br><br>
Y = (<sup>(100Z-54Z)</sup>&frasl;<sub>100</sub>) <br><br>
Y = (<sup>46Z</sup>&frasl;<sub>100</sub>) <br><br>
Z = (<sup>100</sup>&frasl;<sub>46</sub>)Y--->(2) <br><br>

From (1) and (2) <br><br>

2X = (<sup>100</sup>&frasl;<sub>46</sub>)Y <br><br>

<sup>Y</sup>&frasl;<sub>X</sub> = <sup>(46&times;2)</sup>&frasl;<sub>100</sub> <br><br>
<sup>Y</sup>&frasl;<sub>X</sub> = <sup>92</sup>&frasl;<sub>100</sub> 
<br><br>
Y = X&times;<sup>(100-8)</sup>&frasl;<sub>100</sub>
<br><br>
Y = X-0.08X
<br><br>
Y = X - 8% of X

<br><br>
X = 80% of Y
</div>
</body>
</html>
