<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:19</h1>
<hr>
<p>
The ratio 5:4 expressed as a percent equals:




</p>


<div>
	A.&nbsp;&nbsp;125%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;80%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;40%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;12.5%

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>

5:4 = <sup>5</sup>&frasl;<sub>4</sub> <br><br>
5:4 = 1.25<br><br>
5:4 = 1.25&times;<sup>100</sup>&frasl;<sub>100</sub><br><br>
5:4 = <sup>125</sup>&frasl;<sub>100</sub><br><br>
5:4 = 125%

</body>
</html>
