<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:67</h1>
<hr>
<p>
75% of a number when added to 75 is equal to the number. The number is:


</p>


<div>
	A.&nbsp;&nbsp;225

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;270

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;300

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;325

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let the required number be X 
<br><br>
Given that 75% of X + 75 = X
<br><br>
X-(<sup>75</sup>&frasl;<sub>100</sub>)X = 75
<br><br>
(<sup>(100X-75X)</sup>&frasl;<sub>100</sub>)X = 75
<br><br>
(<sup>25X</sup>&frasl;<sub>100</sub>)X = 75
<br><br>
(<sup>X</sup>&frasl;<sub>4</sub>)X = 75
<br><br>
X = 75&times;4
<br><br>
X = 300


</body>
</html>
