{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:89</h1>
<hr>
<p>
A sum of 817 is divided among A,B and C such that A receives 25% more than B and B receives 25% less than C. what is As share in the amount?




</p>


<div class="div2">
	A.&nbsp;&nbsp;285

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;300

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;315

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that A+B+C = 817
<br><br>
Let us assume that C receives X
<br><br>
Then B receives 25% less than C
<br><br>
B = C - 25% of C
<br><br>
B = C - (<sup>25</sup>&frasl;<sub>100</sub>)C
<br><br>
B = (<sup>(100-25)</sup>&frasl;<sub>100</sub>)C
<br><br>
B = (<sup>75</sup>&frasl;<sub>100</sub>)C
<br><br>
B = (<sup>3</sup>&frasl;<sub>4</sub>)C
<br><br>
A receives 25% more than B
<br><br>
A = B + 25% of B
<br><br>
A = B + (<sup>25</sup>&frasl;<sub>100</sub>)B
<br><br>

A = (<sup>(100+25)</sup>&frasl;<sub>100</sub>)B
<br><br>
A = (<sup>125</sup>&frasl;<sub>100</sub>)B
<br><br>
A = (<sup>5</sup>&frasl;<sub>4</sub>)&times;(<sup>3</sup>&frasl;<sub>4</sub>)C
<br><br>
A = (<sup>(5&times;3)</sup>&frasl;<sub>(4&times;4)</sub>)C
<br><br>
A = (<sup>15</sup>&frasl;<sub>16</sub>)C
<br><br>
Now A:B:C = (<sup>15</sup>&frasl;<sub>16</sub>)C : (<sup>3</sup>&frasl;<sub>4</sub>)C : C
<br><br>

A:B:C = (<sup>15</sup>&frasl;<sub>16</sub>) : (<sup>3</sup>&frasl;<sub>4</sub>)&times;(<sup>4</sup>&frasl;<sub>4</sub>) : (<sup>16</sup>&frasl;<sub>16</sub>)
<br><br>

A:B:C = 15:12:16
<br><br>

As share
<br><br>
= (<sup>As portion</sup>&frasl;<sub>Sum of all portions</sub>)&times;Total amount
<br><br>

As share = (<sup>15</sup>&frasl;<sub>(15+12+16)</sub>)&times;817
<br><br>

As share = (<sup>15</sup>&frasl;<sub>43</sub>)&times;817
<br><br>

As share = (<sup>12255</sup>&frasl;<sub>43</sub>)
<br><br>

As share = 285
<br><br>

</div>
</body>
</html>
