<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:35</h1>
<hr>
<p>
What rate percent is 1 minute 12 seconds to an hour?	



</p>


<div>
	A.&nbsp;&nbsp;1%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;2%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;3%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;4%

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>


1 minute 12 seconds = (60+12) seconds = 72 seconds<br><br>
1 hour = 3600 seconds<br><br>
Required rate percent = <sup>72</sup>&frasl;<sub>3600</sub>&times;100<br><br>=2%.

</body>
</html>
