<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:16</h1>
<hr>
<p>

If x% of <sup>25</sup>&frasl;<sub>2</sub> is 150, then the value of x is?



</p>


<div>
	A.&nbsp;&nbsp;1000

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;1200

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;1400

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;1500

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Given that x% of <sup>25</sup>&frasl;<sub>2</sub> <br><br>
<sup>x</sup>&frasl;<sub>100</sub>&times;<sup>25</sup>&frasl;<sub>2</sub>= 150<br><br>
x = 150&times;<sup>2</sup>&frasl;<sub>25</sub>&times;100<br><br>
X = <sup>(150&times;2&times;100)</sup>&frasl;<sub>25</sub><br><br>
X = <sup>30000</sup>&frasl;<sub>25</sub><br><br>
X = 1200.
</body>
</html>
