<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:74</h1>
<hr>
<p>
Given A is 50% larger than C and B is 25% larger than C, then A is what percent larger then B?



</p>


<div>
	A.&nbsp;&nbsp;20%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;25%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;50%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;75%

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
Given that 
<br><br>
A = 50% more than C and B = 25% more than C <br><br>
A = 50% more than  C <br><br>
A = C + (<sup>50</sup>&frasl;<sub>100</sub>)C <br><br>
A = (<sup>(100C+50C)</sup>&frasl;<sub>100</sub>) <br><br>
A = (<sup>150C</sup>&frasl;<sub>100</sub>) <br><br>
A = (<sup>3C</sup>&frasl;<sub>2</sub>) <br><br>
C = (<sup>2</sup>&frasl;<sub>3</sub>)A--->(1) <br><br>

B = 25% more than C <br><br>
B = C + (<sup>25</sup>&frasl;<sub>100</sub>)C <br><br>
B = (<sup>(100C+25C)</sup>&frasl;<sub>100</sub>) <br><br>
B = (<sup>125C</sup>&frasl;<sub>100</sub>) <br><br>
B = (<sup>5C</sup>&frasl;<sub>4</sub>) <br><br>
C = (<sup>4</sup>&frasl;<sub>5</sub>)B--->(2) <br><br>

From (1) and (2) <br><br>

(<sup>2</sup>&frasl;<sub>3</sub>)A = (<sup>4</sup>&frasl;<sub>5</sub>)B <br><br>

<sup>A</sup>&frasl;<sub>B</sub> = <sup>(4&times;3)</sup>&frasl;<sub>(5&times;2)</sub> <br><br>
<sup>A</sup>&frasl;<sub>B</sub> = <sup>12</sup>&frasl;<sub>10</sub> 
<br><br>
A = B&times;<sup>12</sup>&frasl;<sub>10</sub> 
<br><br>
A = 1.2B
<br><br>
A = B+0.2B
<br><br>
A = B + 20% of B <br><br>
A is 20% larger than B

</body>
</html>
