{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:9</h1>
<hr>
<p>


38 litres of milk was poured into a tub and the tub was found to be 5% empty. To completely fill the tub, what amount of additional milk must be poured:
</p>


<div class="div2">
	A.&nbsp;&nbsp;1 liter

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;2 liters 

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;3 liters

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp; 4 liters

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that the tub was filled by 38 litres of milk that results 5 % empty
<br><br>
i.e. 95% of tub was filled by 38 litres of milk
<br><br>
95% = 38
<br><br>
1% = <sup>38</sup>&frasl;<sub>95</sub>
<br><br>
1% = 0.4litres
<br><br>
So to fill the tub we require 5% of milk
<br><br>
i.e. 5% of milk = 5&times;0.4
<br><br>
5% of milk = 2litres.

</div>
</body>
</html>
