<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:5</h1>
<hr>
<p>
What is the number whose 20% is 30% of 40?


</p>


<div>
	A.&nbsp;&nbsp;90

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;80

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;60

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;50

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let us that the required number be X
<br><br>
So 20% of X = 30% of 40
<br><br>
(<sup>20</sup>&frasl;<sub>100</sub>)&times;X = (<sup>30</sup>&frasl;<sub>100</sub>)&times;40
<br><br>
(<sup>1</sup>&frasl;<sub>5</sub>)&times;X = (<sup>3</sup>&frasl;<sub>10</sub>)&times;40
<br><br>
(<sup>1</sup>&frasl;<sub>5</sub>)&times;X = 3&times;4
<br><br>
X = 12&times;5
<br><br>
X = 60

</body>
</html>
