<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:99</h1>
<hr>
<p>
A man spends 12 
<sup>1</sup>&frasl;<sub>2</sub>
 % of her salary on items of daily use and 30% of the remainder on house rent. After that he is left with 2940. How much is his salary?



</p>


<div>
	A.&nbsp;&nbsp;4800

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;5200

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;4500

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;4000

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
Let the total income be X
<br><br>
Given that he 12 
<sup>1</sup>&frasl;<sub>2</sub>
% of income on daily use items.
<br><br>
Amount spend on daily use items = <sup>25</sup>&frasl;<sub>2</sub>% of X
<br><br>
Amount spend on daily use items = (<sup>25</sup>&frasl;<sub>200</sub>)X
<br><br>

Remaining amount = X - (<sup>25</sup>&frasl;<sub>200</sub>)X
<br><br>

Remaining amount = (<sup>(200X-25X)</sup>&frasl;<sub>200</sub>)
<br><br>

Remaining amount = (<sup>175X</sup>&frasl;<sub>200</sub>)X
<br><br>

Given that he spend 30% of remaining amount on house rent 
<br><br>

Money spend on rent = 30% of remaining amount
<br><br>

Money spend on rent = 35% (<sup>175X</sup>&frasl;<sub>200</sub>)
<br><br>

Money spend on rent = (<sup>30</sup>&frasl;<sub>100</sub>)&times;(<sup>175X</sup>&frasl;<sub>200</sub>)
<br><br>

Money spend on rent = (<sup>(30&times;175X)</sup>&frasl;<sub>(100&times;200)</sub>)X
<br><br>

Money spend on rent = (<sup>5250</sup>&frasl;<sub>20000</sub>)X
<br><br>

Money spend on rent = (<sup>525</sup>&frasl;<sub>2000</sub>)X
<br><br>

Now total remaining amount = X - (money on daily use items + money on rent)
<br><br>

Given that remaining amount = 2940
<br><br>

X - (<sup>25</sup>&frasl;<sub>200</sub>)X - (<sup>525</sup>&frasl;<sub>2000</sub>)X = 2940
<br><br>

<sup>(2000X-250X-525X)</sup>&frasl;<sub>2000</sub> = 2940
<br><br>

<sup>1225X</sup>&frasl;<sub>2000</sub> = 2940
<br><br>

X = 2940&times;(<sup>2000</sup>&frasl;<sub>1225</sub>)
<br><br>

X = <sup>5880000</sup>&frasl;<sub>1225</sub>
<br><br>

X = 4800




</body>
</html>
