{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:19</h1>
<hr>
<p>
The ratio 5:4 expressed as a percent equals:




</p>


<div class="div2">
	A.&nbsp;&nbsp;125%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;80%

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;40%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;12.5%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

5:4 = <sup>5</sup>&frasl;<sub>4</sub> <br><br>
5:4 = 1.25<br><br>
5:4 = 1.25&times;<sup>100</sup>&frasl;<sub>100</sub><br><br>
5:4 = <sup>125</sup>&frasl;<sub>100</sub><br><br>
5:4 = 125%

</div>
</body>
</html>
