<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:40</h1>
<hr>
<p>
One fifth of a number is 18. What will be 30% of the same number?




</p>


<div>
	A.&nbsp;&nbsp;5.4

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;24

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;60

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Let the number be X<br><br>
One fifth of the number = 18 <br><br>
(<sup>1</sup>&frasl;<sub>5</sub>)&times;X = 18 <br><br>
X = 18&times;5<br><br>
X = 90 <br><br>
Now 30% of a number is <br><br>
30% of X = (<sup>30</sup>&frasl;<sub>100</sub>)&times;X<br><br>
30% of X = (<sup>30</sup>&frasl;<sub>100</sub>)&times;90<br><br>
30% of X = (<sup>(30&times;90)</sup>&frasl;<sub>100</sub>)<br><br>
30% of X = (<sup>2700</sup>&frasl;<sub>100</sub>)<br><br>
30% of X = 27
</body>
</html>
