<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:49</h1>
<hr>
<p>
25.6% of 250 + 
<span style="white-space: nowrap;">
&radic;<span 												style="text-decoration:overline;">&nbsp;?&nbsp;</span>
</span>	 = 119





</p>


<div>
	A.&nbsp;&nbsp;4225

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;3025

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;2025

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;5625

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
<sup>(25.6&times;250)</sup>&frasl;<sub>100</sub>
 + 
<span style="white-space: nowrap;">
&radic;<span 												style="text-decoration:overline;">&nbsp;?&nbsp;</span>
</span>	
 = 119<br><br>
64+

<span style="white-space: nowrap;">
&radic;<span 												style="text-decoration:overline;">&nbsp;?&nbsp;</span>
</span>	 = 119<br><br>

<span style="white-space: nowrap;">
&radic;<span 												style="text-decoration:overline;">&nbsp;?&nbsp;</span>
</span>	 = 119-64=55<br><br>
? = 55<sup>2</sup> <br><br>
? = 3025.

</body>
</html>
