<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:87</h1>
<hr>
<p>
If numerator of fraction is increased by 20% and the denominator is decreased by 5%, the value of the new fraction becomes 
<sup>5</sup>&frasl;<sub>2</sub>
. The original fraction is:


</p>


<div>
	A.&nbsp;&nbsp;<sup>24</sup>&frasl;<sub>19</sub>

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;<sup>3</sup>&frasl;<sub>18</sub>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;<sup>95</sup>&frasl;<sub>48</sub>

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;<sup>48</sup>&frasl;<sub>95</sub>

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>

Let the original fraction is <sup>P</sup>&frasl;<sub>Q</sub> <br><br>
Given that numerator is increased by 20% 
<br><br>
i.e., P+(20% of P) = P + (<sup>20</sup>&frasl;<sub>100</sub>)P
<br><br>
Numerator = <sup>(100P+20P)</sup>&frasl;<sub>100</sub>
<br><br>
Numerator = <sup>120P</sup>&frasl;<sub>100</sub>
<br><br>
And also Denominator decreased by 5%
<br><br>
i.e, Q-(5% of Q) = Q - (<sup>5</sup>&frasl;<sub>100</sub>)Q
<br><br>
Denominator = <sup>(100Q-5Q)</sup>&frasl;<sub>100</sub>
<br><br>
Denominator = <sup>95Q</sup>&frasl;<sub>100</sub>
<br><br>
Now the fraction after changes is <sup>5</sup>&frasl;<sub>2</sub>
<br><br>

<sup>Numerator</sup>&frasl;<sub>Denominator</sub> = <sup>5</sup>&frasl;<sub>2</sub>
<br><br>

<sup>(<sup>120P</sup>&frasl;<sub>100</sub>)</sup>&frasl;<sub>(<sup>95Q</sup>&frasl;<sub>100</sub>)</sub> = <sup>5</sup>&frasl;<sub>2</sub>
<br><br>

<sup>120P</sup>&frasl;<sub>100</sub> = (<sup>5</sup>&frasl;<sub>2</sub>) &times;<sup>95Q</sup>&frasl;<sub>100</sub>
<br><br>

<sup>120P</sup>&frasl;<sub>100</sub> = <sup>(5&times;95Q)</sup>&frasl;<sub>(2&times;100)</sub>
<br><br>

<sup>120P</sup>&frasl;<sub>100</sub> = <sup>475Q</sup>&frasl;<sub>200)</sub>
<br><br>

<sup>P</sup>&frasl;<sub>Q</sub> = <sup>475</sup>&frasl;<sub>200</sub>&times;<sup>100</sup>&frasl;<sub>120</sub> <br><br>

<sup>P</sup>&frasl;<sub>Q</sub> = <sup>(475&times;100)</sup>&frasl;<sub>(200&times;120)</sub> <br><br>

<sup>P</sup>&frasl;<sub>Q</sub> = <sup>475</sup>&frasl;<sub>240</sub> <br><br>

<sup>P</sup>&frasl;<sub>Q</sub> = <sup>95</sup>&frasl;<sub>48</sub> <br><br>

</body>
</html>
