<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:53</h1>
<hr>
<p>
If 30% of a number is equal to four fifth of the another number. What is the ratio between the two numbers?



</p>


<div>
	A.&nbsp;&nbsp;3:4

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;3:8

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;8:3

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let the two numbers be X and Y
<br><br>
Given that 30% of X = four fifth of Y
<br><br>
(<sup>30</sup>&frasl;<sub>100</sub>)X = (<sup>4</sup>&frasl;<sub>5</sub>)Y
<br><br>
(<sup>3</sup>&frasl;<sub>10</sub>)X = (<sup>4</sup>&frasl;<sub>5</sub>)Y
<br><br>
<sup>X</sup>&frasl;<sub>Y</sub> = <sup>(4&times;10)</sup>&frasl;<sub>(5&times;3)</sub>
<br><br>
<sup>X</sup>&frasl;<sub>Y</sub> = <sup>40</sup>&frasl;<sub>15</sub>
<br><br>
<sup>X</sup>&frasl;<sub>Y</sub> = <sup>8</sup>&frasl;<sub>3</sub>
</body>
</html>
