{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:15</h1>
<hr>
<p>
If 120 is 20% of a number, then 120% of that number will be.




</p>


<div class="div2">
	A.&nbsp;&nbsp;20

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;120

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;480

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;720

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let the number be X<br><br>
Given that 20% of X = 120<br><br>
(<sup>20</sup>&frasl;<sub>100</sub>)&times;X = 120<br><br>
X = <sup>120&times;100</sup>&frasl;<sub>20</sub><br><br>
X = <sup>12000</sup>&frasl;<sub>20</sub><br><br>
X = 600<br><br>
Now 120% of X = <br><br>
= (<sup>120</sup>&frasl;<sub>100</sub>)&times;600<br><br>
= <sup>120&times;600</sup>&frasl;<sub>100</sub><br><br>
= <sup>72000</sup>&frasl;<sub>100</sub><br><br>
= 720


</div>
</body>
</html>
