<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:38</h1>
<hr>
<p>
If a man after spending 97% of his income, saves 300 per month, his annual income is:




</p>


<div>
	A.&nbsp;&nbsp;10000

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;12000

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;36000

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;120000

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Savings = (100-97)% = 3% of income <br><br>

3% of income = 300<br><br>
1% of income = <sup>300</sup>&frasl;<sub>3</sub><br><br>
1% of income = 100<br><br>
100% of income = 100&times;100<br><br>
Total income = 10000 per month<br><br>
For 12 months Total income = 10000&times;12<br><br>
Annual Total income = 120000<br><br>


</body>
</html>
