{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:65</h1>
<hr>
<p>
A number when increased by 25% gives 80. The number is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;60

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;64

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;96

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;100

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let the number be X
<br><br>
Given that Number increamented by 25% gives 80
<br><br>
i.e. X + 25% of X = 80
<br><br>
X+(<sup>25</sup>&frasl;<sub>100</sub>)X = 80
<br><br>
X(<sup>(100+25)</sup>&frasl;<sub>100</sub>) = 80
<br><br>
X(<sup>125</sup>&frasl;<sub>100</sub>) = 80
<br><br>
X(<sup>5</sup>&frasl;<sub>4</sub>) = 80
<br><br>
X = 80&times;<sup>4</sup>&frasl;<sub>5</sub>
<br><br>
X = <sup>320</sup>&frasl;<sub>5</sub>
<br><br>
X = 64


</div>
</body>
</html>
