<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:59</h1>
<hr>
<p>
If <sup>2</sup>&frasl;<sub>3</sub> of A = 75% of B = 0.6 of C, then A:B:C is:



</p>


<div>
	A.&nbsp;&nbsp;2:3:4

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;3:4:5

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;4:5:6

	
</div>
<br>

<div>
	D.&nbsp;&nbsp;9:8:10


</div>



<h2> <u>Answer</u>: D</h2>
<sup>2</sup>&frasl;<sub>3</sub>A=<sup>3</sup>&frasl;<sub>4</sub>B = <sup>3</sup>&frasl;<sub>5</sub>C<br><br>

<sup>2</sup>&frasl;<sub>3</sub>A=<sup>3</sup>&frasl;<sub>4</sub>B <br><br>

B = (<sup>(2&times;4)</sup>&frasl;<sub>(3&times;3)</sub>)&times;A <br><br>

B = (<sup>8</sup>&frasl;<sub>9</sub>)&times;A <br><br>

<sup>2</sup>&frasl;<sub>3</sub>A = <sup>3</sup>&frasl;<sub>5</sub>C<br><br>

C = (<sup>(2&times;5)</sup>&frasl;<sub>(3&times;3)</sub>)&times;A <br><br>

C = (<sup>10</sup>&frasl;<sub>9</sub>)&times;A <br><br>

A:B:C = A : [(<sup>8</sup>&frasl;<sub>9</sub>)&times;A] : [(<sup>10</sup>&frasl;<sub>9</sub>)&times;A] <br><br>

A:B:C = A&times;<sup>9</sup>&frasl;<sub>9</sub> : [(<sup>8</sup>&frasl;<sub>9</sub>)&times;A] : [(<sup>10</sup>&frasl;<sub>9</sub>)&times;A] <br><br>

A:B:C = 9A:8A:10A <br><br>

A:B:C = 9:8:10.


</body>
</html>
