{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:86</h1>
<hr>
<p>
Numerator of a fraction is increased by 12% and its denominator is decreased by 2%. If value of the fraction becomes <sup>4</sup>&frasl;<sub>7</sub>, find the original fraction.



</p>


<div class="div2">
	A.&nbsp;&nbsp;1

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;<sup>1</sup>&frasl;<sub>2</sub>

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;<sup>1</sup>&frasl;<sub>4</sub>

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;<sup>7</sup>&frasl;<sub>4</sub>

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let the original fraction is <sup>P</sup>&frasl;<sub>Q</sub> <br><br>
Given that numerator is increased by 12% 
<br><br>
i.e., P+(12% of P) = P + (<sup>12</sup>&frasl;<sub>100</sub>)P
<br><br>
Numerator = <sup>(100P+12P)</sup>&frasl;<sub>100</sub>
<br><br>
Numerator = <sup>112P</sup>&frasl;<sub>100</sub>
<br><br>
And also Denominator decreased by 2%
<br><br>
i.e, Q-(2% of Q) = Q - (<sup>2</sup>&frasl;<sub>100</sub>)Q
<br><br>
Denominator = <sup>(100Q-2Q)</sup>&frasl;<sub>100</sub>
<br><br>
Denominator = <sup>98Q</sup>&frasl;<sub>100</sub>
<br><br>
Now the fraction after changes is <sup>4</sup>&frasl;<sub>7</sub>
<br><br>
<sup>Numerator</sup>&frasl;<sub>Denominator</sub> = <sup>4</sup>&frasl;<sub>7</sub>
<br><br>
<sup>(<sup>112P</sup>&frasl;<sub>100</sub>)</sup>&frasl;<sub>(<sup>98Q</sup>&frasl;<sub>100</sub>)</sub> = <sup>4</sup>&frasl;<sub>7</sub>
<br><br>
<sup>112P</sup>&frasl;<sub>100</sub> = (<sup>4</sup>&frasl;<sub>7</sub>) &times;<sup>98Q</sup>&frasl;<sub>100</sub>
<br><br>
<sup>112P</sup>&frasl;<sub>100</sub> = <sup>(4&times;98Q)</sup>&frasl;<sub>(7&times;100)</sub>
<br><br>
<sup>112P</sup>&frasl;<sub>100</sub> = <sup>14Q</sup>&frasl;<sub>25)</sub>
<br><br>
<sup>P</sup>&frasl;<sub>Q</sub> = <sup>14</sup>&frasl;<sub>25</sub>&times;<sup>100</sup>&frasl;<sub>112</sub> <br><br>
<sup>P</sup>&frasl;<sub>Q</sub> = <sup>(14&times;100)</sup>&frasl;<sub>(25&times;112)</sub> <br><br>
<sup>P</sup>&frasl;<sub>Q</sub> = <sup>4</sup>&frasl;<sub>8</sub> <br><br>
<sup>P</sup>&frasl;<sub>Q</sub> = <sup>1</sup>&frasl;<sub>2</sub> <br><br>

</div>
</body>
</html>
