<html>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
    <title>Percentage Formula</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1>Formulae for Percentage.</p1>
</u></b></font>
<hr/>
<hr/>


<p><font size="4"> <u> </u></font>
    <br>
<ol>
    <li>
        If a person spends x% of his income. Then his savings is (100 - x)% of the income.

    </li>

    <br>

    <li>
        If x% of a number is y%, then the number is :

        <br><br>

        = y &times; <sup>100</sup> &frasl;<sub>x</sub>
        <br><br>
        <u>Note:</u> if y can be expressed as ax, then the number = a &times; 100.
    </li>
    <br>

    <li>
        If x% of a number is equal to y of the second number<br>
        Then ratio between first and second number
        <br><br>= <sup>1</sup>&frasl;<sub>x</sub>&nbsp; &nbsp;<b>:</b> <sup>1</sup>&frasl;<sub>y</sub> = y : x.

    </li>
    <br>


    <li>

        Two numbers are in the ratio x:y if the first number is increased by a% and the second number is increased by b%
        then
        <br><br>(a) Percentage increase in the sum of the numbers


        <br><br>= <sup>ax + by</sup>&frasl;<sub>100</sub> &nbsp; &times; <sup>100</sup>&frasl;<sub>x + y</sub> <br>
        = <sup>ax + by</sup>&frasl;<sub>x + y</sub>.


        <br><br>(b) Percentage change in difference of the number

        <br><br>= <sup>ax - by</sup>&frasl;<sub>x- y</sub>

    </li>
    <br>


    <li>

        The product of two or more numbers is increased by x% if one of the numbers is increased by x%. if the product
        of two or more numbers is decreased by x% if one of the number is decreased by x%.
    </li>
    <br>


    <li>

        If price of a commodity is changed from Rs:1 to Rs:<sup>x</sup>&frasl;<sub>y</sub>, then to maintain his
        expenditure, a consumer must buy <sup>y</sup>&frasl;<sub>x</sub> units of the commodity instead of 1 unit.


        <br><br> (hint: <sup>x</sup>&frasl;<sub>y</sub> &times; <sup>y</sup>&frasl;<sub>x</sub> = 1.)
    </li>
    <br>


    <li>

        If we have two numbers, one of them is increased by x% and the other is decreased by x%
        Then the product of the numbers will be decreased by

        <br><br>= <sup>x <sup>2</sup> </sup>&frasl;<sub>100</sub> %.
        <br><br>
        <u>Note:</u><br> This formula can be used if a number is increased by x% and then the resultant number is
        decreased by x% and vice versa.

    </li>
    <br>


    <li>

        If out of two numbers first number is increased by x% and second number is increased by y%, then percent
        increase in the product of two numbers is

        <br><br>= x + y + <sup>x y </sup>&frasl; <sub>100</sub>.
        <br><br><u>Note: </u>
        <br>
        Decrease in a number can be written as negative increase e.g. if the first number is decreased by x% then we can
        write it as (-x)% increase.
        <br><br><u>Note:</u> This formula can be used in numerous situations, such as
        <br><br>- If a number is increased by x% and then the increased number is again increased by y%, then total
        increase in percentage

        <br><br>= x + y + <sup>x y </sup>&frasl; <sub>100</sub>
        <br><br>- If a number is increased by x% and the other number is decreased by y%, then percent increase in the
        product of two numbers

        <br><br> = x + (-y) + <sup>x (-y) </sup>&frasl; <sub>100</sub>.

        <br><br>= x - y - <sup>x y </sup>&frasl; <sub>100</sub>


        <br><br><u>Alternate Methods:</u>
        <br><br><u>Method1:</u><br>
        <ol>
            <li>
                Assume that the original numbers are 10 each.
            </li>
            <li>
                Find new number after adding/subtracting percent increase/decrease in original numbers.
            </li>
            <li>
                Find product of the new numbers.
            </li>
            <li> Deduct 100 from the product of the new numbers. Balance is net increase or decrease in the product of
                two numbers.
            </li>
        </ol>
        <br><u>Method2:</u>
        <ol>
            <li>
                Let both numbers are 10 each. Then new numbers are 11 and 12.
            </li>
        </ol>
    </li>
    <br>


    <li>
        (a) if A; is 2/x more than B, then B is less than A by

        <br><br> = <sup>1</sup>&frasl;<sub>x + 1</sub>.
        <br><br>(b) If A is 1/x less than B, then B is more than A by

        <br><br>= <sup>1</sup>&frasl;<sub>x - 1</sub>.
        <br><br><u>Note:</u><br> when the fraction is <sup>a</sup>&frasl;<sub>x </sub>.
        <br><br>(a) If A is <sup>a</sup>&frasl;<sub>x </sub>. more than B, then B is less than A by

        <br><br>= <sup>a</sup>&frasl;<sub>x + a</sub>.
        <br><br>(b) If A <sup>a</sup>&frasl;<sub>x</sub> less than B, then B is more than A by

        = <br><br>= <sup>a</sup>&frasl;<sub>x - a</sub>.


        <br><br><u>

        Alternate Method:</u>


        <br><br>(a) If A is x% or <sup>x</sup> &frasl;<sub>100</sub> more than B then B is less than A by

        <br><br>= <sup>x</sup>&frasl;<sub>100 + x</sub>.
        <br><br>(b) If A is x% or <sup>x</sup> &frasl;<sub>100</sub> less than B, then B is more than A by

        <br><br>= <sup>x</sup>&frasl;<sub>100 - x</sub>.


        <br><br>

        <u><b>Important to note: </b></u>
        <br><br>
        The increase in percentage / fraction value is always more than the decrease in percentage/fraction.
        <br><br>Formula stated above can be used in numerous situations, such as:
        <br><br>
        <ol>
            <li>
                If a number is increased and then by how much the new number is to be decreased to get the original
                number and vice versa.
            </li>

            <li>
                Price of commodity is first increased and then by how much new price is to be reduced to restore to the
                original price and vice versa.
            </li>
            <li>
                If price of commodity is increased then by how much quantity purchased is to be reduced so that total
                expenditure remains constant and vice versa.

            </li>
            <li>
                If first number is more than the second number then by how much the second number is less than the first
                number and vice versa.
            </li>
        </ol>

    </li>


</ol>


</body>


</html>
