{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:100</h1>
<hr>
<p>
A man had a certain amount with him. He spent 20% of that to buy an article and 5% of the remaining on transport. Then he gifted 120. If he is left with 1400, the amount he spent on transport is:




</p>


<div class="div2">
	A.&nbsp;&nbsp;95

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;80

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;76

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;61

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let the total amount be X
<br><br>

Given that a man spends 20% of amount on an article. So he has 80% remaining
<br><br>

Money spend on an article = 20% of X
<br><br>

Money spend on an article = (<sup>20</sup>&frasl;<sub>100</sub>)X
<br><br>

Remaining amount = 80% of total amount
<br><br>

Remaining amount = 80% of X
<br><br>

Remaining amount = (<sup>80</sup>&frasl;<sub>100</sub>)X
<br><br>

Given that he spend 5% of remaining amount on transport
<br><br>

Money spend on transport = 5% of remaining amount
<br><br>
= 5% (<sup>80</sup>&frasl;<sub>100</sub>)X
<br><br>
= (<sup>5</sup>&frasl;<sub>100</sub>)&times;(<sup>80</sup>&frasl;<sub>100</sub>)X
<br><br>
= (<sup>(5&times;80)</sup>&frasl;<sub>(100&times;100)</sub>)X
<br><br>
= (<sup>400</sup>&frasl;<sub>10000</sub>)X
<br><br>

Money spend on transport = (<sup>4</sup>&frasl;<sub>100</sub>)X
<br><br>

Given that he gifted 120 from remaining.
<br><br>
Now total remaining amount = X - (money on an article+ money on transport + gift)
<br><br>

Given that remaining amount = 1400
<br><br>

X - (<sup>20</sup>&frasl;<sub>100</sub>)X - (<sup>4</sup>&frasl;<sub>100</sub>)X-120 = 1400
<br><br>

<sup>(100X-20X-4X)</sup>&frasl;<sub>100</sub> = 1400+120
<br><br>

<sup>76X</sup>&frasl;<sub>100</sub> = 1520
<br><br>

X = 1520&times;(<sup>100</sup>&frasl;<sub>76</sub>)
<br><br>

X = 20&times;100
<br><br>

X = 2000
<br><br>
So Money spend on transport = (<sup>4</sup>&frasl;<sub>100</sub>)X
<br><br>

Money spend on transport = (<sup>4</sup>&frasl;<sub>100</sub>)&times;2000
<br><br>

Money spend on transport = 4&times;20 = 80

</div>
</body>
</html>
