<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:80</h1>
<hr>
<p>
If 60% of As income is equal to 75% of Bs income, then Bs income is equal to x% of As income. The value of x is:

</p>


<div>
	A.&nbsp;&nbsp;70

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;60

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;80

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;90

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>

Let us assume that P and Q be incomes of A and B <br><br> 
Given that 60% of As income = 75% of Bs income <br><br> 
(<sup>60</sup>&frasl;<sub>100</sub>)P = (<sup>75</sup>&frasl;<sub>100</sub>)Q  <br><br>
P = (<sup>(75&times;100)</sup>&frasl;<sub>(100&times;60)</sub>)Q  <br><br>
P = (<sup>75</sup>&frasl;<sub>60</sub>)Q  <br><br>
P = (<sup>5</sup>&frasl;<sub>4</sub>)Q  <br><br>
Q = (<sup>4</sup>&frasl;<sub>5</sub>)P  <br><br>
Q = 0.8P <br><br>
Q = 80% of P <br><br>
Bs income = 80% of As income <br><br>
x = 80

</body>
</html>
