{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:1</h1>
<hr>
<p>
Half of 1 percent written as a decimal is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;0.2

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;0.002

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;0.005

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;0.0005

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

1% can be written as 
<br><br>
1% = <sup>1</sup>&frasl;<sub>100</sub>
<br><br>
1% = 0.01
<br><br>
Half of 1% is 
<br><br>
= (<sup>1</sup>&frasl;<sub>2</sub>)&times;1%
<br><br>
= (<sup>1</sup>&frasl;<sub>2</sub>)&times;0.01
<br><br>
= 0.005
<br><br>

</div>
</body>
</html>
