<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:71</h1>
<hr>
<p>
If two numbers are respectively 20% and 50% of a third number, what is the ratio between the two numbers?



</p>


<div>
	A.&nbsp;&nbsp;5:2

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;2:5

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;1:5

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;1:2

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>

Let the numbers be X , Y and Z <br><br>
Given that <br><br>X = 20% of Z and Y = 50% of Z <br><br>
X = 20% of Z <br><br>
X = (<sup>20</sup>&frasl;<sub>100</sub>)Z <br><br>
X = (<sup>1</sup>&frasl;<sub>5</sub>)Z <br><br>
Z = 5X--->(1) <br><br>

Y = 50% of Z <br><br>
Y = (<sup>50</sup>&frasl;<sub>100</sub>)Z <br><br>
Y = (<sup>1</sup>&frasl;<sub>2</sub>)Z <br><br>
Z = 2Y--->(2) <br><br>

From (1) and (2) <br><br>

5X = 2Y <br><br>
<sup>X</sup>&frasl;<sub>Y</sub> = <sup>2</sup>&frasl;<sub>5</sub> <br><br>
X:Y = 2:5





</body>
</html>
