{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:52</h1>
<hr>
<p>
A salesman receives a salary of 1000 per month and 10% commission on sales in excess of 5000. What is the amount of sales, if he earns 2000 in a particular month?





</p>


<div class="div2">
	A.&nbsp;&nbsp;10000

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;15000

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;20000

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;25000

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Total earnings = 2000<br><br>
Salary = 1000<br><br>
Commission = 2000-1000=1000 <br><br>
Given that 10% of Sales = Commision  <br><br>
(<sup>10</sup>&frasl;<sub>100</sub>)&times;Sales = 1000<br><br>
Sales = 1000&times;10<br><br>
Sales = 10000
<br><br>
Sales in excess of 5000 (to earn 1000 as commission ) is<br><br>
Total sales = 10000+5000<br><br>
Total sales = 15000

</div>
</body>
</html>
