<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:72</h1>
<hr>
<p>
Two numbers are respectively 25% and 20% less than a third number. What percent is the first number of the second?



</p>


<div>
	A.&nbsp;&nbsp;5%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;75%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;80%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;93.75%

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Let the numbers be X , Y and Z <br><br>
Given that <br><br>X = 25% less than Z and Y = 20% less than Z <br><br>
X = 25% less than  Z <br><br>
X = Z - (<sup>25</sup>&frasl;<sub>100</sub>)Z <br><br>
X = (<sup>(100Z-25Z)</sup>&frasl;<sub>100</sub>) <br><br>
X = (<sup>75Z</sup>&frasl;<sub>100</sub>) <br><br>
X = (<sup>3Z</sup>&frasl;<sub>4</sub>) <br><br>
Z = (<sup>4</sup>&frasl;<sub>3</sub>)X--->(1) <br><br>

Y = 20% less than Z <br><br>
Y = Z - (<sup>20</sup>&frasl;<sub>100</sub>)Z <br><br>
Y = (<sup>(100Z-20Z)</sup>&frasl;<sub>100</sub>) <br><br>
Y = (<sup>80Z</sup>&frasl;<sub>100</sub>) <br><br>
Y = (<sup>4Z</sup>&frasl;<sub>5</sub>) <br><br>
Z = (<sup>5</sup>&frasl;<sub>4</sub>)Y--->(2) <br><br>

From (1) and (2) <br><br>

(<sup>4</sup>&frasl;<sub>3</sub>)X = (<sup>5</sup>&frasl;<sub>4</sub>)Y <br><br>
<sup>X</sup>&frasl;<sub>Y</sub> = <sup>(5&times;3)</sup>&frasl;<sub>(4&times;4)</sub> <br><br>
<sup>X</sup>&frasl;<sub>Y</sub> = <sup>15</sup>&frasl;<sub>16</sub> 
<br><br>
X = Y&times;<sup>15</sup>&frasl;<sub>16</sub> 
<br><br>
X = 0.9375Y
<br><br>
X = 93.75% of Y
</body>
</html>
