{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:82</h2>
<hr>
<p>
    If 20% of ( P + Q ) = 50% of ( P &minus; Q ), then find P:Q.


</p>


<div class="div2">
    A.&nbsp;&nbsp;7:8


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;7:3


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;7:5


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;5:7


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given 20% of (P+Q) = 50% of (P-Q)<br><br>
(<sup>20</sup>&frasl;<sub>100</sub>)(P+Q) = (<sup>50</sup>&frasl;<sub>100</sub>)(P-Q) <br><br>
(<sup>1</sup>&frasl;<sub>5</sub>)(P+Q) = (<sup>1</sup>&frasl;<sub>2</sub>)(P-Q) <br><br>
2(P+Q) = 5(P-Q) <br><br>
2P+2Q = 5P-5Q <br><br>
5P-2P = 2Q+5Q <br><br>
3P = 7Q <br><br>
<sup>P</sup>&frasl;<sub>Q</sub> = <sup>7</sup>&frasl;<sub>3</sub> <br><br>

</div>
</body>
</html>
