<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:84</h1>
<hr>
<p>
If 50% of (x - y) = 30% of ( x + y ), then what percent of x is y?


</p>


<div>
	A.&nbsp;&nbsp;25

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;33 <sup>1</sup>&frasl;<sub>3</sub>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;40

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;400

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
Given 50% of (X-Y) = 30% of (X+Y)<br><br>
(<sup>50</sup>&frasl;<sub>100</sub>)(X-Y) = (<sup>30</sup>&frasl;<sub>100</sub>)(X+Y) <br><br>
(<sup>1</sup>&frasl;<sub>2</sub>)(X-Y) = (<sup>3</sup>&frasl;<sub>10</sub>)(X+Y) <br><br>
10(X-Y) = 6(X+Y) <br><br>
10X-10Y = 6X+6Y <br><br>
10X-6X = 6Y+10Y <br><br>
4X = 16Y <br><br>
<sup>Y</sup>&frasl;<sub>X</sub> = <sup>4</sup>&frasl;<sub>16</sub> <br><br>
<sup>Y</sup>&frasl;<sub>X</sub> = <sup>1</sup>&frasl;<sub>4</sub> <br><br>
Y = 0.25X
<br><br>
Y = 25% of X

</body>
</html>
