<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:23</h1>
<hr>
<p>
If 50% of (X-Y) = 40% of (X+Y), then what percent of X is Y?






</p>


<div>
	A.&nbsp;&nbsp;10 <sup>1</sup>&frasl;<sub>9</sub>%

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;11 <sup>1</sup>&frasl;<sub>9</sub>%

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;13 <sup>1</sup>&frasl;<sub>9</sub>%

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;21 <sup>1</sup>&frasl;<sub>9</sub>%

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Given that 50% of (x-y) = 40% of (x+y)<br><br> 
<sup>50</sup>&frasl;<sub>100</sub>&times;(x-y) = <sup>40</sup>&frasl;<sub>100</sub>&times;(x+y)<br><br> 
50X-50Y = 40X+40Y<br><br> 
50X-40X = 40Y+50Y<br><br> 
10X = 90Y<br><br> 

<sup>X</sup>&frasl;<sub>Y</sub> = <sup>90</sup>&frasl;<sub>10</sub><br><br> 

<sup>X</sup>&frasl;<sub>Y</sub> = <sup>9</sup>&frasl;<sub>1</sub><br><br> 

Y = (<sup>1</sup>&frasl;<sub>9</sub>)&times;X<br><br>

Y = (<sup>1</sup>&frasl;<sub>9</sub>)&times;<sup>100</sup>&frasl;<sub>100</sub>&times;X<br><br> 

Y = (<sup>100</sup>&frasl;<sub>9</sub>)&times;<sup>X</sup>&frasl;<sub>100</sub><br><br> 

Y = (11<sup>1</sup>&frasl;<sub>9</sub>)&times;<sup>X</sup>&frasl;<sub>100</sub><br><br> 
Y = 11<sup>1</sup>&frasl;<sub>9</sub>% of X<br><br> 
</body>
</html>
