<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:39</h1>
<hr>
<p>
A person spends 30% of monthly salary on rent, 25% on food, 20% on childrens education and 12% on electricity, and the balance of 1040 on the remaining items. What is the monthly salary of the person?





</p>


<div>
	A.&nbsp;&nbsp;8000

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;9000

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;10600

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>

Expenditure on remaining items <br><br>
= 100% -(30+25+20+12)%<br><br>
= 13%<br><br>
=1040<br><br>
Monthly salary = <sup>1040</sup>&frasl;<sub>13</sub>&times;100<br><br> = 8000.
</body>
</html>
