{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:28</h1>
<hr>
<p>
If 27% of 1380 = 36% of x, find the value of x.



</p>


<div class="div2">
	A.&nbsp;&nbsp;1035

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;4140

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;1840

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;5520

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that 27% of 1380 = 36% of X
<br><br>
(<sup>27</sup>&frasl;<sub>100</sub>)&times;1380 = (<sup>36</sup>&frasl;<sub>100</sub>)&times;X
<br><br>
(<sup>(27&times;1380)</sup>&frasl;<sub>100</sub>) = (<sup>36X</sup>&frasl;<sub>100</sub>)
<br><br>
X = (<sup>37260&times;100</sup>&frasl;<sub>(100&times;36)</sub>)
<br><br>
X = <sup>37260</sup>&frasl;<sub>36</sub>
<br><br>
X = 1035
<br><br>
</div>
</body>
</html>
