{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
    <title>Percentage Tutorial</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1>Percentage.</p1>
</u></b></font>
<hr/>
<hr/>


<ul>
    <li>

        The rules mentioned in this chapter are widely used in solving problems on discount, profit and loss, simple
        interest, compound interest, menstruation etc.
    </li>
</ul>

<p><font size="4"> <u> Percent: </u></font>

<ul>
    <li>
        Percent means per hundred or out of fraction, x% can be written as <sup>x</sup>&frasl;<sub>100</sub>.

    </li>


    <li>
        To convert percent into a fraction or decimal, divide the given number by 100.

    </li>


    <li>
        To concert a fraction or decimal into percentage, multiply the given fraction or decimal by 100.

    </li>
</ul>


<p><font size="4"> <u>Calculating the percentage: </u></font>

<ul>
    <li>
        To convert x out of y into % form, divide x by y and multiply the result by 100.<br>

        x out of y = <sup>x</sup>&frasl;<sub>y</sub> &times; 100%.

    </li>


    <li>

        Both x and y should be in the same unit.
    </li>
</ul>


<p><font size="4"> <u> Common Fractions and Equivalent Percentage: </u></font>
    <br>
<ul>
    <li>
        1 = 100%.

    </li>
    <br>
    <li>
        <sup>1</sup>&frasl;<sub>2</sub> = 50%.

    </li>
    <br>
    <li>
        <sup>1</sup>&frasl;<sub>3</sub> = 33.33%.

    </li>
    <br>
    <li>
        <sup>1</sup>&frasl;<sub>4</sub> = 25%.

    </li>
    <br>
    <li>
        <sup>1</sup>&frasl;<sub>5</sub> = 20%.

    </li>
    <br>
    <li>

        <sup>1</sup>&frasl;<sub>6</sub> = 16.67%
    </li>
    <br>
    <li>
        <sup>1</sup>&frasl;<sub>8</sub> = 12.5%.

    </li>
    <br>
    <li>
        <sup>1</sup>&frasl;<sub>9</sub> = 11.11%.

    </li>
    <br>
    <li>

        <sup>1</sup>&frasl;<sub>10</sub> = 10%.
    </li>
    <br>
    <li>

        <sup>1</sup>&frasl;<sub>11</sub> = 9.09%.
    </li>
    <br>
    <li>

        <sup>1</sup>&frasl;<sub>12</sub> = 8.33%
    </li>
    <br>
    <li>
        <sup>1</sup>&frasl;<sub>16</sub> = 6.25%.

    </li>
    <br>
    <li>
        <sup>1</sup>&frasl;<sub>20</sub> = 5%.

    </li>
    <br>
    <li>
        <sup>1</sup>&frasl;<sub>25</sub> = 4%.

    </li>
    <br>
    <li>
        <sup>1</sup>&frasl;<sub>50</sub> = 2%.

    </li>
    <br>
    <li>
        <sup>2</sup>&frasl;<sub>3</sub> = 66.67%.

    </li>
    <br>
    <li>
        <sup>2</sup>&frasl;<sub>5</sub> = 40%.

    </li>

    <br>


    <li>


        <sup>3</sup>&frasl;<sub>5</sub> = 60%.
    </li>

    <br>

    <li>

        <sup>3</sup>&frasl;<sub>4</sub> = 75%.
    </li>
</ul>


</body>


</html>
