{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:2</h1>
<hr>
<p>
What is 20% of 25% of 300?


</p>


<div class="div2">
	A.&nbsp;&nbsp;150

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;60

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;45

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;15

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
25% of 300 can be calculated as
<br><br>
25% of 300 = (<sup>25</sup>&frasl;<sub>100</sub>)&times;300
<br><br>
25% of 300 = 25&times;3
<br><br>
25% of 300  = 75
<br><br>
Now 20% of 25 % 300 is 
<br><br>
20%(25%of 300) = (<sup>20</sup>&frasl;<sub>100</sub>)&times;75
<br><br>
20% of 25 % 300 = <sup>(2&times;75)</sup>&frasl;<sub>10</sub>
<br><br>
20% of 25 % 300 = <sup>150</sup>&frasl;<sub>10</sub>
<br><br>
20% of 25 % 300 = 15

</div>
</body>
</html>
