<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:10</h1>
<hr>
<p>

The difference between 57% Of number and its 41% is 240. What is the number?

</p>


<div>
	A.&nbsp;&nbsp;1000

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;1200

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;1500

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;1800

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let the required number be X
<br><br>
(57% of X - 41% of X) = 240
<br><br>
16% of the number = 240
<br><br>(<sup>16</sup>&frasl;<sub>100</sub>)&times;X = 240
<br><br>
X = <sup>(240&times;100)</sup>&frasl;<sub>16</sub>
<br><br>
X = <sup>(24000)</sup>&frasl;<sub>16</sub>
<br><br>
X = 1500
</body>
</html>
