{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:90</h1>
<hr>
<p>
In a test consisting of 75 questions carrying one mark each. Samir answered 75% of the first 40 questions correctly. What approximate percent of the other 35 questions does he need to answer correctly to score 80% on the entire test?


</p>


<div class="div2">
	A.&nbsp;&nbsp;90

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;75

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;86

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;60

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that the total number of questions = 75
<br><br>
Given Each question carries one mark
<br><br>
For the first 40 questions samir answered 75% correctly
<br><br>
i.e. Total marks by samir = 75% of 40
<br><br>
Total marks by samir = (<sup>75</sup>&frasl;<sub>100</sub>)40
<br><br>
Total marks by samir = (<sup>3</sup>&frasl;<sub>4</sub>)40
<br><br>
Total marks by samir = 3&times;10
<br><br>
Total marks by samir = 30
<br><br>
Number of questions to answered for getting 80% of score is
<br><br>
80% of 75 = (<sup>80</sup>&frasl;<sub>100</sub>)75
<br><br>
80% of 75 = (<sup>4</sup>&frasl;<sub>5</sub>)75
<br><br>
80% of 75 = 4&times;15
<br><br>
80% of 75 = 60
<br><br>
Remaining marks to be get = 60-30 = 30
<br><br>
So Samir has to score 30 marks out of 35 questions
<br><br>
Required percentage = (<sup>30</sup>&frasl;<sub>35</sub>)&times;100
<br><br>
Required percentage = 0.8571&times;100
<br><br>
Required percentage = 85.7
<br><br>
Required percentage = 86
</div>
</body>
</html>
