{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:7</h1>
<hr>
<p>

If 30% of a number is 90, the number is:

</p>


<div class="div2">
	A.&nbsp;&nbsp;3

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;30

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;300

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;270

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let the number be x.<br><br>
Then 30% of x = 90<br><br>
<sup>30</sup>&frasl;<sub>100</sub> &times;x = 90<br><br>
x = <sup>(90&times;100)</sup>&frasl;<sub>30</sub>
<br><br>
x = <sup>9000</sup>&frasl;<sub>30</sub>
<br><br>
x = 300.

</div>
</body>
</html>
