{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:42</h1>
<hr>
<p>
605 sweets were distributed equally among children in such a way that the number of sweets received by each child is 20% of the total number of children. How many sweets did each child receive?

	


</p>


<div class="div2">
	A.&nbsp;&nbsp;24

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;11

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;45

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let number of childs = x <br><br>
Then each child got = 20% of x<br><br>
Total Sweets distributed = 20% of x &times; Number of childs<br><br>
20% of x&times;x= 605 <br><br>
(<sup>20</sup>&frasl;<sub>100</sub>)x<sup>2</sup> = 605<br><br>
(<sup>1</sup>&frasl;<sub>5</sub>)x<sup>2</sup> = 605<br><br>
x<sup>2</sup>  = 605&times;5 <br><br>
x<sup>2</sup> =3025 <br><br>
x = 55<br><br>
Each child got = 20% of 55<br><br>
Each child got  = (<sup>20</sup>&frasl;<sub>100</sub>)&times;55 <br><br>
Each child got  = (<sup>1</sup>&frasl;<sub>5</sub>)&times;55 <br><br>
Each child got  = 11

</div>
</body>
</html>
