{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:77</h1>
<hr>
<p>
If present price of sugar after 10% reduction is 18 per kg. find the original price of sugar per kg.



</p>


<div class="div2">
	A.&nbsp;&nbsp;1.80

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;10.80

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;16.20

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;20

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let original price of sugar X per kg <br><br>
After 10% reduction the price becomes 18 <br><br>
i.e. X - (10% of X) = 18 <br><br>
{ 10% = <sup>10</sup>&frasl;<sub>100</sub> = 
<sup>1</sup>&frasl;<sub>10</sub> = 0.1}
<br><br>
X - 0.1X = 18 <br><br>
0.9X = 18 <br><br>
X = <sup>18</sup>&frasl;<sub>0.9</sub> <br><br>
X = <sup>180</sup>&frasl;<sub>9</sub> <br><br>
X = 20


</div>
</body>
</html>
