<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:45</h1>
<hr>
<p>
If 60% of As income is equal to 75% of Bs income, then Bs income is equal to x% of As income. The value of x is:




</p>


<div>
	A.&nbsp;&nbsp;70

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;60

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;80

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;90

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Given that 60% of As income = 75% of Bs income
<br><br>
Let incomes of A and B be P and Q
<br><br>
(<sup>60</sup>&frasl;<sub>100</sub>)&times;P = (<sup>75</sup>&frasl;<sub>100</sub>)&times;Q
<br><br>
Q = [<sup>(60&times;100)</sup>&frasl;<sub>(100&times;75)</sub>)]&times;P 
<br><br>
Q = 0.8&times;P
<br><br>
Q = 0.8&times;(<sup>100</sup>&frasl;<sub>100</sub>)&times;P
<br><br>
Q = (<sup>80</sup>&frasl;<sub>100</sub>)&times;P
<br><br>
Q = 80% of P
<br><br>
So X = 80
</body>
</html>
