<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:78</h1>
<hr>
<p>
The difference of two numbers is 45% of their sum. The ratio of the larger number to the smaller number is:



</p>


<div>
	A.&nbsp;&nbsp;20:9

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;9:20

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;29:11

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;11:29

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let the numbers be X and Y (X>Y) <br><br>
Given that difference of two numbers is 45% of their sum <br><br>
i.e. X-Y = 45%(X+Y)<br><br>
X-Y = (<sup>45</sup>&frasl;<sub>100</sub>)(X+Y) <br><br>
X-Y = (<sup>9</sup>&frasl;<sub>20</sub>)(X+Y) <br><br>
20(X-Y) = 9(X+Y) <br><br>
20X-20Y = 9X+9Y <br><br>
20X-9X = 9Y+20Y <br><br>
11X = 29Y <br><br>
<sup>X</sup>&frasl;<sub>Y</sub> = <sup>29</sup>&frasl;<sub>11</sub> <br><br>



</body>
</html>
