{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:70</h1>
<hr>
<p>
There are some coins and rings of either gold or silver in a box. 60% of the objects are coins. 40% of the rings are of gold and 30% of the coins are of silver. What is the percentage of gold articles?


</p>


<div class="div2">
	A.&nbsp;&nbsp;16

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;27

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;58

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;70

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that 60% of objects are coins, So remaining 40% of objects are rings.
<br><br>
And also 30% of coins are silver that means 70% of coins are gold.
<br><br>
And 40% of rings are gold.
<br><br>
Total percentage of Gold = % of gold in coins + % of gold in rings
<br><br>
Total percentage of Gold = [60% of coins &times; 70% of gold in coins] + [40% of rings &times;40% of gold in rings]
<br><br>
Total percentage of Gold = [<sup>60</sup>&frasl;<sub>100</sub>&times;<sup>70</sup>&frasl;<sub>100</sub>] + [<sup>40</sup>&frasl;<sub>100</sub>&times;<sup>40</sup>&frasl;<sub>100</sub>]
<br><br>
Total percentage of Gold 
<br><br>
= [<sup>42</sup>&frasl;<sub>100</sub>] + [<sup>16</sup>&frasl;<sub>100</sub>]
<br><br>
Total percentage of Gold = <sup>(42+16)</sup>&frasl;<sub>100</sub>
<br><br>
Total percentage of Gold = <sup>58</sup>&frasl;<sub>100</sub>
<br><br>
Total percentage of Gold = 58%
</div>
</body>
</html>
