{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:43</h1>
<hr>
<p>
In a class of 65 students and 4 teachers, each students got sweets that are 20% of total number of students and each teacher got sweets that are 40% of the total number of students. How many sweets were there?



</p>


<div class="div2">
	A.&nbsp;&nbsp;845

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;897

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;949

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;104

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Each student got = 20% of 65<br><br>
= 13 sweets<br><br>
Each teacher got = 40% of 65<br><br>
= 26 sweets<br><br>
Total number of sweets = 65&times;13+4&times;26<br><br>
=845+104<br><br>
=949.

</div>
</body>
</html>
