{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:91</h1>
<hr>
<p>
In an examination, 70% students qualified from school A. there are 20% more students in school B than in school A and number of students qualified in the exam are 50% more than the students qualified from school A. what is the percentage of students qualified to the number of students appeared from school B?

</p>


<div class="div2">
	A.&nbsp;&nbsp;30%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;70%

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;87.5

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;78.5%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let the number of students in school A be X
<br><br>
Number of students qualified from school A = 70%
<br><br>
A<sub>q</sub> = (<sup>70</sup>&frasl;<sub>100</sub>)X
<br><br>
The number of students in school B is 20% more than in school A
<br><br>
Let number of students in school B be Y
<br><br>
So Y = X+(20% of X)
<br><br>
Y = X + (<sup>20</sup>&frasl;<sub>100</sub>)X
<br><br>
Y = <sup>(100X+20X)</sup>&frasl;<sub>100</sub>
<br><br>
Y = <sup>120X</sup>&frasl;<sub>100</sub>
<br><br>
Given that number of students qualified from school B is 50% more than in school A
<br><br>
B<sub>q</sub> = A<sub>q</sub> + 50% of A<sub>q</sub>
<br><br>
B<sub>q</sub> = A<sub>q</sub> + (<sup>50</sup>&frasl;<sub>100</sub>)(A<sub>q</sub>)
<br><br>
B<sub>q</sub> = A<sub>q</sub> + (<sup>1</sup>&frasl;<sub>2</sub>)(A<sub>q</sub>)
<br><br>
B<sub>q</sub> = (<sup>(2+1)</sup>&frasl;<sub>2</sub>)(A<sub>q</sub>)
<br><br>
B<sub>q</sub> = (<sup>3</sup>&frasl;<sub>2</sub>)(A<sub>q</sub>)
<br><br>
B<sub>q</sub> = (<sup>3</sup>&frasl;<sub>2</sub>)&times;(<sup>70</sup>&frasl;<sub>100</sub>)X
<br><br>
B<sub>q</sub> = (<sup>(3&times;70)</sup>&frasl;<sub>(2&times;100)</sub>)X
<br><br>
B<sub>q</sub> = (<sup>210</sup>&frasl;<sub>200</sub>)X
<br><br>
B<sub>q</sub> = (<sup>105</sup>&frasl;<sub>100</sub>)X
<br><br>
Now we need to calculate percentage of number of students qualified to total number of students from school B
<br><br>
i.e., <sup>B<sub>q</sub></sup>&frasl;<sub>Y</sub> = [(<sup>105</sup>&frasl;<sub>100</sub>)X]&divide;[(<sup>120</sup>&frasl;<sub>100</sub>)X]
<br><br>
<sup>B<sub>q</sub></sup>&frasl;<sub>Y</sub> = <sup>105</sup>&frasl;<sub>120</sub>
<br><br>
<sup>B<sub>q</sub></sup>&frasl;<sub>Y</sub> = <sup>7</sup>&frasl;<sub>8</sub>
<br><br>
<sup>B<sub>q</sub></sup>&frasl;<sub>Y</sub> = 0.875
<br><br>
Required percentage is 87.5%

</div>
</body>
</html>
