{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:96</h1>
<hr>
<p>
A man spends 10% of his income on food and 80%, of the remaining income on clothing. If he still has a balance of 180, what is his total income?



</p>


<div class="div2">
	A.&nbsp;&nbsp;2000

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;1800

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;1000

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;900

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let the total income be X
<br><br>
Given that a man spends 10% of income on food. So he has 90% remaining
<br><br>

Money spend on food = 10% of X
<br><br>

Money spend on food = (<sup>10</sup>&frasl;<sub>100</sub>)X
<br><br>

Remaining amount = 90% of income
<br><br>

Remaining amount = 90% of X
<br><br>

Remaining amount = (<sup>90</sup>&frasl;<sub>100</sub>)X
<br><br>

Given that he spend 80% of remaining amount on clothing 
<br><br>

Money spend on clothing 
<br><br>
= 80% of remaining amount
<br><br>
= 80% (<sup>90</sup>&frasl;<sub>100</sub>)X
<br><br>
= (<sup>80</sup>&frasl;<sub>100</sub>)&times;(<sup>90</sup>&frasl;<sub>100</sub>)X
<br><br>
= (<sup>(80&times;90)</sup>&frasl;<sub>(100&times;100)</sub>)X
<br><br>
= (<sup>7200</sup>&frasl;<sub>10000</sub>)X
<br><br>

Money spend on clothing = (<sup>72</sup>&frasl;<sub>100</sub>)X
<br><br>

Now total remaining amount = X - (money on food+money on clothing)
<br><br>

Given that remaining amount = 180
<br><br>

X - (<sup>10</sup>&frasl;<sub>100</sub>)X - (<sup>72</sup>&frasl;<sub>100</sub>)X = 180
<br><br>

<sup>(100X-10X-72X)</sup>&frasl;<sub>100</sub> = 180
<br><br>

<sup>18X</sup>&frasl;<sub>100</sub> = 180
<br><br>

X = 180&times;(<sup>100</sup>&frasl;<sub>18</sub>)
<br><br>

X = 10&times;100
<br><br>

X = 1000



</div>
</body>
</html>
