<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:15</h1>
<hr>
<p>
If 120 is 20% of a number, then 120% of that number will be.




</p>


<div>
	A.&nbsp;&nbsp;20

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;120

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;480

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;720

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Let the number be X<br><br>
Given that 20% of X = 120<br><br>
(<sup>20</sup>&frasl;<sub>100</sub>)&times;X = 120<br><br>
X = <sup>120&times;100</sup>&frasl;<sub>20</sub><br><br>
X = <sup>12000</sup>&frasl;<sub>20</sub><br><br>
X = 600<br><br>
Now 120% of X = <br><br>
= (<sup>120</sup>&frasl;<sub>100</sub>)&times;600<br><br>
= <sup>120&times;600</sup>&frasl;<sub>100</sub><br><br>
= <sup>72000</sup>&frasl;<sub>100</sub><br><br>
= 720


</body>
</html>
