<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:63</h1>
<hr>
<p>
The sum of 5% of a number and 4% of the other number is equal to 
<sup>2</sup>&frasl;<sub>3</sub>
 of sum of 6% of the first number and 8% of the second number. The ratio of the first number to the second is:



</p>


<div>
	A.&nbsp;&nbsp;2:3

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;3:2

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;3:4

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;4:3

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>


Let the numbers be x and y<br><br>
Then 
<br><br>
5% of x+4% of y = <sup>2</sup>&frasl;<sub>3</sub>&times;(6%of x +8% of y )<br><br>
3(5% of x+4% of y) = 2&times;(6%of x +8% of y )
<br><br>
15% of x + 12 % of y = 12 % of x + 16% of y<br><br> 
3% of x = 4% of y <br><br>
X:y = 4:3.

</body>
</html>
