<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:47</h1>
<hr>
<p>
A reduction in the price of apples enables a person to purchase 3 apples for 1 instead of 1.25. what is the % of reduction in price(approximately)


</p>


<div>
	A.&nbsp;&nbsp;20

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;25

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;30

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;33

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
Total amount for 3 apples at Rs.1 = 3&times;1
<br><br>
Total amount for 3 apples at Rs.1 = 3
<br><br>
Total amount for 3 apples at Rs.1.25 = 3&times;1.25
<br><br>
Total amount for 3 apples at Rs.1 = 3.75
<br><br>
Reduction in amount = 3.75-3 = 0.75
<br><br>
% of reduction = 
<br><br>
(<sup>Reduction in amount</sup>&frasl;<sub>Total amount for 3 apples at Rs.1.25 </sub>)&times;100
<br><br>
% of reduction = (<sup>0.75</sup>&frasl;<sub>3.75</sub>)&times;100
<br><br>
% of reduction = (<sup>0.75&times;100</sup>&frasl;<sub>3.75</sub>)
<br><br>
% of reduction = (<sup>75</sup>&frasl;<sub>3.75</sub>)
<br><br>
% reduction = 20
</body>
</html>
