{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:69</h1>
<hr>
<p>

Bovina spent 44668 on her air tickets, 56732 on buying gifts for the family members and the remaining 22% of the total amount she had as cash with her. What was the total amount?


</p>


<div class="div2">
	A.&nbsp;&nbsp;28600

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;130000

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;101400

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Given that She spent 44668 and 56732 from total amount for tickets and gifts.
<br><br>
Total money spent on others = 44668+56732
<br><br>
Total money spent on others = 101400
<br><br>
Given that 22% amount kept with her i.e he spent 78% for others
<br><br>
78% of Total amount = 101400
<br><br>
(<sup>78</sup>&frasl;<sub>100</sub>)&times;Total amount = 101400
<br><br>
Total Amount = 101400 &times;(<sup>100</sup>&frasl;<sub>78</sub>)
<br><br>
Total Amount = (<sup>10140000</sup>&frasl;<sub>78</sub>)
<br><br>
Total Amount = 130000
</div>
</body>
</html>
