{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:6</h1>
<hr>
<p>
If 36% of 36 = 54% of x, find the value of x?


</p>


<div class="div2">
	A.&nbsp;&nbsp;24

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;36

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;54

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that 36% of 36 = 54% of X
<br><br>
(<sup>36</sup>&frasl;<sub>100</sub>)&times;36 = (<sup>54</sup>&frasl;<sub>100</sub>)&times;X
<br><br>
(<sup>9</sup>&frasl;<sub>25</sub>)&times;36 = (<sup>27</sup>&frasl;<sub>50</sub>)&times;X
<br><br>
X = (<sup>(9&times;50)</sup>&frasl;<sub>(25&times;27)</sub>)&times;36
<br><br>
X = (<sup>2</sup>&frasl;<sub>3</sub>)&times;36
<br><br>
X = 2&times;12
<br><br>
X = 24

</div>
</body>
</html>
