{% load static %}
 <html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:98</h1>
<hr>
<p>
A  fruit seller bought some mangoes of which 10% were rotten. He sold 46

<sup>2</sup>&frasl;<sub>3</sub>% 

of the rest. If he still has 192 mangoes, the total number of mangoes, originally bought by him by him was:



</p>


<div class="div2">
	A.&nbsp;&nbsp;375

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;400

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;425

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;450

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let the total number of mangoes be X
<br><br>
Given that 10% of mangeos are rotten. So he has 90% of mangoes left
<br><br>

Total mangoes rotten = 10% of X
<br><br>

Total mangoes rotten = (<sup>10</sup>&frasl;<sub>100</sub>)X
<br><br>

Remaining mangoes = 90% of total mangoes
<br><br>

Remaining mangoes = 90% of X
<br><br>

Remaining mangoes = (<sup>90</sup>&frasl;<sub>100</sub>)X
<br><br>

Given that he sold 46
<sup>2</sup>&frasl;<sub>3</sub>% mangoes
<br><br>

Mangoes sold =  46
<sup>2</sup>&frasl;<sub>3</sub>% of remaining mangoes
<br><br>

Mangoes sold =  <sup>140</sup>&frasl;<sub>3</sub>% of remaining mangoes
<br><br>

Mangoes sold =<sup>140</sup>&frasl;<sub>3</sub> 
%&times;(<sup>90</sup>&frasl;<sub>100</sub>)X
<br><br>

Mangoes sold = (<sup>140</sup>&frasl;<sub>300</sub>)&times;(<sup>90</sup>&frasl;<sub>100</sub>)X
<br><br>

Mangoes sold = (<sup>(140&times;90)</sup>&frasl;<sub>(300&times;100)</sub>)X
<br><br>

Mangoes sold = (<sup>12600</sup>&frasl;<sub>30000</sub>)X
<br><br>

Mangoes sold = (<sup>126</sup>&frasl;<sub>300</sub>)X
<br><br>

Now total remaining mangoes = X - (mangoes rotten + Mangoes sold)
<br><br>

Given that remaining amount = 192
<br><br>

X - (<sup>10</sup>&frasl;<sub>100</sub>)X - (<sup>126</sup>&frasl;<sub>300</sub>)X = 192
<br><br>

<sup>(300X-30X-126X)</sup>&frasl;<sub>300</sub> = 192
<br><br>

<sup>144X</sup>&frasl;<sub>300</sub> = 192
<br><br>

X = 192&times;(<sup>300</sup>&frasl;<sub>144</sub>)
<br><br>

X = <sup>57600</sup>&frasl;<sub>144</sub>

X = 400
<br><br>

</div>
</body>
</html>


