<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:36</h1>
<hr>
<p>
A fruit seller sells 30% apples and still has 630 apples in the stock. How many apples had he bought?




</p>


<div>
	A.&nbsp;&nbsp;189

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;700

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;900

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;2100

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Stock left unsold = (100-30)% <br><br>
=70% <br><br>
70% = 630 apples<br><br>
1% = <sup>630</sup>&frasl;<sub>70</sub><br><br>
1% = 9<br><br>
100% = 9&times;100<br><br>
100% = 900<br><br>
Total apples = 900<br><br>


</body>
</html>
