{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:46</h1>
<hr>
<p>
Deepa bought a calculator with 30% discount on the listed price. Had she not got the discount, she would have paid 82.50 extra. At what price did she buy the calculator?




</p>


<div class="div2">
	A.&nbsp;&nbsp;192.50

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;275

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;117.85

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Discount = 30% of list price <br><br> 
Let the list price be X<br><br> 
30% Of list price = 82.50 <br><br>
30% of X = 82.50<br><br> 
(<sup>30</sup>&frasl;<sub>100</sub>)&times;X = 82.50
<br><br> 
X = (<sup>100</sup>&frasl;<sub>30</sub>)&times;82.50
<br><br> 
X = <sup>100&times;82.50</sup>&frasl;<sub>30</sub>
<br><br> 
X = <sup>8250</sup>&frasl;<sub>30</sub>
<br><br> 
X = 275
<br><br> 
So total price paid by deepa = Lised price - Discount
<br><br> 
Total price paid by deepa = 275-82.50
<br><br> 
Total price paid by deepa = 192.5
</div>
</body>
</html>
