<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:11</h1>
<hr>
<p>

The total number of boys in a school is 15% more than the total number of girls in the school. What is the ratio of number of boys to the number of girls in the school?

</p>


<div>
	A.&nbsp;&nbsp;13:7

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;7:13

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;23:20

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let  the number of boys and girls in the school be X and Y
<br><br>
Given that The total number of boys in a school is 15% more than the total number of girls
<br><br>
Given that the number of boys = Number of girls +15% of girls
<br><br>
X = Y+[ Y&times;(<sup>15</sup>&frasl;<sub>100</sub>) ]
<br><br>
X = Y+( <sup>15Y</sup>&frasl;<sub>100</sub> )
<br><br>
X = <sup>(100Y+15Y)</sup>&frasl;<sub>100</sub>
<br><br>
X = <sup>115Y</sup>&frasl;<sub>100</sub>
<br><br>
<sup>X</sup>&frasl;<sub>Y</sub> = <sup>23</sup>&frasl;<sub>20</sub>


</body>
</html>
