<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:34</h1>
<hr>
<p>

To pass an examination, a candidate needs 40% marks. All questions carry equal marks. A candidate just passed by getting 10 answers correct by attempting 15 of the total questions. How many questions are there in the examination?


</p>


<div>
	A.&nbsp;&nbsp;25

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;30

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;40

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;45

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>

40% of questions = 10 <br><br>
1% of questions = <sup>10</sup>&frasl;<sub>40</sub><br><br>
1% of questions = 0.25<br><br>
Total questions = 100% of questions<br><br>
Total questions = 100&times;0.25<br><br>
Total questions = 25<br><br>



</body>
</html>
