{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:29</h1>
<hr>
<p>
The total number of students in two schools A and B is 990. If the number of students of school A is decreased by 5% and the number of students of school B is increased by 14% the number of students of the two schools will become equal. The ratio of the number of students of school A and B is:
	
	



</p>


<div class="div2">
	A.&nbsp;&nbsp;5:6

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;6:5

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;115:84

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;84:115

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let the number of students in School A and B be X and Y
<br><br>
Given that A+B = 990
<br><br>
When number of students of school A decreased by 5% and number of students of School B increased by 14%, number of students in both the schools are equal
<br><br>
Number of students in school 
<br><br>
A = X-(5% of X)
<br><br>
Number of students in school 
<br><br>
A = X-(<sup>5</sup>&frasl;<sub>100</sub>&times;X)
<br><br>
Number of students in school 
<br><br>
A = X-(<sup>5X</sup>&frasl;<sub>100</sub>)
<br><br>
Number of students in school
<br><br>
A = <sup>(100X-5X)</sup>&frasl;<sub>100</sub>
<br><br>
Number of students in school 
<br><br>
A = <sup>95X</sup>&frasl;<sub>100</sub>
<br><br>
Number of students in school 
<br><br>
B = Y+(14% of Y)
<br><br>
Number of students in school 
<br><br>
B = Y+(<sup>14</sup>&frasl;<sub>100</sub>&times;Y)
<br><br>
Number of students in school 
<br><br>
B = Y+<sup>14Y</sup>&frasl;<sub>100</sub>
<br><br>
Number of students in school 
<br><br>
B = <sup>(100Y+14Y)</sup>&frasl;<sub>100</sub>
<br><br>
Number of students in school 
<br><br>
B = <sup>114Y</sup>&frasl;<sub>100</sub>
<br><br>
Number of students of both the schools are equal
<br><br>
i.e.<sup> 95X</sup>&frasl;<sub>100</sub> = <sup>114Y</sup>&frasl;<sub>100</sub>
<br><br>
95X = 114Y
<br><br>
<sup>X</sup>&frasl;<sub>Y</sub> = <sup>114</sup>&frasl;<sub>95</sub>
<br><br>
<sup>X</sup>&frasl;<sub>Y</sub> = <sup>6</sup>&frasl;<sub>5</sub>

</div>
</body>
</html>
