<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:50</h1>
<hr>
<p>
A salesman receives slary of 4000 per month and 10% commission on total sales. What is his earnings. If sales is 20000?





</p>


<div>
	A.&nbsp;&nbsp;3000

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;5000

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;6000

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;8000

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Salary = 4000<br><br>
Given that commision on sales = 10%<br><br>
Total Number of sales = 20000<br><br>
Commission = 10% of 20000=2000 <br><br>
Total earnings = Salary+Commision<br><br>
Total earnings = 4000+2000<br><br>
Total earnings = 6000

</body>
</html>
