<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:68</h1>
<hr>
<p>
When 60% of a number is added to 48, the result is the number itself. What is the number?

</p>


<div>
	A.&nbsp;&nbsp;80

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;90

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;120

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let the required number be X 
<br><br>
Given that 48 + 60% of X = X
<br><br>
X-(<sup>60</sup>&frasl;<sub>100</sub>)X = 48
<br><br>
(<sup>(100X-60X)</sup>&frasl;<sub>100</sub>) = 48
<br><br>
(<sup>40X</sup>&frasl;<sub>100</sub>) = 48
<br><br>
(<sup>2X</sup>&frasl;<sub>5</sub>)X = 48
<br><br>
X = 48&times;<sup>5</sup>&frasl;<sub>2</sub>
<br><br>
X = 120

</body>
</html>
