{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:18</h1>
<hr>
<p>
If p% of p is 36, then p is equal to:



</p>


<div class="div2">
	A.&nbsp;&nbsp;3600

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;600

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;60

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;15

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
P% of p = 36<br><br>
(<sup>p</sup>&frasl;<sub>100</sub>)&times;p = 36 <br><br>
p<sup>2</sup> = 3600 <br><br>
p=60



</div>
</body>
</html>
