<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:18</h1>
<hr>
<p>
If p% of p is 36, then p is equal to:



</p>


<div>
	A.&nbsp;&nbsp;3600

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;600

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;60

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;15

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
P% of p = 36<br><br>
(<sup>p</sup>&frasl;<sub>100</sub>)&times;p = 36 <br><br>
p<sup>2</sup> = 3600 <br><br>
p=60



</body>
</html>
