{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:64</h1>
<hr>
<p>
A number when decreased by 20% gives 80. The number is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;60

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;64

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;96

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;100

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let the number be X
<br><br>
Given that Number decreamented by 20% gives 80
<br><br>
i.e. X - 20% of X = 80
<br><br>
X-(<sup>20</sup>&frasl;<sub>100</sub>)X = 80
<br><br>
X(<sup>(100-20)</sup>&frasl;<sub>100</sub>) = 80
<br><br>
X(<sup>80</sup>&frasl;<sub>100</sub>) = 80
<br><br>
X(<sup>1</sup>&frasl;<sub>100</sub>) = 1
<br><br>
X = 100


</div>
</body>
</html>
