<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:95</h1>
<hr>
<p>
Radha spends 40% of her salary on food 20% on house rent, 10% on entertainment and 10% on conveyance. If her savings at the end of a month are 1500, then her salary per month is:


</p>


<div>
	A.&nbsp;&nbsp;8000

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;7500

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;6000

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;10000

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>

Total amount spend 
<br><br>
= (40+20+10+10)% 
<br><br>
= 80%<br><br>
Savings = 100%-80% = 20% <br><br>
20% of income = 1500 <br><br>
(<sup>20</sup>&frasl;<sub>100</sub>)Total income = 1500
<br><br>
Total income = 1500&times;<sup>100</sup>&frasl;<sub>20</sub>
<br><br>
Total income = 75&times;100
<br><br>
Total income = 7500


</body>
</html>
