{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:12</h1>
<hr>
<p>
If the difference between 73% of a number and 48% of the same number is 615, what is 15% of the number?


</p>


<div class="div2">
	A.&nbsp;&nbsp;123

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;92.75

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;369

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let the number be x<br><br>
Given the difference between 73% of a number and 48% of a number is 615<br><br>
Then (73-48)% of x = 615<br><br> 
25% of x = 615 <br><br>
x&times;<sup>25</sup>&frasl;<sub>100</sub> = 615<br><br>
x = <sup>100&times;615</sup>&frasl;<sub>25</sub><br><br>
x = <sup>61500</sup>&frasl;<sub>25</sub><br><br>
x = 2460<br><br>
Now 15% of a number is <br><br>
15% of x = (<sup>15</sup>&frasl;<sub>100</sub>)&times;2460<br><br>
15% of x = <sup>36900</sup>&frasl;<sub>100</sub><br><br>
15% of x = 369<br><br>

</div>
</body>
</html>
