{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:66</h1>
<hr>
<p>
When 60 is subtracted from 60% of a number, the result is 60. The number is:

</p>


<div class="div2">
	A.&nbsp;&nbsp;120

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;150

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;180

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;200

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let the required number be X 
<br><br>
Given that 60% of X - 60 = 60
<br><br>
(<sup>60</sup>&frasl;<sub>100</sub>)X = 120
<br><br>
(<sup>3</sup>&frasl;<sub>5</sub>)X = 120
<br><br>
X = 120&times;<sup>5</sup>&frasl;<sub>3</sub>
<br><br>
X = 200
</div>
</body>
</html>
