{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:97</h1>
<hr>
<p>
Mr.giridhar spends 50% of his monthly income on household items and out of the remaining he spends 50% on transport, 25% on entertainment, 10% on sports and remaining amount of 900 is saved. What is Mr.giridhars monthly income?




</p>


<div class="div2">
	A.&nbsp;&nbsp;6000

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;12000

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;9000

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let the total income be X
<br><br>
Given that 50% of his income spent on household items. So he has 90% remaining
<br><br>

Money spend on household items
<br><br>
= 50% of X
<br><br>
= (<sup>50</sup>&frasl;<sub>100</sub>)X
<br><br>

Remaining amount = 50% of income
<br><br>

Remaining amount = 50% of X
<br><br>

Remaining amount = (<sup>50</sup>&frasl;<sub>100</sub>)X
<br><br>

Given that he spend 50% on transport,25% on entertainment, 10% on sports of remaining amount. 
<br><br>

Money spend on others = (50%+25%+10%) of remaining amount
<br><br>
= 85% of remaining amount
<br><br>
= 85% (<sup>50</sup>&frasl;<sub>100</sub>)X
<br><br>
= (<sup>85</sup>&frasl;<sub>100</sub>)&times;(<sup>50</sup>&frasl;<sub>100</sub>)X
<br><br>

Money spend on others = (<sup>(85&times;50)</sup>&frasl;<sub>(100&times;100)</sub>)X
<br><br>
= (<sup>4250</sup>&frasl;<sub>10000</sub>)X
<br><br>

=(<sup>425</sup>&frasl;<sub>1000</sub>)X
<br><br>

Now total remaining amount = X - (money on household+money on others)
<br><br>

Given that remaining amount = 900
<br><br>

X - (<sup>50</sup>&frasl;<sub>100</sub>)X - (<sup>425</sup>&frasl;<sub>1000</sub>)X = 900
<br><br>

<sup>(1000X-500X-425X)</sup>&frasl;<sub>1000</sub> = 900
<br><br>

<sup>75X</sup>&frasl;<sub>1000</sub> = 900
<br><br>

X = 900&times;(<sup>1000</sup>&frasl;<sub>75</sub>)
<br><br>

X = 12&times;1000
<br><br>

X = 12000


</div>
</body>
</html>
