{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:31</h1>
<hr>
<p>
If rate of income tax is increased from 20% to 25%. Find the additional amount of tax, a person has to pay, if his total income is 40,000.




</p>


<div class="div2">
	A.&nbsp;&nbsp;2000

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;2500

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;8000

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;10000

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Total tax paid by a person for 40000 at 20% is 
<br><br>
= (<sup>20</sup>&frasl;<sub>100</sub>)&times;40000
<br><br>
= <sup>(20&times;40000</sup>&frasl;<sub>100</sub>)
<br><br>
= <sup>(800000</sup>&frasl;<sub>100</sub>)
<br><br>
= 8000
<br><br>
Total tax paid by a person for 40000 at 25% is 
<br><br>
= (<sup>25</sup>&frasl;<sub>100</sub>)&times;40000
<br><br>
= <sup>(25&times;40000</sup>&frasl;<sub>100</sub>)
<br><br>
= <sup>(1000000</sup>&frasl;<sub>100</sub>)
<br><br>
= 10000
<br><br>
So the additional amount paid by a person is 
<br><br>
= 10000-8000
<br><br>
= 2000
</div>
</body>
</html>
