{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:76</h1>
<hr>
<p>
If the sales tax be reduced from 3 <sup>1</sup>&frasl;<sub>2</sub> % to 3 <sup>1</sup>&frasl;<sub>3</sub>  %, what difference does it make to a person who purchase an article whose marked pricei is 8400?


</p>


<div class="div2">
	A.&nbsp;&nbsp;20

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;15

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;14

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;10

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Tax paid for 8400 at 3 <sup>1</sup>&frasl;<sub>2</sub> % is 
<br><br>
= 8400&times;3 <sup>1</sup>&frasl;<sub>2</sub> %
<br><br>
= 8400&times;<sup>7</sup>&frasl;<sub>200</sub>
<br><br>
= 42&times;7
<br><br>
= 294
<br><br>
Tax paid for 8400 at 3 <sup>1</sup>&frasl;<sub>3</sub> % is 
<br><br>
= 8400&times;3 <sup>1</sup>&frasl;<sub>3</sub> %
<br><br>
= 8400&times;<sup>10</sup>&frasl;<sub>300</sub>
<br><br>
= 28&times;10
<br><br>
= 280
<br><br>
Difference between Taxes is 
<br><br>
294-280 = 14
</div>
</body>
</html>
