<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:1</h1>
<hr>
<p>
Half of 1 percent written as a decimal is:


</p>


<div>
	A.&nbsp;&nbsp;0.2

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;0.002

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;0.005

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;0.0005

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>

1% can be written as 
<br><br>
1% = <sup>1</sup>&frasl;<sub>100</sub>
<br><br>
1% = 0.01
<br><br>
Half of 1% is 
<br><br>
= (<sup>1</sup>&frasl;<sub>2</sub>)&times;1%
<br><br>
= (<sup>1</sup>&frasl;<sub>2</sub>)&times;0.01
<br><br>
= 0.005
<br><br>

</body>
</html>
