{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:93</h1>
<hr>
<p>
Vipul decided to donate 5% of his salary. On the day of donation he changed his mind and donated 1687.50 which was 75% of what he had decided earlier. How much is vipuls salary?



</p>


<div class="div2">
	A.&nbsp;&nbsp;37500

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;45000

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;33750

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let vipul salary = X<br><br>
Then 5% of 75% of X = 1687.50 <br><br>
<sup>5</sup>&frasl;<sub>100</sub> &times; <sup>75</sup>&frasl;<sub>100</sub> &times; X = 1687.50
<br><br>
(<sup>(5&times;75)</sup>&frasl;<sub>(100&times;100)</sub>) X = 1687.50
<br><br>
(<sup>375</sup>&frasl;<sub>10000)</sub>) X = 1687.50
<br><br>
X = 1687.50&times;<sup>10000</sup>&frasl;<sub>375)</sub>
<br><br>
X = <sup>16875000</sup>&frasl;<sub>375)</sub>
<br><br>
X = 45000

</div>
</body>
</html>
