<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:83</h1>
<hr>
<p>
If 15% of (A + B ) = 25% of ( A - B ), then what percent of B is equal to A?



</p>


<div>
	A.&nbsp;&nbsp;10

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;60

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;200

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;400

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Given 15% of(A+B) = 25% of (A-B)<br><br>
(<sup>15</sup>&frasl;<sub>100</sub>)(A+B) = (<sup>25</sup>&frasl;<sub>100</sub>)(A-B) <br><br>
(<sup>3</sup>&frasl;<sub>20</sub>)(A+B) = (<sup>1</sup>&frasl;<sub>4</sub>)(A-B) <br><br>
12(A+B) = 20(A-B) <br><br>
12A+12B = 20A-20B <br><br>
20A-12A = 20B+12B <br><br>
8A = 32B <br><br>
<sup>A</sup>&frasl;<sub>B</sub> = <sup>32</sup>&frasl;<sub>8</sub> <br><br>
<sup>A</sup>&frasl;<sub>B</sub> = 4 <br><br>
A = 4B
<br><br>
A = 400% of B
</body>
</html>
