<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:57</h1>
<hr>
<p>
If 20% of A = 30% of  B = <sup>1</sup>&frasl;<sub>6</sub>of C, then A:B:C is:




</p>


<div>
	A.&nbsp;&nbsp;2:3:16

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;3:2:16

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;10:15:18

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;15:10:18

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Given that 
<br><br>
20% of A = 30% of B = <sup>1</sup>&frasl;<sub>6</sub> of C  <br><br>

<sup>20</sup>&frasl;<sub>100</sub> A = <sup>30</sup>&frasl;<sub>100</sub> B = <sup>1</sup>&frasl;<sub>6</sub> C <br><br>

<sup>20</sup>&frasl;<sub>100</sub> A = <sup>30</sup>&frasl;<sub>100</sub> B <br><br>

B = (<sup>20</sup>&frasl;<sub>30</sub>)A  <br><br>

B = (<sup>2</sup>&frasl;<sub>3</sub>)A  <br><br>

Now  <sup>20</sup>&frasl;<sub>100</sub> A = <sup>1</sup>&frasl;<sub>6</sub> C <br><br>

C = (<sup>120</sup>&frasl;<sub>100</sub>)A  <br><br>

C = (<sup>12</sup>&frasl;<sub>10</sub>)A  <br><br>

A:B:C = A : (<sup>2</sup>&frasl;<sub>3</sub>)A : (<sup>12</sup>&frasl;<sub>10</sub>)A  <br><br>

{ L.C.M of 3 and 10 = 30 } <br><br>

A:B:C = (<sup>30</sup>&frasl;<sub>
30</sub>)A : (<sup>20</sup>&frasl;<sub>30</sub>)A : (<sup>36</sup>&frasl;<sub>30</sub>)A  <br><br>

A:B:C = 30:20:36 <br><br>

A:B:C = 15:10:18 <br><br>


</body>
</html>

