{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:24</h1>
<hr>
<p>
If population of women in a village is 80% of population of men, what is the population of men as a percentage of population of women?



</p>


<div class="div2">
	A.&nbsp;&nbsp;80%

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;100%

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;112.5%

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;125%

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that population of women in a village is 80% of population of men<br><br>
Population of women = <sup>80</sup>&frasl;<sub>100</sub>&times;Population of men<br><br>
Population of men = <sup>100</sup>&frasl;<sub>80</sub>&times;Population of women<br><br>
Population of men = 1.25&times;Population of women<br><br>
Population of men = 1.25&times;<sup>100</sup>&frasl;<sub>100</sub>&times;Population of women<br><br>
Population of men = <sup>125</sup>&frasl;<sub>100</sub>&times;Population of women<br><br>
Population of men = 125% of Population of women


</div>
</body>
</html>
