<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 3 </u>:</h2>
<hr>
<p>The last day of the century should not be</p>


<div>
    A.Friday
</div>
<br>
<div>
    B.Monday
</div>
<br>
<div>
    C.Wednesday
</div>
<br>
<div>
    D.Tuesday
</div>


<h2><u>Answer</u>: D </h2>
<h3>Solution: </h3>
<p><li>Last day of the century depends on the number of odd days in that year.</li></p>
<p><li>The numbering of days is as follows
    <ul>0 &rarr; Sunday</ul>
    <ul>1 &rarr; Monday</ul>
    <ul>2 &rarr; Tuesday</ul>
    <ul>3 &rarr; Wednesday</ul>
    <ul>4 &rarr; Thursday</ul>
    <ul>5 &rarr; Friday</ul>
    <ul>6 &rarr; Saturday</ul>
</li></p>
<p><li>As per the tutorial, total number of odd days for 100 years = 5</li></p>
<p><li>Odd day 5 = Friday</li></p>
<p><li>Total number of odd days for 200 years = 3</li></p>
<p><li>Odd day 3 = Wednesday</li></p>
<p><li>Total number of odd days for 300 years = 1</li></p>
<p><li>Odd day 1 = Monday</li></p>
<p><li>Total number of odd days for 400 years = 0</li></p>
<p><li>Odd day 0 = Sunday</li></p>
<p><li>So the last of the century cannot be Tuesday,Thursday,Saturday</li></p>
</body>
</html>
