<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 7 </u>:</h2>
<hr>
<p>If 6th March, 2005 is Monday, what was the day of the week on 6th March, 2004?</p>


	<div>
		A.Wednesday
	</div>
<br>
	<div>
		B.Sunday
	</div>
<br>
	<div>
		C.Saturday
	</div>
<br>
	<div>
		D.Friday
	</div>



<h2> <u>Answer</u>: B </h2>
<h3>Solution: </h3>
	<p>The year 2004 is a leap year. So, it has 2 odd days.</p>
	<p>But, Feb 2004 not included because we are calculating from March 2004 to March 2005. So it has 1 odd day only.</p>
    <p>The day on 6th March, 2005 will be 1 day beyond the day on 6th March, 2004.</p>
    <p>Given that, 6th March, 2005 is Monday.</p>
	<p>So 6th March, 2004 is Sunday (1 day before to 6th March, 2005).</p>
</body>
</html>
