{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question 9 </u>:</h2>
<hr>
<p>The calendar for the year 2007 will be the same for the year?</p>


	<div class="div2">
		A.2016
	</div>
<br>
	<div class="div2">
		B.2017
	</div>
<br>
	<div class="div2">
		C.2018
	</div>
<br>
	<div class="div2">
		D.2019
	</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
	<p><li>Count the number of odd days from the year 2007 onwards to get the sum equal to 0 odd day.</li></p>
	<p><li>2007 (Normal Year) = 1 Odd day, Count = 1, Odd days = 1&percnt;7 = 1</li></p>
	<p><li>2008 (Leap Year) = 2 Odd days, Count = 1+2 = 3,Odd days = 3&percnt;7 = 3</li></p>
    <p><li>2009 (Normal Year) = 1 Odd day, Count = 3+1 = 4,Odd days = 4&percnt;7 = 4</li></p>
    <p><li>2010 (Normal Year) = 1 Odd day, Count = 4+1 = 5,Odd days = 5&percnt;7 = 5</li></p>
    <p><li>2011 (Normal Year) = 1 Odd day, Count = 5+1 = 6,Odd days = 6&percnt;7 = 6</li></p>
    <p><li>2012 (Leap Year) = 2 Odd day, Count = 6+2 = 8,Odd days = 8&percnt;7 = 1</li></p>
    <p><li>2013 (Normal Year) = 1 Odd day, Count = 8+1 = 9,Odd days = 9&percnt;7 = 2</li></p>
    <p><li>2014 (Normal Year) = 1 Odd day, Count = 9+1 = 10,Odd days = 10&percnt;7 = 3</li></p>
    <p><li>2015 (Normal Year) = 1 Odd day, Count = 10+1 = 11,Odd days = 11&percnt;7 = 4</li></p>
    <p><li>2016 (Leap Year) = 2 Odd day, Count = 11+2 = 13,Odd days = 13&percnt;7 = 6</li></p>
    <p><li>2017 (Normal Year) = 1 Odd day, Count = 13+1 = 14,Odd days = 14&percnt;7 = 0</li></p>
    <p><li>Calendar for the year 2018 will be the same as for the year 2007.</li></p>
</div>
</body>
</html>
