<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 1 </u>:</h2>
<hr>
<p>How many odd days will return for the total of 199 days</p>


	<div>
		A.2
	</div>
<br>
	<div>
		B.3
	</div>
<br>
	<div>
		C.4
	</div>
<br>
	<div>
		D.5
	</div>
		
	

<h2> <u>Answer</u>: B </h2>
<h3>Solution: </h3>
	<p>We know that odd days will be obtained by dividing the total number of days with number of days in a week(7)</p>
	<p>So total odd days = total days &percnt; 7</p>
    <p>Total odd days = 199 &percnt; 7 </p>
    <p>Total odd days = 3</p>
</body>
</html>
