<html>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
    <title>Calendar Tutorial</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b>
    <p1> Calendar</p1>
</b></font></p>
<hr/>
<hr/>
<li>Odd Days:
	<ul>
		In a given period, the number of days more than the complete weeks are called odd days
	</ul>
	<ul>
		Simply, The remainder obtained when you divide the total number of days with 7 (Total days of a Week).
	</ul>
</li>
<li>Months and Days:
    <ul>
        <p>There are 12 months in a year.</p>
        <p>Jan &minus; 31 (days), Feb &minus; 28; 29 (for a leap year), Mar &minus; 31, Apr &minus; 30, May &minus; 31,June &minus; 30; July &minus; 31; Aug &minus; 31; Sept &minus;30; Oct &minus; 31; Nov &minus;30; Dec &minus; 31.</p>
    </ul>
</li>
<li>Ordinary Year
	<ul>
		<p>A year which consists of 365 days.</p>
		<p>Consists of 52 weeks and 1 day.This additional day, is called an odd day</p>
        <p>One ordinary year have 1 odd day</p>
        <b>Examples:</b> 1993,1997,2003,1777,etc...
	</ul>
</li>
<li>Leap Year
	<ul>
		<p>A year which consists of 366 days.</p>
		<p>Consists of 52 weeks and 2 day. (February has 29 days).</p>
        <p>One leap year have 2 odd days.</p>
        <p>Every year which is not a century year (i.e. which is not a multiple of 100) is a leap year if and only if it is completely divisible by 4.</p>
        <p>Every century year is a leap year if and only if it is completely divisible by 400 or is an integral multiple of 400 (i.e. the remainder ought to be 0).</p>
        <b>Examples:</b>
        <ul>
            <li><p>2000 is a leap year. 2000 is completely divisible by both 4 and 400.</p></li>
            <li><p>1996 is a leap year. 1996 is completely divisible by 4.</p></li>
            <li><p>1900 is not a leap. This century year is not divisible by 400 even though it is divisible by 4.</p></li>
        </ul>
	</ul>
</li>

<li>Calculations
    <ul>
        <li>
            <p>When we have to calculate the number of days on any particular Extra Days, their numerical Values are
                <ul>0 &rarr; Sunday</ul>
                <ul>1 &rarr; Monday</ul>
                <ul>2 &rarr; Tuesday</ul>
                <ul>3 &rarr; Wednesday</ul>
                <ul>4 &rarr; Thursday</ul>
                <ul>5 &rarr; Friday</ul>
                <ul>6 &rarr; Saturday</ul>
            </p>
        </li>
        <li>
            <p>Number of odd days</p>
            <ul>
                <li>100 Years
                    <ul>
                        <p>
                            In a century - i.e. 100 years, there will be 24 leap years and 76 non-leap years.
                            This means that there will be 24 x 2 &plus; 76 x 1 = 124 odd days.
                            Since, 7 odd days make a week, to find out the net odd days, divide 124 by 7.
                            The remainder is 5. This is the number of odd days in a century.
                        </p>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>200 Years
                    <ul>
                        <p>As we know for 100 years, there are 5 odd days.</p>
                        <p>So for 200 years, there are 2 &times; 5 = 10 odd days</p>
                        <p>So there are total of 3 odd days after dividing total days by 7</p>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>300 Years
                    <ul>
                        <p>As we know for 100 years, there are 5 odd days.</p>
                        <p>So for 300 years, there are 3 &times; 5 = 15 odd days</p>
                        <p>So there are total of 1 odd days after dividing total days by 7</p>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>400 Years
                    <ul>
                        <p>As we know for 100 years, there are 5 odd days.</p>
                        <p>So for 400 years, there are 4 &times; 5 = 20 odd days</p>
                        <p>But as we know there should be one more odd in a leap year when compared to normal.</p>
                        <p>Since 400 year is leap year, we need to add one more day to total odd days.So total = 21</p>
                        <p>So there are total of 0 odd days after dividing total days by 7</p>
                        <p>So for every 400 years, we will get 0 days and calendar repeats the same.</p>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</li>

</body>


</html>