{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question 1 </u>:</h2>
<hr>
<p>How many odd days will return for the total of 199 days</p>


	<div class="div2">
		A.2
	</div>
<br>
	<div class="div2">
		B.3
	</div>
<br>
	<div class="div2">
		C.4
	</div>
<br>
	<div class="div2">
		D.5
	</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
	<p>We know that odd days will be obtained by dividing the total number of days with number of days in a week(7)</p>
	<p>So total odd days = total days &percnt; 7</p>
    <p>Total odd days = 199 &percnt; 7 </p>
    <p>Total odd days = 3</p>
</div>
</body>
</html>
