<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 10 </u>:</h2>
<hr>
How many times does the 29th days of the month occur in 400 consecutive years?


	<div>
		A.97 times
	</div>
<br>
	<div>
		B.4800 times
	</div>
<br>
	<div>
		C.4497 times
	</div>
<br>
	<div>
		D.4400 times
	</div>
		
	

<h2> <u>Answer</u>: C </h2>
<h3>Solution: </h3>

<ul>
	<li>Given that there are 400 consecutive years.</li>
	<li>In 400 years, there are 400%4 = 97 leap years and remaining normal years.</li>
	<li>Total number of times that 29th day occur in (400-97) Normal years = 303 &times;11 = 3333 </li>
</ul>

    <u><b><font size="4">Note:</font></b></u>

<br>
    -Each Normal year contains 11 months having 29th day (February contains 28 days)<br>
	-Each leap year contains 12 months having 29th Day (February contains 29 days)<br>
<ul>	<li>Total number of times that 29th day occur in 97 leap years = 97 &times;12 = 1164</li>
	<li>Total number of times that 400 years having 29th day in a month = 3333 + 1164 = 4497</li>
</ul>

</body>
</html>
