<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 11 </u>:</h2>
<hr>
<p>How many days are there in x weeks x days?</p>


	<div>
		A.7 x<sup>2</sup>
	</div>
<br>
	<div>
		B.14x
	</div>
<br>
	<div>
		C.7
	</div>
<br>
	<div>
		D.8x
	</div>
		
	

<h2> <u>Answer</u>: D </h2>
<h3>Solution: </h3>
	<p><li>Given that there are x weeks.</li></p>
	<p><li>For a week there are 7 days</li></p>
	<p><li>So X weeks should have = x &times; 7 = 7x days</li></p>
	<p><li>So X weeks and X days should have = 7x + x days</li></p>
	<p><li>There are total of 8x days in X weeks and X days</li></p>
</body>
</html>
