{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question 4 </u>:</h2>
<hr>
<p>What will be the day of the week 15th August, 2010?</p>


	<div class="div2">
		A.Tuesday
	</div>
<br>
	<div class="div2">
		B.Monday
	</div>
<br>
	<div class="div2">
		C.Saturday
	</div>
<br>
	<div class="div2">
		D.Sunday
	</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
	<p><li>Divide the given date into parts like below</li></p>
	<p><li>15th August, 2010 = (2009 years + Period 1.1.2010 to 15.8.2010)</li></p>
	<p><li>Divide the 2009 years into parts of years where odd days to be zero like below</li></p>
	<p><li>2009 = 1600 + 400 + 9</li></p>
	<p><li>For 1600 years, number of odd days = 0</li></p>
	<p><li>For 400 years, number of odd days = 0</li></p>
	<p><li>9 years = (2 leap years + 7 ordinary years)</li></p>
	<p><li>For Ordinary Year,number of odd days = 1</li></p>
	<p><li>For Leap Year,number of odd days = 2</li></p>
	<p><li>Total odd days = [(2&times;2) + (7&times;1)] = 11 odd days = 4 odd days(Remainder of  (<sup>11</sup>&frasl;<sub>7</sub>))</li></p>
	<p><li>Let us calculate total number of days from 1.1.2010 to 15.8.2010</li></p>
	<p><li>Since 2010 is not a leap year,there should be 28 days in February</li></p>
	<p><li>Number of days by month as follows</li></p>
	<ul>January &rarr; 31</ul>
	<ul>February &rarr; 28</ul>
	<ul>March &rarr; 31</ul>
	<ul>April &rarr; 30</ul>
	<ul>May &rarr; 31</ul>
	<ul>June &rarr; 30</ul>
	<ul>July &rarr; 31</ul>
	<ul>August &rarr; 15 (Up to given date)</ul>
	<p><li>Total number of days = 31 + 28 + 31 + 30 + 31 + 30 + 31 + 15 = 227</li></p>
	<p><li>Total number of odd days = Remainder(<sup>227</sup>&frasl;<sub>7</sub>) = 3 days</li></p>
	<p><li>So total number of odd days for the given date 15.8.2010 = 4 + 3 = 7</li></p>
	<p><li>Total odd days = Remainder(<sup>7</sup>&frasl;<sub>7</sub>) = 0</li></p>
	<p><li>As per the number of days like below</p>
		<ul>0 &rarr; Sunday</ul>
        <ul>1 &rarr; Monday</ul>
        <ul>2 &rarr; Tuesday</ul>
        <ul>3 &rarr; Wednesday</ul>
        <ul>4 &rarr; Thursday</ul>
        <ul>5 &rarr; Friday</ul>
        <ul>6 &rarr; Saturday</ul>
	</li>
	<p><li>The given date is Sunday</li></p>
</div>
</body>
</html>
