<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 5 </u>:</h2>
<hr>
<p>What was the day of the week on 17th June, 1998?</p>


	<div>
		A.Monday
	</div>
<br>
	<div>
		B.Tuesday
	</div>
<br>
	<div>
		C.Wednesday
	</div>
<br>
	<div>
		D.Thursday
	</div>
		
	

<h2> <u>Answer</u>: C </h2>
<h3>Solution: </h3>
	<li>Divide the given date into parts like below</li>
	<p><li>17th June, 1998 = (1997 years + Period from 1.1.1998 to 17.6.1998)</li></p>
	<p><li>Divide the 1997 years into parts of years where odd days to be zero like below</li></p>
	<p><li>1997 = 1600 + 300 + 97</li></p>
	<p><li>For 1600 years, number of odd days = 0</li></p>
	<p><li>For 300 years, number of odd days = (3 &times; 5) = 15 = 1 odd day</li></p>
	<p><li>97 years has 24 leap years + 73 ordinary years.</li></p>
	<p><li>97 years = (24 leap years + 73 ordinary years) = (24&times;2 + 73&times;1) = 48 + 73 = 121 = 2 odd days</li></p>
	<p><b>Note:</b></p>
	<ul><p><li>For Ordinary Year,number of odd days = 1</li></p>
	<p><li>For Leap Year,number of odd days = 2</li></p></ul>
	<p><li>Let us calculate total number of days from 1.1.1998 to 17.6.1998</li></p>
	<p><li>Since 1998 is not a leap year,February has 28 days.</li></p>
	<p><li>Number of days by month as follows</li></p>
	<ul>January &rarr; 31</ul>
	<ul>February &rarr; 28</ul>
	<ul>March &rarr; 31</ul>
	<ul>April &rarr; 30</ul>
	<ul>May &rarr; 31</ul>
	<ul>June &rarr; 17 (Up to given date)</ul>
	<p><li>Total number of days = 31 + 28 + 31 + 30 + 31 + 17 = 168</li></p>
	<p><li>Total number of odd days = Remainder(<sup>168</sup>&frasl;<sub>7</sub>) = 0 days</li></p>
	<p><li>So total number of odd days for the given date 17.6.1998 = 0 + 1 + 2 + 0 = 3 odd days</li></p>
	<p><li>Total odd days = Remainder(<sup>3</sup>&frasl;<sub>7</sub>) = 3</li></p>
	<p><li>As per the numbering of days like below</p>
		<ul>0 &rarr; Sunday</ul>
        <ul>1 &rarr; Monday</ul>
        <ul>2 &rarr; Tuesday</ul>
        <ul>3 &rarr; Wednesday</ul>
        <ul>4 &rarr; Thursday</ul>
        <ul>5 &rarr; Friday</ul>
        <ul>6 &rarr; Saturday</ul>
	</li>
	<p><li>The given date is on Wednesday</li></p>
</body>
</html>
