<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 1 </u>:</h2>
<hr>
<p>The ratio of ducks and frogs in a pond is 37:41. The average of ducks and frogs is 156. What is the number of frogs in the pond?</p>


	<div>
	A.78
</div>
<br>
<div>
	B.74
</div>
<br>
<div>
	C.82
</div>
<br>
			
<div>
	D.164
</div>
		
	

<h2> <u>Answere</u>: </h2>

<p>
Total number = 156 &times;2
<br>Number of frogs = 156 &times; 2 &times; 

<sup>41</sup>&frasl;<sub>78</sub>
<br>= 164

</p>

</body>
</html>
