<html>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
    <title>Decimal Formual</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1>Rules on Decimal Fractions</p1>
</u></b></font></p>
<hr/>
<hr/>


<p><font size="4"> <u>
    <p1>Addition subtraction of fractions:</p1>
</u></font>
    <br>
    <font size="3"> <u>METHOD:</u></font></p>
<Ol>
    <li>
        Find LCM of the denominators of the fractions.

    </li>
    <br>
    <li>
        Divide the LCM by each denominator of the fractions and multiply the quotient with the respective numerators.


    </li>
    <br>
    <li>
        Add the multiplication results. The sum is the numerator and the LCM is the denominator.
        <br><u>Ex:</u> &nbsp; Find value of &nbsp;
        <sup>1</sup>&frasl;<sub>2</sub> + <sup>2</sup>&frasl;<sub>3</sub> + <sup>2</sup>&frasl;<sub>5</sub>.


        <br><br>
        LCM of denominators 2, 3, 5 is 30.
        <br><br>
        On dividing 30 by 2, 3, 5, the dividends are 15, 10, 6, respectively.
        <br><br>
        Multiply the numerators 1, 2, 2 with 15, 10, 6 , respectively.
        <br><br>

        = <sup>1</sup>&frasl;<sub>2</sub> + <sup>2</sup>&frasl;<sub>3</sub> + <sup>2</sup>&frasl;<sub>5</sub>
        <br>= <sup>1 &times; 15 + 2 &times; 10 + 2 &times; 6</sup>&frasl;<sub>30</sub>
        <br>= <sup>15 + 50 + 12</sup>&frasl;<sub>30</sub>
        <br>
        = <sup>47</sup>&frasl;<sub>30</sub>
        <br>= 1 <sup>17</sup>&frasl;<sub>30</sub>
    </li>


    <br>While adding ( or subtracting ) two or more mixed numbers, we can add ( or subtract ) whole numbers and
    fractions separately.


</ol>


<p><font size="4"> <u> Another method of adding/subtracting the fractions. </u></font>

<ul>
    <li>

        Multiply the denominator and numerator of each fraction so as to make the denominators of all the fractions
        equal to their LCM. Then add or subtract the numerators and afterwards divide the result by the LCM. Example I
        can be solved by using this method as follows:
        <br>
        L.C.M of 2, 3 and 5 is 30.
        <br>
        The denominators of these fractions are made equal to 30.
        <br><br>

        <sup>1</sup>&frasl;<sub>2</sub> = <sup>1</sup>&frasl;<sub>2</sub> &times; <sup>15</sup>&frasl;<sub>15</sub>

        = <sup>15</sup>&frasl;<sub>30</sub>
        <br><br>
        <sup>2</sup>&frasl;<sub>3</sub> = <sup>2</sup>&frasl;<sub>3</sub> &times; <sup>10</sup>&frasl;<sub>10</sub>

        = <sup>20</sup>&frasl;<sub>30</sub>
        <br><br>
        <sup>2</sup>&frasl;<sub>5</sub> = <sup>2</sup>&frasl;<sub>5</sub> &times; <sup>6</sup>&frasl;<sub>6</sub>

        = <sup>12</sup>&frasl;<sub>30</sub>
        <br><br>
        <sup>1</sup>&frasl;<sub>2</sub> + <sup>2</sup>&frasl;<sub>3</sub> + <sup>2</sup>&frasl;<sub>5</sub>
        = <sup>15</sup>&frasl;<sub>30</sub> + <sup>20</sup>&frasl;<sub>30</sub> + <sup>12</sup>&frasl;<sub>30</sub>
        = <sup>47</sup>&frasl;<sub>30</sub>
        <br><br>= 1 <sup>17</sup>&frasl;<sub>30</sub>

</ul>

<p><font size="4"> <u>Multiplication of fractions: </u></font>
    <br>
<ul>
    <li>

        The product of all the numerators is written as numerator and similarly the product of denominators is written
        as denominator.

        <br><br>
        <sup>2</sup>&frasl;<sub>3</sub> &times <sup>5</sup>&frasl;<sub>7</sub>
        = <sup>2 &times; 5</sup>&frasl;<sub>3 &times; 7</sub>
        <br><br>
        = <sup>10</sup>&frasl;<sub>21</sub>
        <br><br>
        1 <sup>2</sup>&frasl;<sub>3</sub> &times; <sup>4</sup>&frasl;<sub>5</sub>
        = <sup>1 &times; 3 + 2</sup>&frasl;<sub>3</sub> &times; <sup>4</sup>&frasl;<sub>5</sub>
        = <sup>5</sup>&frasl;<sub>3</sub> &times; <sup>4</sup>&frasl;<sub>5</sub>
        <br><br>
        = <sup>4</sup>&frasl;<sub>3</sub>
        <br><br>
        Before multiplying a mixed number, convert it into an improper fraction.
    </li>
</ul>

<p><font size="4"> <u> Multiplicative inverse of reciprocal: </u></font>

<ul>
    <li>
        The multiplicative inverse of a non-zero rational number is a number such that its product with the given number
        gives 1. Reciprocal of a rational number is obtained by interchanging the numerator and the denominator.

        <br>
        <br>

        &nbsp; &nbsp; &nbsp; <u>Ex:</u> &nbsp;

        <sup>a</sup>&frasl;<sub>b</sub> &times; <sup>b</sup>&frasl;<sub>a</sub> = 1
        then <sup>b</sup>&frasl;<sub>a</sub> is reciprocal of <sup>a</sup>&frasl;<sub>b</sub>

    </li>
</ul>


<p><font size="4"> <u> Division of fraction: </u></font>

<ul>
    <li>
        Multiply the dividend by the multiplicative inverse of the divisor.
        <br>&nbsp; &nbsp; &nbsp; <u>Ex:</u> &nbsp;
        <sup>5</sup>&frasl;<sub>4</sub> &divide; <sup>3</sup>&frasl;<sub>2</sub>
        = <sup>5</sup>&frasl;<sub>4</sub> &times; <sup>2</sup>&frasl;<sub>3</sub>
        = <sup>5</sup>&frasl;<sub>6</sub>

    </li>

</ul>
<br>
<p><font size="4"> <u> Fractions and their Equivalent in decimals: </u></font>
    <br>
<ol>
    <li>
        <sup>1</sup>&frasl;<sub>2</sub> = 0.5

    </li>
    <br>
    <li>
        <sup>1</sup>&frasl;<sub>3</sub> = 0.3

    </li>
    <br>
    <li>
        <sup>1</sup>&frasl;<sub>4</sub> = 0.25

    </li>
    <br>
    <li>
        <sup>1</sup>&frasl;<sub>5</sub> = 0.2

    </li>
    <br>
    <li>
        <sup>1</sup>&frasl;<sub>6</sub> = 0.16

    </li>
    <br>
    <li>
        <sup>1</sup>&frasl;<sub>8</sub> = 0.125

    </li>

    <br>
    <li>
        <sup>1</sup>&frasl;<sub>9</sub> = 0.1

    </li>
    <br>
    <li>
        <sup>1</sup>&frasl;<sub>10</sub> = 0.1

    </li>
    <br>
    <li>
        <sup>1</sup>&frasl;<sub>20</sub> = 0.05

    </li>
    <br>
    <li>
        <sup>2</sup>&frasl;<sub>3</sub> = 0.6

    </li>

</ol>

<p><font size="4"> <u> Multiplication of numbers with decimals: </u></font>
    <br>
    <u>Steps:</u>
<ol>
    <li>
        Multiply the numbers as if there is no decimal sign in the given number.


    </li>

    <br>
    <li>
        Place the decimal after n digits of the solution counting from right hand side where n is equal to number of
        total digits to the right side of the decimal points in the numbers multiplied.
        <br>
        <u>Ex:</u> &nbsp;
        1.41 &times; 1.1 = ?
        <br> 141 &times; 11 = 1551.
        <br>
        After the decimal point, there are 2 digits in the first number and I digit in the second number.
        The multiplication will have 2 + 1 = 3 digits after the decimal point.
        <br>then 1.41 &times; 1.1 = 1.551.

    </li>
</ol>


</body>


</html>
