{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:16</h2>
<hr>
<p>

The value of ( 1 + .1 + .01 +.001 ) is:

</p>


<div class="div2">
	A.&nbsp;&nbsp;1.001

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;1.011

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;1.003

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;1.111

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

1.0<br>
0.1<br>
0.01<br>
0.001(+)
<hr width="50px" align="left">
1.111
<hr width="50px" align="left">



</div>
</body>
</html>
