{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:26</h2>
<hr>
<p>

What will come in place of question mark in the following equation?<br>
54.(?) 3 + 543 + 5.43 = 603.26


</p>


<div class="div2">
	A.&nbsp;&nbsp;5

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;6

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;8

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<br>
Let X + 543+5.43
<br><br>
=603.26
<br><br>
Then x = 603.26-(543+5.43)
<br><br>
=603.26-548.43
<br><br>
=54.83
<br><br>
Missing digit = 8.


</div>
</body>
</html>
