<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:24</h2>
<hr>
<p>

138.009 + 341.981 &minus; 146.305 = 123.6 + ?

</p>


<div>
	A.&nbsp;&nbsp;120.085

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;120.85

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;220.085

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>:d </h2>
let 138.009+341.981-146.305 = 123.6+X
<br><br>
Then X = (138.009+341.981)-(146.305+123.6)
<br><br>
= 479.99-269.905
<br><br>
= 210.085.



</body>
</html>
