{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:1</h2>
<hr>
<p>

the fraction 101

<sup>27</sup>&frasl;<sub>100000</sub>


in decimal form is:



</p>


<div class="div2">
	A.&nbsp;&nbsp;.01027

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;.10127

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;101.00027

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;101.000027

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
101

<sup>27</sup>&frasl;<sub>100000</sub>

 = 101 + 
<sup>27</sup>&frasl;<sub>100000</sub>

 <br><br>

= 101 + .00027

 <br><br>

= 101.00027.

</div>
</body>
</html>
