<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:14</h2>
<hr>
<p>
The arrangement of rational numbers 
<sup>-7</sup>&frasl;<sub>10</sub>,
<sup>5</sup>&frasl;<sub>-8</sub>,
<sup>2</sup>&frasl;<sub>-3</sub>
 in ascending order is:


</p>


<div>
	A.&nbsp;&nbsp;
<sup>2</sup>&frasl;<sub>-3</sub>,
<sup>5</sup>&frasl;<sub>-8</sub>,
<sup>-7</sup>&frasl;<sub>10</sub>
	
</div>
<br>
<div>
	B.&nbsp;&nbsp;

<sup>5</sup>&frasl;<sub>-8</sub>,
<sup>-7</sup>&frasl;<sub>10</sub>,
<sup>2</sup>&frasl;<sub>-3</sub>
	
</div>
<br>
<div>
	C.&nbsp;&nbsp;
<sup>-7</sup>&frasl;<sub>10</sub>,
<sup>5</sup>&frasl;<sub>-8</sub>,
<sup>2</sup>&frasl;<sub>-3</sub>
	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;
<sup>-7</sup>&frasl;<sub>10</sub>,
<sup>2</sup>&frasl;<sub>-3</sub>,
<sup>5</sup>&frasl;<sub>-8</sub>	
</div>
		
	

<h2> <u>Answer</u>: d</h2>

<sup>-7</sup>&frasl;<sub>10</sub> = -0.7,<br><br>
<sup>5</sup>&frasl;<sub>-8</sub>= -0.625,<br><br>
 <sup>2</sup>&frasl;<sub>-3</sub> =<sup>-2</sup>&frasl;<sub>3</sub>,= -0.66.<br><br>
Since -0.7 < -0.66 < -0.625,<br><br>
 so <sup>-7</sup>&frasl;<sub>10</sub> < <sup>2</sup>&frasl;<sub>-3</sub>, <<sup>5</sup>&frasl;<sub>-8</sub>.


</body>
</html>
