{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:23</h2>
<hr>
<p>
3889 + 12.952 - ? = 3854.002


</p>


<div class="div2">
	A.&nbsp;&nbsp;47.095

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;47.752

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;47.932

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;47.95

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let 3889+12.952-X = 3854.002
<br><br>
Then X = (3889 + 12.952)-3854.002
<br><br>
= 3901.952-3854.002
<br><br>
= 47.95.



</div>
</body>
</html>
