<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:18</h2>
<hr>
<p>
617 + 6.017 + 0.617 + 6.0017 = ?


</p>


<div>
	A.&nbsp;&nbsp;6.2963

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;62.965

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;629.6357

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: c</h2>

617.00<br>
&nbsp;&nbsp;&nbsp;&nbsp;6.017<br>
&nbsp;&nbsp;&nbsp;&nbsp;0.617<br>
&nbsp;&nbsp;&nbsp;&nbsp;6.0017(+)
<hr width="80px" align="left">
629.6357
<hr width="80px" align="left">

</body>
</html>
