<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:28</h2>
<hr>
<p>
The number 518,000,000 when expressed in scientific notation equals:


</p>


<div>
	A.&nbsp;&nbsp;51.8&times;10<sup>6</sup>

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;51.8&times;10<sup>7</sup>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;5.18&times;10<sup>8</sup>

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;51.8&times;10<sup>9</sup>

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

518,000,000 = 5.18&times;100000000
<br><br>
= 5.18&times;10<sup>8</sup>.

</body>
</html>
