{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:28</h2>
<hr>
<p>
The number 518,000,000 when expressed in scientific notation equals:


</p>


<div class="div2">
	A.&nbsp;&nbsp;51.8&times;10<sup>6</sup>

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;51.8&times;10<sup>7</sup>

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;5.18&times;10<sup>8</sup>

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;51.8&times;10<sup>9</sup>

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

518,000,000 = 5.18&times;100000000
<br><br>
= 5.18&times;10<sup>8</sup>.

</div>
</body>
</html>
