<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:21</h2>
<hr>
<p>
12.1212 + 17.0005 &minus; 9.1102 = ?



</p>


<div>
	A.&nbsp;&nbsp;20.0015

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;20.0105

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;20.0115

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;20.1015

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>
Given expression 
<br><br>
 (12.1212 + 17.0005) &minus; 9.1102

<br><br>

= 29.1217-9.1102

<br><br>

= 20.0115.


</body>
</html>
