{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:2</h2>
<hr>
<p>
When 0.36 is written in simplest fractional form, the sum of the numerator and the denominator is:

</p>


<div class="div2">
	A.&nbsp;&nbsp;34

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;45

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;114

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;135

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

0.36 = 36&divide;100 = 9&divide;25. 

<br><br>

Sum of Numerator and Denominator = 9 + 25 

<br><br>

= 34. 




</div>
</body>
</html>
