<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:23</h2>
<hr>
<p>
3889 + 12.952 - ? = 3854.002


</p>


<div>
	A.&nbsp;&nbsp;47.095

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;47.752

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;47.932

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;47.95

	
</div>
		
	

<h2> <u>Answer</u>: d</h2>
Let 3889+12.952-X = 3854.002
<br><br>
Then X = (3889 + 12.952)-3854.002
<br><br>
= 3901.952-3854.002
<br><br>
= 47.95.



</body>
</html>
