{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:14</h2>
<hr>
<p>
The arrangement of rational numbers 
<sup>-7</sup>&frasl;<sub>10</sub>,
<sup>5</sup>&frasl;<sub>-8</sub>,
<sup>2</sup>&frasl;<sub>-3</sub>
 in ascending order is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;
<sup>2</sup>&frasl;<sub>-3</sub>,
<sup>5</sup>&frasl;<sub>-8</sub>,
<sup>-7</sup>&frasl;<sub>10</sub>
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;

<sup>5</sup>&frasl;<sub>-8</sub>,
<sup>-7</sup>&frasl;<sub>10</sub>,
<sup>2</sup>&frasl;<sub>-3</sub>
	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;
<sup>-7</sup>&frasl;<sub>10</sub>,
<sup>5</sup>&frasl;<sub>-8</sub>,
<sup>2</sup>&frasl;<sub>-3</sub>
	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;
<sup>-7</sup>&frasl;<sub>10</sub>,
<sup>2</sup>&frasl;<sub>-3</sub>,
<sup>5</sup>&frasl;<sub>-8</sub>	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<sup>-7</sup>&frasl;<sub>10</sub> = -0.7,<br><br>
<sup>5</sup>&frasl;<sub>-8</sub>= -0.625,<br><br>
 <sup>2</sup>&frasl;<sub>-3</sub> =<sup>-2</sup>&frasl;<sub>3</sub>,= -0.66.<br><br>
Since -0.7 < -0.66 < -0.625,<br><br>
 so <sup>-7</sup>&frasl;<sub>10</sub> < <sup>2</sup>&frasl;<sub>-3</sub>, <<sup>5</sup>&frasl;<sub>-8</sub>.


</div>
</body>
</html>
