{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:21</h2>
<hr>
<p>
12.1212 + 17.0005 &minus; 9.1102 = ?



</p>


<div class="div2">
	A.&nbsp;&nbsp;20.0015

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;20.0105

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;20.0115

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;20.1015

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given expression 
<br><br>
 (12.1212 + 17.0005) &minus; 9.1102

<br><br>

= 29.1217-9.1102

<br><br>

= 20.0115.


</div>
</body>
</html>
