<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:13</h2>
<hr>
<p>
Which of the following numbers does not lie between 
<sup>4</sup>&frasl;<sub>5</sub>
and 
<sup>7</sup>&frasl;<sub>13</sub>?
</p>


<div>
	A.&nbsp;&nbsp;<sup>1</sup>&frasl;<sub>2</sub>

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;<sup>2</sup>&frasl;<sub>3</sub>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;<sup>5</sup>&frasl;<sub>4</sub>

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;<sup>5</sup>&frasl;<sub>7</sub>

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>

<sup>4</sup>&frasl;<sub>5</sub> = 0.8,<br><br>
<sup>7</sup>&frasl;<sub>13</sub>
= 0.53,<br><br> 
<sup>1</sup>&frasl;<sub>2</sub>= 0.5,<br><br>
 
<sup>2</sup>&frasl;<sub>3</sub>
= 0.66,<br><br>
 <sup>3</sup>&frasl;<sub>4</sub> = 0.75,<br><br>
 <sup>5</sup>&frasl;<sub>7</sub> = 0.714.<br><br>
Clearly, 0.5 does not  lies between  0.53 and 0.8.<br><br>
Then <sup>1</sup>&frasl;<sub>2</sub>  does not lies between 
<sup>4</sup>&frasl;<sub>5</sub>  and 
<sup>7</sup>&frasl;<sub>13</sub>.



</body>
</html>
