{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:9</h2>
<hr>
<p>
Which part contains the fractions in ascending order?



</p>


<div class="div2">
	A.&nbsp;&nbsp;
<sup>11</sup>&frasl;<sub>14</sub>,
<sup>16</sup>&frasl;<sub>19</sub>, 
<sup>19</sup>&frasl;<sub>21</sub>
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;
<sup>16</sup>&frasl;<sub>19</sub>,
<sup>11</sup>&frasl;<sub>14</sub>,

<sup>19</sup>&frasl;<sub>21</sub>
	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;
<sup>11</sup>&frasl;<sub>14</sub>,
<sup>19</sup>&frasl;<sub>21</sub>.
<sup>16</sup>&frasl;<sub>19</sub>
	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;
<sup>19</sup>&frasl;<sub>21</sub>,
<sup>11</sup>&frasl;<sub>14</sub>,
<sup>16</sup>&frasl;<sub>19</sub>	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Clearly, <br><br>
<sup>11</sup>&frasl;<sub>14</sub> = 0.785,<br><br>
<sup>16</sup>&frasl;<sub>19</sub> = 0.842,<br><br>
<sup>19</sup>&frasl;<sub>21</sub> = 0.904.<br><br>
Now, 0.785 < 0.842 < 0.904. <br><br>So, 
<sup>11</sup>&frasl;<sub>14</sub>
 < 
<sup>16</sup>&frasl;<sub>19</sub> < 
<sup>19</sup>&frasl;<sub>21</sub>


</div>
</body>
</html>
