<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:30</h2>
<hr>
<p>
If 1.125 &times; 10<sup>k</sup> = 0.001125, then the value of k is:



</p>


<div>
	A.&nbsp;&nbsp;-4

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;-3

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;-2

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;-1

	
</div>
		
	

<h2> <u>Answer</u>:b </h2>
10<sup>k</sup> = 0.001125&divide;1.125 
<br><br>
= 1.125&divide;1125
<br><br>
= (1.125&times;10<sup>3</sup>)&divide;(1125&times;10<sup>3</sup>)
<br><br>
= <sup>1</sup>&frasl;<sub>10<sup>3</sup></sub> 
<br><br>
= 10<sup>-3</sup>
<br><br>
k = -3.

</body>
</html>
