<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:16</h2>
<hr>
<p>

The value of ( 1 + .1 + .01 +.001 ) is:

</p>


<div>
	A.&nbsp;&nbsp;1.001

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;1.011

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;1.003

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;1.111

	
</div>
		
	

<h2> <u>Answer</u>: d</h2>

1.0<br>
0.1<br>
0.01<br>
0.001(+)
<hr width="50px" align="left">
1.111
<hr width="50px" align="left">



</body>
</html>
