<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:9</h2>
<hr>
<p>
Which part contains the fractions in ascending order?



</p>


<div>
	A.&nbsp;&nbsp;
<sup>11</sup>&frasl;<sub>14</sub>,
<sup>16</sup>&frasl;<sub>19</sub>, 
<sup>19</sup>&frasl;<sub>21</sub>
	
</div>
<br>
<div>
	B.&nbsp;&nbsp;
<sup>16</sup>&frasl;<sub>19</sub>,
<sup>11</sup>&frasl;<sub>14</sub>,

<sup>19</sup>&frasl;<sub>21</sub>
	
</div>
<br>
<div>
	C.&nbsp;&nbsp;
<sup>11</sup>&frasl;<sub>14</sub>,
<sup>19</sup>&frasl;<sub>21</sub>.
<sup>16</sup>&frasl;<sub>19</sub>
	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;
<sup>19</sup>&frasl;<sub>21</sub>,
<sup>11</sup>&frasl;<sub>14</sub>,
<sup>16</sup>&frasl;<sub>19</sub>	
</div>
		
	

<h2> <u>Answer</u>:a</h2>

Clearly, <br><br>
<sup>11</sup>&frasl;<sub>14</sub> = 0.785,<br><br>
<sup>16</sup>&frasl;<sub>19</sub> = 0.842,<br><br>
<sup>19</sup>&frasl;<sub>21</sub> = 0.904.<br><br>
Now, 0.785 < 0.842 < 0.904. <br><br>So, 
<sup>11</sup>&frasl;<sub>14</sub>
 < 
<sup>16</sup>&frasl;<sub>19</sub> < 
<sup>19</sup>&frasl;<sub>21</sub>


</body>
</html>
