{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:13</h2>
<hr>
<p>
Which of the following numbers does not lie between 
<sup>4</sup>&frasl;<sub>5</sub>
and 
<sup>7</sup>&frasl;<sub>13</sub>?
</p>


<div class="div2">
	A.&nbsp;&nbsp;<sup>1</sup>&frasl;<sub>2</sub>

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;<sup>2</sup>&frasl;<sub>3</sub>

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;<sup>5</sup>&frasl;<sub>4</sub>

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;<sup>5</sup>&frasl;<sub>7</sub>

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

<sup>4</sup>&frasl;<sub>5</sub> = 0.8,<br><br>
<sup>7</sup>&frasl;<sub>13</sub>
= 0.53,<br><br> 
<sup>1</sup>&frasl;<sub>2</sub>= 0.5,<br><br>
 
<sup>2</sup>&frasl;<sub>3</sub>
= 0.66,<br><br>
 <sup>3</sup>&frasl;<sub>4</sub> = 0.75,<br><br>
 <sup>5</sup>&frasl;<sub>7</sub> = 0.714.<br><br>
Clearly, 0.5 does not  lies between  0.53 and 0.8.<br><br>
Then <sup>1</sup>&frasl;<sub>2</sub>  does not lies between 
<sup>4</sup>&frasl;<sub>5</sub>  and 
<sup>7</sup>&frasl;<sub>13</sub>.



</div>
</body>
</html>
