{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:19</h2>
<hr>
<p>

	48.95 &minus; 32.006 = ?
 



</p>


<div class="div2">
	A.&nbsp;&nbsp;16.089

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;16.35

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;16.89

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;16.944

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
&nbsp;48.950<br>
-32.006(-)
<hr width="50px" align="left">
16.944
<hr width="50px" align="left">
</div>
</body>
</html>
