{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:15</h2>
<hr>
<p>
337.62 + 8.591 + 34.4 = ?



</p>


<div class="div2">
	A.&nbsp;&nbsp;370.611

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;380.511

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;380.611

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;426.97

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

	

&nbsp;337.62<br>
&nbsp; &nbsp; &nbsp;8.591<br>
&nbsp;&nbsp;&nbsp;34.4&nbsp;(+)
<hr width="65px" align="left">

380.611
<hr width="65px" align="left">

</div>
</body>
</html>
