<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:10</h2>
<hr>
<p>

Which if the following fractions is the smallest?

</p>


<div>
	A.&nbsp;&nbsp;
<sup>13</sup>&frasl;<sub>16</sub>
	
</div>
<br>
<div>
	B.&nbsp;&nbsp;
<sup>15</sup>&frasl;<sub>19</sub>
	
</div>
<br>
<div>
	C.&nbsp;&nbsp;
<sup>17</sup>&frasl;<sub>21</sub>
	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;
<sup>7</sup>&frasl;<sub>8</sub>
	
</div>
		
	

<h2> <u>Answer</u>:b </h2>

We have : <sup>13</sup>&frasl;<sub>16</sub> = 0.8125,<br><br>
<sup>15</sup>&frasl;<sub>19</sub> = 0.7894,<br><br>
<sup>17</sup>&frasl;<sub>21</sub> = 0.8095<br><br> 
and <sup>7</sup>&frasl;<sub>8</sub>= 0.875<br><br>
 Since 0.7894 is the<br><br> smallest, so 
<sup>15</sup>&frasl;<sub>19</sub> is the smallest.



</body>
</html>
