{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:17</h2>
<hr>
<p>
34.95 + 240.016 + 23.98 = ?



</p>


<div class="div2">
	A.&nbsp;&nbsp;298.0946

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;298.111

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;298.946

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;299.09

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
                  
&nbsp;&nbsp;34.95<br>
240.016<br>
&nbsp;&nbsp;23.98(+)
<hr width="50px" align="left">

298.946             
<hr width="50px" align="left">


</div>
</body>
</html>
