{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:25</h2>
<hr>
<p>

832.58 &minus; 242.31 = 779.84 &minus; ?


</p>


<div class="div2">
	A.&nbsp;&nbsp;179.57

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;199.57

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;295.05

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
let 832.58-242.31= 779.84-X
<br><br>
Then, X = (779.84+242.31)-832.58
<br><br>
= 1022.15-832.58
<br><br>
= 189.57.


</div>
</body>
</html>
