<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:5</h2>
<hr>
<p>
Which of the following has fraction in ascending order?



</p>


<div>
	A.&nbsp;&nbsp;
<sup>1</sup>&frasl;<sub>3</sub>,
<sup>2</sup>&frasl;<sub>5</sub>,
<sup>4</sup>&frasl;<sub>7</sub>,
<sup>3</sup>&frasl;<sub>5</sub>,
<sup>5</sup>&frasl;<sub>6</sub>,
<sup>6</sup>&frasl;<sub>7</sub>
	
</div>
<br>
<div>
	B.&nbsp;&nbsp;
<sup>1</sup>&frasl;<sub>3</sub>,
<sup>2</sup>&frasl;<sub>5</sub>,
<sup>3</sup>&frasl;<sub>5</sub>,
<sup>4</sup>&frasl;<sub>7</sub>,
<sup>5</sup>&frasl;<sub>6</sub>,
<sup>6</sup>&frasl;<sub>7</sub>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;
<sup>1</sup>&frasl;<sub>3</sub>,
<sup>2</sup>&frasl;<sub>5</sub>,
<sup>5</sup>&frasl;<sub>6</sub>,
<sup>4</sup>&frasl;<sub>7</sub>,
<sup>6</sup>&frasl;<sub>7</sub>

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;<sup>2</sup>&frasl;<sub>5</sub>,
<sup>3</sup>&frasl;<sub>5</sub>,
<sup>1</sup>&frasl;<sub>3</sub>,
<sup>4</sup>&frasl;<sub>7</sub>
,<sup>5</sup>&frasl;<sub>6</sub>,
<sup>6</sup>&frasl;<sub>7</sub>

	
</div>
		
	

<h2> <u>Answer</u>:a </h2>

Converting each of the given fractions into decimal form, we get : <br><br>
<sup>1</sup>&frasl;<sub>3</sub> = 0.33,<br><br>
<sup>2</sup>&frasl;<sub>5</sub>, = 0.4,
<br><br>
<sup>4</sup>&frasl;<sub>7</sub>, = 0.57,<br><br>
<sup>3</sup>&frasl;<sub>5</sub>, = 0.6,<br><br>
<sup>5</sup>&frasl;<sub>6</sub>, = 0.82,<br><br>
<sup>6</sup>&frasl;<sub>7</sub> = 0.857.<br><br>
Clearly, 0.33 < 0.4 < 0.57 < 0.6 < 0.82 < 0.857<br><br> 
So, 

<sup>1</sup>&frasl;<sub>3</sub> < 
<sup>2</sup>&frasl;<sub>5</sub> < 
<sup>4</sup>&frasl;<sub>7</sub> < 
<sup>3</sup>&frasl;<sub>5</sub> < 
<sup>5</sup>&frasl;<sub>6</sub> < 
<sup>6</sup>&frasl;<sub>7</sub>

.


</body>
</html>
