<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:2</h2>
<hr>
<p>
When 0.36 is written in simplest fractional form, the sum of the numerator and the denominator is:

</p>


<div>
	A.&nbsp;&nbsp;34

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;45

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;114

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;135

	
</div>
		
	

<h2> <u>Answer</u>: a</h2>

0.36 = 36&divide;100 = 9&divide;25. 

<br><br>

Sum of Numerator and Denominator = 9 + 25 

<br><br>

= 34. 




</body>
</html>
