{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:20</h2>
<hr>
<p>

729.02 + 101.32 &minus; 306.76 = ?


</p>


<div class="div2">
	A.&nbsp;&nbsp;586.58

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;893.34

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;997.11

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;1200.10

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
 
792.02<br>
101.32(+)
<hr width="60px" align="left">

893.34
<hr width="60px" align="left">


</div>
</body>
</html>
