{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:30</h2>
<hr>
<p>
If 1.125 &times; 10<sup>k</sup> = 0.001125, then the value of k is:



</p>


<div class="div2">
	A.&nbsp;&nbsp;-4

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;-3

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;-2

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;-1

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
10<sup>k</sup> = 0.001125&divide;1.125 
<br><br>
= 1.125&divide;1125
<br><br>
= (1.125&times;10<sup>3</sup>)&divide;(1125&times;10<sup>3</sup>)
<br><br>
= <sup>1</sup>&frasl;<sub>10<sup>3</sup></sub> 
<br><br>
= 10<sup>-3</sup>
<br><br>
k = -3.

</div>
</body>
</html>
