<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:11</h2>
<hr>
<p>
Which of the following fractions is greater than <sup>3</sup>&frasl;<sub>4</sub> and less than <sup>5</sup>&frasl;<sub>6</sub>?

</p>


<div>
	A.&nbsp;&nbsp;<sup>1</sup>&frasl;<sub>2</sub>

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;<sup>2</sup>&frasl;<sub>3</sub>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;<sup>4</sup>&frasl;<sub>5</sub>

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;<sup>9</sup>&frasl;<sub>10</sub>

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

<sup>5</sup>&frasl;<sub>4</sub> = 0.75,<br><br>
<sup>5</sup>&frasl;<sub>6</sub> = 0.833,<br><br>
 <sup>1</sup>&frasl;<sub>2</sub> = 0.5,<br><br>
 <sup>2</sup>&frasl;<sub>3</sub> = 0.66,<br><br>
<sup>4</sup>&frasl;<sub>5</sub>= 0.8,<br><br>
<sup>9</sup>&frasl;<sub>10</sub> = 0.9<br><br>
Clearly, 0.8 lies between 0.75 and 0.833.<br><br>
Then
<sup>4</sup>&frasl;<sub>5</sub> lies between 
<sup>3</sup>&frasl;<sub>4</sub> and 
<sup>5</sup>&frasl;<sub>6</sub>.




</body>
</html>
