<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:7</h2>
<hr>
<p>
Which of the following are in descending order of their value?


</p>


<div>
	A.&nbsp;&nbsp;
<sup>5</sup>&frasl;<sub>9</sub>,
<sup>7</sup>&frasl;<sub>11</sub>,
<sup>8</sup>&frasl;<sub>15</sub>,
<sup>11</sup>&frasl;<sub>17</sub>
	
</div>
<br>
<div>
	B.&nbsp;&nbsp;
<sup>5</sup>&frasl;<sub>9</sub>,
<sup>8</sup>&frasl;<sub>15</sub>,
<sup>11</sup>&frasl;<sub>17</sub>,
<sup>7</sup>&frasl;<sub>11</sub>
</div>
<br>
<div>
	C.&nbsp;&nbsp;
<sup>11</sup>&frasl;<sub>17</sub>,
<sup>7</sup>&frasl;<sub>11</sub>,
<sup>8</sup>&frasl;<sub>15</sub>,
<sup>5</sup>&frasl;<sub>9</sub>
	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;
<sup>11</sup>&frasl;<sub>17</sub>,
<sup>7</sup>&frasl;<sub>11</sub>,
<sup>5</sup>&frasl;<sub>9</sub>,
<sup>8</sup>&frasl;<sub>15</sub>
	
</div>
		
	

<h2> <u>Answer</u>: D</h2>

Converting each of the given fractions into decimal form, we get : <br><br>
<sup>5</sup>&frasl;<sub>9</sub> = 0.55,<br><br>
<sup>7</sup>&frasl;<sub>11</sub>  = 0.63,<br><br>
<sup>8</sup>&frasl;<sub>15</sub> = 0.533,<br><br>
 <sup>11</sup>&frasl;<sub>17</sub> = 0.647<br><br>
Clearly,<br><br> 0.647 > 0.63 > 0.55 > 0.533<br><br> So, 

<sup>11</sup>&frasl;<sub>17</sub>
 > 
 
<sup>7</sup>&frasl;<sub>11</sub>
> 
 
<sup>5</sup>&frasl;<sub>9</sub>
> 

<sup>8</sup>&frasl;<sub>15</sub>
.

</body>
</html>
