<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:4</h2>
<hr>
<p>

Which of the following has fraction in If 47.2506 = 4A + 7/B + 2C + 5/D + 6E, then the value of 5A + 3B +6C + D  +3E is:

</p>


<div>
	A.&nbsp;&nbsp;53.6003

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;53.603

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;153.6003

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;213.0003

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>

4A + <sup>7</sup>&frasl;<sub>B</sub> + 2C + <sup>5</sup>&frasl;<sub>D</sub> + 6E = 47.2506<br><br>
4A + <sup>7</sup>&frasl;<sub>B</sub>  + 2C + <sup>5</sup>&frasl;<sub>D</sub> + 6E = 40 + 7 + 0.2 + 0.05 + 0.0006<br><br>
Comparing the terms on both sides, we get : <br><br>
4A = 40, <br><br><sup>7</sup>&frasl;<sub>B</sub> = 7,<br><br> 2C = 0.2,<br><br> <sup>5</sup>&frasl;<sub>D</sub> = 0.05,<br><br> 6E = 0.0006<br><br>
or   A = 10, B = 1, C = 0.1, D = 100, E = 0.0001.<br><br>
Then 5A + 3B + 6C + D + 3E = (5&times;10) + (3&times;1) + (6&times;0.1) + 100 + (3&times;0.0001) <br><br>= 50 + 3 + 0.6 + 100 + 0.0003 <br><br>
= 153.6003.



</body>
</html>
