<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>29:</h2>
<hr>
<p>
0.000006723 when expressed in scientific notation, equals :


</p>


<div>
	A.&nbsp;&nbsp;6723&times;10<sup>-5</sup>

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;6723&times;10<sup>-7</sup>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;6.723&times;10<sup>-6</sup>

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>:c </h2>
0.000006723 = (0.000006723&times;10<sup>6</sup>)&divide;10<sup>6</sup> 
<br><br>
= (6.723&times;10<sup>-6</sup>&times;10<sup>6</sup>)&divide;10<sup>6</sup>
<br><br> 
= 6.723&divide;10<sup>6</sup> 
<br><br>
= 6.723&times;10<sup>-6</sup>

</body>
</html>
