<html>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
    <title>Decimal Tutorial</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1> Fractions and Decimals</p1>
</u></b></font>
<hr/>
<hr/>


<p><font size="4"> <u>
    <p1>Fraction or Rational Number:</p1>
</u></font>
    <br>
    <ul>
        <li>
<p> A number which can be expressed in the form of
    <sup>p</sup>&frasl;<sub>q</sub>, where p and q are integers, and q is a non zero integer. In the fraction p is
    called numerator and q is called denominator. Like the natural numbers, fractions can also be added, subtracted,
    multiplied and divided. </p>
</li>
</ul>
<p><font size="4"> <u> Proper Fractions: </u></font>
<ul>
    <li>

        Numerator is less than the denominator.
        <br>


        &nbsp; &nbsp; &nbsp; <u>Ex:</u> &nbsp;
        <sup>2</sup>&frasl;<sub>3</sub>, <sup>1</sup>&frasl;<sub>5</sub>, <sup>5</sup>&frasl;<sub>7</sub>.
        <br>

    </li>

    <br>
    <li>
        The value of a proper fraction is less than 1.

    </li>
</ul>


<p><font size="4"> <u> Improper Fraction: </u></font>

<ul>
    <li>
        Numerator is greater than the denominator.
        <br>
        &nbsp; &nbsp; &nbsp; <u>Ex:</u> &nbsp;
        <sup>4</sup>&frasl;<sub>3</sub>, <sup>8</sup>&frasl;<sub>5</sub>, <sup>10</sup>&frasl;<sub>7</sub>.
    </li>
    <br>
    <li>
        The value of an improper fraction is greater than 1.
</ul>
<br>


<p><font size="4"> <u> Simplest/Standard/Lowest form/ terms of a Rational number: </u></font>
    <br>
    <ul>
        <li>
<p>The simplest form of a rational number is obtained by dividing its numerator and the denominator by their greatest
    common factor. When a fraction is in lowest terms, its numerator and the denominator are co-prime numbers. By
    multiplying (or dividing) numerator and denominator of a fraction by same non-zero number we obtain an equivalent
    fraction.</p>

&nbsp; &nbsp; &nbsp; <u>Ex:</u> &nbsp;
&nbsp; <sup>12</sup>&frasl;<sub>18</sub> = <sup>2</sup>&frasl;<sub>3</sub> (Obtained by dividing N and D by 6, i.e.
common factor)

</li>
</ul>
<p><font size="4"> <u> Like Fractions: </u></font>
<ul>
    <li>
        The fractions whose denominators are equal.
        <br>


        &nbsp; &nbsp; &nbsp; <u>Ex:</u> &nbsp; <sup>1</sup>&frasl;<sub>7</sub>, <sup>3</sup>&frasl;<sub>7</sub>,
        <sup>6</sup>&frasl;<sub>7</sub>

    </li>

</ul>


<p><font size="4"> <u>Unlike fractions: </u></font>

<ul>
    <li>
        The fractions whose denominators are not equal.

    </li>


</ul>


<p><font size="4"> <u>Mixed numbers: </u></font>
    <br>
<ul>
    <li>
        A number which consists of an integer and a proper fraction.
        <br>
        &nbsp; &nbsp; &nbsp; <u>Ex:</u> &nbsp;

        3 <sup>1</sup>&frasl;<sub>2</sub>, 5 <sup>3</sup>&frasl;<sub>4</sub>
    </li>
    <br>
    <li>
        Mixed numbers can be converted into improper fractions and vice-versa.
    </li>
</ul>

<p><font size="4"> <u>How to convert a mixed number into improper fraction. </u></font>
<ul>
    <li>
        Multiply the whole number with the denominator of the fraction and then add the result to the numerator of the
        fraction. The final result is the numerator and the denominator remains the same.
        <br>


        &nbsp; &nbsp; &nbsp; <u>Ex:</u> &nbsp;

        3 <sup>1</sup>&frasl;<sub>2</sub> = <sup>3 &times; 2 + 1</sup>&frasl;<sub>2</sub>

        &nbsp; = <sup>7</sup>&frasl;<sub>2</sub>

    </li>
</ul>


<p><font size="4"> <u>How to convert an improper fraction into a mixed number. </u></font>

<ul>
    <li>
        Divide the numerator by the denominator. The dividend is the whole number. The remainder is the numerator of the
        fraction of the mixed number and the denominator remains the same.
        <br>
        &nbsp; &nbsp; &nbsp; <u>Ex:</u> &nbsp;

        <sup>5</sup>&frasl;<sub>3</sub> = 1 <sup>2</sup>&frasl;<sub>3</sub> ; <sup>9</sup>&frasl;<sub>2</sub> = 4
        <sup>1</sup>&frasl;<sub>2</sub>
    </li>
</ul>


</body>


</html>
