<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:46</h2>
<hr>
<p>
How many numbers less then 1000 are multiples of both 10 and 13?


</p>


<div>
	A.&nbsp;&nbsp;9

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;8

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;6

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;7

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>

10 and 13 are co prime numbers.<br><br>
Produt of 10 and 13 = 10&times;13 <br><br>
= 130<br><br>
= 1000&divide;130<br><br> 
= 7 (quotient)+90(remainder).<br><br>

</body>
</html>
