<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 10</u>:</h2>
<hr>
<p>

	1&minus;[1&minus;{1&minus;(1&minus;
<span style="white-space: nowrap;">
<span style="text-decoration:overline;">1&minus;1</span>
</span>

)}] = ?

</p>


<div>
	A.&nbsp;&nbsp;0

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;1
	
</div>
<br>
<div>
	C.&nbsp;&nbsp;3

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;4

	
</div>
		
	

<h2> <u>Answer</u>: A </h2>
=1&minus;[1&minus;{1(1&minus;
<span style="white-space: nowrap;">
<span style="text-decoration:overline;">1&minus;1</span>
</span>

)}]<br><br>
=1&minus;[1&minus;{1&minus;(1&minus;0)}]<br><br>
=1&minus;[1&minus;{0}]<br><br>
=0.


</body>
</html>
