<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:39</h2>
<hr>
<p>

In a question of division, the dividend is 37693, quotient is 52 and remainder lies between 52 and 104. Divisor will be :

</p>


<div>
	A.&nbsp;&nbsp;724

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;723

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;722

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;721

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>

( <sup>37693</sup>&frasl;<sub>52</sub> ) = 724+(remainder 45)<br><br>
37693 = 724&times;52+45<br><br>
= 723&times;52+(45+52)<br><br>
= 723&times;52+97<br><br>
= 723 is the required divisor.

</body>
</html>
