<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:56</h2>
<hr>
<p>
A number consisting of two digits is four times the sum of its digits. On adding 18 to the number, the digits of the given number are reversed. Find the original number


</p>


<div>
	A.&nbsp;&nbsp;24

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;35

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;46

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;68

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
From the problem 
<br><br>
a number consisting of two digits is four times the sum of its digits. <br><br>
try option A <br><br>

24 = 4 &times; (2+4) 
<br><br>= 24<br><br>
A is the answer.


</body>
</html>
