{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question 9</u>:</h2>
<hr>
<p>
<sup>8 &plus; 2 of 5 &minus; 2 </sup>&frasl; <sub>8 &minus; 2 of (5 &minus; 2)</sub> =?


</p>


<div class="div2">
	A.&nbsp;&nbsp;2

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;6

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;8

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;24

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
According to BODMAS Rule<br><br>
= <sup>8 &plus; 2 of 5 &minus; 2</sup>&frasl;<sub>8 &minus; 2 of (5 &minus; 2)</sub><br><br>
= <sup>8 &plus; 2(5)&minus; 2</sup>&frasl;<sub>8 &minus; 2 of 3 </sub><br><br>
= <sup>8 &plus; 10 &minus; 2</sup>&frasl;<sub>8 &minus; 2(3)</sub><br><br>
= <sup>18 &minus; 2</sup>&frasl;<sub>8 &minus; 6</sub><br><br>
= <sup>16</sup>&frasl;<sub>2</sub><br><br>
= 8.


</div>
</body>
</html>
