<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:38</h2>
<hr>
<p>

A divisor is 25 times the quotient and 5 times the remainder if the quotient is 16 the dividend is:

</p>


<div>
	A.&nbsp;&nbsp;6440

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;6480

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;400

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;480

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Divisor = 25&times;quotient <br><br>
= 25&times;16 = 400<br><br>
Remainder = ( <sup>400</sup>&frasl;<sub>5</sub> ) = 80
<br><br>
Dividend = (divisor &times;quotient)+remainder
<br><br>
= 400 &times; 16+80
<br><br>
= 6400+80
<br><br>
= 6480.


</body>
</html>
