{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question 19</u>:</h2>
<hr>
<p>
In a two digit number, the digit in units place is three times the digit in tens place and sum of the digits is equal to 12. Find the number.


</p>


<div class="div2">
	A.&nbsp;&nbsp;39

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;93

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;Data inadequate

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Lets tens place digit be x. <br><br>
Then units place digit = 3x<br><br>
Now <br><br>
x &plus;3x = 12<br><br>
4x = 12<br><br>
x = 3<br><br>
tens digit place = 3<br><br>
units place digit = 3x <br><br>
= 9<br><br>
The required number is 39.


</div>
</body>
</html>
