<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 8</u>:</h2>
<hr>
<p>
(800&divide;64)&times;(1296&divide;36)=?


</p>


<div>
	A.&nbsp;&nbsp;420

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;450

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;500

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;540

	
</div>
		
	

<h2> <u>Answer</u>:B </h2>
Given expression
<br><br>
( <sup>800</sup>&frasl;<sub>64</sub> ) &times; ( <sup>1296</sup>&frasl;<sub>36</sub> )
<br><br>
= ( <sup>800</sup>&frasl;<sub>64</sub> )&times; 36   (36<sup>2</sup> =1296 )
<br><br>
= <sup>800 &times;36</sup>&frasl;<sub>64</sub><br><br>
= <sup>2880</sup>&frasl;<sub>64</sub><br><br>
= 450.


</body>
</html>
