<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:77</h2>
<hr>
<p>
A man has some hens and some cows. If the number of heads is 50 and number of feet is 142, the number of cows is:


</p>


<div>
	A.&nbsp;&nbsp;21

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;25

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;27

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;29

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
Let the man has hens only<br><br>
Then total heads = 50&times;1=50<br><br>
And legs = 50&times;2 = 100 which is short by 42 from the actual legs i.e. 142<br><br>
Replacement of one hen with one cow means same number of heads and two more legs.<br><br>
Hens replaced with cows =42&divide;2=21<br><br>
Cows = 21.


</body>
</html>
