<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:63</h2>
<hr>
<p>
If a two digit number is three times the sum of its digits, the number formed by interchainging the digit is how many times of their sum?


</p>


<div>
	A.&nbsp;&nbsp;7

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;8

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;9

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;10

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>

We know that sum of two such numbers is 11 times the sum of its digit.<br><br>
Number on interchanging = 11-3<br><br>=8 times of sum of the digits.

</body>
</html>
