{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:31</h2>
<hr>
<p>
A number when multiplied by 21 is increased by 200 find the number.


</p>


<div class="div2">
	A.&nbsp;&nbsp;10

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;11

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;12

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;20

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let X be the required number.
<br><br>
Then 21X = X + 200
<br><br>
21X-X = 200
<br><br>
20X = 200
<br><br>
X = 200&divide;20
<br><br>
= 10.<br><br>


</div>
</body>
</html>
