<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:26</h2>
<hr>
<p>
In a group of 40 persons, 15 drink tea but not coffee and 18 drink coffee but not tea if they drink at least one of the drinks, how  many persons in the group drink tea?


</p>


<div>
	A.&nbsp;&nbsp;15

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;18

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;22

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;25

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Persons who drink tea <br><br>
= total persons &minus; persons who do not drink tea<br><br> = 40&minus;18 <br><br>=22.

</body>
</html>
