{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question 11</u>:</h2>
<hr>
<p>

8.7&minus;[7.6&minus;{6.5&minus;(5.5&minus;

<span style="white-space: nowrap;">
<span style="text-decoration:overline;">4.3&minus;2</span>
</span>



)}] is simplified to :

</p>


<div class="div2">
	A.&nbsp;&nbsp;2.5

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;3.5

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;4.5

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;5.5

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given expression 
<br><br>
= 8.7&minus;[7.6&minus;{6.5&minus;(5.4&minus;2.3)}]<br><br>
= 8.7 &minus;[7.6&minus;{6.5&minus;3.1}]<br><br>
= 8.7&minus;[7.6&minus;{3.4}]<br><br>
= 8.7&minus;4.2<br><br>
= 4.5.


</div>
</body>
</html>
