<html>
<body>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:57</h2>
<hr>
<p>

    A two digit number is three times he sum of its digits. If 45 is added to the number, its digits are reversed. The
    sum of digits of the number is:

</p>


<div>
    A.&nbsp;&nbsp;5


</div>
<br>
<div>
    B.&nbsp;&nbsp;7


</div>
<br>
<div>
    C.&nbsp;&nbsp;9


</div>
<br>

<div>
    D.&nbsp;&nbsp;11


</div>


<h2><u>Answer</u>: C</h2>

Let the number is 10X+Y<br><br>
Then 10X+Y = 3(X+Y)<br><br>
7X-2Y = 0<br><br>
7X = 2Y &minus;&nbsp;&minus;&nbsp;&minus;&nbsp;&minus;&nbsp;&minus;&gt;(1)<br><br>
On adding 45 to the number, its digits are reversed.<br><br>
Difference between x and y is 45&divide;9 = 5 and X < Y <br><br>
Y = X &plus; 5&minus;&nbsp;&minus;&nbsp;&minus;&nbsp;&minus;&nbsp;&minus;&gt;(2)<br><br>
Putting this value in (1), we get 7X = 2(X+5)<br><br>
X = 2 , Y = 7<br><br>
The number is 27 and the sum of the digits is 2+7=9.<br><br>

</body>
</html>
