<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:71</h2>
<hr>
<p>
The taxi charges in a city contain fixed charges and additional charge/km. the fixed charge is for a distance of upo 5km and additional charge/km thereafter. The charge for a distance if 10km is 350 and for 25km is 800. The charge for a distance of 30km is:


</p>


<div>
	A.&nbsp;&nbsp;900

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;950

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;800

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;750

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Additional km charges for 15 km <br><br>

(i.e. 25-10)km = 800-350<br><br>

 = 450<br><br>
Additional km charges for 1 km = 450&divide;15 <br><br>

= 30<br><br>

Additional km charges for 5 km = 30&times;5 <br><br>

= 150<br><br>
Total charges for 30 km = total charges for 25 km + additional km charges for 5km <br><br>

= 800+150 
<br><br>

= 950.


</body>
</html>
