<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:35</h2>
<hr>
<p>
In a division problem, the divisor is 4 times the quotient and 3 times the remainder. If the remainder is 4, the dividend is:


</p>


<div>
	A.&nbsp;&nbsp;36

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;40

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;12

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;30

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Remainder = 4<br><br>
Divisor = 3&times;4=12<br><br>
Quotient = divisor&divide;4<br><br>
= 12&divide;4=3<br><br>
Dividend = (divisor&times;quotient)+remainder<br><br>
= (12&times;3)+4<br><br>
=36+4<br><br>
=40.


</body>
</html>
