{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:39</h2>
<hr>
<p>

In a question of division, the dividend is 37693, quotient is 52 and remainder lies between 52 and 104. Divisor will be :

</p>


<div class="div2">
	A.&nbsp;&nbsp;724

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;723

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;722

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;721

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

( <sup>37693</sup>&frasl;<sub>52</sub> ) = 724+(remainder 45)<br><br>
37693 = 724&times;52+45<br><br>
= 723&times;52+(45+52)<br><br>
= 723&times;52+97<br><br>
= 723 is the required divisor.

</div>
</body>
</html>
