<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:55</h2>
<hr>
<p>
In a two digit number, the unit digit is equal to the square of tens digit. The difference between the original number and the number formed by interchanging the digits is 54. What is the original number


</p>


<div>
	A.&nbsp;&nbsp;24

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;39

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;54

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;93

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>

from the problem the difference between the original number and the number formed by interchanging the digits is 54.
<br><br>
take option a.<br><br>

original number =24<br><br>
reversing the number we get = 42<br><br>
their difference = 42-24 = 18 not equal to 54.

<br><br>
take option b <br><br>
original number = 39 <br><br>
reversing the number we get = 93 <br><br>
their difference = 93-39 = 54 
<br><br>
So this is the original number
<h2><u>Alternative method</u>:</h2>
Let the two digit number be XY then it can be represented in decimal format as below
<br><br>
(10<sup>1</sup>&times;X)+(10<sup>0</sup>&times;Y)--->1
<br><br>
By Reversing the digits of the number we get YX and it can be represented in decimal form as 
<br><br>
(10<sup>1</sup>&times;Y)+(10<sup>0</sup>&times;X)--->2
<br><br>
Given Units digit is square of tens digit
<br><br>
i.e. Y = X<sup>2</sup>----> 3
<br><br>
and also the difference between original and the number obtained by reversing original number is 54
<br><br>
<u>Case </u>1:  (10X+Y)-(10Y+X) = 54
<br><br>
9(X-Y) = 54
<br><br>
X-Y = 6
<br><br>
X-X<sup>2</sup> = 6
<br><br>
X<sup>2</sup>-X+6 = 0
<br><br>
The above eq not at all have natural roots.
<u>Case</u>2 :(10Y+X)-(10X+Y) = 54
<br><br>
9(Y-X) = 54
<br><br>
Y-X = 6
<br><br>
X<sup>2</sup>-X-6 = 0
<br><br>
The roots of the eq. are -2 and 3
<br><br>
So X = 3
<br><br>
Y = X<sup>2</sup>
<br><br>
Y = 3<sup>2</sup>
<br><br>
Y = 9
<br><br>
So the number is 39

</body>
</html>
