<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:21</h2>
<hr>
<p>
In a row, A is 5th from the left side and B is 8th from the right side. They both interchange their positions and then A becomes 12th from the left side. How many persons are there in the row?


</p>


<div>
	A.&nbsp;&nbsp;16

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;17

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;19

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;20

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
B is 8th from the right side <br><br>
when they interchange their places A is at Bs place and his place becomes 12th from the left side<br><br>
same place is 8th from one side and 12th from the other side.<br><br>
Total persons in the row <br><br>
= 8&plus;12&minus;1<br><br>
=19.


</body>
</html>
