{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question 2</u>:</h2>
<hr>
<p>
The product of a rational number and an irrational number is:




</p>


<div class="div2">
	A.&nbsp;&nbsp;A natural number 

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;	An irrational number

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;	A composite number

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;	A rational number

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Always an irrational number.

</div>
</body>
</html>
