{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:69</h2>
<hr>
<p>
The numbers 1,2,3,4,&minus;&minus;1000 are multiplied together. The number of zeros at the end(on right) of the product must be:


</p>


<div class="div2">
	A.&nbsp;&nbsp;30

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;200

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;211

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;249

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
2&times;5=10 i.e product of 2 and 5 gives one zero.<br><br>
Numbers divisible by 5 = 1000&divide;5=200<br><br>
Numbers divisible by 5<sup>2</sup> = 1000&divide;5<sup>2</sup> = 40<br><br>
Numbers divisible by 5<sup>3</sup> = 1000&divide; 5<sup>3</sup> = 8<br><br>
Numbers divisible by 5 <sup>4</sup> = 1000&divide;5<sup>4</sup> = 1<br><br>
Total multiples of 5 <br><br>
= 200+40+8+1
<br><br>
= 249<br><br>
Number divisible by 2 <br><br>
= 1000&divide;2 
<br><br>
= 500<br><br>
Total number of zeros of 249(minimum of numbers divisible by 2 or 5).


</div>
</body>
</html>
