<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:65</h2>
<hr>
<p>
Three numbers which are co prime to one another are such that the product of the first two is 551 and that of the last numbers is 1073. The sum of the here numbers is:


</p>


<div>
	A.&nbsp;&nbsp;75

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;81

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;85

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;89

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let the number are X,Y and Z<br><br>
X&times;Y = 551=19&times;29 <br><br>
and Y&times;Z = 1073<br><br>
= 29&times;37<br><br>
The numbers are 19,29 and 37.<br><br>
Sum of the numbers = 19+29+37<br><br>=85.


</body>
</html>
