{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:54</h2>
<hr>
<p>

A number consists of two digits such that the digit in the tens place is less by 2 than the digit in the units place. Three times the number added to 

<sup>6</sup>&frasl;<sub>7</sub>

 times the number obtained by reversing the digits equals 108. The sum of digits in the number is:

</p>


<div class="div2">
	A.&nbsp;&nbsp;8

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;9

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;6

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;7

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let the two digit number be XY then it can be represented in decimal format as below
<br><br>
(10<sup>1</sup>&times;X)+(10<sup>0</sup>&times;Y)--->1
<br><br>
By Reversing the digits of the number we get YX and it can be represented in decimal form as 
<br><br>
(10<sup>1</sup>&times;Y)+(10<sup>0</sup>&times;X)--->2
<br><br>
Given that the digit in tens place is less by 2  than the digit in units place of the number 
<br><br>
i.e. X = Y-2
<br><br>
Y-X = 2
<br><br>
Y = X+2--->3
Given that Three times the number added to 

<sup>6</sup>&frasl;<sub>7</sub>

 times the number obtained by reversing the digits equals 108
<br><br>
i.e. 3(10X+Y)+((6 &frasl; 7) &times;(10Y+X)) = 108
<br><br>
21(10X+Y)+6(10Y+X) = 108 &times;7
<br><br>
210X+21Y+60Y+6X = 756
<br><br>
216X+81Y = 756
<br><br>
24X+9Y = 84
<br><br>
8X+3Y = 28
<br><br>
By substituting Y from 3 in above eq. we will get 
<br><br>
8X+3(X+2) =28
<br><br>
11X+6 = 28
<br><br>
11X = 22
<br><br>
X = 2
<br><br>
From eq.3 we get 
Y = X+2
<br><br>
Y = 2+2
<br><br>
Y = 4
<br><br>
The required number is XY = 24
<br><br>
Sum of Digits = 2 + 4 = 6
</div>
</body>
</html>
