<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 12</u>:</h2>
<hr>
<p>

1400&times;?=1050 

</p>


<div>
	A.&nbsp;&nbsp;<sup>1</sup>&frasl; <sub>4</sub>

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;<sup>3</sup>&frasl; <sub>4</sub>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;<sup>3</sup>&frasl; <sub>5</sub>

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;<sup>2</sup>&frasl; <sub>3</sub>

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
X =  <sup>1050</sup>&frasl;<sub>1400</sub>
 <br><br>
= <sup>3</sup>&frasl;<sub>4</sub>.


</body>
</html>
 