{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:35</h2>
<hr>
<p>
In a division problem, the divisor is 4 times the quotient and 3 times the remainder. If the remainder is 4, the dividend is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;36

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;40

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;12

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;30

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Remainder = 4<br><br>
Divisor = 3&times;4=12<br><br>
Quotient = divisor&divide;4<br><br>
= 12&divide;4=3<br><br>
Dividend = (divisor&times;quotient)+remainder<br><br>
= (12&times;3)+4<br><br>
=36+4<br><br>
=40.


</div>
</body>
</html>
