<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:44</h2>
<hr>
<p>
Pooja started her job with certain monthly salary and gets a fixed pay increment every year.  If her salary was 4200 after 3 years and 6800 after 8 years of service, then what are her initial salary and the annual increment respectively?


</p>


<div>
	A.&nbsp;&nbsp;2640,320

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;2460,320

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;2450,520

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;2640,520

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>

Five increments = 6800-4200 = 2600<br><br>
One increment = <sup>2600</sup>&frasl;<sub>5</sub> = 520<br><br>
Three increments = 520&times;3= 1560<br><br>
Salary after 3 years = initial salary + 3 increments<br><br>
Initial salary = salary after 3 years &minus; 3 increments<br><br>
= 4200-1560<br><br>
= 2640.

</body>
</html>
