<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:27</h2>
<hr>
<p>
A sum of 100 divided among A, B and C. if A and B together receive 70, B and C together receive 50. Find the amount received by B.


</p>


<div>
	A.&nbsp;&nbsp;10

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;20

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;40

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;60

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
(A &plus; B)&plus;(B &plus; C)=70&plus;50=120
<br><br>
A&plus;B&plus;C&plus;B = 120
<br><br>
B&plus;100 = 120
<br><br>
B&CloseCurlyQuote;s Share =20.


</body>
</html>
