<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:82</h2>
<hr>
<p>
A sum of 80 made up of 100 coins, which are either 1 or 50 paise denomination. How many coins are of 50 paise?


</p>


<div>
	A.&nbsp;&nbsp;80

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;75

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;60

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;40

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Let all the coins are of 50 paise denomination<br><br>
Then total value of 100 coins = 100&times;1&divide;2=50 i.e 30 less than 80.<br><br>
Replacement of one fifty paise coin with one rupee coin means 50 paise extra.<br><br>
One rupee coin = 30&divide;0.50 = 30&times;2 = 60 coins<br><br>
50 paise coins = 100-60 <br><br>
= 40.


</body>
</html>
