{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:41</h2>
<hr>
<p>

The weight of a container full of water is 28kg. When I is <sup>1</sup>&frasl;<sub>4</sub> full, it weighs 19kg. its weight, when it is <sup>2</sup>&frasl;<sub>3</sub> full of water, will be:

</p>


<div class="div2">
	A.&nbsp;&nbsp;8 kg

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;20 kg

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;24 kg

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;18.67 kg

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Weight of container + full water = 28 kg &minus;&minus;&minus;&minus;&minus;&gt;(1)<br><br>
And weight of container + <sup>1</sup>&frasl;<sub>4</sub> water = 19 kg&minus;&minus;&minus;&minus;&minus;&gt;(2)<br><br>
(1)-(2): weight of <sup>3</sup>&frasl;<sub>4</sub> water = (28-19)kg = 9 kg<br><br>
Weight of full water = 9&times;(<sup>4</sup>&frasl;<sub>3</sub>)=12 kg<br><br>
Weight of empty container = 28 kg -12 kg = 16 kg<br><br>
Weight of <sup>2</sup>&frasl;<sub>3</sub> water= (<sup>2</sup>&frasl;<sub>3</sub>)&times;12 = 8 kg<br><br>
Required weight = 16+8<br><br> = 24.

</div>
</body>
</html>
