<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:36</h2>
<hr>
<p>
In a division sum, the divisor is 10 times the quotient and 5 times the reminder. If the remainder is 24, the dividend is:


</p>


<div>
	A.&nbsp;&nbsp;1440

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;1464

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;2892

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Divisor = 5&times;24=120<br><br>
Quotient = 120&divide;10=12<br><br>
Dividend = (divisor&times;quotient)+remainder<br><br>
= 120&times;12+24<br><br>
= 1440+24<br><br>
= 1464.


</body>
</html>
