<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:31</h2>
<hr>
<p>
A number when multiplied by 21 is increased by 200 find the number.


</p>


<div>
	A.&nbsp;&nbsp;10

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;11

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;12

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;20

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
Let X be the required number.
<br><br>
Then 21X = X + 200
<br><br>
21X-X = 200
<br><br>
20X = 200
<br><br>
X = 200&divide;20
<br><br>
= 10.<br><br>


</body>
</html>
