<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:73</h2>
<hr>
<p>
A man employed in an office on the condition that he will get 20 for each day he attends the office and 10 will be deducted from his salary for each day he absents. If in a month of 30 working day, he earned 450, find the number of days he attended the office



</p>


<div>
	A.&nbsp;&nbsp;12 days

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;15 days

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;20 days

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;25 days

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Let he attends office daily.<br><br>
Then his total earnings = 30&times;20 =600<br><br>
But his actual earnings = 450<br><br>
For each day he absents, he loses = 20+10=30<br><br>
He was absent for 150&divide;30 = 5 days<br><br>
He attended office for 30-5 = 25 days.


</body>
</html>
