<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:87</h2>
<hr>
<p>
The minimum value of (x-2)(x-9) is:


</p>


<div>
	A.&nbsp;&nbsp;-<sup>11</sup>&frasl;<sub>4</sub>

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;-<sup>49</sup>&frasl;<sub>4</sub>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;0

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;2

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
The expression will have minimum value when the product of two factors is maximum and the product sign is negative.<br><br>
(x-2) = -(x-9)<br><br>
x-2 = -x+9<br><br>
2x =11<br><br>
X = 11&divide;2<br><br>
(x-2)(x-9) = ((11&divide;2)-2)((11&divide;2)-9)<br><br>
= (7&divide;2)(-7/2)
<br><br>
= -<sup>49</sup>&frasl;<sub>4</sub>.  


</body>
</html>
