{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:33</h2>
<hr>
<p>
A boy was asked to multiply a certain number by 53. By mistake , he multiplied it by 35 and got his answer less then the correct one by 1206. He number was:


</p>


<div class="div2">
	A.&nbsp;&nbsp;67

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;76

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;77

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;66

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let X be the required number<br><br>
Then 53X&minus;35X = 1206<br><br>
18X = 1206<br><br>
X = 67.

</div>
</body>
</html>
