<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:86</h2>
<hr>
<p>
Mohan gets 3 marks for each correct sum and loses 2 marks for each wrong sum. He attempted 20 sums and obtains 40 marks. The number of sums solved correctly is:


</p>


<div>
	A.&nbsp;&nbsp;10

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;16

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;20

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;25

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Let he attempted X sums correctly<br><br>
Then his total marks = 3X-2(20-X)=40<br><br>
5X = 80<br><br>
X=16.


</body>
</html>
