<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:61</h2>
<hr>
<p>

A three digit number is divisible by 11 and has its digit in the units place equal to 1. The number is 279 more than the number obtained by reversing the digit. What is the number?

</p>


<div>
	A.&nbsp;&nbsp;121

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;231

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;561

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;451

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Difference between units digit and hundreds digit = 297&divide;99= 3<br><br>
Only option (d) satisfies this condition.


</body>
</html>
