<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:23</h2>
<hr>
<p>
Find he maximum number of trees which can be planted, 20 meters apart , on the two sides of a straight road 1760 meters long.


</p>


<div>
	A.&nbsp;&nbsp;176

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;180

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;178

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;174

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
number of trees can be planted on one side on road 
= 1760&divide;20&plus;1<br><br>
= 88&plus;1<br><br>
= 89<br><br>
number of trees on both side
<br><br>
= 89&times;2<br><br> 
= 178.

</body>
</html>
