{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:79</h2>
<hr>
<p>
380 mangoes are distributed among some boys and girls who are 85 in number. Each boy gets four mangoes and each girl gets five. The number of boys is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;15

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;38

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;40

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;45

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let us assume that the number of boys and girls be B and G
<br><br>
then B+G = 85--->1
<br><br>
Given that each boy gets 4 mangoes and each girl gets 5 mangoes
<br><br>
Then B boys will get B&times;4 and G girls will get G&times;5
<br><br>
So sum of the total is 384
<br><br>
i.e. 4B+5G = 384--->2
<br><br>
By solving eq.1 and eq.2 we will get 
<br><br>
G = 40
<br><br>
B+G = 85
<br><br>
B = 85-G
<br><br>
B = 85-40
<br><br>
B = 45


</div>
</body>
</html>
