{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question 4</u>:</h2>
<hr>
<p>
15&minus;15&divide;15 &times;6 = ?


</p>


<div class="div2">
	A.&nbsp;&nbsp;6

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;
84
	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;

9	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;

0	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>=
15&minus;(<sup>15</sup>&frasl;<sub>15</sub>)&times;6<br><br>

=15&minus;1&times;6<br><br>
=15&minus;6<br><br>
=9


</div>
</body>
</html>
