<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:85</h2>
<hr>
<p>
In an examination, a student is awarded 4 marks for every correct answer and losses 2 marks  for every wrong answer. If a student attempted all 75 questions and secured 150 marks, the number of questions he attempted correct is:


</p>


<div>
	A.&nbsp;&nbsp;45

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;50

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;55

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;48

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Let he attempted X sums correctly<br><br>
Then his total marks = 4X-2(75-X)=150<br><br>
6X = 300<br><br>
X = 50.


</body>
</html>
