{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:62</h2>
<hr>
<p>
In a three digit number the digit in the units place is 4 times the digit in the hundreds place. If the digit in the units place and tens place are interchanged, the new number such formed is 18 more than the original number. If the digit in the hundreds place is one third of the digit in the tens place, what is 25% of the original number?


</p>


<div class="div2">
	A.&nbsp;&nbsp;31

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;67

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;107

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Number may have 1 or 2 at hundreds place and 4 or 8 at units place.<br><br>
Difference between units digit and tens digit = 18&divide;9=2<br><br>
Tens digit may be <br><br>
4-2 = 2 or <br><br>
8-2 = 6<br><br>
Given that hundreds place digit is one third of the tens place digit.<br><br>
Hundreds place digit = 6&divide;3 = 2<br><br>
The given number is 268.<br><br>
25% of the number is <br><br>
25% &times;268<br><br> = 67.


</div>
</body>
</html>
