<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:75</h2>
<hr>
<p>
The sum of two consecutive multiple of a certain number is 120. Find the number


</p>


<div>
	A.&nbsp;&nbsp;4

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;7

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;8

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;15

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>

120 =15&times;8=(7+8)&times;8=7&times;8+8&times;8<br><br>
The required number is 8.<br><br>
Hint: let the number is x.<br><br>
Then sum = x(n)+x(n+1)= x(2n+1)<br><br>
Note: (2n+1) is always an odd number.

</body>
</html>
