<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 20</u>:</h2>
<hr>
<p>

Students of a class stand in a queue. If Ramesh is 19th in order from both ends, how many students are there in the queue?

</p>


<div>
	A.&nbsp;&nbsp;20

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;37

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;38

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;39

	
</div>
		
	

<h2> <u>Answer</u>: B </h2>

Ramesh is 19th from both the sides<br><br>
There are 18 students on his each side+ Ramesh<br><br>
Total students in the queue = 18&times;2&plus;1= 37.

</body>
</html>
