{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question 6</u>:</h2>
<hr>
<p>

5 &times; 16&divide;8 of 2 = ?

</p>


<div class="div2">
	A.&nbsp;&nbsp;5

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;6

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;20

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;30

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

= 5&times;16&divide;8 of 2<br><br>
= 5&times;16&divide;8(2)<br><br>
= 5&times;16&divide;16 (From BODMAS rule first the things in brackets are calculated first)
<br><br>
= 5&times;1<br><br>
= 5.

</div>
</body>
</html>
