{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:80</h2>
<hr>
<p>
A sum of 350 made up of 110 coins , which are either 1 or 5 denomination. How many coins are of 5?


</p>


<div class="div2">
	A.&nbsp;&nbsp;50

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;55

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;60

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;175

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let all the coins are of 1 denomination<br><br>
Then total value of 110 coins = 110&times;1  = 110 i.e. 240 less than 350<br><br>
Replacing 1 one rupee coin with five rupee coin means 4 extra with same number of coins.<br><br>
Five rupee coins = 240&divide;4=60 coins.


</div>
</body>
</html>
