<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:64</h2>
<hr>
<p>
Three numbers which are co-prime to one another are such that the product of the first two is 475 and that of the last two numbers is 1075. Find the sum of the three numbers.


</p>


<div>
	A.&nbsp;&nbsp;75

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;78

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;87

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;89

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let the number are X,Y and Z<br><br>
X&times;Y = 475 =19&times;25 <br><br>
and Y &times;Z = 1075=25&times;43<br><br>
The numbers are 19,25 and 43<br><br>
Sum of the numbers<br><br>
 = 19+25+43 = 87.


</body>
</html>
