<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 2</u>:</h2>
<hr>
<p>
The product of a rational number and an irrational number is:




</p>


<div>
	A.&nbsp;&nbsp;A natural number 

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;	An irrational number

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;	A composite number

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;	A rational number

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Always an irrational number.

</body>
</html>
