<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:78</h2>
<hr>
<p>
Krishna has some hens and some goats. If the total number of animal heads are 81 and total  number of animal legs are 234, how many goats does Krishna has?


</p>


<div>
	A.&nbsp;&nbsp;45

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;24

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;36

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let krishna has hens only<br><br>
Then total number of heads = 81&times;1=81<br><br>
And legs = 81&times;2=162 which are short by 72 from the actual legs i.e. 234<br><br>
Replacement of one hen with one goat means same number of heads and two more legs.<br><br>
Hens replaced with goats = 72&divide;2=36.


</body>
</html>
