{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:28</h2>
<hr>
<p>
A and B together have 158 , C has 101 less than what A and B  together have and B has 23 more than C. Then amount of A is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;80

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;78

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;57

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;88

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
(A&plus;B)=158<br><br>
C has 101 less than what A and B  together have<br><br>
C = (A&plus;B)&minus;101=158&minus;101<br><br>=57<br><br>
B has 23 more than C<br><br>
B = C &plus; 23 
<br><br>
B = 57&plus;23
<br><br>
B = 80
<br><br>
Given A and B together have 158
A&plus;B = 158
<br><br>
A&plus;80 = 158
<br><br>
A = 158&minus;80
<br><br>
A = 78




</div>
</body>
</html>
