<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:50</h2>
<hr>
<p>

The sum of the digits of two digit number is 13. If 9 is added to the number, the digits are reversed. What is the number?

</p>


<div>
	A.&nbsp;&nbsp;36

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;67

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;76

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;116

	
</div>
		
	

<h2> <u>Answer</u>: b</h2>
Let the two digit number be XY then it can be represented in decimal format as below
<br><br>
(10<sup>1</sup>&times;X)+(10<sup>0</sup>&times;Y)--->1
<br><br>
By Reversing the digits of the number we get YX and it can be represented in decimal form as 
<br><br>
(10<sup>1</sup>&times;Y)+(10<sup>0</sup>&times;X)--->2
<br><br>
Given that the sum of the digits of a number is 13
<br><br>
i.e. X+Y = 13--->3
<br><br>
If 9 is added to equation 1 then we get euqtion 2
<br><br>
i.e. (10<sup>1</sup>&times;X)+(10<sup>0</sup>&times;Y)+9 = (10<sup>1</sup>&times;Y)+(10<sup>0</sup>&times;X)
<br><br>
10X+Y +9 = 10Y+X
<br><br>
9Y-9X = 9
<br><br>
9(Y-X) = 9
<br><br>
Y-X = 1--->4
<br><br>
By solving eq.3 and eq.4 we will get
<br><br>
2Y = 14
<br><br>
Y = 7
<br><br>
From eq.4
<br><br>
Y-X = 1
<br><br>
X = Y-1
<br><br>
X = 7-1
<br><br>
X = 6
<br><br>
So the number is XY = 67


</body>
</html>
