{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:76</h2>
<hr>
<p>

Find the total number of even factors of a number : 2 <sup> 4</sup> &times; 3 <sup> 5</sup> &times; 5 <sup> 3</sup>

</p>


<div class="div2">
	A.&nbsp;&nbsp;60

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;80

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;96

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;120

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Total nmber of factors = (4+1)&times;(5+1)&times;(3+1)=120<br><br>
Odd factors = (5+1)&times;(3+1)=24<br><br>
Even factors = 120-24=96.


</div>
</body>
</html>
