<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:28</h2>
<hr>
<p>
A and B together have 158 , C has 101 less than what A and B  together have and B has 23 more than C. Then amount of A is:


</p>


<div>
	A.&nbsp;&nbsp;80

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;78

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;57

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;88

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
(A&plus;B)=158<br><br>
C has 101 less than what A and B  together have<br><br>
C = (A&plus;B)&minus;101=158&minus;101<br><br>=57<br><br>
B has 23 more than C<br><br>
B = C &plus; 23 
<br><br>
B = 57&plus;23
<br><br>
B = 80
<br><br>
Given A and B together have 158
A&plus;B = 158
<br><br>
A&plus;80 = 158
<br><br>
A = 158&minus;80
<br><br>
A = 78




</body>
</html>
