<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:37</h2>
<hr>
<p>

In a question of division, the divisor is 7 times the quotient and 3 times the remainder if the remainder is 28, then the divided is:

</p>


<div>
	A.&nbsp;&nbsp;588

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;784

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;823

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;1036

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Divisor = 28&times;3=84<br><br>
Quotient = 84&divide;7=12<br><br>
Dividend = (divisor&times;quotient)+remainder<br><br>
= 84&times;12+28<br><br>
= 1008+28<br><br>
= 1036.


</body>
</html>
