{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:42</h2>
<hr>
<p>
A single person takes 6 minutes to fill a bottle. If from 11 a.m to 12.30 p.m, 1845 bottles are to be filled, how many should be employed on this job?


</p>


<div class="div2">
	A.&nbsp;&nbsp;121

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;123

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;131

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;137

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Bottles filled by a single person from 11 a.m. to 12.30 p.m. <br><br>
= 90&divide;6<br><br>=15<br><br>
	Persons required to fill 1845 bottles <br><br>
= 1845&divide;15<br><br>=123.

</div>
</body>
</html>
