{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:49</h2>
<hr>
<p>

The sum of digits of a two digit number is 8 and the difference between the number and that formed by reversing the digits is 18. What is the difference between the digits of the number?

</p>


<div class="div2">
	A.&nbsp;&nbsp;1

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;2

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;3

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;4

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let the two digit number be XY then it can be represented in decimal format as below
<br><br>
(10<sup>1</sup>&times;X)+(10<sup>0</sup>&times;Y)--->1
<br><br>
By Reversing the digits of the number we get YX and it can be represented in decimal form as 
<br><br>
(10<sup>1</sup>&times;Y)+(10<sup>0</sup>&times;X)--->2
<br><br>
Given that the sum of the digits of a number is 8
<br><br>
i.e. X+Y = 8
<br><br>
The difference between 1 and 2 is 18
<br><br>
i.e. (10X+Y)-(10Y+X) = 18
<br><br>
9X-9Y = 18
<br><br>
9(X-Y) = 18
<br><br>
X-Y = 2


</div>
</body>
</html>
