<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:45</h2>
<hr>
<p>

How many digits are required to write numbers from 1 to 400

</p>


<div>
	A.&nbsp;&nbsp;1002

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;1092

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;1103

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;1209
	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
One digit numbers (1 to 9) = 9<br><br>
Two digit numbers (10 to 99) = 90<br><br>
Three digit numbers (100 to 400) = 301<br><br>
Total digits required = 9&times;1+90&times;2+301&times;3<br><br>
=9+180+903<br><br>=1092.


</body>
</html>
