<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:70</h2>
<hr>
<p>
A man engaged a servant on the condition that he would pay him 3000 and one uniform after one year of service. He served only for 9 months and got 2200 and a uniform. What is the price of uniform?


</p>


<div>
	A.&nbsp;&nbsp;100

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;200

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;250

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;400

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
12 months wages = 3000+one uniform &minus;&minus;&minus;&minus;&minus;(1)<br><br>
9 months wages = 2200+ one uniform &minus;&minus;&minus;&minus;&minus;(2)<br><br>
(1)-(2)<br><br>
3 months wages = 800<br><br>
12 months wages 
<br><br>
= 4&times;800 = 3200<br><br>
From (1): cost of uniform 
<br><br>
= 3200-3000<br><br>=200.


</body>
</html>
