{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:53</h2>
<hr>
<p>
The sum of the digits of a two digit number is 12. On adding 36 to the number, its digits are reversed; what is the number?


</p>


<div class="div2">
	A.&nbsp;&nbsp;39

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;48

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;57

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;75

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let the two digit number be XY then it can be represented in decimal format as below
<br><br>
(10<sup>1</sup>&times;X)+(10<sup>0</sup>&times;Y)--->1
<br><br>
By Reversing the digits of the number we get YX and it can be represented in decimal form as 
<br><br>
(10<sup>1</sup>&times;Y)+(10<sup>0</sup>&times;X)--->2
<br><br>
Given that the sum of the digits of a number is 12
<br><br>
i.e. X+Y = 12--->3
<br><br>
If 36 is added to equation 1 then we get euqtion 2
<br><br>
i.e. (10<sup>1</sup>&times;X)+(10<sup>0</sup>&times;Y)+36 = (10<sup>1</sup>&times;Y)+(10<sup>0</sup>&times;X)
<br><br>
10X+Y +36 = 10Y+X
<br><br>
9Y-9X = 36
<br><br>
9(Y-X) = 36
<br><br>
Y-X = 4--->4
<br><br>
By solving eq.3 and eq.4 we will get
<br><br>
2Y = 16
<br><br>
Y = 8
<br><br>
From eq.4
<br><br>
Y-X = 4
<br><br>
X = Y-4
<br><br>
X = 8-4
<br><br>
X = 4
<br><br>
So the number is XY = 48


</div>
</body>
</html>
