<html>
<body>
<head>

</head>
<h2><u> Question 1 </u>:</h2>
    <hr>
    <p>
        If we divide a positive integer by another integer, what is the resulting number?
    </p>


    <div class="div2">
        A.&nbsp;&nbsp;
        It is always a natural number

    </div>
    <br>
    <div class="div2">
        B.&nbsp;&nbsp;
        It is always an integer

    </div>
    <br>
    <div class="div2">
        C.&nbsp;&nbsp;
        It is always a rational number

    </div>
    <br>

    <div class="div2">
        D.&nbsp;&nbsp;
        It is always an irrational number.


    </div>


    <br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
    It is always a rational number

</div>
</body>
</html>
