<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:22</h2>
<hr>
<p>
Atul is 12th from the right and 4th from the left in a queue of boys. The number of boys to be added to the queue such that there are 28 boys in the queue is:

</p>


<div>
	A.&nbsp;&nbsp;12

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;13

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;14

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;16

	
</div>
		
	

<h2> <u>Answer</u>: B </h2>
Atul 12th from the right side <br><br>
number of students in right side of Atul = 11 (not calculating Atul)<br><br>
number of students in left side of Atul= 3 (not calculating Atul)<br><br>
total boys in the queue<br><br> = 11&plus;3&plus;Atul<br><br>
=15<br><br>
Boys to be added<br><br> = 28&minus;15<br><br>=13.


</body>
</html>
