{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:52</h2>
<hr>
<p>

The sum of the digits of a two digit number is 15. On subtracting 27 from the given number its digits are reversed. Find the number

</p>


<div class="div2">
	A.&nbsp;&nbsp;69

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;78

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;87

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;96

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let the two digit number be XY then it can be represented in decimal format as below
<br><br>
(10<sup>1</sup>&times;X)+(10<sup>0</sup>&times;Y)--->1
<br><br>
By Reversing the digits of the number we get YX and it can be represented in decimal form as 
<br><br>
(10<sup>1</sup>&times;Y)+(10<sup>0</sup>&times;X)--->2
<br><br>
Given that the sum of the digits of a number is 15
<br><br>
i.e. X+Y = 15--->3
<br><br>
If 27 is Subtracted  from equation 1 then we get euqtion 2
<br><br>
i.e. (10<sup>1</sup>&times;X)+(10<sup>0</sup>&times;Y)-27 = (10<sup>1</sup>&times;Y)+(10<sup>0</sup>&times;X)
<br><br>
10X+Y -27 = 10Y+X
<br><br>
9X-9Y = 27
<br><br>
9(X-Y) = 27
<br><br>
X-Y = 3--->4
<br><br>
By solving eq.3 and eq.4 we will get
<br><br>
2X = 18
<br><br>
X = 9
<br><br>
From eq.4
<br><br>
X-Y = 3
<br><br>
Y= X-3
<br><br>
Y = 9-3
<br><br>
Y = 6
<br><br>
So the number is XY = 96


</div>
</body>
</html>
