{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:38</h2>
<hr>
<p>

A divisor is 25 times the quotient and 5 times the remainder if the quotient is 16 the dividend is:

</p>


<div class="div2">
	A.&nbsp;&nbsp;6440

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;6480

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;400

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;480

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Divisor = 25&times;quotient <br><br>
= 25&times;16 = 400<br><br>
Remainder = ( <sup>400</sup>&frasl;<sub>5</sub> ) = 80
<br><br>
Dividend = (divisor &times;quotient)+remainder
<br><br>
= 400 &times; 16+80
<br><br>
= 6400+80
<br><br>
= 6480.


</div>
</body>
</html>
