<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:68</h2>
<hr>
<p>
All the even numbers up to 100 i.e. 2,4,6&minus;&minus;&minus;&minus; 100 are multiplied together. The number of zeros at the end of the product will be:


</p>


<div>
	A.&nbsp;&nbsp;13

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;12

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;11

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;10

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
There are 10 multiples of 10 up to 100 viz. 10, 20, 30&minus;&minus;&minus;&minus;&minus;100<br><br>
These numbers have 0 at the unit place but 100 has two zeros<br><br>
Zero in the product of these numbers 
<br><br>
= 10+1=11<br><br>
Now 50=5&times;10<br><br>
Product of 5 and an even number is also divisible by 10<br><br>
Total number of zero in the product 
<br><br>
= 11+1=12.


</body>
</html>
