<html>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
    <title>Number Tutorial</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1>Numbers</p1>
</u></b></font></p>

<hr/>
<hr/>

<p><font size="4"> <u>Natural Numbers(N): </u></font>
<ul>
    <li>
        &nbsp;(Positive Integers) 1,2,3,4,&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&infin;
    </li>
</ul>
</p>

<p><font size="4"> <u>Whole Numbers(W): </u></font>

<ul>
    <li>
        &nbsp;(set of all natural numbers and 0)
        0,1,2,3,4,5,&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen; &infin;
    </li>
</ul>


</p>

<p><font size="4"> <u> Integers(Z): </u></font>

<ul>
    <li>

        &nbsp; -&infin;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;-3,-2,-1,0,1,2,3,4,5,&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&infin;

    </li>
</ul>

</p>
<p><font size="4"> <u> Even Numbers: </u></font></p>
<ul>
    <li>
        &nbsp;2,4,6,8,,&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&infin;
    </li>
    <li>
        Numbers are exactly divisible by 2. These numbers are end with even number or zero.
    </li>
</ul>

<p><font size="4"> <u> Odd Numbers:</u></font></p>
<ul>
    <li>
        1,3,5,7,8,&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;&infin;
    </li>

    <li>
        Numbers are not exactly divisible by 2. These numbers are end with odd number.
    </li>
    <li>
        Sum of any two odd number is always an even number.
    </li>
    <li>
        Product of any two odd numbers always an odd number.

    </li>
</ul>


<p><font size="4"> <u> Rational Numbers:</u></font></p>

<ul>
    <li>
        Numbers which can be expressed in the form of <sup>p</sup>&frasl;<sub>q</sub>, where p and q both are integers,
        and q is a non-zero integer.
    </li>
    <li>

        A number expressed in the form of p &divide q is also called a fraction, where p is numerator and q is
        denominator.
    </li>

    <li>
        A fraction when converted into decimal, gives finite or recurring digits after decimal sign.

    </li>
    Ex: <sup>1</sup>&frasl;<sub>3</sub>, <sup>1</sup>&frasl;<sub>2</sub>, <sup>7</sup>&frasl;<sub>4</sub>

</ul>

<p><font size="4"> <u> Mixed Numbers:</u></font></p>
<ul>
    <li>
        Numbers which consists of a whole number and a fraction.
    </li>
    Ex: 3<sup>1</sup>&frasl;<sub>4</sub>,
    5<sup>2</sup>&frasl;<sub>7</sub>,
    4<sup>6</sup>&frasl;<sub>17</sub>, etc.
</ul>

<p><font size="4"> <u> Irrational Numbers:</u></font></p>
<ul>
    <li>
        Numbers which cannot be expressed in the form of p &divide; q where p and q both are integers i.e.,
        the numbers
        which are not Rational.
    </li>
    <li>
        These numbers when converted into decimal, give infinite and non-recurring digits after decimal sign.
    </li>

    <br><u>Ex:</u> &#960; ,
    <span style="white-space: nowrap;">
		&radic;<span style="text-decoration:overline;">&nbsp;2&nbsp;</span>
		</span>
    ,

    <span style="white-space: nowrap;">
		&radic;<span style="text-decoration:overline;">&nbsp;3&nbsp;</span>
		</span>

    ,

    <span style="white-space: nowrap;">
		&radic;<span style="text-decoration:overline;">&nbsp;27&nbsp;</span>
		</span>

</ul>

<p><font size="4"> <u> Real Numbers:</u></font></p>

<ul>

    <li>
        Real Numbers are combination of rational and irrational numbers.
    </li>
</ul>

<p><font size="4"> <u> Complex or imaginary Numbers:</u></font>
<ul>
    <li>
        These numbers are written as a+bi where i<sup>2</sup>=-1.
    </li>
</ul>

<p><font size="4"> <u> Composite Numbers:</u></font></p>
<ul>
    <li>
        The number which have more than two factors.
    </li>

    <u>Ex:</u> 4,6,8,9.
</ul>

<p><font size="4"> <u> Prime Numbers:</u></font></p>
<ul>
    <li>
        A number which is not divisible by any number other than 1 and itself.Such numbers have only two
        factors,the
        number itself and 1.
    </li>
    <br><u>Ex:</u> 2,3,5,7,11,13,17,19.
    <br>
    <li>
        1 is neither a prime number nor a composite number.
    </li>
    <li>
        Product of any two prime numbers is always a composite number, since the product is divisible by both the prime
        numbers.
    </li>
</ul>


<p><font size="4"> <u> Twin-Prime Numbers:</u></font>
<ul>
    <li>
        Pairs of such prime numbers whose difference is 2.
    </li>
    <br><u>Ex: </u>3 and 5, 11 and 13.<br>
</ul>


<p><font size="4"> <u> Co-Prime Numbers:</u></font></p>

<ul>
    <li>
        Co-Prime Numbers are those numbers which are prime to each other i.e., they don&CloseCurlyQuote;t have any
        common factor
        other than
        1.
    </li>

    <li>
        Since these numbers do not have any common factor, their HCF is 1 and their LCM is equal to product of the
        numbers.

    </li>

    <li>

        Co-prime numbers can be prime or composite numbers. Any two prime numbers are always co-prime numbers.
    </li>

    <br><u>Ex1: </u>3 and 5 both numbers are prime numbers.<br>

    <br><u>Ex2:</u> 8 and 15 both numbers are composite numbers but they are prime to each other i.e., they
    don&CloseCurlyQuote;t have any
    common factor.
</ul>


<p><font size="4"> <u> Face Value and Base Value:</u></font></p>


<ul>
    <li>
        Face value is absolute value of a digit in a number.
    </li>

    <li>
        Place value or Local value is value of a digit in relation to its position in the numbers.
    </li>
    <br><u>Ex: </u> &nbsp;Face value and Place value of 9 in 12921 is 9 and 900.

</ul>


<p><font size="4"> <u> BODMAS Rule:</u></font></p>

<ul>
    <li>
        Any simplification of an expression may involve various operations, these operations must be performed in
        the following order of preference.
    </li>
    <li>
        <dl>
            <dt>
            <p><font size="3"> <u> B:Bracket:</u></font></p>
            </dt>

            <dd>
                If more than one type of brackets are found, they are operated in the following order,
                <ol>
                    <li>

                        First: ( <span style="text-decoration:overline;">&nbsp;&nbsp;</span>) line or bar bracket or
                        vinculum bracket. <br>
                    </li>
                    <li>
                        Second: (&nbsp; ) small bracket. <br>
                    </li>
                    <li>
                        Third: { } Mid bracket. <br>
                    </li>
                    <li>
                        Forth: [ ] Large Bracket. <br>
                    </li>
                </ol>
            </dd>

        </dl>
    </li>

    <li>


        <p><font size="4"> <u> O(of):</u></font>


            means multiplication but is operated before division.


    </li>
    <li>

        <p><font size="4"> <u> D:</u></font>


            Division.


    </li>
    <li>


        <p><font size="4"> <u> M:</u></font>


            Multiplication.


    </li>
    <li>


        <p><font size="4"> <u> A:</u></font>


            Addition.


    </li>

    <li>


        <p><font size="4"> <u> S:</u></font>


            Subtraction.


    </li>

</ul>

<u>Note:</u>
<ol>
    <li>
        If sum of two numbers a and b is x and difference between the numbers is y.
        <br>
        then a = <sup>x+y</sup>&frasl;<sub>2</sub> and <br>

        b = <sup>x-y</sup>&frasl;<sub>2</sub>
    </li>
    <li>
        If on adding 9 to a two digit number (say xy), its digits are reversed.; Then units digit of the number
        exceeds
        its tens digit by 1. Similarly, if on adding 9a to a two digit number its digits are reversed, then units
        digit
        of the number exceeds its tens digit by a i.e., x+a = y
        <br>
        if digits are reversed on subtracting 9a from the number then x-a=y<br>
        Difference between two digits of the number is number added/subtracted&divide; 9.

    </li>

    <li>
        if on adding 99a to a three digit number (say xyz), its digits are reversed, then x+a = z
        <br>
        If digits are reversed on subtracting 99a from the number, then x-a = z.


    </li>
    <li>


        If a composite number C, can be expressed as a<sup>m</sup> &times; b<sup>n</sup> &times; c<sup>p</sup>&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;,
        where a,b,c&hyphen;&hyphen;&hyphen; are prime factors and m,n,p&hyphen;&hyphen;&hyphen; are natural numbers,
        then total number of factors of C
        <br>
        = (m+1)&times;(n+1)&times;(p+1)&hyphen;&hyphen;&hyphen;&hyphen; <br>
        Total number of factors includes unity and the number itself.
    </li>
</ol>
</body>
</html>