{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:65</h2>
<hr>
<p>
Three numbers which are co prime to one another are such that the product of the first two is 551 and that of the last numbers is 1073. The sum of the here numbers is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;75

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;81

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;85

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;89

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let the number are X,Y and Z<br><br>
X&times;Y = 551=19&times;29 <br><br>
and Y&times;Z = 1073<br><br>
= 29&times;37<br><br>
The numbers are 19,29 and 37.<br><br>
Sum of the numbers = 19+29+37<br><br>=85.


</div>
</body>
</html>
