{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:23</h2>
<hr>
<p>
Find he maximum number of trees which can be planted, 20 meters apart , on the two sides of a straight road 1760 meters long.


</p>


<div class="div2">
	A.&nbsp;&nbsp;176

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;180

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;178

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;174

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
number of trees can be planted on one side on road 
= 1760&divide;20&plus;1<br><br>
= 88&plus;1<br><br>
= 89<br><br>
number of trees on both side
<br><br>
= 89&times;2<br><br> 
= 178.

</div>
</body>
</html>
