{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:43</h2>
<hr>
<p>

A student was asked to multiply a number by 3. But he divided the number by 3 and got 6.9 as an answer. what is the correct answer?

</p>


<div class="div2">
	A.&nbsp;&nbsp;2.3

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;20.7

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;62.1

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these.

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let X be the given number<br><br>
Then students answer = <sup>X</sup>&frasl;<sub>3</sub>
<br><br>
Correct answer = 3X = 9&times;( <sup>X</sup>&frasl;<sub>3</sub> )<br><br>
=9&times;6.9<br><br>=62.1.


</div>
</body>
</html>
