<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:83</h2>
<hr>
<p>
Mohan bought two varieties of wheat first at 9.50 per kg and second at 10 per kg. if he bought 50 kg at a total cost of 480, what is the quantity of wheat bough at 10 per kg.


</p>


<div>
	A.&nbsp;&nbsp;10

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;20

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;30

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;40

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>

Let whole quantity bought at 10 per kg<br><br>
Then total cost = 10&times;50=500<br><br>
Actual cost is short by 500-480=20<br><br>
Difference between two rates = 10-9.50=0.50 per kg<br><br>
Quantity bought at 9.50 per kg = 20&divide;0.50= 40 kg<br><br>
Quantity bought at 10 per kg = (50-40)kg = 10 kg.

</body>
</html>
