<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 16</u>:</h2>
<hr>
<p>

There are 7 dozen candles kept in a box. If there are 14 such boxes, how many candles are there in all the boxes together?

</p>


<div>
	A.&nbsp;&nbsp;1176

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;98

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;1216

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;168

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
In one box we have 7 dozen candles <br><br>
= 7&times;12<br><br>
= 84<br><br>
Number of boxes = 14<br><br>
Total candles = 84&times;14<br><br>
= 1176.


</body>
</html>
