{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:86</h2>
<hr>
<p>
Mohan gets 3 marks for each correct sum and loses 2 marks for each wrong sum. He attempted 20 sums and obtains 40 marks. The number of sums solved correctly is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;10

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;16

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;20

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;25

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let he attempted X sums correctly<br><br>
Then his total marks = 3X-2(20-X)=40<br><br>
5X = 80<br><br>
X=16.


</div>
</body>
</html>
