{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:60</h2>
<hr>
<p>
In a three digit number, the digit in the units place is 75% of the digit in the tens place. The digit in tens place is greater than the digit in the hundreds place by 1. If the sum of the digits in the tens place and the hundreds place is 15, what is the number?


</p>


<div class="div2">
	A.&nbsp;&nbsp;795

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;786

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;800

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Units digit is 75% of tens digit.<br><br>
Therefore, tens digit may be either 4 or 8 so that units digit (i.e. its 75%) is a natural number i.e. 3 or 6.<br><br>
Sum of hundreds digit and tens digit is 15. <br><br>
Therefore, hundreds digit may be either 11(which is not possible) or 7 (possible)<br><br>
Required number is = 786.
<br><br>
Trik:
In option (b): 7+8=15. 
<br>
<h2><u>Alternative Method</u>:</h2>
Let us assume that the three digit number be XYZ
<br><br>
Given that the unit digit is 75% of Tens digit
<br><br>
i.e. Z = (75%)&times;Y
<br><br>
Z = (3&times;Y&frasl;<sub>4</sub>)
<br><br>
Given that tens digit is greater than hundreds digit by 1
<br><br>
i.e. Y = X+1
<br><br>
Sum of tens digit and hundreds digit is 15
<br><br>
i.e. X+Y = 15
<br><br>
On substituting Y in above eq. we get <br><br>
X+X+1 = 15
<br><br>
2X = 14
<br><br>
X = 7
<br><br>
Y = X+1
<br><br>
Y = 7+1
<br><br>
Y = 8
<br><br>
Z = (3&times;Y&frasl;<sub>4</sub>)
<br><br>
Z = (3&times;8&frasl;<sub>4</sub>)
<br><br>
Z = 24 &frasl; 4
<br><br>
Z = 6
<br><br>
So the number is XYZ = 786
</div>
</body>
</html>
