<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:58</h2>
<hr>
<p>

A two digit number is five times the sum of is digits. If 9 is added to the number, the digits interchange their positions. The sum of digits of the number is:

</p>


<div>
	A.&nbsp;&nbsp;11

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;9

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;7

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;6

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Let the number be 10x+y<br><br>
Then 10x+y = 5&times;(x+y)<br><br>
5x = 4y<br><br>
Since the digits can be natural number only.<br><br> Possible values of x = 4 and y = 5<br><br>
The number is 45. [note 45+9=54]<br><br>
Sum of digits = 4+5=9.


</body>
</html>
