{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:74</h2>
<hr>
<p>
The sum of three different even numbers, each greater than 15, is 58. One of them must be:


</p>


<div class="div2">
	A.&nbsp;&nbsp;16

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;18

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;20

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;22

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Two possibilities: 16+18+24=58 <br><br>
and 16+20+22=58<br><br>
16 is the common number in both possible combinations of numbers.<br><br>
Note: 18+20+22=60>58.


</div>
</body>
</html>
