<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:29</h2>
<hr>
<p>

In a class of 50 students, 25 students can speak English and 40 students hindi. If each student can speak at least one of the two languages, how many students can speak both he languages?

</p>


<div>
	A.&nbsp;&nbsp;10

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;15

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;20

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;25

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>

Students who can speak both the languages <br><br>
= 25&plus;40&minus;50
<br><br>
= 15


</body>
</html>
