<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:33</h2>
<hr>
<p>
A boy was asked to multiply a certain number by 53. By mistake , he multiplied it by 35 and got his answer less then the correct one by 1206. He number was:


</p>


<div>
	A.&nbsp;&nbsp;67

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;76

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;77

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;66

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>

Let X be the required number<br><br>
Then 53X&minus;35X = 1206<br><br>
18X = 1206<br><br>
X = 67.

</body>
</html>
