<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:30</h2>
<hr>
<p>

The cost of 7 tables and 12 chairs is 48250. What is the cost of 21 tables and 36 chairs?

</p>


<div>
	A.&nbsp;&nbsp;96500


	
</div>
<br>
<div>
	B.&nbsp;&nbsp;125500

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;144750

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;Data insufficient

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>

21 tables &plus; 36 chairs 
<br><br>
= 3&times;(7 tables &plus; 12 chairs ) <br><br>
= 3&times;48,250
<br><br>
= 144,750.
</body>
</html>
