<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:48</h2>
<hr>
<p>
The difference between a two digit number and the number obtained by interchanging the two digits of the number is 36. What is the difference between the two digits of the number?


</p>


<div>
	A.&nbsp;&nbsp;6

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;4

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;3

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these
	
</div>
		
	

<h2> <u>Answer</u>: b</h2>
Let the two digit number be XY then it can be represented in decimal format as below
<br><br>
(10<sup>1</sup>&times;X)+(10<sup>0</sup>&times;Y)--->1
<br><br>
By interchanging digits of the number we get YX and it can be represented in decimal form as 
<br><br>
(10<sup>1</sup>&times;Y)+(10<sup>0</sup>&times;X)--->2
<br><br>
The difference between 1 and 2 is given by 36
<br><br>
i.e. (10X+Y)-(10Y+X) = 36
<br><br>
9X-9Y = 36
<br><br>
9(X-Y) = 36
<br><br>
X-Y = 4
<br><br>
So the difference between digits of a number is 4
</body>
</html>
