{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:67</h2>
<hr>
<p>

    The numbers 1,3,5,7,&minus;&minus;&minus;&minus;&minus; 99 and 128 are multiplied together. The number of zeros at
    the end of the product must be:

</p>


<div class="div2">
    A.&nbsp;&nbsp;19


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;22


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;7


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;Nill


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
There are 10 numbers up to 100 viz. 5,15,25,35&hyphen;&hyphen;&hyphen;95<br><br>
which have 5 at the units place and therefore are divisible by 5 but 25 and 75 are divisible by 25.<br><br>
The product of odd numbers up to 100 can be divided <br><br>
10+2=12 times by 5.<br><br>
And 128 = 2<sup>7</sup><br><br>
We know that 2&times;5 = 10<br><br>
i.e. product of one pair of 2 and 5 gives one zero.<br><br>
In the given question, 7 such pairs can be made.<br><br>
Total is at the end of the product are 7.<br><br>


</div>
</body>
</html>
