<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:59</h2>
<hr>
<p>

With a two digit prime number, if 18 is added, we get another prime number with digits reversed. How many such numbers are possible?

</p>


<div>
	A.&nbsp;&nbsp;2

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;3

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;0

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;1

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>

On adding 18, the digits are reversed <br><br>
Difference in digits = 18&divide;2=9 <br><br>
Prime numbers with difference of digits 2 = 13,79<br><br>
Prime numbers on reversing the digits = 31,97.

</body>
</html>
