<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 15</u>:</h2>
<hr>
<p>

A canteen requires 119 kg of wheat for a week. How many kg of wheat will it require for 79 Days?

</p>


<div>
	A.&nbsp;&nbsp;357

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;1343

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;9401

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>:B </h2>

Daily requirement =  <sup>119</sup>&frasl;<sub>7</sub><br><br>
= 17kg<br><br>
Requirement for 79 days = 79&times;17<br><br>
= 1343 kg.

</body>
</html>
