<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:34</h2>
<hr>
<p>
What is the greater of two numbers whose product is 1092 and the sum of the two numbers exceeds their difference by 42?


</p>


<div>
	A.&nbsp;&nbsp;48

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;44

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;52

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;54

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let the number be X and Y.
<br><br>
The sum of the two numbers exceeds their difference by 42
<br><br>
(X&plus;Y)=(X&minus;Y)&plus;42
<br><br>
Then (X&plus;Y)&minus;(X&minus;Y) = 42
<br><br>
2Y = 42
<br><br>
Y = 42&divide;2
<br><br>
Y = 21
<br><br>
Now X&times;Y = 1092
<br><br>
21X = 1092
<br><br>
X = 1092&divide;21
<br><br>
X = 52


</body>
</html>
