<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:47</h2>
<hr>
<p>

A vessel contains 12 liters of water. If water is drained from the vessel until it holds 6 liters more then the quantity drained away. Find the quantity of the water(in liters) drained away

</p>


<div>
	A.&nbsp;&nbsp;3

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;4

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;6

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;9

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>

Let X liters of water is drained away<br><br>
Then water remaining in the vessel is X + 6<br><br>
X +(X+6) = 12<br><br>
X = 3 liters.

</body>
</html>
