{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:81</h2>
<hr>
<p>
20 is divided in two parts in such a way that 6 times of first part when added o 4 times of second part gives 104. Find the first part.


</p>


<div class="div2">
	A.&nbsp;&nbsp;8

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;10

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;11

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;12

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let us assume that the number of quantities in first part and second part be X and Y
<br><br>
then the total number of quantity is 20
<br><br>
X+Y = 20---> 1
<br><br>
Given that on adding 6 times of first part to 4 parts of second part we will get 104
<br><br>
6X+4Y = 104 --->2 
<br><br>
By solving 1 and 2 we get
<br><br>
2X = 24
<br><br>
X = 12
So the first part is 12



</div>
</body>
</html>
