<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:66</h2>
<hr>
<p>
The difference between two numbers is 1375. On dividing the bigger number by he smaller number, the quotient is 6 and remainder is 25. Find the smaller number.


</p>


<div>
	A.&nbsp;&nbsp;250

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;270

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;275

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;300

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Let the smaller number = x<br><br>
Then bigger number = x+1375<br><br>
6x+25=x+1375<br><br>
5x = 1350<br><br>
X = 270.


</body>
</html>
