{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:83</h2>
<hr>
<p>
Mohan bought two varieties of wheat first at 9.50 per kg and second at 10 per kg. if he bought 50 kg at a total cost of 480, what is the quantity of wheat bough at 10 per kg.


</p>


<div class="div2">
	A.&nbsp;&nbsp;10

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;20

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;30

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;40

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let whole quantity bought at 10 per kg<br><br>
Then total cost = 10&times;50=500<br><br>
Actual cost is short by 500-480=20<br><br>
Difference between two rates = 10-9.50=0.50 per kg<br><br>
Quantity bought at 9.50 per kg = 20&divide;0.50= 40 kg<br><br>
Quantity bought at 10 per kg = (50-40)kg = 10 kg.

</div>
</body>
</html>
