{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:25</h2>
<hr>
<p>
If a&plus;b&plus;c&plus;d=1, then the maximum value of (1&plus;a)(1&plus;b)(1&plus;c)(1&plus;d) is


</p>


<div class="div2">
	A.&nbsp;&nbsp;1

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;(<sup>1</sup>&frasl;<sub>2</sub>)<sup>3</sup>

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;(<sup>3</sup>&frasl;<sub>4</sub>)<sup>3</sup>

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;(<sup>5</sup>&frasl;<sub>4</sub>)<sup>4</sup>


	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

(1&plus;a)(1&plus;b)(1&plus;c)(1&plus;d) is maximum when<br><br>
a = b = c = d = 0.25 &nbsp;&nbsp;///(0.25&plus;0.25&plus;0.25&plus;0.25=1)///
<br><br>
Maximum value 
<br><br>
= (1&plus;0.25)<sup>4</sup><br><br>
= (1&plus; <sup>1</sup>&frasl;<sub>4</sub>)<sup>4</sup><br><br>
= (<sup>5</sup>&frasl;<sub>4</sub>)<sup>4</sup>

</div>
</body>
</html>
