<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 17</u>:</h2>
<hr>
<p>

Find the difference between the place value and the face value of 7 in the number 897346.

</p>


<div>
	A.&nbsp;&nbsp;0

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;6993

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;7337

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: B </h2>

Place value of 7 = 7000 <br><br>
Face value of 7 = 7<br><br>
Difference = 7000 &minus; 7<br><br>
= 6993.

</body>
</html>
