<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:5</h2>
<hr>
<p>
What is next number of the given sequence
<br><br>
3, 12, 27, 48, 75, 108, ?
</p>


<div>
	A.&nbsp;&nbsp; 183
	
</div>
<br>
<div>
	B.&nbsp;&nbsp; 192

	
</div>
<br>
<div>
	C.&nbsp;&nbsp; 162

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp; 147

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
<h3>Solution: </h3>
Now let us consider two successive numbers and their differences as follows
<br><br>
12 &minus; 3  = 9
<br><br>
27 &minus; 12 = 15
<br><br>
48 &minus; 27 = 21
<br><br>
75 &minus; 48 = 27 
<br><br>
108 &minus; 75 = 33
<br><br>
Now let us consider the difference between next number and previous number be X and their difference is Y
<br><br>
X &minus; 108 = Y  ---> Eq.1
<br><br>
Now if you observe the difference between two successive differences is constant = 6
<br><br>
15 &minus; 9 = 6 & 21 &minus; 15 = 6 & 27 &minus; 21 = 6 & 33 &minus; 27 = 6
<br><br>
So the difference between Y and 33 should be 6
<br><br>
Y &minus; 33 = 6 
<br><br>
Y = 33 &plus; 6 = 37
<br><br>
So From Eq.1
<br><br>
X &minus; 108 = 37
<br><br>
X = 37 &plus; 108 = 147
</body>
</html>
