{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:9</h2>
<hr>
<p>
Complete the sequence by filling the ? position
<br><br>
26, 19, 17, 13, 11, ?, 8, 7
<br><br>
</p>


<div class="div2">
	A.&nbsp;&nbsp; 9
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp; 15

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp; 6

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp; 10

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
Here we can solve this in two methods.
<br><br>
<b>Method-1: By finding the differences between two successive numbers</b>
<br><br>
<b>Method-2: By Finding the differences between two alternative numbers in the sequence</b>
<br><br>
<u><b>Method-1:</b></u>
<br><br>
The differences can be shown as
<br><br>
(19-26) &nbsp;&nbsp; (17-19) &nbsp;&nbsp; (13-17) &nbsp;&nbsp; (11-13) &nbsp;&nbsp; (x-11) &nbsp;&nbsp; (8-x) &nbsp;&nbsp; (7-8)
<br><br>
&nbsp;&nbsp; -7  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    -2   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    -4   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    -2    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    y   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   z    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  -1
<br><br>
Here y = x - 11 and z = 8 - x
<br><br>
Let us chose x from given options
<br><br>
Now Let x = 9
<br><br>
The difference will be -7 &nbsp;&nbsp; -2 &nbsp;&nbsp; -4 &nbsp;&nbsp; -2 &nbsp;&nbsp; -1 &nbsp;&nbsp; -1 &nbsp;&nbsp; -1
<br><br>
From these differences you can not observe the constant differences either between two successive numbers or between differences.
<br><br>
Similarly if x = 15
<br><br>
then difference will be -7 &nbsp;&nbsp; -2 &nbsp;&nbsp; -4 &nbsp;&nbsp; -2 &nbsp;&nbsp; 4 &nbsp;&nbsp; -7 &nbsp;&nbsp; -1
<br><br>
Here the difference is not constant either successively or alternatively.
<br><br>
If x = 6
<br><br>
difference -7 &nbsp;&nbsp; -2 &nbsp;&nbsp; -4 &nbsp;&nbsp; -2 &nbsp;&nbsp; -5 &nbsp;&nbsp; 3 &nbsp;&nbsp; -1
<br><br>
If x = 10
<br><br>
difference -7 &nbsp;&nbsp; -2 &nbsp;&nbsp; -4 &nbsp;&nbsp; -2 &nbsp;&nbsp; -1 &nbsp;&nbsp; -2 &nbsp;&nbsp; -1
<br><br>
Here also same. There is no constant difference if you take alternative differences.
<br><br>
So this method is failed.
<br><br>
<u><b>Method-2: </b></u>

<p>If you look at the alternate numbers</p>
<p>The difference follows some constant</p>
<p>17-26 =-9</p>
<p>11-17 = -6</p>
<p>8-11 = -3</p>
Similarly,
<p>13-19 = -6</p>
<p>X-13 = Y</p>
<p>7-Y = Z</p>
Now let us chose value of X
<br><br>
If X = 9, difference is  -6  -4  -2. So it followd constant difference.
<br><br>
If X = 15, difference is -6   2   -8. There is no constant difference
<br><br>
If X = 6, difference is  -6  -7   1. It is also failed
<br><br>
If X = 10, difference is  -6  -3  -3. It is also failed.
<br><br>
So the Answer is X = 9
<br><br>
</div>
</body>
</html>
