{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:13</h2>
<hr>
<p>
    Find the next number of the sequence
    <br><br>
    4,4,6,12,30,90,X
    <br><br>

</p>


<div class="div2">
    A.&nbsp;&nbsp; 180

</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp; 270


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp; 315


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp; 345


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
If you observe the sequence,
<br><br>
the relation between previous and next number will be as follows
<br><br>
4 &times; 1 = 4
<br><br>
4 &times; 1.5 = 6
<br><br>
6 &times; 2 = 12
<br><br>
12 &times; 2.5 = 30
<br><br>
30 &times; 3 = 90
<br><br>
So based on the previous calculation,
<br><br>
Next number = Previous number &times; 3.5
<br><br>
X = 90 &times; 3.5 = 315
</div>
</body>
</html>

