<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:7</h2>
<hr>
<p>
    What are the next two numbers of the sequence below
    <br><br>
    8, 24 , 12, 36, 18, 54, ?, ?
</p>


<div>
    A.&nbsp;&nbsp; 27,45

</div>
<br>
<div>
    B.&nbsp;&nbsp; 45,81


</div>
<br>
<div>
    C.&nbsp;&nbsp; 27,81


</div>
<br>

<div>
    D.&nbsp;&nbsp; 45, 27


</div>


<h2><u>Answer</u>: C</h2>
<h3>Solution:</h3>
<p>Here if you observe the sequence, the numbers are increasing and decreasing.</p>
<p>By observing the sequence clearly, you can find the next numbers as follows</p>
<p>Leave first two numbers.</p>
<p>Third number = <sup>Second number</sup> &frasl; <sub>2</sub> = <sup>24</sup>&frasl;<sub>2</sub> = 12</p>
<p>Fourth number = Sum of Last two numbers = 24 + 12 = 36</p>
<p>Next number = <sup> Previous number </sup> &frasl; <sub>2</sub> = <sup>36</sup>&frasl;<sub>2</sub> = 18</p>
<p>Next number = Sum of last two numbers = 36 + 18 = 54</p>
<p>Next number = <sup>Previous number</sup>&frasl;<sub>2</sub> = <sup>54</sup>&frasl;<sub>2</sub> = 27</p>
<p>Next number = Sum of last two numbers = 54 + 27 = 81</p>
<br><br>
</body>
</html>
