{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:4</h2>
<hr>
<p>
Find the next number of the series of following
<br><br>
22, 24, 26, 19, 30, 14, 
</p>


<div class="div2">
	A.&nbsp;&nbsp; 9
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp; 34

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp; 19

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp; 24

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
Let us calculate difference between two successive numbers
<br><br>
24 &minus; 22 = 2
<br><br>
26 &minus; 24 = 2 
<br><br>
19 &minus; 26 =  &minus; 5
<br><br>
30 &minus; 19 = 11
<br><br>
14 &minus; 30 =  &minus; 16
<br><br>
From the differeces, we can not find the constant differece and also there is no multiplication, division relation between any two successive differeces
<br><br>
Now let us chose the two numbers alternatively
<br><br>
26 &minus; 22 = 4
<br><br>
30 &minus; 26 = 4
<br><br>
X &minus; 30 = 4
<br><br>
X = 4 &plus; 30 = 34
<br><br>
For the other group
<br><br>
19 &minus; 24 = &minus; 5
<br><br>
14 &minus; 19 = &minus; 5
<br><br>
So the next number is
<br><br>
Y &minus; 14 = &minus; 5
<br><br>
Y = &minus; 5 &plus; 14 = 9
<br><br>
The next two numbers in the sequence are 34,9
<br><br>
</div>
</body>
</html>
