{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question :6</u></h2>
<hr>
<p>
Given the sequence below, what will come in the place of '?'
<br><br>
4, 12, 48, 240, 1440, ?
</p>


<div class="div2">
	A.&nbsp;&nbsp; 10020
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp; 10160

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp; 10080

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp; 10800
 
	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
Let us find the difference between two successive numbers
<br><br>
12 - 4 = 6
<br><br>
48 - 12 = 36
<br><br>
240 - 48 = 192
<br><br>
1440 - 240 = 1200
<br><br>
From the differences we can not find the constant differences.Even if look at the differences of difference you can not find the difference.
<br><br>
Now observe the sequence,
<br><br>
12 can be written as 12 = 4 &times; 3
<br><br>
Similarly, 48 = 12 &times; 4
<br><br>
240 = 48 &times; 5
<br><br>
1440 = 240 &times; 6
<br><br>
Here the Next number of sequence follows 
<br><br>
Next Number = Previous number &times; 7
<br><br>
So Next number = 1440 &times; 7 = 10080

</div>
</body>
</html>
