<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question :10</u></h2>
<hr>
<p>
Complete the series
<br><br>
3, 15, 35, 63, ?
<br><br>

</p>


<div>
	A.&nbsp;&nbsp; 96
	
</div>
<br>
<div>
	B.&nbsp;&nbsp; 71

	
</div>
<br>
<div>
	C.&nbsp;&nbsp; 73

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp; 99

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
<h3>Solution: </h3>
Let us calculate the difference between the two successive numbers
<br><br>
15 - 3 = 12
<br><br>
35 - 15 = 20
<br><br>
63 - 35 = 28
<br><br>
X - 63 = Y - - - > Eq.1
<br><br>
If you look at the differences, there is constant difference between the differences
<br><br>
20 - 12 = 8   28 - 20 = 8  Y - 28 = 8
<br><br>
Y = 8 +28 = 36
<br><br>
So, from Eq.1 X - 63 = 36
<br><br>
X = 36 + 63
<br><br>
X = 99
<br><br>
</body>
</html>
