{% load static %}
<html>
<body>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
	<title>Series Tutorial</title>
</head>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>Series Tutorial</u></b></font>
<hr/>
<hr/>
    <ul>
		<li>
			<p>Series is a group of numbers formed by performing an action on the previous numbers.</p>
		</li>
		<li>
			<p>The action may be Addition, Subtraction, multiplication or division performed either on the whole number or digits of the number</p>
		</li>
		<li>
			<p>
				The problems on series will improve our thinking capability and easy to predict the next number if you practice more.
			</p>
		</li>
		<li>
			<p>An initial sequence is given from which the rule is to be deduced. You are then asked to predict the next number that obeys the rule.</p>
		</li>
		<li>
			<p>The difficulty level of these questions can increase in two ways;</p>
		</li>
			<ul>
				<li>
					<p>First, the logic behind the sequence becomes less trivial and demands attention and creativity;</p>
				</li>
				<li>
					<p>Second, the missing number can be positioned at an early stage, thus preventing you from exchanging the hidden rule by looking only at the previous numbers in the sequence</p>
				</li>	
			</ul>
	</ul>
</body>


</html>
