{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:2</h2>
<hr>
<p>
    Given the sequence below
    <br>
    <br>
    28, 23, 18, 13, X , 3
    <br>
    <br>
    So the value in the place of X will be
</p>


<div class="div2">
    A.&nbsp;&nbsp; 8

</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp; 3


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp; 13


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp; 18


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
<ul>
    <li>
        <p>From the given sequence,</p>
    </li>
    <li>
        <p>23&minus;28 = &minus;5</p>
    </li>
    <li>
        <p>18&minus;23 = &minus;5</p>
    </li>
    <li>
        <p>13&minus;18 = &minus;5</p>
    </li>
    <li>
        <p>Since there is constant difference between the any two successive numbers in sequence</p>
    </li>
    <li>
        <p>So the difference between X and 13 should be &minus;5</p>
    </li>
    <li>
        <p>X&minus;13 = &minus;5</p>
    </li>
    <li>
        <p>X = &minus;5+13 = 8</p>
    </li>
    <li>
        <p>3&minus;8 = &minus;5</p>
    </li>
</ul>
</div>
</body>
</html>
