{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question :11</u></h2>
<hr>
<p>
The next number of the following sequence is
<br><br>
4, 10, 28, 82, 244, ?
<br><br>

</p>


<div class="div2">
	A.&nbsp;&nbsp; 344
	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp; 730

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp; 513

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp; 496

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
Let us calculate the difference between two successive numbers
<br><br>
10 - 4 = 6
<br><br>
28 - 10 = 18
<br><br>
82 - 28 = 54
<br><br>
244 - 82 = 162
<p>X - 244 = Y - - - > Eq.1</p>
<p>Here if you observe the differences, we can see that the next difference is 3 times that of previous difference</p>
<p>6 * 3 = 18</p>
<p>18 * 3 = 54</p>
<p>54 * 3 = 162</p>
So next difference Y = 162 * 3 = 486
<br><br>
From Eq.1,
<p>X - 244 = 486</p>

X = 486 + 244 = 730
<br><br>
</div>
</body>
</html>
