<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:3</h2>
<hr>
<p>
Look at the series below
<br>
<br>
2 , 1 , <sup>1</sup>&frasl;<sub>2</sub> , <sup>1</sup>&frasl;<sub>4</sub> ,
<br>
<br>
What should come next
</p>


<div>
	A.&nbsp;&nbsp; <sup>1</sup>&frasl;<sub>3</sub>
	
</div>
<br>
<div>
	B.&nbsp;&nbsp; <sup>1</sup>&frasl;<sub>5</sub>

	
</div>
<br>
<div>
	C.&nbsp;&nbsp; <sup>1</sup>&frasl;<sub>8</sub>

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp; <sup>1</sup>&frasl;<sub>9</sub>

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
<h3>Solution: </h3>
<hr>
1.Let us find the difference between two numbers
<br><br>
1-2 = &minus;1
<br><br>
(<sup>1</sup>&frasl;<sub>2</sub>) &minus;1 = <sup>(1&minus;2)</sup>&frasl;<sub>2</sub> = &minus; (<sup>1</sup>&frasl;<sub>2</sub>)
<br><br>
(<sup>1</sup>&frasl;<sub>4</sub>) &minus; (<sup>1</sup>&frasl;<sub>2</sub>) = <sup>(1&minus;2)</sup>&frasl;<sub>4</sub> = &minus; (<sup>1</sup>&frasl;<sub>4</sub>)
<br><br>
If you observe the difference of each calculation,the next difference is obtained by dividing the previous difference by <b>2</b>
<br><br>
So the next difference is
<br><br>
<sup>(&minus; <sup>1</sup>&frasl;<sub>4</sub>)</sup>&frasl;<sub>2</sub> = &minus; (&minus; <sup>1</sup>&frasl;<sub>8</sub>)
<br><br>
Finally next number can be calculated as 
<br><br>
X &minus; (<sup>1</sup>&frasl;<sub>4</sub>) = &minus; (&minus; <sup>1</sup>&frasl;<sub>8</sub>)
<br><br>
X = &minus; (<sup>1</sup>&frasl;<sub>8</sub>) &plus; (<sup>1</sup>&frasl;<sub>4</sub>)
<br><br>
X =  <sup>(&minus;1 &plus; 2)</sup>&frasl;<sub>8</sub>
<br><br>
X = <sup>1</sup>&frasl;<sub>8</sub>
<br><br>
<hr>
2.If you observe the sequence, the next number is obtained by dividing the previous number by 2.
<br><br>
So the next number X = <sup>(<sup>1</sup>&frasl;<sub>4</sub>)</sup>&frasl;<sub>2</sub>
<br><br>
X = <sup>1</sup>&frasl;<sub>8</sub>
<hr>
</body>
</html>
