{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:58</h1>
<hr>
<p>
A cricketer played 80 innings and scored an average of 99 runs. His  score in the last inning is zero run. To have an average of 100 at the end, his score in the last innings should have been


</p>


<div class="div2">
	A.&nbsp;&nbsp;60

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;80

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;10

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;1

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Given that the average score for 80 innings is 99
<br><br>
<sup>(Total score for 80 innings)</sup>&frasl;<sub>80</sub> = 99
<br><br>
Total runs for 80 innings = 80&times;99
<br><br>
Total runs for 80 innings = 7920
<br><br>
If runs scored by 80th innings is 0
<br><br>
Then Runs Scored by 79 innings = 7920
<br><br>
Now Let us assume that X be the runs scored on 80th match then his average becomes 100
<br><br>
<sup>(Total score for 80 innings)</sup>&frasl;<sub>80</sub> = 100
<br><br>
Total score for 80 innings = 80&times;100
<br><br>
Total score for 80 innings = Total score for 79 innings + Score by 80th innings
<br><br>
7920+X = 8000
<br><br>
X = 8000-7920
<br><br>
X = 80

</div>
</body>
</html>
