<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:76</h1>
<hr>
<p>
The batting average of a cricketer for 78 innings is 38 runs. His highest score exceeds the lowest score by 226 runs. If these two innings are excluded, the average of the remaining innings is 36 runs. What is his highest score?

</p>


<div>
	A.&nbsp;&nbsp;156

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;158

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;227

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;228

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>

Let the lowest score be X
<br><br>
Then According to problem Highest score exceeds lowest by 226
<br><br>
i.e.Highest score = X+226
<br><br>
Given that the average runs by 78 innings is 38
<br><br>
Then <sup>(Sum of 78 innings score)</sup>&frasl;<sub>78</sub> = 38
<br><br>
Sum of 78 innings score = 78&times;38
<br><br>
Sum of 78 innings score = 2964
<br><br>
Sum of 76 innings score + Lowest score+highest score = 2964
<br><br>
Sum of 76 innings score + X+X+226 = 2964
<br><br>
Sum of 76 innings score + 2X= 2964-226
<br><br>
Sum of 76 innings score + 2X= 2738--->(1)
<br><br>
Given that the average runs by 76 innings is 36
<br><br>
Then <sup>(Sum of 76 innings score)</sup>&frasl;<sub>76</sub> = 36
<br><br>
Sum of 76 innings score = 76&times;36
<br><br>
Sum of 76 innings score = 2736
<br><br>
From(1)
<br><br>
2736+2X = 2738
<br><br>
2X = 2
<br><br>
X = 1
<br><br>
Highest score = X+226
<br><br>
Highest score = 1+226
<br><br>
Highest score = 227

</body>
</html>
