                                                                                                                                                                                                            <html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:17</h1>
<hr>
<p>
Sum of three consecutive even numbers is 32 more than the average of the numbers. Find the middle number in the series.


</p>


<div>
	A.&nbsp;&nbsp;14

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;16

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;18

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;20

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Let the three consecutive even numbers be 2n,2n+2,2n+4
<br><br>
Given that sum of these numbers is 32 more than the average of these numbers.
<br><br>
Sum of numbers = 2n+2n+2+2n+4
<br><br>
Sum of numbers = 6n+6
<br><br>
Average of numbers is
= <sup>Sum of numbers</sup>&frasl;<sub>3</sub>
<br><br>
= <sup>(6n+6)</sup>&frasl;<sub>3</sub>
<br><br>
= 2n+2
<br><br>
Based on given condition 
<br><br>
i.e.Sum of numbers = 32+Average of numbers
<br><br>
6n+6 = 32+2n+2
<br><br>
6n+6 = 2n+34
<br><br>
6n-2n = 34-6
<br><br>
4n = 28
<br><br>
n = <sup>48</sup>&frasl;<sub>4</sub>
<br><br>
n = 7
<br><br>
So middle number in series is 2n+2
<br><br>
= 2(7)+2
<br><br>
= 14+2
<br><br>
= 16
 </body>
</html>
