<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:97</h1>
<hr>
<p>
Four years ago, the average age of 4 persons A,B,C and D was 38 years. With joining of E now, the present average age of 5 persons becomes 36 years. Find Es present age.


</p>


<div>
	A.&nbsp;&nbsp;26 years

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;12 years

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;30 years

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;32 years

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Let us assume that A,B,C and D be represent present ages. 
<br><br>
Then before 4 year their ages are 
<br><br>
A-4, B-4,C-4,D-4
<br><br>
Average age of 4 persons before 4 years is 38
<br><br>
<sup>(Sum of ages before 4 years)</sup>&frasl;<sub>4</sub> = 38
<br><br>
Sum of ages before 4 years = 4&times;38
<br><br>
A-4+B-4+C-4+D-4 = 152
<br><br>
A+B+C+D = 152+16
<br><br>
A+B+C+D = 168
<br><br>
Given that E added to group then average becomes 36
<br><br>
Average age of 5 persons is 38
<br><br>
<sup>(Sum of ages 5 persons)</sup>&frasl;<sub>5</sub> = 36
<br><br>
Sum of ages 5 persons = 5&times;36;
<br><br>
A+B+C+D+E = 180
<br><br>
168+E = 180
<br><br>
E = 180-168
<br><br>
E = 12

</body>
</html>