<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:96</h1>
<hr>
<p>

In an examination, the average marks of all the students calculated to be 58 marks. It is later found that marks of 60 students were wrongly written as 70 instead of 50. If the corrected average is 55, find the total number of candidates who took the exam.

</p>


<div>
	A.&nbsp;&nbsp;100

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;250

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;400

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;500

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let us assume that the number of students be X
<br><br>
The average of X students is 58
<br><br>
<sup>(Sum of marks by X students)</sup>&frasl;<sub>X</sub> = 58
<br><br>
Sum of X students marks = 58X
<br><br>
Now given that the Actual average of marks by 60 students is 50
<br><br>
<sup>(Actual Sum of marks by 60 students)</sup>&frasl;<sub>60</sub> = 50
<br><br>
Actual Sum of marks by 60 students = 60&times;50
<br><br>
Actual Sum of marks by 60 students = 3000
<br><br>
But by mistake average marks is written as 70 instead of 50
<br><br>
So The wrong average of marks by 60 students is 70
<br><br>
<sup>(Wrong Sum of marks by 60 students)</sup>&frasl;<sub>60</sub> = 70
<br><br>
Actual Sum of marks by 60 students = 60&times;70
<br><br>
Actual Sum of marks by 60 students = 4200
<br><br>
Now total change in marks = 4200-3000
<br><br>
Now total change in marks = 1200
<br><br>
Given thet the corrected average after removing marks by wrong average is 55
<br><br>
<sup>(Corrected Sum of marks by X students)</sup>&frasl;<sub>X</sub> = 55
<br><br>
Corrected Sum of marks by X students = 55X
<br><br>
Sum of X students-1200 = 55X
<br><br>
58X-1200 = 55X
<br><br>
58X-55X = 1200
<br><br>
3x = 1200
<br><br>
x = 400



</body>
</html>
