<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:42</h2>
<hr>
<p>
    if average of a,b,c is m and (ab+bc+ca) =0 then the average of a<sup>2</sup>, b<sup>2</sup>, c<sup>2</sup> is:


</p>


<div>
    A.&nbsp;&nbsp;m<sup>2</sup>

</div>
<br>
<div>
    B.&nbsp;&nbsp;3m<sup>2</sup>


</div>
<br>
<div>
    C.&nbsp;&nbsp;6m<sup>2</sup>


</div>
<br>

<div>
    D.&nbsp;&nbsp;9m<sup>2</sup>


</div>


<h2><u>Answer</u>: B</h2>

<sup>(a+b+c)</sup>&frasl;<sub>3</sub> = m<br><br>
a+b+c = 3m<br><br>
a<sup>2</sup> + b<sup>2</sup> + c<sup>2</sup>= (a + b +c )<sup>2</sup> &minus; 2 (ab + bc + ca)<br><br>
= (3m)<sup>2</sup> -2&times;0 <br><br>
= 9m<sup>2</sup><br><br>
Average of a<sup>2</sup>, b<sup>2</sup>, c<sup>2</sup><br><br>
= <sup>(a<sup>2</sup> + b<sup>2</sup> + c<sup>2</sup>)</sup>&frasl;<sub>3</sub><br><br>
= <sup>9m<sup>2</sup></sup>&frasl;<sub>3</sub><br><br>
= 3m<sup>2</sup>.

</body>
</html>
