<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:59</h1>
<hr>
<p>
The average of runs of a cricketer player of 10 innings was 32. How many runs must be make in his next innings so as to increase his average of runs by 4?


</p>


<div>
	A.&nbsp;&nbsp;76

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;70

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;4

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;2

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
Given that the average score for 10 innings is 32
<br><br>
<sup>(Total score for 10 innings)</sup>&frasl;<sub>10</sub> = 32
<br><br>
Total runs for 10 innings = 10&times;32
<br><br>
Total runs for 10 innings = 320
<br><br>
Let us assume that X be the runs scored by 11th innings
<br><br>
Given that If the next innings score is added his average runs increased by 4 
<br><br>
i.e. <sup> (total score by 11 innings)</sup>&frasl;<sub>11</sub> = 32+4
<br><br>
total score by 10 innings+11th innings score 
<br><br>
= 11&times;36
<br><br>
320+X = 396
<br><br>
X = 396-320
<br><br>
X = 76

</body>
</html>
