<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:4</h2>
<hr>
<p>
    If
				<span style="white-space: nowrap;">
				<span style="text-decoration:overline;">x</span>
				</span>


    is the mean of n observations x<sub>1</sub>,x<sub>2</sub>&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;x<sub>n</sub>, then
    mean of <sup>x<sub>1</sub></sup>&frasl;<sub>a</sub>, <sup>x<sub>2</sub></sup>&frasl;<sub>a</sub>,&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;<sup>x<sub>n</sub></sup>&frasl;<sub>a</sub>
    is


</p>


<div>
    A.&nbsp;&nbsp;<span style="white-space: nowrap;">
<span style="text-decoration:overline;">x</span>
</span>


</div>
<br>
<div>
    B.&nbsp;&nbsp;a
<span style="white-space: nowrap;">
<span style="text-decoration:overline;">x</span>
</span>

</div>
<br>
<div>
    C.&nbsp;&nbsp;
    <sup>
<span style="white-space: nowrap;">
<span style="text-decoration:overline;">x</span>
</span></sup>&frasl;<sub>a</sub>

</div>
<br>

<div>
    D.&nbsp;&nbsp;
<span style="white-space: nowrap;">
<span style="text-decoration:overline;">x</span>
</span>+a

</div>


<h2><u>Answer</u>: C</h2>
Given that <span style="white-space: nowrap"></span>
<span style="text-decoration:overline;">x</span> is the mean of n observations
<br><br>

So mean of <sup>x<sub>1</sub></sup>&frasl;<sub>a</sub>, <sup>x<sub>2</sub></sup>&frasl;<sub>a</sub>,&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;<sup>x<sub>n</sub></sup>&frasl;<sub>a</sub>
is
<br><br>
= (<sup>1</sup>&frasl;<sub>a</sub>)&times mean of
x<sub>1</sub>,x<sub>2</sub>&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;x<sub>n</sub>
<br><br>
= (<sup>1</sup>&frasl;<sub>a</sub>)&times <span style="white-space: nowrap;">
<span style="text-decoration:overline;">x</span>
</span>
<br><br>
= <span style="white-space: nowrap;">
<span style="text-decoration:overline;">x</span>
</span></sup> &frasl;<sub>a</sub><br><br>


</body>
</html>
