<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:73</h1>
<hr>
<p>

A cricketer had certain average of runs for his 64 innings. In his 65th  innings, he is bowled out for no score on his part. This brings down his average by 2 runs. His new average of runs is:

</p>


<div>
	A.&nbsp;&nbsp;130

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;128

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;70

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;68

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Let the average  score by 64 innings be X
<br><br>
Then <sup>(Sum of 64 innings score)</sup>&frasl;<sub>64</sub> = X
<br><br>
Sum of 64 innings score = 64X
<br><br>
Given that 65th innings score = 0
<br><br>
By adding of 65th innings the average decreases by 2
<br><br>
New average for 65 innings = X-2
<br><br>
<sup>(Sum of 65 innings score)</sup>&frasl;<sub>65</sub> = X-2
<br><br>
Sum of 65 innings score = 65(X-2)
<br><br>
Sum of 64 innings score+65th inings score = 65X-130
<br><br>
64X+0 = 65X-130
<br><br>
0+130 = 65X-64X
<br><br>
X = 130
<br><br>
Average score after 65 innings is X-2 
<br><br>
= 130-2
<br><br>
= 128
</body>
</html>
