{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:12</h1>
<hr>
<p>
The sum of three consecutive odd natural numbers is 147. Then, the middle number is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;47

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;48

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;49

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;51

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let the three consecutive odd numbers be 2n-1,2n+1,2n+3
<br><br>
Given Sum of three consecutive odd numbers is 147
<br><br>
2n-1+2n+1+2n+3 = 147
<br><br>
6n+3 = 147
<br><br>
6n = 147-3
<br><br>
6n = 144
<br><br>
n = <sup>144</sup>&frasl;<sub>6</sub>
<br><br>
n = 24
<br><br>
So middle term is given by 2n+1
<br><br>
= 2(24)+1
<br><br>
= 48+1
<br><br>
= 49


</div>
</body>
</html>
