{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:50</h1>
<hr>
<p>
The average of 4 numbers is 67.5. the highest and the smallest numbers are 108 and 23 respectively. If difference between other two numbers is 31, find the bigger number of the two.


</p>


<div class="div2">
	A.&nbsp;&nbsp;139

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;108

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;85

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;54

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Sum of 4 numbers s= 4&times;67.5 = 270<br><br>
Sum of two given numbers = 108+23<br><br>
 = 131<br><br>
sum of remaining two numbers = 270-131<br><br>
=139<br><br>
Difference of the two numbers = 31<br><br>
The bigger number = 
<sup>139+31</sup>&frasl;<sub>2</sub>
<br><br>
= 85.


</div>
</body>
</html>
