<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:77</h1>
<hr>
<p>
The batting average for 40 innings of a cricket player is 50 runs. His highest score exceeds his lowest score by 172 runs. If these two innings are not included, the average of the remaining 38 innings is 48 runs. The highest score of the player is:


</p>


<div>
	A.&nbsp;&nbsp;165

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;170

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;172

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;174

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Let the lowest score be X
<br><br>
Then According to problem Highest score exceeds lowest by 172
<br><br>
i.e.Highest score = X+172
<br><br>
Given that the average runs by 40 innings is 50
<br><br>
Then <sup>(Sum of 40 innings score)</sup>&frasl;<sub>40</sub> = 50
<br><br>
Sum of 40 innings score = 40&times;50
<br><br>
Sum of 40 innings score = 2000
<br><br>
Sum of 38 innings score + Lowest score+highest score = 2000
<br><br>
Sum of 38 innings score + X+X+172 = 2000
<br><br>
Sum of 38 innings score + 2X= 2000-172
<br><br>
Sum of 38 innings score + 2X= 1828--->(1)
<br><br>
Given that the average runs by 38 innings is 48
<br><br>
Then <sup>(Sum of 38 innings score)</sup>&frasl;<sub>38</sub> = 48
<br><br>
Sum of 38 innings score = 38&times;48
<br><br>
Sum of 38 innings score = 1824
<br><br>
From(1)
<br><br>
1824+2X = 1828
<br><br>
2X = 4
<br><br>
X = 2
<br><br>
Highest score = X+172
<br><br>
Highest score = 2+172
<br><br>
Highest score = 174
</body>
</html>
