<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:91</h2>
<hr>
<p>
    The average age of 30 boys in a class is 15 years. One boy aged 20 years left the class, but two new boys came in
    his place whose ages differ by 5 years. If the average age of all the boys now in the class still remains 15 years,
    the age of the younger new comer is:


</p>


<div>
    A.&nbsp;&nbsp;20


</div>
<br>
<div>
    B.&nbsp;&nbsp;15


</div>
<br>
<div>
    C.&nbsp;&nbsp;10


</div>
<br>

<div>
    D.&nbsp;&nbsp;8


</div>


<h2><u>Answer</u>: B</h2>
Given that average age of 30 boys is 15
<br><br>
<sup>(Sum of ages of 30 boys)</sup>&frasl;<sub>30</sub> = 15
<br><br>
Sum of ages of 30 boys = 30&times;15
<br><br>
Sum of ages of 29 boys+20 = 450
<br><br>
Sum of ages of 29 boys = 450-20 = 430
<br><br>
Given that the average remains same when one boy of 20years replaced by two boys whose ages differ by 2 years
<br><br>
Let the average of one boy is X
<br><br>
Other boy age = X+5
<br><br>
Now average age becomes 18
<br><br>
<sup>(Sum of ages of 31 boys)</sup>&frasl;<sub>31</sub> = 15
<br><br>
Sum of ages of 29 boys+Sum of ages of two new boys = 31&times;15
<br><br>
430+X+X+5= 465
<br><br>
2X = 465-435
<br><br>
X = <sup>30</sup>&frasl;<sub>2</sub>
<br><br>
X = 15

</body>
</html>
