{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:37</h1>
<hr>
<p>

Average of n observations is 35, average of n other observations is 37 and average of remaining n observations is 42. Average of all the observations is:

</p>


<div class="div2">
	A.&nbsp;&nbsp;36

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;38

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;40

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;57

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that the average of first n observations is 35
<br><br>
<sup>(sum of first n observations)</sup>&frasl;<sub>n</sub> = 35
<br><br>
Sum of first n observations = 35n
<br><br>
Given that the average of another group of n observations is 37
<br><br>
<sup>(sum of other n observations)</sup>&frasl;<sub>n</sub> = 37
<br><br>
sum of other n observations = 37n
<br><br>
And also Given that the average of remaining n observations is 42
<br><br>
<sup>(sum of remaining n observations)</sup>&frasl;<sub>n</sub> = 42
<br><br>
Sum of remaining n observations = 42n
<br><br>
Now the average of all numbers is
<br><br>
= <sup>(sum of all observations)</sup>&frasl;<sub>(Total number of observations)</sub>
<br><br>
= <sup>(35n+37n+42n)</sup>&frasl;<sub>(n+n+n)</sub>
<br><br>
= <sup>114n</sup>&frasl;<sub>3n</sub>
<br><br>
= 38


</div>
</body>
</html>
