<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:72</h1>
<hr>
<p>
A batsman in his 17<sup>th</sup> innings make a score of 85, and there by increased his average by 3, what is his average after 17 innings?


</p>


<div>
	A.&nbsp;&nbsp;32

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;34

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;37

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let the average  score by 16 innings be X
<br><br>
Then <sup>(Sum of 16 innings score)</sup>&frasl;<sub>16</sub> = X
<br><br>
Sum of 16 innings score = 16X
<br><br>
Given that 17th innings score = 85
<br><br>
By adding of 17th innings the average increases by 3
<br><br>
New average for 17 innings = X+3
<br><br>
<sup>(Sum of 17 innings score)</sup>&frasl;<sub>17</sub> = X+3
<br><br>
Sum of 17 innings score = 17(X+3)
<br><br>
Sum of 16 innings score+17th inings score = 17X+51
<br><br>
16X+85 = 17X+51
<br><br>
85-51 = 17X-16X
<br><br>
X = 34
<br><br>
Average score after 17 innings is X+3 
<br><br>
= 34+3
<br><br>
= 37
</body>
</html>
