<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:19</h1>
<hr>
<p>

A sum of Rs. 700 has to be used to give seven cash prizes to the students of a school for their overall academic performance. If each prize is Rs.20 less than its preceding prize, what is the least value of the prize?

</p>


<div>
	A.&nbsp;&nbsp;30

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;40

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;60

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;80

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Let us assume that amount of first prize be N
<br><br>
Based on condition that is amount of next prize is Rs.20 less by first prize
<br><br>
Then Amount of 7 prizes can be written as 
<br><br>
N, N-20, N-40, N-60, N-80, N-100, N-120.
<br><br>
So total sum of prizes is 700
<br><br>
i.e N+N-20+N-40+N-60+N-80+N-100+N-120 = 700
<br><br>
7N-420 = 700
<br><br>
7N = 700+420
<br><br>
7N = 1120
<br><br>
N = <sup>1120</sup>&frasl;<sub>7</sub>
<br><br>
N = 160
<br><br>
Least prize is given by N-120
<br><br>
= 160-120
<br><br>
= 40




</body>
</html>
