{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
    <title>Average Tutorial</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1>Average.</p1>
</u></b></font>
<hr/>
<hr/>


<p><font size="4"> <u> </u></font>
    <br>
    <ol>
        <li>
            Average or Arithmetic Mean is calculated by adding all the observations and dividing their sum by number of
            observations
            <br><br>


            Average of n terms = <sup>(sum of n terms)</sup>&frasl;<sub>n</sub>.

            <br><br>


            = <sup>&Sigma; x<sub>i</sub></sup>&frasl;<sub>n</sub>.


        </li>

        <br>

        <li>

            When average of n<sub>1</sub>, items is x<sub>1</sub>, average of n<sub>2</sub>,items is x<sub>2</sub>
            average of n<sub>3</sub> items x<sub>3</sub>, and so on. <br>
            Then combined average of all items

            <br><br>

            = <sup>&Sigma; n <sub>i</sub> x <sub>i</sub> </sup>&frasl;<sub>n <sub>i</sub> </sub>.


        </li>
        <br>

        <li>
            If average of some numbers is x and a constant number a is
            <br><br>(i) added to each term of the series, then new average <br>= x + a.
            <br><br>(ii) subtracted from each term of the series, then new average <br>= x - a.
            <br><br>(iii) multiplied with each term of the series, then new average <br>= ax.
            <br><br>(iv) divides each term of the series, then new average <br>=x &divide; a.


        </li>
        <br>


        <li> Average of n terms in an Arithmetic Progression is:


            <br><br>(a) Mid term i.e. <sup>n + 1</sup>&frasl;<sub>2</sub> &nbsp;th term (if n is an odd number).
            <br><br>(b) Average of two mid terms i.e. average of &nbsp; <sup>n</sup>&frasl;<sub>2</sub> &nbsp; and
            &nbsp;<sup>(n + 1)</sup>&frasl;<sub>2</sub> &nbsp;th term (if n is an even number).


        </li>
        <br>


        <li>
            Average of an Arithmetic Progression with given first and last terms.

            <br><br>

            = <sup>1</sup> &frasl; <sub>2</sub> &times; ( First term + Last term ).


        </li>
        <br>


        <li>
            <ul>
                <li>
                    If a number is increased while the other number remain constant in a series, the average of the
                    series will increase and vice versa.
                </li>
                <br>
                <li>
                    This implies if one or more numbers are increased, then one or more of the remaining numbers must be
                    decreased to keep the same average for the series and vice versa.
                </li>
            </ul>

        </li>
        <br>


        <li>
            Questions based on average can broadly be divided into two categories.
            <br><br>
            (a) <u>Addition Case:</u>

            <br><br>Let average of n terms is x.
            <br><br>On including one more term to the series, average of (n + 1) terms becomes y.
            <br><br>Then value of new term include = x + (n + 1)(y - x) or n &times; ( y - x),
            <br><br>i.e. New average + Number of terms (previous) &times Increase in average
            <br><br>or Old average + Number of terms (all) &times; Increase in average.


            <br><br><u>Note:</u> what happens if more than one term have been included?
            <br><br>Let m items are included.

            <br><br>Then average of new items

            <br><br>= y + [<sup>n</sup>&frasl;<sub>m</sub> &times; (y - x)].

            <br><br> = New Average + [<sup>Number of items (previous)</sup> &frasl; <sub>Number of items (new)</sub>]
            &nbsp; &times; Increase in Average.
            <br><br>
            (b) <u>Replacing Case:</u>
            <br>
<p>When one item is excluded and one new item is included in a series of n items and the average of the series is
    increased by a by doing so, then</p>


New Item = Replaced item + a &times; n.<br><br>
i.e. New Item = Replaced item + (Increase in Average &times; Number of items).


<br><br>
<u>Note:</u>Decrease means negative increase.

</li>
<br>


<li>

    when items are divided in to two groups and one of the terms is excluded from both the groups then:

    Excluded term


    <br><br>= Average of all items<br> + (Combined average - Average of first group) &times; Number of items in the
    first group <br> + (Combined average - Average of second group) &times; Number of items in the second group.

</li>
<br>


<li>
    When items are divided into two groups and one of the terms is included in both the groups, then

    <br><br>

    Common-term = Average of all items <br> + (Average of first group - Combined Average) &times; Number of items in the
    first group <br> + (Average of second group - Combined Average ) &times; Number of items i the second group.


</li>
<br>


</ol>


</body>


</html>
