<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:65</h1>
<hr>
<p>
The average of 9 items is 79. If one new item whose value is 59 is also included in the series, find average of all the 10 items.


</p>


<div>
	A.&nbsp;&nbsp;77

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;80

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;81

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;83

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
Given that Average of 9items = 79<br><br>
<sup>(Sum of 9 items)</sup>&frasl;<sub>9</sub> = 79
<br><br>
Sum of 9 items = 9&times;79 = 711
<br><br>
Given that a new item with 59 is also included to group
<br><br>
New average of 10 items is 
<br><br>
= <sup>(Sum of 10 items)</sup>&frasl;<sub>10</sub>
<br><br>
= <sup>(Sum of 9 items+10th value)</sup>&frasl;<sub>10</sub>
<br><br>
= <sup>(711+59)</sup>&frasl;<sub>10</sub>
<br><br>
= <sup>770</sup>&frasl;<sub>10</sub>
<br><br>
= 77

</body>
</html>
