<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:94</h1>
<hr>
<p>

The average marks obtained by 9 students was calculated to be 65. Later on it was found that the marks of one student was wrongly read as 76 instead of 67. The correct average is:

</p>


<div>
	A.&nbsp;&nbsp;56

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;64

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;66

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;74

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>

Given that average marks by 10 students is 65
<br><br>
<sup>(Sum of 9 students)</sup>&frasl;<sub>9</sub> = 65
<br><br>
Sum of marks by 8 students+wrongly readed marks= 9&times;65
<br><br>
Sum of 8 students+76 = 585
<br><br>
Sum of 8 students = 585-76 = 509
<br><br>
Now average marks by 9 students by replacing 76 by 67 is 
<br><br>
= <sup>(Sum of marks by 9 students)</sup>&frasl;<sub>9</sub>
<br><br>
= <sup>(Sum of marks by 8 students+Original marks)</sup>&frasl;<sub>9</sub>
<br><br>
= <sup>(509+67)</sup>&frasl;<sub>9</sub>
<br><br>
= <sup>576</sup>&frasl;<sub>9</sub>
<br><br>
= 64

</body>
</html>
