{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:67</h1>
<hr>
<p>
The average age of 20 boys in a class is 12 years. What will be average age of the class if 5 new boys take admission whose average age is 7 years?


</p>


<div class="div2">
	A.&nbsp;&nbsp;11 <sup>1</sup>&frasl;<sub>2</sub> years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;11 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;10<sup>1</sup>&frasl;<sub>2</sub> years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;10

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that Average age of 20 boys = 12<br><br>
<sup>(Sum of ages of 20 boys)</sup>&frasl;<sub>20</sub> = 12
<br><br>
Sum ages of 20 boys = 20&times;12 = 240
<br><br>
Given that 5 boys whose average age of 7 also included then 
total boys in class is 25
<br><br>
Avarage age of 5 boys is 7
<br><br>
<sup>(Sum of ages of 5 boys)</sup>&frasl;<sub>5</sub> = 7
<br><br>
Sum of ages of 5 boys = 5&times;7 = 35
<br><br>
Now the average age of 25 boys is
<br><br>
= <sup>(Sum of ages of 25 boys)</sup>&frasl;<sub>25</sub>
<br><br>
= <sup>(Sum of ages of 20 boys+Sum of ages of 5 new boys)</sup>&frasl;<sub>25</sub>
<br><br>
= <sup>(240+35)</sup>&frasl;<sub>25</sub>
<br><br>
= <sup>275</sup>&frasl;<sub>25</sub>
<br><br>
= 11
</div>
</body>
</html>
