{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:83</h1>
<hr>
<p>
On replacing an old member of a group with a younger member, the average age of 10 members of the group remains same as it was2 years ago. How much is the new member younger than the old one?


</p>


<div class="div2">
	A.&nbsp;&nbsp;10

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;12

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;15

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;20

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let us assune that X<sub>1</sub>,X<sub>2</sub>,...X<sub>10</sub> be the present ages of 10 old members
<br><br>
Let us assume that their average age before 2 years be P
<br><br>
i.e.<sup>(Sum of ages of 10 old members before 2 years)</sup>&frasl;<sub>10</sub> = P
<br><br>
<sup>[X<sub>1</sub>+X<sub>2</sub>+...+X<sub>10</sub>-(2&times;10)]</sup>&frasl;<sub>10</sub> = P
<br><br>
<sup>(X<sub>1</sub>+...X<sub>9</sub>+X<sub>10</sub>-20)</sup>&frasl;<sub>10</sub> = P--->(1)
<br><br>
Let us assume that new member present age be Y
<br><br>
Given that present age of one member of group is replaced by younger then average remains same
<br><br>
i.e.<sup>(Sum of ages of 9 old members+younger member age)</sup>&frasl;<sub>10</sub> = P
<br><br>
<sup>(X<sub>1</sub>+X<sub>2</sub>+...+X<sub>9</sub>+Y)</sup>&frasl;<sub>10</sub> = P--->(2)
<br><br>
By equating (1)and(2)
<br><br>
<sup>(X<sub>1</sub>+...X<sub>9</sub>+X<sub>10</sub>-20)</sup>&frasl;<sub>10</sub> = <sup>[(X<sub>1</sub>+X<sub>2</sub>+...+X<sub>9</sub>+Y)</sup>&frasl;<sub>10</sub>
<br><br>
X<sub>1</sub>+...X<sub>9</sub>+X<sub>10</sub>-20 = X<sub>1</sub>+X<sub>2</sub>+...+X<sub>9</sub>+Y)
<br><br>
X<sub>10</sub>-20 = Y
<br><br>
X<sub>10</sub>-Y = 20

</div>
</body>
</html>
