<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:11</h1>
<hr>
<p>
The average of eight successive numbers is 6.5. the average of the smallest and the greatest numbers among them will be:

</p>


<div>
	A.&nbsp;&nbsp;4

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;6.5

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;7.5

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;9

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Given that the average of 8 successive numbers is 6.5.
<br><br>
Let us assume that 8 successive numbers be n,n+1,n+2,n+3,n+4,n+5,n+6,n+7.
<br><br>
Then The average of 8 numbers is given by
<br><br>
<sup>Sum of 8 numbers</sup>&frasl;<sub>8</sub> = 6.5
<br><br>
Sum of 8 numbers = 8&times;6.5
<br><br>
n+n+1+n+2+n+3+n+4+n+5+n+6+n+7 = 52
<br><br>
8n+28 = 52
<br><br>
8n = 52-28 = 24
<br><br>
n = <sup>24</sup>&frasl;<sub>8</sub> = 3
<br><br>
So smallest and largest number in the list is n, n+7.
<br><br>
Then The average of smallest and largest numbers is
<br><br>
= <sup>(n+n+7)</sup>&frasl;<sub>2</sub>
<br><br>
= <sup>(2n+7)</sup>&frasl;<sub>2</sub>
<br><br>
= <sup>(2(3)+7)</sup>&frasl;<sub>2</sub>
<br><br>
= <sup>(6+7)</sup>&frasl;<sub>2</sub>
<br><br>
= <sup>13</sup>&frasl;<sub>2</sub>
<br><br>
= 6.5

</body>
</html>
