<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:63</h1>
<hr>
<p>
A batsman makes a score of 58 runs in the 15th innings and thus increases his average by 3 runs. What is the average after 15th innings?


</p>


<div>
	A.&nbsp;&nbsp;12

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;14

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;16

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;18

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let the average  score for 14 innings be X
<br><br>
Then <sup>(Sum of 14 innings score)</sup>&frasl;<sub>14</sub> = X
<br><br>
Sum of 14 innings score = 14X
<br><br>
Given that 15th innings score = 58
<br><br>
Now average increases by 3
<br><br>
New average for 15 innings = X+3
<br><br>
<sup>(Sum of 15 innings score)</sup>&frasl;<sub>15</sub> = X+3
<br><br>
Sum of 15 innings score = 15(X+3)
<br><br>
Sum of 14 innings score+15th inings score = 15X+45
<br><br>
14X+58 = 15X+45
<br><br>
58-45 = 15X-14X
<br><br>
X = 13
<br><br>
Average score after 15 innings is X+3 
<br><br>
= 13+3
<br><br>
= 16

</body>
</html>
