{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:35</h1>
<hr>
<p>
Average of first five odd multiple of 3 is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;12

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;15

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;18

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;21

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Sum of first 5 odd multiples of 3 = (3&times;1)+(3&times;3)+(3&times;5)+(3&times;7)+(3&times;9)
<br><br>
= 3&times;(1+3+5+7+9)
<br><br>
= 3&times;25
<br><br>
= 75
<br><br>
The average of first 5 odd multiples of 3 
<br><br>
= <sup>(Sum of first 5 odd multiples of 3)</sup>&frasl;<sub>5</sub>
<br><br>
= <sup>75</sup>&frasl;<sub>5</sub>
<br><br> 
= 15.


</div>
</body>
</html>