<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:43</h1>
<hr>
<p>

The sum of five numbers is 555. The average of first two numbers is 75 and the third number is 115. What is the average of last two numbers?	

</p>


<div>
	A.&nbsp;&nbsp;145

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;290

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;265

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;150

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
Sum of five numbers = 555<br><br>
Average of first two numbers is 75<br><br>
<sup>(Sum of first two numbers)</sup>&frasl;<sub>2</sub> = 75<br><br>
Sum of first two numbers = 2&times;75 = 150
<br><br>
Third number = 115
<br><br>
Sum of last two numbers = Sum of all numbers - Sum of three numbers
<br><br>
Sum of last two numbers <br><br>
= 555-(150+115)
<br><br>
= 555-265 
<br><br>
= 290
<br><br>
Average of last two numbers 
<br><br>
= 290&divide;2 
<br><br>
= 145.

</body>
</html>
