{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:46</h1>
<hr>
<p>

The sum of all natural numbers between 100 and 200, which are multiples of 3 is:

</p>


<div class="div2">
	A.&nbsp;&nbsp;5000

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;4950

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;4980

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;4900

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
The number which are multiples of 3 between 100 and 200 are
<br><br>
102,105,108,....195,198
<br><br>
Total number of terms between 100 and 200 are 33
<br><br>
Sum of numbers = 102+105+108+....+195+198
<br><br>
= 102+(102+3)+(102+6)+(102+9)+....<br><br>....(102+93)+(102+96)
<br><br>
= (102&times;33)+(3+6+9+....93+96)
<br><br>
= 3366+3(1+2+3+..31+32)
<br><br>
{ Sum of first n terms is 
<sup>n(n+1)</sup>&frasl;<sub>2</sub>
}<br><br>
= 3366+3(32&times;33/2)
<br><br>
= 3366+3(1056/2)
<br><br>
= 3366+3(528)
<br><br>
= 3366+1584
<br><br>
= 4950


</div>
</body>
</html>