<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:13</h1>
<hr>
<p>

The average of 7 consecutive numbers is 20. The largest of these numbers is:

</p>


<div>
	A.&nbsp;&nbsp;24

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;23

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;22

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;20

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>

Let us assume that the seven consecutive numbers be n,n+1,n+2,n+3,n+4,n+5,n+6
<br><br>
Average of 7 consecutive numbers is 20
<br><br>
<sup>(Sum of 7 consecutive numbers)</sup>&frasl;<sub>7</sub> = 20
<br><br>
i.e. <sup>(n+n+1+n+2+n+3+n+4+n+5+n+6)</sup>&frasl;<sub>7</sub> = 20
<br><br>
7n+21 = 20&times;7 
<br><br>
7n = 140-21
<br><br>
7n = 119
<br><br>
n = <sup>119</sup>&frasl;<sub>7</sub>
<br><br>
n = 17
<br><br>
So largest term is given by n+6
<br><br>
= 17+6
<br><br>
= 23

</body>
</html>
