{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:70</h1>
<hr>
<p>

The average of marks of 28 students in Mathematics was 50:8 students left the school, then this average increased by 5. What is the average of marks obtained by the students who left the school?

</p>


<div class="div2">
	A.&nbsp;&nbsp;50.5

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;37.5

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;42.5

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;45

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that Average marks of 28 students = 50 marks<br><br>
<sup>(Sum of marks of 28 students)</sup>&frasl;<sub>28</sub> = 50
<br><br>
Sum of 28 student marks = 28&times;50
<br><br>
Sum of 28 student marks = 1400--->(1)
<br><br>
Given that the average increased by 5 when 8 students left the school
<br><br>
New average of 20 student marks = 55
<br><br>
<sup>(Sum of marks of 20 students)</sup>&frasl;<sub>20</sub> = 55
<br><br>
Sum of 20 student marks = 20&times;55
<br><br>
Sum of 20 student marks = 1100--->(2)
<br><br>
From (1)
<br><br>
Sum of marks by 28 students = Sum of marks by 20 students+Sum of marks by 8 students
<br><br>
1400 = 1100 + Sum of marks by 8 students
<br><br>
Sum of marks by 8 students = 1400-1100
<br><br>
Sum of marks by 8 students = 300
<br><br>
Now average of 8 students who left the schoo is
<br><br>
= <sup>(Sum of marks of 8 students)</sup>&frasl;<sub>8</sub>
<br><br>
= <sup>300</sup>&frasl;<sub>8</sub>
<br><br>
= 37.5






</div>
</body>
</html>
