
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:10</h1>
<hr>
<p>
The average of first 47 natural numbers is:


</p>


<div>
	A.&nbsp;&nbsp;23

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;24

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;25

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;47

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>

Average = <sup>a</sup>&frasl;<sub>b</sub><br><br>
where <br><br>
a = sum of the numbers<br><br>
b = number of terms<br><br>
We know that the sum of first n natural numbers is given by 
<br><br>
<sup>n(n+1)</sup>&frasl;<sub>2</sub>
<br><br>
Average of 47 numbers 
<br><br>
=  <sup>(Sum of first 47 natural numbers )</sup> &frasl;<sub>47</sub>
<br><br>
=
( <sup>(47 &times; 48)</sup>&frasl;<sub>2</sub>) &frasl;<sub>47</sub>
<br><br>
= ( <sup>2256</sup>&frasl;<sub>2</sub>) &frasl;<sub>47</sub>
<br><br>
= <sup>1128</sup> &frasl;<sub>47</sub>
<br><br>
= 24

</body>
</html>
