<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:39</h2>
<hr>
<p>
The average of 5 consecutive integers starting with m is n. What is the average of 6 consecutive integers starting with (m+2)


</p>


<div>
	A.&nbsp;&nbsp;(n+3)

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;
<sup>(2n+9)</sup>&frasl;<sub>2</sub>
	
</div>
<br>
<div>
	C.&nbsp;&nbsp;
<sup>(2n+5)</sup>&frasl;<sub>2</sub>
	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;(n+2)

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let us assume that the 5 consecutive numbers be m,m+1,m+2,m+3,m+4
Given that the average of 5 consecutive numbers start with m is n<br><br>
<sup>(Sum of 5 consecutive numbers start with m)</sup>&frasl;<sub>5</sub><br><br> = n
<br><br>
m+m+1+m+2+m+3+m+4 = 5n
<br><br>
5m+10 = 5n
<br><br>
m+2 = n
<br><br>
m = n-2<br><br>
Let us assume that m+2,m+3,m+4,m+5,m+6,m+7 be 6 consecutive numbers
<br><br>
Average of 6 consecutive integers start with (m + 2 ) <br><br>
= <sup>(Sum of 6 consecutive numbers start with m+2)</sup>&frasl;<sub>6</sub>
<br><br>
= <sup>(m+2+m+3+m+4+m+5+m+6+m+7)</sup>&frasl;<sub>6</sub>
<br><br>
= <sup>(6m+27)</sup>&frasl;<sub>6</sub>
<br><br>
= <sup>(6(n-2)+27)</sup>&frasl;<sub>6</sub>
<br><br>
= <sup>(6n-12+27)</sup>&frasl;<sub>6</sub><br><br>
= <sup>(6n+15)</sup>&frasl;<sub>6</sub><br><br>
= <sup>3(2n+5)</sup>&frasl;<sub>6</sub><br><br>
= <sup>2n+5</sup>&frasl;<sub>2</sub><br><br>

</body>
</html>