{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:7</h1>
<hr>
<p>
If 16a + 16 b = 48 what is the average of a and b?


</p>


<div class="div2">
	A.&nbsp;&nbsp;1.5

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;2

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;2.5

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;3

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given 16a + 16b = 48
<br><br>
16(a+b) = 48<br><br>
a+b = <sup>48</sup>&frasl;<sub>16</sub><br><br>
= 3<br><br>
Average of a and b 
<br><br>
= <sup>(a+b)</sup>&frasl;<sub>2</sub>
<br><br>
= 3&divide;2<br><br>
= 1.5

</div>
</body>
</html>
