{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:3</h1>
<hr>
<p>
The average of ten numbers is 30. If 5 is added to every number, the new average is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;30

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;30.5

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;35

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;53

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that The average of ten numbers is 30
<br><br>
<sup>Total sum of 10 numbers</sup>&frasl;<sub>Total numbers(10)</sub> = 30
<br><br>
<sup>(Total sum of 10 numbers)</sup>&frasl;<sub>10</sub> = 30
<br><br>
Total sum of 10 numbers = 30&times;10
<br><br>
Total sum of 10 numbers = 300
<br><br>
Given that 5 is added to every number.
<br><br>
So total number should be 10&times5 = 50
<br><br>
Now total Sum of numbers 
<br><br>
= 300+50 
<br><br>
= 350
<br><br>
So the new average obtained after adding of 5 to every number is 
<br><br>
=( Total Sum of 10 numbers after addition of 5) &divide;10
<br><br>
= <sup>350</sup>&frasl;10
<br><br>
= 35
</div>
</body>
</html>
