{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:61</h1>
<hr>
<p>
Average age of 6 persons is decreased by 1 years when one new person Is included in the group find the age of new man, if average age of 6 persons as 39 years.


</p>


<div class="div2">
	A.&nbsp;&nbsp;32

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;33

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;38

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;40

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that the average of 6 persons is 39
<br><br>
<sup>(Sum of ages of 6 persons)</sup>&frasl;<sub>6</sub> = 39
<br><br>
Sum of ages of 6 persons 6&times;39 = 234
<br><br>
The average age decreased by 1 when new person included in the group
<br><br>
i.e.<sup>(Sum of ages of 6 persons+new persons age)</sup>&frasl;<sub>7</sub> = 39-1 
<br><br>
234+new persons age = 7&times;38
<br><br>
234+new persons age = 266
<br><br>
new persons age = 266-234
<br><br>
new persons age = 32



</div>
</body>
</html>
