{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:66</h2>
<hr>
<p>
    Average age of 9 members of a club is 29 years. If 2 more persons with the average age of 40 years become the
    members of the club, find average age of all the 11 members.


</p>


<div class="div2">
    A.&nbsp;&nbsp;30


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;31


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;32


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;35


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that Average age of 9 members = 29<br><br>
<sup>(Sum of ages of 9 members)</sup>&frasl;<sub>9</sub> = 29
<br><br>
Sum ages of 9 members = 9&times;29 = 261
<br><br>
Given that two persons whose average of 40 also included then
total members in club is 11
<br><br>
Average of two persons is 40
<br><br>
<sup>(Sum of ages of 2 members)</sup>&frasl;<sub>2</sub> = 40
<br><br>
Sum of ages of 2 members = 80
<br><br>
Now the average of 11 members is
<br><br>
= <sup>(Sum of ages of 11 members)</sup>&frasl;<sub>11</sub>
<br><br>
= <sup>(Sum of ages of 9 members+Sum of ages of two new members)</sup>&frasl;<sub>11</sub>
<br><br>
= <sup>(261+80)</sup>&frasl;<sub>11</sub>
<br><br>
= <sup>341)</sup>&frasl;<sub>11</sub>
<br><br>
= 31
<br><br>

</div>
</body>
</html>
