{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:100</h2>
<hr>
<p>
    Average age of 7 members of a family is 29 years. If present age of the youngest member is 5 years, find average age
    of the remaining members at the time of birth of the youngest member.


</p>


<div class="div2">
    A.&nbsp;&nbsp;22 years


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;24 years


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;26 years


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;28 years


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Given Average of 7 members is 29
<br><br>
<sup>(Sum of 7 members)</sup>&frasl;<sub>7</sub> = 29
<br><br>
<sup>(Sum of younger age+ Sum of remaining members age)</sup>&frasl;<sub>7</sub> = 29
<br><br>
Sum of younger age + Sum of remaining members age = 7&times;29
<br><br>
Given that Younger age = 5
<br><br>
5+Sum of ages of 6 member = 203
<br><br>
Sum of ages of 6 members = 203-5 = 198
<br><br>
The average age of 6 members before 5 years is
<br><br>
= <b><sup> (Sum of ages of 6 members before 5 years)</sup>&frasl;<sub>6</sub></b>
<br><br>
= <sup> (Sum of present ages of 6 members-(6&times;5))</sup>&frasl;<sub>6</sub>
<br><br>
= <sup> [198-(6&times;5)]</sup>&frasl;<sub>6</sub>
<br><br>
= <sup> (198-30)</sup>&frasl;<sub>6</sub>
<br><br>
= <sup> 168</sup>&frasl;<sub>6</sub>
<br><br>
= 28

</div>
</body>
</html>
