{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:55</h1>
<hr>
<p>
The average age of four brothers is 12 years. If the age of their mother is also included, the average is increased by 5 yeasrs. The age of the mother is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;37

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;43

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;48

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;53

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Given that the average of 4 brothers is 12
<br><br>
<sup>(Sum of ages of four brothers)</sup>&frasl;<sub>4</sub> = 12
<br><br>
Sum of ages of four brothers = 4&times;12
<br><br>
Sum of ages of four brothers = 48
<br><br>
Let us assume that the mothers age be X
<br><br>
If mother is also included then the average age of four brothers and mother is increased by 5
<br><br>
(Sum of ages of four brothers and age of mother)&divide;5 
<br><br>
= 12+5 = 17
<br><br>
48+X = 5&times;17
<br><br>
48+X = 85
<br><br>
X = 85-48
<br><br>
X = 37

</div>
</body>
</html>
