<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:34</h2>
<hr>
<p>
    Find the average of first eight multiple of 6.


</p>


<div>
    A.&nbsp;&nbsp;18


</div>
<br>
<div>
    B.&nbsp;&nbsp;24


</div>
<br>
<div>
    C.&nbsp;&nbsp;27


</div>
<br>

<div>
    D.&nbsp;&nbsp;30


</div>


<h2><u>Answer</u>: C</h2>
Sum of first eight multiples of 6<br><br>
= (6&times;1)+(6&times;2)&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;+(6&times;8)<br><br>
= 6&times;(1+2+3+&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;+8)<br><br>
{Sum of first n numbers is given by <sup>(n)(n+1)</sup>&frasl;<sub>2</sub>}
<br><br>
= <sup>(6&times;8&times;9)</sup>&frasl;<sub>2</sub><br><br>
= <sup>432</sup>&frasl;<sub>2</sub><br><br>
= 216
<br><br>
Average of first eight multiples of 6
<br><br>
= <sup>(Sum of first 8 multiples of 6)</sup>&frasl;<sub>8</sub>
<br><br>
= <sup>216</sup>&frasl;<sub>8</sub>
<br><br>
= 27


</body>
</html>
