{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:45</h1>
<hr>
<p>
The average of n numbers is x. when 36 is subtracted from two of the numbers, the new average becomes (x-8). The value of n is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;6

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;8

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;9

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;72

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that average of n numbers is x
<br><br>
<sup>(Sum of n numbers)</sup>&frasl;n = x
<br><br>
Sum of n numbers = xn
<br><br>
When two numbers are subtracted by 36
<br><br>
New average = x-8
<br><br>
<sup>(Sum of n numbers-36-36)</sup>&frasl;<sub>n</sub> = x-8
<br><br>
xn-72 = n(x-8)
<br><br>
xn-72 = xn-8n
<br><br>
8n = 72
<br><br>
n = 9
<br><br>

</div>
</body>
</html>
