<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:99</h2>
<hr>
<p>
    The present average age of a family of four members is 36 years. If the present age of the youngest member of the
    family be 12 years, the average age of the family at the birth of the youngest member was:


</p>


<div>
    A.&nbsp;&nbsp;48 years


</div>
<br>
<div>
    B.&nbsp;&nbsp;40 years


</div>
<br>
<div>
    C.&nbsp;&nbsp;32 years


</div>
<br>

<div>
    D.&nbsp;&nbsp;24 years


</div>


<h2><u>Answer</u>: C</h2>
Let the present ages of 4 members in ascending order be a,b,c and d
<br><br>
Given Average of 4 members is 36
<br><br>
<sup>(Sum of 4 members)</sup>&frasl;<sub>4</sub> = 36
<br><br>
<sup>(a+b+c+d)</sup>&frasl;<sub>4</sub> = 36
<br><br>
a+b+c+d = 4&times;36
<br><br>
Given that Younger age is a = 12
<br><br>
12+b+c+d = 144
<br><br>
b+c+d = 132
<br><br>
The ages of remaining members at the birth of youngest member are b&minus;12,c&minus;12,d&minus;12
<br><br>
The average of 3 members before 12 years is
<br><br>
= <sup> (Sum of 3 members before 12 years)</sup>&frasl;<sub>3</sub>
<br><br>
= <sup> (b-12+c-12+d-12)</sup>&frasl;<sub>3</sub>
<br><br>
= <sup> (b+c+d-36)</sup>&frasl;<sub>3</sub>
<br><br>
= <sup> (132-36)</sup>&frasl;<sub>3</sub>
<br><br>
= <sup> 96</sup>&frasl;<sub>3</sub>
<br><br>
= 32
</body>
</html>
