{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:74</h1>
<hr>
<p>
A cricketer player after playing 10 tests scored 100 runs in the 11th test. As a result, the average of this runs is increased by 5. The present average of runs is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;45

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;40

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;55

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;50

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let the average  score by 10 innings be X
<br><br>
Then <sup>(Sum of 10 innings score)</sup>&frasl;<sub>10</sub> = X
<br><br>
Sum of 10 innings score = 10X
<br><br>
Given that 11th innings score = 100
<br><br>
By adding of 11th innings the average increases by 5
<br><br>
New average for 11 innings = X+5
<br><br>
<sup>(Sum of 11 innings score)</sup>&frasl;<sub>11</sub> = X+5
<br><br>
Sum of 11 innings score = 11(X+5)
<br><br>
Sum of 10 innings score+11th inings score = 11X+55
<br><br>
10X+100 = 11X+55
<br><br>
100-55 = 11X-10X
<br><br>
X = 45
<br><br>
Average score after 11 innings is X+5
<br><br>
= 45+5
<br><br>
= 50

</div>
</body>
</html>
