{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:78</h1>
<hr>
<p>
Average age of 6 sons of a family is 8 years. Average age of sons gohether with their parents is 22 yeass. If father is older than mother by 8 years, the age of mother is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;44 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;52 years

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;60 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;68 years

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that the average age of 6 sons is 8
<br><br>
<sup>(Sum of ages of 6 sons)</sup>&frasl;<sub>6</sub> = 8
<br><br>
Sum of ages of 6 sons = 6&times;8
<br><br>
Sum of ages of 6 sons = 48
<br><br>
Given the average age of 6 sons with their parents is 22
<br><br>
<sup>(Sum of ages of 6 sons with their parents)</sup>&frasl;<sub>8</sub> = 22
<br><br>
Sum of ages of 6 sons with their parents = 8&times;22
<br><br>
Sum of ages of 6 sons with their parents = 176
<br><br>
Sum of ages of 6 sons + Sum ofages of parents = 176
<br><br>
48 +Sum of ages of parents = 176
<br><br>
Sum ofAges of parents = 176-48
<br><br>
Sum of Ages of parents  = 128
<br><br>
Let us assume that mothers age be X
<br><br>
then according to problem fathers age is 8 years more than mother
<br><br>
Sum of Ages of parents = 128
<br><br>
X+X+8 = 128
<br><br>
2X = 128-8
<br><br>
X = 120/2
<br><br>
X = 60
<br><br>
Mothers age = 60

</div>
</body>
</html>
