<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:92</h1>
<hr>
<p>
The mean of 50 observations was 36. It was found later that an observation 48 was wrongly taken as 23. The corrected (new) mean is:


</p>


<div>
	A.&nbsp;&nbsp;35.2

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;36.1

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;36.5

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;39.1

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Given that average of 50 observations is 36
<br><br>
<sup>(Sum of 50 observations)</sup>&frasl;<sub>50</sub> = 36
<br><br>
Sum of 49observations+one observation= 50&times;36
<br><br>
Sum of 49 observations+23 = 1800
<br><br>
Sum of 49 observations = 1800-23 = 1777
<br><br>
Now average of 50 observations by replacing 23 by 48 is 
<br><br>
= <sup>(Sum of 50 observations)</sup>&frasl;<sub>50</sub>
<br><br>
= <sup>(Sum of 49 observations+Original observation)</sup>&frasl;<sub>50</sub>
<br><br>
= <sup>(1777+48)</sup>&frasl;<sub>50</sub>
<br><br>
= <sup>1825</sup>&frasl;<sub>50</sub>
<br><br>
= 36.5

</body>
</html>
