{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:84</h1>
<hr>
<p>
Average age of 6 persons in a group is same as it was 5 years ago, when an old man in the group is replaced by a young man, what is the age of the new person if the man replaced is of 70 years.



</p>


<div class="div2">
	A.&nbsp;&nbsp;30

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;35

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;40

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;45

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let X<sub>1</sub>,...X<sub>6</sub> be the present ages then Average of their ages before 5 years is P(Assume)
<br><br>
<sup>(Sum of their ages before 5 years)</sup>&times;<sub>6</sub> = P
<br><br>
X<sub>1</sub>-5+X<sub>2</sub>-5+...+X<sub>6</sub>-5 = 6P
<br><br>
X<sub>1</sub>+X<sub>2</sub>+...+X<sub>6</sub> = 6P+30
<br><br>
Given that old man of 70 years age in a group is replaced by young man(Y)
<br><br>
Sum of their ages =X<sub>1</sub>+X<sub>2</sub>+...+X<sub>6</sub>-70+Y
<br><br>
So now Average of their ages is as that of their ages before replacement(P)
<br><br>
<sup>(Sum of their ages)</sup>&times;<sub>6</sub> =P
<br><br>
X<sub>1</sub>+X<sub>2</sub>+...+X<sub>6</sub>-70+Y = 6P
<br><br>
6P+30-70+Y = 6P
<br><br>
Y = 40
</div>
</body>
</html>
