{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:40</h1>
<hr>
<p>
One year ago, the population of a town was 12000. In one year, male population is increased by 8% and female population by 6% but the total population is increased by 7%. What was the size of the male population one year ago


</p>


<div class="div2">
	A.&nbsp;&nbsp;5000

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;5500

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;6000

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;7000

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let us assume that the population of male and female be X and Y
<br><br>
Given that the total population before one year is 12000
<br><br>
X+Y = 12000
<br><br>
After one year male population increased by 8% and female population increased by 6% and total population increased by 7%
<br><br>
Male population = X+(X&times;<sup>8</sup>&frasl;<sub>100</sub>)
<br><br>
Female population = Y+(Y&times;<sup>6</sup>&frasl;<sub>100</sub>)
<br><br>
Total population = 12000+(12000&times;7/100)
<br><br>
Total population = 12000+840
<br><br>
Total population = 12840
<br><br>
Male population + Female population = 12840
<br><br>
X+(X&times;<sup>8</sup>&frasl;<sub>100</sub>)+Y+(Y&times;<sup>6</sup>&frasl;<sub>100</sub>) = 12840
<br><br>
(X+Y)+(<sup>(8X+6Y)</sup>&frasl;<sub>100</sub>) = 12840
<br><br>
12000+((8X+6Y)/100)) = 12840
<br><br>
<sup>(8X+6Y)</sup>&frasl;<sub>100</sub> = 840
<br><br>
6X+2X+6Y = 100&times;840
<br><br>
6(X+Y)+2X = 84000
<br><br>
6(12000)+2X = 84000
<br><br>
72000+2X = 84000
<br><br>
2X = 84000-72000
<br><br>
X = 12000/2
<br><br>
X = 6000

</div>
</body>
</html>
