{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:68</h1>
<hr>
<p>

The average of runs of a cricket player in 15 matches is 33. If the average of the first 10 matches is 45, then the average of the last 5 matches is:

</p>


<div class="div2">
	A.&nbsp;&nbsp;15

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;23

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;9

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;13.5

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Given that the average runs by 10 matches is 45
<br><br>
<sup>(Sum of runs by 10 matches)</sup>&frasl;<sub>10</sub> = 45
<br><br>
Sum of runs by 10 matches = 450
<br><br>
Now the average runs by 15 matches = 33
<br><br>
<sup>(Sum of runs by 15 matches)</sup>&frasl;<sub>15</sub> = 33<br><br>

Sum of runs by 10 matches+Last 5 match runs = 15&times;33
<br><br>
450+Last 5 match runs = 495
<br><br>
Last 5 match runs = 45
<br><br>
Average runs by 5 matches 
<br><br>
= <sup>(Sum of runs by last 5 matches)</sup>&frasl;<sub>5</sub>
<br><br>
= <sup>45</sup>&frasl;<sub>5</sub>
<br><br>
= 9

</div>
</body>
</html>
