{% load static %}
 <html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:47</h1>
<hr>
<p>
The average weight of A, B, C is 45 kg. if the average weight of A and B be 40 kg and that of B and C 43 kg, then the weight of B is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;17kg

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;20 kg

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;26 kg

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;31 kg

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that the average weight of A and B is 40
<br><br>
<sup>(Sum of weights of A and B)</sup>&frasl;<sub>2</sub> = 40
<br><br>
A+B = 2&times;40 = 80 Kg
<br><br>
The average weight of B and C is 43
<br><br>
<sup>(Sum of weights of B and C)</sup>&frasl;<sub>2</sub> = 43
<br><br>
B+C=  2&times;43 = 86Kg
<br><br>
A+B+C= 3&times;45= 135
<br><br>
80+C = 135
<br><br>
C = 135-80 = 55
<br><br>
We know that 
<br><br>
B+C = 86
<br><br>
B+55 = 86
<br><br>
B = 86-55
<br><br>
B = 31


</div>
</body>
</html>
