<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:57</h1>
<hr>
<p>

Four years ago the average age of A, B, and C was 25 years. Five years ago the average age of B and C was 20 years. As present age is:

</p>


<div>
	A.&nbsp;&nbsp;60

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;62

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;15

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;37

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Let A,B and C represents present ages
<br><br>
Then Their ages before 4 years should be A-4,B-4 and C-4
<br><br>
Their average before 4 years is 25
<br><br>
<sup>(Sum of their ages before 4 years)</sup>&frasl;<sub>3</sub> = 25
<br><br>
A-4+B-4+C-4 = 3&times;25
<br><br>
A+B+C-12 = 75
<br><br>
A+B+C = 75+12
<br><br>
A+B+C = 87--->(1)
<br><br>
The ages of B and C before 5 years are B-5 and C-5
<br><br>
Average of their ages before 5 years is 20
<br><br>
<sup>(Sum of their ages before 5 years)</sup>&frasl;<sub>2</sub> = 20
<br><br>
B-5+C-5 = 2&times;20
<br><br>
B+C-10 = 40
<br><br>
B+C = 50
<br><br>
From (1)
<br><br>
A+50 = 87
<br><br>
A = 87-50
<br><br>
A = 37

</body>
</html>
