{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:69</h1>
<hr>
<p>
The average of 50 numbers is 38. If two numbers namely 45 and 55 are discarded, the average of the remaining numbers is :


</p>


<div class="div2">
	A.&nbsp;&nbsp;36

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;35

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;32.5

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;37.5

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that the average of 50 numbers is 45
<br><br>
<sup>(Sum of 50 numbers)</sup>&frasl;<sub>50</sub> = 38
<br><br>
Sum of 50 numbers = 50 &times;38
<br><br>
Sum of 50 numbers = 1900
<br><br>
If two numbers namely 45 and 55 are eliminated then tota sum becomes
<br><br>
= 1900-45-55
<br><br>
= 1800
<br><br>
Sum of 48 numbers = 1800
<br><br>
Now the average of 48 numbers is 
<br><br>
= <sup>(Sum of 48 numbers)</sup>&frasl;<sub>48</sub>
<br><br>
= <sup>1800</sup>&frasl;<sub>48</sub>
<br><br>
= 37.5
<br><br>


</div>
</body>
</html>
