<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:48</h1>
<hr>
<p>
The average monthly income of X and Y is Rs.5050. the average monthly income of Y and Z is Rs.6250 and the average monthly income of X and Z is Rs.5200. the monthly income of X is:


</p>


<div>
	A.&nbsp;&nbsp;4050

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;3050

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;4000

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;5000

	
</div>
		
	

<h2> <u>Answer</u>: c</h2>
Given that the average income of X and Y is 5050<br><br>
<sup>(Sum of incomes of X and Y)</sup>&frasl;<sub>2</sub> = 5050<br><br>
X+Y = 2&times;5050 
<br><br>
X+Y = 10100--->(1)<br><br>
The average income of Y and Z is 6250<br><br>
<sup>(Sum of incomes of Y and Z)</sup>&frasl;<sub>2</sub> = 5050<br><br>
Y+Z = 2&times;6250 
<br><br>
Y+Z = 12500--->(2)<br><br>
The average income of X and Z is 5200<br><br>
<sup>(Sum of incomes of X and Z)</sup>&frasl;<sub>2</sub> = 5200<br><br>
X+Z = 2&times;5200 
<br><br>
X+Z = 10400--->(3)<br><br>
Now Let us calculate (3)-(2)
<br><br>
(X+Z)-(Y+Z) 
<br><br>
= 10400-12500
<br><br>
X-Y = -2100--->(4)
<br><br>
Now let us calculate (1)+(4)
<br><br>
(X+Y)+(X-Y) 
<br><br>
= 10100-2100
<br><br>
2X = 8000
<br><br>
X = 4000


</body>
</html>
