{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:29</h1>
<hr>
<p>
Of the three numbers whose average is 60, the first is one fourth of the sum of the others. the first number is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;30

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;36

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;42

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;45

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let us assume that three numbers be a,b and c
<br><br>
Given that first number is one fourth of sum of other two numbers
<br><br>
i.e. a = <sup>(b+c)</sup>&frasl;<sub>4</sub>
<br><br>
b+c = 4a
<br><br>
The average of three numbers is 60
<br><br>
<sup>(Sum of three numbers)</sup>&frasl;<sub>3</sub> = 60
<br><br>
a+b+c = 3&times;60
<br><br>
a+4a = 180
<br><br>
5a = 180
<br><br>
a = <sup>180</sup>&frasl;<sub>5</sub>
<br><br>
a = 36




</div>
</body>
</html>
