 <html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:60</h1>
<hr>
<p>
The average age of 4 brothers is 6 years. If age of their father is included, the average is increased by 5 years. Find the age of the father.


</p>


<div>
	A.&nbsp;&nbsp;24

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;31

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;35

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;38

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Given that the average of 4 brothers is 6
<br><br>
<sup>(Sum of ages of four brothers)</sup>&frasl;<sub>4</sub> = 6
<br><br>
Sum of ages of four brothers = 4&times;6
<br><br>
Sum of ages of four brothers = 24
<br><br>
Let us assume that the fathers age be X
<br><br>
If father is also included then the average age of four brothers and father is increased by 5
<br><br>
(Sum of ages of four brothers and age of father) &divide;5
<br><br>
= 6+5 = 11
<br><br>
24+X = 5&times;11
<br><br>
24+X = 55
<br><br>
X = 55-24
<br><br>
X = 31

</body>
</html>
