<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:33</h2>
<hr>
<p>
    Average of first seven multiples of 7 is:


</p>


<div>
    A.&nbsp;&nbsp;7


</div>
<br>
<div>
    B.&nbsp;&nbsp;14


</div>
<br>
<div>
    C.&nbsp;&nbsp;28


</div>
<br>

<div>
    D.&nbsp;&nbsp;35


</div>


<h2><u>Answer</u>: C</h2>
Sum of first 7 multiples of 7<br><br>
= (7&times;1)+(7&times;2)+&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;+(7&times;7)<br><br>
= 7&times;(1+2+&hyphen;&hyphen;&hyphen;&hyphen;&hyphen;+7)<br><br>

{Sum of first n numbers is given by <sup>(n)(n+1)</sup>&frasl;<sub>2</sub>}
<br><br>
= 7&times;<sup>7&times;8</sup>&frasl;<sub>2</sub>
<br><br>
= 7&times;56 &frasl;2
<br><br>
= 7&times;28
<br><br>
= 196
<br><br>
Average of first 7 multiples of 7
<br><br>
<sup>(Sum of first 7 multiples of 7)</sup>&frasl;<sub>7</sub>
<br><br>
= 196 &frasl; 7
<br><br> = 28.


</body>
</html>
