{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:30</h1>
<hr>
<p>
Out of three numbers, the first is twice the second and is half of the third. If the average of the three numbers is 56, then difference of first and third numbers is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;48

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;52

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;44

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;40

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that first number is twice that of second and half that of third
<br><br>
i.e.X<sub>1</sub> = 2(X<sub>2</sub>)
<br><br>
X<sub>1</sub> = <sup>(X<sub>3</sub>)</sup>&frasl;<sub>2</sub>
<br><br>
So <sup>(X<sub>3</sub>)</sup>&frasl;<sub>2</sub> = 2(X<sub>2</sub>)
<br><br>
X<sub>2</sub> = (<sup>X<sub>3</sub>)</sup>&frasl;<sub>4</sub>
<br><br>
Then average of these numbers is 56
<br><br>
<sup>(sum of the three numbers)</sup>&frasl;<sub>3</sub> = 56
<br><br>
X<sub>1</sub>+X<sub>2</sub>+X<sub>3</sub> = 3&times;56
<br><br>
<sup>(X<sub>3</sub>)</sup>&frasl;<sub>2</sub>+(<sup>X<sub>3</sub>)</sup>&frasl;<sub>4</sub>+X<sub>3</sub> = 168
<br><br>
(<sup>2X<sub>3</sub>+X<sub>3</sub>+4X<sub>3</sub> )</sup> &frasl;<sub>4</sub> = 168
7X<sub>3</sub> = 4&times;168 
<br><br>
7X<sub>3</sub> = 672
<br><br>
X<sub>3</sub> = <sup>672</sup>&frasl;<sub>7</sub>
<br><br>
X<sub>3</sub> = 96
<br><br>
So X<sub>1</sub> = <sup>(X<sub>3</sub>)</sup>&frasl;<sub>2</sub>
<br><br>
X<sub>1</sub> = <sup>(96)</sup>&frasl;<sub>2</sub> = 48
<br><br>
X<sub>2</sub> = <sup>X<sub>3</sub></sup>&frasl;<sub>4</sub>
<br><br>
X<sub>2</sub> = <sup>96</sup>&frasl;<sub>4</sub>
<br><br>
X<sub>2</sub> = 24
<br><br>
Finally the difference between first and third number is 
<br><br>
X<sub>1</sub>-X<sub>3</sub> = 96-48
<br><br>
X<sub>1</sub>-X<sub>3</sub> = 48
<br><br>

</div>
</body>
</html>
