{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:23</h1>
<hr>
<p>
A,B,C and D are four consecutive even numbers and their average is 65. What is the product of A and D?


</p>


<div class="div2">
	A.&nbsp;&nbsp;3698

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;4216

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;4092

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;4352


	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given A,B,C and D are 4 consecutive even numbers
<br><br>
Let us assume that the four consecutive even numbers be 2n,2n+2,2n+4,2n+6
<br><br>
So A = 2n, B = 2n+2, C = 2n+4
D = 2n+6
<br><br>
Given that the average of these 4 numbers is 65
<br><br>
i.e.<sup>(Sum of 4 consecutive even numbers)</sup>&frasl;<sub>4</sub> = 65
<br><br>
<sup>(2n+2n+2+2n+4+2n+6)</sup>&frasl;<sub>4</sub> = 65
<br><br>
8n+14 = 4&times;65
<br><br>
8n = 260-12
<br><br>
n = <sup>248</sup>&frasl;<sub>8</sub>
<br><br>
n = 31
<br><br>
Product of A and D is
<br><br>
= (2n)(2n+6)
<br><br>
= (62)(62+6)
<br><br>
= 62&times;68
<br><br>
= 4216
</div>
</body>
</html>
