<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:21</h1>
<hr>
<p>
The average of five consecutive numbers A, B, C, D and E is 105. What is the product of B and E?


</p>


<div>
	A.&nbsp;&nbsp;11025

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;12024

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;11128

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;Cant say


	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Given A,B,C,D and E are 5 consecutive numbers
<br><br>
Let us assume that the five consecutive numbers be n,n+1,n+2,n+3,n+4
<br><br>
So A = n, B = n+1, C = n+2
D = n+3, E = n+4.
<br><br>
Given that the average of these 5 numbers is 105
<br><br>
i.e.<sup>(Sum of 5 consecutive numbers)</sup>&frasl;<sub>5</sub> = 105
<br><br>
<sup>(n+n+1+n+2+n+3+n+4)</sup>&frasl;<sub>5</sub> = 105
<br><br>
5n+10 = 5&times;105
<br><br>
5n = 525-10
<br><br>
n = <sup>515</sup>&frasl;<sub>5</sub>
<br><br>
n = 103
<br><br>
So product of B and E is 
<br><br>
= (n+1)(n+4)
<br><br>
= (104)(107)
<br><br>
= 11128

</body>
</html>	