{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:71</h1>
<hr>
<p>
The average age of 40 students of a class is 18 years. When 20 new students are admitted to the same class, the average age of the students of the class is increased by six months. The average age of newly admitted students is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;19 years

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;19 years 6 months

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;20 years

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;20 years 6 months

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that Average age of 40 students = 18 years<br><br>
<sup>(Sum of ages of 40 students)</sup>&frasl;<sub>40</sub> = 18&times;12 months
<br><br>
Sum ages of 40 student = 40&times;216
<br><br>
Sum of ages of 40 student = 8640months
The average age increased by six months when 20 students are added.
<br><br>
So Total average of 60 students = 222
<br><br>
<sup>(Sum of ages of 60 students)</sup>&frasl;<sub>60</sub> = 222
<br><br>
Sum of ages of 60 students = 60&times;222
<br><br>
Sum of ages of 40 students+Sum of ages of newly added 20 students = 13320months
<br><br>
8640+Sum of ages of 20 students = 13320
<br><br>
Sum of ages of 20 students = 13320-8640
<br><br>
Sum of ages of 20 students = 4680
<br><br>
Now average of newly added 20 students is
<br><br>
= <sup>(Sum of ages of 20 students)</sup>&frasl;<sub>20</sub>
<br><br>
= <sup>4680</sup>&frasl;<sub>20</sub>
<br><br>
= 234months
<br><br>
= 228+6
<br><br>
= 19years+6months.

</div>
</body>
</html>
