<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:75</h1>
<hr>
<p>
A cricketer batsman had a certain average of runs for 11 innings. In the 12<sup>th</sup> innings, he made a score of 90 runs and thereby his average of runs was decreased by 5. His average of runs after 12<sup>th</sup> innings is:


</p>


<div>
	A.&nbsp;&nbsp;155

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;150

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;145

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;140

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Let the average  score by 11 innings be X
<br><br>
Then <sup>(Sum of 11 innings score)</sup>&frasl;<sub>11</sub> = X
<br><br>
Sum of 11 innings score = 11X
<br><br>
Given that 12th innings score = 90
<br><br>
By adding of 12th innings the average decreases by 5
<br><br>
New average for 12 innings = X-5
<br><br>
<sup>(Sum of 12 innings score)</sup>&frasl;<sub>12</sub> = X-5
<br><br>
Sum of 12 innings score = 12(X-5)
<br><br>
Sum of 11 innings score+12th inings score = 12X-60
<br><br>
11X+90 = 12X-60
<br><br>
90+60 = 12X-11X
<br><br>
X = 150
<br><br>
Average score after 12 innings is X-5 
<br><br>
= 150-5
<br><br>
= 145
</body>
</html>
