{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:14</h1>
<hr>
<p>

Sum of three consecutive even integers is 54. Find the least among them.

</p>


<div class="div2">
	A.&nbsp;&nbsp;18

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;15

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;14

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;16

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let the three consecutive even numbers be 2n,2n+2,2n+4
<br><br>
Given Sum of three consecutive even numbers is 54
<br><br>
2n+2n+2+2n+4 = 54
<br><br>
6n+6 = 54
<br><br>
6n = 54-6
<br><br>
6n = 48
<br><br>
n = <sup>48</sup>&frasl;<sub>6</sub>
<br><br>
n = 8
<br><br>
So least among the 3 numbers is 2n
<br><br>
= 2&times;8
<br><br>
= 16
</div>
</body>
</html>
