<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:44</h1>
<hr>
<p>

The average of eight numbers is 20. The average of first two numbers is 15 <sup>1</sup>&frasl;<sub>2</sub>, and that of next three is 21<sup>1</sup>&frasl;<sub>3</sub>, seventh and eighth number exceed the sixth number by 4 and 7 respectively. What is the eighth number?

</p>


<div>
	A.&nbsp;&nbsp;11

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;18

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;22

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;25

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Let 8 numbers be n<sub>1</sub>,n<sub>2</sub>,n<sub>3</sub>,
n<sub>4</sub>,n<sub>5</sub>,n<sub>6</sub>,
n<sub>7</sub>,n<sub>8</sub>
<br><br>
Average of 8 numbers is 20
<br><br>
<sup>(Sum of 8 numbers)</sup>&frasl;<sub>8</sub> = 20
<br><br>
Sum of 8 numbers = 8&times;20
<br><br>
Sum of 8 numbers = 160
<br><br>
Average of first two numbers = 15<sup>1</sup>&frasl;<sub>2</sub>
<br><br>
<sup>(n<sub>1</sub>+n<sub>2</sub>)</sup>&frasl;<sub>2</sub> = <sup>31</sup>&frasl;<sub>2</sub>
<br><br>
n<sub>1</sub>+n<sub>2</sub> = 31
<br><br>
Average of next three numbers = 21<sup>1</sup>&frasl;<sub>3</sub>
<br><br>
<sup>(n<sub>3</sub>+n<sub>4</sub>+n<sub>5</sub>)</sup>&frasl;<sub>3</sub> = <sup>64</sup>&frasl;<sub>3</sub>
<br><br>
n<sub>3</sub>+n<sub>4</sub>+n<sub>5</sub> = 64
<br><br>
Seventh and eighth numbers can be written as
<br><br>
n<sub>7</sub> = n<sub>6</sub>+4
<br><br>
n<sub>8</sub> = n<sub>6</sub>+7
<br><br>
Sum of all numbers = 160
<br><br>
n<sub>1</sub>+n<sub>2</sub>+n<sub>3</sub>+n<sub>4</sub>+n<sub>5</sub>+n<sub>6</sub>+n<sub>7</sub>+n<sub>8</sub> = 160
<br><br>
31+64+n<sub>6</sub>+n<sub>6</sub>+4n<sub>6</sub>+7 = 160
<br><br>
3n<sub>6</sub> = 160-31-64-4-7
<br><br>
3n<sub>6</sub> = 54
<br><br>
n<sub>6</sub> = 18
<br><br>
Eighth nnumber = n<sub>6</sub>+7
<br><br>
Eighth nnumber = 18+7 = 25
<br><br>
</body>
</html>
