<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:8</h1>
<hr>
<p>
If 39a + 39b = 8502, find the average of a and b?


</p>


<div>
	A.&nbsp;&nbsp;78

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;104

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;108

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;cant say

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Given 39a + 39b = 8502
<br><br>
39(a+b) = 8502<br><br>
a+b = <sup>8502</sup>&frasl;<sub>39</sub><br><br>
= 218<br><br>
Average of a and b 
<br><br>
= <sup>(a+b)</sup>&frasl;<sub>2</sub>
<br><br>
= 218&divide;2<br><br>
= 104


</body>
</html>
