{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:32</h1>
<hr>
<p>
Sum and average of some numbers are 400 and 40 respectively. If two numbers with average of 100 are also included, find new average of all the numbers.


</p>


<div class="div2">
	A.&nbsp;&nbsp;50

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;60

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;70

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;data insufficient

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given sum and average of n numbers is 400 and 40 respectively.
<br><br>
Let us assume that X<sub>1</sub>,X<sub>2</sub>, X<sub>3</sub>....X<sub>n</sub> be n numbers
<br><br>
Then X<sub>1</sub>+X<sub>2</sub>+X<sub>3</sub>....+X<sub>n</sub> = 400
<br><br>
Average of n numbers is 40
<br><br>
i.e. <sup>Sum of n numbers</sup>&frasl;<sub>n</sub> = 40
<br><br>
<sup>(X<sub>1</sub>+X<sub>2</sub>+X<sub>3</sub>....+X<sub>n</sub>)</sup>&frasl;<sub>n</sub> = 40
<br><br>
400 = n&times;40
<br><br>
n = <sup>400</sup>&frasl;<sub>40</sub>
<br><br>
n = 10
<br><br>
Given two numbers of their average 200 is also included to n numbers.
<br><br>
Let X<sub>n+1</sub>, X<sub>n+2</sub> be extra numbers 
<br><br>
Given that the average of X<sub>n+1</sub>, X<sub>n+2</sub> is 100
<br><br>
<sup>(Sum of X<sub>n+1</sub>, X<sub>n+2</sub>)</sup>&frasl;<sub>2</sub> = 100
<br><br>
X<sub>n+1</sub>+X<sub>n+2</sub> = 2&times;100 = 200
<br><br>
Now we need to calculate n+2 numbers average which is given by
<br><br>
= <sup>Sum of n+2 numbers</sup>&frasl;<sub>n+2</sub>
<br><br>
= <sup>(X<sub>1</sub>+X<sub>2</sub>+X<sub>3</sub>....+X<sub>n</sub>+X<sub>n+1</sub>+X<sub>n+2</sub>)</sup>&frasl;(10+2)
<br><br>
= <sup>(400+200)</sup>&frasl;<sub>12</sub>
<br><br>
= <sup>600</sup>&frasl;<sub>12</sub>
<br><br>
= 50



</div>
</body>
</html>
