<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:9</h1>
<hr>
<p>
If the average of x and <sup>1</sup>&frasl;<sub>x</sub> is M, then the average of x<sup>2</sup> and <sup>1</sup>&frasl;<sub>x</sub><sup>2</sup> is:


</p>


<div>
	A.&nbsp;&nbsp;1-M<sup>2</sup>

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;1-2M

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;2M<sup>2</sup>-1

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;2M<sup>2</sup> + 1


	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Given average of  x,<sup>1</sup>&frasl;<sub>x</sub> is M
<br><br>
i.e.<sup>(x+<sup>1</sup>&frasl;<sub>x</sub>)</sup>&frasl;<sub>2</sub> = M
<br><br> 
So x+<sup>1</sup>&frasl;<sub>x</sub> = 2&times;M
<br><br> 
Squaring on both sides we get
<br><br> 
(x+<sup>1</sup>&frasl;<sub>x</sub>)<sup>2</sup> = (2M)<sup>2</sup>
<br><br> 
(x<sup>2</sup>)+(<sup>1</sup>&frasl;<sub>x<sup>2</sup></sub>)+(2.x.<sup>1</sup>&frasl;<sub>x</sub>) = 4M<sup>2</sup>
<br><br> 
(x<sup>2</sup>)+(<sup>1</sup>&frasl;<sub>x<sup>2</sup></sub>) = 4M<sup>2</sup>-2
<br><br> 
Now we want average of x<sup>2</sup> and <sup>1</sup>&frasl;<sub>x<sup>2</sup></sub> 
<br><br> 
So Average of x<sup>2</sup> and <sup>1</sup>&frasl;<sub>x<sup>2</sup></sub> is given by
<br><br> 
<sup>(x<sup>2</sup> +<sup>1</sup>&frasl;<sub>x<sup>2</sup></sub> )</sup> &frasl;<sub>2</sub> = <sup>(4M<sup>2</sup>-2)</sup>&frasl;<sub>2</sub>
<br><br> 
<sup>(x<sup>2</sup> +<sup>1</sup>&frasl;<sub>x<sup>2</sup></sub> )</sup> &frasl;<sub>2</sub> = 2M<sup>2</sup>-1
<br><br>
Average of x<sup>2</sup> and <sup>1</sup>&frasl;<sub>x<sup>2</sup></sub> is 2M<sup>2</sup>-1

</body>
</html>	