<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:5</h1>
<hr>
<p>
The arithmetic mean of a set of 10 numbers is 20. If each number is first multiplied by 2 and then increased by 5, then what is the mean of new numbers?


</p>


<div>
	A.&nbsp;&nbsp;20

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;25

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;40

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;45

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Given that the arithmatic mean of 10 numbers is 20
<br><br>
We can write Arithmatic mean of 10 numbers as 
<br><br>
= <sup>Total sum of 10 numbers</sup>&frasl;<sub>10</sub>
<br><br>
Total Sum of 10 numbers = 20&times;10
<br><br>
Total Sum of 10 numbers = 200
<br><br>
Given that each number is multiplied with 2
<br><br>
Then New sum of 10 numbers = 2&times;(Sum of numbers before multiplication)
<br><br>
New sum of 10 numbers = 2&times;200 = 400
<br><br>
Given 5 is added to every number
<br><br>
So total number added to Sum 
<br><br>
= 10&times;5
<br><br>
= 50
<br><br>
Now new sum of 10 Numbers = Sum of numbers after mutiplication + Total number to be added after addition of 5 to every number
<br><br>
i.e. New sum of 10 Numbers 
<br><br>
= 400+50 
<br><br>
= 450
<br><br>
The arithmatic mean of 10 numbers after multiplication and addition is 
<br><br>
= <sup>Total sum of 10 numbers</sup>&frasl;<sub>10</sub>
<br><br>
= <sup>450</sup>&frasl;<sub>10</sub>
<br><br>

= 45

</body>
</html>
