{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:89</h1>
<hr>
<p>
The average age of 11 players of a cricket team is increased by 2 months when two of them aged 18 years and 20 years are replaced by two new players. The average age of the new player is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;19 years 1 month

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;19 years 9 months

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;19 years 11 months

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;19 years 5 months

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let average age of 11 players be X
<br><br>
<sup>(Sum of ages of 11 players)</sup>&frasl;<sub>11</sub> = X
<br><br>
Sum of ages of 11 players = 11X--->(1)
<br><br>
Given that the average gets increased by 2months when two of them of 18 and 20 years replaced by new players age(Sum =Y)
<br><br>
Now average age becomes X+2
<br><br>
<sup>(Sum of ages of 11 players)</sup>&frasl;<sub>11</sub> = X+2
<br><br>
Sum of ages of 9 players+Sum of ages of two new players = 11(X+2)
<br><br>
Sum of ages of 9 players+Y= 11X+22
<br><br>
Sum of ages of 9 players = 11X+22-Y--->(2)
<br><br>
From (1) and (2)
<br><br>
Sum of ages of 11 player = 11X
<br><br>
Sum of ages of 9player+sum of ages of two players = 11X
<br><br>
11X+22-Y+(18+20)years= 11X months
<br><br>
Y = (38years)+22months
<br><br>
Average of two new players is 
<br><br>
= <sup>(Sum of ages of two new players)</sup>&frasl;<sub>2</sub>
<br><br>
= <sup>((38years)+22months)</sup>&frasl;<sub>2</sub>
<br><br>
= 19Years+11months

</div>
</body>
</html>
