{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:64</h2>
<hr>
<p>
    The average marks obtained by a group of 10 students is 41 marks. Find the new average if a new student who scored
    63 marks is also included in the group.


</p>


<div class="div2">
    A.&nbsp;&nbsp;39


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;40


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;43


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;45


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that Average of 10 students = 41 marks<br><br>
<sup>(Sum of 10 student marks)</sup>&frasl;<sub>10</sub> = 41
<br><br>
Sum of 10 student marks = 410
<br><br>
Given that a new student score 63 marks and included to group
<br><br>
New average marks by 11 students is
<br><br>
= <sup>(Sum of marks by 11 students)</sup>&frasl;<sub>11</sub>
<br><br>
= <sup>(Sum of marks by 10 students + <br> 11th student marks)</sup>&frasl;<sub>11</sub>
<br><br>
= <sup>(410+63)</sup>&frasl;<sub>11</sub>
<br><br>
= <sup>473</sup>&frasl;<sub>11</sub>
<br><br>
= 43


</div>
</body>
</html>
