<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:36</h1>
<hr>
<p>
If average of 5 observations is 46 and that of 5 other observations is 50, find the average of all the 10 observations.


</p>


<div>
	A.&nbsp;&nbsp;96

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;50

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;48

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;46

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Given that the average of first 5 observations is 46
<br><br>
<sup>(sum of first 5 observations)</sup>&frasl;<sub>5</sub> = 46
<br><br>
Sum of first 5 observations = 5&times;46
<br><br>
Sum of first 5 observations = 230
<br><br>
And also given that the average of another group of 5 observations is 50
<br><br>
<sup>(sum of other 5 observations)</sup>&frasl;<sub>5</sub> = 50
<br><br>
sum of other 5 observations = 5&times;50
<br><br>
sum of other 5 observations = 250
<br><br>
Now the average of these 10 observations is 
<br><br>
= <sup>(sum of 10 observations)</sup>&frasl;<sub>10</sub> 
<br><br>
= <sup>(230+250)</sup>&frasl;<sub>10</sub> 
<br><br>
= <sup>480</sup>&frasl;<sub>10</sub> 
<br><br>
= 48

</body>
</html>
