{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:95</h1>
<hr>
<p>
The arithmetic mean of 100 numbers was computed as 89.05. it was later found that two numbers 92 and 83 have been misreads 192 and 33 respectively. What is the correct arithmetic mean of the numbers? 


</p>


<div class="div2">
	A.&nbsp;&nbsp;88.55

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;87.55

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;89.55

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;Data insufficient

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Given that average of 100 numbers is 89.05
<br><br>
<sup>(Sum of 100 numbers)</sup>&frasl;<sub>100</sub> = 89.05
<br><br>
Sum of 98 numbers+wrongly readed numbers= 100&times;89.05
<br><br>
Sum of 98 numbers+192+33 = 8905
<br><br>
Sum of 98 numbers = 8905-225 = 8680
<br><br>
Now average of 100 numbers by replacing 192 and 83 by 92 and 83 is 
<br><br>
= <sup>(Sum of 100 numbers)</sup>&frasl;<sub>100</sub>
<br><br>
= <sup>(Sum of 98 numbers+Original numbers)</sup>&frasl;<sub>100</sub>
<br><br>
= <sup>(8680+92+83)</sup>&frasl;<sub>100</sub>
<br><br>
= <sup>8855</sup>&frasl;<sub>100</sub>
<br><br>
= 88.55

</div>
</body>
</html>
