{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:20</h1>
<hr>
<p>
a, b, c, d and e are five consecutive even numbers. If the sum of a and b is 162, what is the sum of all the numbers?


</p>


<div class="div2">
	A.&nbsp;&nbsp;400

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;380

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;420

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that a, b, c, d and e are five consecutive even numbers
<br><br>
Then we can written them as a = 2n, b=2n+2, 
<br><br>
c=2n+4, d=2n+6, e=2n+8
<br><br>
Sum of a and b is 162
<br><br>
a+b = 162
<br><br>
2n+2n+2 = 162
<br><br>
4n+2 = 162
<br><br>
4n = 160
<br><br>
n = 40
<br><br>
So sum of all nnumbers is 
<br><br>
2n+2n+2+2n+4+2n+6+2n+8 
<br><br>
= 10n+20
<br><br>
= 10(40)+20
<br><br>
= 400+20
<br><br>
= 420
</div>
</body>
</html>
