<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:86</h1>
<hr>
<p>
Average age of 15 men is increased by 1 year when one man in the group is replaced with other man whose age is 49 years. Find the age of the  man replaced. 


</p>


<div>
	A.&nbsp;&nbsp;34

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;48

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;50

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;64

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
Given average age of 15 persons is X
<br><br>
<sup>(Sum of age of 15 persons)</sup>&frasl;<sub>15</sub> = X
<br><br>
Sum of age of 15 persons = 15X--->(1)
<br><br>
Given that one persons with age of 49years is replaced by new persons.
<br><br>
Average age of 15 persons after replacing increases average by 1
<br><br>
Average age of 15 men after replacing = X+1
<br><br>
<sup>(Sum of age of 15 persons after replacing)</sup>&frasl;<sub>15</sub> = X+1
<br><br>
Sum of ages of 15 persons after replacing = 15(X+1)
<br><br>
Sum of ages of 14 men + 49 = 15X+15
<br><br>
Sum of ages of 14 men = 15X-34
<br><br>
From (1)
<br><br>
Sum of ages of 14 men + 1man = 15X
<br><br>
15X-34+Mans age = 15X
<br><br>
Mans age = 34


</body>
</html>
