<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:81</h1>
<hr>
<p>
The average age of 8 persons is increased by 2 years, when one of them, whose age is 24 years, is replaced by a new person. The age of the new person is:


</p>


<div>
	A.&nbsp;&nbsp;42

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;40

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;38

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;45

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Let the average weight of 8 persons be X
<br><br>
<sup>(Sum of weights of 8 persons)</sup>&frasl;<sub>8</sub> = X
<br><br>
Sum of weights of 8 persons = 8X
<br><br>
Given that one persons with weight of 24 is replaced by new personsweight of Y(Assume) 
<br><br>
Then average weight increased by 2
<br><br>
Total sum of 8 persons = 8X-24+Y
<br><br>
Average weight of 8 persons including new persons weight is X+2
<br><br>
(Sum of weights of 8 persons including new persons weight)&divide;8= X+2<br><br>
Sum of weights of 8 persons including new persons weight  = 8(X+2)
<br><br>
8X-24+Y = 8X+16
<br><br>
Y = 16+24
<br><br>
Y = 40


</body>
</html>
