<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:16</h1>
<hr>
<p>

The average of seven consecutive positive integers is 26. The smallest of these integers is:

</p>


<div>
	A.&nbsp;&nbsp;21

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;23

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;25

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;26

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>

Let us assume that the seven consecutive numbers be n,n+1,n+2,n+3,n+4,n+5,n+6
<br><br>
Average of 7 consecutive numbers is 26
<br><br>
<sup>(Sum of 7 consecutive numbers)</sup>&frasl;<sub>7</sub> = 26
<br><br>
i.e. <sup>(n+n+1+n+2+n+3+n+4+n+5+n+6)</sup>&frasl;<sub>7</sub> = 26
<br><br>
7n+21 = 26&times;7 
<br><br>
7n = 182-21
<br><br>
7n = 161
<br><br>
n = <sup>161</sup>&frasl;<sub>7</sub>
<br><br>
n = 23
<br><br>
So smallest among 7 numbers is n = 23
</body>
</html>
