<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:53</h1>
<hr>
<p>

The average of 11 numbers is 70 and that of first 10 members is 69. The 11th number is:

</p>


<div>
	A.&nbsp;&nbsp;59

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;79

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;80

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;81

	
</div>
		
	

<h2> <u>Answer</u>: C</h2>
Given that the average of 11 numbers is 70
<br><br>
<sup>(Sum of 11 numbers)</sup>&frasl;<sub>11</sub> = 70
<br><br>
Sum of 11 numbers = 11&times;70
<br><br>
Sum of 11 numbers = 770--->(1)
<br><br>
Given that the average of first 10 numbers is 69
<br><br>
<sup>(Sum of first 10 numbers)</sup>&frasl;<sub>10</sub> = 69
<br><br>
Sum of first 10 numbers =10&times;69
<br><br>
Sum of first 10 numbers = 690--->(2)
<br><br>
From (1)
<br><br>
Sum of 11 numbers = 770
<br><br>
Sum of first 10 numbers + 11th number = 770
<br><br>
From (2)
<br><br>
690+11th number = 770
<br><br>
11th number = 770-690
<br><br>
11th number = 80



</body>
</html>
