{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:93</h1>
<hr>
<p>

The arithmetic mean of 10 numbers was computed as 7.6. it was later discovered that a number8 was wrongly read as 3 during the computation. What should be the correct mean?

</p>


<div class="div2">
	A.&nbsp;&nbsp;7.1

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;7.6

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;8.1

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;8.6

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that average of 10 numbers is 7.6
<br><br>
<sup>(Sum of 10 numbers)</sup>&frasl;<sub>10</sub> = 7.6
<br><br>
Sum of 9numbers+wrongly number= 10&times;7.6
<br><br>
Sum of 9 numbers+3 = 76
<br><br>
Sum of 9 numbers = 76-3 = 73
<br><br>
Now average of 10 numbers by replacing 3 by 8 is 
<br><br>
= <sup>(Sum of 10 numbers)</sup>&frasl;<sub>10</sub>
<br><br>
= <sup>(Sum of 9 numbers+Original number)</sup>&frasl;<sub>10</sub>
<br><br>
= <sup>(73+8)</sup>&frasl;<sub>10</sub>
<br><br>
= <sup>81</sup>&frasl;<sub>10</sub>
<br><br>
= 8.1

</div>
</body>
</html>
