{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:49</h1>
<hr>
<p>
The average weight of three men A, B and C is 84kg. D joins them and the average weight of the four becomes 80 kg. if E whose weight is 3 kg more that D, replaces A, the average weight of B, C, D and E becomes 79kg. the weight of A is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;65kg

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;70 kg

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;75 kg

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;80 kg

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that the average weight of A,B and C is 84
<br><br>
<sup>(Sum of weights of A,B and C)</sup>&frasl;<sub>3</sub> = 84
<br><br>
A+B+C = 3&times;84 = 252--->(1)
<br><br>
Given that the average weight of A,B,C and D is 80
<br><br>
<sup>(Sum of weights of A,B,C and D)</sup>&frasl;<sub>4</sub> = 80
<br><br>
A+B+C+D = 4&times;80 = 320--->(2)
<br><br>
Now let us calculate (2)-(1)
<br><br>
(A+B+C+D)-(A+B+C) = 320-252
<br><br>
D = 68
<br><br>
Given that Es weight is 3 more than that of D
<br><br>
E = D+3
<br><br>
E = 68+3
<br><br>
E = 71
<br><br>
And also The average weight of B,C,D and E is 79
<br><br>
<sup>(Sum of weights of B,C,D and E)</sup>&frasl;<sub>4</sub> = 79
<br><br>
B+C+D+E = 4&times;79
<br><br>
B+C+68+71 = 316
<br><br>
B+C = 316-139
<br><br>
B+C = 177--->(3)
<br><br>
From (1)&(3)
<br><br>
A+B+C = 252
<br><br>
A+177 = 252
<br><br>
A = 252-177
<br><br>
A = 75


</div>
</body>
</html>
