{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:62</h1>
<hr>
<p>
Out of 10 terms, the average of first 5 terms is 34 and that of last 5 terms is 38. If the average of first 9 terms is 35, find the 10th term.


</p>


<div class="div2">
	A.&nbsp;&nbsp;26

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;35

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;44

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;45

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Given that the average of first 5 terms is 34
<br><br>
<sup>(Sum of first 5 terms)</sup>&frasl;<sub>5</sub> = 34
<br><br>
Sum of first 5 terms = 5&times;34
<br><br>
Sum of first 5 terms = 170
<br><br>
Given that the average of oyher 5 terms is 38
<br><br>
<sup>(Sum of other 5 terms)</sup>&frasl;<sub>5</sub> = 38
<br><br>
Sum of other 5 terms = 5&times;38
<br><br>
Sum of other 5 terms = 190
<br><br>
Given that the average of first 9 terms is 35
<br><br>
<sup>(Sum of first 9 terms)</sup>&frasl;<sub>9</sub> = 35
<br><br>
Sum of first 9 terms = 9&times;35
<br><br>
Sum of first 9 terms = 315
<br><br>
Sum of ten terms = Sum of first 5 terms+ Sum of other 5 terms
<br><br>
Sum of first 9 terms + 10 th term = (170+190)
<br><br>
315+10th term = 360
<br><br>
10th term = 360-315
<br><br>
10th term = 45


</div>
</body>
</html>
