{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:22</h1>
<hr>
<p>

The average of five consecutive even numbers A, B, C, D and E is 42. What will be the product of B and D?

</p>


<div class="div2">
	A.&nbsp;&nbsp;1722

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;1760

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;1764

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given A,B,C,D and E are 5 consecutive even numbers
<br><br>
Let us assume that the five consecutive even numbers be 2n,2n+2,2n+4,2n+6,2n+8
<br><br>
So A = 2n, B = 2n+2, C = 2n+4
D = 2n+6, E = 2n+8.
<br><br>
Given that the average of these 5 numbers is 42
<br><br>
i.e.<sup>(Sum of 5 consecutive even numbers)</sup>&frasl;<sub>5</sub> = 105
<br><br>
<sup>(2n+2n+2+2n+4+2n+6+2n+8)</sup>&frasl;<sub>5</sub> = 42
<br><br>
10n+20 = 5&times;42
<br><br>
10n = 210-20
<br><br>
n = <sup>190</sup>&frasl;<sub>10</sub>
<br><br>
n = 19
<br><br>
Product of B and D is
<br><br>
= (2n+2)(2n+6)
<br><br>
= (38+2)(38+6)
<br><br>
= 40&times;44
<br><br>
= 1760

</div>
</body>
</html>

