<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:51</h1>
<hr>
<p>
In a group of 135 persons, 50% people contributed Rs.40 each, 30% contributed Rs.60 each and remaining persons Rs 80 each. Find the average contribution for the group.


</p>


<div>
	A.&nbsp;&nbsp;50

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;54

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;60

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;62

	
</div>
		
	

<h2> <u>Answer</u>: B</h2>
Average contribution = 50% of 40 + 30% of 60 + 20% of 80<br><br> = 20+18+16<br><br> = 54.

</body>
</html>
