<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:54</h1>
<hr>
<p>
The average age of 14 girls and their teachers age is 15 years. If the teachers age is excluded, the average reduces by 1. What is teachers age?


</p>


<div>
	A.&nbsp;&nbsp;35

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;32

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;30

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;29

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Given that the average age of 14 girls and teachers age is 15
<br><br>
i.e. <sup>(Sum of ages of 14 girls and teachers age)</sup>&frasl;<sub>15</sub> = 15
<br><br>
Sum of ages of 14 girls and teachers age = 15&times;15
<br><br>
Sum of ages of 14 girls+teachers age = 225--->(1)
<br><br>
Given that the average age gets reduced by 1 when teachers age excluded.
<br><br>
i.e.<sup>(Sum of ages of 14 girls)</sup>&frasl;<sub>14</sub>= 15-1
<br><br>
Sum of ages of 14 girls = 14&times;14
<br><br>
Sum of ages of 14 girls = 196
<br><br>
196+teachers age = 225
<br><br>
Teachers age = 225-196
<br><br>
Teachers age = 29










</body>
</html>
