{% load static %}
<html>
<body>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:56</h2>
<hr>
<p>
    The average age of A, B and C is 26 years. If the average age of A and C is 29 years, what is the age of B in years?


</p>


<div class="div2">
    A.&nbsp;&nbsp;26


</div>
<br>
<div class="div2">
    B.&nbsp;&nbsp;20


</div>
<br>
<div class="div2">
    C.&nbsp;&nbsp;29


</div>
<br>

<div class="div2">
    D.&nbsp;&nbsp;23


</div>


<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that the average of A,B and C is 26
<br><br>
<sup>(Sum of ages of A,B and C)</sup>&frasl;<sub>3</sub> = 26
<br><br>
Sum of ages of A,B and C = 3&times;26
<br><br>
A+B+C = 78 years--->(1)
<br><br>
<sup>(Sum of ages of A and C)</sup>&frasl;<sub>2</sub> = 29
<br><br>
Sum of ages of A and C = 2&times;29
<br><br>
A + C = 58 years--->(2)
<br><br>
Now let us calculate (1)-(2)
<br><br>
(A+B+C) &minus; (A+C)
<br><br>
= 78-58
<br><br>
= 20 years.


</div>
</body>
</html>
