{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:8</h1>
<hr>
<p>
If 39a + 39b = 8502, find the average of a and b?


</p>


<div class="div2">
	A.&nbsp;&nbsp;78

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;104

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;108

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;cant say

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given 39a + 39b = 8502
<br><br>
39(a+b) = 8502<br><br>
a+b = <sup>8502</sup>&frasl;<sub>39</sub><br><br>
= 218<br><br>
Average of a and b 
<br><br>
= <sup>(a+b)</sup>&frasl;<sub>2</sub>
<br><br>
= 218&divide;2<br><br>
= 104


</div>
</body>
</html>
