{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:27</h1>
<hr>
<p>
The average of three numbers is 165. The first number is twice the second and thrice the third. Find the difference between the first and the third number?


</p>


<div class="div2">
	A.&nbsp;&nbsp;60

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;180

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;360

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that first number is twice that of second and thrice that of third
<br><br>
i.e.X<sub>1</sub> = 2(X<sub>2</sub>)
<br><br>
X<sub>1</sub> = 3(X<sub>3</sub>)
<br><br>
So 3(X<sub>3</sub>) = 2(X<sub>2</sub>)
<br><br>
X<sub>2</sub> = <sup>3(X<sub>3</sub>)</sup>&frasl;<sub>2</sub>
<br><br>
Then average of these numbers is 165
<br><br>
<sup>(sum of the three numbers)</sup>&frasl;<sub>3</sub> = 165
<br><br>
X<sub>1</sub>+X<sub>2</sub>+X<sub>3</sub> = 3&times;165
<br><br>
3(X<sub>3</sub>)+(<sup>3(X<sub>3</sub>)</sup>&frasl;<sub>2</sub>)+X<sub>3</sub> = 495
<br><br>
(<sup(>6X<sub>3</sub>+3X<sub>3</sub>+2X<sub>3</sub> )</sup> &frasl;<sub>2</sub> = 495
11X<sub>3</sub> = 990
<br><br>
X<sub>3</sub> = <sup>990</sup>&frasl;<sub>11</sub>
<br><br>
X<sub>3</sub> = 90
<br><br>
So X<sub>1</sub> = 3X<sub>3</sub>
<br><br>
X<sub>1</sub> = 3(90) = 270
<br><br>
X<sub>2</sub> = <sup>3(X<sub>3</sub>)</sup>&frasl;<sub>2</sub>
<br><br>
X<sub>2</sub> = <sup>3(90)</sup>&frasl;<sub>2</sub>
<br><br>
X<sub>2</sub> = <sup>270</sup>&frasl;<sub>2</sub>
<br><br>
X<sub>2</sub> = 135
<br><br>
Finally the difference between first and third number is 
<br><br>
X<sub>1</sub>-X<sub>3</sub> = 270-90
<br><br>
X<sub>1</sub>-X<sub>3</sub> = 180
<br><br>
</div>
</body>
</html>
