{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:13</h1>
<hr>
<p>

The average of 7 consecutive numbers is 20. The largest of these numbers is:

</p>


<div class="div2">
	A.&nbsp;&nbsp;24

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;23

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;22

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;20

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let us assume that the seven consecutive numbers be n,n+1,n+2,n+3,n+4,n+5,n+6
<br><br>
Average of 7 consecutive numbers is 20
<br><br>
<sup>(Sum of 7 consecutive numbers)</sup>&frasl;<sub>7</sub> = 20
<br><br>
i.e. <sup>(n+n+1+n+2+n+3+n+4+n+5+n+6)</sup>&frasl;<sub>7</sub> = 20
<br><br>
7n+21 = 20&times;7 
<br><br>
7n = 140-21
<br><br>
7n = 119
<br><br>
n = <sup>119</sup>&frasl;<sub>7</sub>
<br><br>
n = 17
<br><br>
So largest term is given by n+6
<br><br>
= 17+6
<br><br>
= 23

</div>
</body>
</html>
