<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:88</h1>
<hr>
<p>

The average age of 8 men is increased by 2 years when two of them whose ages are 21 and 23 years are replaced by two new men. The average age of the two new men is:

</p>


<div>
	A.&nbsp;&nbsp;22

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;24

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;28

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;30

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>

Let average age of 8 men be X
<br><br>
<sup>(Sum of ages of 4 men)</sup>&frasl;<sub>4</sub> = X
<br><br>
Sum of ages of 8 men = 8X--->(1)
<br><br>
Given that the average gets increased by 2 when two of them of 21 and 23 years replaced by new mens age(Sum =Y)
<br><br>
Now average age becomes X+2
<br><br>
<sup>(Sum of ages of 8 men)</sup>&frasl;<sub>8</sub> = X+2
<br><br>
Sum of ages of 6 men+Sum of ages of two new mens = 8(X+2)
<br><br>
Sum of ages of 6 men+Y= 8X+16
<br><br>
Sum of ages of 6 men = 8X+16-Y--->(2)
<br><br>
From (1) and (2)
<br><br>
Sum of ages of 8 men = 8X
<br><br>
Sum of ages of 6men+sum of ages of two mens = 8X
<br><br>
8X+16-Y+21+23 = 8X
<br><br>
Y = 60
<br><br>
Average of two new mens is 
<br><br>
= <sup>(Sum of two new mens)</sup>&frasl;<sub>2</sub>
<br><br>
= <sup>60</sup>&frasl;<sub>2</sub>
<br><br>
= 30


</body>
</html>
