{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:31</h1>
<hr>
<p>
Out of four numbers, the average of first three numbers is thrice the fourth number. If the average of the four numbers is 5, the fourth number is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;4.5

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;5

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;2

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;4

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let us assume that the four numbers be a,b,c and d
<br><br>
Average of three numbers is equal to three times of the fourt number
<br><br>
i.e.<sup>(sum of first three numbers)</sup>&frasl;<sub>3</sub> = 3&times;fourth number
<br><br>
<sup>a+b+c</sup>&frasl;<sub>3</sub> = 3d
<br><br>
a+b+c = 3(3d) = 9d --->(1)
<br><br>
Average of four numbers is 5
<br><br>
i.e.<sup>(sum of four numbers)</sup>&frasl;<sub>4</sub> = 5
<br><br>
<sup>a+b+c+d</sup>&frasl;<sub>4</sub> = 5
<br><br>
From (1) 
<br><br>
9d+d = 4&times;5
<br><br>
10d = 20
<br><br>
d = 2
<br><br>
Forth number is d = 2

</div>
</body>
</html>
