{% load static %}

<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:10</h1>
<hr>
<p>
The average of first 47 natural numbers is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;23

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;24

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;25

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;47

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Average = <sup>a</sup>&frasl;<sub>b</sub><br><br>
where <br><br>
a = sum of the numbers<br><br>
b = number of terms<br><br>
We know that the sum of first n natural numbers is given by 
<br><br>
<sup>n(n+1)</sup>&frasl;<sub>2</sub>
<br><br>
Average of 47 numbers 
<br><br>
=  <sup>(Sum of first 47 natural numbers )</sup> &frasl;<sub>47</sub>
<br><br>
=
( <sup>(47 &times; 48)</sup>&frasl;<sub>2</sub>) &frasl;<sub>47</sub>
<br><br>
= ( <sup>2256</sup>&frasl;<sub>2</sub>) &frasl;<sub>47</sub>
<br><br>
= <sup>1128</sup> &frasl;<sub>47</sub>
<br><br>
= 24

</div>
</body>
</html>
