<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:41</h1>
<hr>
<p>
If the average of m numbers is n<sup>2</sup> and that of n numbers is m<sup>2</sup>, find the average of (m +n) number.


</p>


<div>
	A.&nbsp;&nbsp;m-n

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;m+n

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;<sup>m</sup>&frasl;<sub>n</sub>

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;mn

	
</div>
		
	

<h2> <u>Answer</u>: D</h2>
Average of m numbers is n<sup>2</sup>
<br><br>
<sup>(Sum of m numbers)</sup>&frasl;<sub>m</sub> = n<sup>2</sup>
<br><br>
Sum of m numbers = mn<sup>2</sup>
<br><br>
Average of n numbers is m<sup>2</sup>
<br><br>
<sup>(Sum of n numbers)</sup>&frasl;<sub>n</sub> = m<sup>2</sup>
<br><br>
Sum of n numbers = nm<sup>2</sup>
<br><br>
sum of (m+n) numbers = mn<sup>2</sup> + m<sup>2</sup>n
<br><br>
= mn(n+m)<br><br>
Average of (m+n)numbers 
= <sup>(sum of m+n numbers)</sup>&frasl;<sub>m+n</sub><br><br>
= <sup>mn(m+n)</sup>&frasl;<sub>m+n</sub><br><br>
= mn.

</body>
</html>
