{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:87</h1>
<hr>
<p>
Out of 10 teachers of a school, one teacher retires and in his place, a new teacher of age 25 years joins. As a result, average age of teachers is reduced by 3 years. The age (in years) of the retired teacher is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;50

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;58

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;60

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;55

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given average age of 10 teachers is X
<br><br>
<sup>(Sum of age of 10 teachers)</sup>&frasl;<sub>10</sub> = X
<br><br>
Sum of age of 10 teachers = 10X
<br><br>
Sum of age of 9 teachers+ Retaired teachers age = 10X--->(1)
<br><br>
Given that one teachers retairs and replaced by new teacher with age of 25years.
<br><br>
Average age of 10 teachers after replacing recreases average by 3
<br><br>
Average age of 10 teachers after replacing = X-3
<br><br>
<sup>(Sum of age of 10 teachers after replacing)</sup>&frasl;<sub>10</sub> = X-3
<br><br>
Sum of ages of 10 teachers after replacing = 10(X-3)
<br><br>
Sum of ages of 9 teachers + new teachers age = 10X-30
<br><br>
Sum of ages of 9 teachers+25 = 10X-30
<br><br>
Sum of ages of 9 teachers = 10X-30-25
<br><br>
Sum of ages of 9 teachers = 10X-55--->(2)
<br><br>
From (1) and (2)
<br><br>
10X-55+Retaired teachers age = 10X
<br><br>
Retaired teachers age = 55

</div>
</body>
</html>
