<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:98</h1>
<hr>
<p>
Five numbers are arranged in ascending order. If average of first two numbers is 8 less than the average of last two numbers and sum of last two numbers is 56, what is the sum of the first two numbers?


</p>


<div>
	A.&nbsp;&nbsp;40

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;28

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;20

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<h2> <u>Answer</u>: A</h2>
Let five numbers be a,b,c,d and e in ascending order
<br><br>
Given that Average of a,b is 8 less than that of average of d and e
<br><br>
Let Sum of a and b be X
<br><br>
Average of a and b is
<br><br>
= <sup>(Sum of a and b)</sup>&frasl;<sub>2</sub>
<br><br>
= <sup>X</sup>&frasl;<sub>2</sub>
<br><br>
Given that Sum of d and e is 56
<br><br>
Average of d and e is 
<br><br>
= <sup>(Sum of d and e)</sup>&frasl;<sub>2</sub>
<br><br>
= <sup>56</sup>&frasl;<sub>2</sub>
<br><br>
= 28
<br><br>
Based on condition that Average of a and b = (average of d and e) - 8
<br><br>
<sup>X</sup>&frasl;<sub>2</sub> = 28-8
<br><br>
<sup>X</sup>&frasl;<sub>2</sub> = 20
<br><br>
X = 2&times;20
<br><br>
X = 40


</body>
</html>
