{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:15</h1>
<hr>
<p>
The sum of three consecutive odd natural numbers is 87. The smallest of these numbers is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;29

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;31

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;23

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;27

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Let the three consecutive odd numbers be 2n-1,2n+1,2n+3
<br><br>
Given Sum of three consecutive odd numbers is 87
<br><br>
2n-1+2n+1+2n+3 = 87
<br><br>
6n+3 = 87
<br><br>
6n = 87-3
<br><br>
6n = 84
<br><br>
n = <sup>84</sup>&frasl;<sub>6</sub>
<br><br>
n = 14
<br><br>
So smallest of 3 numbers is 2n-1
<br><br>
= 2(14)-1
<br><br>
= 28-1
<br><br>
= 27
</div>
</body>
</html>