{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:82</h1>
<hr>
<p>
The average wight of 12 persons is 50 kg. on replacing a man whose weight is 53 kg with a new man,  new average becomes 49kg. the weight of the new man is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;41

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;46

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;54

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;65

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>

Given average weight of 12 persons is 50
<br><br>
<sup>(Sum of weight of 12 persons)</sup>&frasl;<sub>12</sub> = 50
<br><br>
Sum of weight of 12 persons = 12 &times;50
<br><br>
Sum of weight of 12 persons = 600
<br><br>
Given that one persons with weight of 53kg is replaced by new persons weight of Y(Assume)
<br><br>
Now Sum of 12 persons = 600-53+Y
<br><br>
Sum of 12 persons = 547+Y
<br><br>
Average weight of 12 persons after replacing = 49
<br><br>
<sup>(Sum of weight of 12 persons after replacing)</sup>&frasl;<sub>12</sub> = 49
<br><br>
Sum of weight of 12 persons after replacing = 12&times;49
<br><br>
547+Y = 588
<br><br>
Y = 588-547
<br><br>
Y = 41


</div>
</body>
</html>
