{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:25</h1>
<hr>
<p>
The average of 5 consecutive numbers is n. if the next two numbers are also included, the average of the 7 numbers will


</p>


<div class="div2">
	A.&nbsp;&nbsp;Increased by 2

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;Increase by 1

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;Remains the same 

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;Increase by 1.4

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let us assume that the five consecutive numbers be 
<br><br>
m,m+1,m+2,m+3,m+4
<br><br>
Average of 5 numbers is n
<br><br>
i.e. <sup>(Sum of 5 consecutive numbers)</sup>&frasl;<sub>5</sub> = n
<br><br>
<sup>(m+m+1+m+2+m+3+m+4)</sup>&frasl;<sub>5</sub> = n
<br><br>
5m+10 = 5n 
<br><br>
m+2 = n
<br><br>
m = n-2
<br><br>
The next two consecutive numbers are m+5,m+6
<br><br>
Then Average of 7 numbers is 
<br><br>
= <sup>(Sum of 7 consecutive numbers)</sup> &frasl;<sub>7</sub>
<br><br>
= <sup>(m+m+1+m+2+m+3+m+4+m+5+m+6)</sup>&frasl;<sub>7</sub>
<br><br>
= <sup>(7m+21)</sup>&frasl;<sub>7</sub>
<br><br>
= m+3
<br><br>
= n-2+3
<br><br>
= n+1
<br><br>
So average is increased by 1.

</body>


</html>