<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question </u>:24</h1>
<hr>
<p>
If A,B,C and D are four consecutive odd numbers and their average is 52, what is the product of B and D?


</p>


<div>
	A.&nbsp;&nbsp;2756

	
</div>
<br>
<div>
	B.&nbsp;&nbsp;2805

	
</div>
<br>
<div>
	C.&nbsp;&nbsp;2703

	
</div>
<br>
			
<div>
	D.&nbsp;&nbsp;Data insufficient

	
</div>
		
	

<h2> <u>Answer</u>: B </h2>
Given A,B,C and D are 4 consecutive odd numbers
<br><br>
Let us assume that the four consecutive odd numbers be 
<br><br>
2n-1,2n+1,2n+3,2n+5
<br><br>
So A = 2n-1, B = 2n+1, C = 2n+3
D = 2n+5
<br><br>
Given that the average of these 4 numbers is 52
<br><br>
i.e.<sup>(Sum of 4 consecutive odd numbers)</sup>&frasl;<sub>4</sub> = 52
<br><br>
<sup>(2n-1+2n+1+2n+3+2n+5)</sup>&frasl;<sub>4</sub> = 52
<br><br>
8n+8 = 4&times;52
<br><br>
8n = 208-8
<br><br>
n = <sup>200</sup>&frasl;<sub>8</sub>
<br><br>
n = 25
<br><br>
Product of B and D is
<br><br>
= (2n+1)(2n+5)
<br><br>
= (50+1)(50+5)
<br><br>
= 51&times;55
<br><br>
= 2805
</body>
</html>