{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:1</h2>
<hr>
<p>
The ratio of ducks and frogs in a pond is 37:41. The average of ducks and frogs is 156. What is the number of frogs in the pond?


</p>


<div class="div2">
	A.&nbsp;&nbsp;78

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;74

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;82

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;164

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given the ratio of bucks and frogs is 37:41
<br><br>
<sup>B</sup>&frasl;<sub>F</sub> = <sup>37</sup>&frasl;<sub>41</sub>
<br><br>
Given that the Average number of bucks and frogs = 156
<br><br>
We Know that Average is given by the formula
<br><br>
= <sup>(Total Sum of all quantities)</sup>&frasl;<sub> (Total No. of quantities) </sub>
<br><br>
Average number of bucks and frogs = 156
<br><br>
<sup>(Total Sum of number of bucks and frogs)</sup>&frasl;<sub>
(No.of quantities(2))</sub> 
<br><br>
= 156
<br><br>
Then Total number of bucks and frogs = 156&times;2<br><br>
Total number of bucks and frogs = 312
<br><br>
Number of frogs = Total number of bucks and frogs &times;
<br>(<sup> Frogs fraction</sup>&frasl;<sub>Sum of the fraction</sub> )
<br><br>
Number of frogs = 312 &times;<sup>41</sup>&frasl;<sub>(37+41)</sub>
<br><br>
= 312 &times;<sup>41</sup>&frasl;<sub>78</sub>
<br><br>
= 164


</div>
</body>
</html>
