{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:80</h1>
<hr>
<p>
Average weight of 25 persons is increased by 1 by kg when one man weighting 60 kg is replaced by a new person. Weight of new person is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;50

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;61

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;86

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;85

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let the average weight of 25 persons be X
<br><br>
<sup>(Sum of weights of 25 persons)</sup>&frasl;<sub>25</sub> = X
<br><br>
Sum of weights of 25 persons = 25X
<br><br>
Given that one persons with weight of 60 is replaced by new personsweight of Y(Assume) 
<br><br>
Then average weight increased by 1
<br><br>
Total sum of 25 persons = 25X-60+Y
<br><br>
Average weight of 25 persons including new persons weight is X+1
<br><br>
(Sum of weights of 25 persons including new persons weight)&divide;25= X+1<br><br>
Sum of weights of 25 persons including new persons weight  = 25(X+1)
<br><br>
25X-60+Y = 25X+25
<br><br>
Y = 25+60
<br><br>
Y = 85
<br><br>
New persons weight  = 85

</div>
</body>
</html>
