{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:52</h1>
<hr>
<p>
The average marks obtained by ten students is 45 and that of eleven students is 48. How many marks did the eleventh student obtain?


</p>


<div class="div2">
	A.&nbsp;&nbsp;76

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;78

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;80

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;86

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that the average marks by 10 students is 45
<br><br>
<sup>(Sum of marks by 10 students)</sup>&frasl;<sub>10</sub> = 45
<br><br>
Sum of marks by 10 students = 10&times;45
<br><br>
Sum of marks by 10 students = 450
<br><br>
Given that the average marks by 11 students is 48
<br><br>
<sup>(Sum of Sum of marks by 11 students )</sup>&frasl;<sub>11</sub> = 48
<br><br>
Sum of marks by 11 students =11&times;48
<br><br>
Sum of marks by 10 students + 11th student marks
<br><br>
= 528
<br><br>
450+11th student marks = 528
<br><br>
11th student Marks = 528-450
<br><br>
11th student Marks  = 78
<br><br>
</div>
</body>
</html>
