{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:18</h1>
<hr>
<p>
if the sum of three consecutive numbers is more than the middle by 150, then the middle number is:


</p>


<div class="div2">
	A.&nbsp;&nbsp;50

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;60

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;75

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;None of these

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Let us assume that the three consecutive numbers be n,n+1,n+2
<br><br>
Sum of these numbers is  
<br><br>
n+n+1+n+2 = 3n+3
<br><br>
Given that Sum of these numbers is more than the mmiddle term by 150
<br><br>
i.e. Sum of numbers = middle term+150
<br><br>
3n+3 = n+1+150
<br><br>
3n-n = 151-3
<br><br>
2n = 148
<br><br>
n = <sup>148</sup>&frasl;<sub>2</sub>
<br><br>
n = 74
<br><br>
So middle term is 
<br><br>
n+1 = 74+1 = 75


</div>
</body>
</html>
