{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question </u>:79</h1>
<hr>
<p>
The average of 100 members is 44. The average of these 100 numbers and 4 other numbers is 50. The average of 4 new numbers will be:


</p>


<div class="div2">
	A.&nbsp;&nbsp;800

	
</div>
<br>
<div class="div2">
	B.&nbsp;&nbsp;200

	
</div>
<br>
<div class="div2">
	C.&nbsp;&nbsp;176

	
</div>
<br>
			
<div class="div2">
	D.&nbsp;&nbsp;24

	
</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
Given that the average of 100 numbers is 44
<br><br>
<sup>(Sum of 100 numbers)</sup>&frasl;<sub>100</sub> = 44
<br><br>
Sum of 100 numbers = 100&times;44
<br><br>
Sum of 100 numbers = 4400
<br><br>
Given that the average of 100 and further 4 numbers is 50
<br><br>
<sup>(Sum of 104 numbers)</sup>&frasl;<sub>104</sub> = 50
<br><br>
Sum of 104 numbers = 104&times;50
<br><br>
Sum of 104 numbers = 5200
<br><br>
Sum of 100 numbers + Sum of 4 numbers = 5200
<br><br>
4400+Sum of 4 numbers = 5200
<br><br>
Sum of 4 numbers = 5200-4400
<br><br>
Sum of 4 numbers = 800
<br><br>
Average of 4 numbers is
<br><br>
= <sup>(Sum of 4 numbers)</sup>&frasl;<sub>4</sub> 
<br><br>
= <sup>800</sup>&frasl;<sub>4</sub> 
<br><br>
= 200


</div>
</body>
</html>
