{% load static %}

<html>
<head>
    <title>{{data.topicName}} Question {{curr}}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'questions.css' %}">
</head>
<body>
    <div class="toolbar">
        <!--<a href="/{{data.alias}}/papers/">
           <img src="/static/images/left-arrow.png" width="40" height="40"/>
        </a>
        <a href="/" style="float:center;">
            <img src="/static/images/home.png" width="30" height="30"/>
        </a>
        <b>
            <font size="4" color="white">&nbsp;&nbsp; Question {{curr}} ({{data.topicName}})</font>
        </b>-->
        <!--<b style="margin-right:4px;font-size:20px;float:center;color:#fff;">&nbsp;&nbsp;{{data.topicName}}  Question {{curr}}</b>-->
        <a href="/{{data.alias}}/papers/" style="text-decoration:none;">
            <img src="/static/images/left-arrow.png" width="40" height="40"/>
        </a>
        <div class="centered">
            <font size="4" color="white">Question {{curr}} ({{data.topicName}})</font>
        </div>
        <div class="dropdown">
            <button style="display:inline-block;background:#009688;border:none;top:10;position:relative;">
                <img src="/static/images/more.png" width="20" height="20"/>
            </button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <hr>
                <a target="_blank" href="https://play.google.com/store/apps/details?id=my.first.home.aptitude"
                   style="text-decoration:none;">Android App</a>
            </div>
        </div>
    </div><br>
    <div class="Main">
        <p id="demo1" style="margin: 0 2%;"></p>
            <input type="hidden" id="myVar" name="variable" value="{{ string }}">
            <script>
                var b = document.getElementById("myVar").value;
                var d = document.getElementById("demo1");
                d.innerHTML = b;
            </script>
    </div>
    <br>
    {% if prev == None or prev == curr %}

            <a href="/{{data.alias}}/papers/{{next}}/" type ="button" class="btn btn-lg fi btn-success btn-css" style="width:100%;">Next</a>

    {% elif curr == last%}

            <a href="/{{data.alias}}/papers/{{prev}}/" type ="button" class="btn btn-lg fi btn-success btn-css" style="width:100%;">Prev</a>

    {% else %}

            <a href="/{{data.alias}}/papers/{{next}}/" type ="button" class="btn btn-lg ri btn-success btn-css pull-right" style="width:49%">Next</a>
            <a href="/{{data.alias}}/papers/{{prev}}/" type ="button" class="btn btn-lg le btn-success btn-css left" style="width:49%">Prev</a>

    {% endif %}

    <br><br>

</body>
</html>