<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 1 </u>:</h2>
<hr>
<p>How many times are the hands of a clock at right angles in a day?</p>


	<div>
		A.40
	</div>
<br>
	<div>
		B.42
	</div>
<br>
	<div>
		C.44
	</div>
<br>
	<div>
		D.46
	</div>
		
	

<h2> <u>Answer</u>: C</h2>
<h3>Solution: </h3>
	<p> The minute hand moves 360 degrees in 60 minutes. This means that the angle of the minute hand is given by 6t, where t is number of minutes past midnight.</p>
	<p>The hour hand moves 30 degrees in 60 minutes. This means that the angle of the hours hand is given by 0.5t.</p>
	<p>The hands start together at midnight. The first time they make a 90 degree angle is when the minute hand has moved 90 degrees further than the hour hand, so this is given by the equation:</p>
	<p>6t = 0.5t + 90</p>
	<p>5.5t = 90</p>
	<p>t = 16 <sup>4</sup>&frasl;<sub>11</sub> (16 minutes and <sup>4</sup>&frasl;<sub>11</sub> seconds)</p>
	<p>In other words about 16 minutes past midnight.</p>
	<p>The next time is when the minutes hand has gained another 180 degrees on the hour hand, and is 90 degrees behind it:</p>
	<p>6t = 0.5t + 270</p>
	<p>5.5t = 270</p>
	<p>t = 49 <sup>1</sup>&frasl;<sub>11</sub> (49 minutes and <sup>1</sup>&frasl;<sub>11</sub> seconds)</p>
	<p>At about 11 minutes to 1 o'clock.</p>
	<p>For every 180 degrees that the minute hand gains on the hour hand there will be one 90 degree angle, so every 49 <sup>1</sup>&frasl;<sub>11</sub> - 16 <sup>4</sup>&frasl;<sub>11</sub> = 32 <sup>8</sup>&frasl;<sub>11</sub> minutes</p>
	<p>24 hours is 1440 minutes. 1440 &frasl; (32 <sup>8</sup>&frasl;<sub>11</sub> ) = 44</p>
	<p>So every 24 hours there are 44 right angles between minute hand and second hand.</p>
</body>
</html>
