<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 5 </u>:</h2>
<hr>
<p>My watch gains 5 min every hour. How many degrees the second hand moves in every min?</p>


	<div>
		A.330&deg;
	</div>
<br>
	<div>
		B.390&deg;
	</div>
<br>
	<div>
		C.360&deg;
	</div>
<br>
	<div>
		D.430&deg;
	</div>
		
	

<h2> <u>Answer</u>: B </h2>
<h3>Solution: </h3>
	<p>We know that for every minutes second hand will cover 360&deg;</p>
	<p>Given that watch gains 5 mins for every hour.</p>
	<p>So that means, for one hour it covers 65 minutes. i.e, 13 spaces.</p>
	<p>We know that for each space second hand will cover 30&deg;</p>
	<p>So for 13 spaces, it will cover 13 &times; 30&deg; = 390&deg;</p>
</body>
</html>
