<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 9 </u>:</h2>
<hr>
<p>At what time between 9 and 10 O&CloseCurlyQuote;clock will the hands of a watch be right angle to each other?</p>


	<div>
		A..9 and 35<sup>8</sup>&frasl;<sub>11</sub> past 9
	</div>
<br>
	<div>
		B.9 and 34<sup>8</sup>&frasl;<sub>11</sub> past 9
	</div>
<br>
	<div>
		C.9 and 32<sup>8</sup>&frasl;<sub>11</sub> past 9
	</div>
<br>
	<div>
		D.9 and 33<sup>8</sup>&frasl;<sub>11</sub> past 9
	</div>
		
	

<h2> <u>Answer</u>: C </h2>
<h3>Solution: </h3>
    <h3>Case: 1</h3>
        <ol>
            <p>At 9 O&CloseCurlyQuote; Clock, Hour hand is at 9 and minute hand is at 12.</p>
            <p>i.e, they are 3 hours space apart</p>
            <p>We know that, there will be 30&deg; angle between successive hours. Total difference = 3 &times; 30&deg; = 90&deg;</p>
            <p>To be together,the minute hand must gain 30 minutes over hour hand</p>
            <p>We know that for 1 hour period, minute hand will gain 55 minutes over hour hand</p>
            <p>So 55 minutes are gained by hour hand for 60 minutes</p>
            <p>In case of this scenario,30 minutes will be gained in 30&times;(<sup>60</sup>&frasl;<sub>55</sub>)</p>
            <p>i.e,<sup>360</sup>&frasl;<sub>11</sub></p>
			<p>32 <sup>8</sup>&frasl;<sub>11</sub></p>
			<p>So Both hands of clock between 9 O&CloseCurlyQuote; Clock and 10 O&CloseCurlyQuote; Clock will be right angle to each other at 9 hours 32 <sup>8</sup>&frasl;<sub>11</sub> Mins
        </ol>
    <h3>Case: 2</h3>
        <ol>
            <p>We know that, hour hand will cover 30<sup>&deg;</sup> for every hour.So Angle by hour hand in 9 hours = 30<sup>&deg;</sup>&times;9 = 270<sup>&deg;</sup></p>
            <p>We also know that, for every minute hour hand will cover 0.5<sup>&deg;</sup></p>
            <p>Let us assume that both hands will make an angle of 90&deg; after X minutes from 9 O&CloseCurlyQuote;Clock</p>
            <p>So for X minutes, hours hand will cover = 0.5&times;X&deg;</p>
            <p>Total angle covered by hour hand = 270&deg;&plus;(0.5&times;X&deg;)</p>
            <p>We know that, minute hand will cover 6&deg; for every minute</p>
            <p>So for X minutes, minute hand will cover = 6&times;X&deg;</p>
            <p>As per the condition, the angle between these hands = 90&deg;</p>
            <p>So 270&deg;&plus;(0.5&times;X&deg;) &minus; 6&times;X&deg; = 90&deg;</p>
            <p>270&deg; &minus; 5.5&times;X&deg; = 90&deg;</p>
            <p>5.5&times;X&deg; = 180&deg;</p>
            <p>X = 180&deg; &frasl; 5.5&deg;</p>
            <p>X = 1800 &frasl; 55</p>
            <p>X = 360 &frasl; 11</p>
            <p>X = 32 <sup>8</sup>&frasl;<sub>11</sub></p>
        </ol>
</body>
</html>
