{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
    <title>Clock Tutorial</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b>
    <p1> Clock</p1>
</b></font></p>
<hr/>
<hr/>
<h3><b>Important Points</b></h3>
<li><p>A clock is an instrument used for indicating and maintaining the time. It is an electronic device that present the duration of hour, minute and second</p></li>
<li><p>A clock has two hands. The smaller one is called <b>Hour Hand</b> or <b>Short Hand</b> where as larger one is called <b>Minute Hand</b> or <b>Long Hand</b></p></li>
<li><p>The Face of a Clock represents a circle of an angle 360&deg;</p></li>
<ul><li><p>The minute is a unit of time equal to (<sup>1</sup> &frasl;<sub>60</sub>)<sup>th</sup> of an hour.</p></li><li> 1 hour = 60 mins</li></ul>
<li><p>In Every hour</p>
    <ul>
        <li>
            <p>Hour&CloseCurlyQuote;s hand and Minute&CloseCurlyQuote;s Hand will coincide once.In this situation, the angle between these two is 0&deg;</p>
        </li>
        <li>
            <p>Both hands will opposite to each other once.At this point the angle between them are 180&deg;</p>
        </li>
        <li>
            <p>Both hands will be perpendicular to each other. At this point the angle between them is 90&deg;</p>
        </li>
    </ul>
</li>
<li>Calculations
    <ul>
        <li>
            <p>In 60 minutes,minute hand will cover 360&deg;</p>
            <p>So in 1 minute, minute hand will cover <sup>360&deg;</sup>&frasl;<sub>60</sub> = 6&deg;</p>
        </li>
        <li>
            <p>In 12 Hours, Hour hand will cover 360&deg;</p>
            <p>In 1 hour,hour hand will cover <sup>360&deg;</sup>&frasl;<sub>12</sub> = 30&deg;</p>
            <p>In 60 minutes(1 hour),hour hand will cover 30&deg;</p>
            <p>In 1 minute,hour hand will cover <sup>30&deg;</sup>&frasl;<sub>60</sub> = (<sup>1</sup>&frasl;<sub>2</sub>)&deg;</p>
        </li>
        <li>
            <p>So in 1 minute, minute hand cover (6&deg;&minus;(<sup>1</sup>&frasl;<sub>2</sub>)&deg;) = (<sup>11</sup>&frasl;<sub>2</sub>)&deg; more than the hour hand</p>
            <p>Minute hand gains (<sup>11</sup>&frasl;<sub>2</sub>)&deg; over the hour hand</p>
            <p>So in 1 hour(60 minutes), minute hand gains 55minutes than the hour hand</p>
        </li>

    </ul>
</li>
<li>Occurrences
    <ul>
        <li>Coincide together
            <ul>
                <li><p>The difference between minute hand and hour hand = 0&deg;</p></li>
                <li><p>In 1 hour,Both hands will coincide each other 1 time</p></li>
                <li><p>In 12 hours(Half Day),both hands will coincide each 11 times (We have same occurrence at 12&deg;O Clock two times in 12 hours of duration)</p></li>
                <li><p>In 24 hours(Full Day),both hands will coincide each 22 times (We have same occurrence at 12&deg;O Clock four times in 24 hours of duration)</p></li>
            </ul>
        </li>
        <li>Opposite to each other
			<ul>
				<li>
					<p>The angle between minute and hour hand is 180&deg; and time difference = 30minutes</p>
				</li>
			</ul>
        </li>
        <li>Perpendicular to each other(Right Angle)
			<ul>
				<li>
					<p>The difference between minute hand and hour hand is 15minutes or 90&deg;</p>
				</li>
			</ul>
        </li>
    </ul>
</li>
<li>
    <p><u>Note:</u>&nbsp;<b>Angle is measured with reference to 12</b></p>
</li>

</body>


</html>
