<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 4 </u>:</h2>
<hr>
<p>A clock is started at noon. By 20 minutes pass 4, the hour hand turned through</p>


	<div>
		A.90&deg;
	</div>
<br>
	<div>
		B.130&deg;
	</div>
<br>
	<div>
		C.155&deg;
	</div>
<br>
	<div>
		D.120&deg;
	</div>
		
	

<h2> <u>Answer</u>: B </h2>
<h3>Solution: </h3>
	<p>Given that Clock started at noon means at 12 O&CloseCurlyQuote;clock PM.
	<p>We know that, hour hand will cover 30<sup>&deg;</sup> for every hour.So Angle by hour hand from 12 to 4 = 4 times of Angle cover by Hour hand per hour</p>
	<p>So total Angle covered for 4 hours = 4 &times; 30&deg; = 120&deg;</p>
	<p>We also know that, for every minute hour hand will cover 0.5&deg;</p>
	<p>So for 20 minutes, hour hand will cover 20 &times;0.5&deg; = 10&deg;</p>
	<p> So total angle covered from 12 to 4 hour 20 minutes = 120&deg;+10&deg; = 130&deg;</p>
</body>
</html>
