<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 7 </u>:</h2>
<hr>
<p>At what time between 4 and 5 o&CloseCurlyQuote;Clock will the hands of a clock be right angle</p>


	<div>
		A.4 Hr (<sup>60</sup>&frasl;<sub>11</sub>)min
	</div>
<br>
	<div>
		B.4 Hr (<sup>420</sup>&frasl;<sub>11</sub>)min
	</div>
<br>
	<div>
		C.4 Hr 5 min
	</div>
<br>
	<div>
		D.Both A and B
	</div>
		
	

<h2> <u>Answer</u>: D </h2>
<h3>Solution: </h3>
	<p>We know that, hour hand will cover 30<sup>&deg;</sup> for every hour.So Angle by hour hand in 4 hours = 30<sup>&deg;</sup>&times;4 = 120<sup>&deg;</sup></p>
	<p>We also know that, for every minute hour hand will cover 0.5<sup>&deg;</sup></p>
	<p>In order to have right angle between hands of clock, the angle between hands of clock = 90<sup>&deg;</sup></p>
	<p>We know that the Angle between X hours and Y minutes &theta;=|(X*30)-((Y*11)/2)| &hyphen;&hyphen;&hyphen;&gt; (1)</p>
	<p>In this case, we have two cases.</p>
	<h3>Case 1:</h3>
    <ol>
        <p>When minutes hand is behind hour hand</p>
        <p>Here &theta;=90<sup>&deg;</sup> X = 4</p>
        <p>Then from above equation (1),</p>
        <p>90<sup>&deg;</sup> = 4&times;30<sup>&deg;</sup> - ((Y*11)/2)</p>
        <p>((Y*11)/2) = 120<sup>&deg;</sup> - 90<sup>&deg;</sup></p>
        <p>Y&times11 = 30&times;2 = 60</p>
        <p>Y = (<sup>60</sup>&frasl;<sub>11</sub>)min</p>
        <p>So hands of a clock will be right angle at 4 Hr (<sup>60</sup>&frasl;<sub>11</sub>)min</p>
    </ol>
    <h3>Case 2:</h3>
    <ol>
        <p>When hours hand is behind minutes hand</p>
        <p>Then from above equation (1)</p>
        <p>90<sup>&deg;</sup> = ((Y*11)/2) - 4&times;30<sup>&deg;</sup> </p>
        <p>((Y*11)/2) = 90<sup>&deg;</sup> + 120<sup>&deg;</sup></p>
        <p>Y &times;11 = 210&times;2 = 420</p>
        <p>Y = (<sup>420</sup>&frasl;<sub>11</sub>)min</p>
        <p>So hands of a clock will be right angle at 4 Hr (<sup>420</sup>&frasl;<sub>11</sub>)min</p>
    </ol>
</body>
</html>
