<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 2 </u>:</h2>
<hr>
<p>At what time between 2 and 3 O&CloseCurlyQuote; Clock will the hands of a clock be together</p>


	<div>
		A.(<sup>120</sup>&frasl;<sub>11</sub>)min Past 2
	</div>
<br>
	<div>
		B.(<sup>140</sup>&frasl;<sub>11</sub>)min Past 2
	</div>
<br>
	<div>
		C.(<sup>118</sup>&frasl;<sub>11</sub>)min Past 2
	</div>
<br>
	<div>
		D.(<sup>122</sup>&frasl;<sub>11</sub>)min Past 2
	</div>
		
	

<h2> <u>Answer</u>: A </h2>
<h3>Solution: </h3>
	<p>At 2 O&CloseCurlyQuote; Clock, Hour hand is at 2 and minute hand is at 12.</p>
	<p>i.e, they are 10 minutes space apart</p>
	<p>To be together,the minute hand must gain 10minutes over hour hand</p>
	<p>We know that for 1 hour period, minute hand will gain 55 minutes over hour hand</p>
	<p>So 55 minutes are gained by it in 60 minutes</p>
	<p>In case of this scenario,10 minutes will be gained in 10&times;(<sup>60</sup>&frasl;<sub>55</sub>)</p>
	<p>i.e,<sup>120</sup>&frasl;<sub>11</sub></p><br>
</body>
</html>
