<html>
<head>
    <link rel="stylesheet" type="text/css" href="questions.css">
    <title>Clock Formula</title>
</head>
<body>
<br/>
<br/>
<hr/>
<hr/>

<p align="center"><font size="6"><b> <u>
    <p1>Formulae</p1>
</u></b></font>
<hr/>
<hr/>


<p><font size="4"> <u> </u></font></p><br>

<h3>Clock </h3>
<ul>
    <li>
        <p>The angle in degrees of the hand measured clockwise from the 12, &theta;=0.5<sup>&deg;</sup> &times; (60 &times; H &plus; M) where H = hour, M = minutes past the hour</p>
    </li>
    <li>
        The Angle in degree of the minute measured clockwise from the 12, &theta; = 6<sup>&deg</sup> &times; M where M = minutes
    </li>
    <li>
        <p>Angle between X hours and Y minutes &theta;=|(X*30)-((Y*11)/2)|</p>
    </li>

</ul>

</body>


</html>
