{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question 10 </u>:</h2>
<hr>
<p>How much does a watch lose per day, if its hands coincide ever 64 minutes?</p>


	<div class="div2">
		A.35<sup>8</sup>&frasl;<sub>11</sub>
	</div>
<br>
	<div class="div2">
		B.33<sup>8</sup>&frasl;<sub>11</sub>
	</div>
<br>
	<div class="div2">
		C.34<sup>8</sup>&frasl;<sub>11</sub>
	</div>
<br>
	<div class="div2">
		D.32<sup>8</sup>&frasl;<sub>11</sub>
	</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
	<p>We know that,in 1 hour(60 minutes), minute hand gains 55minutes than the hour hand</p>
    <p>So 55 min spaces are covered in 60 min to get coincide each other</p>
	<p>1 min space can be covered in <sup>60</sup>&frasl;<sub>55</sub> </p>
	<p>60 min spaces are covered in (<sup>60</sup>&frasl;<sub>55</sub>)&times;60</p>
    <p>60 min spaces are covered = <sup>3600</sup>&frasl;<sub>55</sub> = <sup>720</sup>&frasl;<sub>11</sub></p>
    <p>Loss in 64 min = <sup>720</sup>&frasl;<sub>11</sub> &minus;64</p>
    <p>Loss in 64 min = <sup>(720-704)</sup>&frasl;<sub>11</sub> = <sup>16</sup>&frasl;<sub>11</sub></p>
    <p>For 1 min, the loss in minutes = (<sup>1</sup>&frasl;<sub>64</sub>)&times;(<sup>16</sup>&frasl;<sub>11</sub>)</p>
    <p>Loss in 24 hours = (<sup>1</sup>&frasl;<sub>64</sub>)&times;(<sup>16</sup>&frasl;<sub>11</sub>) &times;24 &times;60 min</p>
    <p>Loss in 24 hours = (<sup>1</sup>&frasl;<sub>4</sub>)&times;(<sup>1</sup>&frasl;<sub>11</sub>) &times;24 &times;60 min</p>
    <p>Loss in 24 hours = (<sup>1</sup>&frasl;<sub>11</sub>) &times;6 &times;60 min</p>
    <p>Loss in 24 hours = <sup>360</sup>&frasl;<sub>11</sub></p>
    <p>Loss in 24 hours = 32<sup>8</sup>&frasl;<sub>11</sub></p>

</div>
</body>
</html>
