<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="questions.css">
</head>
<h2><u> Question 6 </u>:</h2>
<hr>
<p>A clock is set right at 8 a.m. The clock gains 10 minutes in 24 hours. What will be the true time when the clock indicates 1 p.m. on the following day?</p>


	<div>
		A.1 Hr 12min
	</div>
<br>
	<div>
		B.12 Hr 48min
	</div>
<br>
	<div>
		C.12 Hr 42 min
	</div>
<br>
	<div>
		D.1 Hr 18min
	</div>
		
	

<h2> <u>Answer</u>: B </h2>
<h3>Solution: </h3>
    <p>Given that there is difference of 29 hours of between 8 O&CloseCurlyQuote;clock AM and 1 O&CloseCurlyQuote;clock PM</p>
    <p>We also know that, Clock gains 10 minutes for 24 hours.</p>
    <p>So that means 24 hours of correct clock = 24 hours 10 minutes of current clock</p>
    <p>So 24 Hr 10 mins of Current Clock= 24 Hr of Correct clock</p>
    <p>We know that 60 minutes = 1 Hr</p>
    <p>So 10 minutes = (<sup>1</sup>&frasl;<sub>60</sub>) &times;10</p>
    <p>10 minutes = (<sup>1</sup>&frasl;<sub>6</sub>)</p>
    <p>So (24+ (<sup>1</sup>&frasl;<sub>6</sub>))Hr &lt;&hyphen;&hyphen;&hyphen;&gt; 24 hr</p>
    <p><sup>[(24*6)+1]</sup>&frasl;<sub>6</sub> Hr &lt;&hyphen;&hyphen;&hyphen;&gt; 24 Hr</p>
    <p><sup>145</sup>&frasl;<sub>6</sub> Hr &lt;&hyphen;&hyphen;&hyphen;&gt; 24 Hr</p>
    <p>1 Hr of current clock = 24 &times; (<sup>6</sup>&frasl;<sub>145</sub>) Hr of Correct clock</p>
    <p>Then 29 Hrs of Current Clock = (24 &times; (<sup>6</sup>&frasl;<sub>145</sub>)&times;29) Hr of Correct clock</p>
    <p>29 Hrs of Current Clock = 28.8 Hr</p>
    <p>29 Hrs of Current Clock = 28 Hr + 0.8 Hr</p>
    <p>29 Hrs of Current Clock = 28 Hr + (0.8&times;60)</p>
    <p>29 Hrs of Current Clock = 28 Hr + 48 min of Correct clock</p>
    <p>1 PM of Current Clock indicates 12 Hr 48 min PM</p>
</body>
</html>
