{% load static %}
<html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'questions.css' %}">
</head>
<h2><u> Question 8 </u>:</h2>
<hr>
<p>What is the angle between minute hand and hour hand when the time is at 6:30</p>


	<div class="div2">
		A.15
	</div>
<br>
	<div class="div2">
		B.20
	</div>
<br>
	<div class="div2">
		C.25
	</div>
<br>
	<div class="div2">
		D.30
	</div>
		
	

<br><button type="button" onclick="document.getElementById('demo').style.display='block'" id='button1'>Show Answer</button> 
 <button onclick="document.getElementById('demo').style.display='none'">Hide Answer</button> 
 <div id="demo" style="display:none"><br>
<h3>Solution: </h3>
	<p>We know that, hour hand will cover 30<sup>&deg;</sup> for every hour.So Angle by hour hand in 6 hours = 30<sup>&deg;</sup>&times;6 = 180<sup>&deg;</sup></p>
	<p>We also know that, for every minute hour hand will cover 0.5<sup>&deg;</sup></p>
	<p>So for 30 minutes, hour hand will cover 15<sup>&deg;</sup></p>
	<p>For 6 hours 30 minutes, hand hour will cover 180 &plus; 15 = 195<sup>&deg;</sup></p>
	<p>For 60 minutes, minute hand will cover 360<sup>&deg;</sup></p>
	<p>So for 30 minutes, minute hand will cover 180<sup>&deg;</sup></p>
	<p>So the angle between them = |180 - 195| = 15<sup>&deg;</sup></p>
</div>
</body>
</html>
